[2020-05-17 21:15] Saduf2019 commented on #39593
@nitinmnsn
I ran the code shared and both the spinets mentioned run with an output, can you please refer to [this gist](https://colab.sandbox.google.com/gist/Saduf2019/66d17cb4a3b823d90d6bf0a6bcaf16b5/untitled187.ipynb) and let us know if this confirms your issue.

[2020-05-17 21:17] notnil commented on #24828
I was using the tensorflow docker container and
[code]
worked for me

[2020-05-17 21:21] guptapriya commented on #39545
@dubey yes we have considered doing this - for some cases, using the collective ops allgather would be more performant and in some cases, converting to dense tensor might actually be faster. We have not had the bandwidth to prioritize this yet, though.

[2020-05-17 21:39] DocGarbanzo commented on #24496
I got the same problem on Ubuntu 20.04 with a GeForce RTX 2060 SUPER. A NN with dense layers works well. But with CNN layers I'm getting `Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.`
Adding `tf.config.experimental.set_memory_growth(tf.config.list_physical_devices('GPU')[0], True)` makes

[2020-05-17 22:50] yhliang2018 commented on #33358
@mustafa-qamaruddin @JoshEZiegler Could you provide your use case of calling `estimator.train()` multiple times in a training pipeline?  If the model needs to train with more steps, you can increase the `steps` arg in the `train()` method. I feel it's arguable to call `train()` method multiple times with the same optimizer in the training pipeline.

I'm working on a fix, and would like to check it

[2020-05-17 23:49] bzhong2 opened #39631 "TimeDistributed(Dropout()) with the same dropout mask"
**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Here is an example block of my code. I am trying to apply a time distributed dropout to the output of a many to many GRU. I would like to keep the dropout to have the same dropout mask for all time steps. However, I did not fi

[2020-05-18 00:50] vnvo2409 commented on #39620
`h5py` isn't related to hdfs nor gcp. It is a Python package to save trained model in the format .h5

[2020-05-18 00:54] jamescooper-blis commented on #39587
I figured it out. I wasn't setting the dims of the input tensors correctly. I now use these two functions to input a single float and single string.

[code]

[2020-05-18 00:56] #39587 closed

[2020-05-18 01:19] abattery commented on #39315
The line, "tf.compat.v1.enable_control_flow_v2()" should be appeared before creating the graph.

[2020-05-18 01:25] abattery commented on #37844
Could you try setting with "drop_control_dependency=False" in the TFLiteConverterV1?

[2020-05-18 01:50] mlinxiang commented on #38746
@terryheo any guide for me to process this problem?

[2020-05-18 01:58] #39571 closed

[2020-05-18 01:59] wujiexiaowugui commented on #38189
@jvishnuvardhan  I changed my code in upsampling section:
`scale = 2
scale = np.asarray(scale, dtype=np.int32)
out = tf.depth_to_space(input, scale)`
But, I still met the error as before.

[2020-05-18 02:11] CuiYifeng opened #39632 "tensorflow-io import error caused by "com_google_absl""
**System information**
- Many Linux
- TensorFlow installed from source (master branch) and binary
- TensorFlow version: latest tf-nightly
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 2.0.0
- GCC/Compiler version (if compiling from source): GCC 8.4.0

**Describe the problem**

A NotImplementedError
"undefined symbol: _ZNK10tensorfl

[2020-05-18 02:13] teijeong commented on #39290
Closing this - if you encounter other problems (besides iOS build issue), please file another bug :)

[2020-05-18 02:13] #39290 closed

[2020-05-18 02:16] jvishnuvardhan commented on #38189
@wujiexiaowugui

did you check `block_size`? Can you do `tf.cast` to cast it to int32? Please let us know if you have any doubts?  Can you share the updated *.pb after `tf.cast` of `block_size` to `tf.int32`. Thanks!

[2020-05-18 02:26] wujiexiaowugui commented on #38189
@jvishnuvardhan  When I set:
`scale = tf.cast(scale, tf.int32)`
There is an error occurred:
**TypeError: Expected int for argument 'block_size' not <tf.Tensor 'generator/WDSR/Cast/x:0' shape=() dtype=int32>.**

[2020-05-18 02:48] ucasiggcas commented on #4904
how to test the results trained by the sampled_softmax_loss,
is there any metrics?
such as acc, precision, recall, auc ?
with the  sampled_softmax_loss function ,I could not get the metrics,
could pls help me ?
if you can read Chinese , also see the [blog](https://iggcas.blog.csdn.net/article/details/106147091)

thx

[2020-05-18 02:56] qlzh727 commented on #39542
From the error log, it seems that keras wrapper was expecting the tf_hub layer to implement the compute_output_shape() method, but it is not implemented. All the default keras layer has implemented compute_output_shape(), but I think it is missed by tf_hub.KerasLayer.

Adding @akhorlin from tf-hub side.

[2020-05-18 02:58] qlzh727 commented on #39542
@gowthamkpr can we transfer this issue to tensorflow/hub?

[2020-05-18 03:20] qlzh727 commented on #39332
Adding @roumposg who is the original author of the dense_attention in keras.

[2020-05-18 03:28] cheneyweb opened #39633 "centos7 gcc: error: unrecognized command line option '-std=c++14'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):CentOS Linux release 7.6.1810 (Core)
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.2
- Python version: 3.7
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 2.0
- GCC/Compiler version (if compiling from source):  7.3.1

**Describe the problem**

[2020-05-18 04:19] brucechou1983 commented on #26297
@impjdi is the SSBO bindBuffer issue in v2 delegate resolved?

[2020-05-18 04:20] bzhong2 opened #39634 "Error with my Customized layers: bound method could not be transformed, Bad argument number for Name: 3, expecting 4"
**System information**

- OS Platform and Distribution: Linux Ubuntu 16.04:
- TensorFlow version : 1:14
- Python version: 3.7

**Standalone code to reproduce the issue**
I would like to customize a Dropout layer in which I can cache and reset the dropout mask manually. The code is as below:

[code]
**Describe the current behavior**
When I use this layer, the system gave me the following warning. W

[2020-05-18 04:23] omalleyt12 commented on #38561
@zaccharieramzi Thanks for the issue! This should be fixed in the latest nightly

[2020-05-18 04:23] #38561 closed

[2020-05-18 04:24] qlzh727 commented on #39497
Thanks for reporting the issue.

I think the root cause is that we clone for the forward layer and keep it in the bidirectional wrapper as a standalone instance. This is why the forward_layer.built is not propagate to the self. forward_rnn_layer. Note that model.summary() might print out duplicated weights information since weights will be double reported from self. bi_rnn_layer and forward/backwa

[2020-05-18 04:24] #39497 closed

[2020-05-18 04:27] omalleyt12 commented on #39314
@Flamefire Thanks for the issue! For batch number, you can use the `batch` argument to those methods: `on_train_batch_begin(batch, logs)`

The batch size is no longer passed to the logs, this is expected due a rewrite of `Model.fit`. Could you explain your use case? I can advise on how this can be achieved with the new implementation

[2020-05-18 04:29] feature-engineer commented on #39623
No, the warnings you see are the result of running the code under timeit, it complains it can't see the source code in that environment.

To alleviate the worries that this is the reason for this performance issue, I have added the same code outside of timeit, just using time.time to test one run of this.

The warnings regarding autograph are gone, but the significant run time difference is still

[2020-05-18 04:30] richaolas commented on #39407
I get the same issue, it works ok in ubuntu18.04, but can't run in windows10.

[2020-05-18 04:38] JoshEZiegler commented on #33358
@yhliang2018 Sure, my use was to manually log loss/accuracy/metrics for plotting, etc within a notebook.

To get around this error I went ahead and switched to using tensorboard for achieving this same thing so I'm no longer affected by this.

Hopefully this is the type of context you're looking for?

[code]

[2020-05-18 04:44] #34780 closed

[2020-05-18 04:44] #33315 closed

[2020-05-18 04:44] realdanielbyrne commented on #32982
Interesting how things seem to get resolved without actual testing being involved.   Intellisense is still broken on vscode, 1.45.1, tf-nightly-2.3.0.dev20200516.

Intellisense error : {
	"resource": "./code/encoder_mlp.py",
	"owner": "_generated_diagnostic_collection_name_#3",
	"code": "unresolved-import",
	"severity": 4,
	"message": "unresolved import 'tensorflow.keras'",
	"source": "Python",
	"

[2020-05-18 04:53] daverim commented on #39614
Hi @vedrocks15,

I wonder if you are using a mismatching version of the object detection api: you should use the one matching your tensorflow version (https://github.com/tensorflow/models/releases/tag/v1.11)

[2020-05-18 05:06] CptJack2 commented on #38941
After digging into tensorflow's source code, i found this question quite meaningless. In file tensorflow/stream_executor/platform/default/dso_loader.cc, tensorflow implement a shared library loader, and in tensorflow/stream_executor/cuda/, there are a bunch of symbol declaration files such as cuda_10_0.inc, claiming every single symbol declared in cuda libraries. Tensorflow do this to avoid any ki

[2020-05-18 05:06] #38941 closed

[2020-05-18 05:13] wujiexiaowugui commented on #38189
@jvishnuvardhan
`block_size = 2
block_size = tf.cast(block_size, tf.int32)
out = tf.depth_to_space(input, block_size)`
An error occurred:
**TypeError: Expected int for argument 'block_size' not <tf.Tensor 'generator/WDSR/Cast/x:0' shape=() dtype=int32>.**

[2020-05-18 05:17] saikumarchalla commented on #35416
Currently, we are unable to reproduce the issue.Please update the issue with proper details, and we will reopen the issue. Thanks!

[2020-05-18 05:17] #35416 closed

[2020-05-18 05:24] saikumarchalla commented on #35928
@zhuzhi-fairy Could you please check with latest TF version and let us know if the issue stil persists. Thanks!.

[2020-05-18 05:36] saikumarchalla commented on #36224
@rodyt  Closing this issue as we are unable to reproduce this problem with the code snippet you provided.Thanks!

[2020-05-18 05:36] #36224 closed

[2020-05-18 05:38] yhliang2018 commented on #33358
@JoshEZiegler Thanks a lot for providing your use case. Yes, `tensorboard` is definitely a good option to check such info.

I think it's still good to support such use cases when you prefer to log/check the model related info manually. I will have the fix submitted soon, and let you know when it's available in `tf-nightly`.

[2020-05-18 06:08] sonu1-p opened #39635 "Bug in tf.keras bidirectional LSTM when time_major is true"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Macos Mojave 10.14.6
- TensorFlow installed from: Binary
- TensorFlow version: v2.2.0-rc4-8-g2b96f3662b 2.2.0
- Python version: 3.6.3

**Bug description**

When using bidirectional layer with forward/backward lstms with time_major=True and merge mode concat(same issue exists in other modes too), it produces in

[2020-05-18 06:10] Flamefire commented on #39314
This is surprising as it is a breaking change not mentioned in the release notes and contradicts the above linked documentation and even the current docstring: https://github.com/tensorflow/tensorflow/blob/1186e3f2098793952aa82bf356dfe51b967fb26c/tensorflow/python/keras/callbacks.py#L418

I have a callback counting the number of examples processed (doing further statistics later). In general the b

[2020-05-18 06:20] omalleyt12 commented on #39314
I think this is best handled by a custom `Metric`:

[code]

Good point, we need to update the docstring

[2020-05-18 06:34] andrewor14 commented on #31252
This is still an issue in 2.2.0-rc4. I ran into the same error:
[code]
Tried to enable checkpoints through `tf.keras.callbacks.ModelCheckpoint` while running with `MultiWorkerMirroredStrategy`. This fails deterministically at the end of the first epoch. The error went away when I remove the callback.

[2020-05-18 06:36] andrewor14 commented on #31252
@guptapriya could you point me to the commit that you think might have fixed this? I want to see if I can cherry-pick it.

[2020-05-18 06:42] fsx950223 opened #39636 "Debug keras code on Graph mode."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.15.1-2.2.0
- Are you willing to contribute it (Yes/No):

[2020-05-18 06:44] #39065 closed

[2020-05-18 06:48] kognat-docs commented on #24496
So you are sort of illustrating my point `libcudnn.so.7` doesn't say `7.XXX.YYY` on top of that `7.XXX.YYY` has a further dependancy on CUDA `10.2` `10.1` `10.0` `9.2` `9.1` `9.0` etc

I have not seen the error since I started managing the path well and managing the amount of memory available before initialising a graph of a known size and making sure that the targeted GPU only used enough memory

[2020-05-18 06:52] bm777 commented on #34759
Is there any **tensorflow** installation solution for those person which have **CUDA** _10.2_ installed, **gcc** _7.5.0_ and **ubuntu18.04**? if so, only with **tensorflow** 2.1?

[2020-05-18 06:56] zhuzhi-fairy commented on #35928
I have checked the codes with tf 2.2.0, and the problem has been solved, I think.
Thank you very much.

[2020-05-18 06:56] #35928 closed

[2020-05-18 07:03] vinowan commented on #39524
this error only occurs only in mac OSX, colab gist may not reproduce this error

[2020-05-18 07:04] Flamefire commented on #39314
This looks promising. Can this be used in TF 2.1 too? IIRC the metrics are not passed to the callbacks in 2.1.

2 questions on the code: Why is the `flatten` required? Isn't `y_true` a Tensor with the first dim being the batch size already?
What is the identity for? It's a no-op isn't it?

[2020-05-18 07:05] ravikyram commented on #39579
@mysephi

When i tried to execute the estimator_train.py in colab with TF 2.2 i am seeing the below error message.`NotFoundError: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for ./ckpt_model/moiblenet.ckpt`.Request you to share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2020-05-18 07:06] amahendrakar commented on #37900
@kriskorrel-cw, @mberezo,
Could you please provide a minimal sample code to reproduce the issue reported here. Thanks!

[2020-05-18 07:12] Saduf2019 commented on #39633
@cheneyweb
Can you please refer to these links and let us know if it helps:
[Link](https://stackoverflow.com/questions/36245428/c-error-unrecognized-command-line-option-std-c14) [link2](https://unix.stackexchange.com/questions/265668/g-doesnt-recognize-standard-14-std-c14) #32677 #36892 #36896

[2020-05-18 07:13] Saduf2019 commented on #39629
@ SushiEleonore
Can you please let us know which version of tensor flow are you facing this issue

[2020-05-18 07:17] TejasBavaskar commented on #36423
Hey, just check that you have included all the required environment variables. Ex: cudnn64_7.dll. It worked for me.

[2020-05-18 07:22] vedrocks15 commented on #39614
Yup this worked.

[2020-05-18 07:22] #39614 closed

[2020-05-18 07:22] ravikyram commented on #39582
@kevin-bony8998

Looks like code is incomplete. Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-18 07:28] lyonguyen8697 commented on #32082
This issue still appears in TensorFlow 2.2.0. Here is the [Colab](https://colab.research.google.com/drive/1f8zX66XM71aYxfxvU9UieakaQKAyz_Mg?usp=sharing) that reproduce this issue.

[2020-05-18 07:29] ravikyram commented on #39586
@dhaneshr

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-18 07:37] jazzsir commented on #38982
Thanks @jlewi

[2020-05-18 07:42] ravikyram commented on #39238
@lordfiftyfive

Looks like code is incomplete. I am seeing the message `NameError: name 'gpflow' is not defined`.equest you to provide colab link or simple standalone code with proper indentation to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-18 07:45] cheneyweb commented on #39633
@Saduf2019
I have read all the link before,the most close to my problem is

https://github.com/tensorflow/tensorflow/issues/32677

I think the reason to cause this problem is the gcc of centos7 is 4.8.5，and official doc say tensorflow need to be build with gcc 7.3.1

and I follow issues/32677 to install gcc 7.3.1 by follow steps

yum install devtoolset-7
scl enable devtoolset-7 bash

after run abo

[2020-05-18 08:01] dominiklay commented on #39164
I am now building on Linux, where it is working without trouble. I have not tested if the issue would be resolved, but thank you for your help!

[2020-05-18 08:03] richaolas commented on #39407
Thanks for https://github.com/conradjones/tensorflow/commit/ffdbaa25411340cf49b2eba8e180733340af61cd
I solve the problem with:
add
#include "tensorflow/core/platform/macros.h"
add TF_EXPORT:
**TF_EXPORT** Status Reset(const SessionOptions& options,
             const std::vector<string>& containers);
**TF_EXPORT** Session*  NewSession(const SessionOptions& options);

[2020-05-18 08:06] hamidkhb commented on #39602
I found the Problem. apparantely running tf.data.Dataset changes the order of the data in the dataset. It's working somehow as a random iterator and does that every time one uses it. thats why it's generating a bit of randomnes

[2020-05-18 08:06] #39602 closed

[2020-05-18 08:09] amahendrakar commented on #39464
@Keegan007,
Please add the below two lines to your code before converting the model.
[code]

With these lines of code added, I was able to convert the model without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b8f68c8df1fbaf4dd165700c379a77f7/39464.ipynb). Thanks!

[2020-05-18 08:21] JunyiXie opened #39637 "how to build tflite_runtime, I want to modify tflite_runtime."
how to build tflite_runtime, I want to modify tflite_runtime.
https://www.tensorflow.org/lite/guide/python

[2020-05-18 08:35] orangesomethingorange commented on #39118
I actually do have an image I'm trying to give as an input to the inference.
The output is also an image.
Currently the input image is loaded as a bitmap, and converted to an image-buffer before the inference.

How can I avoid using multi-dimensional arrays on Android's Java side?
What other options are there for image processing?

[2020-05-18 08:43] ravikyram commented on #39592
I have tried in colab with TF version 2.2.0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c5a3a1595bfd728ec2b36855be893c7f/untitled895.ipynb).Thanks!

[2020-05-18 08:44] edurenye opened #39638 "saved_model README.md uses deprecated code"
## URL(s) with the issue:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/saved_model/README.md

## Description of issue (what needs changing):

That documentation uses deprecated code like 'tf.Session()'

### Submit a pull request?

No, because I don't really know how it should be used now.

[2020-05-18 08:49] #39628 closed

[2020-05-18 08:54] chuanqi129 commented on #38300
Hi @gyshi , can't resolve it, just upgrade the system native GCC version

[2020-05-18 08:56] chuanqi129 commented on #38300
Hi @gadagashwini this is not only a centos issue, but also for ubuntu

[2020-05-18 08:57] sondracek opened #39639 "Dataset iterating different behavior in TF 2.1 and 2.2"
System information
- OS Platform and Distribution: Windows 10 Home
- TensorFlow versions:
  - 2.1: v2.1.0-rc2-17-ge5bf8de410 2.1.0
  - 2.2: v2.2.0-rc4-8-g2b96f3662b 2.2.0
- Python version: 3.7.6

I was not sure how to report this issue as it might be bug or just expected behavior. There are difference in TF 2.1 and 2.2. This is a code snippet to reproduce my issue:

[code]

When I run this code in

[2020-05-18 08:58] orangesomethingorange commented on #39148
Well that's good to hear :) I hope to see them soon.
Currently I'm having trouble with just using the C/C++ APIs.

The main approaches I've been trying so far are:
1. using the TFLite as an external library and load into Android Studio: I used [this](https://www.tensorflow.org/lite/guide/android#build_tensorflow_lite_locally), and [this](https://www.tensorflow.org/lite/guide/build_arm64) and combi

[2020-05-18 08:59] arnoegw commented on #39542
Yes, please make this an issue in tensorflow/hub and assign it to me. `hub.KerasLayer` should supply its own `.compute_output_shape` but does not.

That said, I can get @ravikyram's colab to work by setting `model.compile(..., run_eagerly=True)` (and reducing the batch size from 1000 to 10). That's because default implementation inherited from the Layer base class for the eager case is good enough

[2020-05-18 09:14] chenpengf0223 opened #39640 "Tflite "Invoke" function stuck problem"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux debian 9
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: rk3399
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.

[2020-05-18 09:17] gyshi commented on #38300
thx, i will try it

[2020-05-18 09:22] drunkinlove opened #39641 "Inferring using a frozen graph requires more memory"
**System information**
- Have I written custom code: **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04.4 LTS**
- TensorFlow installed from (source or binary): **source**
- TensorFlow version (use command below): **v1.14.0-rc1-22-gaf24dc91b5 1.14.0**
- Python version: **3.6.9**
- GPU model and memory: Not used

**Standalone code to reproduce the issue**
To freeze gra

[2020-05-18 09:25] amahendrakar commented on #39501
@A12-RUI,
Is there any specific reason you are using TF v1.12?
Could you please upgrade TensorFlow to v1.15 or v2.2 and let us know if you are facing the same issue. Thanks!

[2020-05-18 09:32] trushraut18 commented on #37993
When i connect colab with hosted runtime,tensorflow installed and work successfully but when i connect it to local runtime it either shows 'no module tensorflow' or run infinitely when i enter command
!pip install tensorflow

kindly help with this

[2020-05-18 09:34] ravikyram commented on #39595
I have tried in colab with TF nIghtly version (`2.3.0-dev20200516`) and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/9d665bc0d9e4cfaea247e310eed3a8e8/untitled897.ipynb).Thanks!

[2020-05-18 09:44] #39096 closed

[2020-05-18 09:54] ravikyram commented on #39605
@Arktius

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-05-18 09:56] deadshotsb commented on #39602
yup told you

[2020-05-18 09:58] cheneyweb commented on #39633
@Saduf2019
when I run

bazel clean --expunge

it's seem work and begin to compile

but when the progress come to [3000/6000]

it break and show me an error:

ERROR: /root/.cache/bazel/_bazel_root/b984a59284261e4303e87b6b828afcba/external/com_google_protobuf/BUILD:406:1: Linking of rule '@com_google_protobuf//:protoc' failed (Exit 1)
bazel-out/host/bin/external/com_google_protobuf/_objs/protoc_lib/

[2020-05-18 10:01] daverim commented on #39604
Hi @vissood,
Many TFLite builtin ops don't support float64  as an input type. This is on the map however, @abattery  might be able to give more of an update.

[2020-05-18 10:02] hamidkhb commented on #39602
@deadshotsb It wasn't caused by the distribution of the data. Like mentioned before the performance of the network is very well. It was caused by different order of the **same** data in the iterator of test dataset. This caused different mean value of loss and accuracy. evaluating the same data in test dataset **manually** solved the problem.

[2020-05-18 10:03] tanguycdls opened #39643 "predict on batch and predict have different behavior Assert and control depedencies"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2
- Python vers

[2020-05-18 10:05] daverim commented on #39633
If you want to change your version of gcc, try cleaning your bazel bazel clean --expunge or bazel sync before you try to build again.

[2020-05-18 10:06] JunyiXie opened #39644 "how to build tflite python for ios platform?"
how to build tflite python for ios platform.
I want to run tflite on my app python interpreter.

[2020-05-18 10:11] mysephi commented on #39579
Sorry for the code error. Just change "./ckpt_model/moiblenet.ckpt" to "./ckpt_model/mobile.ckpt".

[2020-05-18 10:12] mysephi commented on #39579
Sorry for the code error. Just change "./ckpt_model/moiblenet.ckpt" to "./ckpt_model/mobile.ckpt".

[2020-05-18 10:21] amahendrakar commented on #39588
Was able to reproduce the issue. [TF v2.2](https://colab.research.google.com/gist/amahendrakar/46164b8bcb6761d64167d45494b8b1d6/39588-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/5212de55fe93c63892fa5edfefbff602/39588-tf-nightly.ipynb) take more time for each epoch when compared to [TF v2.1](https://colab.research.google.com/gist/amahendrakar/c391c251960c9f359f05

[2020-05-18 10:22] MokkeMeguru opened #39645 "How to implement data-dependent initialization with MultiGPU/TPU [Tensorflow >= 2.x]"
# Environment
- tensorflow == 2.2.0

# Reprodusable code
https://colab.research.google.com/gist/MokkeMeguru/fc7bc3df0e77a3a5ba2dbf16a806e6c7/data-dep-iinitialization.ipynb

# Problem
I want to weight initialization by first-batch data.
So I need  method below condition:
- Aggregate data on Multi GPU / TPU
- Weight which will be initialized is trainable

I wrote these code

[code]
But it causes err

[2020-05-18 10:24] Arktius commented on #39605
- Microsoft Windows [Version 10.0.18362.418]
- Nvidia 2060 Super
- TF version 2.0.0
- Are you willing to contribute it (Yes/No): Don't know yet.

**Who will benefit with this feature?**
- Everyone who's interested in optimizing lots of models while logging needed memory.
- Everyone who wants to shift an application to another machine with a different hardware setup.

The problem is that the follow

[2020-05-18 10:37] Wheest commented on #39276
@jvishnuvardhan so batch normalisation being removed can be discarded as a cause of the issue, since we have support for `BatchNormalization` in TF-Lite?

In that case, it seems that the output node `Add_2` is lost in one representation of the graph, but not in another.  I'm unsure how to identify where this might be happening.  My above git diff confirms that the node is not present in the graph_

[2020-05-18 10:38] daverim commented on #39564
Ah sorry, I must have been really confused when I wrote my response. My apologies.

The reason why your code doesn't work is because the lstm layer is being converted as a subgraph, which the quantizer does not support.

To get this to work, you need the converter to convert the lstm layer as a builtin op, for which you should use `convert_from_saved_model` in combination with the concrete functio

[2020-05-18 10:46] daverim commented on #39633
Ah sorry, didn't see the previous message, looks like you can try

`BAZEL_LINKLIBS=-l%:libstdc++.a  bazel build --config=opt --config=monolithic //tensorflow/tools/lib_package:libtensorflow`

according to #35867

[2020-05-18 10:47] LeiWang99 commented on #24409
I've got a problem when using slim.group_norm as 'normalizer_fn=slim.group_norm' for many conv layers, it cannot get the value of batch_size, h and w, so that it cannot use -1 to solve this problem. Did anyone meet this problem?

[2020-05-18 10:52] daverim commented on #39572
Hi @liufengdb,

Do you think you can take a look?

[2020-05-18 10:55] ravikyram commented on #39589
@RodrigoPina407

I have tried in colab with TF version 2.1.0 ,2.2.0 and i am seeing the below error message.
`OperatorNotAllowedInGraphError: using a `tf.Tensor` as a Python `bool` is not allowed in Graph execution. Use Eager execution or decorate this function with @tf.function.`.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/1f70784c1aac0b07f41b10f3c17d26ef/untitled

[2020-05-18 11:03] ravikyram commented on #39632
@CuiYifeng
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-05-18 11:04] RodrigoPina407 commented on #39589
That problem is caused by the if statement `if loss < melhor_loss:` but if I remove it and its contents I get the error I described above, "No gradiants provided for any variable"

[2020-05-18 11:13] rodburns commented on #39228
I'm from Codeplay, we implemented the OpenCL support for TensorFlow. TFLite has never been supported with OpenCL I'm afraid. It would be a big effort to do that and at the moment there are no plans (by us or others) I am aware of to do the work.

[2020-05-18 11:16] heyufei2008 commented on #39407
Thanks

[2020-05-18 11:18] Saduf2019 commented on #39626
@ etenedrac
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2020-05-18 11:24] guotong1988 commented on #19605
Same question. The link is broken.

[2020-05-18 11:25] ravikyram commented on #39635
@sonu1-p

I have tried in colab with TF nightly version (2.3.0-dev20200518) and i am not seeing any issue in nightly version.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/ddebb9a159077acb4072d6a8aad25cab/untitled899.ipynb).You could use tf-nightly for now and in the next couple of months new stable version will be released.Please, close this thread if your issue got

[2020-05-18 11:30] guotong1988 commented on #19605
See https://github.com/tensorflow/docs/blob/r1.15/site/en/guide/distribute_strategy.ipynb

[2020-05-18 11:43] ravikyram commented on #39641
@drunkinlove

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-18 11:45] deshiyan1010 opened #39647 "FailedPreconditionError: Error while reading resource variable _AnonymousVar878 from Container: localhost. This could mean that the variable was uninitialized. Not found: Resource localhost/_AnonymousVar878/N10tensorflow3VarE does not exist. [[node mul_584/ReadVariableOp (defined at /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3009) ]] [Op:__inference_keras_scratch_graph_34197]"
I'm getting this error and I'm not able to debug it. This is the complete code of CGAN.

    from __future__ import print_function, division
    from keras.datasets import mnist
    from keras.layers import Input, Dense, Reshape, Flatten, Dropout, multiply
    from keras.layers import BatchNormalization, Activation, Embedding, ZeroPadding2D
    from keras.layers.advanced_activations import LeakyRe

[2020-05-18 11:46] amahendrakar commented on #39598
@ruperty,
I did not observe the `WARNING:tensorflow:AutoGraph could not transform` warning on running the code with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/b3c2f0ec76039aebde67d10b788dc0d7/39598-2-1.ipynb) and [TF v2.2](https://colab.research.google.com/gist/amahendrakar/b773f46a9f7ae8ff83be435fc21d3be1/39598.ipynb). Please find the attached gist.

Please take a look at [this

[2020-05-18 11:49] amahendrakar commented on #39601
@kmonachopoulos,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-05-18 12:22] amahendrakar commented on #39604
@vissood,
I am facing an error stating `ValueError: Unsuccessful TensorSliceReader constructor: Failed to get matching files on /content/saved_model/1/variables/variables: Not found: /content/saved_model/1/variables; No such file or directory` on running the code.
Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/efc55572411528527be94efaddb5c4c1/39604.ipynb).

I

[2020-05-18 12:23] SushiEleonore commented on #39629
I have version 2.1.0

[2020-05-18 12:49] drunkinlove commented on #39641
@ravikyram I prepared two scripts along with a frozen graph and a checkpoint:
https://drive.google.com/drive/folders/1dnUp7Nc38C43JpIRfrrL4Q1kh1o6Fz91?usp=sharing

[2020-05-18 12:49] amahendrakar commented on #39624
@nicolas-gervais,
I was able to reproduce the error with TF v2.1 and [TF v2.2](https://colab.research.google.com/gist/amahendrakar/ef75f5e07621f04c2702ef3f789e243c/39624-2-2.ipynb). However, I was able to run the code without any issues with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/7c9fd985c3b0e15ee6b1e475b73a54e4/39624-tf-nightly.ipynb). Please find the attached

[2020-05-18 12:54] Saduf2019 commented on #39647
@deshiyan1010
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2020-05-18 13:03] ktsumura commented on #28705
@richaolas, this may help.
https://github.com/sitting-duck/stuff/tree/master/ai/tensorflow/build_tensorflow_1.14_source_for_Windows

[2020-05-18 13:05] Saduf2019 commented on #39600
@TekayaNidham
Would you want to try in later version of tensorflow as this is a very old version that you are using and let us know if that helps.

[2020-05-18 13:06] amahendrakar commented on #39644
@JunyiXie,
To convert your TensorFlow model to TF Lite please check [this guide](https://www.tensorflow.org/lite/convert/python_api#python_api).

Also, please take a look at [iOS quickstart](https://www.tensorflow.org/lite/guide/ios) and [Build TensorFlow Lite for iOS](https://www.tensorflow.org/lite/guide/build_ios) guide and let us know if it helps. Thanks!

[2020-05-18 13:09] Andreas5739738 commented on #35928
I can still reproduce the problem with tf_nightly-2.3.0.dev20200518-cp36-cp36m-manylinux2010_x86_64.whl and the [colab](https://colab.research.google.com/gist/Andreas5739738/c3ec84dba75adb6880124c840c0be12f/untitled0.ipynb) linked above (run & view session logs):
[code]

[2020-05-18 13:13] cheneyweb commented on #39633
@daverim thank you very much. I have notice to #35867 too

And After I run the BAZEL_LINKLIBS=-l%:libstdc++.a     as prefix，it still gone show me another error:

/usr/local/node/tensorflow-r2.2/tensorflow/core/kernels/BUILD:3683:1: C++ compilation of rule '//tensorflow/core/kernels:matrix_square_root_op' failed (Exit 4)
gcc: internal compiler error: Killed (program cc1plus)

the final progress is

[2020-05-18 13:16] driedler commented on #39277
The issue appears to be in:
`tensorflow.python.keras.engine.data_adapter.py`

function:
`select_data_adapter()`

The function is selecting `GeneratorDataAdapter` when it should be selecting `KerasSequenceAdapter`.

If I manually update:
`keras_preprocessing.image.iterator.py`:
[code]
to:
[code]

`flow_from_directory()` works fine with `fit()` again.

[2020-05-18 13:22] Maratyszcza commented on #38852
@yaysummeriscoming There is no Python API to apply XNNPACK delegate, but if you build TensorFlow Lite with `--define tflite_with_xnnpack=true`, XNNPACK delegate will be used by default. However, keep in mind that this feature landed just hours ago in e480d8f7ff66dbab239019c9f202748f6fa1f661 and you need a fresh checkout of tensorflow repository to try it.

[2020-05-18 13:32] ravikyram commented on #39579
@mysephi

I tried in colab with TF version 2.2.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/e6f971968d82490f3aaa5ed560a5f4b5/untitled901.ipynb).Is this the expected behavior. Thanks!

[2020-05-18 13:44] caisq commented on #39210
This should have been taken care of by the recently merged https://github.com/tensorflow/tensorflow/commit/fb416f16e2b01252326816bb311c3e6165d13bcf

[2020-05-18 13:49] momo1986 opened #39648 "no such package '@androidsdk//com.android.support'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (MacOS 10.13.6):
- TensorFlow installed from (source or bi

[2020-05-18 13:50] jvishnuvardhan commented on #39276
@Wheest Can you please try to inspect your graph with [netron](https://github.com/lutzroeder/netron) and see which node is missing? When I checked .pb of `resnet34` looks simple and all nodes connected whereas the *.pb of `resnet34-alt` is complex and saw some missing connections (I am not sure may be it was intentional). Thanks!

[2020-05-18 13:50] momo1986 commented on #39648
Is there any solution to fix it?

[2020-05-18 13:52] msdrigg commented on #33005
I would also like to see some sort of response to this.

[2020-05-18 13:58] ravikyram commented on #39589
I have tried in colab with TF 2.1, 2.2 and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/88d65fc8ed4bf16c23f58685598d354f/untitled902.ipynb).Thanks!

[2020-05-18 13:59] tanguycdls commented on #38872
@shkarupa-alex seems to be fixed in the latest tf-nightly :) !
https://colab.research.google.com/gist/tanguycdls/200096266d1cb0c5a6c83cbb416c1279/untitled4.ipynb#scrollTo=qWJanvalyxiJ

I'm going to do some thorough tests to be sure.

[2020-05-18 14:00] pandrey-fr commented on #36916
@taki0112
As mentioned in my former reply, if you assign a list as attribute of a `tf.keras.layers.Layer`-inheriting instance, it will automatically be wrapped through a `ListWrapper` object, which as you notices causes some issues when said list does not comprise keras components. Note that when you want to store your model's layers in a list attribute you _do_ want it to be wrapped through this

[2020-05-18 14:01] richaolas commented on #28705
@ktsumura Thanks lot. I think it will be helpful.

[2020-05-18 14:02] Spidy20 commented on #23692
Guys if you are doing openpose then just comment this line
'import tensorflow.contrib.tensorrt as trt'
in 'tf_pose/estimator.py'

[2020-05-18 14:07] leeyeetonn opened #39649 "tf.math.reduce_mean takes too long and produces wrong result when input_tensor is uint32/64 and axis is array"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-05-18 14:26] arbiter1elegantiae commented on #39583
After further debugging I figured out that the attribute is actually very well stored by `model.save` it was just me missing to add the label `custom_objects = {'Kwta':Kwta}` while loading the model. No I am able to access it.

So what is causing the drop in Accuracy after saving the model? What is even more strange is that the predictions before and after saving (resp. model names `kwta_cnn`, `kw

[2020-05-18 14:33] eaplatanios commented on #39174
That's great! Thanks @av8ramit!

[2020-05-18 14:34] ben-arnao commented on #39462
I'm unsure of the way the imports were done in your colab but the code below works and does reproduce this behavior for me...

[code]

[2020-05-18 14:42] amahendrakar commented on #39634
@bzhong2,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-05-18 14:48] amahendrakar commented on #39634
Also, please upgrade your TensorFlow to v1.15 or v2.2 and let us know if you are facing the same issue. Thanks!

[2020-05-18 14:54] shwoghk14 opened #39651 "Checkpoint is not work properly"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-05-18 14:55] amahendrakar commented on #39640
@chenpengf0223,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-05-18 15:04] ravikyram commented on #39364
@tecnoorganico

Any update on this issue please. Thanks!

[2020-05-18 15:06] paulinhoAlmeida commented on #8251
worked for me

[2020-05-18 15:18] RodrigoPina407 commented on #39589
Do you have a suggestion on how to solve it?

[2020-05-18 15:25] pauljohn32 opened #39652 "Tensorflow containers are missing from Docker Hub"
Your docker pages point at

https://hub.docker.com/r/tensorflow/tensorflow

Today that returns "404" Oops! Page not found.

[2020-05-18 15:44] Thomas-K-John commented on #39277
I hope this fix will also resolve the issue faced with predict() and evaluate() methods.

[2020-05-18 15:48] sxlllslgh commented on #39590
I met the same issue with yours on Windows. Finally I found that I let the compiler (MSVC 2019) to compile with C++ 17 standard in configuration file. And the default setting is to use C++ 14 standard, it's OK.

[2020-05-18 15:49] rgbarishian commented on #38558
I am getting the same error converting from a Keras model to tflite. I followed this tutorial
https://stackoverflow.com/a/60136583/11575257
When importing my saved model I printed a summary:

Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, None, None, 3)]   0
______________________

[2020-05-18 15:53] Philipduerholt commented on #39574
Thank you for your response.

I'll compare this on 1.15, 2.0 and 2.1 aswell. I might just not be able to do it until next week.

Until then:
* Does anyone know what could be the cause?
* Can there be a workaround?
* Why does the `allow_growth` option not work?

[2020-05-18 15:56] pks commented on #37428
Try
[code]

[2020-05-18 15:56] rxsang commented on #32255
Hi, when the issue was created, TF2 TPU hasn't been enabled yet. And it has been launched in TF2.1. Could you try the same code again using TF2.2?

[2020-05-18 16:15] JunyiXie commented on #39644
https://www.tensorflow.org/lite/guide/python

[2020-05-18 16:15] sajed-zarrinpour commented on #956
Based on @YuanmanLi answer, here is a way to pad data periodically (which is a very common padding type in scientific computing) with a layer dedicated to it:

[code]
Please note that this code is for my particular problem and I didn't test its generality yet. Please verify if it works for you.

[2020-05-18 16:19] rohan100jain commented on #38972
I was able to identify and debug the issue - the problem was that we were forcing all the embedding layer variables onto the CPU and that was slowing down the model. https://github.com/tensorflow/tensorflow/commit/46f7108d78c6a3c0854fe66ce1cd92e5ebb3d6e2?diff=split should fix the issue and from some preliminary testing its probably even 5-10% faster than before (not rigorously tested though)

[2020-05-18 16:19] #38972 closed

[2020-05-18 16:22] impjdi commented on #26297
The current plan is not to support bindBuffer in delegate v2.

[2020-05-18 16:36] yakovdan commented on #39382
My build was configured for the target arm64-v8a instead of armeabi-v7a which caused the previous issue. Is there a version of those libraries for arm64-v8a?
In the mean time, I switched to armeabi-v7a and created a simple native activity project in android studio. Then I followed the provided example precisely and got a link error:

error: undefined reference to 'TfLiteHexagonDelegateDelete'

TfL

[2020-05-18 16:38] cheneyweb commented on #39633
It finish !!!
@daverim  @Saduf2019 ,thank you very much.

the reason of above problem is memory out

I close this issue

[2020-05-18 16:38] #39633 closed

[2020-05-18 16:39] jvishnuvardhan commented on #38872
@shkarupa-alex Agree with @tanguycdls . Looks like this was resolved in `tf-nightly`. Please take a look at the [gist](https://colab.research.google.com/gist/jvishnuvardhan/fa7dabf593f61fb8bd76a5a46b7b789a/untitled4.ipynb). Thanks!

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-05-18 16:44] #39108 closed

[2020-05-18 16:46] arun-sl commented on #39620
Thanks for your reply.
But installing this package resulted in error like no libhdfs.so found.

On Mon, May 18, 2020, 06:20 Vo Van Nghia <notifications@github.com> wrote:

[2020-05-18 16:51] saahiluppal commented on #39339
This helped me.
Thanks.

[2020-05-18 16:51] #39339 closed

[2020-05-18 16:51] vnvo2409 commented on #39620
could you be more specific ?

[2020-05-18 17:03] yakovdan commented on #39382
For you convenience,  the entire project is attached
[HelloJNI3.zip](https://github.com/tensorflow/tensorflow/files/4645510/HelloJNI3.zip)

[2020-05-18 17:13] jdduke commented on #39118
You can use a FloatBuffer or ByteBuffer of the appropriate size to provide your input data and extract output data. Most (maybe all?) of our examples use this approach. You can also use some of the helper utilities from the [support library](https://www.tensorflow.org/lite/guide/android) to do this, e.g., with our [image classification example](https://github.com/tensorflow/examples/blob/master/li

[2020-05-18 17:20] roebel commented on #24496
@kognat-docs

The question you posed was "Have people been checking if there are two CuDNN 7 shared libraries on the path or LD library path". And my answer was: I have checked this, there is only one.
I've sent you the trace.

What do you mean by managing the path?
I always manage my paths ! I have installed a conda environment which I verified to be consistent! Everything is as it has been packa

[2020-05-18 17:22] omalleyt12 commented on #39314
Yep this should work in TF2.1 as well, here's a full example (had to fix the metric code a bit):

[code]

[2020-05-18 17:24] omalleyt12 commented on #39314
It's to handle the case where a multi-output Model is used (just to be robust). If your Model only has 1 output it's not needed. `tf.nest.flatten` will turn any nested Python structure (tuple, list, dict, etc) into a flat list

Just to make sure we're not returning the `tf.Variable` directly. It's probably ok to do this, but this protects from accidental modification

[2020-05-18 17:27] cipollone opened #39653 "[Tf 2.x] Can't return variables as tf.keras.Model outputs"
**System information**
- Reproduced in Colab, currently with Tensorflow 2.2
- Reproduced in Debian Buster, Tensorflow 2.1, CPU, built from source.

**Describe the current behavior**
[code]

**Describe the expected behavior**
No exception raised

**Standalone code to reproduce the issue**
Code [https://colab.research.google.com/drive/1EBXU51kVb6zrf1gA4iHcJInzkixrXk4l?usp=sharing](https://colab.rese

[2020-05-18 17:30] dansitu commented on #39362
Thanks @dynamicwebpaige, and sorry about this @quirli! I'm not sure why/how this was deleted, but we'll make sure it is added back ASAP.

[2020-05-18 17:33] jvishnuvardhan commented on #39613
@abinashsinha330 Can you please add more details to know whether you are looking for a feature or a support kind of questions that are good to be on Stackoverflow? thanks

[2020-05-18 17:34] kkimdev commented on #38945
Could you try calling `tf.keras.backend.clear_session()` on every iteration?

[2020-05-18 17:40] christopher5106 commented on #38972
I confirm it is faster by  about 5% now. Thank you!

[2020-05-18 17:43] odinsbane commented on #24496
@roebel Did you see @sanjoy s comment about debugging from the cpp https://github.com/tensorflow/tensorflow/issues/24496#issuecomment-561366750 ?

I haven't gotten around to recompiling tensorflow and trying it out. Their versions move so fast it would take me a bit to setup and compile everything. Plus, 1.15 dropped support for the gcc version I use, and 1.13 doesn't receive any updates so it was

[2020-05-18 17:44] #39015 closed

[2020-05-18 17:45] karimnosseir commented on #39382
The easiest might be to fetch the nightly build see [hexagon_delegate guide](https://www.tensorflow.org/lite/performance/hexagon_delegate)

Another way, you can build the libraries yourself using bazel
* hexagon_delegate static library
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/delegates/hexagon/BUILD#L70
* libtensorflowlite_hexagon_jni.so (shared library)
ht

[2020-05-18 17:53] zredlined opened #39654 "How to speed up text generation in TensorFlow reference example notebook?"
The tensorflow official example for text generation (https://github.com/tensorflow/docs/blob/master/site/en/tutorials/text/text_generation.ipynb) runs in a loop as defined below. The text generation feels slow, and according to NVTOP only uses a fraction of the available GPU resources (15-20%).

[code]

Do you have any suggestions on how I can speed this up? Or parallelize it by generating multipl

[2020-05-18 18:00] aviral-31 commented on #28833
Hi Anshika. I had the same problem. Just found out that my indents in defining the update and gradient descent functions were incorrect. Indents are the spaces at the start of a command. Usually, they're taking care of by python but make sure that the return function is properly indented. Tell me if this solves your problem.

[2020-05-18 18:02] teodor440 commented on #31542
Im also affected by the issue

[2020-05-18 18:05] crccw commented on #39417
The issue should already be fixed at HEAD. As a workaround for 2.2, you can wrap distributed_train_step with @tf.function.

[2020-05-18 18:05] #39417 closed

[2020-05-18 18:09] Titaniumtown commented on #39228
Well, I get the issue when I compile TFLite and regular tensorflow.
@rodburns Isn't your branch of tensorflow only 1.x atm? What's the plan for 2.x support?

[2020-05-18 18:18] ymodak commented on #39638
The `SavedModelBuilder` function is only available through v1 compatibility.
So you should be using [`tf.compat.v1.saved_model.Builder`](https://www.tensorflow.org/api_docs/python/tf/compat/v1/saved_model/Builder#top_of_page) function when using TF 2.X version.

[2020-05-18 18:30] lordfiftyfive commented on #39238
This is the code needed to resolve that issue

[code]

[2020-05-18 18:37] ymodak commented on #39605
For submitting a pull request see https://www.tensorflow.org/community/contribute/code

[2020-05-18 18:38] bzhong2 commented on #39634
Yes, after upgrading the TensorFlow version to 1.15, the problem was solved. Thanks a lot!

[2020-05-18 18:38] #39634 closed

[2020-05-18 18:44] zongweiz commented on #39434
Memory usage wise, I am surprised that in TF 2.1, training=True consumes the same amount of memory as training=False, in keras dropout layer, training=False means that no dropout is done and thus no dropout mask needs to be preserved for backprop. I would assume training=True will always consume more memory, due to dropout (unless XLA optimize away the dropout mask)

Could you please run the model

[2020-05-18 18:46] sonu1-p commented on #39635
Yes I see that its fixed in master branch:
https://github.com/tensorflow/tensorflow/blob/ef45324fc62fc9a911e5771a40f9790900500de9/tensorflow/python/keras/layers/wrappers.py#L656

Looks like it got fixed by this commit last month - https://github.com/tensorflow/tensorflow/commit/1a09bbf34ea07713a66cc4385800ab2744587884

I am also not able to reproduce it with tf-nightly. Thanks will close this.

[2020-05-18 18:46] #39635 closed

[2020-05-18 18:49] dansitu commented on #39362
Update: Looks like it was moved into this subfolder:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples/hello_world/train

[2020-05-18 18:53] zongweiz commented on #39434
Also it would be better if you could also try out Keras mixed precision API
https://www.tensorflow.org/guide/keras/mixed_precision

[2020-05-18 18:57] gionanide commented on #36025
I am using:

- CUDA Version 10.0.130
- #define CUDNN_MAJOR 7
 #define CUDNN_MINOR 4
 #define CUDNN_PATCHLEVEL 2
- tensorflow 1.15.2

And had the same mistake. I tried lost of things (e.g., allow_growth=True) and did not work.

The thing that worked for me is downgrading to tensorflow 1.14

- pip uninstall tensorflow-gpu
- pip install tensorflow-gpu==1.14

Taking advise from this post:
https://stac

[2020-05-18 18:58] jarednielsen commented on #39434
The model is using dropout_prob=0, so there should be no difference between training=True and training=False.

I am using the Keras mixed-precision API, aside from `tf.keras.mixed_precision.experimental.set_policy('mixed_float16')`, which fails due to dtype mismatches:
[code]
However, mixed-precision is not the issue because the same memory bug occurs when using full-precision. The memory bug also

[2020-05-18 19:01] yhliang2018 commented on #33358
More thoughts on this issue: if people create an optimizer instance for canned estimator, it's natural that people think the created optimizer object is the one used in model optimization process. However, if different optimizer instances are created to support `estimator.train()` call, the optimizer for the model optimization is always the new one, which confused people a lot in some use cases. O

[2020-05-18 19:19] quirli commented on #39362
Ah, ok, thanks! I didn't see that one.
I will close this one, however, some sort of note will probably be nice for future users.

[2020-05-18 19:19] #39362 closed

[2020-05-18 19:45] vladimircape opened #39656 "Eager execution in TF 2.2.0rc2"
Tensorflow 2.2.0rc2
Windows 10
Python 3.6.8(Anaconda)
CuDNN 7.6.5 CUDA 10.1
Nvidia 1060 6Gb
I have a model based on Keras

when try
[code]

got error
`InternalError: Failed copying input tensor from /job:localhost/replica:0/task:0/device:CPU:0 to /job:localhost/replica:0/task:0/device:GPU:0 in order to run GatherV2: Dst tensor is not initialized. [Op:GatherV2]`

but when disable Eager , everything

[2020-05-18 20:06] ymodak commented on #39436
This works successfully with TF 2.X
Unfortunately we are not accepting any changes with TF 1.X versions unless it calls for security issues.

[2020-05-18 20:13] etenedrac commented on #39626
@Saduf2019
Here you have the details of the platform and the code to reproduce the error.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): WINDOWS 10
- TensorFlow installed from (source or binary): BINARY (PIP)
- TensorFlow version (use command below): 2.1.0
- Pyth

[2020-05-18 20:16] dansitu commented on #39362
Thanks for reporting, agreed that we should redirect folks somehow!

[2020-05-18 20:29] mckeown12 commented on #31455
Yes, it is still an issue. (Sorry for the delayed response.)

https://colab.research.google.com/drive/1x1eDTl-nMuhZTQYWSi_I9F_SguFZRP2i

[2020-05-18 20:31] natario1 commented on #26297
@impjdi we have the frame in GPU memory. Should we move it to CPU just to start inference, which will move it to GPU again? The time spent doing this would waste the benefits of gpu inference in many cases.

[2020-05-18 20:33] samhodge commented on #24496
@roebel I did not recall what triggered the problem for you.

see this https://github.com/tensorflow/tensorflow/issues/24496#issuecomment-480549043

Which is why I thought it was memory related, this issue has not effected me for some time, nor the users of my software on a variety of platforms.

[2020-05-18 20:42] rthadur opened #39657 "test"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-05-18 20:42] #39657 closed

[2020-05-18 20:43] ymodak commented on #39407
Can we close this issue if it solved your problem? Thanks!

[2020-05-18 20:43] natario1 commented on #37623
Thanks! Is there an issue I can subscribe to to know when it will be available?

[2020-05-18 20:51] qlzh727 commented on #39542
Ack, it seems that I somehow don't have the permission to transfer the issue. The dropdown list doesn't contain hub when I click "Transfer issue" on this page. In case this can't be done by any of you, feel free to recreate a new issue on tensorflow/hub.

[2020-05-18 20:58] #39608 closed

[2020-05-18 21:15] nicolas-gervais commented on #39624
Hi, what response are you awaiting from me exactly? I am unable to change TF versions at the moment

[2020-05-18 21:15] ckiwun opened #39658 "TFLite quantized maximum/minimum ops still do basic comparison even with different input tensor scales"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-05-18 21:33] vicpara commented on #32912
Managed to fix this like this: https://gist.github.com/vicpara/5c23c78d0f3105af53798272e628d2ad .
My guess is that this is a problem related to deserialized tensors.

[2020-05-18 21:42] rthadur opened #39660 "test1"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-05-18 21:42] #39660 closed

[2020-05-18 21:52] mihaimaruseac commented on #32982
@realdanielbyrne that looks like a recent breakage. Please open a new issue.

[2020-05-18 21:53] mihaimaruseac commented on #34759
https://github.com/tensorflow/tensorflow/issues/38194#issuecomment-629801937 seem to have a solution

[2020-05-18 21:55] mihaimaruseac commented on #38882
The tags above signal an incompatibility between Pythons. https://github.com/pypa/pip/issues/6526

[2020-05-18 21:56] tomerk commented on #39277
@driedler:
We made a roughly equivalent change to the `keras_preprocessing` pip package, but users have to manually upgrade it to get that effect.

We've also submitted this:
https://github.com/tensorflow/tensorflow/commit/b53ed4d560aaeb7a92185f4fbf2562e5e274456a

which will affect the next version of tensorflow. We're unlikely to patch this into the existing release, so if you want the fix right

[2020-05-18 21:56] #39277 closed

[2020-05-18 21:58] ymodak commented on #39620
@arun-sl Are you able to build TF successfully?

[2020-05-18 21:58] thomasjo commented on #39652
It works fine now. I am guessing this was a temporary glitch.

[2020-05-18 22:05] ymodak commented on #39385
Please provide a github gist or use proper markdown formatting. Screenshot attachments paint the picture but does very little to repro the issue at our end. Thank you.

[2020-05-18 22:06] sanjoy commented on #39537
Hi @jakob82 ,

Can you please be more specific?

The TensorFlow team does not have cycles to look into this at the moment.  However, please feel free to post [an RFC](https://github.com/tensorflow/community/blob/master/governance/TF-RFCs.md) with more details if you want to take this on.

[2020-05-18 22:08] petewarden opened #39661 "Unaligned 64-bit access causes crash on Hexagon platforms"
We've discovered the cause of a TF Lite Micro crash on some Qualcomm Hexagon platforms, and need to figure out a good solution. Here are the details:

Quote from tensorflow/lite/micro/micro_allocator.cc:327 :

[code]

As stated in the comment, the zero_point is a 64bit value inside flatbuffer’s schema.

But when hexagon DSP tries to read a 64bit value, the address needs to be 64bit aligned. This i

[2020-05-18 22:23] ymodak commented on #39615
The `get_weights` and `set_weights` property belongs to [`tf.keras.layers.Layer`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#get_weights)
So when you apply them on to whole model it will get/set weights for each individual layer of the model.

[2020-05-18 22:25] jvishnuvardhan commented on #39596
@breadbread1984 We need to use static shape (`x.shape`) instead of dynamic shape (`tf.shape(x)`) as dynamic shape doesn't support `None` in any dimension. I have updated your code to

[code]

Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/dd43e6edc936bad2663943147df2a247/untitled183.ipynb). Thanks!

[2020-05-18 22:32] ymodak commented on #33729
Can this be closed since the error is not seen in tf-nightly version? Thanks!

[2020-05-18 22:33] faisito commented on #36508
worked for me with
    CUDA/cuDNN version: 10.1
    GPU model and memory: GeForce RTX 2080 Ti
    TF 2.1.0:

[2020-05-18 22:33] ymodak commented on #33920
Is this still an issue with latest tf version 2.2?

[2020-05-18 22:36] Bidski commented on #39205
I believe this is because of [StatsAggregator](https://www.tensorflow.org/api_docs/python/tf/data/experimental/StatsAggregator). I completely forgot that I had this in my code and without looking into the code for `StatsAggregator` I had no idea that it created an events file in `TMPDIR`.

I propose that `StatsAggregator` be modified so that a log directory can be provided for `StatsAggregator` to

[2020-05-18 22:48] sousandrei commented on #36508
I have similar issues. The memory_growth trick worked in the past but seems to have no effect now. GPU is detected and used, but the dnn implementation error is constant.

Fail to find the dnn implementation

Ubuntu 20.04 or 18.04
TF2.2 or 2.1
CUDA/cuDNN version: 10.2
GPU model and memory: GeForce RTX 2080 Super

I cannot get cuda 10.1 properly as the GPU guide on tensorflow website suggest.
Upon

[2020-05-18 22:54] ymodak commented on #34321
The issue exist with TF 2.2 version. [GitHub gist](https://colab.research.google.com/gist/ymodak/4c500019b72b992568a5eb7ff36f111a/copy-of-tensorflow-2-0-handbook-tpu-example.ipynb)
Potential duplicate #35785

[2020-05-18 23:08] faisito commented on #36508
I used the steps in the following link in order to get cuda version 10.1 (instead of 10.2) on my Ubuntu 18.04
https://askubuntu.com/questions/1077061/how-do-i-install-nvidia-and-cuda-drivers-into-ubuntu

[2020-05-18 23:10] breadbread1984 commented on #39596
I met the problem when I implemented wavenet with tf2. the input tensor has input shape (batch, None, 1). Slicing on the unknown dimension (axis = 1) will cause the output dimeision become all unknown. therefore, I give the above code which can reproduce the issue.

the code you provide doesn't do slice on the known dimension.

[2020-05-18 23:11] #39364 closed

[2020-05-18 23:11] mihaimaruseac commented on #39364
spam

[2020-05-18 23:14] mihaimaruseac commented on #39326
Can you post the output of `pip list` before and after building TF Estimator?

[2020-05-18 23:16] PythonImageDeveloper opened #39662 "Resize images before feeding for deep tensorflow model"
Hello everyone.
 I tested any size of input image for ssd detection models, it don’t effect in timing prediction and all the results are same and correct.
In your opinion, inside the frozen graph model has resizer node or operation for this task on GPU?

[2020-05-18 23:23] #39342 closed

[2020-05-18 23:23] mihaimaruseac commented on #39342
closing since no information was provided

[2020-05-18 23:24] mihaimaruseac commented on #39622
This is not a suitable medium for this question. Please only file here bug reports and feature requests

[2020-05-18 23:24] #39622 closed

[2020-05-18 23:26] mihaimaruseac commented on #39617
We only build with C++11 and C++14. Perhaps SIG Build would be a better fit for this

[2020-05-18 23:27] mihaimaruseac commented on #37323
PR has been closed in unmerged state

[2020-05-18 23:28] mihaimaruseac commented on #24814
Please open new issue, fill in template

[2020-05-18 23:52] jvishnuvardhan commented on #38558
@Ringhu Sorry for the delay in my response. I tried converting the `mobilenet` model and was successful. Can you please check the [gist](https://colab.research.google.com/gist/jvishnuvardhan/23066f1a722fc566b437a5210d1b97b0/ssd_saved_model_tflite_conversion.ipynb) here.

Please verify once and close the issue if this was resolved for you. Thanks

[2020-05-18 23:56] jvishnuvardhan commented on #38558
@bgy-proprietor I converted yolo-v3 as shown in [this](https://github.com/jvishnuvardhan/TF_Lite/blob/master/TFlite_Yolov3_conversion.ipynb) gist. Try it , if it is not working for you then please create a new issue (with a standalone code) so that it will be easy for the community to follow. Thanks

[2020-05-18 23:58] jvishnuvardhan commented on #38558
@rgbarishian @mgalgs Can you please try `tf-nightly` and if it is not working then can you please create a separate issue with a standalone code to reproduce the issue? It will be easy for the community to follow. Thanks

[2020-05-18 23:59] richardwth commented on #31542
Here is a workaround where the gradients are explicitly calculated. It avoids the `total_loss` error I mentioned above.
[code]
`ExtendedTensorBoard` can then be used in replace of `tf.keras.callbacks.TensorBoard`.

[2020-05-19 00:19] nbro commented on #33729
@ymodak I wouldn't close this until the new stable version is released.

[2020-05-19 00:41] richaolas commented on #39407
TF2.0 & windows10 & VS2019 & /arch:AVX2
I am sorry, I don not think we can close the issue. Although I compile the .dll and .lib success, and have linked them without any error, but when I run the program which I just build, it crashed.
Anybody get the similar issue like this?...

[2020-05-19 00:47] yl255 commented on #29042
@samhodge Hi, I made a try to build tensorflow v1.13.1 with vs2017 using cuda 10.1.
I builded without python and successed.
https://github.com/yl255/Build-tensorflow-v1.31.1-with-vs2017-using-cuda-10.1)
Maybe you can have a try.
Good luck!

[2020-05-19 00:51] BorisPolonsky commented on #39497
It works with this solution. The "side effect" here is that unlike Tensorflo 2.1 where the original implementation works, number of weights in forward/backward rnn layers that `summary()` prints out will be aggregated and represented as a single "Bidirectional" layer in 2.2. Didn't know if this is the desired behavior here.

[2020-05-19 00:58] samhodge commented on #29042
I will see if this comes a priority again, thanks so much for sharing.

[2020-05-19 01:05] MarkDaoust commented on #39599
Hi @bikashkumars, thanks for reporting this.

I've converted this to an internal bug assigned to the page owner (that's a page I can't fix).

I'm closing this as we have the internal bug now.

Thanks.

[2020-05-19 01:05] #39599 closed

[2020-05-19 01:21] brucechou1983 commented on #26297
@impjdi Could you share anything information about why bindBuffer will not be supported in delegate v2? I believe that it improves gpu end to end inference time by eliminating memcpy actions. Does tflite team run into some unresolvable issues or the decision is made only by product requirements?

[2020-05-19 01:33] jsimsa commented on #39623
`repeat` re-executes the input pipeline, if you would like to cache the results of previous repeat iterations, you should use the `cache` transformation.

[2020-05-19 01:39] lxz1104 commented on #37258
Yes

[2020-05-19 01:42] AlucardNosferatu commented on #37258
try this:
[Layer Class](https://github.com/AlucardNosferatu/RCNN/blob/Fast/ROI_Pooling.py)
In line 71:
[Called in Model](https://github.com/AlucardNosferatu/RCNN/blob/Fast/FastRCNN.py)

[2020-05-19 01:58] impjdi commented on #26297
There are many advanced usages of the mobile GPU inference, and for each of those, GPU delegate needs helper functions like `bindBuffer` because it doesn't fit in the delegate framework.  After adding a bunch of support for extended usages either through the helper functions or options, we decided it's no more maintainable with the combinatoric growth and gives an inconsistent look even within the

[2020-05-19 02:01] DollarAkshay commented on #25524
I am getting a different error when trying to use a callback with `mode.fit()`

[code]

[2020-05-19 02:10] fesun commented on #38519
Close this as the PR has been merged.

[2020-05-19 02:10] #38519 closed

[2020-05-19 02:13] dxxd116 commented on #37505
I have the same memory leaking problem with model.fit when using dataset from generator.
Hopefully it will be fixed some time soon.

[2020-05-19 02:15] lxz1104 commented on #37258
Thanks！It works

[2020-05-19 02:15] #37258 closed

[2020-05-19 02:23] chenpengf0223 commented on #39640
@amahendrakar ,
Thansk for you reply, my code is as following, I call "init" once at the begining, and call "run_inference" every frame.
its parameter "cfg" is the default setting.
********************************************************************************************
std::unique_ptr<tflite::Interpreter> interpreter_;
std::unique_ptr<tflite::FlatBufferModel> model_;
TfLiteDelegate* delegate_;

[2020-05-19 02:23] brucechou1983 commented on #26297
@impjdi This information is helpful. Another question is when will MediaPipe delegate v2 integration be released? Thank you.

[2020-05-19 02:25] impjdi commented on #26297
Someone's working on it :)

[2020-05-19 02:39] chenpengf0223 commented on #39640
@amahendrakar ,
I add log in "Invoke", and found that it stuck in function "Status Run() override" (which is in tensorflow/lite/delegates/gpu/cl/api.cc), where it stuck in function "CopyToExternalObject".

  Status Run() override {
    if (gl_interop_fabric_) {
      RETURN_IF_ERROR(gl_interop_fabric_->Start());
    }
    for (auto& obj : inputs_) {
      RETURN_IF_ERROR(obj->CopyFromExternalObjec

[2020-05-19 03:29] wing-yiu commented on #39306
Hi, may I know if there are other text classification models that are compatible with tensorflow lite?

Only https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/1 in the example works.

These do not work
https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/2
https://tfhub.dev/tensorflow/albert_lite_base/1
https://tfhub.dev/tensorflow/albert_en_base/1

[2020-05-19 03:35] mengjiexu opened #39663 "When using tf.keras.Model.predict(), the `batch_size` makes the results different"
The code below is different:
images = np.array([cv2.imread('a.jpg'), cv2.imread('b.jpg')]) / 255.
model = tf.keras.applications.xception.Xception()
model.predict(images,  **batch_size**=1)

and:
model = tf.keras.applications.xception.Xception()
model.predict(images,  **batch_size**=2)

[2020-05-19 03:36] mengjiexu commented on #39663
I have change the BatchNormlization()(x, training=False)

[2020-05-19 03:44] momo1986 commented on #39648
How can I do some configuration to correlate the android-support widget?

Thanks & Regards!
Momo

[2020-05-19 03:48] guotong1988 commented on #24960
Any updates on this?

[2020-05-19 03:53] feature-engineer commented on #39623
`cache` indeed makes this whole run much faster, although there is still a significant run time difference between the TFRecord with 240x240 and the one with 2400x2400.

I have updated my notebook with cache and re-ran it, you can check it out.

[2020-05-19 03:57] Ramkumar47 commented on #38836
Hi, I am also getting the exact same issue, but sorry for not sharing the code as it is on a project.
Is there any solution for this?
i am getting this error when _eager execution_ is enabled, but i can get it to work when it is disabled,
i need _eager execution_ for debugging my code.

[2020-05-19 04:05] heyufei2008 commented on #39407
No, can  not close it yet.

[2020-05-19 04:07] mahesh2996 opened #39664 "tflite_interpreter.invoke() give error for 2 input tensors"
project description:
auto image caption model building using LSTM and ann. and convert  model into tflite model.

problem:
so, in this model we need to give 2 inputs one for image another one for text.
tflite model was created.
when i checking tflite model through input, `tflite_interpreter.invoke()` arise error.

i attached my ipynb link.kindly go through it.
advance thanks for every one.
[Notebo

[2020-05-19 04:33] OverLordGoldDragon opened #39665 "Why is TF 2.2 much slower than TF 2.0?"
Followup to [original](https://github.com/tensorflow/tensorflow/issues/33487); I've benched various configurations per code [here](https://stackoverflow.com/questions/58441514/why-is-tensorflow-2-much-slower-than-tensorflow-1#answer-58653636), and found "Large model on Large data" to perform much worse in TF 2.2 than in TF 2.0 or TF 1.14.0. Code for that particular case, and result plots, below.

[2020-05-19 04:35] MarkDaoust commented on #39454
Thanks @yongtang!

[2020-05-19 04:35] OverLordGoldDragon commented on #33487
[2.2 followup](https://github.com/tensorflow/tensorflow/issues/39665)

[2020-05-19 04:36] amahendrakar commented on #39624
@nicolas-gervais,
The issue you are facing seems to be fixed with the TF-nightly version. I did not face any errors while running the code with TF-nightly and have attached the link for Python notebook below

https://colab.research.google.com/gist/amahendrakar/7c9fd985c3b0e15ee6b1e475b73a54e4/39624-tf-nightly.ipynb

Could you please verify it on your end and let us know if it works. Thanks!

[2020-05-19 04:48] ThewBear commented on #39615
But why generated docs doesn't have `set_weights` and `metrics`? Is it excluded somewhere, or a bug in docs generator.

[2020-05-19 05:12] shkarupa-alex commented on #38872
Yes, it's working now

[2020-05-19 05:22] Saduf2019 commented on #39626
@etenedrac
I ran the code shared and face a different error, please  find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/8e633bb77bfcaff1f6f8aee28e6cd3c0/untitled188.ipynb)

[2020-05-19 05:23] vdouet commented on #38057
It was resolved in bfc8b7cab058402e24219ac1d492a0b8418712e0

I'm closing the issue.

[2020-05-19 05:23] #38057 closed

[2020-05-19 05:26] Saduf2019 commented on #38589
@@viswanath27
Please update on @ ravikyram comment

[2020-05-19 05:31] jvishnuvardhan commented on #38872
I am closing this issue as this was resolved. Thanks for the confirmation.

[2020-05-19 05:31] #38872 closed

[2020-05-19 05:32] rekhat1023 opened #39666 "ImportError: DLL load failed: The specified module could not be found."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-05-19 05:32] anilsathyan7 opened #39667 "New converter in tf 2.2 does not propely convert PReLU operation"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): TF Google Colaboratory
- TensorFlow version (or github SHA if from source): TF 2.2

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please include a link to

[2020-05-19 05:44] #38783 closed

[2020-05-19 05:45] abinashsinha330 commented on #39613
Correct me if I am wrong, I think it would be counted as a new feature since I am requesting an API similar to CuDNNLSTM that we have in keras.
Basically, I am asking if we can expect an APi called CuDNNPhasedLSTM sometime in future?

[2020-05-19 05:57] rohan100jain commented on #34369
I can trace the warning down to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/module/module.py#L338 where we pass in a set() to nest.flatten which triggers the warning. I don't think this is something you need to really worry about. Assigning to Tom who wrote tf.Module

[2020-05-19 06:21] terryheo commented on #39228
TFLite has OpenCL delegate but it's enabled only for mobile devices.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/gpu/cl

Can I assume this is a feature request of OpenCL support for normal Linux machines?

[2020-05-19 06:25] marimomo00 commented on #38525
I checkout the  master, run configure and it got this

[code]

[2020-05-19 06:33] rani-pinchuk opened #39668 "Faulty error message: "InternalError: Failed copying input tensor from" on tf.concat"
The following code:
[code]
Gives the following on my installation:
[code]
On collab I get the correct output:
[code]

**System information**
[code]
Tensorflow installed - a docker container:
[code]
CPU: Intel(R) Xeon(R) CPU D-1518 @ 2.20GHz
GPU:  NVIDIA Corporation GP104 [GeForce GTX 1070 Ti] (rev a1)

The code is obviously incorrect, but the seem-to-be faulty error message makes it very difficult

[2020-05-19 06:34] terryheo commented on #39658
@renjie-liu could you check this?

[2020-05-19 06:36] marimomo00 commented on #38525
I commented out
build --enable_platform_specific_config
in .bazelrc

and run  configure, compile and got

...
C:\tensorflow>bazel build -c opt --config=android_arm //tensorflow/lite/c:libtensorflowlite_c.so
Starting local Bazel server and connecting to it...
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=118
INFO: Reading rc options for 'build' fr

[2020-05-19 06:38] terryheo commented on #39648
Did you run "./configure" script and enabled Android support?
Your .tf_configure.bazelrc file should have a valid Android SDK / NDK configurations.

[2020-05-19 06:38] marimomo00 commented on #38525
The master still does not ask for my android sdk configuration when running ./configure.

[2020-05-19 06:41] marimomo00 commented on #38525
For those who have problem on build under windows like me, you could try to build under linux. It works.

[2020-05-19 06:43] liufengdb commented on #39572
lgeiger, I'm a little bit confused by your example. The patterns used for `tf.matmul(x, a) * c` in your example is different from the issue description, right?

[2020-05-19 06:48] ravikyram commented on #39641
@drunkinlove

I tried in colab with TF 2.1 and i am seeing the below error message.`DecodeError: Error parsing message`.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/ea63e70b4c575517784e60db4664c8a9/untitled903.ipynb)Thanks!

[2020-05-19 06:49] umbrellary commented on #34580
I have this issue too:

go: finding module for package github.com/tensorflow/tensorflow/tensorflow/go/core/core_protos_go_proto
../gopath/pkg/mod/github.com/tensorflow/tensorflow@v2.2.0+incompatible/tensorflow/go/saved_model.go:24:2: module github.com/tensorflow/tensorflow@latest found (v2.2.0+incompatible), but does not contain package github.com/tensorflow/tensorflow/tensorflow/go/core/core_prot

[2020-05-19 06:50] terryheo commented on #39259
Could you confirm that the issue is still happening without your modification of parameters.setFlashMode() ?

[2020-05-19 06:56] Flamefire commented on #39417
@crccw The suggested workaround does not work in neither TF 2.1 or TF 2.2: https://colab.research.google.com/drive/1563oBryExvogSUexRlR64C4nuK52WMR5?usp=sharing

[2020-05-19 06:58] hyc3z opened #39669 "How to hook cuda api in the latest tensorflow?"
I wanted to reimplement cuMemGetInfo and cuMemAlloc for gpu resource limitations, and it worked before, but recently it doesn't work any more:
[code]

then I compile the file using gcc:
`gcc -shared -fPIC malloc_hook.cpp -o malloc_hook.so`

and load my library using LD_PRELOAD, it still gives the unlimited gpu memory.

tensorflow environment:
docker tensorflow/tensorflow:latest-gpu-py3

And run so

[2020-05-19 07:00] luozhouyang commented on #39663
It seems that the inputs of the model are different, because `images` tensor is generated randomly.

[2020-05-19 07:00] hyc3z commented on #39669
When I use some simple samples like use LD_PRELOAD to implement rand():
[code]

[code]

After setting LD_PRELOAD, the "unrandom" program does give 42 every time, so it's probably not a docker issue.

[2020-05-19 07:04] David-Mao commented on #32082
Yes indeed. ping @yongtang

[2020-05-19 07:09] ravikyram commented on #39649
I have tried in colab with TF version 2.1.0 ,2.2.0 and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/5261bff929134c88bd17f6fd57e05c39/untitled904.ipynb).Thanks!

[2020-05-19 07:14] momo1986 commented on #39648
Hello, @terryheo .

I run the configuration script, however, still have the problem.

To be frank, I cannot decide which directory of file path is correct for "com.android.support" corresponding directory under the Android-SDK-Home library.

Here is the presentation of Android-SDK home directory.

![image](https://user-images.githubusercontent.com/34225874/82296148-53c0ed80-99e3-11ea-9872-383a673b

[2020-05-19 07:18] amahendrakar commented on #39652
@pauljohn32,
I am able to access the link you have posted. Could you please try again and check if it works. Thanks!

[2020-05-19 07:24] amahendrakar commented on #39656
@vladimircape,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

Also, please upgrade to the stable version of TensorFlow v2.2 and let us know if you are facing the same issue. Thanks!

[2020-05-19 07:32] chuanli11 opened #39670 "ops.executing_eagerly_outside_functions AssertionError when using train_on_batch with MirroredStrategy and disable_eager_execution"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-05-19 07:33] ravikyram commented on #39462
I have tried in colab with TF version 2.2.0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/3201a4bdecc82391871b4344c79baed2/untitled906.ipynb). Thanks!

[2020-05-19 07:35] ngc92 opened #39671 "Update "Custom Training" section for `Model.train_step`"
## URL(s) with the issue:
https://www.tensorflow.org/tutorials/customization/custom_training
https://www.tensorflow.org/tutorials/customization/custom_training_walkthrough

## Description of issue (what needs changing):
The tutorial for custom training makes no mention of the `train_step` and related methods that have been added to `keras.Model`.

One of these tutorials should have a section and e

[2020-05-19 07:40] hamlatzis commented on #39228
@rodburns regarding comment https://github.com/tensorflow/tensorflow/issues/39228#issuecomment-630113166

TFLite from v1.15 has support for OpenCL through delegates and can be used on mobile and desktop, but if someone wants to add custom ops as far as I understand he/she will have to write OpenCL code.

Is there a version of SYCL that supports TFlite so that you don't have to write OpenCL code fo

[2020-05-19 07:42] wangwenchao-job commented on #39408
@Saduf2019
The model has been sent to you to the above email address.

[2020-05-19 07:47] wangwenchao-job commented on #39408
update
----
In addition, I use the following method to load the savedmodel and export pb, and my ultimate goal is to convert the savedmodel format model into a pb format file (frozen_graph)

`import tensorflow as tf
print(tf.__version__)

from tensorflow.python.framework.convert_to_constants import convert_variables_to_constants_v2

loaded = tf.saved_model.load('saved_model')
infer = loaded.signat

[2020-05-19 07:51] ravikyram commented on #39653
I have tried in colab with TF version 2.1.0, 2.2.0, nightly versions and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/13aaca4ee43e1d7ee23143e4cf8420db/untitled907.ipynb).Thanks!

[2020-05-19 08:01] renjie-liu commented on #39658
Hi,

can you try with the new mlir converter?

We're ensuring the operands have the same scale.

[2020-05-19 08:09] hamlatzis commented on #39228
@terryheo regarding https://github.com/tensorflow/tensorflow/issues/39228#issuecomment-630608530

the delegates workout of the box on the desktop as well, but I've found out all kernels are written using OpenCL and if you want to add new custom ops, you have to write them also using OpenCL.

Any help on using SYCL?

[2020-05-19 08:22] terryheo commented on #39228
Currently we don't support SYCL for TFLite. @hamlatzis  Could you share what's your target devices and why do you want to use SYCL? Can OpenCL solve your issue?

[2020-05-19 08:29] zerollzeng opened #39672 "tflite_convert with --experimental_new_converter=True produce wrong result"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): tf-nightly 2.2.0.dev20200408, master version also has this problem
- TensorFlow version (or github SHA if from source): 2.2.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any

[2020-05-19 08:38] MaratZakirov commented on #39315
This is does not help either, see minimalistic example
[code]

[2020-05-19 08:40] cxyanhk commented on #36611
@daixiangzi Hi. I meet the same problem:
external/org_tensorflow/tensorflow/core/lib/monitoring/BUILD:176:1: C++ compilation of rule '@org_tensorflow//tensorflow/core/lib/monitoring:percentile_sampler' failed (Exit 1) gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer -g0 -O2 '-D_FOR

[2020-05-19 08:45] OverLordGoldDragon commented on #34508
Any progress on this in TF2.2?

[2020-05-19 08:54] muskedunder opened #39673 "AllocateTensors fails in hello world example"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Source
- Tensorflow version (commit SHA if source): 32165792a
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Host

**Describe the problem**
I try to run the hello world example as described on page 92 of the TinyML book

[2020-05-19 09:00] ravikyram commented on #39238
@lordfiftyfive

Request you to share colab lonk or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.I am seeing the below error message.`NameError: name 'x' is not defined`.Thanks!

[2020-05-19 09:15] ravikyram commented on #39205
@Bidski

Will it be possible to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-19 09:20] mysephi commented on #39579
I think there is a little different.
First, the result in eager_train.py should return EagerTensor instead of Tensor.
Second, I rerun these codes on both RTX2080Ti and GTX1060.

- In GTX1060, it gives the result as you showed. The first loss in three train method are same. And the second one varies in same range.
- In RTX2080Ti, it gives the result as I showed you. The results ranges differently.

[2020-05-19 09:30] ravikyram commented on #39666
@rekhat1023

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose)

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here.](https:/

[2020-05-19 09:41] rodburns commented on #39228
At the moment the support is only for TF v1.9 using ComputeCpp, we currently don't have plans for 2.x but there are discussions about how that could happen.

[2020-05-19 09:46] roebel commented on #24496
@samhodge

Yes, I understand if there is a bug it does seem to be triggered by a rather particular situation only.

@odinsbane

thanks, no I had not noticed that. I will see whether manage to compile the most recent version tf2.2.0.

In fact I tried the docker  with tensorflow 2.2, it uses the same version of cuda 10.1 and has the same problem.

[2020-05-19 09:46] rodburns commented on #39228
This is correct. Apologies if there is some confusion. The SYCL implementation we have done relies on OpenCL drivers to ingest the instructions, and this has not been implemented for TFLite. I'm not fully familiar with the OpenCL work done for mobile devices.

[2020-05-19 09:46] rodburns commented on #39228
@Titaniumtown Can you be clearer on your problem please? If you are using TF v1.9 with the SYCL part turned on and are having issues please raise a new issue with details of the problems you are having and tag me, we will try to help you. Please be clear about your environment set up as well.

[2020-05-19 09:51] caffeine-lab opened #39674 "Cloud TPU not connecting"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-05-19 10:02] drunkinlove commented on #39641
@ravikyram The notebook works for me though:
https://colab.research.google.com/drive/1UW1VHp612OtxgQDOv_C71kxfBWZRTZZW?usp=sharing

I suggest verifying the graph.pb file, the one I uploaded should be fine. Here's the checksum (SHA-256):
3f3abe95abff708d8ae05fb27e6389e9d6700255782af8645ada7df2f0332d0c

[2020-05-19 10:10] fused-byte commented on #39574
I am also facing the issue of Out of memory. I am using tensorflow 2.0 and have enabled the allow_growth option.

[2020-05-19 10:11] hamlatzis commented on #39228
@rodburns (https://github.com/tensorflow/tensorflow/issues/39228#issuecomment-630712615)

I'm targeting at the moment Android devices, maybe later move on to iOS. I could do my job writing OpenCL and that's what I'm currently doing, but as I'm not that familiar with OpenCL the work progresses very slowly (_I think a tortoise moves faster_)

I would love to have one codebase in c++ and have the com

[2020-05-19 10:19] Saduf2019 commented on #39667
@anilsathyan7
Please provide complete stand alone code such that we could replicate the issue reported above, the code shared produces different error, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/88e6e8e9140b3707d09f78248d0bc280/untitled187.ipynb)

[2020-05-19 10:19] mengjiexu commented on #39663
I have change the dscription, the images is same, the results is different

[2020-05-19 10:21] lgeiger commented on #39572
@liufengdb Thanks for checking it out. Yes, the example is different on purpose since it uses a subset of the ops of the original example and I thought it might be helpful for debugging to have a smaller graph that reproduces the same issue. Please let me know if the two examples are not related, I am happy to open up a new issue for it.

[2020-05-19 10:27] kriskorrel-cw commented on #37900
Currently, I'm not able to do this. I cannot share my own code, and I have tried twice to replicate the issue with minimal code, but was unable to do so. When I have more time, I will try again with my own codebase, and strip it down as much as possible to get a minimal reproducing snippet.

I was hoping that you could figure out, or point in a direction based on the stack trace, the situation I d

[2020-05-19 10:27] Saduf2019 commented on #39670
@chuanli11
I ran the code shared above on tf 2.2 please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/0d7560831307c0fd1082231651123fef/untitled187.ipynb) and confirm if it replicates the issue reported else please provide complete code such that we could replicate the issue or share a colab gist with the error for us to analyse.

[2020-05-19 10:31] Saduf2019 commented on #39664
@ mahesh2996
Can you please let us know the tensorflow version on which this issue is faced.

[2020-05-19 10:40] Saduf2019 commented on #39629
I am able to replicate the issue faced, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/fe82e574db3f1839b1cd6444d6bd1b19/untitled188.ipynb)

[2020-05-19 10:43] Saduf2019 commented on #39651
@shwoghk14
Please share simple stand alone code for us to replicate the issue faced, or share a colab gist with the error for us to analyse the issue faced

[2020-05-19 10:44] Shubhamai opened #39675 "Infinite Training"
Code is :
[code]

Output is
[code]

Issue:
The model is training infinite it isn't stopping, I also stop running the cell and run the evaluation in test data, it is evaluating for infinite.  I have a total of 15 images in two classes.

I am using tensorflow version `2.2.0` and keras version `2.3.0-tf` and running the code on google colab. Thanks.

[2020-05-19 10:51] ravikyram commented on #39663
@mengjiexu

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-19 11:06] anilsathyan7 commented on #39667
Here is the updated gist:https://colab.research.google.com/gist/anilsathyan7/7187a94a6c5f146f952a8f1149d287a4/untitled187.ipynb

**With new converter:-**
PReLU is split into Neg, ReLU and Mul
![prelu_split](https://user-images.githubusercontent.com/1130185/82318550-ac958380-99ed-11ea-8637-c3fb2a008ea9.png)

**With old converter:-**
We are able to convert PReLU properly
![prelu_expected](https://us

[2020-05-19 11:09] ravikyram commented on #39675
@Shubhamai

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-05-19 11:12] mfiro commented on #39675
I am experiencing the same thing. I wasn't sure if it is an expected behaviour, because using steps_per_epoch in fit method solves the issue.

[2020-05-19 11:33] shwoghk14 commented on #39651
I was added code that take weird actions.

Thanks.

[2020-05-19 11:41] amahendrakar commented on #39665
@OverLordGoldDragon,
Running the given code on Google Colab takes around 400 seconds per iteration.

Could you please provide a minimal code sample to reproduce the issue reported here. Thanks!

[2020-05-19 12:05] birolkuyumcu opened #39676 "form keras part recurrent_dropout causes a exploding loses"
recurrent_dropout promotes exploding losses
https://github.com/fchollet/deep-learning-with-python-notebooks/issues/127
https://github.com/fchollet/deep-learning-with-python-notebooks/issues/52

same problem with  Tensorflow :  2.0.0 and  Keras :  **2.2.4-tf**

https://github.com/tensorflow/tensorflow/issues/35724#issuecomment-582712923

when recurrent_dropout is zero there is no problem

[2020-05-19 12:36] RaibekTussupbekov opened #39677 "[TF 2.2 API docs] tf.keras.applications.resnet_v2.preprocess_input docs Returns paragraph is misleading"
[https://www.tensorflow.org/api_docs/python/tf/keras/applications/resnet_v2/preprocess_input](url)
The documentation says in the 'Returns' paragraph that

However, according to [the function definition](https://github.com/tensorflow/tensorflow/blob/2b96f3662bd776e277f86997659e61046b56c315/tensorflow/python/keras/applications/resnet_v2.py#L125-L139) it's not true anymore  since the **mode parameter

[2020-05-19 12:43] qipengh commented on #37428
but I try, and error as follow:
file".../tensorflow_core/python/ops/variables.py",line 1663, in __init__

   self.distribute_strategy = distribute_strategy

NameError:global name 'distribute_strategy' is not defined

How can i solve this question? thank you

在 2020-05-18 23:56:23，"pks" <notifications@github.com> 写道：

Try

tf.compat.v1.disable_v2_behavior()
tf.compat.v1.disable_eager_execution()

—

[2020-05-19 12:59] bapos opened #39679 "tf.keras.callbacks.ModelCheckpoint only saves weights although save_weights_only=False"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, although very minimal
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 16.04.5 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
Plain pip install
- Tensor

[2020-05-19 13:07] amahendrakar commented on #39668
@rani-pinchuk,
The difference in the error log is due to the TensorFlow version.

On running the code with [TensorFlow CPU](https://colab.research.google.com/gist/amahendrakar/500f35afe24c6e913761de3b6713cff5/39668-2-2.ipynb) the error is `InvalidArgumentError: cannot compute ConcatV2 as input #1(zero-based) was expected to be a float tensor but is a string tensor [Op:ConcatV2] name: concat`

Wher

[2020-05-19 13:15] SchJens opened #39680 "TF 2.2: Build failure on Win10 (Bad address issue)"
Dear experts,

I am trying to compile Tensorflow 2.2.0 from source on a Win 10 system, including GPU support. My actual goal is compile the dll (but I tried to build the pip package as well and it does not seem to make a difference for this issue). I have been following the instructions on the official website (https://www.tensorflow.org/install/source_windows) as closely as possible, and have sta

[2020-05-19 13:15] tantheta01 opened #39681 "Colab Runtime Crashes training on musdb18"
**System information**
- Have I written custom code :Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Using Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary):Source
- TensorFlow version (use command below):2.0
- Python version:3.6

I have built an audio separation model and am

[2020-05-19 13:33] fused-byte commented on #30770
@jvishnuvardhan, If this input_shape is such an important aspect in writing the model architecture then it should be added in the documentation. The current documentation doesn't even include this as an optional parameter. Neither does the tutorial example mentions this.

And I wrote a small piece of code to check it myself and without providing input_shape I am able to get proper output shape in

[2020-05-19 13:35] wwdok commented on #27278
Then when will control flow ops be add in tflite ？ I tried tf1.15，it seems still the same. If it will be add in tf 2.x, another problem is `TFLiteConverter` does not supprt `from_frozen_graph`, isn't ?

[2020-05-19 13:45] JunyiXie opened #39682 "Please Providing tensorflowLite dynamic library for iOS platform."
Please Providing tensorflowLite dynamic library  for iOS platform.

[2020-05-19 13:58] JIMonroe commented on #37581
Has there been any progress on this?  Or an explanation?  I would be satisfied with just updating the documentation and discussion at the link I provided in order to convey why differences occur with the different training routines.  If the loss function with the fit() method is by default modified in some way, the user should be notified of this.

[2020-05-19 14:02] Saduf2019 commented on #39643
@tanguycdls
Can you please refer to these links for the value error faced in your gist:[
link](https://stackoverflow.com/questions/51746179/valueerror-cannot-reshape-a-tensor-with-99872-elements-to-shape-1-125-1-8) [link1](https://www.dotnetperls.com/reshape-tensorflow) and for the invalid argument please refer to: [link](https://stackoverflow.com/questions/58609967/tensorflow-2-0-condition-x-y-di

[2020-05-19 14:07] Saduf2019 commented on #39654
@zredlined
Can you please share simple stand alone code to replicate the issue or if possible share a colab gist for us to a analyse the error

[2020-05-19 14:09] yaysummeriscoming commented on #38852
@Maratyszcza thanks for the tip. I did some tests and found that XNNPACK was able to meet or exceed openVino's performance. Very impressive!

[2020-05-19 14:10] Saduf2019 commented on #39639
@sondracek
I ran the code shared by you, please find the [gist for tf 2.1](https://colab.sandbox.google.com/gist/Saduf2019/91f6910ea8824e1a85bd5d9f13c107e2/untitled188.ipynb) and [tf 2.2](https://colab.sandbox.google.com/gist/Saduf2019/35c683e26a6d1b5347fab54b21a97395/untitled187.ipynb) and let us know if this confirms your issue.
If any data is missing please share all dependencies.

[2020-05-19 14:10] tanguycdls commented on #39643
@Saduf2019 thanks for your message !

my point is not the actual errors (that i produced on purpose): its that for the same input predict yields to an error the assert_same_batch_size error and predict_on_batch breaks later in `ValueError: Cannot reshape a tensor with 10`.
I think its odd that predict and predict_on_batch does not yield to the same error being caught for the same input.

[2020-05-19 14:11] Saduf2019 commented on #39603
@nullbyte91
Yes please share all dependencies or if possible share a colab gist with the error faced for us to analyse

[2020-05-19 14:16] Saduf2019 commented on #39643
I am able to replicate the issue reported please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/4abf0d96e9e3d11b30e74dcc98a959cc/untitled189.ipynb)

[2020-05-19 14:17] Ceceu opened #39684 "How to create an NLP pipeline in Tensorflow 2 in a simple and efficient approach?"
Using a `TorchText` to create a NLP pipeline is simple as one, two, three:

[code]

This is what you expect from a Deep Learning framework in which you don't need a lot of coding simply to prepare the data for each new project.

Is there anything similar in Tensorflow 2?

[2020-05-19 14:18] amahendrakar commented on #39681
@tantheta01,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here along with the dataset you are using. Thanks!

[2020-05-19 14:22] amahendrakar commented on #39674
@caffeine-lab,
In order to expedite the trouble-shooting process, could you please provide a minimal code sample to reproduce the issue reported here. Thanks!

[2020-05-19 14:23] nikhilg108 opened #39685 "Unable to import Tensor Flow - Windows10"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2020-05-19 14:25] orangesomethingorange commented on #39118
I didn't mention it's a high definition image, my bad.
It results in memory issues, and it's not related to this issue, but yes - I actually am using ByteBuffer, thanks.

[2020-05-19 14:37] amahendrakar commented on #39685
@nikhilg108,
Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) from a similar issue and let us know if it helps. Thanks!

[2020-05-19 14:46] wangwenchao-job opened #39686 "Unresolved external symbol C ++ version"
## Operating environment
windows 10
vs 2019
tensorflow 2.1 C++

## error
Compile the C ++ version of tensorflow 2.1, and report unresolved external symbols when using it
![image](https://user-images.githubusercontent.com/57739867/82340969-6c042d00-9a22-11ea-9e77-a8778c52b04e.png)

## my code
#include <sstream>
#include <iostream>

#include "tensorflow/cc/ops/standard_ops.h"
#include <tensorflow/co

[2020-05-19 15:02] CuiYifeng commented on #39632
Platform: CentOS 7 (Linux version 3.10.0-957.el7.x86_64)
TensorFlow version: 2.3.0.dev20200513 (actually including TF built from master branch within the last month at least)
TensorFlow-io version: 0.13.0.dev20200515155704

How to reproduce:
`python`
`import tensorflow_io as tfio`

Then we can see error log as the following:
NotImplementedError: unable to open file: libtensorflow_io.so, from paths

[2020-05-19 15:10] abhinavsp0730 opened #39687 "Getting error while making a custom layer"
[code]
While executing the above code I'm getting the below error.
[code]

[2020-05-19 15:12] ckiwun commented on #39658
Hi,

Appreciate for your reply.

I'm using flatbuffer_translate --tflite-flatbuffer-to-mlir to convert my .tflite to tflite .mlir, with the git hash I specified above (dated at May 7th). Do you mean there's recent hash that happen to fix this problem? Or there's other tool I should use to do this conversion?

[2020-05-19 15:16] orangesomethingorange commented on #39118
@jdduke maybe this would better explain the issue:

I created an Android project from scratch and tried to build the C / C++ source files.

### steps to recreate:

1. created an Android Studio Native C++ project
2. created basic C/C++ source files and headers directory structure in `app/src/main/cpp` and put the (A) **tensorflow**, (B) **absl** and (C) **flatbuffers** files there, so now it looks

[2020-05-19 15:25] zredlined commented on #39654
@Saduf2019 It is not an error, the code just does not efficiently leverage the GPU by default and I'm hoping to find some advice on speeding it up. You can run the colab here:

https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/text/text_generation.ipynb

The line I'm hoping to speed up is in the generate_text() function above:
      predictions = model(input_ev

[2020-05-19 15:44] wwdok opened #39688 "Wrong with converted tflite model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows10
- TensorFlow installed from (source or binary):pip install
- TensorFlow version (or github SHA if from source):1.13.1
 I downloaded [ssd_mobilenet_v2_quantized_coco](http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03.tar.gz) and tried to convert it to tf

[2020-05-19 15:47] Korrakas commented on #38589
Hello there,
I encoutered the same issue and final comment by @NMazzatenta helped with a little twist:
1) I checked in lib/python3.7/site-packages/tensorflow/python/framework/ops.py at correct line to get the right type (in my case, simply core_tf_types.Tensor)
2) I modified lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py with the correct type, which also necessitated of importing

[2020-05-19 15:49] sondracek commented on #39639
The first gist (tf 2.1) is right, it raises ValueError as I would expect.
But the second gist is not right (not sure what is the error about). When I run the same code (from your gist) for tf 2.2, it's running without any issues: [gist for tf 2.2](https://colab.research.google.com/gist/sondracek/fbfc8c39c36e146a959e60d26e328d06/untitled187.ipynb)
Thank you for your help!

[2020-05-19 15:52] akarmi commented on #39014
@Kevinpsk , can you please re-test using tf-nightly, the [recent commit](https://github.com/tensorflow/tensorflow/commit/fe40ddcc5e8dd3425d55b7d44fbdba3d83ea8108) may have resolved the problem.

[2020-05-19 15:53] JunyiXie commented on #39644
@amahendrakar

[2020-05-19 15:54] mihaimaruseac commented on #39686
Please:

1. fill in issue template
1. minimize your code to only have the needed lines to reproduce the issue
1. use proper markdown formatting around code and error blocks so it is readable

[2020-05-19 15:54] mihaimaruseac commented on #39685
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

Just to sample over 100 similar issues: #36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

Please make sure you do a search in the future.

[2020-05-19 15:54] #39685 closed

[2020-05-19 15:55] mihaimaruseac commented on #39680
Most likely this is some llvm issue, not a TF one.

[2020-05-19 15:56] mihaimaruseac commented on #39665
Can you compare tf-nightly? So we can test master code

[2020-05-19 15:56] mihaimaruseac commented on #39666
Closing as duplicate and no issue template filled

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

Just to sample over 100 similar issues: #36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

Please make sure you do a search in the future.

[2020-05-19 15:57] #39666 closed

[2020-05-19 15:59] yongtang commented on #32082
Looks like the PR was rolled back at some point in 1d5fb46b89611b95c8fda8f2f3d597d88455f5f2 , will take a look and see if I can resubmit.

[2020-05-19 16:02] impjdi commented on #39640
Correct me if I'm wrong, but based on

[code]

I assume you're not using it on a mobile device.  Unfortunately, we don't have experience with other platforms, and is probably out of scope for our support.

[2020-05-19 16:11] SchJens commented on #39680
Actually I don't think it is llvm-related. As I wrote above, I am getting this kind of errors during compilation of all kinds of rules, seemingly at random. For example, I just got:

[code]

So I believe part of the build toolchain has a problem, but I have no idea which part. Has anyone ever seen something like this or could give me a hint how to progress in debugging?

[2020-05-19 16:13] rgbarishian commented on #38558
I found the error in my code. @Ringhu  may have the same error.
When importing MobileNet, I did not give input_shape after setting include_top to False. After adding that kwarg, error no longer occurs

[2020-05-19 16:19] omalleyt12 commented on #37968
Thanks for the issue! This should be fixed in 2.2

[2020-05-19 16:19] #37968 closed

[2020-05-19 16:28] arun-sl commented on #39620
Hello All,

For the issue I have raised, the logs were as follows:

 Loading library to get version: libhdf5.so
  error: libhdf5.so: cannot open shared object file: No such file or
directory
  ----------------------------------------
  ERROR: Failed building wheel for h5py

This happened while doing following:

pip3 install
/home/riscv/tensorflow_pkg/tensorflow-2.2.0-cp38-cp38-linux_riscv64.whl

I

[2020-05-19 16:45] Ben-Epstein opened #39689 "Unclear Documentation for Keras SavedModel format"
In the [documentation](https://www.tensorflow.org/guide/keras/save_and_serialize#savedmodel_format) for keras for saving a model, it states that you can save a model in a SavedModel format by passing in a name for a directory. This creates a directory with a pb file and 2 other folders containing assets and weights.

This doesn't seem to me to be a true SavedModel format as it's not a single pb fi

[2020-05-19 16:45] jvishnuvardhan commented on #39014
@Kevinpsk Agree with @akarmi . This looks like resolved in `tf-nightly`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/b476c5f0c719cc494ca05f6058608020/untitled150.ipynb).

Can you please verify once and close the issue? Thanks!

[2020-05-19 17:00] vnvo2409 commented on #39620
@arun-sl
maybe you could take a look
https://github.com/h5py/h5py/issues/1461

[2020-05-19 17:19] etenedrac commented on #39626
Hi @Saduf2019,
I forgot to mention that in order to run that snippet you had to install tensroflow quantum:
[code]
[Here](https://colab.research.google.com/gist/etenedrac/2d91149c34cf476e07308864209508f3/untitled188.ipynb) you have the updated gist, which shows the error previously mentioned. Although I installed that package, it is not used at the point in which the error occurs

[2020-05-19 17:23] qlzh727 commented on #39542
Done. Created https://github.com/tensorflow/hub/issues/596, and closing this issue for now.

[2020-05-19 17:23] #39542 closed

[2020-05-19 17:29] yakovdan commented on #39382
I did as you suggested. Now I have a bunch of error of the following form:
tensorflow/lite/experimental/delegates/hexagon/hexagon_delegate.cc:231: error: undefined reference to 'tflite::HexagonDelegateKernel::InitState()'

I went ahead and manually built all the dependent libs and added them statically. This works. Is there a better way?

[2020-05-19 17:32] abhinavsp0730 commented on #39687
Hey, @Saduf2019 any idea why this is causing?

[2020-05-19 17:42] yakovdan commented on #39382
Also, I need to switch the target from armeabi-v7a to arm64-v8a. What should I do except recompile the libs for arm64?

[2020-05-19 18:00] jvishnuvardhan commented on #39552
@vinodganesan Can you please create a standalone code to reproduce the issue? what are the sizes of your model (that you converted) and the hosted model? Are they both full integer quantization or float quantization models? Thanks!

[2020-05-19 18:06] roumposg commented on #39332
Thanks for your comment. The reason we did that is to be consistent with the previous implementation for RNN `tf.contrib.seq2seq.BahdanauAttention`. The main difference is the weight matrices W1 and W2 in the [scores](https://www.tensorflow.org/tutorials/text/nmt_with_attention#write_the_encoder_and_decoder_model), right? You can do that by including two Dense layers before the Attention layer.

[2020-05-19 18:14] #39238 closed

[2020-05-19 18:16] chuanli11 commented on #39670
@Saduf2019 Thanks for looking into this.
* This is the [gist](https://colab.research.google.com/drive/1GHl4xSQCidFNZOgwkC5FPm52y6voiweq?usp=sharing) that reproduces the error. One need to choose GPU accelerator in the runtime setting.
* This is the [gist](https://colab.research.google.com/drive/1StQwZ8S9BBTtbiVDvHxcEO7f-lRn4Zzn?usp=sharing) that successfully run without `disable_eager_execution`
*

[2020-05-19 18:20] jvishnuvardhan commented on #27278
@wwdok You can use it in TF2.x as `tf.compat.v1.lite.TFLiteConverter.from_frozen_graph`.

[2020-05-19 18:23] gavinlive commented on #12911
Has anyone had issues with this since? I'm having results reproducibility issues using `tf.gather` with TF2.2-stable. I have set all seeds and turned TF_DETERMINISTIC_OPS=1

[2020-05-19 18:28] ahmedalesh commented on #39564
@daverim thanks a lot that seems to help using tf-nightly, I would be closing the issue now.

[2020-05-19 18:28] #39564 closed

[2020-05-19 18:51] lamberta commented on #39671
I don't think we need to update the entire site, but seems like a useful thing to add to the Keras guide, at least: https://www.tensorflow.org/guide/keras/overview

[2020-05-19 19:01] leeyeetonn opened #39692 "tf.lite.experimental.load_delegate throws exception with try except block"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-05-19 19:16] ichenjia commented on #39332
The weight is one issue, which as you mentioned can be resolved easily with Dense layers. I have bigger issue with the way you calculate the score.

The paper's formular is:

`score(st,hi)=v⊤ tanh(Wa[st;hi])`

As you can see, they are concating st and hi. But in  your implementation, you added the q and k together:

`math_ops.reduce_sum(
        scale * math_ops.tanh(q_reshaped + k_reshaped), axis

[2020-05-19 19:25] reedwm commented on #39054
This looks like a CUDA issue, since I can also reproduce in PyTorch:

[code]

Running either the TF or PyTorch version with the enviornmental variables `CUDNN_LOGINFO_DBG=1 CUDNN_LOGDEST_DBG=stderr` to enable logging, I see it crashes right after the log that shows conv2d is running with the algorithm `CUDNN_CONVOLUTION_FWD_ALGO_IMPLICIT_PRECOMP_GEMM`. I can also reproduce with CUDA 11.

@nluehr,

[2020-05-19 19:47] samhodge commented on #39439
@gunan Do you have anyone working on this?

[2020-05-19 19:48] pedromspereira opened #39693 "Trying to run l08c09_forecasting_with_cnn.ipynb on spyder: "WARNING:tensorflow:AutoGraph could not transform <function seq2seq_window_dataset.<locals>.<lambda> at 0x0000024D6C641D38> and will run it as-is.""
**System information**
- I am using a stock example script provided in Google Colab
https://colab.research.google.com/github/tensorflow/examples/blob/master/courses/udacity_intro_to_tensorflow_for_deep_learning/l08c09_forecasting_with_cnn.ipynb#scrollTo=PgYwn9VM8OJi

- OS Platform and Distribution: Windows 10

- TensorFlow installed from (source or binary): installed using pip
- TensorFlow version

[2020-05-19 20:02] sushantag9 commented on #39689
Though `model.save() or tf.keras.models.save_model()`
creates a folder containing model file along with assets and variables folder. This is the new and updated method of saving the model.
This saves the complete model including the weights, optimizer info and the information used using the compilation of model.
But,
you can save it in a singhle file by using
`model.save('model_name',format='h5')

[2020-05-19 20:02] jdduke commented on #38525
Does this build command work for you?
[code]

It's possible that some of the intermediate build targets require some amount of host (MSVC) compilation, in which case you would need to configure bazel accordingly.

[2020-05-19 20:07] roumposg commented on #39332
We followed eq (4) from the [encoder and decoder model](https://www.tensorflow.org/tutorials/text/nmt_with_attention#write_the_encoder_and_decoder_model). As you say, in the initial paper by Bahdanau et al, they use a feed-forward neural network to calculate the scores. But we did not implement that method.

AFAIK, newer models, Transformer, BERT etc, all use the dot-product attention, so we did n

[2020-05-19 20:10] qlzh727 commented on #39613
I think PhasedLSTM or its Cudnn implementation are widely used like normal LSTM and GRU. This means we won't contain them in the core Keras API.

Alternatively you can propose this request to tensorflow/addons repository, which is the place for hosting additional APIs that is not in Keras or TF API.

[2020-05-19 20:10] #39613 closed

[2020-05-19 20:16] sushantag9 commented on #39681
@tantheta01
The colab has a memory restriction while training on larger data or very deep models, so try using the data loaders/generators which loads the data in batches during training, testing and validation.
**This helps a lot in keeping colab notebook from crashing**
You can refer to the documentation [Data Generators](https://keras.io/api/preprocessing/image/#image-data-preprocessing)

You n

[2020-05-19 20:18] Kevinpsk commented on #39014
Hi @akarmi and @jvishnuvardhan, thanks a lot for reminding me. Yes this bug has been fixed, and I am closing down this ticket now.
Cheers

[2020-05-19 20:18] #39014 closed

[2020-05-19 20:22] Ceceu opened #39694 "TextLineDataset could be more expressive"
TextLineDataset could be more expressive. For instance, it could have more arguments like:

[code]

It would also be incredible if there was a way to indicate how to tokenize each of the fields.

[2020-05-19 20:34] blakesplay commented on #24496
Thought this was a windows only problem so I installed an ubuntu environment from scratch, only to find out it's my graphics card (RTX 2080) that is the issue.  Unfortunately I think I'm going to select a different machine learning platform due to this issue, since this seems to have been a problem since 2018.

[2020-05-19 20:39] ichenjia commented on #39332
you are right that the newer models all used dot product or scaled dot product. But since your documentation specifically mentioned it is Bahdanau's model, I thought you'd adhere to  the original score calculation. Maybe the solution is to point this out in the documentation?

[2020-05-19 20:39] ngc92 commented on #39671
sorry I wasn't very specific, with update I mainly meant "add a section (and example) to"; I've updated the issue to make that clearer

[2020-05-19 20:47] qlzh727 commented on #39631
I think what TimeDistributed does is that it slide the inputs based on timestep, and feed each timestep one by one to the wrapped layer. Note that when feeding multiple input to a dropout layer, each of them will get different dropout mask, which is aligned with current behavior.

If you want to apply same mask across time steps, what you can do is just using one dropout layer, but with noise_shap

[2020-05-19 20:47] #39631 closed

[2020-05-19 21:03] Ben-Epstein commented on #39689
@sushantag9  `model.save('model_name.pb')` does not save a single pb file. It creates a folder `model_name.pb` that contains the same contents.

And h5 is considered old and not recommended by the [Tensorflow Docs](https://www.tensorflow.org/guide/keras/save_and_serialize#whole-model_saving_loading)

Is there not a way to create a single protobuf file from a keras model?

[2020-05-19 21:10] sushantag9 commented on #39689
# Save to ./model/tf_model.pb `
tf.train.write_graph(frozen_graph, "model", "tf_model.pb", as_text=False)`
In TF 2.0 there is no way to save it directly to a single file.
The above code can be used to save the graph but by using older version of TF

[2020-05-19 21:36] vincentmirian-xlnx commented on #39617
Thank you for your reply Mihai.

[2020-05-19 21:41] angrysword commented on #6698
This one works for me.
physical_devices = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], True)

[2020-05-19 21:43] samhodge commented on #24496
Did you observe how much memory was in use by using watch on nvidia-smi while you process was running with an interval of 50 ms?

See this fix that worked for other people

https://github.com/tensorflow/tensorflow/issues/24496#issuecomment-497202806

[2020-05-19 21:48] OverLordGoldDragon commented on #39665
@amahendrakar Did you use the GPU backend? Runs fine for me

[2020-05-19 21:52] ymodak commented on #39662
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-05-19 21:52] #39662 closed

[2020-05-19 21:55] jvishnuvardhan commented on #39672
@zerollzeng This is interesting. Can you please provide a standalone code to reproduce the issue? Thanks!

[2020-05-19 22:01] karimnosseir commented on #39382
Using shared library is easier. You will need to load the .so file and call the needed functions.

[2020-05-19 22:02] ymodak commented on #39644
I don't think we support TF Lite python api for iOS platform yet. Perhaps this can be a feature request.

[2020-05-19 22:08] ymodak commented on #39589
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-05-19 22:08] #39589 closed

[2020-05-19 22:16] bhack commented on #31052
Can we close this?

[2020-05-19 22:32] ymodak commented on #39568
You can specify multiple inputs and outputs in dictionary of string to tensor.
See https://www.tensorflow.org/api_docs/python/tf/compat/v1/saved_model/predict_signature_def
[code]

[2020-05-19 22:37] ymodak commented on #31052
Closing this issue since the associated PR has been merged. Thanks!

[2020-05-19 22:37] #31052 closed

[2020-05-19 22:41] roumposg commented on #39332
You are right, maybe we should not mention Bahdanau in the documentation, or we should point to a better reference, or both. Thanks for pointing it out.

[2020-05-19 22:45] OverLordGoldDragon commented on #39665
@mihaimaruseac tf-nightly plots for 100 iterations (200 is lengthy); the Eager numbers are nicer per being biased by the initial 'warmup' - but strangely enough, Graph is worse now, though this might be due to me taking less time between successive tests this time around (I did Eager first). Either way, still much slower than TF 2.0.

![image](https://user-images.githubusercontent.com/16495490/823

[2020-05-19 23:01] captify-dieter commented on #27519
Having the same issue with TF 2.2.0 when using tensorflow hub. `executing_eagerly` returns True, but outputs no attribute error

[2020-05-19 23:09] ymodak commented on #39503
I tried with TF 2.2 version and got 32X speed up.
Please upgrade to latest TF version as we are continuously monitoring it and you can expect bug/performance improvements in newer TF versions.
Unfortunately we are not accepting changes to TF 1.X unless they are security fix related issues.
Thanks!

[2020-05-19 23:31] samhodge commented on #24496
here is a related post from 4 years ago.

https://stackoverflow.com/questions/34199233/how-to-prevent-tensorflow-from-allocating-the-totality-of-a-gpu-memory

[2020-05-19 23:33] adriangb commented on #36074
@oxqfsyef Please check out this wrapper package, I think it should fix your issue: https://pypi.org/project/scikeras/
https://github.com/adriangb/scikeras

[2020-05-19 23:52] samhodge commented on #24496
Or you can read the friendly manual:
https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth

[2020-05-19 23:54] samhodge commented on #24496
So you can do the patch without touching the code just by altering your runtime environment.

`Another way to enable this option is to set the environmental variable TF_FORCE_GPU_ALLOW_GROWTH to true. This configuration is platform specific.`

[2020-05-20 00:26] #39103 closed

[2020-05-20 00:53] jsimsa commented on #39197
Why not use the method suggested by the [official documentation](https://www.tensorflow.org/api_docs/python/tf/data/experimental/TFRecordWriter)?

[2020-05-20 00:54] settle commented on #37985
I managed to successfully build a devel-cpu Dockerfile for aarch64 and submitted the necessary changes as PR #39695

[2020-05-20 00:58] settle commented on #36672
In case anyone is interested, I managed to build a devel-cpu docker images on my raspberry pi 4, see PR #39695 .  It's a good start for trying to natively build tensorflow on device.

[2020-05-20 01:38] ned2 commented on #39453
I'm also seeing this same error that I can confirm is triggered by the combination of cuDNN + LSTM + masking.

Bisection reveals that this regression was introduced in `2.2.0rc2`

[2020-05-20 01:48] heyufei2008 commented on #39407
Hi Yasir
I think this is in a dangerous direction by adding TF_EXPORT to some functions.
What's your official solution to fix this issue completely?
Thanks

John

[2020-05-20 01:58] zerollzeng commented on #39672
@jvishnuvardhan  do you mean the inference code of saved_model and tflite?

[2020-05-20 02:04] cxyanhk opened #39696 "Different SHA256 for mkl_dnn"
in [tensorflow/workspace.bzl](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl):
`tf_http_archive(
        name = "mkl_dnn",
        build_file = clean_dep("//third_party/mkl_dnn:mkldnn.BUILD"),
        sha256 = "31e78581e59d7e60d4becaba3834fc6a5bf2dccdae3e16b7f70d89ceab38423f",
        strip_prefix = "mkl-dnn-0.21.3",
        urls = [
            "https://storage.goog

[2020-05-20 02:10] zerollzeng commented on #39672
let me just put some pre-processing code and post-processing code here, which should help how to get the output with the model I uploaded
[code]

[2020-05-20 02:19] jsimsa commented on #39623
You need to run one epoch worth of data to populate the cache before you start timing things.

Get rid of the trailing `repeat()` and do:

[code]

I would expect there to be no difference in runtime at that point.

[2020-05-20 02:54] heyufei2008 commented on #39407
I still have 2 unresolved external symbols:

unresolved external symbol "public: __cdecl tensorflow::ops::Placeholder::Placeholder(class tensorflow::Scope const &,enum

unresolved external symbol "public: __cdecl tensorflow::ops::Cast::Cast(class tensorflow::Scope const &,class tensorflow::Input,enum tensorflow::DataType

Where can I find the 2 functions ?

[2020-05-20 02:58] ravikyram commented on #39689
@Ben-Epstein

Please, go through the[ link](https://www.tensorflow.org/tutorials/keras/save_and_load#save_the_entire_model) and see if it helps you.Thanks!

[2020-05-20 03:01] BlueFisher opened #39697 "Weird block of RNN in TF2.2"
**System information**
This bug exists in TF v2.2.0-rc4-8-g2b96f3662b 2.2.0 and on windows, linux, both CPU and GPU version. However, it does not exist in TF 2.1.

**Describe the current behavior**
Just check the code
[code]

The code will block in `test`, and the memory will grow unlimitedly.

The code will also block if `GRU` is replaced by `LSTM`. But it will run well if it is `SimpleRNN`.

Thi

[2020-05-20 03:02] qlzh727 commented on #39453
Seems to be a cudnn kernel issue, which might be related to https://github.com/tensorflow/tensorflow/issues/33148.

Adding @kaixih from Nvidia side for more insights.

[2020-05-20 03:09] Ben-Epstein commented on #39689
@ravikyram  Thank you for the link. That's the source of my confusion, is it possible to save the model as a single .pb file? It seems like it must be a directory.

[2020-05-20 03:26] absorbguo commented on #25282
this works for me too.  env : running  in docker env, tf==1.14.0, python==3.6.8

[2020-05-20 03:36] renjie-liu commented on #39658
I mean using the new converter to convert the tflite model directly, if you're using the python TFLiteConverter API, that should be set to true on default for tf2.2

[2020-05-20 03:48] ravikyram commented on #39697
I have tried in colab with TF version 2.1 , 2.2 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/48ae035e8dd66abf4ea0350827b5cc29/untitled910.ipynb).Thanks!

[2020-05-20 03:57] BlueFisher commented on #39697
@ravikyram 👍

[2020-05-20 03:57] SpongeBob-222 opened #39699 "why the pb model(saved by keras API) structure is so complicated？"
Hi, I use keras API to save my model in pb format, but the model structure is so complicated!
![image](https://user-images.githubusercontent.com/11664658/82403250-f84d3900-9a90-11ea-92ad-5d2965c16328.png)

On the contrary, if I save the model in h5 format, the model structure is very simple, which is exactly what I want.
![image](https://user-images.githubusercontent.com/11664658/82403218-e4a1d280

[2020-05-20 04:17] Saduf2019 commented on #39626
@etenedrac
I ran the code shared and face a different error, please share all dependencies or a colab gist if possible for us to analyse the error.
Please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/c1010782057684a265c645caea2b62b9/untitled190.ipynb)

[2020-05-20 04:23] bparr opened #39701 "GatherV2Grad prints a deprecation warning"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow installed from: binary (from pip)
- TensorFlow version: 2.2.0
- Python version: 3.7

**Describe the current behavior**

GatherV2Grad prints a deprecation warning when used. The warning is from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_grad.py#L64

[2020-05-20 04:24] Saduf2019 commented on #39687
@abhinavsp0730
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2020-05-20 04:25] Saduf2019 commented on #39676
@birolkuyumcu
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue t

[2020-05-20 04:32] y31101996 commented on #39670
Hi,
I am using a GAN model on environment Tensorflow 2.0 + CUDA 10.0 + cuDNN 7.6.5
and I have encountered the same issue
but neither two suggestions solve my problem

Before using `MirrorStrategy`
my code can work fine under both eager execution and lazy execution

After I add `MirrorStrategy`

- with eager execution
it causes following error on the line with `train_on_batch`
`TypeError: Variable

[2020-05-20 04:32] subash143 commented on #26295
Have you tried tf.cast(x, dtype=tf.int32)?

[2020-05-20 04:36] Saduf2019 commented on #39684
@Ceceu
Please check these links for reference [link](https://towardsdatascience.com/best-practices-for-nlp-classification-in-tensorflow-2-0-a5a3d43b7b73) [link1](https://cs230.stanford.edu/blog/datapipeline/) [link2](https://stackoverflow.com/questions/59177925/tensorflow-how-to-build-efficient-nlp-pipeline-using-tf-dataset)

This question is better asked on [StackOverflow](http://stackoverflow.co

[2020-05-20 04:36] #39684 closed

[2020-05-20 04:39] Saduf2019 commented on #39692
I am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/ac3dd9b17766586f192533578fd101c0/untitled190.ipynb)

[2020-05-20 04:47] Saduf2019 commented on #39269
I am able to replicate the issue reported, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/1ae9894150b4bb7f1ac95d8d33846ef7/untitled191.ipynb)

[2020-05-20 04:50] tantheta01 commented on #39681
@sushantag9
I had seen Data Generators earlier but I couldn't figure out how to use them for audio datasets.
My dataset is composed of mp4 files and I extract wav audio files from it for training.
Could you please suggest how to use the Data Generators for this purpose

[2020-05-20 04:53] Saduf2019 commented on #39651
@shwoghk14
I ran the code shared , please refer to [this gist](https://colab.sandbox.google.com/gist/Saduf2019/bcbf7c557ffd275a7a57fc3bbc5d65ba/untitled191.ipynb) and let us know if it confirms your issue

[2020-05-20 04:54] ravikyram commented on #39694
@Ceceu

Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-05-20 04:57] LikhithaG commented on #16768
Even I got the same problem while working on NVIDIA Tegra X1 (nvgpu)/integrated and it has 62GB of memory

[2020-05-20 05:06] chuanli11 commented on #39670
@y31101996, thanks for sharing the information.
For the record, I wasn't proposing suggestions. My examples are extra context and I hope someone can educate me what is going on here.

[2020-05-20 05:10] tantheta01 commented on #39681
@amahendrakar
https://colab.research.google.com/drive/1PbjaZHC7S2ot-8sYDVr6_SRCRxy-5Zwa?usp=sharing
This is my colab notebook
I am using the [MUSDB18 Dataset](https://sigsep.github.io/datasets/musdb.html#musdb18-compressed-stems)
It has restricted access thus [Link to the folder on my drive](https://drive.google.com/drive/folders/11kKsY6UJVtib-a2nZ9cHfH14mAF9QG7L?usp=sharing)

[2020-05-20 05:35] LikhithaG commented on #16768
Also if we have any formula to calculate the batch_size or epochs from the Number of input images
Please share

[2020-05-20 05:55] feature-engineer commented on #39623
That clears it up, thanks!

[2020-05-20 05:55] #39623 closed

[2020-05-20 06:14] chuanli11 opened #39702 "Customized loss function requires eager tensor, but symbolic tensor is passed"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-05-20 06:18] AlbinDavid opened #39703 "404 Not found"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2020-05-20 06:25] ravikyram commented on #39682
@JunyiXie

Can you go through the [link1](https://www.tensorflow.org/lite/guide/ios) and [link2](https://www.tensorflow.org/lite/examples) and see if it helps you.Thanks!

[2020-05-20 06:26] #39209 closed

[2020-05-20 06:38] sushantag9 commented on #39681
I have tried using the fit generator, the issue is that the RAM utilization is exceeding the allocated memory.
You can use GCP for training the model, there you can allocate a larger cluster and them train the model. Initially you will get $300 for first year for free any the service is 'pay as you go'.

[2020-05-20 06:59] ConverJens commented on #39307
@JacobSMoller Have you found a solution for this? I have the exact same issue.

[2020-05-20 07:04] dhirajgite opened #39704 "TFLiteConverter."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- TensorFlow installed from (source or binary): Pip
- TensorFlow version (or github SHA if from source): 2.1.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[2020-05-20 07:04] tantheta01 commented on #39681
@sushantag9  I can use GCP but I don't think the free tier version of GCP comes with access to a GPU or a TPU or can be availed using the credit we recieve. It would be very hard to train my model on a CPU I guess.

[2020-05-20 07:20] wmlmusic opened #39705 "Failed to load the native TensorFlow runtime Error"
I am new to trying to use Spleeter after trying to look for a way to split/separate the instruments into individual instrumental stems (keyboard, drum, horns, guitar, etc into its own solo tracks)  played in an original track I am working on having recreated live. I received this error when trying to use the default audio_example.mp3 file as a test. I have the spleeter_master folder downloaded in

[2020-05-20 07:22] wangwenchao-job commented on #39408
@ Saduf2019
Do you have any emails? Do you have any suggestions?

[2020-05-20 07:23] birolkuyumcu commented on #39676
@Saduf2019
if you check these links there is no only me
and also known at see this comment
https://github.com/tensorflow/tensorflow/issues/35724#issuecomment-582712923

i use
same problem with Tensorflow : 2.0.0 and Keras : 2.2.4-tf
with prebuilt tensorflow pip package under windows

[2020-05-20 07:24] yyoon commented on #39644
We don't have any plans to officially release a tflite python library specifically for iOS. Can you explain more details about your use case? Also, what have you already tried so far?

[2020-05-20 07:26] #39198 closed

[2020-05-20 07:26] mengjiexu commented on #39663
I mean with two same images(can be any images), same xception network, when predict with batch_size = 1 and batch_size=2, the result is different.

[2020-05-20 07:27] ahmedbr commented on #30052
I'm having same issue with `tensorflow-gpu: '2.1.0'.` and `python: 3.6.9 ` Any updates ?
`ValueError: Arguments and signature arguments do not match. got: 37, expected: 39`

[2020-05-20 07:41] Shubhamai commented on #39675
I am not sure why this happened before @ravikyram .When I was making another colab notebook to share your code and run the code, everything works perfectly, I check the versions and they were the same. Anyway, the issue is now solved for me and Thanks for the assistance 🙂.

[2020-05-20 07:41] #39675 closed

[2020-05-20 07:53] Lay4U opened #39706 "Multiple step predict seems to be wrong"
![20200520_163852](https://user-images.githubusercontent.com/31833270/82420430-aa4d2b00-9aba-11ea-9ca2-160fba8afd6c.png)

The original data of x_test has a non-linear random walk property,

but the newly predicted 20 values have a linear shape.

Clearly, did I make the wrong prediction?

you can see full source here
https://colab.research.google.com/drive/1kk24KjpZQEZpdlBxr4D4DO-IGHJ0439v?usp=shar

[2020-05-20 08:01] dragen1860 commented on #34604
@siju-samuel Hi, I facing the same problem when export DeepFill models. Haved you solved this problem, looking forward to chat with you!

[2020-05-20 08:07] wutiantong opened #39707 "matmul & slice make incorrect result for some specific dims"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2.0
- Pyth

[2020-05-20 08:09] #39707 closed

[2020-05-20 08:15] sushantag9 commented on #39681
In GCP you can create a virtual machine and use the terminal to run your code. There are many kinds of options available.

Refer to this link https://cloud.google.com/free/
Those $300 can be used to host a compute engine with a larger RAM and with a GPU support.

You can also install jupyter notebook in it and use it from external IP of the compute engine

[2020-05-20 08:16] rani-pinchuk commented on #39668
Thanks @amahendrakar. I see that if I run this with CPU I get a different error from the one I get when running it with GPU (on the same version v2.2.0-0-g2b96f3662b 2.2.0). So it seems that the difference in versions in my original entry is irrelevant.
I wonder if this difference in the error messages between CPU and GPU is documented somewhere.

[2020-05-20 08:21] zgushonka commented on #26376
try
[code]

[2020-05-20 08:25] sousandrei commented on #36508
I do have 10.1 installed and loaded but TF fails the same way.
Ironically, the line before failure is
[code]

and the only error I get is when training, our old friend
[code]

[2020-05-20 08:30] zgushonka commented on #16614
In my case in JupyterNotebook after fixing and reinstall all dependencies I still got this error while importing Keras.
until restarting notebook: Kernel -> Restart

[2020-05-20 08:49] gd12345 commented on #32609
Hi Haoza111,

Are there any near future plans to update tensorforest in the latest tensorflow versions? If so, we would like to et an update on it, as and when it happens.

[2020-05-20 08:52] tantheta01 commented on #39681
@sushantag9
I have initiated creating an account at GCP so I guess it shall be created in a day. Then I shall try to train my model on that. Thanks.

[2020-05-20 08:55] Tomiha commented on #31509
Still present during validation indeed (or just before).

`W tensorflow/core/common_runtime/base_collective_executor.cc:217] BaseCollectiveExecutor::StartAbort Out of range: End of sequence
         [[{{node IteratorGetNext}}]]
2020-05-20 10:49:02.923506: W tensorflow/core/common_runtime/base_collective_executor.cc:217] BaseCollectiveExecutor::StartAbort Out of range: End of sequence
         [[{{

[2020-05-20 09:07] mamidpou commented on #39503
Thank you for your réponse but i need to use object detection api that is
not yet provided into tf version 2

Le mer. 20 mai 2020 à 00:09, Yasir Modak <notifications@github.com> a
écrit :

[2020-05-20 09:18] hohl opened #39708 "`Model.predict(...)` seems incapable of handling two inputs when using the tf.data-API"
**System information**
- Have I written custom code: *Yes, see sample below.*
- OS Platform and Distribution: *Ubuntu Server 20.04*
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): *2.2.0*
- Python version: *3.8.2*
- CUDA version: *10.1*
- GPU model and memory: *NVIDIA RTX 2080 Ti*

---

**Describe the current behavior**

While developing a model whi

[2020-05-20 09:19] phiwei commented on #36465
@EKami @mminervini
I have been struggling with this issue for an amount of time that is way beyond reasonable at this point as well... PyTorch did have working solutions for this already two years ago, but I am stuck with TF for now... if you can make the switch, I can warmly recommend it.

Anyhow, could you point me to a good example / tutorial for the subprocess approach if you know of any?

[2020-05-20 09:20] leavittx commented on #19123
I have more specific question: how do I get .pb for this particular .tflite model?
https://www.tensorflow.org/lite/models/segmentation/overview
I want to use the same training set as in the pre-trained .tflite model

[2020-05-20 09:23] leavittx commented on #19123
Regarding the general solution, toco seems not to be working (see [this](https://stackoverflow.com/questions/59924882/using-toco-command-converting-tflite-to-pb-throwing-error-tensorflow-graphdef), the only custom converting script I've found is [this](https://gist.github.com/tworuler/bd7bd4c6cd9a8fbbeb060e7b64cfa008). I think it should be possible to adapt it to other models as well.

[2020-05-20 09:29] EKami commented on #36465
@phiwei Yep we came to the exact same conclusion but it's hard to move big projects which rely so much on TF/Keras to Pytorch. For my future projects, I won't do the same mistake tho and I can clearly see from the papers trends that it's where everyone is heading to. Even the argument of "TF is better suited for production" doesn't hold anymore, in fact we are shooting ourselves in the foot with b

[2020-05-20 09:33] phiwei commented on #36465
@EKami Thanks for the warning, I am in fact using TF 2.2 with an RTX card... I worked with PyTorch a lot two years ago and in my opinion, it was already a very mature tool that actually behaves the way you would want Python code to behave. Something I found very neat was that they by default use dicts for batches, loved that for customising models / handing information through models.

[2020-05-20 09:40] shwoghk14 commented on #39651
@Saduf2019
Yes! If you seed the /content where saving location of checkpoint, you can see the folders but not .ckpt files.
It's odds!

[2020-05-20 09:42] #38882 closed

[2020-05-20 09:44] ravikyram commented on #39702
I have tried in colab with TF version 2.2 ,nightly version(2.3.0-dev20200519) and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/fb1237bf883632c27c2c617d100fbf44/untitled913.ipynb).Thanks!

[2020-05-20 09:53] Sustrommings opened #39709 "builtins.TypeError: Expected binary or unicode string, got 0"
I am quite new to Tensorflow, so in summary I converted the pcap file into csv file and load it in the python, I have made a column named detectionnumber such that when the Info column contains the word "SYN" and "ACK",  or "RST", it will append the value into the column I have made. Then I managed to add the column named detection I have made into the csv file. But the problem lies when I try to

[2020-05-20 09:54] zzj0402 commented on #39097
I haven't tried. I used Kaggle kernels instead. I am going to close this issue since I don't need work on this locally anymore.

[2020-05-20 09:54] #39097 closed

[2020-05-20 09:55] ravikyram commented on #39705
@wmlmusic

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download [the latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, please fol

[2020-05-20 10:01] mminervini commented on #36465
@phiwei I tested the "TF-in-subprocess" approach on a GTX with TF v2.2, but I don't have experience with the RTX series.

As for the how-to, it largely depends on your use case (e.g., grid search training, inference with multiple models, etc.) and the specific features that you want to move inside the subprocesses.

In general, I mainly relied on the Python documentation: [multiprocessing](https:/

[2020-05-20 10:04] ucasiggcas commented on #39436
it's a big pitty.

[2020-05-20 10:15] Saduf2019 commented on #39706
@Lay4U
I ran the code shared and face a different error, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/9a681b694058b0b0b4965fd2aa8003d6/untitled192.ipynb)

[2020-05-20 10:21] ravikyram commented on #39663
I have tried in colab with TF version 2.2.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/d4c498f25ce24fec03c5e9cab1aa8e0c/untitled914.ipynb)Is the the expected behavior?.Thanks!

[2020-05-20 10:24] SuneGram opened #39710 "SciSharp.TensorFlow.Redist-Windows-GPU missing for tf.net 0.20.0-alpha"
**Problem**

Is there a SciSharp.TensorFlow.Redist-Windows-GPU (tensorflow.dll) distribution available for Tensorflow.NET 0.20.0-alpha?

The most resent NuGet package available seems to be v. 1.15.1, which does not seem to be compatible with Tensorflow.NET 0.20.0-alpha.

When could a working redistributable be expected?
Is it possible to download it or build it manually? (please provide steps)

**

[2020-05-20 10:26] wmlmusic commented on #39705
Thanks for the follow-up and suggestions. My processor is an AMD Phenom II N970 Quad Core 2.20GHz.

I downloaded the 64-bit Miniconda that was on the spleeter github link.

I will try the troubleshooting options you've suggested and reply soon as I do so.

[2020-05-20 10:29] saikumarchalla commented on #38887
@clockzhong  Closing this issue as it is the Intended Behavior.Please feel free to re-open the issue if you have any concerns.Thanks!

[2020-05-20 10:29] #38887 closed

[2020-05-20 10:29] #39710 closed

[2020-05-20 10:31] AlucardNosferatu commented on #37258
大佬，那个ROI池化层貌似有个问题，就是浮点坐标做类型转化时tf.cast会直接把小数部分砍掉导致一些ROI特征图面积为零，如果你准备改写ROI Align当我啥也没说好了。。。

[2020-05-20 10:36] Bidski commented on #39205
@ravikyram

Here is a simple snippet of code which I suspect causes the problem.

[code]

It loads a TFRecord file, does some simple transformations to the data (via the map calls) and initialises stats aggregation on the dataset. This dataset is then fed to a keras model via the fit API.

With the dataset stats aggregation an events file is created in `/tmp` and this file slowly (I assume the rat

[2020-05-20 10:39] Saduf2019 commented on #39408
@wangwenchao-job
no i have not received, can you please share a colab gist with the issue for us to analyse the issue faced.

[2020-05-20 10:41] clockzhong commented on #38887
@saikumarchalla  Ok, got it, thanks!

[2020-05-20 10:42] ravikyram commented on #39708
I have tried in colab with TF version in 2.2 ,2.3.0-dev20200519 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/58553b02bc7e9b7a69bdeb6533f50d91/untitled915.ipynb).Thanks!

[2020-05-20 10:45] Saduf2019 commented on #39709
@Sustrommings
 Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2020-05-20 10:50] Saduf2019 commented on #39667
I am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/5daf3e01cb271ba7dc1fd8622a9f554e/untitled191.ipynb)

[2020-05-20 10:58] Reeshad-Khan commented on #39676
any solution regarding the issue? I'm using Windows 10 64 bit OS.
Tensorflow: 1.15.0 and Keras: 2.2.4-tf

[2020-05-20 11:05] akshaydamale0312 commented on #21967
ImportError: DLL load failed: The specified procedure could not be found.

[2020-05-20 11:20] SchJens commented on #39680
Ok, I made one more observation after making Bazel print its executed commands. The failing commands so far all seem to start with the following:

`C:/msys64/usr/bin/bash.exe -c source external/bazel_tools/tools/genrule/genrule-setup.sh; <some_other_command>
`

When I try to run this line interactively, it also does not work. The reason is that quotes are missing:

`C:/msys64/usr/bin/bash.exe -c "

[2020-05-20 11:24] qianzhang613 opened #39712 "Non-OK-status: tensorflow::Env::Default()->DeleteFile(ptx_path) status: Not found:"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
NO
- OS Platfo

[2020-05-20 11:26] birolkuyumcu commented on #39676
dont use  recurrent_dropout for TF 2.0

[2020-05-20 11:26] #31872 closed

[2020-05-20 11:26] #31305 closed

[2020-05-20 11:27] siju-samuel commented on #34604
It was quite some time back.
First i tried to implement ExtractImagePatches from the eigen. eigen already have api to support ExtractImagePatches.  You can add as a op in lite. For reference you can use [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/extract_image_patches_op.h) .

Eigen impl [link](https://github.com/libigl/eigen/blob/1f05f51517ec4fd91eed711e0f8

[2020-05-20 11:28] amahendrakar commented on #39665
Was able to reproduce the issue. Please check the below plots and linked gist for the respective TensorFlow versions.
- [TF v1.14](https://colab.research.google.com/gist/amahendrakar/ade7deaed275faae234cb39c0d5aceb0/39665-1-14.ipynb#scrollTo=LSQqiFqAhgoR) and [TF v1.15](https://colab.research.google.com/gist/amahendrakar/998c99bd90902986e596c3953b861046/39665-1-15.ipynb#scrollTo=LSQqiFqAhgoR)
![1

[2020-05-20 11:28] birolkuyumcu commented on #39676
i am try wit TF 2.2 at colab
recurrent_dropout  does not  cause a expanding losses.
So for TF 2.2 at colab  there is no problem,

[2020-05-20 11:35] Lay4U commented on #39706
@Saduf2019
https://colab.research.google.com/drive/1kk24KjpZQEZpdlBxr4D4DO-IGHJ0439v?usp=sharing
is working?

[2020-05-20 11:43] OverLordGoldDragon commented on #39665
@amahendrakar Thanks for the encompassing testing. TF2.0-Graph is unusually fast per these benchmarks, and TF1.14.0 is unusually slow; I wonder if the difference in GPU's is responsible - my benchmarks are based on my local GTX 1070. I'll look into it.

[2020-05-20 11:59] Sustrommings commented on #39709
System Information: Linux Ubuntu 18.04 64bit, Tensorflow version 2.0.0, Tensorflow is compiled from source (gcc 7.5.0), python version 3.6.8

CSV file - [data.zip](https://github.com/tensorflow/tensorflow/files/4656656/data.zip)

Here is the complete code

import datetime
import tensorflow as tf
import numpy as np
from tensorflow import keras
from tensorflow import feature_column
from tensorflow.k

[2020-05-20 12:10] ahmedbr commented on #30052
The problem solved after replacing import keras by import tensorflow.keras and making the necessary modifications

[2020-05-20 12:23] dreamPoet opened #39713 "Does tensorflow 1.15.0 support int8 tflite convertion? Wrong accurary."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip install tensorflow-gpu==1.15
- TensorFlow version (or github SHA if from source): 1.15.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**Fail

[2020-05-20 12:24] ravikyram commented on #39679
I have tried in colab with TF verison 2.2 and was able to reproduce the issue.Please,find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/a9cc4ee8dfa095dbf4792c24d2e5b3a2/untitled912.ipynb).Thanks!

[2020-05-20 12:26] #38814 closed

[2020-05-20 12:26] Reeshad-Khan commented on #39676
ohhh... ok mate... thanks... let me check....

[2020-05-20 12:27] amahendrakar commented on #39688
Was able to reproduce the issue. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/68352df5fa8d2bfa8a79117a88aa9dc7/39688.ipynb). Thanks!

[2020-05-20 12:28] DiptanshuMalviya commented on #37433
please give the solution., I am also facing same issue
please.....

2020-05-20 17:55:45.825216: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_101.dll
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\dipta\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow\__init__.py", line 41,

[2020-05-20 12:40] amahendrakar commented on #39693
@pedromspereira,
I was able to run the code without any issues with the stable version TF v2.2. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1806d4cb11f6389cbc963a2aae4df1f9/39693.ipynb).

Could you please check if you are able to run the code with TF v2.2. Thanks!

[2020-05-20 12:49] marimomo00 commented on #38525
I would like to build for Android. Will this work?

On Wed, May 20, 2020 at 4:03 AM Jared Duke <notifications@github.com> wrote:

[2020-05-20 12:53] Saduf2019 commented on #39706
I am able to replicate the gist shared, please find the replicated [gist here](https://colab.sandbox.google.com/gist/Saduf2019/f88177e2b310971932652df0156f4f6f/untitled193.ipynb)

[2020-05-20 12:59] BSlience opened #39714 "Two weird things when I use custom model `train_step` and loss"
**System information**
- colab reproduce url: https://colab.research.google.com/drive/15hJPKHgn8aPi1mVi3XFOFvOgj85QcL-Z?usp=sharing
- windows 10
- TensorFlow version 2.2
- Python version:3.7
- CUDA/cuDNN version:10.1

[code]

**current behavior**
1 can't recieve tuple y_pred in custom loss when using self.compiled_loss(y, y_pred)
2 `iterating over `tf.Tensor` is not allowed` exception raised when

[2020-05-20 13:03] yuvaramsingh94 opened #39715 "tfa ReduceLROnPlateau callback from Tf keras is not recognizing cohen kappa metrics direction in 'Auto' mode"
Hi all,
the 'auto' mode in ReduceLROnPlateau  and ModelCheckpoint  are looking for specific string 'acc' in the name of the metrics to be monitor. this actually leads to unlickly scenarious of not working properly even while using metrics that are defined in tfa and hoping tf will be aware of the direction . this can be added in the doc to make the developers understand how to name their metrics o

[2020-05-20 13:03] RalfKellner commented on #39578
Alright, I tried to run it in a new virtual environment and it works. So the problem is maybe related to something else. Thank you very much, I will just use the virutal environment which is probably better anyway!

[2020-05-20 13:03] #39578 closed

[2020-05-20 13:13] FMalerba commented on #33375
I'm having a similar issue where i get the same warning `You are using ptxas 8.x, but TF requires ptxas 9.x (and strongly prefers >= 9.2.88).  Compilation of XLA kernels below will likely fail.`
However when I run with the flag `TF_CPP_VMODULE=asm_compiler=2` I get this output:
`2020-05-20 14:57:36.735438: I tensorflow/stream_executor/gpu/asm_compiler.cc:169] Looking for ptxas at /usr/local/cuda-1

[2020-05-20 13:16] Lay4U commented on #39706
@Saduf2019
I tried colab, tf2.1 and tf2.2 but problem is same

I don't think this is a version issue.

[2020-05-20 13:19] FMalerba opened #39716 "TF 2.2.0 ptxas issue"
Running in linux some code I get the following warning:

`You are using ptxas 8.x, but TF requires ptxas 9.x (and strongly prefers >= 9.2.88).  Compilation of XLA kernels below will likely fail.`

However when I run with the flag `TF_CPP_VMODULE=asm_compiler=2` I get this output:

`2020-05-20 14:57:36.735438: I tensorflow/stream_executor/gpu/asm_compiler.cc:169] Looking for ptxas at /usr/local/cud

[2020-05-20 14:07] Regilan commented on #23809
detection_graph = tf.Graph()
with detection_graph.as_default():
    od_graph_def = tf.compat.v1.GraphDef()
    with tf.io.gfile.GFile(PATH_TO_CRYPT, 'rb') as fid:
        serialized_graph = fid.read()
        od_graph_def.ParseFromString(serialized_graph)
        tf.import_graph_def(od_graph_def, name='')

Hi, I used the same code. But I am getting the following error. I am using TF2.0

DecodeErro

[2020-05-20 14:15] wwwind opened #39718 "TF Lite nightly: Model with Fully Connected layer can't be converted, fully quantization, int8"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): tf-nightly
- TensorFlow version (or github SHA if from source): tf-nightly

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

https://colab.research.google.com/drive/1l3VnL

[2020-05-20 14:16] ravikyram commented on #39574
I have tried in colab with TF-GPU with version 1.15,2.0,2.1, 2.2 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c77f00df5a6e6046abda6c220f823470/untitled918.ipynb).Thanks!

[2020-05-20 14:22] amahendrakar commented on #39704
@dhirajgite,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

Also, please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/39464#issuecomment-630018299) from a similar issue and let us know if it helps. Thanks!

[2020-05-20 14:23] Reeshad-Khan commented on #39676
![rnn](https://user-images.githubusercontent.com/65279631/82457786-ab408580-9ad7-11ea-85f6-c94aff997b25.PNG)
Same again....
I'm using TF 2.2 at colab

[2020-05-20 14:33] rufusroger commented on #36508
Just wanted to response, to say thank you. That works for me, as well.

OS: Windows 10
CUDA/cuDNN: 10.1
GPU: GeForce RTX 2060 Super 8GB
TF: 2.2.0

[2020-05-20 14:39] JunyiXie commented on #39644
I hope that I can write code in Python and execute it in the Python interpreter on iOS.

[2020-05-20 14:44] jonashaag opened #39719 "TPU PyFunction results in UnavailableError: failed to connect to all addresses"
Similar to #38762, and unfixed in tf-nightly. See gist here https://colab.research.google.com/gist/jonashaag/128c2b9c51cb0df5d00ef072928631e3/38762.ipynb

[code]

[code]

[2020-05-20 14:49] wwwind opened #39720 "TFLite, Model with Conv2DTranspose fails to convert, fully quantization, int8"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): tf-nightly
- TensorFlow version (or github SHA if from source): tf-nightly

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

This issue is very similar to the [issue](http

[2020-05-20 14:52] yeamusic21 opened #39721 "tf.distribute.MirroredStrategy() ERROR:root:'NoneType' object has no attribute 'write'"
**System information**
- using Amazon Sagemaker
- instance type = 'ml.p3.8xlarge',

**Describe the current behavior**
with running model.fit(), prior to progress bar, following message is displayed.
`ERROR:root:'NoneType' object has no attribute 'write'`

**Describe the expected behavior**
Message to not be present given it's not present in documentation examples.
https://www.tensorflow.org/tutori

[2020-05-20 15:01] amahendrakar commented on #39701
@bparr,
To suppress the warning, add these lines of code to your program
[code]
Please check [this gist](https://colab.research.google.com/gist/amahendrakar/d60beb96146856cbbb00fca1156effe5/39701.ipynb) for reference. Thanks!

[2020-05-20 15:14] yakovdan commented on #39382
Ok, this works.
What about compiling for arm64-v8a? just recompile the shared library for arm64-v8a and that's it?

[2020-05-20 15:15] gunan commented on #37433
@nfelt could you take a look?
We suspect this is due to a mismatched TF/tensorboard version, but could not confirm.

[2020-05-20 15:18] JunyiXie commented on #39644
how to build https://github.com/tensorflow/tensorflow/tree/v2.2.0/tensorflow/lite/python? I try to build the iOS version.
I need tensorflow lite python version build script on mac os platform as a reference.

[2020-05-20 15:20] katmatus commented on #37496
Is **C api for TF2** coming soon?

[2020-05-20 15:20] amahendrakar commented on #39718
@wwwind,
I was able to reproduce the issue with [TF-nightly](https://colab.research.google.com/gist/amahendrakar/4a4ea0178b34597d6035794ba3eb3e36/39718-nightly.ipynb). However, the code works with the stable version [TF v2.2](https://colab.research.google.com/gist/amahendrakar/54d9272a3c32841d1532a994cc5820bb/39718-2-0.ipynb). Please check the linked gist.

Could you please try running the code wi

[2020-05-20 15:28] jvishnuvardhan commented on #39689
@Ben-Epstein I think the confusion is between `Freeze graph` API and `SavedModel` API. `Freeze graph` API is to freeze tensorflow graph and related files in a session and serve it for inference. However, `Freeze graph` API works only in TF1.x and is deprecated in TF2.x. In TF2.x, the primary export format is SavedModels so APIs are built to directly support SavedModels. So, you can use `SavedModel

[2020-05-20 15:35] wwwind commented on #39718
@amahendrakar Yes, I confirm - it works in tensorflow 2.2.0

[2020-05-20 15:36] birolkuyumcu commented on #39676
![resim](https://user-images.githubusercontent.com/8981828/82466086-a6280a00-9ac8-11ea-93e0-c99434f0b151.png)

strange !
this my case
tf 2.2.0 , colab

[2020-05-20 15:37] Ben-Epstein commented on #39689
Understood. My use case requires a single object (not a directory) so I will have to stick with the older h5 format. Thanks for the help!

[2020-05-20 15:37] #39689 closed

[2020-05-20 15:50] nitinmnsn opened #39722 "tf.experimental.CsvDataset breaking down if select_cols is provided"
tensorflow 2.2.0
ubuntu 20.04
[code]
output:
[code]

[2020-05-20 15:53] Reeshad-Khan commented on #39676
yeah!!! really strange!!!!

[2020-05-20 16:03] jvishnuvardhan commented on #39676
@birolkuyumcu @Reeshad-Khan Can you please share a standalone code to reproduce the issue? I know `dropout` was an issue in `TF2.0` but not anymore. Thank you.

[2020-05-20 16:09] IanRDavies commented on #37252
Update: I reran the reproduction code with TensorFlow 2.2 and the issue is still present.

[2020-05-20 16:17] chalbiophysics opened #39724 "Optimize recall and accuracy for a sub-class in multi-class classification"
Hi everyone,

Sorry about asking this question but I am a beginner with Tensorflow and Keras.
Here is my question :
- I have annotated 2.000 images of living cells, 8.000 images of dead cells and 8.000 images with nothing. They are labeleled respectively as "Living", "Death" and "Empty". (Images are 299x299x1)
- I have run some models, which basically look like this:

[code]
- At the end of traini

[2020-05-20 16:26] mihaimaruseac commented on #37496
@av8ramit and @bmzhao are working on it

[2020-05-20 16:31] byronyi commented on #18880
@saeta Somehow I think this topic might worth revisiting with the new eager runtime. In remote eager client like the VM connect to remote GPU or CloudTPU, one does `connect_to_cluster` and place the default context on the remote worker. If the eager service crashes, it might not be easy for the user to recover by re-running their computations which could be notebook cells and evaluated without exp

[2020-05-20 16:39] rodrigoruiz commented on #34094
Hi, I'm using Cuda 10.1 with the latest cudnn (can't remember which one and I uninstalled everything to rebuild TensorFlow from scratch as a last attempt) and I have an RTX 2080 Ti.
It seems the problem is related to Cuda and the RTX, but TensorFlow 2 doesn't work on Cuda 10.2 (which I'm not sure would be enough to fix the problem anyway).

Cuda 10 (or 9, I can't remember), does work, but TensorFl

[2020-05-20 16:40] #39722 closed

[2020-05-20 16:43] rodrigoruiz commented on #33924
@GSonderlio and what would be the fix?
I tried upgrading Cida, but TensorFlow doesn't accept version 10.2.

[2020-05-20 16:56] gunan commented on #39680
I do not think this is related to anything in TF build at all.
Could you first confirm that your OS, and msys installations are all 64 bits?
Next, could you try just running `git` under msys?

If you see the same failure, it may be related to this:
https://stackoverflow.com/questions/41699029/cant-run-git-in-git-bash-bash-mingw32-bin-git-bad-address

[2020-05-20 16:58] mihaimaruseac commented on #39696
See #38517 and #38671

[2020-05-20 16:59] mihaimaruseac commented on #32855
Does this reproduce with the newer versions of TF?

[2020-05-20 17:04] yongtang commented on #39696
@mihaimaruseac @cxyanhk The issue is the renaming of mkl-dnn to oneDNN, so GitHub re-archives the package (with different directory). The old link in mkl_dnn now is an alias of oneDNN which has a different top-level directory inside the archive.

Create a PR #39725 for the fix.

[2020-05-20 17:05] alextp commented on #18880
@bramandia FYI

[2020-05-20 17:14] GSonderling commented on #33924
@rodrigoruiz
Quick hack that worked for me is tweaking the batch_size/steps combo. But that isn't workable for every situation. So I think it comes down to Tensorflow getting fixed. Since it seems to depend on batch size I think it might be something with memory allocation. But it's just a guess.

[2020-05-20 17:19] pedromspereira commented on #39693
Tf 2.2 gives me the same problem as ticket https://github.com/tensorflow/tensorflow/issues/22512

had to move back to tf 2.0

now when running this part of the code:

history = model.fit(train_set, epochs=500,
                    validation_data=valid_set,
                    callbacks=[early_stopping, model_checkpoint])

I get the following error:

Epoch 1/500
      1/Unknown - 0s 7ms/stepWARNING

[2020-05-20 17:27] ckiwun commented on #39658
thanks. I guess that mean I need to regenerate my tflite model with more recent hash.

[2020-05-20 17:28] #39658 closed

[2020-05-20 17:35] yongtang commented on #39668
@rani-pinchuk While the error messages seem to be different, looks like it does makes sense:
1. On CPU, the error happens when Concat op happens where you cannot concat two different dtype tensors.
2. On GPU, before Concat happens, data has to be transferred to GPU first. And the error happens here because string data is not supported on GPU.

[2020-05-20 17:41] amahendrakar commented on #39718
@wwwind,
Thank you for the update. Please feel free to close the issue if resolved. Thanks!

[2020-05-20 17:43] novog commented on #38212
See also the related issue #27679, concerned with `py_function` accepting dictionaries of tensors. I would really like to see both features implemented in TensorFlow. In real-world problems, data with heterogeneous features is quite common, and managing such features is made unnecessarily complicated by poor support for feature dictionaries.

[2020-05-20 17:48] amahendrakar commented on #39693
@pedromspereira,
Please try running this code in a virtual environment with TF v2.2 and let us know if you are facing the same issue. Thanks!

[2020-05-20 18:05] gunan commented on #39439
Does the issue occur on a newer version?
1.12 is definitely outside our support window. I can try exploring this on 1.15, but realistically, master or 2.2 is the ones I will be able to help most with.

[2020-05-20 18:11] haozha111 commented on #32609
@jdduke ,do you know if there are timelines to support tensorforest?

[2020-05-20 18:11] whatdhack opened #39729 "Is there any good detailed description of GraphDef and Saved Model ?"
## URL(s) with the issue:

N/A

## Description of issue (what needs changing):

Need clear documentation with details  on what makes all these different formats different.

### Clear description

Looking for  a clear description  (pun not intended)  of  GraphDef and Saved Model - their diffrences etc., needs for  them ( and others such as ckpt ) .

### Correct links

N/A

### Parameters defined

N

[2020-05-20 18:13] Saduf2019 commented on #39703
@AlbinDavid
I ran the standalone code shared by you and face an error,please have a look at the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/4c19b8104323e52210001d12f1ae9732/untitled190.ipynb)

[2020-05-20 18:13] djdnl13 commented on #39418
I had a similar issue with tensorflow.python.tools when importing tensorflow on my Ubuntu Server
Try installing this version:

    pip3 install uninstall tensorflow
    pip3 install tensorflow==2.2.0rc4

[2020-05-20 18:16] Saduf2019 commented on #39724
@chalbiophysics
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-05-20 18:19] pedromspereira commented on #39693
now it worked, many thanks

[2020-05-20 18:19] #39693 closed

[2020-05-20 18:22] Saduf2019 commented on #39709
@
I ran the code shared by you and face a different error, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/a238f8e61c367d9416b883c84edfa31a/untitled190.ipynb)

[2020-05-20 18:25] Saduf2019 commented on #39706
I am able to replicate the gist shared, please find the replicated [gist here](https://colab.sandbox.google.com/gist/Saduf2019/f88177e2b310971932652df0156f4f6f/untitled193.ipynb)

[2020-05-20 18:28] Saduf2019 commented on #39716
@FMalerba Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templ

[2020-05-20 18:32] christopherbate opened #39730 "Keras Tensorboard Callback conflicts with Lambda Callback writing summaries"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, but will

[2020-05-20 18:32] Saduf2019 commented on #39720
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/drive/1jxKMcFcRsDXELaTRu5WcxalMTwq8G0Gi#scrollTo=bUO4WOEAR8zE) . Thanks!

[2020-05-20 18:35] rusu24edward commented on #31800
I ran into this in load_library. Adding the optional argument `used_for_security=False` solved this for me.

[2020-05-20 18:40] yongtang commented on #39701
Added a PR #39731 to remove the deprecation message.

[2020-05-20 18:47] shreedevibhat opened #39732 "ImportError: cannot import name 'export_saved_model' from 'tensorflow.python.keras.saving.saved_model' (F:\New folder\New folder\lib\site-packages\tensorflow\python\keras\saving\saved_model\__init__.py)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-05-20 18:55] karimnosseir commented on #39382
If you're using the prebuilt we already provide arm 64 and 32. If you're building them just pass --config=android_arm64

[2020-05-20 18:56] hlopko commented on #38205
Hi all,

I've submitted a toolchain refactoring that makes the fix quite simple in https://github.com/tensorflow/tensorflow/commit/e0b19f6ef223af40e2e6d1d21b8464c1b2ebee8f. I could repro the failure mentioned above and I believe I understand how to best fix it (in short, moving `-no-as-needed` before libraries to link, and re-adding -lrt into nccl). I'll upload the fix next week.

[2020-05-20 19:02] rani-pinchuk commented on #39668
@yongtang Thanks for the explanation. This is clear now.

[2020-05-20 19:02] #39668 closed

[2020-05-20 19:16] amahendrakar commented on #32957
@durandg12,
I was able to reproduce the error with [TF v2.0](https://colab.research.google.com/gist/amahendrakar/925cce6dd8e7c8bb568d6aa3511a9c55/32957-2-0.ipynb). However, the issue seems to be fixed with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/6ae2570cee8a170c81fc88ed33318e4a/32957.ipynb).

Please check the linked Colab gist and let us know if the issue is resolved. Thanks!

[2020-05-20 19:19] NandishAndDev commented on #39568
Thanks . I am able to convert now. If I may suggest, the documentation for the API is brief, and it will be useful  to have these nuances mentioned. There are lot of posts on Stackoverflow where developers assume that this API is only for Single Tensors.

[2020-05-20 19:19] FMalerba commented on #39716
Managed to find a workaround with
`export XLA_FLAGS=--xla_gpu_cuda_data_dir=path_to_cuda`

[2020-05-20 19:26] #28174 closed

[2020-05-20 19:59] nouiz commented on #38205
Great news! Thanks for continuing to work on this.

[2020-05-20 20:04] markomernick commented on #38419
Hi @haifeng-jin - because IndexLookup isn't officially exported yet, we need to treat it as a custom symbol. Can you try adding custom_objects={"IndexLookup": preprocessing.index_lookup.IndexLookup} to your load_model call? This worked for me at head in nightly.

[2020-05-20 20:07] AdamHarries opened #39733 "Documentation of accepted datatypes for `validation_data` in keras.Model.fit is incorrect."
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/api

[2020-05-20 20:10] mhutti1 commented on #33410
I am having a similar issue. My model runs fine on CPU and GPU on my Galaxy S8 but only works on the CPU of my Nexus 5X.

I assume it is an issue with part of the OpenGL buffer.

[code]

[2020-05-20 20:14] av8ramit commented on #37496
[Here](https://storage.googleapis.com/libtensorflow-nightly) is a link in the meantime to a directory listing of builds we've uploaded recently.

[2020-05-20 20:16] milost commented on #39308
In the streaming case, where the total size of a dataset is not known or cannot be determined in advance, I would expect the method to throw a meaningful exception that clearly states that selection by percentage is not applicable to streaming data and therefore not supported.

In any case, the selection by percentage should be deterministic, so that it can be expected that the same 20% of data us

[2020-05-20 20:26] jsimsa commented on #39308
Thanks. If you do not care about selecting the first 20% but any 20% (approximately), then you can do so by filter:

[code]

[2020-05-20 20:43] nouiz commented on #38205
For those following this issues, you will probably need to remote the `--noincompatible_do_not_split_linking_cmdline` parameter to bazel with this commit. This commit is already merged upstream. With it and the parameter, there is now a compilation error.

[2020-05-20 20:54] crccw commented on #39417
Try only wrap distributed_train_step, not train_step.

[2020-05-20 21:15] palisadoes commented on #34759
I had a similar problem with 10.2 using `tf.config.experimental.list_physical_devices('GPU')`. Cuda v10.2 was installed using this command after installing the ubuntu 18.04 `cuda` and `nvidia-machine-learning-repo-ubuntu1804_1.0.0-1_amd64.deb` repos per the TensorFlow documetation at https://www.tensorflow.org/install/gpu

[code]

The error when trying `tf.config.experimental.list_physical_devices

[2020-05-20 21:19] Toku11 commented on #6541
Any update here?

[2020-05-20 21:38] wysohn commented on #39724
You can always write your own metrics.

For your code:

[code]

Simply define a metric function and calculate the accuracy yourself.

[code]

where y_true being the label, (BATCH, 3) as you have three classes, and y_pred being the predicted value (BATCH, 3)

note, however, that the metric function needs to return the batch of accuracies (BATCH,), not a single value.

[2020-05-20 22:00] omalleyt12 commented on #39702
@chuanli11 Thanks for the issue!

Yes, the `model.inputs` are symbolic Tensors. For Functional Models, these Tensors are used to *build* the Model with a static graph, but in eager mode the Model is then *executed* with a `tf.function`. This means that `model.inputs` can't be used in losses, metrics, etc.

Instead, here's how I'd recommend achieving your use case. Essentially, `sample_weight` will

[2020-05-20 22:00] #39702 closed

[2020-05-20 22:11] Saduf2019 commented on #39716
@FMalerba
please let us know if we can move this issue to closed status.

[2020-05-20 22:12] Saduf2019 commented on #39732
@shreedevibhat
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2020-05-20 22:16] gtjemwa opened #39735 "ValueError when attempting to use adapt method from TextVectorization layer"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-05-20 22:21] markomernick commented on #39072
Hi @foxik -

Can you try wrapping your Dense layer in a TimeDistributed? As long as your innermost dimension is not ragged, this should work at head. If not, please let me know!

[2020-05-20 22:30] Saduf2019 commented on #39713
@dreamPoet
I ran the code shared and face a different error, please provide with complete code such that we can replicate the issue.
Please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/25d7a8784b7190e680df4f5b2272de10/untitled195.ipynb) of error faced.

[2020-05-20 22:35] foxik commented on #39072
@markomernick Oh, I did not realize it could be used that way -- yes, it works (and it does exactly what I was hoping for). I am closing the issue, sorry for taking your time. Cheers!

[2020-05-20 22:35] #39072 closed

[2020-05-20 22:43] impjdi commented on #33410
You could print out and see what the actual values are (how much it's trying to write vs how much you have allocated).  Maybe it can give you a hint what went wrong where.

[2020-05-20 22:49] mhutti1 commented on #33410
@impjdi It works perfectly fine on all my other devices as well as when running fine on the CPU though. It's ```tflite.run(input, output)``` which is erroring. I am not really sure how to debug this.

[2020-05-20 22:49] FunkyGibbon commented on #33924
@rodrigoruiz I did read that someone reverted back to tensorflow 1.14 and downloaded the relevant CUDA and it worked for them, you will then have to switch to using the cudnnLSTM, but that could work.

[2020-05-20 23:09] hardiksd opened #39736 "libhexagon_interface.so for non Android - Openwrt platform"
@tensorflow/tflite

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Openwrt 15.05
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: ipq6018
- TensorFlow installed from (source or binary): Source
- TensorFlow version: r2.2
- GCC/Compiler version (if compiling from source): musl arch64 gcc 5.3+ (https://musl.libc.org/)

[2020-05-20 23:19] KhurramPirov commented on #14132
In my case,  I had to assign depth_buffer[v,u] = point_depth. Here is the solution:
depth_buffer = depth_buffer[v:v+1,u:u+1].assign([point_depth])

Tensorflow does not suck on prod))

[2020-05-20 23:27] #39696 closed

[2020-05-21 00:01] dd1923 commented on #39230
@jhseu @pavithrasv when do you think this would be assigned to someone?

[2020-05-21 00:02] Sustrommings commented on #39709
Ok I have now fixed the indentation error, now the problem is the file_path where the retrieval of the csv file from my ubuntu directory, but the error has shown that there are no such file or directory, how do I specify the file path in the gist?

[2020-05-21 00:03] yyoon commented on #39644
You can build the standalone TFLite pip package following this guide:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package

[2020-05-21 00:08] Sustrommings commented on #39709
Ok I have now fixed the indentation error, now the problem is the file_path where the retrieval of the csv file from my ubuntu directory, but the error has shown that there are no such file or directory, how do I specify the file path in the gist

[Updated Gist](https://gist.github.com/Sustrommings/04ba51877a3067cbb712056ac2ab6051)

[2020-05-21 00:12] samhodge commented on #39439
@gunan

I will have an attempt, but r1.12+ requires hardware instructions which are more modern than some legacy hardware which I wanted to support I think AVX, AVX2 and SSE4

I will see if I can do the build on a cloud box I think others have reported on 1.15 I will see if I can find a reference to that first before spinning up a whole new build platform.

Sam

[2020-05-21 00:15] omalleyt12 commented on #39547
@w19787 Thanks for the issue!

I fixed the example to pass batched tensors for `x` and `y` (IIUC these were just dummy values to show the error, not the root cause of the error).

It is now passing in TF2.2 for me:

[code]

Closing bc I can't repro, but if you are still seeing this issue with TF2.2 please reopen!

[2020-05-21 00:15] #39547 closed

[2020-05-21 00:16] Tombana commented on #25087
I'm also a bit puzzled by the gemmlowp mechanism.
If I understand correctly, in `RoundingDivideByPOT`, effectively another nudge is added, making it `(((a+delta_1) >> 31) + delta_2) >> 9`. (This is not implemented by adding a constant `delta_2` but by checking if the 'shifted-away-bits' are larger than a threshold, and then adding 1 to the result.).
I think that's the reason why the two separate s

[2020-05-21 00:16] kaixih commented on #39453
I feel this is a MirroredStrategy issue. I tested this script on my machine with 4 GPUs and it works fine (I didn't see any error). However, if I use `CUDA_VISIBLE_DEVICES=0 python lstm.py`, I can see the same error shown in https://github.com/tensorflow/tensorflow/issues/39453#issuecomment-627945705.

Then I tried the script with tf.distribute.MirroredStrategy(['/gpu:0']) or 2 GPUs but with no lu

[2020-05-21 00:27] gunan commented on #39439
I am surprised to hear that. If you are building from sources, you should be able to build without any advanced instruction sets. I would be happy to help resolve if that happens (we can create another issue for it)

[2020-05-21 00:33] njeffrie commented on #39661
After evaluating options, I've opted to add alignas(8) to our serialized flatbuffers.  The entire flatbuffer is internally aligned properly (for example, 64-bit datatypes are aligned to 8 byte boundaries).

I have submitted a change to update our in-tree example and benchmark models to align the flatbuffer array to 8 bytes.  I am working to update alignment in models which are downloaded at compil

[2020-05-21 00:50] keith opened #39737 "Provide way to exclude CoreML delegate from bazel build"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): master
- Are you willing to contribute it (Yes/No): Yes

*

[2020-05-21 00:57] Amywang112 commented on #31509
Same here!
[code]

[2020-05-21 01:33] edloper commented on #36232
Extending TensorArray to allow an op similar to stack() that generates a ragged tensor seems reasonable.  But if your goal is to use `tf.map_fn` with ragged outputs, then note that `map_fn` already supports this in `tf_nightly`.  You just need to use `fn_output_signature` to specify what the output of your function looks like.  E.g.:

[code]

[2020-05-21 01:47] helo-nerd commented on #13641
Hi, can I ask If your new update is implemented in TF now already? It is very significant for my research.

[2020-05-21 01:56] refraction-ray commented on #13641
@helo-nerd , yes, I believe AD on complex valued SVD is ready for tensorflow 2.1+

[2020-05-21 02:00] helo-nerd commented on #13641
Ohh that's awesome! is this new update the same code list here? Because my server has some problem for TF 2, I wanna continuely use TF 1 by modifying it.
https://github.com/tensorflow/tensorflow/pull/32226/commits/124386cd8312c530097cf930be9cdb3544c1e361

[2020-05-21 02:07] tristane0 commented on #39737
Thank you for opening the issue! I think using `config_setting` would be a reasonable approach to take. A few things to note that could make things a bit more complex:

1. CoreML and Metal are the two delegates that are currently offered, but there may be more in the future.
2. Some developers may want no delegation deps, others may want 1 or more.
3. If adding configs to exclude deps, then would

[2020-05-21 02:15] yongtang commented on #38517
The issue should have been fixed in PR #39725 now.

[2020-05-21 02:16] refraction-ray commented on #13641
@helo-nerd , yes, the code should be the same as this commit, you can directly hack tf source as this commit, or use [``customize_gradient``](https://www.tensorflow.org/api_docs/python/tf/custom_gradient) in your app code.

[2020-05-21 02:22] haifeng-jin commented on #38419
@markomernick @k-w-w
It works! Thank you for the help.
I am closing this issue now.

[2020-05-21 02:22] #38419 closed

[2020-05-21 02:25] teijeong commented on #39737
Thanks for tracking this! As delegates will add up significant sizes, yes that's what we really want. I really need inputs from someone who has more experience on these kind of issues, just like you two :)

Besides modifying the BUILD rule, I don't know what's the good approach on this. Config looks straightforward, but I don't know how flags should be configured in XCode, when using bazel to buil

[2020-05-21 02:45] qlzh727 commented on #39453
Thanks @kaixih for the debug, let me add @guptapriya from distribution strategy team.

btw, when the error occurs with CUDNN_STATUS_EXECUTION_FAILED, what's the error detail from the cudnn kernel?

[2020-05-21 03:44] Lay4U commented on #39706
I don't under stand your mean

if I do translate with google

"You can duplicate the shared point. Find the cloned point here."

is my colab page wrong?

[2020-05-21 03:46] jvishnuvardhan commented on #39157
@Anasel23 Please try to use `tf-nightly` while converting model to tflite. Please provide a standalone code if this was not resolved for you.

Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-05-21 03:46] #39157 closed

[2020-05-21 03:52] nio1814 opened #39738 "Subclassed layers not automatically saved to checkpoint in TF2.2"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `Yes`
- OS Pla

[2020-05-21 04:06] jvishnuvardhan commented on #35585
@amjass12 Did you had a time to look into my gist. Please also check the [solution](https://github.com/tensorflow/tensorflow/issues/35533#issuecomment-626128762) (using `reset_states`) that worked for @NLP-ZY.

Please verify once and close the issue. Thanks!

[2020-05-21 04:20] jvishnuvardhan commented on #38119
@devpunjabi I tried running your code in `tf-nightly` and don't see any error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/ac62381a69ad529aa69f2dba335d705d/untitled173.ipynb). Thanks

[2020-05-21 04:22] jvishnuvardhan commented on #33210
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-05-21 04:22] #33210 closed

[2020-05-21 04:37] markomernick commented on #36071
HI @stefanondisponibile and @ravikyram: we have fixed this at HEAD internally (we changed how the layer performs adapt() by deferring to internal sublayers) and I have verified your code snippet functions as expected. I believe these changes should be in the nightly, if not now then very shortly.

[2020-05-21 04:43] qlzh727 commented on #36363
This should now be fixed.

[2020-05-21 04:43] #36363 closed

[2020-05-21 04:47] adonisues opened #39739 "tf.keras.layers.Embedding convert error"
**System information**
- Linux Ubuntu 16.04):
- tf-nightly

Hello,
I have problem when converting "tf.keras.layers.Embedding".
"from_keras_model" works well but   "from_saved_model" doesn't.

**Code**
[code]

**Error Log**
Traceback (most recent call last):
  File "/local1/sshwang/virtual_envs/pytorch_1/lib/python3.5/site-packages/tensorflow/lite/python/convert.py", line 180, in toco_convert_proto

[2020-05-21 04:55] jianlijianli commented on #39509
Removing myself since I am not familiar with nodejs.

[2020-05-21 05:12] ravikyram commented on #39738
I have tried in colab with TF-GPU version 2.1.0 , 2.2.0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/85788d8136638f667bccc372d5739162/untitled919.ipynb).Thanks!

[2020-05-21 05:19] ymodak commented on #39568
Thanks for the feedback. I will update that piece of documentation soon.
Closing this issue since it's resolved.

[2020-05-21 05:19] #39568 closed

[2020-05-21 05:24] amahendrakar commented on #39485
Any updates regarding this issue? Thanks!

[2020-05-21 05:26] amahendrakar commented on #31440
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-05-21 05:26] #31440 closed

[2020-05-21 05:30] amahendrakar commented on #33381
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-05-21 05:30] #33381 closed

[2020-05-21 05:36] ravikyram commented on #39738
I am not seeing any issue with TF nightly version(`2.3.0-dev20200520`).Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/b164bd6f380c1111e6a240de97d5ab2b/untitled919.ipynb).You could use tf-nightly for now and in the next couple of months new stable version will be released .Please, close this thread if this solves your question. Thanks!

[2020-05-21 05:36] amahendrakar commented on #39437
Any updates regarding this issue? Thanks!

[2020-05-21 05:42] nio1814 commented on #39738
Good to know it should no longer be an issue. Thanks for the quick response.

[2020-05-21 05:42] #39738 closed

[2020-05-21 06:09] InfotooRD commented on #39572
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/lite/tests/optimize.mlir#L253-L261
The test is invalid too.

[code]

[2020-05-21 06:25] ravikyram commented on #39735
@gtjemwa
I think  tokens in docs is 17 in your example.Hence max tokens should be considered greater than 17 then you will not have this issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/0b698009a433c05664652475c7da156e/untitled922.ipynb).Thanks!

[2020-05-21 06:29] Anees11 opened #39740 "cd Tiger build installation isssue when I'm using command cd Tiger it's retrun such a no file directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8