[2021-12-23 11:43] Saduf2019 commented on #37182
@kimchicanh
Is this still an issue in the latest tf version as many bugs have been solved could you please confirm.

[2021-12-23 12:05] #53366 closed

[2021-12-23 12:10] tilakrayal commented on #37653
@hankcs ,
Can you please look at this [workaround](https://github.com/tensorflow/tensorflow/issues/37653#issuecomment-657176452) in latest tf v2.7 and let us know if the issue still persists.Thanks!

[2021-12-23 12:18] thewq commented on #35451
@veonua have you solve the problem? I meet the same bug

[2021-12-23 12:26] veonua commented on #35451
unfortunately no, ended up with switched to another platform

On Thu, 23 Dec 2021 at 13:18, wuqiang ***@***.***> wrote:

[2021-12-23 12:39] tilakrayal commented on #37029
Was able to reproduce the issue in tf v2.7. Please find the gist [here](https://colab.sandbox.google.com/gist/tilakrayal/f7355e559a93dd95610dcaf4d235a741/untitled162.ipynb)

[2021-12-23 12:42] mdanatg commented on #43800
There are some functions in [parser.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/pyct/parser.py) that might be of help.

The module is dynamic at the moment, which has been a source of headackes. It's a bit runaround (lacks a dedicated API), but you could obtain it by calling `api.PyToTF().get_extra_locals()['ag__']` (defined [here](https://github.com/tensor

[2021-12-23 12:44] tilakrayal commented on #53530
@geometrikal ,
We don't find any issue in the result.Can you please find the gist [here](https://colab.research.google.com/gist/tilakrayal/17aa98d4638ef865f67cc18c401cefb0/untitled153.ipynb).Also please let us know if we are missing anything here.Thanks!

[2021-12-23 12:47] tilakrayal commented on #53497
@Rahn80643 ,
Kindly open a tf discussion forum issue for this as it is not a bug or feature request. There is a big community to support and learn from your questions.Thanks!

[2021-12-23 13:10] edanh88 opened #53533 "Tensorflow conv1d computed incorrectly on GPU"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-12-23 14:08] mohantym commented on #53533
Hi @edanh88 ! I changed the runtime environment to [CPU](https://colab.sandbox.google.com/gist/mohantym/d4faa2bdc668b85261732fc18d8015e5/tensorflow-bug.ipynb#scrollTo=ZyXg6Bdgv1OP) and then to [GPU](https://colab.sandbox.google.com/gist/mohantym/d9330230394869e3e2c19c6287c9cb52/tensorflow-bug.ipynb#scrollTo=cnL4334XwalE)  and ran the the above [code](https://colab.sandbox.google.com/gist/mohantym/

[2021-12-23 14:15] Saduf2019 commented on #53520
@GuoGuiRong
Please refer t below links: as this is not a feat req or a bug please create this issue in discussion forum.
[link](https://github.com/tensorflow/tensorrt)
[link1](https://blog.tensorflow.org/2021/01/leveraging-tensorflow-tensorrt-integration.html),
[link2](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html)

[2021-12-23 14:46] tilakrayal commented on #33238
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-23 14:47] tilakrayal commented on #31709
@yzhang93
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-23 14:52] sigeisler commented on #53296
Yes, but if I am using a TPU VM with e.g. a v3-32 then only 8 cores are local and the remaining ones reside on a different host. Anyhow a TPU VM with e.g. v3-32 causes other Google-Cloud-related issues. For example, once created you cannot stop it any more (i.e. `gcloud alpha compute tpus tpu-vm stop ...` then throws an error).

Similarly, I am running into trouble, if I am trying to submit a job

[2021-12-23 15:20] GeorgeLiang3 opened #53534 "Error in Hessian calculation using forward over backward propagation"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Yes
- TensorFlow installed from (source or binary):  both colab CPU and GPU mode
- TensorFlow version (use command below):2.7.0
- Python version: Python 3.7.12
- GPU model and memory: Tesla P100

**Describe the current behavior**
I am trying to compute second derivative using t

[2021-12-23 15:25] KieronQuinn commented on #53380
Thanks for the updated example code with the fix, unfortunately it doesn't help my original project.

Started by running a comparison between the before and after example to identify what had been changed, to try to replicate it in my own project, nothing really jumped out other than updating gradle (which I've done - no change), and adding Sonatype to the sources (again, no change).

I've copied

[2021-12-23 15:40] Farbdose commented on #28868
@courageon Not sure If i just ran into the _exactly_ same issue but I managed to fix mine with this:

[code]

[2021-12-23 17:05] #53362 closed

[2021-12-23 18:28] rchao commented on #44462
@fchollet cc'ing you for your thoughts.

[2021-12-23 19:42] geometrikal commented on #53530
@tilakrayal Try again in colab using a GPU runtime and you will see the issue

[2021-12-23 20:10] DanBmh commented on #53284
The linked code contains only the scripts to train the train the network with which I'm facing the learning problem. If you follow the readme steps to run a training you should be able to reproduce the problem.

But as I wrote above the problem seems to be that one dataset generation method keeps the length information and the other doesn't:
[code]

And later on I used this value to create a learn

[2021-12-23 20:49] hankcs commented on #37653
Thank you for the workaround and I can confirm it works with the latest v2.7: https://colab.research.google.com/drive/1xNMnqzM0Zrfr3I8XwcS0E9kdhhslxuZd?usp=sharing

[2021-12-23 21:07] Fer020707 commented on #53510
Thank you very much. By correcting that, it worked perfect

[2021-12-23 21:24] DocGarbanzo commented on #53396
@sachinprasadhs, @sanjoy  - do you have any update on this? Could you please acknowledge that this is a bug and will get fixed. It's basically a blocker when you want to upgrade to tf 2.7 and you support tensorrt.

[2021-12-23 22:10] hackermondev opened #53538 "ModuleNotFoundError: No module named 'tensorflow.python.keras.applications'"
<em>Please make sure that this is an issue related to keras.
tag:keras_template</em>

I am running a script that is trying to import this:

``import tensorflow.python.keras.applications``

but it gives the bellow error:

```ModuleNotFoundError: No module named 'tensorflow.python.keras.applications'```

My TensorFlow version is 2.8.0 and Keras version is 2.8.0.
I'm trying to train an object detecti

[2021-12-23 22:56] geometrikal commented on #53530
Further investigation reveals this is not a bug.

The tensoflow operations within `with tf.GradientTape() as tape` are running in parallel with the python code. When a tensorflow operation is performed on numpy or list data, it forces the two to synchronise, meaning that there is a delay while waiting for the previous code to complete. The delay is proportional to the size of the model, as the tim

[2021-12-23 22:56] #53530 closed

[2021-12-23 23:29] mdanatg commented on #48699
Hi @Nikhil-Mudgal , https://www.tensorflow.org/community/contribute is a good place to start.

[2021-12-24 00:05] #53118 closed

[2021-12-24 02:18] GuoGuiRong commented on #53520
[code]

IS this a bug that hasn't been solved until now?

[2021-12-24 02:51] hankcs commented on #37653
Thank you so much!

[2021-12-24 02:51] #37653 closed

[2021-12-24 03:44] mohantym commented on #53510
Ok @Fer020707 ! Closing this issue as it seems to be resolved from above comment . Thank you!

[2021-12-24 03:44] #53510 closed

[2021-12-24 04:15] aliencaocao commented on #53123
I run into the same issue today on TF2.7 and after upgrading to 2.8 it is indeed fixed.

[2021-12-24 04:17] BorisPolonsky commented on #53529
I've checked the "verify your installation" part in ref [1](https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html). Here's what I got in `tensorflow/tensorflow:2.7.0-gpu`:
[code]
As comparison, here's what I got in `tensorflow/tensorflow:2.4.0-gpu`, a version wheere `trt.TrtGraphConverterV2` works out of box:
[code]
I don't see any problem with TensorRT installation here. Maybe th

[2021-12-24 04:23] kumariko commented on #25598
@jaingaurav Could you please let us know if you still need help on this issue? Thanks!

[2021-12-24 04:46] njzjz commented on #52222
I have a similar issue when using CUDA 11.3. I would suggest to downgrade CUDA 11.2. There should be some unknown compatibility issues with CUDA 11.3. (And I hope it can be investigated)

[2021-12-24 05:50] tilakrayal commented on #53534
@Saduf2019 ,
I was able to reproduce the issue in tf v2.5, v2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/c6cc071e8beb14621801edd9aa4398c8/53534.ipynb).

[2021-12-24 07:02] tilakrayal commented on #53517
@upwindflys ,
While trying to execute the given code i was facing different error.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d1bfa5103ba3720b64632f01e97f9497/untitled154.ipynb) and provide the latest code to reproduce the issue.Thanks!

[2021-12-24 07:36] developervariety commented on #52160
Hi, could you possibly upload a `1.15.1` version build? I don't have enough experience on compiling libraries like these. It would be greatly appreciated if you could do this.

[2021-12-24 08:46] mohantym commented on #53447
Hi @Honry ! Can this issue be closed now ? The above PR is merged now.

[2021-12-24 08:48] Honry commented on #53447
Yeah sure, thank you for your great work!

[2021-12-24 08:48] #53447 closed

[2021-12-24 09:29] mohantym commented on #21250
As @iranroman pointed earlier , I could print real and imaginary values using python print though. Attaching [gist ](https://colab.sandbox.google.com/gist/mohantym/a52544075800873ad391dd62a2023076/gh_21250.ipynb#scrollTo=7ga-RXiovsq8)for reference.

[2021-12-24 09:40] Saduf2019 commented on #18807
As contrib is deprecated, Please google the name of the module without the tf.contrib part to know it's new location and thus migrating your code accordingly by correcting the import statement.

[2021-12-24 09:40] #18807 closed

[2021-12-24 09:47] Saduf2019 commented on #21829
As contrib is deprecated, Please google the name of the module without the tf.contrib part to know it's new location and thus migrating your code accordingly by correcting the import statement.

you may also refer to the below links:
[link](https://stackoverflow.com/questions/55082483/why-can-i-not-import-tensorflow-contrib-i-get-an-error-of-no-module-named-tenso)
[link1](https://www.tensorflow.or

[2021-12-24 09:47] #21829 closed

[2021-12-24 09:47] tilakrayal commented on #16363
@sleighsoft ,
Please check the updated guide here https://www.tensorflow.org/guide/migrate

Closing this issue as this was resolved. Thanks!

[2021-12-24 09:47] #16363 closed

[2021-12-24 09:49] kumariko commented on #14194
@johnsrude It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Contrib has been depreciated in Tensorflow 2.x , also please refer this [link](https://www.tensorflow.org/guide/migrate) .

[2021-12-24 09:49] #14194 closed

[2021-12-24 09:52] Saduf2019 commented on #20868
Please refer to the updated [link](https://www.tensorflow.org/tutorials/generative/cyclegan), moving this to closed status.

[2021-12-24 09:52] #20868 closed

[2021-12-24 09:54] mohantym commented on #20050
Is this still an issue? Have you checked latest [LSTMcelldocument](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTMCell) from 2.7 yet?

[2021-12-24 09:58] mohantym commented on #21744
Hi @adamAlnatsheh ! Contrib has removed from 2.x versions . Please refer [addons](https://www.tensorflow.org/addons) and migration [document](https://www.tensorflow.org/guide/migrate) to upgrade your codebase.Thanks!

[2021-12-24 09:58] #21744 closed

[2021-12-24 10:10] sushreebarsa commented on #16466
@eisenjulian We see that you're using TF v1.x which is out of support window ,Please upgrade to TF v2.4 and later versions.Could you please refer to [migration guide](https://tensorflow.org/guide/migrate) and [canned_estimators](https://www.tensorflow.org/lattice/tutorials/canned_estimators) where Estimators are not recommended for new code. Estimators run v1. Session-style code which is more diff

[2021-12-24 10:10] #16466 closed

[2021-12-24 11:23] jocampo2 commented on #53395
anyone?

[2021-12-24 11:38] sushreebarsa commented on #15035
@albertz Please see the TensorFlow v1 to TensorFlow v2 [migration guide](https://www.tensorflow.org/guide/migrate).We see that you are using TF v1.x which is not actively supported and please try to upgrade to TF v2.4 or later.Thanks!

[2021-12-24 12:42] sushreebarsa commented on #53506
@ricvo
This is not a bug or feature request ,could you please refer to the [link1](https://www.tensorflow.org/api_docs/python/tf/autograph/to_code) , [link2](https://www.tensorflow.org/guide/function) and for any further queries you may open this issue in [TF discussion forum ](https://discuss.tensorflow.org/)as there is a larger community there to get you the right help. Thank you!

[2021-12-24 12:55] sushreebarsa commented on #53519
@Doev Could you please check this similar issues link [1](https://stackoverflow.com/questions/36927607/how-can-i-solve-ran-out-of-gpu-memory-in-tensorflow),link [ 2](https://stackoverflow.com/questions/46023775/why-keras-with-tensorflow-is-not-using-all-gpu-memory) ,link [ 3 ](https://stackoverflow.com/questions/46225077/tensorflow-doesnt-allocate-full-gpu-memory), link [4](https://stackoverflow.c

[2021-12-24 13:05] #53383 closed

[2021-12-24 13:06] sushreebarsa commented on #53525
@pkarimib
In order to reproduce the issue reported here, could you please provide the complete code(models) that you are using. Thanks!

[2021-12-24 13:23] gcuder commented on #53470
https://github.com/keras-team/keras/issues/15806

[2021-12-24 13:31] sushreebarsa commented on #53538
@hackermondev I was able to import this  `import tensorflow.python.keras.applications` on colab.
 Could you please find the gist [here](https://colab.sandbox.google.com/gist/sushreebarsa/7205e420b464689776e57e4a387e3fbe/53538.ipynb#scrollTo=zdITO1jmn9kH) for reference and confirm the same?Thank you!

[2021-12-24 13:38] sushreebarsa commented on #53470
@gcuder Thank you for the update!
As per the [comment](https://github.com/keras-team/keras/issues/15806#issuecomment-1000457994)  , tensorflow.python.keras is now deprecated and will be removed at any point. Also, importing python modules: should be avoided &  tf.keras.* should be used .It is working as intended .
Could you please move this issue to closed status as it is resolved?
Thank you!

[2021-12-24 13:56] sushreebarsa commented on #53531
@PatriceVignola
In order to expedite the trouble-shooting process,please provide a complete code snippet to reproduce the issue reported here. Thanks!

[2021-12-24 14:24] sanatmpa1 commented on #53344
@dniku,

This looks like an issue that is mostly related to `Tensorboard`, Can you kindly create a new issue on [Tensorboard repo](https://github.com/tensorflow/tensorboard/issues)? Thanks!

[2021-12-24 14:38] sanatmpa1 commented on #53272
@mahenning,

As this looks like an issue related to `Tensorboard`. Can you please open a new issue in [tensorboad repo](https://github.com/tensorflow/tensorboard/issues)? Thanks!

[2021-12-24 15:15] hackermondev commented on #53538
I was able to fix the problem by uninstalling TensorFlow and installing it back.

[code]

I'm not sure why I had to do this though.

[2021-12-24 15:15] #53538 closed

[2021-12-24 15:55] pkarimib commented on #53525
@sushreebarsa
Thanks for your response. The code is in [this link](https://drive.google.com/file/d/1ZpWAyFw-Zk8b5CwGy4-kX7_DOidme60K/view?usp=sharing).

Run the following to test the quantized model:
[code]

To build the int8 module, please run:
[code]

Please let me know if you need anything else.

[2021-12-24 16:29] aswathselvam commented on #49150
Which cmakelist did you modify?

[2021-12-24 16:52] saddamhijazi commented on #53459
I have managed to run the code without problems on TensorFlow 2.7 but it still does not work on 2.4, for me it is not a problem I can use the 2.7 version. The issue could be closed.

Thank you very much.

[2021-12-24 17:35] winnie-bar opened #53540 "Tensorflow"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installation (pip package or built from source):
- TensorFlow library (version, if pip package or github SHA, if built from source):

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

#### Option A: Reference colab notebooks

1)  Reference [TensorFlow Mod

[2021-12-24 17:58] #53470 closed

[2021-12-24 18:48] esdrascosta commented on #41340
Thanks, @mohantym  I've just tested the issue and it's seems to be fixed

The version I was testing at that time was `tensorflow==2.2.0`.
So, now this issue should have be fixed in 2.7 version.

I also tested with relative paths and worked as well.
`
tf.keras.models.load_model(os.path.join('checkpoints', 'classifier'))
`
Thanks again.

[2021-12-24 18:48] #41340 closed

[2021-12-24 19:12] jcr0269 commented on #53281
I also am getting the same problem! I have been trying to debug it, but with no success so far.

[2021-12-24 20:43] TylerADavis commented on #45053
Thanks! I'll take a look

[2021-12-24 21:31] NuoWenLei opened #53541 "Feature Request: Providing Gradients for `layer.set_weights()`"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.7.0
- Are you willing to contribute it (Yes/No): No, I a

[2021-12-24 22:05] #53319 closed

[2021-12-25 01:05] #48660 closed

[2021-12-25 01:05] #47623 closed

[2021-12-25 02:05] #42417 closed

[2021-12-25 02:05] #46715 closed

[2021-12-25 02:41] tilakrayal commented on #53459
@saddamhijazi ,
 There is a high possibility that issue was fixed with later TF versions.Glad the suggestion worked for you.Please feel feel to move this issue to closed status as issue got resolved in latest stable version.Thanks!

[2021-12-25 02:46] medivh-x opened #53542 "Tensorboard load saved_model.pb failed"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Windows

You can collect some of this information using our environment capture
[script](https://github.com/tens

[2021-12-25 03:05] #42320 closed

[2021-12-25 03:07] #53542 closed

[2021-12-25 03:08] medivh-x commented on #53542
oh...I should parse saved_model.pb to SavedModel   not GraphDef

[2021-12-25 03:32] bondhugula opened #53543 "Improving error message on CUDA version search and specification during build `./configure`"
This is from TF git version: 5e8cd1162cc8eeb9cf493d071293a621dcbb51f0 (Dec 22).

When building from sources and when the `./configure` step fails to find a CUDA version with a message below, could it actually report what it found? The message below leaves things ambiguous:

[code]

When it says "Could not find any cuda.h .... matching version ..", could it report what exactly was found and whether

[2021-12-25 04:05] #44705 closed

[2021-12-25 04:05] #44986 closed

[2021-12-25 08:44] wstian commented on #3103
maybe it's `num of cpu` related.

test with tf2, with docker, as:
[code]

different cpus will get results, different with the last two digits

testing code
[code]

[2021-12-25 10:05] #53379 closed

[2021-12-25 14:03] Nikhil-Mudgal commented on #48699
Thanks @mdanatg. I checked it out but the main problem is finding a good issue for me to start on. I searched some of the issues tagged contributions welcome and good first issue; but they were either too difficult for me as a beginner in Tensorflow or I didn't understand the issue at all. Kindly help me find some issues as a beginner to try. I really want to contribute to tensorflow.
Thanks for t

[2021-12-25 22:13] furkanatlan opened #53544 "How can I prevent CPU overflow while optimizing tensorflow with particle swarm optimization?"
I am trying to optimize the following hyperparameters with pso for segmentation in modified Unet model.

Hyperparameters: Dropout, learning_rate, factor, min_lr

tensorflow==2.0.0

keras==2.3.1

PSO iterations number = 10

PSO Particle number = 10

10 models are running in each iteration (PSO iteration). This means a total of 100 models will run (model_1, model_2,...,model_100). But, when I go to

[2021-12-26 00:02] mohantym commented on #53540
Hi @winnie-bar ! Could you please point the exact issue?

[2021-12-26 00:06] mohantym commented on #53543
Hi @bondhugula ! Did the issue get resolved after specifying 11.2 as Cuda Version?

[2021-12-26 00:10] mohantym commented on #53529
Hi @Saduf2019! Could you please look at this issue?

[2021-12-26 00:14] mattroos commented on #41053
I'd very much like to have this capability as well.

[2021-12-26 01:44] ricvo commented on #53506
@sushreebarsa thanks for the time you are dedicating to this issue.
I did not open this as a bug nor as a feature request. I think I opened this as a Documentation Issue. Indeed it is not specified in the Documentation what is `ag__` (see also in the links you suggest).
Working on another issue https://github.com/tensorflow/tensorflow/issues/43800 I found out what `ag__` is, but unfortunately it i

[2021-12-26 02:49] bondhugula commented on #53543
Yes, specifying 11.2 does work. I now see the version table at https://www.tensorflow.org/install/source.

[2021-12-26 03:50] TimRoadley opened #53545 "Cross compiling TFLite with XNNPACK=ON for ARM with CMake"
**System information**
- Linux Ubuntu 20.04
- TensorFlow r2.8 (and master at the time of writing, being Dec 26th 2021)
- CMake 3.16.3
- gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf (as per [this](https://www.tensorflow.org/lite/guide/build_cmake_arm#download_toolchain_2) toolchain recommendation)

**Describe the problem**
I want to cross compile tensorflow lite (with xnnpack=on) for arm using cm

[2021-12-26 03:51] wankiwi opened #53546 "Error when installing TF2.2 based on ROCm 3.3.0"
``**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.6.1810 (Core)
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.2.0
- Python version: 3.6.0
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if compiling from source): 2.0.0
- GCC/Compiler version (if compiling from source): 8.4.0
- ROCm vers

[2021-12-26 06:53] Suzan009 commented on #53487
I did. But I also want to achieve this in pure tensorflow.

[2021-12-26 08:29] mohantym commented on #53543
Ok @bondhugula ! Is this issue good to close then?

[2021-12-26 08:32] mohantym commented on #53546
Hi @wankiwi ! Have you tried with latest version 2.7 yet?

[2021-12-26 08:44] wankiwi commented on #53546
Not yet, I selected the TF version according to this [https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md](url). Should I try the TF2.7?

[2021-12-26 08:45] wankiwi commented on #53546
Not yet, I selected the TF version according to this [https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md](url) Should I try the TF2.7?

[2021-12-26 08:46] wankiwi commented on #53546
Not yet, I selected the TF version according to this [https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md](url). Should I try the TF2.7?

[2021-12-26 10:33] Saduf2019 commented on #53546
@wankiwi
Please try in latest version 2.7 and let us know.

[2021-12-26 11:48] #47021 closed

[2021-12-26 11:48] #53394 closed

[2021-12-26 12:04] HH721 commented on #13607
My tensorflow construction order :

I also made a custom op for myself, but
while trying to load the .so file I run into

Can anyone help me?

[2021-12-26 13:48] #53354 closed

[2021-12-26 13:48] #53304 closed

[2021-12-26 16:51] bondhugula commented on #53543
@mohantym The issue really was on `./configure` not reporting what it actually found and whether it found something. Without that it wouldn't be clear to a user as to why. In any case, this may not be a high priority issue.

[2021-12-26 17:26] SLP-phys8 opened #53548 "Failed to load the native TensorFlow runtime."
Hi,
I am having an issue when importing tensorflow into jupyter notebook. I installed tensorflow using pip install tensorflow using a command prompt opened via anaconda. I checked which versions of python and tensorflow are installed, the command line says I have python 3.8.5 and tensorflow 2.7.0. I believe they are compatible with eachother.
The error I get when importing it is attached below.
![

[2021-12-27 02:01] ghost opened #53549 "I FUCKING HATE TENSORFLOW"
I hate Tensorflow.
Yes. I fucking hate Tensorflow.
I created this GitHub account only to open this issue.
Please use Jax or Pytorch or anything else. Don't use Tensorflow.
Don't report me. Don't mad at me. Don't ask me why.
Because I don't want to talk about it anymore.

I. FUCKING. HATE. TENSOR-FUCKING-FLOW.

[2021-12-27 02:43] chensisi0730 opened #53550 "I failed to install tflite-model-maker"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (Linux Ubuntu 18):
- Mobile device (e.g. iPhone 8, Pixel 2

[2021-12-27 02:49] hwaking commented on #53550
邮件已收到！

[2021-12-27 03:10] FLming commented on #32903
OK, I will check it in this week.

[2021-12-27 03:51] tilakrayal commented on #53544
@furkanatlan ,
We see that you are using tf version 2.0,  please update to latest stable  v2.7 and let us know if you are using same issue.Thanks!

[2021-12-27 03:52] mohantym commented on #53550
Hi @chensisi0730! Could you try again with 3.8 ? Please make you sure your pip version is updated to latest version and your are using a virtual environment. Attaching relevant threads for reference. Ref [1](https://www.tensorflow.org/lite/guide/model_maker) , [2 ](https://colab.sandbox.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/tutorials/model_maker_object_detection

[2021-12-27 04:21] yawn999 commented on #53549
imagine not having a fucking life

[2021-12-27 04:22] yawn999 commented on #53549
I. FUCKING. HATE. BITCHES. LIKE. YOU.

[2021-12-27 04:45] #53549 closed

[2021-12-27 05:48] #53276 closed

[2021-12-27 05:58] tilakrayal commented on #53541
@NuoWenLei ,
Please feel free to close this issue since it is already being tracked in Keras repo? Thanks!

[2021-12-27 06:19] Aleksandar1932 commented on #48868
Thank you, saved my day!

[2021-12-27 06:29] mohantym commented on #53543
Hi @Saduf2019! Could you please look at this issue?

[2021-12-27 06:30] benben2022 commented on #48152
ValueError: Shapes (None, 2) and (None, 1) are incompatible
tf2.4.0
	METRICS = [
		tf.keras.metrics.TruePositives(name='tp'),
		tf.keras.metrics.FalsePositives(name='fp'),
		tf.keras.metrics.TrueNegatives(name='tn'),
		tf.keras.metrics.FalseNegatives(name='fn'),
		tf.keras.metrics.BinaryAccuracy(name='accuracy'),
		tf.keras.metrics.Precision(name='precision'),
		tf.keras.metrics.Recall(name='recal

[2021-12-27 06:39] benben2022 commented on #48152
update the tf  to  2.4.1,  any other soft need update|?  the version need to match again?

[2021-12-27 06:44] Saduf2019 commented on #53548
@SLP-phys8
Can you please share information in text which will help any user with similar/same error instead of sharing a screenshot.
Also you may refer to below similar issues and let us know if it helps. also please try in venv to see if you face the error.

#24419, [link](https://stackoverflow.com/questions/57214046/c-extension-not-working-in-python-3-7-says-importerror-dynamic-module-does-not?

[2021-12-27 07:40] Saduf2019 commented on #53543
@bondhugula
We see that you are using the latest tf version, as per this [link]( https://www.tensorflow.org/install/source), the cuda version is already mentioned to be 11.2, hence there is no need to modify error message as its already specified which version is compatible. Kindly move this to closed status as you are able to use TF with the correct cuda version.

[2021-12-27 08:02] mohantym commented on #51031
Hi @Extremesarova !
We are checking to see whether you still need help in this issue . Have you checked these threads yet?  Ref [1](https://www.tensorflow.org/lite/guide/model_maker) , [2 ](https://colab.sandbox.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/tutorials/model_maker_object_detection.ipynb#scrollTo=sr3q-gvm3cI8), [3](https://colab.sandbox.google.com/gist/moh

[2021-12-27 08:06] tilakrayal commented on #53284
On running the given code snippet, I am facing an error stating `NameError: name 'learning_rate' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/509ed5ace38e4db5cf79b7c92dff7b7d/untitled164.ipynb).

[2021-12-27 08:12] sushreebarsa commented on #53506
@ricvo Thank you for the update!

Could you please raise a PR if you are willing to contribute to this issue ? Thanks!

[2021-12-27 08:48] #38261 closed

[2021-12-27 09:03] chensisi0730 commented on #53550
hi @mohantym
pip3 install tflite-model-maker   or    conda install tflite-model-maker   ?

[2021-12-27 09:05] tilakrayal commented on #53478
Also please take a look at this [link](https://www.tensorflow.org/lite/api_docs/python/tflite_model_maker/image_classifier/create) which provides more information.It helps!

[2021-12-27 09:23] mohantym commented on #53550
Please try with `pip install tflite-model-maker`.

[2021-12-27 09:29] Nikhil-Mudgal commented on #53550
hey @mohantym, I want to start contributing to tensorflow. I checked some of the issues tagged contribution welcome and good first issue but  they were too confusing at this earlier stage. Can you please suggest some issues I can start on. I will be highly obliged. Thanks

[2021-12-27 09:48] #37675 closed

[2021-12-27 09:48] #37472 closed

[2021-12-27 09:48] #36821 closed

[2021-12-27 09:48] #36034 closed

[2021-12-27 10:05] Nikhil-Mudgal commented on #53548
hey @Saduf2019 , I want to start contributing to tensorflow. I checked some of the issues tagged contribution welcome and good first issue but they were too confusing for me at this earlier stage. Can you please suggest some issues I can start on. I will be highly obliged. Thanks

[2021-12-27 10:13] chensisi0730 commented on #53550
Refer to tflite-model-maker  and https://github.com/hoitab/TFLClassify.git ，
 Is it suitable for general picture classification ？

[2021-12-27 10:30] Saduf2019 commented on #53548
@Nikhil-Mudgal
can you open an issue on in discussion forum as there is a large community who can help and you can start addressing issues of your interest there, you can also filter labels here on github to issues of your choice and address them.

[2021-12-27 10:48] #35995 closed

[2021-12-27 10:53] furkanatlan commented on #53544
The issueis not related to the version of tensorflow. The issue is that
when optimizing keras model.fit with PSO, it requests more memory than
allocated and the code doesn't run due to memory overflow. I would be very
happy if you could help me with this.
Best regards

tilakrayal ***@***.***>, 27 Ara 2021 Pzt, 06:51 tarihinde
şunu yazdı:

[2021-12-27 11:16] mohantym commented on #53550
@chensisi0730 ! Above[ thread](https://codelabs.developers.google.com/codelabs/recognize-flowers-with-tensorflow-on-android#6) is a good example if you are looking for end to end deployment in android. You can explore more on android deployment from[ here.](https://www.tensorflow.org/lite/guide/android) .Thank you!

[2021-12-27 11:19] aviaisr opened #53552 "DSP Overflow - high pixel values are being clamped when running on DSP"
Hi,
I trained a keras model to extract gray-level segmentation maps.
I converted the model to TFLite and quantized the model.
The quantized model produces similar results on CPU and DSP HWs, if the values of the pixels are not very high (<<1).
If the maps produce pixel predictions with high values that are closer to 1, it seems that the values are being clamped when running on DSP, unlike in CPU w

[2021-12-27 11:22] mohantym commented on #53550
@Nikhil-Mudgal ! Please check this [thread ](https://github.com/freeCodeCamp/how-to-contribute-to-open-source) as a pointer start  contributing in opensource libraries like Tensorflow. You can keep a tab on recurring feature requests ,bugs and pull requests to get an overall idea of Tensorflow ecosystem.  Feel free to visit  TF [forum](https://discuss.tensorflow.org/) for further assistance. Thank

[2021-12-27 11:48] #53377 closed

[2021-12-27 12:48] #26998 closed

[2021-12-27 13:00] wankiwi commented on #53546
I tried the TF2.7 and got the following error massage:
`ERROR: /public/share/ac8zby7vk0/wankw/software/TF/tf-2.7.0/tensorflow/tensorflow/core/kernels/BUILD:719:18: error while parsing .d file: /public/home/wankaiwei/.cache/bazel/_bazel_wankaiwei/74b894e40687eb1a4e653de5840c4c0c/execroot/org_tensorflow/bazel-out/k8-opt/bin/tensorflow/core/kernels/_objs/split_lib_gpu/split_lib_gpu.cu.pic.d (No such

[2021-12-27 13:01] wankiwi commented on #53546
I tried the TF 2.7 and got the following error message
`ERROR: /public/share/ac8zby7vk0/wankw/software/TF/tf-2.7.0/tensorflow/tensorflow/core/kernels/BUILD:719:18: error while parsing .d file: /public/home/wankaiwei/.cache/bazel/_bazel_wankaiwei/74b894e40687eb1a4e653de5840c4c0c/execroot/org_tensorflow/bazel-out/k8-opt/bin/tensorflow/core/kernels/_objs/split_lib_gpu/split_lib_gpu.cu.pic.d (No such

[2021-12-27 13:48] #29847 closed

[2021-12-27 13:48] #29649 closed

[2021-12-27 13:50] pty0220 commented on #40261
Hello, everyone!

I would like to get prediction results from my trained model as fast as possible

Thus, I tried several combinations which suggested previously
and the speed result is look like this (left is fastest)

`import tf1  result = model(input)` > `import tf2  result = model(input)` >= `import tf1  result = model.predict(input)`

Especially, `import tf1  result = model(input)` is super f

[2021-12-27 14:07] DanBmh commented on #53284
The learning rate is just some small value. I updated the comment above.

[2021-12-27 14:48] #29529 closed

[2021-12-27 14:48] #29402 closed

[2021-12-27 14:48] #29115 closed

[2021-12-27 14:48] #27665 closed

[2021-12-27 14:48] #33092 closed

[2021-12-27 14:48] #32938 closed

[2021-12-27 15:28] #53541 closed

[2021-12-27 15:48] #32546 closed

[2021-12-27 15:48] #32457 closed

[2021-12-27 16:48] #42572 closed

[2021-12-27 17:48] #41021 closed

[2021-12-27 17:48] #40004 closed

[2021-12-27 18:48] #40748 closed

[2021-12-27 18:48] #41022 closed

[2021-12-27 18:56] sachinprasadhs commented on #53476
Thanks for opening this issue. Development of keras moved to separate repository https://github.com/keras-team/keras/issues

Please post this issue on keras-team/keras repo.
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2021-12-27 20:19] aritraMandal02 commented on #53391
Okay posted there.

[2021-12-27 20:48] #50324 closed

[2021-12-27 21:28] srcolinas opened #53554 "Typing tensorflow.data.Dataset"
**System information**
- TensorFlow version (you are using): 2.5
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

I have some functions that accept instances of tensorflow.data.Dataset. I would like to type those functions so that the caller knows what is expected. However, doing `data: tensorflow.data.Dataset`, is not good enough, because

[2021-12-28 00:24] Randy1435 commented on #53549
I'm sorry you feel about Tensorflow this way, but that doesn't mean you can open an issue and just trashtalk Tensorflow.

[2021-12-28 00:30] TruncatedDinosour commented on #53549
ok boomer

[2021-12-28 00:31] yawn999 commented on #53549
I believe you miss understand. I hate people like that. I was calling them the bitch

[2021-12-28 00:43] Oman395 commented on #53549
This man is extremely based

[2021-12-28 00:44] Oman395 commented on #53549
This man is exceedingly based

[2021-12-28 01:13] rsandler00 commented on #33131
Please address. Because of this I cannot use tf.data.Dataset, since processing there must still use old TF

[2021-12-28 01:25] cao-nv commented on #33131
The only reason why this issue still remains is from the core design of TF for being available in various programming languages or hardware platforms. Therefore, we shouldn't expect anything further.

[2021-12-28 01:56] pokurt commented on #53549
The type of people who can't afford a GPU lmaooo

[2021-12-28 02:30] ivlydp commented on #38285
Thanks for your sharing. I meet the same problem and try your script, it doesn't work now. Is it still work for you ?

[2021-12-28 03:48] #48188 closed

[2021-12-28 04:43] sushreebarsa commented on #53391
@aritraMandal02 Thank you for confirming ! Could you please move this issue to closed status as we will track the other one in [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-28 04:48] #40914 closed

[2021-12-28 04:55] mohantym commented on #18823
Hi @sven1977 ! Contrib has removed in 2.x versions. Please visit [migration page](https://www.tensorflow.org/guide/migrate) to upgrade your codebase to 2.x versions. Thank you.

[2021-12-28 04:55] #18823 closed

[2021-12-28 05:34] tilakrayal commented on #53284
@DanBmh ,
On running the given code snippet, I am facing an error stating NameError: name 'config' is not defined. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/cd8e558cefc2eacf10b62792adaa9154/untitled166.ipynb).

[2021-12-28 05:36] tilakrayal commented on #53552
@aviaisr ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-12-28 05:45] tilakrayal commented on #53544
@furkanatlan ,
I ran the code shared and face a different error, please find the gist [hehttps://colab.research.google.com/gist/tilakrayal/55f75a374aea8d3a0fd21a7a3c8ee7f3/untitled167.ipynbre](url).Please share all dependencies to replicate the issue or share a colab gist with the reported error.

[2021-12-28 05:46] tilakrayal commented on #53544
I ran the code shared and face a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/55f75a374aea8d3a0fd21a7a3c8ee7f3/untitled167.ipynb).Please share all dependencies to replicate the issue or share a colab gist with the reported error.

[2021-12-28 05:47] tilakrayal commented on #53544
Its unlikely for TF 2.0 version to receive any bug fixes except when we have security patches. There is a high possibility that this was fixed with later TF versions. Perhaps you can use latest tf versions for your case. Thanks!

[2021-12-28 05:48] #53405 closed

[2021-12-28 06:41] Slyderek commented on #45930
Thanks a lot. This hugely helps. God bless you!

[2021-12-28 07:20] ivlydp commented on #48007
Please help check. It still persists in 2.7.0. (My Result is as blow)
![image](https://user-images.githubusercontent.com/8097474/147539479-fc99422d-4eed-49d8-829f-cb2aa2c68529.png)

[2021-12-28 07:22] Saduf2019 commented on #53486
@ablanch5
But its understood that with a none dimension you cant stack or unstack, it is like adding two tensors with none dimension, you cannot do that because you don't know if its broad-castable.
as requested you can open this in discussion forum for more information and move this to closed status. If you still want a feature request please feel free to create a PR.

[2021-12-28 07:48] #33585 closed

[2021-12-28 07:49] prio158 opened #53555 "quantization model failed"
### 1. System information

- Windows10
- TensorFlow 2.7
-

### 2. Code

YOLOV5 provides  tensorflow int8 optimization failure

[code]

TensorFlow Lite: export failure: tensorflow/lite/kernels/conv.cc:349 input->dims->data[3] != filter->dims->data[3] (16 != 1)Node number 3 (CONV_2D) failed to prepare.

[2021-12-28 08:24] mohantym commented on #44260
Hi @vasilevskykv ! you can use tf.device() to force a operation to either use GPU or CPU . You can use `tf.debugging.set_log_device_placement(True)`  to verify which devices you are using . Attaching [Gist](https://colab.sandbox.google.com/gist/mohantym/86eb5726fe00b97ae0f363b904aafbf9/github_44620.ipynb) for reference. Thanks!

[2021-12-28 09:17] 358383948 commented on #37262
@knightperfectionist Have you solved this problem?

[2021-12-28 09:31] mohantym commented on #43846
Hi @klicperajo ! Have you checked [get_memory_usage](https://www.tensorflow.org/api_docs/python/tf/config/experimental/get_memory_usage) feature  from TF 2.7 ?

[2021-12-28 09:48] #53406 closed

[2021-12-28 09:51] aliutkus commented on #33131
This looks like an irrelevant excuse: unless we are only talking of google TPU, pytorch, which runs on all devices, accepts item assignment

[2021-12-28 10:08] mohantym commented on #46491
Hi @kelvham ! I checked the log in above text file.  Your device does not seem to comply AVX instructions which might be causing OOM in first case.  Please refer these threads to  build Tensorflow in your device from source . You can also constrain [memory growth](https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_memory_growth) using to avoid OOM issue. Attaching relevant threa

[2021-12-28 10:23] mohantym commented on #53555
Hi @prio158 ! Could you please check this[ thread](https://stackoverflow.com/a/64616086/11530462) for answer?

[2021-12-28 10:33] Jaydeemourg opened #53556 "tf.data.experimental.save not saving my created tf.data.Dataset"
Tensorflow version: 2.7.0

**Description of the issue:**

i made use of the tf.data.experimental.CsvDataset class to create tf.data.Dataset from my csv data which i want to save with tf.data.experimental.save. upon attempting to save the dataset, the tf.data.experimental.save keeps running endlessly without saving the data.

`csv data file size: 67108864 bytes`

**Description of the expected behav

[2021-12-28 10:35] DamingoNdiwa commented on #32685
I have this same issue, I have installed tf-nightly 2.9.0.dev20211227 without any solution.

[2021-12-28 10:57] KKrisu commented on #53549
very constructive :D

[2021-12-28 10:59] JulianKlug commented on #36250
Same issue here. There are some case where it might be useful to have stateful metrics (if prior history of the metric is needed for the metric itself), but there should be a different state for validation and training.
Is there any way to achieve this?

[2021-12-28 11:16] SefaZeng opened #53557 "Compile selected tflite from bazel failed."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-12-28 11:32] prio158 commented on #53555
thank you!  That's not the answer I'm looking for, Can TensorFlow Lite quantize Depth separable convolution?

[2021-12-28 11:48] #39992 closed

[2021-12-28 11:48] #36115 closed

[2021-12-28 11:48] #36021 closed

[2021-12-28 11:59] louis-she commented on #53549
When and why are you so mad at TensorFlow? Installing it?

[2021-12-28 12:22] tanmaster commented on #9489
Maybe this helps someone: `sudo apt-get remove libnvidia-encode-495` somehow did the trick for me. My code was working before I installed this, so I simply tried removing it again and it really was the culprit.

[2021-12-28 12:48] #27120 closed

[2021-12-28 12:48] #40199 closed

[2021-12-28 13:09] jay0x5 commented on #39606
Hi i am having same issue
i am using:
python:3.9.5
tensorflow: 2.7.0
can someone help me please?

[2021-12-28 13:10] terrycmchan commented on #52214
same issue heere

[2021-12-28 15:20] lusiliang93 opened #53558 "Is it possible to build tensorflow lite C API to .hex file if the microcontroller such as AURIX TC29xT, which doesn't have any operating system"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): None
- Mobile device (e.g. iPh

[2021-12-28 15:27] Saduf2019 commented on #38829
@KirillAI
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error.Thanks!

[2021-12-28 15:30] Saduf2019 commented on #37573
@Andreas5739738
As many updates have been made in latest version can you please check in the latest tf version and let us know.

[2021-12-28 16:07] sushreebarsa commented on #45446
@PureTryOut Could you please let us know if this issue still persists ? Thanks!

[2021-12-28 16:10] PureTryOut commented on #45446
Oof I haven't tried it in a while, I kinda lost interest because of all the issues. I'll give it another shot early in the new year.

[2021-12-28 16:15] bixia1 commented on #49150
Right, TensorRT has API changes and doesn't work with TF before TF 2.7.

[2021-12-28 16:48] #12132 closed

[2021-12-28 17:18] kylejmorris commented on #53549
thanks for the feedback LGTM 👍

[2021-12-28 17:33] mohantym commented on #53558
Hi @lusiliang93 ! Could you check these threads for answer ? Ref [1](https://www.tensorflow.org/lite/microcontrollers), [2](https://towardsdatascience.com/tensorflow-on-arduino-b336f08fa0e9), [3](https://ss64.com/osx/xxd.html) .

[2021-12-28 17:36] mohantym commented on #53555
Hi @sachinprasadhs ! Could you please look at this issue ?

[2021-12-28 17:38] xiBread commented on #53549
Ë

[2021-12-28 17:48] #39869 closed

[2021-12-28 18:15] simpleParadox commented on #53549
Why though?

[2021-12-28 18:48] #53407 closed

[2021-12-28 19:45] DanBmh commented on #53284
Sorry. Updated the config definition in the snippet above.

[2021-12-28 19:48] TruncatedDinosour commented on #53549
and I am calling you the boomer, what's your point

[2021-12-28 21:13] aviaisr commented on #53552
1. I saved the kears model + tflite file + quantized tflite file here: https://drive.google.com/drive/folders/1ZIsPCiBPCzDmFcTbVAokjM7CtzLJO8y7?usp=sharing

2. Conversion code
_# Quntization script

# read an hdf5 keras model and convert to tflite with quantization
import tensorflow as tf
import numpy as np
import cv2
import sys
import os

def rep_data_gen0():
    a = []
    for i in range(128):

[2021-12-28 21:36] flobee commented on #53549
Mindestens Zwei Quellen für das Abitur

[2021-12-28 21:46] GlowingEgg commented on #53549
Hell yeah brother

[2021-12-28 23:49] vascobarbosa commented on #53549
what is this ? reddit ?

[2021-12-28 23:56] sachinprasadhs commented on #53463
Please follow [this](https://www.tensorflow.org/lite/performance/hexagon_delegate) document and make sure you are using the  hexagon_nn libraries with the [compatible version](https://www.tensorflow.org/lite/performance/hexagon_delegate#step_2_add_hexagon_libraries_to_your_android_app_2) of interface library.

[2021-12-29 00:03] Dreamedc2015 commented on #53549
# not a bad opinion

[2021-12-29 00:11] Servet3131 opened #53563 "Ssssss"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-12-29 00:33] sachinprasadhs commented on #53345
Generally when you set the Mixed precision dtype policy to float16, it uses float16 for computations and float32 for variables in-order to bring the numeric stability.
You can try printing the below lines to validate.
[code]
Refer [this](https://www.tensorflow.org/guide/mixed_precision) document for more details.

[2021-12-29 00:40] sanggusti commented on #53549
This is just too funny

[2021-12-29 00:48] #35982 closed

[2021-12-29 00:48] #38767 closed

[2021-12-29 00:48] #39730 closed

[2021-12-29 00:48] #40617 closed

[2021-12-29 00:48] #39811 closed

[2021-12-29 01:03] Dreamedc2015 commented on #53549
its an odd series of events

[2021-12-29 01:16] yongen9696 commented on #53549
Lmao

[2021-12-29 01:24] dmadisetti commented on #53549
@sushreebarsa Can you lock this? I think this is going viral on twitter, you can only expect more inane comments

[2021-12-29 01:37] sollyucko commented on #53549
See https://www.reddit.com/r/ProgrammerHumor/comments/rpkxg2/an_honest_guy/ for some explanation

[2021-12-29 01:44] w3sip opened #53564 "v.2.7: Failure to build for iOS"
When building our code for iOS against TensorFlow Lite 2.7.0, we're seeing the following errors:

[code]

The same exact code building in the same exact environment against TFLite 2.6.2 builds with no errors.

[2021-12-29 01:51] sarunmrzn commented on #53549
based

[2021-12-29 02:19] tilakrayal commented on #53556
@Jaydeemourg ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-12-29 02:27] Dragonchengllc opened #53565 "No such package '@png_archive//': Traceback (most recent call last):"
### 1. System information
Installation Package Version：
CUDA 10.0
CUDNN 7.6
Bazel  0.2
msys  X64
tensorflow 1.13.1
### 2. Code

I get the following error when compiling TENSORFLOW
F:/tensorflow-1.13.1/source/tensorflow/core/platform/default/build_config/BUILD:188:1: no such package '@png_archive//': Traceback (most recent call last):
        File "F:/tensorflow-1.13.1/source/third_party/repo.bzl",

[2021-12-29 02:29] GuoGuiRong commented on #52540
This may not have any help, I still don't know how to resolve my problem

[2021-12-29 03:01] prio158 commented on #53555
I found that whenever I used block convolution in the model, I got similar errors

[2021-12-29 03:53] lusiliang93 commented on #53558
Thanks for the reference. Based on your references, I guess the model needs to be dumped into hex file. In addition, there is no need to build tensorflow lite api into .so in order to use tensorflow lite C API in such microcontroller. Am I right?

[2021-12-29 04:00] sushreebarsa commented on #53564
@w3sip
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Thanks!

[2021-12-29 04:31] mohantym commented on #52540
Hi @GuoGuiRong ! Could you please check this [gist ](https://colab.sandbox.google.com/gist/mohantym/1812947bb3bad58b48eeddd9f43d79f1/github_52540.ipynb#scrollTo=H3yfLjsFKM6c) and let us know after configuring TensorRT?

[2021-12-29 04:33] SamuelMarks opened #53566 "tensorflow/lite/schema/upgrade_schema.py has a docstring arg out-of-line"
## URL(s) with the issue:

https://github.com/tensorflow/tensorflow/blob/87462bf/tensorflow/lite/schema/upgrade_schema.py#L234

## Description of issue (what needs changing):

### Clear description

The `(see :schema.fbs).` is an odd syntax, which my custom docstring parser picks up as an argument. What function does it have? - Can it be moved to the line above it?

[code]

### Parameters defined

[2021-12-29 05:11] tilakrayal commented on #53563
In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel version (if compil

[2021-12-29 05:12] tilakrayal commented on #53563
@Servet3131 ,
In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel vers

[2021-12-29 05:19] kbelenky opened #53567 "TripletSemiHardLoss produces only NaNs when training with a TPU"
This bug was discovered in Google Colab, but appears to be rooted in TripletSemiHardLoss.

Here's an example Colab that illustrates the problem:
https://colab.research.google.com/drive/10GuYAFDMuxXe2jqdj7hy_I7XcApJFmj7?usp=sharing

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

I combined the example Colab here:
https://colab.research.google.com/

[2021-12-29 05:52] mohantym commented on #53565
Hi @Dragonchengllc ! 1.x versions are supported anymore. Please refer this[ link](https://www.tensorflow.org/install/source) to build Tensorflow from source. Attaching relevant[ thread ](https://github.com/tensorflow/tensorflow/issues/27778)for reference. Thank you!

[2021-12-29 06:02] tilakrayal commented on #53284
@DanBmh ,
I was not able to find any issue or error while executing the given code.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b50514cb7e78a956f33665a3efd8e3bc/untitled169.ipynb).Can you please provide the error log you are facing while running the code.It helps to debug the issue.Thanks!

[2021-12-29 06:22] mohantym commented on #53558
Yes @lusiliang93 ! You can use the lite model  after[ converting ](https://blog.tensorflow.org/2019/11/how-to-get-started-with-machine.html)into header file and importing it as a library . I found a thread from [Mouser electronics](https://www.mouser.com/applications/voice-assistant-tensorflow-lite/) confirming the same.

![image](https://user-images.githubusercontent.com/86464649/147633036-c7e744

[2021-12-29 06:25] yxd886 commented on #30512
how about the feature swap_memory? it seems that tf.keras.layers.RNN does not provide this flag

[2021-12-29 07:23] sushreebarsa commented on #53567
@kbelenky
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-12-29 08:36] Jeaninezpp opened #53568 "GPU sync failed and CUDA_ERROR_ILLEGAL_ADDRESS error"
**System information**
- Have I written custom code: **yes**
- OS Platform and Distribution: **ubuntu 20.04**
- Mobile device if the issue happens on mobile device: **No**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version: **Tensorflow-1.4.0**
- Python version: **Python 3.5.2**
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from sourc

[2021-12-29 08:36] Doev commented on #53519
Hello and sorry for my late answer. I tested the links above, but I was not able to get any new information. Most links where just to old to work and the given code was deprecated.

[2021-12-29 08:42] tilakrayal commented on #53566
@SamuelMarks ,
Please feel free to submit a PR for the requested change or share the link where requested change is to be made

[2021-12-29 08:58] GuoGuiRong opened #53569 "convert_variables_to_constants_v2 not supper fo embedding?"
TensorFlow not supper frozen ConcreteFunction when I convert My deepFM model,
 It's because convert_variables_to_constants_v2 not supper enbedding, I want to know the fix of this issue please?
![image](https://user-images.githubusercontent.com/22836006/147644669-d550ed28-0715-495a-86b4-8b0b4b6d28c6.png)

<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorf

[2021-12-29 09:48] sushreebarsa commented on #53519
@Doev I tried to replicate the issue in TF `v2.7.0` and `tf-nightly(2.8.0.dev2021122109)` on Colab .Could you please find the gist [here](https://colab.sandbox.google.com/gist/sushreebarsa/279472e07190f020642385444b33570d/53519.ipynb) and confirm the same?Thank you!

[2021-12-29 09:55] sushreebarsa commented on #53569
@GuoGuiRong
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-12-29 09:59] sushreebarsa commented on #53557
@SefaZeng Could you please check the [tested build configurations](https://www.tensorflow.org/install/source#tested_build_configurations) where it is recommended to use Python version `3.7-3.9` for TF v`2.7.0 `? Please let us know if it helps?Thank you!

[2021-12-29 10:18] Saduf2019 commented on #53545
@TimRoadley
Could you please try on stable version and let s know if this is still an issue, could you please try on 2.6/2.7 and let us know.

[2021-12-29 10:35] #53486 closed

[2021-12-29 10:39] GuoGuiRong commented on #53569
ok

[2021-12-29 11:05] SefaZeng commented on #53557
Thank you for your reply. I just found updating the gcc version solved this problem.
BTW, is there a example for how to use the shared library to inference the tflite model in c++? I found the example for static library but not for shared library.
Thx in advance!

[2021-12-29 11:33] #53391 closed

[2021-12-29 11:34] aritraMandal02 commented on #53391
Okay done. Thank you for helping

[2021-12-29 12:08] Andreas5739738 commented on #37573
Running the gist shared above (https://colab.sandbox.google.com/gist/ravikyram/364ee68cbbcfd90658d7d06514c5d64b/untitled730.ipynb) with TF 2.7 shows that the behavior of ignore_errors has not changed. The documentation (https://www.tensorflow.org/api_docs/python/tf/data/experimental/ignore_errors) has also not been updated to explain the observed behavior.

[2021-12-29 12:10] sushreebarsa commented on #53569
@GuoGuiRong We see that you're using older version of `TF v2.3.4`,  could you please try to upgrade to latest stable TF version` 2.7.0` and let us know the outcome?Thanks

[2021-12-29 12:11] maybeLee opened #53571 "AveragePooling1D wrongly accept stride parameter to be None"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0

[2021-12-29 12:12] kratsg commented on #53424
It's a bug tho. You don't close issues of actual bugs do you?

[2021-12-29 12:25] mcourteaux opened #53572 "tf.data.Dataset .map().batch() pattern is not matched to use fused implementation."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v1.12.1-69

[2021-12-29 12:25] chunduriv commented on #53533
@edanh88,

Did you found the same using different GPU cards?  Can you brief `On CPU results are fine`? Thanks!

[2021-12-29 12:26] tilakrayal commented on #53568
@Jeaninezpp ,
We see that you are using tf version 1.4, 1.x is not actively supported, please update to latest stable v2.7 and let us know if you are using same issue.Please take a look at this link for tested build [configurations](https://www.tensorflow.org/install/source#gpu).Thanks

[2021-12-29 12:50] wangyifan349 commented on #31825
#The path problem needs to be solved under windows !!!!!!!!!!!!!!!
def caption_image(image_path):
	image_rel = pathlib.Path(image_path).relative_to(data_root)
	image_rel = str(image_rel).replace("\\","/")#################look here！
	image_rel = image_rel + " "
	return "Image (CC BY 2.0) "+ " - ".join(attributions[image_rel].split(" - ")[:-1])

[2021-12-29 12:55] DKWIPL commented on #31825
-----------------------------------------------------------
Attention: Non-Delivery Report
-----------------------------------------------------------

This report is generated by the email server at:

       gophygital.io

The message with subject:

       "Re: [tensorflow/tensorflow] KeyError while loading image data (#31825)"

and attached to this report was not delivered to
the following recip

[2021-12-29 12:57] Howave commented on #43688
then how to use the transforms in grappler optimization?

[2021-12-29 13:04] SefaZeng commented on #21965
It seems there is no download_dependencies.sh anymore. Is there a script to pull the flatbuffer now?

[2021-12-29 13:18] SefaZeng commented on #41966
hi @jonpsy  how you solved this?

[2021-12-29 13:37] GeorgeLiang3 commented on #53534
Any updates of this ? Thank you

[2021-12-29 14:50] perestoronin commented on #53512
resolved this issue on my side was errors in compile binutils, clang, bazel and tensorflow

- binutils and clang need rebuild with flag gold
- bazel 4.2.2 need patch file unix_cc_configure.bzl to be same as edge from master branch
- tensorflow need strip system flags with this script:

[code]

[2021-12-29 14:50] #53512 closed

[2021-12-29 15:07] DanBmh commented on #53284
That's the problem. That you can initialize the schedule with a negative _decay_steps_ value, which results in the optimizer not optimizing the network, but doesn't raise an error.

[2021-12-29 15:48] #53430 closed

[2021-12-29 15:53] popkristina opened #53575 "AttributeError: 'NoneType' object has no attribute 'outer_context' when building a token classification model"
Hi, I am training a token-classification model, and I use ELMO embeddings as one layer of my model.

I'm using elmo embeddings from tensorflow hub, and I am using them with tensorflow 2.4.1. The same model architecture worked when built in Tensorflow 1.x, but I need to migrate it to TF2. I followed the instructions on how to replace hub.Module() with hub.KerasLayer() or hub.load() in order to use

[2021-12-29 15:57] SamuelMarks commented on #53566
Opened PR

[2021-12-29 16:13] kmfrick commented on #39486
I won't really have time to test it before the middle of January, but I will do so and report back asap. Has a shared memory allocator been implemented in TF 2.7?

[2021-12-29 16:23] Chaudry24 opened #53577 "model.fit excess memory usage with GPU"
I am running 4 scripts which should be equivalent in theory. However, two of those [which use GPU to train the model] are using 10 times more memory than their CPU counterparts.

The scripts which are using acceptable levels of memory are scripts 1 and 3. The unacceptable levels are scripts 2 and 4.

Here is the code:
script1: https://pastebin.com/2gRbjKmx
script2: https://pastebin.com/GK9iE2DC
sc

[2021-12-29 16:40] mihaimaruseac commented on #21965
The build changed to now use CMake. Please follow instructions at https://www.tensorflow.org/lite/guide/build_cmake and open a new issue if that does not work.

[2021-12-29 16:52] Saduf2019 commented on #53520
@GuoGuiRong
Can you please run your code in google colab and share a gist as it is not indented, so we can help you.

[2021-12-29 16:52] #53563 closed

[2021-12-29 17:20] sushreebarsa commented on #53575
@popkristina
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Thanks!

[2021-12-29 17:49] Saduf2019 commented on #53451
@Evgeny-IT
We see that you have not filled the issue template and used 1.x, the error reported is because the two shapes are not same.
As this is not bug or feat request hence please create this issue in discussion forum and move this to closed status.

[2021-12-29 18:06] Saduf2019 commented on #53529
@BorisPolonsky
Is this failing on 2.6 as well for you?

[2021-12-29 18:10] rangsimanketkaew opened #53578 "Failed to compile TensorFlow C++ API with Bazel and GCC 9.3 on WSL Ubuntu 20.04"
Hi All,

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): TensorFlow GitHub branch r2.6
- TensorFlow version: 2.6
- Python version: 3.9.0
- Installed using virtualenv? pip? conda?: conda's standard environ

[2021-12-29 18:24] popkristina commented on #53575
I will reopen the issue as 'other'. It is not a standard bug. You can close this one, sorry.

[2021-12-29 18:26] popkristina opened #53579 "AttributeError: 'NoneType' object has no attribute 'outer_context' when building a token classification model"
Hi, I am training a token-classification model, and I use ELMO embeddings as one layer of my model.

I'm using elmo embeddings from tensorflow hub, and I am using them with tensorflow 2.4.1. The same model architecture worked when built in Tensorflow 1.x, but I need to migrate it to TF2. I followed the instructions on how to replace hub.Module() with hub.KerasLayer() or hub.load() in order to use

[2021-12-29 18:58] Bga1972 commented on #37269
I am following the tensorflow text classification and I need to load a zip archive in Jupyter Notes in Windows. When I use the tf.keras.utils.get_file,, I am unable to unzip the downloaded folder, it is url as "http://...../file.zip" .
Can you help me??
Thanks

[2021-12-29 19:43] rthadur commented on #18415
tf.contrib has been deprecated and moved to tf.addons , please try with latest versions , if the issue still persists , please open a new issue using template. closing this issue for now.

[2021-12-29 19:43] #18415 closed

[2021-12-29 20:01] rangsimanketkaew commented on #53578
I tried `--jobs=2` and it worked! So it's all about memory.

[2021-12-29 20:01] #53578 closed

[2021-12-29 20:03] Doev commented on #53519
Hello sushreebarsa,

its a similar output:

[code]

[2021-12-29 23:15] Maratyszcza commented on #53545
Should be fixed with 6fcfc7c8a6d46b63e4e2febb1774f9f0865bd2f2

[2021-12-30 01:24] ArrowIntoTheSky opened #53581 "tf.ragged.stack_dynamic_partitions silently output wrong result with negative `partitions`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.

[2021-12-30 02:06] woojinn8 commented on #53491
@sushreebarsa Thank you for reply. Unfortunately both issue are not useful. I'd better to check my configuration again.

[2021-12-30 02:14] SefaZeng commented on #53557
After update the gcc version, I can successfully build the libtensorflowlite.so with the changes mentioned in #52113 . I also want to build the select ops for my model. But when I try to use this shared library libtensorflowlite.so, it raise errors like this:
[code]
And the CMakeLists.txt is:
[code]
I can't find anything useful about this error. Any helps?

[2021-12-30 02:55] SefaZeng commented on #53557
This is mainly caused by the confusion of my local GCC environment, which has multiple versions of GCC. Now I can run the demo codes, but all the returned result is 0. Still debugging.

[2021-12-30 04:06] tilakrayal commented on #53572
@mcourteaux ,
We see that you are using tf version 1.12, 1.x is not actively supported, please update to latest stable tf v2.7 and let us know if you are using same issue.

[2021-12-30 04:08] tilakrayal commented on #53566
@SamuelMarks
The related PR has been assigned for reviewing and once it is merged this issue will move to closed status.

[2021-12-30 04:34] mohantym commented on #53546
Hi @Saduf2019 ! Could you please look at this issue?

[2021-12-30 04:48] mohantym commented on #53546
Hi @wankiwi ! Could you try again using [pip](https://pypi.org/project/tensorflow-rocm/) command or instructions mentioned [here ](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream)?

[2021-12-30 04:52] kumariko commented on #38324
@jlz3008 Could you please let us know if you still need help on this issue ?

[2021-12-30 05:37] mohantym commented on #53571
Hi @maybeLee ! According to this [document](https://www.tensorflow.org/api_docs/python/tf/keras/layers/AveragePooling2D#args), When you are declaring Strides as **None** in AveragePooling1D, It is taking **strides size equal to pooling_size** But in case of [Conv1D](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv1D#args) , Strides has be an integer or tuple/list of a single integer

[2021-12-30 05:59] tilakrayal commented on #53424
@kratsg ,
Please feel free to submit a PR for the requested change or share the link where requested change is to be made

[2021-12-30 06:01] sushreebarsa commented on #53579
@popkristina Could you please try to upgrade to latest TensorFlow version 2.7.0 and let us know the outcome?Thanks!

[2021-12-30 06:09] sushreebarsa commented on #53575
@popkristina Thank you for the update!
As per the above  [comment](https://github.com/tensorflow/tensorflow/issues/53575#issuecomment-1002723943) , closing this issue and we will track the other ticket #53579 . Thanks!

[2021-12-30 06:09] #53575 closed

[2021-12-30 06:30] mohantym commented on #53581
Hi @ArrowIntoTheSky ! According to this [document](https://www.tensorflow.org/api_docs/python/tf/ragged/stack_dynamic_partitions#args) , Values in Partitions must be greater than or equal to zero, and less than num_partitions. partitions is not required to be sorted. Attaching [Gist](https://colab.sandbox.google.com/gist/mohantym/69d7ecbc4924ce8b37c71356b4df2285/github_53581.ipynb) for reference.

[2021-12-30 06:40] Evgeny-IT commented on #53451
@Saduf2019

No, I filled them all. What fields of issue template do you think are missing?

No, I used 2.x, see the reply of @tilakrayal - he was able to reproduce the issue for 2.x package.

No, the error is here and is reproduced. Why this is a not bug? The expected behavior is not met.

[2021-12-30 07:07] Saduf2019 commented on #53451
@Evgeny-IT
As you can see you have used disable eager that means you are using tf 1.x, as explained this is not a bug we cannot fix coding issues in this repo, kindly open this in discussion forum.

[2021-12-30 07:13] Evgeny-IT commented on #53451
@Saduf2019

Can you please give a more detailed explanation why this is not a bug? I see statements that this is not a bug and not explanation why. tf 1.x bugs are not considered bugs?

[2021-12-30 07:14] amitport commented on #43937
Any news on this?
I think it is reasonable to just say Generators are the only way to go in tf, but please also deprecate the old `tf.random.uniform` and the like, otherwise the differences in these APIs make things harder to reason about and test.

[2021-12-30 07:19] Saduf2019 commented on #53451
@Evgeny-IT
There is no support for tf 1.x anymore hence we cannot look into its issues. you are using disable and expecting it to work on 2.x this is incorrect coding.

[2021-12-30 07:23] maybeLee commented on #53571
Hi mohantym, thanks for your prompt reply. So this is the expected behavior. I will close the issue.

[2021-12-30 07:23] #53571 closed

[2021-12-30 07:48] #52542 closed

[2021-12-30 07:48] #53185 closed

[2021-12-30 07:51] hmaarrfk opened #53582 "Description of Build Order and bootstrapped builds"
I would like to request documentation on the ideal build order for tensorflow and both its required dependencies as well as suggested dependencies:

As described in: https://github.com/tensorflow/tensorflow/blob/v2.7.0/tensorflow/tools/pip_package/setup.py#L104
the package `tensorflow` depends on 4 dependencies that must be moved in step:
[code]

However, it is my understanding that in order to bu

[2021-12-30 08:25] chibi03 commented on #47089
Is there any workaround for this issue?

[2021-12-30 10:30] alexeichhorn opened #53583 "Release tensorflow-macos wheel compatible with Python 3.9 and x86"
Currently in version 2.7.0 of `tensorflow-macos`, there are only 3 wheels released in pip: 2 for arm64 supporting Python 3.8-3.9 and 1 for x86 only supporting Python 3.8.
It would be great to have also a wheel for Python 3.9 for the x86 architecture.
The same thing also applies for `tensorflow-metal`.

**System information**
- TensorFlow version (you are using): 2.7.0

**Describe the feature and t

[2021-12-30 10:31] Jaydeemourg commented on #53556
@tilakrayal thanks for your response. i have been able to save the dataset object.

Another question: Are the `tf.data.experimental.CsvDataset` available [Methods](https://www.tensorflow.org/api_docs/python/tf/data/experimental/CsvDataset#methods_2) enough to perform data wrangling and transformation usually done using libraries like scipy, numpy and pandas? . for example, i have been trying to pe

[2021-12-30 10:40] klicperajo commented on #43846
Indeed, this seems to have been added already in [TensorFlow 2.4](https://www.tensorflow.org/versions/r2.4/api_docs/python/tf/config/experimental/get_memory_usage)!

[2021-12-30 10:40] #43846 closed

[2021-12-30 11:17] hetarth18 commented on #42410
I am also facing the same issue.
My methodology is as below->

1 - I am trying to build a model using the TF-Hub's universal-sentence-encoder in TF2.0 to serve as the embeddings like below -
`embedding = "https://tfhub.dev/google/universal-sentence-encoder/4" # SOTA Achieved with this
# hub_layer = hub.KerasLayer(embedding, input_shape=[],
#                            dtype=tf.string, trainable=Tr

[2021-12-30 11:18] amitport opened #53584 "Please add `tf.random.stateless_shuffle`"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.7
- Are you willing to contribute it (Yes/No): No

**Des

[2021-12-30 11:39] popkristina commented on #53579
I did and I received the following error:

[code]

 Is it possible that I can't train a model with ELMO layer in TF 2 at all?

[2021-12-30 11:47] mohantym commented on #53577
Hi @Chaudry24 ! I tried switching between CPU and GPU using tf.device() and checked the memory usage using memory_usage api. Memory usage in GPU was exceeding CPU memory usage  as you pointed out . Attaching [Gist ](https://colab.sandbox.google.com/gist/mohantym/e8a26e8b9928bd24c436c654ef8e8c4d/github_53577.ipynb#scrollTo=TLi1gNCx3H8v)for reference.

Please post this issue on [keras-team/keras rep

[2021-12-30 11:48] #36361 closed

[2021-12-30 12:04] #53557 closed

[2021-12-30 12:09] saiabinesh commented on #35598
You are a life saver!
Installed tf 1.15 from official pypi for windows 7.

Didn't work, even though it was supposedly not AVX enabled.

Yours worked. Thank you!

[2021-12-30 12:24] textyash20 commented on #35598
Thankss buddy

On Thu, Dec 30, 2021, 5:39 PM saiabinesh ***@***.***> wrote:

[2021-12-30 12:37] tilakrayal commented on #53582
@hmaarrfk ,
Please feel free to submit a PR for the requested change or share the link where requested change is to be made

[2021-12-30 12:41] chensisi0730 commented on #53550
in vir_env , i can  not use gpu ,   i setup cuda10.0 , but report below:
Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-10.0/lib64::/usr/local/cuda-10.1/lib64:/usr/local/lib

[2021-12-30 12:43] hmaarrfk commented on #53582
Thank you for your support. I will look into how best to document things. Hopefully it won't require any changes to the source.

[2021-12-30 12:45] davy868 opened #53585 "Inconsistent results of K.dot"
there are two numpy matrixs：
**first** with shape:[1,39],dtype=float32,
 **second** with shape[39,2],dtype=float32

`
import tensorflow.keras.backend as K
`
`
K.dot(tf.constant(first),tf.constant(second[:,0:1]))
`
Out[5]: <tf.Tensor: shape=(1, 1), dtype=float32, numpy=array([[**0.8299226**]], dtype=float32)>

``
K.dot(tf.constant(first),tf.constant(second[:,0:2]))
``
Out[6]: <tf.Tensor: shape=(1,

[2021-12-30 12:54] mcourteaux commented on #53572
No, I'm most definitely not. This was a fresh build from master branch from yesterday. Idk why the script that gives the TF version gives 1.12. It's most definitely wrong. I moved to TF 2 years ago.

[2021-12-30 13:08] GuoGuiRong commented on #53569
I have fix it use Tensorflow 2.5.0 GPU, this is beasuce my model has some input that not used, A redundant input Cause it conver failed in TensorFlow2.3.0 GPU, I have remove this input and use Tensorflow 2.5.0 success.
So I close this issue, Thanks

[2021-12-30 13:08] #53569 closed

[2021-12-30 13:38] mohantym commented on #53550
@chensisi0730 ! Could you please confirm your Tensorflow version? You can find suitable Cuda and CudNN version according to your Tensorflow version from [here](https://www.tensorflow.org/install/source#gpu)  . You can also[ set path](https://www.tensorflow.org/install/gpu) your cuda file using below command.  Ref [1](https://stackoverflow.com/questions/64193633/could-not-load-dynamic-library-libcu

[2021-12-30 13:40] mohantym commented on #53584
Hi @Saduf2019 ! Could you please look at this feature request?

[2021-12-30 14:05] mohamedma872 commented on #46356
I have the same issue when include tensor flow lite with arcore in same project so any help

[2021-12-30 14:21] DamingoNdiwa opened #53586 "TypeError: slice indices must be integers or None or have an __index__ method for @tf.function and when I use tfp.mcmc.NoUTurnSampler()"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur
- TensorFlow installed from (source or binary): using homebrew
- TensorFlow version (use command below): tf-nightly==2.9.0.dev20211224
- Tensorflow probability version: tensorflow-probability==0.13.0
- Python version: Python 3.9.9

**Describe the current behavior**
I am unable to use @tf.function with i

[2021-12-30 14:23] ArrowIntoTheSky commented on #53581
Thank you @mohantym ! I checked your Gist, and indeed on CPU it is raising invalid argument error. However, if you enable GPU it is not raising any error.

[2021-12-30 14:25] sdp009 opened #53587 "PKIX path validation failed for giflib/giflib-5.2.1.tar.gz ( CertPathValidatorException )"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Linux Ubuntu 18
- Mobile device (e.g. iPhone 8, Pixel 2,

[2021-12-30 14:48] #53445 closed

[2021-12-30 14:50] Chaudry24 commented on #53577
Hi @mohantym ! Thank you for taking the time and responding with these useful links. Here is the [link](https://github.com/keras-team/keras/issues/15843) to the issue I opened up. Thanks again!

[2021-12-30 14:50] #53577 closed

[2021-12-30 15:03] rangsimanketkaew commented on #43307
This is my gist explaining how to compile TF .so and also create headers step-by-step: https://gist.github.com/rangsimanketkaew/f372eca5ded50ca9a0cc61d3021a1c3a

[2021-12-30 15:09] MohamedAliRashad opened #53588 "Request for RandomIllumination layer in keras"
Something like this already is possible with `ImageDataGenerator` but with corners in it (only applies brightness scale).
What is needed is a full keras layer that randomize illumination differences spatially across the image (or even a single scaling factor to the whole image).
i think more ideas can be added to something like this if it was implemented properly.

[2021-12-30 15:25] BorisPolonsky commented on #53529
It's not working on tf 2.6 either. The conversion process end up with `Aborted (core dumped)` message in `tensorflow/tensorflow:2.6.0-gpu`.
[code]
Here's TensorRT installation verification step done in the container.
[code]

[2021-12-30 15:31] tilakrayal commented on #53556
@Jaydeemourg ,
Kindly open a tf discussion forum issue for this as it is not a bug or feature request. There is a big community to support and learn from your questions.Thanks!

[2021-12-30 16:45] lusiliang93 commented on #53558
Many thanks for your answer. I have another question that if tensorflow lite for microcontrollers have C API since the compiler used currently can only compile C scripts. Thanks!

[2021-12-30 16:45] albertz commented on #30161
@ymodak This is still an issue. Can someone reopen this?

[2021-12-30 16:52] SysuJayce commented on #53160
It's been a month and yet no one comes to solve this problem :(

[2021-12-30 17:17] stevelaclasse commented on #44821
Hi, you could this this repository where i have used the Tensorflow lite android example code and the Tensorflow lite flutter plugin code to integrate the multi person pose detection on image and videos.

[https://github.com/stevelaclasse/posenet](https://github.com/stevelaclasse/posenet)

[2021-12-30 17:21] stevelaclasse commented on #25841
https://github.com/tensorflow/tensorflow/issues/44821#issuecomment-1003115362

[2021-12-30 19:32] gerardcarbo commented on #36164
I've just tested with a production model and it is still an issue in tf 2.7. It seems to be related with the tf.data.TFRecordDataset, as the memory load increase seems to happen while shuffling the dataset. The LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libtcmalloc_minimal.so.4 hack still does the work. Tested in linux kernel 5.4.0-91-generic with tf 2.7.0

[2021-12-30 19:40] jostheim commented on #53400
i have the same issue.  model trains on 2.5.2, and fails on 2.6.2 and 2.7 latest.  same cuda and drivers for all.  something is eating a lot more memory in post 2.5.2 releases.

[2021-12-30 20:55] NoahDavid commented on #47554
I am having this issue as well with tensorflow version 2.7.0. I had issues saving and reloading models, and lost a few hours worth of training because of it. It also makes the terminal output untidy looking, but that wouldn't be so much of a issue if the models would reliably save/load.

I did notice that it only failed with the h5 file format (I had to have it in the h5 format), and so if I saved

[2021-12-30 21:42] sachinprasadhs commented on #49459
Moved this issue to keras-team/keras repo, you can track the status of the issue from the above link, closing the issue here.

[2021-12-30 21:42] #49459 closed

[2021-12-30 22:09] sachinprasadhs commented on #45197
Closing the issue here since it is moved to keras-team/keras repo, you can track the issue in the above link.

[2021-12-30 22:09] #45197 closed

[2021-12-30 22:49] jostheim commented on #53400
For future lookers, you can fix the issue of OOM with > 2.5 versions by using tf.dataset, it is the only way to pass data to fit and have it not run out of memory.  I was using numpy in memory arrays and fit failed for oom, using tf.dataset from_generator I no longer fail.  I don't know why and this seems like a significant bug, but this is the fix.

[2021-12-30 22:58] jostheim opened #53590 "TF > 2.5 does not work properly for keras.fit for dictionary inputs"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-12-30 23:00] sachinprasadhs commented on #53393
You need to provide input as float32, it is failing in the code check [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/conv.cc#L458).

[2021-12-30 23:39] sachinprasadhs commented on #46921
Note that `tf.keras.metrics.MeanIoU` computes IoUs for all individual classes and then returns the mean of these values, which is why you are seeing the difference in result from manual computation vs `tf.keras.metrics.MeanIoU`.
Refer this [gist](https://colab.research.google.com/gist/sachinprasadhs/cd107230793b43c349646b5f7c47f03d/46921.ipynb) which calculates the individual IoU and then does the

[2021-12-30 23:59] sachinprasadhs commented on #43186
You can create tf.data pipeline using pandas DataFrame, follow the documentation [here](https://www.tensorflow.org/tutorials/load_data/pandas_dataframe) for examples.
Also, you can load csv files to tf.data using `tf.data.Dataset.list_files(train_filepaths, seed=42)`

[2021-12-31 02:34] tilakrayal commented on #53585
@davy868 ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.Also please try to test the code in latest stable tf v2.7.It helps.Thanks!

[2021-12-31 02:36] tilakrayal commented on #53588
@MohamedAliRashad ,
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-12-31 02:48] #53192 closed

[2021-12-31 03:29] kratsg commented on #53424
I don't know what caused the regression.

[2021-12-31 04:28] mohantym commented on #53581
Hi @Saduf2019! Could you  please look at this issue . This issue is replicating in GPU mode. Attaching gist in[ 2.6](https://colab.sandbox.google.com/gist/mohantym/1917c86e14f83915194adba8d4d7f034/github_53581.ipynb#scrollTo=cfSJsLFEB3Km) and [2.7 ](https://colab.sandbox.google.com/gist/mohantym/69d7ecbc4924ce8b37c71356b4df2285/github_53581.ipynb#scrollTo=fUA6f6FO_2oX)for reference.

[2021-12-31 05:02] mohantym commented on #53558
@lusiliang93 ! TFlite library is based on C++ api. Please refer this [guide](https://www.tensorflow.org/lite/microcontrollers/library) to start with. Thank you!

[2021-12-31 06:13] sushreebarsa commented on #53586
@DamingoNdiwa
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thanks!

[2021-12-31 06:14] sushreebarsa commented on #53590
@jostheim
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-12-31 06:16] jostheim commented on #53590
I won't be providing a code snippet, I am just reporting a bug, I found a work around so feel free to ignore the bug if you don't care.

[2021-12-31 06:47] shubhambagwari opened #53593 "ValueError: node 'Placeholder' in input_map does not exist in graph (input_map entry: input_image:0->Placeholder:0)"
### System information

-   **Have I written custom code**:
-   **OS Platform and Distribution (Windows 10)**:
-   **TensorFlow installed from (binary)**:
-   **TensorFlow version (1.15)**:
-   **Python version(3.7.6)**:
-   **CUDA/cuDNN version(10.0)**:
-   **GPU model and memory(GTX 1660ti and 6GB)**:

### Description of problem
I was running file.py but still, it is not running, I did some chan

[2021-12-31 06:57] ktncktnc commented on #47554
If you don't have to use h5 file format, just use tf file format instead.

[2021-12-31 07:04] tilakrayal commented on #53582
@hmaarrfk ,
As suggested Please feel free to submit a PR for the requested change.Thanks!

[2021-12-31 07:07] tilakrayal commented on #53572
@mcourteaux ,
 I was able to execute the code without any issues.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d0b954e177f03ab8e85b6fa087612ba6/untitled171.ipynb).Please provide the error log and also confirm if anything is missing here.Thanks!

[2021-12-31 07:12] chensisi0730 commented on #53550
when in  a virtual environment , using  "pip install -q tflite-model-maker " ,  automatic installation tensorflow2.7  , i  can not  select it .

[2021-12-31 07:18] sushreebarsa commented on #53590
@jostheim Without the reproducible code, it would be difficult for us to debug the issue. If you're unable to provide the code could you please post in [TF discussion Forum](https://discuss.tensorflow.org/) and move this issue to closed status ?  Thank you!

[2021-12-31 07:18] davy868 commented on #53585
![image](https://user-images.githubusercontent.com/42214343/147809387-996ffdc7-f14a-46b4-8c21-d81ea7cf52ff.png)

[2021-12-31 07:26] jostheim commented on #53590
Up to you, I explained the issue, you can write unit tests for it, pass in data to keras.fit as a dictionary of numpy arrays for a reasonably large model (67E6 parameters) and it goes OOM, use a tf.dataset instead and it doesn't go OOM.  I have thousands of lines of code in my model and any dataset is gigabytes, I can't give you a simple example..

[2021-12-31 07:39] lusiliang93 commented on #53558
Thanks for your answer. A very naive question: If the compiler is C99 compliance only, how much effort will it take to make the microcontroller succeed in running tensorflow lite? Thanks!

[2021-12-31 07:50] zwh14 opened #53594 "Keras: How to use another model as a layer in current model which input is ragged tensor and output is also ragged tensor with same shape"
Suppose I have a base model take two inputs and output single value:

[code]

Then I have a model take (None,100) and (None, 20) array as two inputs:
[code]

I want to ask that how I can call the based model for each input in the inpu1_list and input2_list and get their output as a tensor with shape (None,).  Finally, I will train the entire model

[2021-12-31 09:48] #53456 closed

[2021-12-31 11:00] DamingoNdiwa commented on #53586
@sushreebarsa
thank you, here is the link to a Google Colab that has comments and some data with explanations.
https://colab.research.google.com/drive/1DU7gsLW2UkUJGjE6L5erWVZW2vljtN6-?usp=sharing

[2021-12-31 11:27] shubhambagwari commented on #29444
can anybody help me in this issue "[ValueError: node 'Placeholder' in input_map does not exist in graph (input_map entry: input_image:0->Placeholder:0)](https://github.com/tensorflow/tensorflow/issues/53593)"

[2021-12-31 11:48] #53392 closed

[2021-12-31 12:25] mohantym commented on #53587
Hi @Saduf2019 ! Could you please look at this issue?

[2021-12-31 12:37] tilakrayal commented on #53585
@davy868 ,
I ran the code shared and face a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/534bf8de81ba1724d6a00f9f3179c9d1/untitled173.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error.

[2021-12-31 12:38] maz-1 opened #53597 "error LNK2001 when build on windows with --config=dynamic_kernels"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Windows 10 19044.1415
- TensorFlow installed from: source

[2021-12-31 12:43] mohantym commented on #53593
Hi @shubhambagwari !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Attaching relevant threads for reference. Ref [1](https://github.com/tensorflow/tensorflow/issues/18352), [2](https://forums.developer.nvidia.com/t/set-input-to-tensorflow-frozen-model-before-converting-to-trt-fails/110098).   Please upgrade your code  to 2.x versions and let us

[2021-12-31 13:04] tilakrayal commented on #53424
@kratsg ,
As mentioned in gist we are able to get the same result as provided in doc.Please feel free to submit a PR for the requested change.It helps to analyse and debug the bug.Thanks!

[2021-12-31 13:18] shubhambagwari commented on #53593
I am using tensorflow 1.15 version

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: mohantym ***@***.***>
Sent: Friday, December 31, 2021 6:14:09 PM
To: tensorflow/tensorflow ***@***.***>
Cc: Shubham Bagwari ***@***.***>; Mention ***@***.***>
Subject: Re: [tensorflow/tensorflow] ValueError: node 'Placeholder' in input_map does not exist in graph (input_map en

[2021-12-31 13:48] #53467 closed

[2021-12-31 13:48] #53402 closed

[2021-12-31 14:52] tilakrayal commented on #53594
@zwh14 ,
 In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.

[2021-12-31 14:53] tilakrayal commented on #53594
Also can you please take a look at link [1](https://stackoverflow.com/questions/47678108/keras-use-one-model-output-as-another-model-input) and [2](https://github.com/keras-team/keras/issues/3465) with the similar issue.It helps.Thanks!

[2021-12-31 15:48] #53280 closed

[2021-12-31 16:46] zwh14 commented on #53594
@tilakrayal

I am using the tf 2.5.2.
In fact that is almost all code. I first define the base model. Its inputs is with shape(100,) and (20,) and it output a value.
Than I want to define another model, its inputs is with shape(None,100,) and (None, 20). I just want to iterate the ragged tensor with the base model to get a (None,) shape output. I think the output is also ragged tensor? I do not kn

[2021-12-31 16:54] zwh14 commented on #53594
This is the base model

[code]
This is another model which will call the base model

[code]

[2021-12-31 16:55] zwh14 commented on #53594
Obviously I can't do a for loop for keras Input.I'm just trying to express that logic

[2021-12-31 17:48] #15134 closed

[2021-12-31 17:48] #18297 closed

[2021-12-31 17:48] #18491 closed

[2021-12-31 17:48] #53472 closed

[2021-12-31 17:52] kratsg commented on #53424
@tilakrayal I don't understand why I'm only able to get those messages showing up in google colab. Is there some logging settings one needs to enable? I've tried on four different GPU machines I have handy with various OSes and I am unable to reproduce the colab. So I must be missing something. As an example of what I'm seeing

[code]

and interactively

[code]

and I'm unable to get any messages

[2021-12-31 18:50] zwh14 opened #53598 "Keras: how to define custom loss function for a ragged tensor output with shape(None, 1)"
Suppose the output of my model is with shape (None,1) and how can I define custom loss function such as
[code]
This function is used for normal tensor with shape (20,1) before. Now with new model, the output shape become (None, 1) ragged tensor. So, in this function y_pred should be a ragged tensor with shape(None, 1) and I can guarantee that y_true and y_pred have the same dimensions during train

[2021-12-31 18:55] jostheim commented on #53590
Oh and by the by if anyone needs to convert multi-input dictionary to a dataset so it won't OOM error, here is my code.  Hope it helps someone!

[code]

[2021-12-31 19:03] RonSherfey opened #53599 "Tensor Issue. 1"
https://github.com/tensorflow/tensorflow/blob/c256c071bb26e1e13b4666d1b3e229e110bc914a/tensorflow/python/ops/tensor_array_ops.py#L961-L1296

[2021-12-31 21:00] sachinprasadhs commented on #47671
Many of the API are depreciated and moved to new mode mainly because it runs on v1.Session style code and may fall under compatibility guarantees and can behave unexpectedly when combined with TF 2 code also to make the user experience better with the improved performance these changes will be made.

[2021-12-31 21:18] sachinprasadhs commented on #49147
Tried your code in Tensorflow 2.7 and having different error, I think it is related to [this](https://stackoverflow.com/questions/61796021/) issue, could you please update the same and let us know if the issue still persists. [Here](https://colab.research.google.com/gist/sachinprasadhs/ded4792be03d3b237f3603420b543fa6/49147.ipynb) is the gist for reference.

[2021-12-31 21:41] kaczmaro commented on #18736
swapfile worked for me, thanks (had to add 10G!!)

[2021-12-31 21:42] HiveYuan commented on #18736
您好，我已收到您的邮件并会尽快处理，祝您工作顺利，生活愉快！——刘源

[2021-12-31 21:42] sachinprasadhs commented on #47526
The necessary information is already present in the document as below.
[code]
For more basic information on these concepts for beginners you can refer to the crash course on ML/DL offered by google [here](https://developers.google.com/machine-learning/crash-course). Thanks.

[2021-12-31 21:48] #41780 closed

[2021-12-31 21:48] #41587 closed

[2021-12-31 23:48] #45209 closed

[2022-01-01 01:38] mohamedma872 commented on #46356
any updates regarding this issue

[2022-01-01 03:11] zwh14 opened #53600 "raggedtensor: how to convert a list of numpy array with a uniform dim in a certain axis to a ragged tensor"
suppose I have three numpy array with shape (1,3) and Stack them to group with shape (2,3) and (1,3). Then I stack them with tf.ragged.stack to get a ragged tensor

[code]

I expect its shape to be (2, None, 3) but (2, None, None). How to implement it?? Using tf 2.5.2

[2022-01-01 05:47] lugalUrim opened #53604 "MaxPool2D crashes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2

[2022-01-01 06:08] #53600 closed

[2022-01-01 09:19] #53459 closed

[2022-01-01 09:20] w-xinyi commented on #53140
Hi, does the issue appear with `jit_compile=True` only or without as well?

[2022-01-01 09:49] w-xinyi commented on #53080
Hi, in short, we advise not to do so because 1. iterating through dataset but not using it (in this case, using 1/(#worker) of it) could be quite expensive and wasting resource 2. accessing the worker index inside the dataset creation function is very error prone and can't be achieved with public APIs.

[2022-01-01 10:07] BuuDien opened #53605 "What can I use instead of "tf.contrib.layers.embed_sequence""
I try to build a chatbot for studying purpose, but it seems like the lesson is quite out-dated, they used tensorflow v1 and there are some problems with that.

What can I use instead of "tf.contrib.layers.embed_sequence" since "contrib" is no longer available and I can't find anything in [tf_slim/layers](https://github.com/google-research/tf-slim/tree/master/tf_slim/layers) and [addons](https://gi

[2022-01-01 10:15] mcourteaux commented on #53572
@tilakrayal I get the sensation you are not paying attention. How does Google hope to get contributions to a project if all of the useful feedback is dismissed as being either wrong or nobody paying attention? You somehow managed to make a notebook with the code from the linked issue, not mine. There is no error message, with my code. I showed you how the `MapAndBatchDataset` implementation is onl

[2022-01-01 11:30] saddamhijazi opened #53606 "Unable to restore custom metric."
I have written a code for training a neural network in tensorflow where I added a custom metric just for the sake of printing the current learning rate at each epoch (this is useful for me when I use learning schedules). I trained my model and then I tried to load it again for re-training however I got the following error:

Unable to restore custom metric. Please ensure that the layer implements `

[2022-01-01 13:03] ayush-mandowara-bst commented on #22623
any solution found for this? so far I was not even able to use the GPU (I think) until I installed cuda and cudnn libraries from anaconda navigator. But now I found out only 2gb out of 4gb is being used by tensorflow.. That doesn't seem right.

[2022-01-01 17:04] atarax665 commented on #53604
Input tensor should be of shape [1, x, 3, y] at least as you have set the pool size as [1, 3]. I guess this is why its crashing.

[2022-01-02 02:53] #53598 closed

[2022-01-02 03:10] SmugglerSMR commented on #49150
I faced a similar issue comping TF2.7 with CUDA 11.4, cuDNN 8 and TensorRT 8.2.2 on Python 3.10.1. Unfortunately, I failed to compile due to an unsupported TensorRT version. However, it went almost without issues without it. Except for the bug with Python 3.10.1, which was later fixed with this [commit](https://github.com/tensorflow/tensorflow/commit/14966ee409b89df5b9144a6d1a19359dd0bb1f68?diff=u

[2022-01-02 03:40] gqqnbig commented on #47671
Fine. If you don't want to revise some docs, I will close the issue.

[2022-01-02 05:17] rsandler00 opened #53608 "Tensorflow consuming too much GPU memory?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Windows 10
- Tensorflow 2.5.0 (from pip)
- Python version: 3.8.9
- CUDA/cuDNN version: CUDA 11.2 / CuDNN 8.1
- GPU model and memory: NVIDIA RTX 3080 (10GB)

**Describe the current behavior**
I am running a basic ResNet50 model w/ 23.6M params (~.1GB). This model takes up 8.2GB

[2022-01-02 07:41] freedomtan commented on #53564
in c33cc37d1c70, `import <Metal/Metal.h>` was added. The `Metal.h` provides Objective-C interface, so when compiling C++ code, you need to pass `-xobjective-c++` to clang to use Objective-C++ instead of pure C++

[2022-01-02 07:57] ArtyomZemlyak commented on #37793
Found a solution to this problem that worked in my case (load pretrained model weights except for the last Dense layer):

[code]

Source:
https://innerpeace-wu.github.io/2017/12/13/Tensorflow-Restore-partial-weights/

[2022-01-02 08:03] #53482 closed

[2022-01-02 08:19] zhaozheng09 opened #53609 "[XLA] The output of const type have some redundancy H2D ops"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2022-01-02 09:26] edanh88 commented on #53533
I didn't try different GPU cards. I've tried multiple instances of Nvidia Tesla K80 because that is the only card available to me at the moment.

when running on CPU (either by setting CUDA_VISIBLE_DEVICES="" ) or by changing runtime environment in Colab, or by using "with tf.device("CPU:0")" as can be seen in the Colab example there is no error in the calculation.

When run on GPU, I simply get t

[2022-01-02 10:01] jjqtony commented on #32218
I have the same problem when using 3080 and tf2.5

[2022-01-02 10:59] ArtyomZemlyak commented on #53443
Found a solution to load specific weights of a pretrained model. The solution is described in the following comment:
https://github.com/tensorflow/tensorflow/issues/37793#issuecomment-1003677482
Maybe it will help you in some way.

[2022-01-02 11:03] #33967 closed

[2022-01-02 11:03] #53395 closed

[2022-01-02 16:18] OmriSteiner opened #53610 "Loading a Keras model which contains __ne__ or __eq__ operators fails"
I posted this on Keras first, but it didn't get any attention, so posting here as well.
https://github.com/keras-team/keras/issues/15832

[2022-01-02 17:25] feefro commented on #51030
Hi, @karimnosseir can you share a procedure or example to use tflite hexagon delegate for RB5 platform with python or c++?

[2022-01-02 18:15] suchencjusz opened #53611 "Problem with setting up CUDA or cuDNN"
**System information**
- OS Platform and Distribution: Windows 10 21H2 19044.1415
- TensorFlow installed from: pip install (binary)
- TensorFlow version: 2.7.0 (keras too)
- Python version: 3.9.7
- Installed using virtualenv? pip? conda?: nope, pip
- CUDA/cuDNN version: cudnn-windows-x86_64-8.3.1.22 cuda 11.5
- GPU model and memory: GTX 1050Ti 4GB

I get this error in terminal
`
Could not load lib

[2022-01-02 23:53] engsbk commented on #43582
I have also faced the same problem, but I'm using TF v2.7 does that mean I should use another version of transformers?

[2022-01-03 02:04] #52854 closed

[2022-01-03 03:21] tilakrayal commented on #53594
@zwh14 ,
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2022-01-03 03:34] ayaka14732 commented on #52149
@allenwang28

Thank you! Currently there is a `tf_nightly-2.7.0-cp38-cp38-linux_x86_64.whl`, which is Python 3.8. Would you please consider adding Python 3.9 and Python 3.10 versions as well?

[2022-01-03 03:45] PatriceVignola commented on #53531
@sushreebarsa I provided a code snippet above. All this code uses is the TF C API, the STD library and protocol buffers. I want to know how we can deserialize resource tensors from pluggable device code since the 2.7 change that broke it.

[2022-01-03 03:51] tilakrayal commented on #53599
@RonSherfey ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced] or if possible share a colab gist with the issue reported.

[2022-01-03 04:05] mohantym commented on #53558
Hi @lusiliang93 ! Can you please post on [Forum/](https://discuss.tensorflow.org/) [SO](https://stackoverflow.com/) about this ?

[2022-01-03 06:30] mohantym commented on #53550
You can install respective Cuda and Cudnn files manually by referring guide from [here](https://www.tensorflow.org/install/gpu#software_requirements) . Please move this issue to closed status if it helped . Thanks!

[2022-01-03 06:33] mohantym commented on #53611
Hi @suchencjusz! Can you please check this [thread](https://stackoverflow.com/questions/66355477/could-not-load-library-cudnn-ops-infer64-8-dll-error-code-126-please-make-sure) for answer? Thanks!

[2022-01-03 06:45] ravinderkhatri opened #53612 "INVALID_ARGUMENT: transpose expects a vector of size 0 (when GPU units are more than 1)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 20.04.2 LTS
- TensorFlow installed from (source or binary): Yes
- TensorFlow version (use command below): 2.7.0
- Python version: 3.8.5
- CUDA/cuDNN version &  GPU model and memory:

![image](https://user-ima

[2022-01-03 06:56] jvishnuvardhan commented on #42443
@jjh42 This was resolved in recent TF versions. [Here](https://colab.research.google.com/gist/jvishnuvardhan/fa909317e2d6fdd2d48eaa1e30b6ea65/untitled377.ipynb) is a gist for a reference.

It throws a warning as expected. I am closing this issue as this was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2022-01-03 06:56] #42443 closed

[2022-01-03 07:26] mohantym commented on #53604
Hi @chunduriv ! Could you please look at this issue ? It is replicating in GPU mode only. Attaching [gist](https://colab.sandbox.google.com/gist/mohantym/43b459c155f4b16a69854f2a1b4ec800/github_53604.ipynb) for reference. Thanks!

[2022-01-03 07:54] sushreebarsa commented on #53590
@jostheim Thank you for the update!
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2022-01-03 08:09] sushreebarsa commented on #53610
@OmriSteiner Sorry for the late response in [keras-team/keras#15832](https://github.com/keras-team/keras/issues/15832) !
Please move this issue to close status as we will track the other ticket in keras-team/keras repo.
We are addressing the Keras issues in `keras-team/keras repo`. To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-te

[2022-01-03 08:13] #53610 closed

[2022-01-03 08:26] sushreebarsa commented on #53606
@saddamhijazi
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2022-01-03 09:07] sushreebarsa commented on #53586
@Saduf2019  Was able to reproduce the issue in TF v2.7.0 ,please find the gist [here](https://colab.sandbox.google.com/gist/sushreebarsa/d1bef46615f7b88391e3e9d5c0869c84/hbvode.ipynb) for reference.Thanks!

[2022-01-03 09:10] sushreebarsa commented on #53579
@popkristina
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-01-03 09:15] suchencjusz commented on #53611
@mohantym I checked your thread, did not worked.

[2022-01-03 09:31] mohantym commented on #53611
@suchencjusz ! Could you try these following steps and let us know ?
1. Please Uninstall Cuda
2. Switch to Cuda 11.2 (presently 11.5 as mentioned in template) and Cudnn 8.1
3. Try  again with a new environment  .
If it still displays same error then try copying the .dll files from Cuda download location. Ref [1](https://www.tensorflow.org/install/source#gpu) ,[ 2 ](https://stackoverflow.com/a/6993

[2022-01-03 09:39] Saduf2019 commented on #53487
@Suzan009
Please follow the TFOD API code and tensorflow garden, as this repo is for bugs and feature request, we request you to move this issue to closed status and for any further queries open a new issue at discussion forum which has larger community to help.
Thanks!

[2022-01-03 09:48] mohantym commented on #53608
Hi @rsandler00 !
It is not replicating in TF 2.7 [Colab environment](https://colab.sandbox.google.com/gist/mohantym/6c4cdc04e32e694e4722c85f367839c7/github_53608.ipynb)  though.

I see this message "This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX AVX2 .To enable them in other operati

[2022-01-03 10:03] #53478 closed

[2022-01-03 10:17] mohantym commented on #53593
Hi @shubhambagwari Please post this on [Forum](https://discuss.tensorflow.org/) or Stackoverflow for further assistance ? Thanks!

[2022-01-03 10:22] tilakrayal commented on #53609
@zhaozheng09 ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-01-03 10:24] Thf772 opened #53613 "Eager loading of datasets"
**System information**
- TensorFlow version (you are using): 2.6.0, 2.7.0
- Are you willing to contribute it (Yes/No): No (I don't have the required knowledge)

**Describe the feature and the current behavior/state.**

In #53292, I mentioned the inability to load datasets from temporary files and mentioned eager dataset load as a potential solution. This led to the discovery and correction of a bu

[2022-01-03 10:35] #53543 closed

[2022-01-03 11:31] DublikuntMux opened #53614 "Error loading option @local_config_cuda//:enable_cuda: Argument 0 of execute is neither a path, label, nor string."
**System information**
- OS Platform : Windows 11
- TensorFlow version: 2.8
- Python version: 3.9.9
- Bazel version : 421
- GPU model and memory: GTX1650
- CUDA/CUdnn: 11.5/8.3.1

**Describe the problem**
Problem when build from source.

**Provide the exact sequence of commands / steps that you executed before running into the problem**
bazel build --config=opt //tensorflow/tools/pip_package:build

[2022-01-03 12:31] tilakrayal commented on #53605
@BuuDien ,
Please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/46666#issuecomment-775313197) from the issue and the SO [link](https://stackoverflow.com/questions/55518033/where-can-i-find-tensorflow-contrib-layers-for-tensorflow-2-0).It helps.Thanks

[2022-01-03 12:56] tilakrayal commented on #48824
@manp-git ,
Related issue #48879 has been closed.
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2022-01-03 13:03] #53488 closed

[2022-01-03 13:19] manp-git commented on #48824
Thanks for acting on this issue. I don't have access to that project anymore so won't be able to cross check.
Will work with the suggested version next time when required.
You may close the issue for now.

[2022-01-03 13:22] tilakrayal commented on #48824
@manp-git ,
Please feel free to move this issue to closed status.Thanks

[2022-01-03 13:23] aaghiijnnuz commented on #47166
I can compile with the command below

[2022-01-03 13:23] aaghiijnnuz commented on #47166
I can compile

[2022-01-03 13:26] aaghiijnnuz commented on #47166
I can compile with te command below

For x64
D:\Downloads\tensorflow-r2.6\buildGui64>cmake ..\tensorflow\lite\c -DTFLITE_ENABLE_XNNPACK=OFF -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=True

D:\Downloads\tensorflow-r2.6\buildGui>cmake -A Win32 ..\tensorflow\lite\c -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=True -DTFLITE_ENABLE_XNNPACK=OFF

[2022-01-03 14:03] #53489 closed

[2022-01-03 14:03] #53441 closed

[2022-01-03 15:35] mcourteaux opened #53615 "SelfAdjointEigV2 GPU operation takes a lot of temporary memory."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.9.0
- Python version: 3.8.10
- CUDA/cuDNN version: 11.5
- GPU model and memory: GTX 1660 Ti

**Describe the current behavior**
A single call to `tf.linalg.eigh()` takes a linear amount of memory in batch si

[2022-01-03 15:41] mohantym commented on #53614
Hi @DublikuntMux ! Could you try again with TF 2.7 and Python 3.8/3.9 ? You can use below command to build Tensorflow with GPU support.
`bazel build --config=opt --config=cuda --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package
`
Thanks!

[2022-01-03 16:10] w3sip commented on #53564
@freedomtan - thanks, that's very helpful. Solved the problem.

[2022-01-03 16:10] #53564 closed

[2022-01-03 16:46] wellido commented on #25563
Do quantization aware training supports LSTM/GRU layers now?

[2022-01-03 17:06] Saduf2019 commented on #53546
@wankiwi
Have you tried with pip and verified the compatibility.

[2022-01-03 17:12] sushreebarsa commented on #8773
@xiaoguai0992 Could you please have a look on the [Build from source ](https://www.tensorflow.org/install/source_windows)and let us know if it helps?Thanks!

[2022-01-03 17:41] sullivak-kyra commented on #8773
@sushreebarsa do those instructions allow for c++ support? It looks like it may only support building a pip package.

[2022-01-03 18:17] jsimsa commented on #53572
Hi @mcourteaux, thank you for the detailed repro and sorry for the initial response. I will have someone on the tf.data team take a closer look.

[2022-01-03 18:43] dniku commented on #53344
Per request from @sanatmpa1, migrated this to https://github.com/tensorflow/tensorboard/issues/5482 .

[2022-01-03 18:43] #53344 closed

[2022-01-03 19:00] sachinprasadhs commented on #53525
What is the difference in accuracy you are getting from float16 to int8?.
Also, check the model performance using the tools [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/evaluation/tasks#accuracy--correctness).

[2022-01-03 19:03] #45078 closed

[2022-01-03 19:26] sachinprasadhs commented on #53555
Group convolution for TFLite has not been implemented yet, you can follow [this](https://github.com/tensorflow/tensorflow/issues/40044) issue for more details and some workaround. Thanks!

[2022-01-03 19:55] pkarimib commented on #53525
I have not been successful in running the model so I could measure the accuracy. The code exits with `failed to invoke` error.

[2022-01-03 21:07] soiavaq opened #53616 "Android TensorFlow GPU Delegate"
I want to apply cartoon effect to picture in android (java/kotlin or c/c++) with tensorflow lite. (tflite model / dr, fp16, int8 quantization)

I found [this tutorial.](https://blog.tensorflow.org/2020/09/how-to-create-cartoonizer-with-tf-lite.html)

[This code](https://github.com/margaretmz/Cartoonizer-with-TFLite) is also based on it.

My demo app works on CPU with 4 threads but when I want to t

[2022-01-03 21:45] anth2o opened #53620 "py_function is slower in TF2.7 (and 2.6) compared to TF2.5"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): docker
- TensorFlow version (use command below): 2.7
- Python version: 3.8.10

**Describe the current behavior**

In my training code I'm using `tf.data.Da

[2022-01-03 22:30] sachinprasadhs commented on #53597
The document which you are following has some old versions, please follow [this](https://www.tensorflow.org/install/source_windows) document which has the steps with the latest version and let us know if the problem still persists. Thanks!

[2022-01-03 22:50] sachinprasadhs commented on #53301
You can refer the Tensorflow code for [XLA](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/compiler/xla) and implementation code for [MLIR-HLO](https://github.com/tensorflow/mlir-hlo).
For information regarding XLA MLIR optimization detail you can refer [this](https://www.tensorflow.org/mlir/xla_gpu_codegen) documentation. Let us know if this helps you. Thanks!

[2022-01-03 23:47] Geremia opened #53621 "TF 2.4, CUDA 11.5.50, cudnn 8.3.1.22: Could not find any cudnn.h"
**System information**
- OS Platform and Distribution: Slackware64 Linux (current), kernel 5.15.11
- TensorFlow installed from: source
- TensorFlow version: 2.4
- Python version: 3.9
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 11.2.0
- CUDA/cuDNN version: 11.5.50, 8.3.1.22
- GPU model and memory: Nvidia Quadro RTX 4000, 8GB

**the problem**

[2022-01-04 00:19] Geremia commented on #53621
Issue was the [the packager](https://slackbuilds.org/slackbuilds/14.2/development/cudnn/cudnn.SlackBuild) only installed `cudnn.h` and didn't install `cudnn_version.h`.

[2022-01-04 00:19] #53621 closed

[2022-01-04 00:23] terryheo commented on #53522
You can easily override the value BUILD_NUM_JOBS as the following.

[code]
or
[code]

[2022-01-04 00:23] #53522 closed

[2022-01-04 02:08] sliu54 commented on #53361
I looked into the source code for `transpose.cc` and saw that the error might mean there is a mismatch between the input and output sizes. My input was a 1-D array, so I added an extra dimension and now it works. However, I'm still curious as to why the unquantized model works fine with 1-D inputs.

[2022-01-04 02:31] FLming commented on #32903
LGFM. Thanks.

[2022-01-04 02:31] #32903 closed

[2022-01-04 04:01] mohantym commented on #53620
Hi @chunduriv ! Could you please look at this issue? Attaching Gist in[ 2.7](https://colab.sandbox.google.com/gist/mohantym/0a49116bc0c7ea34af5b6fa563df2ffb/slow_pyfunction_tf27.ipynb#scrollTo=oQ0SYAzqIOqS) and [2.6](https://colab.sandbox.google.com/gist/mohantym/e63c8daa9c9680caf97c6678553de514/slow_pyfunction_tf27.ipynb#scrollTo=LGz8iNzS6a4K) for reference .Thank you!

[2022-01-04 04:03] #46436 closed

[2022-01-04 04:11] mohantym commented on #38681
Hi @ms-ims ! Have you checked these threads from Renseas? Link[ 1](https://www.renesas.com/us/en/document/apn/ra6t1-motor-failure-detection-example-tensorflow-lite-microcontroller-application-notes?language=en),[ 2](https://www.renesas.com/eu/en/blogs/embedded-artificial-intelligence-inference-renesas-rzg2) .Thanks!

[2022-01-04 04:17] ms-ims commented on #38681
Hi,

No I'm working on tensor flow now days.

On Tue, 4 Jan, 2022, 9:41 am mohantym, ***@***.***> wrote:

[2022-01-04 04:37] mohantym commented on #38681
@ms-ims ! Above threads suggested usage of Tensorflow Lite on Renesas RA6T1 Motor Starter Kit.  Is this issue good to close then?

[2022-01-04 04:39] ms-ims commented on #38681
Yeah it can be closed

On Tue, 4 Jan, 2022, 10:08 am mohantym, ***@***.***> wrote:

[2022-01-04 04:40] mohantym commented on #38681
Thank you confirming the same! Closing this issue as it seems to be resolved from above [comment](https://github.com/tensorflow/tensorflow/issues/38681#issuecomment-1004524327).

[2022-01-04 04:40] #38681 closed

[2022-01-04 04:52] sushreebarsa commented on #53616
@soiavaq
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-01-04 05:05] HaotianWang6897 commented on #23027
Due to a version conflict in CUDA9.0 and tensorflow 1.12.0

use  result = tf.py_func(np_matmul, [x, y], tf.float32)  instead.

use a numpy function wrap in tensorflow.

[2022-01-04 05:06] HaotianWang6897 commented on #23473
My case due to a version conflict in CUDA9.0 and TensorFlow 1.12.0

Easiest solution:  use a NumPy function wrap in TensorFlow.

use result = tf.py_func(np_matmul, [x, y], tf.float32) instead.

[2022-01-04 06:10] upwindflys commented on #53517
@tilakrayal Hi,
### Code to reproduce the issue.
[code]
### Command
`woker0: python all_gather.py 0
worker1: python all_gather.py 1 `

[2022-01-04 06:19] Yuri-Su commented on #53093
This problem was solved in the latest version 2.7, the metal version is 0.3.0. But the adam optimizer still has problems

[2022-01-04 06:21] tilakrayal commented on #53612
@Saduf2019 ,
I was able to execute the code without any issues in gpu and cpu.Please find the gist here.[1](https://colab.research.google.com/gist/tilakrayal/c40002e343f97b6a9627541577924615/53612.ipynb),[2](https://colab.research.google.com/gist/tilakrayal/53b7bd04e6ce54f2ebcd981e3e1e9691/53612-cpu.ipynb),[3](https://colab.research.google.com/gist/tilakrayal/1560d87c9a169ba64c64da48143bbcc0/53612

[2022-01-04 06:45] xiaoguai0992 commented on #8773
Thank all of your comments! I have already turned to python. If someday I need to play with C++ and Windows again, I'd like to try your suggestions.

[2022-01-04 06:49] old-school-kid opened #53625 "model.build documentation absent on wensite"
The build method for model class is not documented or/and is not present on the [page](https://www.tensorflow.org/api_docs/python/tf/keras/Model#methods_2). Can this be added?
Thank you!

[2022-01-04 06:51] sushreebarsa commented on #8773
@xiaoguai0992 Thank you for the update! Could you please move this issue to closed status if it resolved for you?
Thanks!

[2022-01-04 07:28] ravinderkhatri commented on #53612
@tilakrayal  Have you checked for more than one GPU? Also, can you please run it for more than one epochs? From my obs, it is breaking after the execution of First Epochs.

Also in the main code, I forgot to add then I am using the below strategery for TPU|GPU. Apology for the miss from my end.  I have added the below line of code in the notebook. Can you please try it with this also?
[code]

[2022-01-04 07:30] tilakrayal commented on #53615
@sachinprasadhs ,
I was able to execute the code in tf v2.7 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/afc5e6dd5ab8a140d83d3373141be7d1/untitled177.ipynb).

[2022-01-04 07:50] firejq opened #53626 "CUDA_ERROR_ILLEGAL_ADDRESS when enable unified memory in multi-GPUs training"
I perform data parallel training on nvidia v100 based on horovod+tensorflow. Since a single gpu cannot accommodate the size of my model, I am trying to use tensorflow's unified memory through `per_process_gpu_memory_fractio`.

When I use 4 gpus for training and enable unified memory, everything is fine, and the performance loss is acceptable.

But when I used 8 gpus for training and turned on unif

[2022-01-04 08:28] saddamhijazi commented on #53606
Thank you, the issue is posted on the keras project.

[2022-01-04 08:28] #53606 closed

[2022-01-04 08:38] markmcd commented on #53216
Quick update - I have a PR in the works to sort this out, but I still need to do some more testing to make sure I've got everything. Should be ready for review tomorrow.

[2022-01-04 08:39] mcourteaux commented on #53615
@tilakrayal @sachinprasadhs The Google Cloud collab thing has more memory than me. Changing it to

[code]

demonstrates the issue (note that the total number of floats is even less than before: the batch size is what matters here).

[2022-01-04 08:41] mohantym commented on #53626
Hi @firejq !
1.x versions of Tensorflow which is not supported any more. Could you please try in latest version 2.7 and let us know ?Attaching relevant threads . [1](https://developer.nvidia.com/blog/unified-memory-cuda-beginners/), [2](https://discuss.tensorflow.org/t/mult-gpus-training-with-unified-memory/6428).  Thanks!

[2022-01-04 08:44] maz-1 commented on #53597
Ok, so the only difference i found is the step "Install Python and the TensorFlow package dependencies"
I followed the newest document and I got exactly same errors.

[2022-01-04 08:51] ghylander commented on #53280
@Saduf2019
from the [docs](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#window) :
[code]
which does not work
your code, as you stated, is modified from the one on the docs. It would seem that the behaviour of the dataset API changed at some point, making the code in the docs stop working

[2022-01-04 09:03] #53498 closed

[2022-01-04 09:04] Suzan009 commented on #53487
@Saduf2019 I am not following the messy repo of the [tensorflow-model garden](https://github.com/tensorflow/models/tree/master/research/object_detection). In fact, this so-called model garden repo should be closed.

I'm simply looking to get the implementation of these two metrics in pure tensorflow. Asking or suggesting to look into TFOD API, you're making someone's life harder.

[2022-01-04 09:13] sushreebarsa commented on #53453
@raoshenglong Could you please confirm if we can close this issue as the [PR](https://github.com/tensorflow/tensorflow/pull/53496) is merged?Thanks!

[2022-01-04 10:03] ebraraktas opened #53628 "TensorFlow Lite C API TfLiteInterpreter misleading documentation"
This is documentation bug in TFLite C API. I am not sure if I chose a proper issue tag.

## Description of issue (what needs changing):

### Clear description

See [the documentation](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/c/c_api.h#L146-L158) of `TfLiteInterpreterCreate`.

According to this documentation, the snippet below is valid:
[code]

From now on, according to

[2022-01-04 10:06] WillemD61 commented on #53522
True, but without documenting this problem, bringing it to the user attention or resolving it in another way, many more users will run into the same issue. Just mentioning a possible solution here as a reply does not really prevent this from happening in the future and will leave the build script as vulnerable as before.

[2022-01-04 10:31] Tessil commented on #53315
@sachinprasadhs Yes, using `channels_last` works fine for 3D operators. It's mainly a feature request to have feature-parity with 2D operators as supporting `channels_first` can be useful when converting models from one framework to another.

Would it be possible to re-open the issue as with the end of the year holidays I was late to respond and the issue has been closed as stale? Thanks!

[2022-01-04 11:02] rangsimanketkaew opened #53629 "Building with Bazel failed during fetching of repository "go sdk""
Happy New Year 2022!

I've been trying to build TF 2.6 from source using Bazel on my Ubuntu machine. Unfortunately, I got stuck at the very beginning step of installing dependencies for TF. The error says that bazel failed to fetch (and also extract?) GO SDK package (see log below). My system details and building commands are also provided.

**System information**
- OS Platform and Distribution (e

[2022-01-04 11:03] #53382 closed

[2022-01-04 11:12] popkristina commented on #53579
Here's a short kaggle kernel to reproduce the error:

https://www.kaggle.com/popkristina/lstm-elmo?scriptVersionId=84384455

[2022-01-04 11:23] raoshenglong commented on #53453
OK, I will close it. @sushreebarsa

[2022-01-04 11:23] #53453 closed

[2022-01-04 11:47] sushreebarsa commented on #16465
@memo It seems you are using older versions(1.x versions) of Tensorflow which is not actively supported. Since `contrib` has been depreciated in Tensorflow 2.x ,Please do upgrade to a latest Tensorflow version.Attaching [migration](https://www.tensorflow.org/guide/migrate) guide for reference. Thanks!

[2022-01-04 11:54] sushreebarsa commented on #29829
@hvico We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is not actively supported. We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.Thanks!

[2022-01-04 12:02] sushreebarsa commented on #18037
@Palazor
We see that you are using old version of tensorflow ( 1.x)  ,which is not actively supported, We recommend that you upgrade to 2.4 or later version.Attaching [migration](https://www.tensorflow.org/guide/migrate) guide for reference. Thanks!

[2022-01-04 12:03] #53388 closed

[2022-01-04 12:21] prio158 commented on #53555
Thank you, I replace  "keras.layers.Conv2D(out_channels , groups=out_channels )"  with  "keras.layers.DepthwiseConv2D",  quantization  success !  but the accuracy of the quantized model is 0。

[2022-01-04 12:36] sushreebarsa commented on #41057
@JSunRae Is this still an issue?
Could you please try with the latest TF v2.7.0 and have a look at the[ build from source](https://www.tensorflow.org/install/source_windows) , [tested build configurations](https://www.tensorflow.org/install/source_windows#gpu) ?Please let us know if it helps. Thank you!

[2022-01-04 12:50] sushreebarsa commented on #22052
@shuiruge
We see that you are using old version of tensorflow 1.x which is not actively supported, We recommend that you upgrade to 2.4 or later version.Please have a look at the [migration](https://www.tensorflow.org/guide/migrate) guide for reference to Migrate from TensorFlow 1.x to TensorFlow 2.Thank you!

[2022-01-04 12:52] sushreebarsa commented on #17463
@hengchuan We see that you are using old version of tensorflow 1.x which is not actively supported, We recommend that you upgrade to 2.4 or later version.Please have a look at the [migration](https://www.tensorflow.org/guide/migrate) guide for reference to migrate from TensorFlow 1.x to TensorFlow 2.Thank you!

[2022-01-04 13:03] #53500 closed

[2022-01-04 14:49] RemiLacroix-IDRIS commented on #50628
Hi. Any news regarding this issue?

[2022-01-04 15:04] Extremesarova commented on #51031
Hi, @mohantym! I will try it and post an update here

[2022-01-04 15:20] mathshangw commented on #53333
excuse me did you solve it

[2022-01-04 16:00] ballsystemlord commented on #38681
I subscribed to this thinking that we might get a link to some instructions for a pair of general boards with ESP32 and ARM MCUs.
But the issue was closed because we got instructions for a particular board, the RA6T1 motor controller board. This doesn't really say how to make tensorflow work on anything other than their board. It doesn't even list the step they took to get tensorflow working on th

[2022-01-04 16:36] AdityaKane2001 opened #53631 "Request for grouped convolutions on CPU"
**System information**
- TensorFlow version (you are using): 2.7
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Grouped convolutions are not currently supported on CPUs in graph mode. We get the following error when we try to do the same:
[code]
Till date, there have been numerous issues on TF's GitHub repo regarding this. Owing to that, I

[2022-01-04 16:39] elfringham opened #53632 "Updating bazel causes python to abort during build on AARCH64"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2022-01-04 16:39] elfringham commented on #53632
@hrw @cfRod @nSircombe

[2022-01-04 16:43] marzdeveloper opened #53633 "Dataset.batch() change tensor shape and abort LSTM fit"
**System information**
- TensorFlow version: v2.4.0-49-g85c8b2a817f 2.4.1
- Platform: Kaggle TPU

Hi, my LSTM code give this error using dataset.batch():

[code]

Meanwhile without dataset.batch() the code works correctly.

I'm using Tensorflow dataset from tfrecord files:

[code]
I have to add the reshape because without i get this error:

    TypeError: can't multiply sequence by non-int of type

[2022-01-04 16:43] Jaydeemourg commented on #53556
@tilakrayal Done. Thanks!!! i am closing this issue

[2022-01-04 16:43] #53556 closed

[2022-01-04 16:52] chenghuige commented on #36465
from numba import cuda
   cuda.select_device(0)
   cuda.close()
This works on kaggle kernel, when I first run tf2 keras predict then release gpu and do torch inference.

[2022-01-04 17:03] #42664 closed

[2022-01-04 17:19] sachinprasadhs commented on #47671
Depreciation warning will be added initially as you see in the linked PR, in the subsequent Tensorflow versions it will be removed. You can go ahead and close the issue. Thanks!

[2022-01-04 17:39] jsimsa commented on #53572
@wilsingosti is taking a look

[2022-01-04 17:39] aselle commented on #22524
In newer versions of TensorFlow there is now an error if you assign_add the wrong shape i.e.

![image](https://user-images.githubusercontent.com/326106/148100809-df4c9ad6-0eb7-43da-b1b1-080be8d484ad.png)

[2022-01-04 17:39] #22524 closed

[2022-01-04 17:41] GMNGeoffrey commented on #45446
Well the good news is that there are fewer copies of these build files now. They've been upstreamed at https://github.com/llvm/llvm-project/tree/main/utils/bazel. Additionally, we've started defining things based on C preprocessor macros in [config.h](https://github.com/llvm/llvm-project/blob/587bdb3772333763dd739021cd08bc44bcd8485d/utils/bazel/llvm-project-overlay/llvm/include/llvm/Config/config.

[2022-01-04 17:45] hrw commented on #53632
I have same bug while building in manylinux2014 aarch64 container.

[2022-01-04 17:47] mechsihao opened #53634 "tf.keras k-fold save weights failed! RuntimeError: Can't decrement id ref count (unable to close file, errno = 5, error message = 'Input/output error')"
# Background:
I want to train a two-dense-layer classification model, I use the k-fold strategy to train it and use tf.keras.callback.checkpoint utils to save the best model weights:

`RuntimeError: Can't decrement id ref count (unable to close file, errno = 5, error message = 'Input/output error')`

I tried to change the version of h5py to fix this bug, but it did not work.(2.10.0 ~ 3.6.0).
This

[2022-01-04 18:07] jvishnuvardhan commented on #39755
@kydonian Can you please open it in keras-team/keras repo as mentioned in my last response. Keras team is focussing their efforts in that repo only. Thanks!

[2022-01-04 18:09] sullivak-kyra commented on #8773
The original question specifically mentioned c++. @xiaoguai0992 moving to python doesn't really close this issue.

[2022-01-04 19:05] memo commented on #16465
@sushreebarsa yes, this issue is from 4 years ago! :) I'm not sure if it is still relevant.

[2022-01-04 19:37] code-review-doctor opened #53636 "Missing comma in test results in unexpected string concatenation"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): NA
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): NA
- TensorFlow installed from (source or binary): NA
- TensorFlow version (use command below): NA
- Python version: NA
- Bazel version (if compiling from source): NA
- GPU model and memory: NA
- Exact command to reproduc

[2022-01-04 19:56] mahenning commented on #53272
I opened an issue at
https://github.com/tensorflow/tensorboard/issues/5483
Thank you all for the answers!

[2022-01-04 19:56] #53272 closed

[2022-01-04 20:18] sachinprasadhs commented on #53636
Would you like to create a PR for the same

[2022-01-04 21:30] srjoglekar246 commented on #53417
Hey @michaelnguyen11 , can you try this process with the non-FPN SSD version?

Also, you seem to be using the GPU delegate (as shown by your logs), and not the NNAPI delegate - and for float16 models, GPU is indeed the correct delegate - just wanted to confirm.

[2022-01-04 22:10] #53633 closed

[2022-01-04 22:14] wenscarl commented on #53476
Posted on keras-team/keras repo as suggested. Though the repo code is in keras, the root cause should relate to TF directly.

[2022-01-04 23:00] kun-lu20 commented on #51770
Hi @sushreebarsa  , Happy New Year!

Could you please help me check if this issue has been fixed on TF master build? Thank you!

[2022-01-04 23:26] YorkSu commented on #47394
I ran into the same issue.
System information: Win 10 21h1, python 3.9, TensorFlow 2.6.0
When I use CIFAR10 + ImageDataGenerator + sparse_categorical_crossentropy in TF2.6, I got 10% acc.
Using MNIST + ImageDataGenerator + sparse_categorical_crossentropy, 99% acc, it works well.
Using Fruits114 + ImageDataGenerator + sparse_categorical_crossentropy, 99% acc, it works well too.
Using CIFAR10 withou

[2022-01-05 00:47] mohantym commented on #35071
Hi @petewarden ! MaxPool Kernel from TFLite Micro does support int8 now.

[2022-01-05 00:52] mohantym commented on #53634
Hi @mechsihao ! I was  getting different error in 2.7 and able to resolve this issue  by removing square bracket from input data, Attaching [Gist ](https://colab.sandbox.google.com/drive/1DkAch7lv_z7FZGPFwzpFxlu-ysvY9xqD?resourcekey=0-24MDgWD3WxJW9MtsdA1xYA#scrollTo=ymx1-FOnoeZN)for reference. Thanks!

[2022-01-05 01:10] mohantym commented on #53631
Hi @AdityaKane2001 !
Could you please post this feature request on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thank you!

[2022-01-05 02:34] Miko2x commented on #39290
Hi @teijeong I'm facing the same issue when i run this bazel command:
`bazel build --action_env PYTHON_BIN_PATH=/usr/bin/python --verbose_failures --config=ios_arm64 -c opt //tensorflow/lite/ios:TensorFlowLiteCMetal_framework`

**Configure**
Same configuration

**Output**
[code]

[2022-01-05 02:49] yyoon commented on #39290
@Miko2x That error suggests that your Python interpreter doesn't understand the type hinting syntax, which was introduced in Python 3.5. What is your Python version? Can you try the build again with Python 3.5 or higher?

[2022-01-05 02:52] tilakrayal commented on #53517
@upwindflys,
I was facing different error while trying to execute the code.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/19f7fa69150660ed4ce44b172120e4a4/untitled178.ipynb).

[2022-01-05 02:57] tilakrayal commented on #53628
@ebraraktas ,
Can you please feel free to submit a PR for the requested change or share the link where requested change is to be made?

[2022-01-05 03:09] Miko2x commented on #39290
@yyoon, Thanks for the reply.

On this report I'm using 2.7.18. After that when I try to use Python 3.7.2, it's give me another error message. Looks like the program can't find numpy path, is there any file that i can set the numpy path?

[code]

**Configure file**

<img width="494" alt="Screen Shot 2022-01-05 at 10 05 47" src="https://user-images.githubusercontent.com/41611726/148154437-d013facc-

[2022-01-05 03:21] whatdhack commented on #53301
Thanks.   The link[ MLIR CodeGen for XLA ](https://www.tensorflow.org/mlir/xla_gpu_codegen)  looks like is sort of a roadmap which is yet to be implemented.   Would appreciate if you could clarify the current high level XLA  flow and the  future flow with MLIR.   AFAIK,  the current flow is as follows. Can you  please check and make any correction and enhancement ?

Grappler (pbb  ?) -> XLA HLO (i

[2022-01-05 04:01] #41057 closed

[2022-01-05 04:01] JSunRae commented on #41057
I got it working but from memory I just gave up on building from source

[2022-01-05 04:13] shhdSU commented on #53333
Yes, by the following code >

`from tensorflow import lite
converter = lite.TFLiteConverter.from_keras_model(model_new)

converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.experimental_new_converter=True
converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,
                                       tf.lite.OpsSet.SELECT_TF_OPS]

tfmodel = converter.convert()
open('image_m

[2022-01-05 04:36] yyoon commented on #39290
Could you file a new issue for your issue and cc me?
I don't think it's appropriate to continue this on an issue closed a long time ago.

[2022-01-05 04:40] Miko2x commented on #39290
Sure.

[2022-01-05 05:39] Miko2x opened #53640 "Failed build: Problem getting numpy include path."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Monterey 12.1
- Mobile d

[2022-01-05 06:05] #53531 closed

[2022-01-05 06:12] yyoon commented on #53640
Have you run the `./configure` script from the repository root directory, before executing the `bazel build` command?
The way you specify `PYTHON_BIN_PATH` is non-standard. Usually, you'd specify the Python executable path as well as the Python package path when running the `./configure` script, and those settings will be used for all of your subsequent `bazel build` command. (i.e., you shouldn't

[2022-01-05 06:55] mechsihao commented on #53634
thanks for your reply, but I don't have permission to visit your link, could you please paste your core code here? thanks again~

[2022-01-05 07:01] mohantym commented on #53634
Sorry ! I have updated the above[ Gist](https://colab.sandbox.google.com/gist/mohantym/bd6018e0f034de475be01c3414470e73/github_53634.ipynb#scrollTo=sDltZUhPofRp) link . Thanks!

[2022-01-05 07:02] jackyko1991 commented on #8773
there are two legacy repo to use tensorflow with C++

https://github.com/cjweeks/tensorflow-cmake
https://github.com/ksachdeva/tensorflow-cc-examples

Seems they are using bazel build, not sure if they can still be used in 2022 release

[2022-01-05 07:02] chensusu11 opened #53641 "如何通过 docker build，来build tensorflow指定版本，比如我想build tensorflow1.15"
![image](https://user-images.githubusercontent.com/44188056/148174262-c83fd792-c10c-4e46-8a62-59c4aee815cd.png)

我按照 docker build的方法 build出来时最新的tensorflow 2.9的版本，里面我也不能git checkout 来切换分支，请问有什么好的解决方法吗？

谢谢

[2022-01-05 07:04] mechsihao commented on #53634
Thanks~!

[2022-01-05 07:05] chensusu11 opened #53642 "How to build tensorflow 1.15 with docker build？I can only compile the latest tensorflow2.9 according to the official tutorial"
![image](https://user-images.githubusercontent.com/44188056/148174661-c22df66d-c624-4d87-8a7c-02ff97837443.png)

I want to switch branch r1.15, but it didn't work！thankyou！

[2022-01-05 07:08] chensusu11 opened #53643 "How to build tensorflow 1.15 with docker build？I can only compile the latest tensorflow2.9 according to the official tutorial"
![image](https://user-images.githubusercontent.com/44188056/148175006-782c6cef-fb0a-4c80-bdae-c83d2212497f.png)

I want to switch branch r1.15, but it didn't work！thankyou！

[2022-01-05 07:09] #53641 closed

[2022-01-05 07:09] #53642 closed

[2022-01-05 07:10] mechsihao commented on #53634
It seems not repeat this bug, I am testing it by updatding tf version to 2.7.0

[2022-01-05 07:13] nershman commented on #52036
@bestmatthew Did you make any progress on this issue? I'm having an issue related to flatbuffer dependency when installing tf-text as well.

[2022-01-05 07:19] sushreebarsa commented on #53643
@chensusu11
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-01-05 07:23] neso613 opened #53644 "How to check the total no of neurons of model?"
My question is about the Neural Network neuron's numbers.
No of neurons in input layer is equal to no of input features..say 32,32,1 if MNIST dataset
and no of neurons in Output layer is equal to no of target variable say,,in MNIST it is 10
but how can we know about the neurons of hidden layers?
https://colab.research.google.com/github/AviatorMoser/keras-mnist-tutorial/blob/master/MNIST%20in%20Ker

[2022-01-05 07:26] mechsihao commented on #53634
it really odd, this bug cannot be repeated in the collab, but it can be easily repeated in my local ubuntu when I use the same version TensorFlow even same version of Ubuntu

bugs detail:
[code]

[output]
[code]

[2022-01-05 07:47] chensusu11 commented on #53643
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Ubuntu 18.04
- docker Linux build （https://www.tensorflow.org/install/source#docker_lin

[2022-01-05 07:48] chensusu11 commented on #53643
How to build tensorflow 1.15 with docker build？

[2022-01-05 07:53] upwindflys commented on #53517
@tilakrayal I modified the code receiving external incoming variables.
### Code to reproduce the issue.
[code]

[2022-01-05 08:21] #47671 closed

[2022-01-05 08:29] Miko2x commented on #53640
I've run `./configure` once again:

<img width="888" alt="Screen Shot 2022-01-05 at 15 15 21" src="https://user-images.githubusercontent.com/41611726/148183587-dac99989-85dc-4776-9796-00a20be43a11.png">

And when i take a look at the site-packages it doesn't have numpy:

<img width="740" alt="Screen Shot 2022-01-05 at 15 21 24" src="https://user-images.githubusercontent.com/41611726/148184244-9091

[2022-01-05 08:32] reuvenperetz opened #53645 "Conv2DTranspose have a non-deterministic behavior"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7
- P

[2022-01-05 08:45] Miko2x commented on #53640
And when I use different Python library paths `/usr/local/lib/python3.7/site-packages`. It's give me another another error message:

[code]

[2022-01-05 09:22] yyoon commented on #53640
In your screenshot, the Python lib path definitely doesn't look right: It's pointing to a python module directory contained within your Xcode installation. It should be something like `/Library/Python/3.7/site-packages` or something along this line.

For the following error:
[code]

Try running `bazel build` with the suggested flag:
[code]

[2022-01-05 09:23] AndrewBarzu commented on #28840
thanks tensorflow what can i say

[2022-01-05 09:26] chensusu11 commented on #53643
Build label: 4.2.1

[2022-01-05 09:49] mohantym commented on #53644
Hi @neso613 ! Can you check these  threads [1](https://stackoverflow.com/questions/56518924/how-we-can-get-the-total-number-of-neurons-from-a-model-in-keras-is-there-any-f) ,[2 ](https://stackoverflow.com/questions/54408347/count-neurons-in-keras-with-different-layers-is-my-approach-correct) for counting neurons in a keras model ? You can check memory usage of CPU/GPU  using [memory_usage](https:/

[2022-01-05 09:50] Saduf2019 commented on #53487
@Suzan009

You may take the following command as a reference to get the mAP values.

python models/research/object_detection/model_main_tf2.py
--model_dir = <YOUR_MODEL_PATH>
--pipeline_config_path = <YOUR_PIPELINE.CONFIG_PATH>
--checkpoint_dir = <YOUR_CHECKPOINT_DIR_PATH>

Alternatively, you can visualize these metrics on Tensorboard by initiating Tensorboard in the eval directory.
As informed ea

[2022-01-05 09:51] chensusu11 commented on #53643
I want to know bazel's version of build tensorflow1.15

[2022-01-05 10:03] #53499 closed

[2022-01-05 10:21] sushreebarsa commented on #53643
@chensusu11 We see that you're using older version of  TF 1.x(v1.15) which is not actively supported .Could you please try to upgrade to latest stable TF version 2.7.0 and let us know the outcome?Thanks!

[2022-01-05 10:27] sushreebarsa commented on #53625
@old-school-kid
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose), to provide more information on this issue?Thanks!

[2022-01-05 10:33] Samar-080301 opened #53646 "Tensorflow is unable to detect my GTX 1650 GPU with CUDA 11.2"
I have CUDA drivers installed on my pc with Nvidia GTX 1650.

[code]
And I have Tensorflow-gpu 2.7.0

The following TensorFlow code is unable to recognize the GPU.
[code]
The error :-
[code]

[2022-01-05 10:53] OgreTransporter commented on #52131
Admin privilege needed:

TensorFlow:

Bazel:

Solution:

[2022-01-05 11:03] #43546 closed

[2022-01-05 11:15] sushreebarsa commented on #53629
@rangsimanketkaew Could you please let us know if this issue still persists in  latest stable TF v2.7.0 ? Thanks!

[2022-01-05 11:19] OgreTransporter opened #53647 "Switch build system"
**System information**
- TensorFlow version (you are using): 2.8
- Are you willing to contribute it (Yes/No): Only with a system change

**Describe the feature and the current behavior/state.**
Building TensorFlow on Windows is a nightmare. A big problem is that either TensorFlow's Bazel scripts or Bazel itself is quite buggy. Examples:
 - Visual Studio 2022 does not work
 - LLVM does not always w

[2022-01-05 11:22] elfringham opened #53648 "Unit test builds broken by recent commit"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2022-01-05 11:23] elfringham commented on #53648
@hrw @cfRod @nSircombe

[2022-01-05 11:46] sushreebarsa commented on #53646
@Samar-080301 Could you please have a look at the [tested build configurations](https://www.tensorflow.org/install/source_windows#gpu) and check the compatible versions ? Please refer to the similar [issue](https://stackoverflow.com/questions/65870397/installed-tensorflow-but-cant-detect-gtx-1650-super) and let us know if it helps?Thanks!

[2022-01-05 12:01] khatrishubham88 commented on #53398
The issue is being worked on

[2022-01-05 12:03] nSircombe commented on #53632
I'm able to build with Bazel 4.2.2 and Python 3.8 - is this failure restricted to 3.7?

[2022-01-05 12:07] rangsimanketkaew commented on #53629
Yes, I also faced the same issue in v2.7.

[2022-01-05 12:08] rangsimanketkaew commented on #53629
@sushreebarsa

Yes, I also faced the same issue in v2.7.

[2022-01-05 12:10] old-school-kid commented on #53625
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue: [Tensorflow model methods](http

[2022-01-05 12:20] donglinz opened #53649 "Question on implicit transpose in HLO bitcast/copy/reshape instruction"
HLO instructions like bitcast/copy/reshape often conduct implicit transpose. I am confusing on how the reshape/transpose performed exactly, as I am not aware of they are documented anywhere else including official operation semantics.

Take tensor A[2,3]{1,0} as an example, suppose tensor A have element [[1,2,3], [4,5,6]] with memory layout [1,2,3,4,5,6], consider following two transposition perfo

[2022-01-05 12:30] donglinz opened #53650 "Question on implicit transpose in HLO bitcast/copy/reshape instruction #2"
In below dumped hlo instruction:
[code]

both tensor shape and memory layout are permuted between dimension 1 and dimension 2.

However in this instruction
[code]

Dimension 1 and dimension 2 have same size, I cannot infer from dumped IR about whether tensor share are permuted between dim 1 and dim 2.

May I ask how can I get complete information shape/layout permutation?

[2022-01-05 13:03] #53190 closed

[2022-01-05 13:03] #44641 closed

[2022-01-05 13:25] tilakrayal commented on #53645
@reuvenperetz ,
I was able to run the code without any issues on TF v2.7. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/79dcd03c352cd86f2a7cc17cc170dc82/untitled179.ipynb).Also please create a virtual environment and test your code again. It helps. Thanks!

[2022-01-05 14:58] imatiach-msft commented on #45930
I'm seeing this warning but with just tensorflow installed, not tensorflow-gpu.  I just want to suppress this warning for my library users.  What is the recommended way to suppress this warning for the regular tensorflow package?

[2022-01-05 15:01] imatiach-msft commented on #45930
Oh, I guess those two packages are now combined into one:
https://www.tensorflow.org/install
![image](https://user-images.githubusercontent.com/24683184/148239161-8fb1dbb6-5da2-47e9-b41e-823fcdc310b1.png)

it's really annoying to users to show this warning though if they actually don't want to use the GPU

[2022-01-05 16:00] amitnjha commented on #51446
@tilakrayal @888yyh Has there been resolution to this issue?
I am getting this error with TF2.1.0 randomly. With 2.7.0 this never happens.
In order to be compatible with other things, we are not yet ready to do an upgrade to 2.7.0

[2022-01-05 16:20] AdityaKane2001 commented on #53631
@mohantym

I believe this is a core TF issue and not a Keras one. This is because the aforementioned error is thrown in [tensorflow/core/kernels/conv_ops_fused_impl.h](https://github.com/tensorflow/tensorflow/blob/25d9dd7b1194de41a63e9ddaa68445e64b7f802a/tensorflow/core/kernels/conv_ops_fused_impl.h#L216-L218). As the error says the core library has not implemented this yet, and hence I have raise

[2022-01-05 17:02] ArrowIntoTheSky opened #53651 "tf.bincount outputs wrong results"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-05 17:18] Oliverhiggins93 commented on #53029
Hi,
I have also ran into this problem when trying to add images without bounding boxes to a dataset. I am importing the images from a CSV stored locally on my harddrive, which was created using pandas, and am getting the same error. The images without bounding boxes have the format:

Can you confirm whether images without bounding boxes are able to be included in the training at all using model ma

[2022-01-05 17:29] ArrowIntoTheSky opened #53653 "tf.sparse.to_dense don't support complex dtypes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-05 17:45] wilsingosti commented on #53572
The `my_identity` function is a no op. When `option = 1`, the `Map` is eliminated by the tf.data `noop_elimination` optimization. What is left is just `Batch`. If you replace the `my_identify` function with another that is not a no op, you should see the `MapAndBatch` implementation.

[2022-01-05 17:52] kasyap1234 commented on #53413
is anyone working on this issue?

[2022-01-05 18:13] kasyap1234 commented on #53645
I tried it with google colab and it worked perfectly .

[2022-01-05 19:06] bestmatthew commented on #52036
@nershman thank you for understanding tensorflow better than the tf staff.

I was not able to resolve the issue, TF refuses to import so I ran my work in google colabs out of necessity. I have not been able to get TF running in my native ide but will troubleshoot this a little further with my package versions. I am moving to a new machine shortly and I imagine (hope) the new environment will also

[2022-01-05 19:40] Saduf2019 commented on #53632
@elfringham
Could you please try with python 3.8 and let us know if this is still an issue.

[2022-01-05 19:46] ArrowIntoTheSky opened #53655 "tf.sparse.segment_sum doesn't support complex dtypes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-05 19:55] jsimsa commented on #53572
IIUC, the `map` in the repro above is introduced to make sure the memory allocated for the batch is [pinned](https://developer.nvidia.com/blog/how-optimize-data-transfers-cuda-cc/). From that perspective, the `map` is intended to be a no-op. To keep the `map` is and still trigger the fusion, it should be sufficient to disable the no-op elimination using tf.data [options](https://www.tensorflow.org

[2022-01-05 20:25] nershman commented on #52036
@bestmatthew I'm also having issues with imports but I'm on on a earlier version of macOS. If it mentions a "symbol not found" or a missing dylib it may be an issue with how TF was built. There seems to be a few issues related to this which are in the process of being resolved. If you have more issues another option is to try building TF yourself (there's an option for that in pip, but you need to

[2022-01-05 20:27] old-school-kid commented on #53647
Agreed. But since Keras requires to bazel for its build tensorflow had to follow the same. Sadly everything is tested on Linux OSS. So I don't see this being solved in near future.

[2022-01-05 20:28] mcourteaux commented on #53572
@wilsingosti Thanks for checking this. I'm wondering why not most Dataset implementations use the `gpu_compatible` memory when allocating stuff. Wouldn't that be useful in general, and then have us not rely on this `MapAndBatch` being selected to just copy the data to pinned memory.

[2022-01-05 20:45] ArrowIntoTheSky opened #53657 "tf.sparse.softmax lack support for float16"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-05 21:15] ArrowIntoTheSky opened #53658 "tf.sparse.softmax randomly outputs wrong results!"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-05 21:52] ArrowIntoTheSky opened #53660 "`tf.sparse.split` crashes when axis is a tuple"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-05 21:53] mihaimaruseac commented on #53647
Google uses an equivalent of Bazel internally. We cannot maintain a CMake build, the existing one was always getting out of date and was more broken than actually working.

If an external contributor were to provide CMake support and maintain it, we can take that, but otherwise, sadly we cannot.

[2022-01-05 21:56] #53599 closed

[2022-01-05 22:03] 3kba opened #53661 "OSError: SavedModel file does not exist at: final_model_weights.hdf5/{saved_model.pbtxt|saved_model.pb}"
Hey a have a problem whn i try to load the module :

my code : index.py

[code]

when i upload the image to my code i get this error :

[code]

structure of my code :
[code]
any solution for that ??

[2022-01-05 22:13] philipturner opened #53662 "Resurrecting Swift bindings / how much of the core C++ API can run on iOS?"
I'm directly addressing TensorFlow's admins and maintainers of the core C/C++ code with this issue.

Before starting out, I am not using TensorFlow for _inference_ on iOS. I am doing _training_, which is orders of magnitude more difficult to support. It has never been done on a high-level, feature-complete ML framework except for [DL4S](https://github.com/palle-k/dl4s) (MPSGraph and ArrayFire don'

[2022-01-05 22:44] kelvham commented on #46491
@mohantym Thank you for the reply, as you can see this thread is from over a year ago and I have since disassembled my bot. If I ever pursue the project again I will keep this in mind!

Thanks again!!

[2022-01-05 23:25] 60south commented on #44467
Wait, why is this closed? I'm certainly still having the problem. Reverting to an earlier version of h5py is not a solution, it's a work-around.

[2022-01-05 23:51] mihaimaruseac commented on #44467
TF 2.1.x is no longer supported. TF 2.4.x was supposed to have this fixed (but also is no longer updated). Any version of TF above 2.4.0 should not have this issue. If there is a similar issue, please open a new issue.

[2022-01-05 23:54] ziyeqinghan commented on #53029
Hi, please don't use images without bounding boxes. We can't accept the image without bounding box for training. We will update our doc later. Thanks a lot

[2022-01-05 23:54] #53029 closed

[2022-01-06 00:06] sachinprasadhs commented on #53554
Could you provide some more details about this feature request with example use case.

[2022-01-06 00:17] frgfm commented on #53345
Hi @sachinprasadhs,

I'm not sure I understand how it's related to my previous comment :thinking:
Simply put: if mixed precision policy is used, the CTC loss crashes. My snippet above is reproducing this error, because the CTC doesn't support float16.

So there are 2 questions here:
- is this normal that this loss doesn't support float16?
- if it is, how should one use this? I understand quite wel

[2022-01-06 00:18] suminz9 commented on #32952
Thanks, that solved my problem!

[2022-01-06 00:33] sachinprasadhs commented on #53519
GPU allocates as much memory as required for the runtime allocations. Initially, it starts allocating small amount of memory and as  the code runs it starts allocating memory for the required/visible process.
Anyways, you can try  with `TF_FORCE_GPU_ALLOW_GROWTH` to `true` in your environmental variable.
Also, you can try hard setting the visible memory with `tf.config.set_logical_device_configura

[2022-01-06 01:12] MarkDaoust commented on #43278
The rule is, if it's on tensorflow.org it's public. otherwise it's not.

The code that hides many of those methods is here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docs/generate2.py#L177

[2022-01-06 01:12] #43278 closed

[2022-01-06 01:20] MarkDaoust commented on #36786
Thanks to everyone who's submitted PRs for this!

We always encourage authors to add these, it's on our internal quality checklists.

If you have anymore PRs please send them to me for review.

But we don't need to keep this bug open.

[2022-01-06 01:20] #36786 closed

[2022-01-06 02:18] Miko2x commented on #53640
Yes it works! Successfully build with no error, the problem it's just wrong Python path library. But I can't use TensorFlowLiteCMetal_framework 😅 which brings up another problem. There might be a problem with the framework I'm using. Thanks @yyoon

[2022-01-06 02:19] Miko2x commented on #53640
Closing the issue

[2022-01-06 03:14] DhruvaKartik commented on #53426
I have the same issue. I tried installing both TF 2.7.0 and 2.6.0. Neither worked. The resolution suggested by @stromal did not work for me.

[2022-01-06 03:45] Samar-080301 commented on #53646
I'm having
[code]
do I need CudNN also?

[2022-01-06 05:44] apivovarov commented on #53529
Boris, Tensorflow 2.7.0 (from pypi) was built with TensorRT 7 (not 8) - it needs `libnvinfer.so.7` and `libnvinfer_plugin.so.7` but you have `libnvinfer8` installed.

To test that Tensorflow can find TensorRT libraries you can do the following:
[code]
if you do not have libnvinfer.so.7 and libnvinfer_plugin.so.7 then it will output
[code]

So, either install TRT 7.x or build TF with TRT 8.x suppor

[2022-01-06 06:11] NeyoxDrago commented on #38597
This works. Thanks

[2022-01-06 06:12] mohantym commented on #53631
Hi @Saduf2019 ! Could you please look at this feature request?

[2022-01-06 06:25] riemanli commented on #37792
Hi. I can clearly see that dropout is not considered during validation from your answer. But I was wondering if this is also true for regularization. Thank you.

[2022-01-06 06:39] sushreebarsa commented on #51776
@KumaTea Thank you for the  [update](https://github.com/tensorflow/tensorflow/issues/51776#issuecomment-967311582)!
Could you please see [TF Forum](https://discuss.tensorflow.org/t/support-python-3-10/124/26) for more details and move this issue to closed status if it is resolved ?Thank you!

[2022-01-06 06:50] sushreebarsa commented on #53649
@donglinz We see that there is another issue #53650 which we are tracking. Could you please confirm if it is  a duplicate ticket and close this one so that we can get you the right help in other issue ?Thank you!

[2022-01-06 07:19] tilakrayal commented on #53651
@ArrowIntoTheSky ,
tf.math.bincount:-Counts the number of occurrences of each value in an integer array.
tf.sparse.bincount:-Count the number of times an integer value appears in a tensor.
Please take a look at this link [1](https://www.tensorflow.org/api_docs/python/tf/math/bincount) and [2](https://www.tensorflow.org/api_docs/python/tf/sparse/bincount) which provides more information.It helps.Th

[2022-01-06 07:57] mohantym commented on #53650
Hi @Saduf2019 ! Could you please look at this issue?

[2022-01-06 08:16] BorisPolonsky commented on #53529
Thanks for clarifying. Looks like the official image of tf2.7 switched to a base image with TRT 8.x installed. Will the next official docker image release ensure compatibility between tensorflow and TRT so that this feature works out of box?

[2022-01-06 08:30] ZhiliangWu commented on #53343
I followed the [installation steps](https://www.tensorflow.org/install/gpu#linux_setup) on a fresh launched ubuntu18.04 EC2 instance ([g4dn](https://aws.amazon.com/ec2/instance-types/g4/)) and got a similar problem when I double-check whether the GPU can be invoked correctly. TensorFlow 2.7.0 was installed.

The fix I found was to rerun the code for installing CUDA Toolkit 11.5 Update provided by

[2022-01-06 08:31] mohantym commented on #46491
Ok @kelvham ! Closing this issue for now. Feel free to re-open if you need further assistance . Thank you!

[2022-01-06 08:31] #46491 closed

[2022-01-06 08:49] SefaZeng commented on #50826
@PINTO0309 How you solve it? I have the same .bazelrc with you but still failed.

[2022-01-06 08:55] PINTO0309 commented on #50826
@SefaZeng
If your goal is to cross-compile the TensorFlow Lite runtime, everything is committed in my repository. This is a closed issue, so if you want to continue the discussion, please submit an issue in my repository.

- Procedure
https://github.com/PINTO0309/TensorflowLite-bin#2-tensorflow-v230-version-or-later

- Installer
https://github.com/PINTO0309/TensorflowLite-bin

[2022-01-06 08:57] SefaZeng opened #53663 "Cross-compilation error by Bazel of TensorFlow Lite in 2.7"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iP

[2022-01-06 08:59] yuanbopeng opened #53664 "When allocate_output 200MB tensor, op kernel will execute twice"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):1.15

The op code is as follows:
[code]

The test code is as follows:
[code]

**Describe the current behavior**
![image](https://user-images.githubusercontent.com/70072713/14835666

[2022-01-06 09:17] JansonZhu opened #53665 "Do we have any way to avoid memory copy in tf.convert_to_tensor ?"
**System information**
- TensorFlow version (use command below): 2.4.1

**Describe the current behavior**

Code:

[code]

The result:

[code]

My question is:

1. What does  `tf.convert_to_tensor` do ? Does it copy cpu data from numpy to tf.Tensor and also copy it to GPU ?
2. How can I avoid memory copy when using tf.convert_to_tensor ? In my case I will not modify the input image at all, so it's

[2022-01-06 09:31] elfringham commented on #53632
@Saduf2019 it looks like it is only a problem inside the manylinux2014 docker image but it does fail on Python 3.8 in that environment.

[2022-01-06 09:39] SefaZeng commented on #53663
It's about the CC parametet which was set to ndk version. export CC=gcc works.

[2022-01-06 09:39] #53663 closed

[2022-01-06 09:41] Saduf2019 commented on #53631
@AdityaKane2001
Please feel free to raise a PR for the same.

[2022-01-06 09:46] sathiiii commented on #37273
@anthonyatp Hi, were you able to find a solution for this? I'm currently facing this exact problem and I don't know how to fix it😭

[2022-01-06 09:47] tilakrayal commented on #53661
@3kba ,
Can you please look at this comment from the [issue](https://github.com/tensorflow/tensorflow/issues/22480) with similar error.It helps.Thanks

[2022-01-06 09:47] SefaZeng opened #53668 "Compiling tensorflow/core/kernels/bincount_op.cc failed: (Exit 1): clang failed: error executing command"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iP

[2022-01-06 09:51] AdityaKane2001 commented on #53631
@Saduf2019

Not really my piece of cake 😅 That's the reason I opened an issue and not a PR directly.

[2022-01-06 10:10] Saduf2019 commented on #53604
@lugalUrim
I ran the code and made few changes on GPU, as per errors reported in keras team, please find the gist [here](https://colab.research.google.com/gist/Saduf2019/61e7a8c327dd820b9a20e4dff383e2e3/untitled653.ipynb), you may fix the error in this using this [link](https://github.com/nginyc/rafiki/issues/154),[link1](https://stackoverflow.com/questions/55195701/tensorflow-why-does-cudnn-fails

[2022-01-06 10:13] elfringham commented on #53648
Fixed by https://github.com/tensorflow/tensorflow/commit/4a3e89423182a3fbf008eaedc86b169bd3461c64

[2022-01-06 10:13] #53648 closed

[2022-01-06 10:24] mcourteaux commented on #37792
Me now being a little more familiar with the code, I would say: Yes, it will be considered. The loss function never changes, not in training or validation, or evaluation. Just the noise/dropout layer is bypassed, and the network produces a prediction in the fullest "quality" (ie: without the distortions from those layers).

[2022-01-06 10:31] stromal commented on #53426
I think TF 2.7

[2022-01-06 10:48] GeorgeLiang3 commented on #53534
Hi @Saduf2019, is there any update on this problem? Thanks

[2022-01-06 11:03] #16593 closed

[2022-01-06 11:03] #17043 closed

[2022-01-06 11:03] #17832 closed

[2022-01-06 11:03] #23565 closed

[2022-01-06 11:03] #23834 closed

[2022-01-06 11:03] #22763 closed

[2022-01-06 11:03] #22889 closed

[2022-01-06 11:49] donglinz commented on #53649
Hi @sushreebarsa, it not a duplicated ticket. Two issues are both targeting hlo bitcast instruction however the question are unique.

[2022-01-06 12:03] #37182 closed

[2022-01-06 12:25] Saduf2019 commented on #53534
@GeorgeLiang3
We see that you are using python for loops inside a tf.function please avoid that, try using tf.while_loop instead.
This is not a bug its coding errors, can you move this to closed status in this repo as this is for feature requests and bugs, please open this issue in tf discussion forum as there is a larger community to help.

[2022-01-06 12:30] Saduf2019 commented on #53584
@amitport
Please feel free to create a PR or share where this change has to be made.

[2022-01-06 12:33] tilakrayal commented on #53517
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.5, v2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d9d6490bb0f5ac3c9ac51bb31d0c3f65/untitled181.ipynb).

[2022-01-06 13:03] #53497 closed

[2022-01-06 13:15] #53534 closed

[2022-01-06 13:42] 3kba commented on #53661
i looked before to all this issues but i didn't get the solution that's why i made this issues, So you have any solution for that ?

[2022-01-06 13:47] shahruk10 commented on #27303
If anyone's still interested, I have a tensorflow lite friendly (no select ops required) MFCC layer implemented [here](https://github.com/shahruk10/kaldi-tflite/blob/master/kaldi_tflite/lib/layers/dsp/mfcc.py). See the [README](https://github.com/shahruk10/kaldi-tflite#creating-a-feature-extraction-model) for usage.

- You can use variable length input but would obviously need to reallocate tensor

[2022-01-06 14:02] RomanSteinberg commented on #52346
@pcish Yes, I tried to. But SavedModel format is not saving the whole training state, for example optimizer state. So, it is not suitable in my case.

[2022-01-06 14:20] tilakrayal commented on #53664
@yuanbopeng ,
We see that you are using tf version 1.15, 1.x is not actively supported, please update to tf v2.7 and let us know if you are using same issue.

[2022-01-06 14:22] GeorgeLiang3 commented on #53534
@Saduf2019
Thanks for the reply, but I got the exact same error using `tf.while_loop`

[code]

Error message:
[code]

[2022-01-06 14:55] pratt-lightbeam commented on #44751
any updates?

[2022-01-06 15:03] #53372 closed

[2022-01-06 15:03] #33238 closed

[2022-01-06 15:03] #31709 closed

[2022-01-06 15:17] jrichardsz commented on #18736
I have the same issue on ubuntu desktop 20, tensorflow 2, 8gb ram, 4 cores

[2022-01-06 15:20] andreped commented on #36465
I'm using TensorFlow in C++ and I am observing the same.

In Python, I have successfully created background processes for performing inference and that works well, as the session is created and deleted in the background process, keeping the main process free of this memory leakage issue.

However, in C++ this solution does not seem to work, as creating processes in C++ is not viable. It really nee

[2022-01-06 15:43] psobot opened #53671 "Using tf.device when creating Keras layers does not move layer computation to that device"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Cloud AI Platform (TensorFlow Enterprise 2.7)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.7.0-rc1-69-gc256c071bb2 2.7.0
- Python version: Python 3.7.12
-

[2022-01-06 16:49] danijar commented on #38228
Relevant library that's compatible with TF and other frameworks: https://github.com/arogozhnikov/einops

[2022-01-06 17:08] amitport commented on #53584
@Saduf2019
If I had the capacity to implement this I would've sent a PR already.

[2022-01-06 19:03] #17746 closed

[2022-01-06 19:34] marzdeveloper opened #53672 "Higher validation and test loss and lower accuracy using tf.data.dataset with tfrecords than using numpy"
**System information**
- OS Platform and Distribution : Kaggle and Colab gpu/tpu
- TensorFlow version (use command below): 2.4 on Kaggle, 2.7 on Colab
- GPU model and memory:tesla p100, colab tpu, kaggle tpu

Hi, I'm training and testing an LSTM network using kaggle notebooks.
To improve time performance I have converted my numpy dataset to TFRecords, but the results are very differents respects r

[2022-01-06 19:36] JW1992 commented on #53410
@UsherWang can you please further clarify what "stalled" means? I opened the script for v2.7.0 by @sushreebarsa and saw that it ran till epoch 840, then got KeyboardInterrupt.

[2022-01-06 20:04] UsherWang commented on #53410
Hi @JW1992 ,

Thank you for your reply. As mentioned in description, under cpu mode it works well but it gets stalled under gpu mode with my env setup. In the test done by @sushreebarsa It's not clear about what platform (C/Gpu) he/she used. Here stall means TF gets stuck at specific iteration step, keeps running and doesn't produce results for an abnormally long time.

[2022-01-06 20:15] JW1992 commented on #53410
Thanks Usher, do you mean that in GPU the code gets blocked on a specific epoch? Is this repeatable (stalled on the same epoch)?

It would be really helpful if you can find a simpler reproduction and we can find the root cause much easier.

[2022-01-06 21:20] srcolinas commented on #53554
Thanks @sachinprasadhs . The use case is to have strong type guarantees when used with static type checkes like `mypy`. Such type annotations and type checking is very useful for maintaining production code.

[2022-01-06 21:48] bencwallace commented on #48265
@bhack I don't see a definition on that page. All I see is the following, which gives examples of trackable objects without defining them.

Am I missing something?

[2022-01-06 21:57] bhack commented on #48265
You can find something more in https://www.tensorflow.org/guide/checkpoint#object_tracking

[2022-01-06 22:01] #53461 closed

[2022-01-06 22:09] 3kba commented on #53661
Any solution?

[2022-01-06 23:03] #53400 closed

[2022-01-06 23:44] sachinprasadhs commented on #48838
Hi, Could you please move this issue to closed since the PR is successfully merged. Thanks!

[2022-01-06 23:57] sachinprasadhs commented on #53636
Could you please create the PR in github.com/keras-team/keras repo as per the above linked PR.

[2022-01-07 00:10] jvishnuvardhan commented on #53248
@aviaisr Looks like there are other differences (other than TF versions) between the two models. I couldn't run your colab.
Can you please share a standalone code to reproduce the issue? For comparing model.summary, we don't need training part of the code. Thanks!

[2022-01-07 00:29] Geremia opened #53680 "error executing command crosstool_wrapper_driver_is_not_gcc"
**System information**
- OS Platform and Distribution: Slackware64 Linux (current), kernel 5.15.12
- TensorFlow installed from: source
- TensorFlow version: 2.4.0
- Python version: 3.9
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 11.2.0
- CUDA/cuDNN version: 11.5.50, 8.3.1.22
- GPU model and memory: Nvidia Quadro RTX 4000, 8GB

**the problem*

[2022-01-07 01:36] suyash-narain opened #53682 "NNAPI on android 11 fails with movenet fp16 and int8 tflite models"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2022-01-07 01:47] jvishnuvardhan commented on #50042
@maxnoe Is this still an issue for you? numpy 1.20 is compatible with latest TF version.

Please verify once and close the issue if this was resolved. Thanks!

[2022-01-07 01:52] jvishnuvardhan commented on #50204
As numpy 1.20 is compatible with TF2.7 and later version (`tf-nightly`), I think this was resolved.

I am closing this issue as this was resolved. Please feel free to reopen if I am wrong. Thanks!

[2022-01-07 01:52] #50204 closed

[2022-01-07 01:59] markmcd commented on #53216
tensorflow/docs@01d385dda9778a426f4d1cc84c60917a21856816 is in, just waiting for tensorflow/docs#1991 and this should be resolved.

[2022-01-07 02:54] philipturner commented on #53662
After scanning the core C/C++ code, there’s no mention of iOS - outside of TensorFlow Lite (again, not my goal). However, iOS and macOS are very similar, and the same can be said for Linux and Android. Are there any fundamental barriers to bringing it to iOS using macOS?

For example, loading a specific dynamic library at runtime, JIT compiling CPU code, relying on the structure of the macOS file

[2022-01-07 03:36] nviwch opened #53683 "tf.data.dataset gather element"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): Tensorflow 2.7
- Are you willing to contribute it (Yes/No)

[2022-01-07 05:03] #25598 closed

[2022-01-07 05:43] tilakrayal commented on #53671
@Saduf2019 ,
I was able to reproduce the issue in tf v2.5, v2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/9ed469b6662a039d4d1bd9647b17fb0e/53671.ipynb).

[2022-01-07 06:06] bhesaniyakrunal opened #53684 "framework not found TensorFlowLite"
ld: warning: directory not found for option '-F/Users/mymac/Library/Developer/Xcode/DerivedData/Background-Remover-arhautmfeyumxqcubarflnbxmgsv/Build/Products/Debug-iphonesimulator/TensorFlowLiteSwift'
**ld: framework not found TensorFlowLite**
clang: error: linker command failed with exit code 1 (use -v to see invocation)

i was try to solve last 2 - 3 days please help me

[2022-01-07 06:13] apivovarov commented on #53529
Setup tensorflow/tensorflow:2.7.0-gpu container
[code]
Test TF/TRT
[code]
ok, installed TRT is 8.0.0 but Tensorflow was built and linked with TRT 7.2.2. Looks like nobody tested TensorRT with tensorflow/tensorflow:2.7.0-gpu image

BTW, tensorflow/tensorflow:2.6.1-gpu container works fine. (Cuda 11.2, TRT 7.2.2, TF 2.6.1)

[2022-01-07 06:15] mohantym commented on #53634
Hi @mechsihao ! I think it might be due to environment configuration or installation. Can you please update the [template](https://github.com/tensorflow/tensorflow/issues/new/choose) which will help investigate this issue further? Thank you!

[2022-01-07 06:19] mohantym commented on #53660
Hi @ArrowIntoTheSky ! According to this [document ](https://www.tensorflow.org/api_docs/python/tf/sparse/split#args) , Axis should be a 0-D int32 Tensor. Attaching resolved [Gist ](https://colab.sandbox.google.com/gist/mohantym/fc51468cd3f63bb48750f3c91c1795a6/github_53660.ipynb)for reference. Thank you!

[2022-01-07 06:24] zhaozheng09 commented on #53683
"This is somewhat similar to choose_from_datasets" like FilterDataset ?

[2022-01-07 06:29] mohantym commented on #53684
Hi @bhesaniyakrunal ! Could you please fill the [template](https://github.com/tensorflow/tensorflow/issues/new/choose) as it would help expedite the issue?

[2022-01-07 06:30] zhaozheng09 opened #53685 "How to debug xla ."
I merge the features of dynamic_partition in XLA from master(TF2.8) to TF1.15, and then the features report a error:
[code]

How can I debug this error ? Please give me some ideas, thanks~!

[2022-01-07 06:31] Lifann opened #53686 "API generation makes inheritance relationship confusing after r2.6"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2022-01-07 06:45] DhruvaKartik commented on #53426
@stromal I have been using Anaconda with Rosetta. I guess that might be creating trouble. I can remove it and try this again.

[2022-01-07 06:49] Yamilemon commented on #47166
Is there anyone has tensorflowlite_c.dll and tensorflowlite_c.dll.if.lib which can run under x86? I need it. I found x86_64 here: [](https://github.com/ValYouW/tflite-dist), but this cannot be used in X86 project in visual studio.

[2022-01-07 06:50] Yamilemon commented on #47166
Is there anyone has tensorflowlite_c.dll and tensorflowlite_c.dll.if.lib which can run under x86? I need it. I found x86_64 here: https://github.com/ValYouW/tflite-dist, but this cannot be used in X86 project in visual studio.

[2022-01-07 06:58] foxik commented on #48838
Definitely, thanks for the remainder! Cheers.

[2022-01-07 06:58] #48838 closed

[2022-01-07 07:13] Anindyadeep commented on #53644
I will assume that, you already have some knowledge about Neural Nets. So, when you write this:
[code]
This line means your Input neurons is = total number of pixels in MNIST (here)
And this is `connected` to a hidden layer of `512` neurons. So the next hidden layer `h1` will have `512` neurons. Now suppose after this you add this line.
[code]
So, this means that the next layer `h2` will have `64`

[2022-01-07 07:28] mohantym commented on #53660
Hi @Saduf2019 ! Could you please look at this issue? It's replicating in [2.7](https://colab.sandbox.google.com/gist/mohantym/599ed1f5134314a960fff561fc369737/github_53660.ipynb) ,[2.6 ](https://colab.sandbox.google.com/gist/mohantym/98348f4572ffac7b91f30d94f930644d/github_53660.ipynb#scrollTo=qjuBqEkMup9X)and [nightly](https://colab.sandbox.google.com/gist/mohantym/fec4b007291137635e74b18b7042392

[2022-01-07 07:51] apivovarov commented on #53529
To run TF 2.7.0 with TRT-7.2.3 we can use TF 2.6.1-gpu image
[code]
Test Tensorflow/TRT
[code]

[2022-01-07 08:00] UsherWang commented on #53410
Thank you @JW1992 for your reply. I remember the behavior is not deterministic on my system. The epoch number which it stops kinda varies under different attempts. Btw I just tested the code on my linux system, it seems the problem doesn't happen on my linux but appear on windows.

[2022-01-07 08:04] Saduf2019 commented on #53534
@GeorgeLiang3
Kindly open this in discussion forum as this is not a bug in tensorflow, discussion forum is the appropriate repo for such issues. Thanks!

[2022-01-07 08:55] hmaarrfk commented on #53582
I'm not sure why this is stale. Can we mark it as not stale? This kind of documentation is not a trivial one liner.

In my mind, the solution is one of two things:
1. Documentation including "patches" to apply to `tensorflow` and dependencies such as `tensorflow-io` to get the system to compile from a boostrapped environment.
2. Creating new packages that break the circular dependency between `ten

[2022-01-07 08:58] sushreebarsa commented on #53686
@Lifann
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2022-01-07 09:01] gklka commented on #52042
Version 2.7 still has the issue. Any plans to resolve it?

[2022-01-07 09:26] tilakrayal commented on #53682
@suyash-narain ,
Can you please confirm the tensorflow version you are using.Thanks

[2022-01-07 09:35] mohantym commented on #53655
Hi @Saduf2019! Could you please look at this issue. Attaching Gist in [2.6](https://colab.sandbox.google.com/gist/mohantym/82bdcdd01364e838e17ba09bdc46fe35/github_53655.ipynb#scrollTo=bP0HkuagQpt8) ,2.7  and [nightly ](https://colab.sandbox.google.com/gist/mohantym/f118d8aac7af27e0a9a5e5d61f3a25c7/github_53655.ipynb#scrollTo=2-mrSko-tzOy)for reference. Thank you!

[2022-01-07 09:45] yongDataScince commented on #22440
apple m1, when import tensorflow: dead kernel

[2022-01-07 10:03] #23525 closed

[2022-01-07 10:05] cnettel opened #53688 "LocallyConnected layers default initializer glorot_uniform determines fanning incorrectly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7 running NGC tensorflow_21.07-tf2-py3 container
- TensorFlow installed from (source or binary): binary, Nvidia container
- TensorFlow version (use command below): 2.5.0+nv
- Python version: 3.8.10
- CUDA/cuDN

[2022-01-07 10:38] neso613 commented on #53644
Thanks for reply but can USB Power Meter works with rasp?

[2022-01-07 10:39] neso613 commented on #53644
So, how model parameters are different from no of neurons?

[2022-01-07 10:42] jyoungyun opened #53689 "The absence of ruy profiler header in gather.h file"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2022-01-07 10:46] #53689 closed

[2022-01-07 10:56] tilakrayal commented on #53661
@3kba ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-01-07 10:57] tilakrayal commented on #53685
@zhaozheng09 ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-01-07 11:26] mohantym commented on #53644
@neso613 ! You can check this [thread ](https://forums.raspberrypi.com/viewtopic.php?t=288867)for Raspberry pi power meter. Thanks for the lucid explanation @Anindyadeep . You can check more on model parameters and HyperParameters from below threads. Link [1](https://www.geeksforgeeks.org/difference-between-model-parameters-vs-hyperparameters/) ,[2](https://www.kaggle.com/questions-and-answers/190

[2022-01-07 11:42] alexeytochin commented on #1984
Does it works on CPU only or also on GPU?

[2022-01-07 11:47] rameshkunasi opened #53690 "Training time is varying between docker and without docker"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Py

[2022-01-07 11:57] sushreebarsa commented on #53646
@Samar-080301 Yes please,verify the compatible CudNN version.Could you please have a look at the SO [thread](https://stackoverflow.com/questions/65381073/tensorflow-gpu-not-using-gpu-with-cuda-cudnn) , [GPU support](https://www.tensorflow.org/install/gpu)  ?
This is not a bug or feature request, for any further queries you may open this issue in [TF discussion forum](https://discuss.tensorflow.org

[2022-01-07 11:59] sushreebarsa commented on #53690
@rameshkunasi
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-01-07 11:59] elfringham commented on #52152
Fixed by https://github.com/tensorflow/tensorflow/pull/53630

[2022-01-07 11:59] #52152 closed

[2022-01-07 12:03] #19864 closed

[2022-01-07 12:03] #42192 closed

[2022-01-07 12:03] #15035 closed

[2022-01-07 12:06] rameshkunasi commented on #53690
Sorry... We are using in built database, We cannot give that data and code here

[2022-01-07 12:21] sushreebarsa commented on #53690
@rameshkunasi If you're unable to provide  a code snippet of the reported issue , then it would be difficult for us to reproduce this one from our end .Could you please post this issue in [TF discussion](https://discuss.tensorflow.org/) forum where there is a larger community to get you the right help? Thanks!

[2022-01-07 12:24] OgreTransporter commented on #53647
Bazel is just a single disaster. I have now tried to build TF on three computers and it only worked on one. Most users use Windows, so it makes no sense to build everything on Linux. In the long run, a Bazel alternative would be very desirable.

[2022-01-07 13:03] #29874 closed

[2022-01-07 13:17] DublikuntMux commented on #53614
Repository rule cuda_configure defined at:
  C:/users/dubli/downloads/tensorflow/third_party/gpus/cuda_configure.bzl:1448:33: in <toplevel>
ERROR: An error occurred during the fetch of repository 'local_config_cuda':
   Traceback (most recent call last):
        File "C:/users/dubli/downloads/tensorflow/third_party/gpus/cuda_configure.bzl", line 1401, column 38, in _cuda_autoconf_impl

[2022-01-07 13:37] michele-sama-dialpad commented on #41808
Having the same issue :/
Yes can be worked around but still not pleasant

[2022-01-07 13:43] galeone commented on #41808
[code]

This project depends on the fork I maintain (galeone/tensorflow) that is go-gettable

[2022-01-07 13:44] lastzero commented on #41808
See:
-  #53549

[2022-01-07 14:19] sachinkmohan commented on #45954
Use `tf.compat.v1.config.experimental.set_visible_devices` for TF 1.15 or below, instead of `tf.config.set_visible_devices` which is for TF >= 2.0

[2022-01-07 14:42] #53646 closed

[2022-01-07 16:16] mrawding opened #53692 "NNAPI/Hexagon Support Through CMAKE on RB5 Arm Linux Platform"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Ubuntu 18.04 Qualcomm Linaro Release
- Qualcomm RB5
- Source
- TensorFlow version: v2.6

[2022-01-07 17:20] kabilan6 opened #53693 "Will experimental_distribute_dataset or experimental_distribute_datasets_from_function distribute same data in more than one batch ?"
------------------------

### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:
-   **TensorFlow installed from (source or binary)**:
-   **Tenso

[2022-01-07 17:35] mohantym commented on #46240
Hi @takayoshi-k ! Sony Spresense has been added in  tested micocontrollers list now. Attaching relevant[ thread ](https://www.tensorflow.org/lite/microcontrollers#supported_platforms)for reference. Thanks!

[2022-01-07 17:46] suhrid-s commented on #53682
Hi @tilakrayal ,
The tensorflow version being used is "2.1.0"

[2022-01-07 17:56] naveen-marthala commented on #42061
@bergfita, I have tried your way, but it doesn't work for my text-classification model.

is it necessary to initialise the `tf.lookup.KeyValueTensorInitializer` inside the function?

I am on tensorflow 2.7.0 on Ubuntu 18.04.

my code:
[code]

but, I get this error:
[code]

How do I fix this and save the model with properly?

[2022-01-07 18:29] yongtang commented on #53653
Added PR #53694 for the fix.

[2022-01-07 18:39] yongtang commented on #53660
Added a PR #53695 for the fix.

[2022-01-07 18:44] jvishnuvardhan commented on #19864
The following issue is somewhat related which may help.
https://github.com/keras-team/keras/issues/15778