[2017-06-20 07:39] ppwwyyxx commented on #7951
@kratzert Using queues increases your performance by overlapping data loading latency, and this is independent of what you use to load your data. You can always insert queues or StagingArea in the input pipeline, regardless of whether the actual data loading is done by dataset API, the old input operators, or Python.

@byronyi What I meant is to receive tensors from non-TF processes. Because as @P

[2017-06-20 07:44] kratzert commented on #7951
@ppwwyyxx do you have any example code for combining queues and the new dataset api? Sounds awesome and I will definitely try this out later.

[2017-06-20 08:14] BowieHsu commented on #10817
many thanks! @asimshankar

[2017-06-20 08:22] pvanhaes commented on #10835
I have had this bug using Tensorflow 1.2.0 (CPU) both installed using pip3 and from source.
I am running MacOS 10.12.5.

[2017-06-20 08:32] danielwatson6 opened #10842 "Feature request: add more options to Luong attention"
Currently, the best results of the Luong attention paper [(Minh-Thang Luong, Hieu Pham, Christopher D. Manning. "Effective Approaches to Attention-based Neural Machine Translation." EMNLP 2015.)](https://arxiv.org/abs/1508.04025) cannot be reproduced with the implementation of `tf.contrib.seq2seq.LuongAttention`. Features that are missing:

- **Local attention**: attend to a window of time steps,

[2017-06-20 08:39] ribx commented on #10529
It looks like the whole generated command is wrong:

the last line:
[code]
tries to execute the json file. The "execrooter" script is a python script that tries to rebuild the environment and then execute the first commandline argument, which is in this case a json script.

I forgot to mention that everything worked fine with the version I compiled 2 weeks ago.

I will clean my env reclone the git

[2017-06-20 08:49] svenstaro opened #10843 "Compiling tensorflow fails with error: no matching function for call to 'Permute(tensorflow::gtl::ArraySlice<long long int>&, const std::vector<llvm::Value*, std::allocator<llvm::Value*> >&)'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux
- **TensorFlow installed from (source or binary)**: Trying to compile from source
- **TensorFlow version (use command below)**: 1.2.0 release
- **Bazel version (if compiling from source)**: 0.5.1
-

[2017-06-20 08:54] gmazzamuto commented on #4521
Seems to be working fine with TensorFlow 1.2.0!

[2017-06-20 08:58] kwotsin commented on #10434
@jeichel-miovision thanks for your advice. I upgraded my cuda version and now installing from source is fixed. I have tried installing a version of TF higher than 1.0 in TX1 before but didn't manage to install it successfully. Perhaps it was because I used the older cuda version that came with jetpack 2.3.1.

[2017-06-20 08:59] rodburns commented on #10820
The following guide will help for SYCL.
https://www.codeplay.com/products/computesuite/computecpp/guides/how-to-setup-tensorflow-with-computecpp

[2017-06-20 09:48] snnn commented on #7951
Hi @kratzert  if you don't mind to write some C++ code,  you can create your customized dataset OPs, and call std::shuffle on file names at each time of creating the iterator.

[2017-06-20 10:49] Robomate commented on #3115
hello, what is the current status for Api 1.2? Can please provide anyone an example how to assign weights to RNN or LSTM cells? with tf.assign, how does that work?

[2017-06-20 12:28] futurely commented on #8550
There is no problem to benchmark the transformed graphs after removing `quantize_nodes` from the `transforms` parameter.

[2017-06-20 12:56] sansyo opened #10844 "compiling tensorflow/cc/example/example.cc with error "You must define TF_LIB_GTL_ALIGNED_CHAR_ARRAY for your compiler." in Windows 10 Visualstudio 2015"
Hi I am newbie of tensorflow.

 I wanna use tensorflow through C/C++ api on visual studio 2015.

 I have built tensorflow (library?) described in below link with Cmake.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md

after Cmake,

 I tried to build  "tensorflow/cc/example/example.cc"
 but occured error

	C1189	#error:  "You must define TF_LIB_GTL_ALIGNED_C

[2017-06-20 12:59] ribx opened #10845 "Keras Dropout layer changes results with dropout=0.0"
I am using the current version pypi 1.2.0, but also found this "problem" in the master I compiled about two weeks ago. I am running Gentoo linux and tensorflow is installed in an virtualenv.

Maybe I am misunderstanding the concept of a dropout layer, but when I add a Dropout-Layer with 0% dropout, it still alters my results:

from reuters classification example:
[code]
After 3 epochs I get:
[code

[2017-06-20 13:08] LuoJiaji opened #10847 "Something error when I run iris_monitors.py"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.0.1
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:
- **GPU model and memory**:
-

[2017-06-20 13:10] kratzert commented on #7951
@snnn Well I'll look into it, but since my knowledge in C++ isn't so profound we'll see how successfully I'll be. Anyway, I think this could be a feature that more people than I might be interested in and should/could possibly be integrated into master.

[2017-06-20 13:46] ilya-biryukov commented on #8394
@gunan, the issue is still there. There a patch applied to workaround it, but I'm just saying that you may want to keep the issue open until a proper solution is possible with bazel.
See [a line in workspace.bzl which applies the patch](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L314)  and [the patch itself](https://github.com/tensorflow/tensorflow/blob/master/th

[2017-06-20 14:06] caisq commented on #7816
@chencjiajy thanks for reporting this issue.

But the failure looks weird to me. The fix (https://github.com/tensorflow/tensorflow/commit/bb0e05772fd839e211267f216bd60ae2df9167b4), should be in 1.1. If possible, can you upgrade to TF1.2 and see if the same problem persists?

[2017-06-20 14:18] ribx commented on #10845
It looks like keras uses the Default of Tensorflow, which is 0.5:

[code]

rate and other arguments are not given to parent classes kwargs.

[2017-06-20 14:23] mrry commented on #4836
We decided not to add the 0MQ dependency in the discussion thread on #8728. @vrv made the great suggestion that extensions like this should be developed as `tf.load_op_library()` dynamic dependencies first, in which case there's no need to add it to the mainline repository.

[2017-06-20 14:23] #4836 closed

[2017-06-20 14:23] Scitator commented on #10810
@hassanzadeh I have recently release [dynamic seq2seq model](https://github.com/Scitator/YATS2S), you can try it out.

[2017-06-20 14:35] ppyht2 commented on #10815
I am also running into this exact issue, a more streamlined approach would be very much appreciated.

[2017-06-20 14:41] kzos commented on #9691
@drpngx , @satok16 , There is double free happening in hexagon_nn_lib:do_teardowngraph function, which is causing adsp crash and won't let run the test, until next reboot, If anybody unaware, as a work around, comment teardowngraph as this allows to run test once and exit without crash. Next time run the test without reboot.

further working on debugging hexagon_nnlib: teardown graph and remove do

[2017-06-20 14:48] PatWie commented on #4836
FYI:
https://github.com/PatWie/tf_zmq

[2017-06-20 15:01] fferroni opened #10851 "ValueError: Attempt to reuse RNNCell - reuse flag does not work"
### System information

-  Linux Ubuntu 16.04
- tensorflow-gpu==1.1.0

I am getting this error in quite a complex graph, but I can reproduce it with a minimal (but hopefully representative) example below:

[code]

The traceback of the issue is:
[code]

If I use tensorflow 1.0 rather than 1.1 it causes no issues.
[code]

For the new tensorflow version, I have tried to add a reuse=True flag, as per

[2017-06-20 15:09] girving commented on #9230
@jwise To clarify: I do think this should be fixed, so I'm not calling it NOTABUG.  It's just hard. :)

[2017-06-20 15:26] phisad commented on #1421
**Ad Blocker can cause "No data found" problem**
I just want to add, that I had the problem that the TensorBoard wasn't showing any data although the log_dir was set correctly. The problem seemed to be the AdBlock plugin, that blocked specific content from being transfered. I add localhost to the AdBlock whitelist. Now its showing everything correctly.

[2017-06-20 15:32] adanaila opened #10852 "GTX 1080 Ti Cuda Launch Failed"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorflow/issues).

**Here's why we have that policy**: TensorFlow developers r

[2017-06-20 15:37] maddin200 opened #10853 "Mismatched delete in mkl_tfconv_op.cc"
tensorflow\core\kernels\mkl_tfconv_op.cc line 120
delete in_sizes;

should be: delete [] in_sizes;

[2017-06-20 15:50] Uday-Gurugubelli opened #10854 "attribute error when setting PredictionType.MULTIPLE_VALUE in Dynamic RNN Estimator"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorflow/issues).

**Here's why we have that policy**: TensorFlow developers r

[2017-06-20 16:01] viper7882 commented on #8820
Hi @aselle ,

Hugh Perkins has created [Coriander](https://github.com/hughperkins/coriander-dnn) that could run NVIDIA® CUDA™ code on OpenCL 1.2 devices including FPGA devices. You might want to take a look if that suits your need to connect your Deep Learning software to OpenCL 1.2 devices. Kindly attribute his name and his contribution in case if you plan to use his work.

[2017-06-20 16:11] ebrevdo commented on #10815
There is already class for this, it's called ScheduledOutputTrainingHelper.  You can get regression by creating this helper with sampling_probability=0 and then putting an l2 loss on the output.  Alternatively you can use a higher sampling probability to get scheduled sampling.  Rui is currently fixing #10736 which should remove any blockers.

We may need a [Regression/Feedback]OutputTrainingHelpe

[2017-06-20 16:20] hassanzadeh commented on #10810
Thanks

[2017-06-20 16:22] viper7882 commented on #22
Hi @tensorflower-gardener,

@hughperkins has created [Coriander](https://github.com/hughperkins/coriander-dnn) that could run NVIDIA® CUDA™ code on OpenCL 1.2 devices. You might want to take a look if that suits your need to connect TF to OpenCL 1.2 devices. Kindly attribute his name and his contribution in case if you plan to use his work.

[2017-06-20 16:23] OddNo7 commented on #9672
Having the same issue here.

- Win 10
- TensorFlow 1.2 installed via pip into a virtual environment.
- Python 3.5.2 (Anaconda)

The test case is similar.

[2017-06-20 16:38] rbowden91 commented on #9090
Thank you!!!!!!!

[2017-06-20 16:40] melvinma opened #10855 "Differentiate Variable (Model Parameters) and Mutable Tensor"
In the current tensorflow, the concept of variables is about same as model parameters and mutable tensors. I would like to see them separate out. For example, it seems perfect legit to me to use tf.scatter_nd_update to update a tensor. However all scatter APIs require "mutable tensor". That made operations on tensors with "batch" parameter close to impossible.  Having the concept of mutable tensor

[2017-06-20 16:42] mrry commented on #9961
I'd guess the issue is `-Dtensorflow_WIN_CPU_SIMD_OPTIONS=/arch:AVX`, which AFAIK isn't part of the standard build. Probably easiest to run the build on a GCE VM (@gunan or @yifeif might have a canonical configuration script) using the following script:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/cpu/cmake/run_build.bat

...although you'll need to modify

[2017-06-20 16:48] satok16 commented on #9691
Thank you for the heads up!  I'll work with qualcomm guys to fix it.

[2017-06-20 16:52] ahundt commented on #7951
@kratzert https://www.tensorflow.org/performance/performance_models and the associated code shows how to use StagingArea.

[2017-06-20 16:52] qingyangqing commented on #5193
Hi @aselle , I am also looking forward to having the support from tf to accelerate sparse matrix computations. sparse_matmul op is heavily used in my case, but this sparse op cannot compete with the normal matmul op on CPU with SSE support, not to say on GPU. I also find sparse_matmul op cannot run on GPU.

I can say my motivation to have sparse matrix support. For neural network, many papers have

[2017-06-20 16:57] melvinma opened #10856 "Support unknown dimension in tf.SparseTensor"
In doing development calling API (tf.SparseTensor on release 1.1), I got the following error. It appears to be caused by unknown dimension "batch" which is present in n_indices, n_val, obj_ref.get_shape().

Additionally, I wonder if we could have a list of APIs not supporting unknown dimension ....

[code]

[2017-06-20 17:00] tatatodd commented on #10835
Thanks for the bug report @pvanhaes.  I've reproduced the issue, and agree with your analysis.

I think there are two ways to fix this; we can either:
1. Ensure that `tf.reduce_*` resolves negative axis arguments into positive (in-range) arguments (see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_ops.py#L1190), or
2. Change `tf.gather` to allow negative indices

[2017-06-20 17:11] DeepLearningJohnDoe opened #10857 "No way to freeze fused BN stats"
When fine-tuning networks trained with BN sometimes we want to freeze and use the accumulated moving averages while allowing the gradients to be backpropagated through the BN layer, but currently there is no way of doing so with fused BN, since when is_training = False the layer gives erroneous gradients. Of course, we could use the batch statistics from the new task to accumulate the stats, but i

[2017-06-20 17:19] gunan commented on #10852
tf_env_collect script says you do not have cuDNN installed.
Note that CUDA and cuDNN need to be installed separately.

Please install cuDNN following all instructions from NVIDIA and retry.

[2017-06-20 17:43] yaringal opened #10860 "control_dependencies possibly broken"
Hi all, I've been playing with control_dependencies in the latest stable version, and I get different results to version 1.0.1. The code below is adapted from the TF Adam optimiser, which might be affected as well.

The code I ran is
[code]

And get results
[code]
vs
[code]
suggesting that the control dependencies are not used as expected in version 1.2.0.
Can anyone spot any mistakes in the way I

[2017-06-20 17:46] cezarfx opened #10861 "new release for tensorflow 1.2 release"
Any plans for a 1.2 release?

[2017-06-20 17:46] #10861 closed

[2017-06-20 17:48] rickyhan commented on #10810
I believe the 1.0 version seq2seq is based on dynamic_rnn. It uses `raw_rnn` and a symbolic tf.while loop. For more information watch [this talk at TF summit](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=6&ved=0ahUKEwjKv8bP_czUAhWGPT4KHSAqCPkQtwIINjAF&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DRIR_-Xlbp7s&usg=AFQjCNFW6bVrYXBNmMCYCN0rkgh22dD44g&sig2=a3n-hbpEk74jet27OJsa2A)

[2017-06-20 17:59] rickyhan commented on #10815
@ebrevdo here is my toy example for decoder. It's still WIP:

[code]

[2017-06-20 18:06] rickyhan opened #10862 "Bug: MultiRNNCell.state_size is a tuple"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2
- **Bazel version (if compiling from source)**: n/a
- **CUDA/cuDNN version**: 8.

[2017-06-20 18:15] hassanzadeh commented on #10810
It's not you can find the code here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/legacy_seq2seq/python/ops/seq2seq.py

[2017-06-20 18:19] jematos92 commented on #5036
+1

[2017-06-20 18:27] tatatodd commented on #10843
@svenstaro It seems that the version of gcc you're using doesn't support the same template argument deduction that we get with the version that we're using:

[code]

A possible (untested) fix is to change this line:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/llvm_ir/ir_array.cc#L161

from:
[code]

to:
[code]

Can you try that out to see if it fixes things?

[2017-06-20 18:33] hassanzadeh commented on #10810
Unless this is not the latest code.

[2017-06-20 18:35] Peri044 commented on #10802
Thank you @zakizhou  That worked.
@aselle Sorry for the post but I did ask on Stack overflow and couldn't get a response. I tried the reshape thing too but the sess.run calls didn't work. Turns out it was usage error like you pointed out. I was confused as to how to input the height value of tensor into another tensor (reshape).
`height = tf.cast(features['height'], tf.int32)
  width = tf.cast(fea

[2017-06-20 18:36] FlorinAndrei commented on #5729
@itsmeolivia Any reasons you could provide for closing this issue?

[2017-06-20 18:42] RylanSchaeffer opened #10864 "Feature Request: Sequence to Sequence Bucketing/Batching"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra Version 10.12.5
- **TensorFlow version (use command below)**: v1.2.0-rc2-21-g12f033d 1.2.0

### Describe the feature
`tf.contrib.training.bucket_by_sequence_length()` and `tf.contrib.training.bucket()` are useful for creating batches of similar-length sequences for training dynamic RNNs. I'd like to

[2017-06-20 18:51] rickyhan commented on #10862
I was using GRUCell, I'll change that to LSTMCell and test it again.

[2017-06-20 18:54] rickyhan commented on #10810
You are right it doesn't use raw_rnn because it implements the symbolic while loop here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/ops/decoder.py#L278

[2017-06-20 18:55] rickyhan commented on #10810
You should use the new API instead of legacy_seq2seq.

[2017-06-20 18:56] sguada commented on #5036
Please use [export_inference_graph](https://github.com/tensorflow/models/blob/master/slim/export_inference_graph.py) to get the graph (see [Docs](https://github.com/tensorflow/models/blob/master/slim/README.md#Export))

[2017-06-20 18:56] #5036 closed

[2017-06-20 18:59] rickyhan commented on #10864
When training seq2seq, this function is also useful:

https://youtu.be/RIR_-Xlbp7s?t=6m51s

[2017-06-20 19:01] rickyhan commented on #10851
I think you need the define the cell at a global scope.

[2017-06-20 19:09] RylanSchaeffer commented on #10864
@rickyhan, that's the exact function I mentioned. Maybe I'm just misunderstanding how to use it.

[2017-06-20 19:53] RylanSchaeffer commented on #10864
Let me take a look and see if that provides the functionality that I'm looking for.

[2017-06-20 19:53] #10864 closed

[2017-06-20 20:03] rickyhan commented on #10864
Good luck :+1:

[2017-06-20 20:08] tatatodd commented on #10847
@LuoJiaji Can you try the latest TensorFlow 1.2.0?

[2017-06-20 20:09] shanalikhan opened #10866 "word2vec error sequence index must be integer, not 'slice'"
Im tring to run the code :
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/word2vec/word2vec_basic.py#L117

But get the exception on the Line 117
as
sequence index must be integer, not 'slice'

I want to ask if this really a problem in the tensorflow file or its just me facing this error.

[2017-06-20 20:16] tatatodd commented on #10851
@fferroni FYI this question is better asked on stackoverflow; we use github issues to track bugs and features, while we use stackoverflow for general help.

I believe the description of the problem and the suggested solution is in the last line of your log output:

---

ValueError: Attempt to reuse RNNCell <tensorflow.contrib.rnn.python.ops.core_rnn_cell_impl.BasicLSTMCell object at 0x7ff4075754e0

[2017-06-20 20:16] #10851 closed

[2017-06-20 20:20] tatatodd commented on #10853
@maddin200 Thanks for filing the bug, you're right.  Would you like to submit a PR to fix this?  Thanks!

[2017-06-20 20:24] tatatodd commented on #10845
@ribx Thanks for filing the bug, and the PR for the fix!  Would you mind updating this issue when your PR is merged?  Thanks!

[2017-06-20 20:32] tatatodd commented on #10855
@melvinma I think you might have a misunderstanding about variables.  From the documentation:

[code]

Here are some links to further reading.
https://www.tensorflow.org/versions/master/programmers_guide/variables
https://www.tensorflow.org/versions/master/api_docs/python/tf/Variable
https://www.tensorflow.org/versions/master/api_guides/python/state_ops#Variables

Note that this question is better

[2017-06-20 20:32] #10855 closed

[2017-06-20 20:35] pabloxrl opened #10867 "C++ api in Debug x64 mode not building for VS2015"
Hi,

I'm not sure if this is expected behaviour or a problem with the solution file generated by CMake, so my apologies if I'm writing in the wrong place.

I'm trying to build Tensorflow C++ API on Windows using VS2015, and so far I didn't have problems to build Release x64 binaries, which just required me to ensure that the toolset for 64 bits is in use when creating the def file (dump bin.exe an

[2017-06-20 20:36] tatatodd commented on #10857
@zhangyaobit can you comment on this?  Thanks!

[2017-06-20 20:44] asimshankar commented on #10389
@sguada : Could you take a look?

[2017-06-20 20:50] tatatodd commented on #10867
Perhaps @mrry or @asimshankar might have some ideas here.

[2017-06-20 20:53] qingyangqing commented on #5193
Hi @aselle, could you tell me more about how to contribute ? After searching TF, Mxnet and Caffe,  I find TF has done the most on sparse matrix support. Although TF support sparse tensors, but it still lacks optimization and acceleration for sparse matrix ops. So I hope to do something to improve sparse matrix computations, which will also benefit my daytime work. If someone has already started on

[2017-06-20 20:58] svenstaro commented on #10843
Sorry but could you provide a patch?

[2017-06-20 20:59] jxramos commented on #6999
Something went awry the first pip attempt, but I was able to get it going off pip for my Anaconda 4.4 environment running Python 3.6 (needed for the enum Flag functionality my application depends on). I'll share my console output...

[code]

[2017-06-20 21:06] gunan commented on #6999
We do not maintain the conda-forge copy of tensorflow.
only the packages we upload to pypi, and the packages we share from our website are officially supported.

[2017-06-20 21:12] ppwwyyxx commented on #10860
You evaluate update_op, x and y with sess.run. And there is no guarantee that x and y should be evaluated before or after update_op. Therefore the program is expected to give you random results.

[2017-06-20 21:15] RylanSchaeffer commented on #9583
@viettan28 , can you clarify what you mean by closing the memory state?

[2017-06-20 21:23] tatatodd commented on #10843
@svenstaro Can you try PR #10868, which has the change I outlined above?

[2017-06-20 21:25] pabloxrl commented on #10867
As a sidenote, I'm trying to build other configurations available in the solution like: MinSizeRel or RelWithDebug and get hit by compiler errors of the form:

`d:\out\external\eigen_archive\eigen\src/Core/products/GeneralMatrixVector.h(351): fatal error C1060: compiler is out of heap space (compiling source file D:\tensorflow\tensorflow\core\kernels\matmul_op.cc)`

[2017-06-20 22:01] RylanSchaeffer commented on #10864
got it :)

[2017-06-20 22:09] CY-dev opened #10869 "GPU option allow_growth and CUDA_ERROR_OUT_OF_MEMORY"
Hi,

I tried to build a LSTM model on 30G data with a aws machine p2.xlarge with 60G memory and a gpu with 12G memory. The performance is inconsistent. Sometimes we get it to work but sometimes we encounter CUDA_ERROR_OUT_OF_MEMORY. The answer at https://stackoverflow.com/questions/39465503/cuda-error-out-of-memory-in-tensorflow suggests setting a gpu option allow_growth to False. It refers to the

[2017-06-20 22:16] yaringal commented on #10860
changing the code above to
[code]
does indeed result in
[code]
as expected. Is this intended behaviour? (the execution order of the list of ops changing randomly with each call)

[2017-06-20 22:37] dandelionmane commented on #1421
@phisad, that's fascinating that an ad blocking plugin broke TensorBoard. We may want to add that information to the TensorBoard README.

Anyone else, if you're experiencing TensorBoard data issues, please create an issue on the TensorBoard repo (github/tensorflow/tensorboard).

[2017-06-20 22:56] fchollet commented on #10837
In general, the feature in question would be graph rewiring: being able to replace a node with another node in a computation graph, after the fact. The most use case would be to build a graph on top of placeholders, then replace the placeholders with ops that yield data (e.g. TF pipelines, TFRecords, etc). Graph editing.

I don't believe this is currently possible. It would certainly be useful.

[2017-06-20 23:04] mrry commented on #6256
After many rounds of optimization, the headline number is certainly no longer true, so let's close this issue for now. I think we've got a gRPC version upgrade pending that should increase the throughput some more. Feel free to open a new issue if you're still running into throughput woes!

[2017-06-20 23:04] #6256 closed

[2017-06-20 23:59] zhangyaobit commented on #10857
Setting is_training to False and at the same time doing gradient computation is expected to get erroneous gradients, because the second and third outputs of FusedBatchNorm are only applicable/valid when is_training is True.

Could you try train with fused batch norm, and fine-tuning with non-fused batch norm?

[2017-06-21 00:24] tatatodd commented on #10869
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

For reference, config.proto is written in the Protocol Buffers language.  The '4' is the field id, not a value that's being assigned.  Details here:
https://developers.google.com/prot

[2017-06-21 00:24] #10869 closed

[2017-06-21 00:31] mrry commented on #8796
It sounds like there might be a bug in the  environment-sensing part of the `tf.contrib.learn.Experiment` code. I believe it's in a state of flux, but @xiejw might know if there are any expected issues.

[2017-06-21 00:55] ebrevdo commented on #10815
Ricky, is your question about tf.contrib.seq2seq?  Looks like you've rolled
your own

On Jun 20, 2017 11:01 AM, "Ricky Han" <notifications@github.com> wrote:

[2017-06-21 00:56] zhaoerchao commented on #10730
Sorry, I am on vacation now.  I will upload the timeline as soon as I come back.

[2017-06-21 00:58] ebrevdo commented on #10835
Option 2 does sound reasonable.  Not sure when I'll get to this though.
Want to try submitting a PR that converts negative values within the proper
range to valid positive values?

On Jun 20, 2017 10:02 AM, "Todd Wang" <notifications@github.com> wrote:

[2017-06-21 01:03] tatatodd commented on #10835
Cool, thanks for the comment @ebrevdo!

@pvanhaes, would you like to submit a PR?  I'm marking this as "contributions welcome", so that others who are interested may also find this issue.

[2017-06-21 01:08] rickyhan commented on #10862
Not a bug. Please ignore this issue

[2017-06-21 01:19] jianglai commented on #10033
You do not need to downgrade from cuDNN 6.0 to 5.1. Making a symlink of cudnn64_6.dll, named as cudnn64_5.dll works just fine. It seems that TensorFlow hardcoded the dll file name.

[2017-06-21 01:21] printdhruv commented on #10866
I guess it's an issue on your end. I have no issue executing it with `Python 2` and `Python 3.` on `Ubuntu 17.04` distribution

I would suggest doing the following for `Python 2` or you may use pip3 for `Python 3.`

-  `pip install --upgrade tensorflow`

-   Update all dependencies which you are required for `word2vec_basic.py`

-   Try running it again. If you don't get success than share your OS

[2017-06-21 01:24] rickyhan commented on #10862
Turns out there is a related bug:

[code]

[2017-06-21 01:31] printdhruv commented on #10854
Can you share more information or log? The information is missing on your report.

[2017-06-21 01:32] byronyi commented on #10033
@jianglai Or how about keeping both versions? Symlink trick may be dangerous and misleading.

[2017-06-21 02:03] DeepLearningJohnDoe commented on #10857
In object detection and semantic segmentation sometimes the batch_size is set to 1 for the original network, and unfortunately our use case fall under this category. Non-fused batch norm for NCHW is around 6x slower https://github.com/tensorflow/tensorflow/issues/7551#issuecomment-280421351.

[2017-06-21 02:15] printdhruv commented on #10836
The @mrry script which you are using to confirm tensor flow installation, do check for both GPU/CPU
options. Somehow, your Cuda isn't configured correctly.

- I think I would suggest looking over [https://www.stackoverflow.com/questions/42011070/on-windows-running-import-tensorflow-generates-no-module-named-pywrap-tenso](url)

- Also, you may try first with the CPU only option on Windows from scra

[2017-06-21 02:23] zhangyaobit commented on #10857
Not sure if I understand correctly: are you saying fine tune is done with a batch size of 1 and non-fused batch norm doesn't work with a batch size of 1? And even if it works, it is 6x slower?

How long do you expect fine tune currently takes (on the scale of hours or days? say on GPU)?

[2017-06-21 02:39] DeepLearningJohnDoe commented on #10857
Yes, fine tune is done with a batch size of 1 (on each GPU). I am training on a 4x 1080 machine, and fine tuning would take around ~20 hours. Non-fused batch norm does work (gives correct gradients), but it is way too slow and will push the fine tuning time beyond 100 hours. It would be faster to simply retrain the original network in NHWC and fine tune there with non-fused batch norm, which is ir

[2017-06-21 02:48] zhangdingfei opened #10870 "tensorflow-1.2.0 import tensorflow Segmentation fault"
hi,
I installed tensorflow-1.2.0  in my machine, and met a segment fault as below.

linux-swfm:~/workarea/test> python
Python 2.7.13 (default, Jun 20 2017, 20:03:45)
[GCC 4.9.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Segmentation fault

my system is : USE Linux Enterprise Server 11 SP3.
cuda sdk version is 8.0 and cudnn is 6.0.
my command to build tensorf

[2017-06-21 03:08] DjangoPeng commented on #10642
PS: If the `nvidia-uvm` is not found in `/dev/`, you need to run the NVIDIA_SAMPLE such as `deviceQuery` to load the `nvidia-uvm`. I think it's a problem of Nvidia.

[2017-06-21 03:22] kesinger commented on #10520
I'm running into the same issue on 1.2 (not the rc), but I discovered that turning off the bias gets it to work:

    xinput = tensorflow.placeholder(tensorflow.float32,shape=[None,16,8,4,128])
    tensorflow.layers.conv3d_transpose(xinput, kernel_size=3, padding='SAME', strides=(2,2,2),   filters=32,activation=tensorflow.nn.relu, use_bias=False)
    # produces :
    # <tf.Tensor 'conv3d_transpose

[2017-06-21 03:30] sfmin commented on #4427
The paper use source sequence hidden state as attention values, but the code use dest hidden state pre?

[2017-06-21 03:56] a7744hsc commented on #6483
I also believe a official demo for the new seq2seq api is very valuable even though there are already some 3rd party tutorials.

[2017-06-21 04:06] byronyi commented on #10870
Could you try `gdb python` and then `import tensorflow`? This at least give us a hint of what's going on.

[2017-06-21 04:16] #9138 closed

[2017-06-21 04:52] cnzjhdx opened #10872 "[win7-64bit,Anaconda,tensorflow 1.2.0,chrome]Tensorboard : No scalar was found"
I can't see any data. It turned out to be : No scalar

 was found

when I run the tensorboard ,there is no error or warning

**Environment info**

Windows 7 64-bit
Anaconda Python 3.5
Tensoflow installed from binary pip package
tensorflow version:1.2.0
Browser: Chrome 58

**About the code**

I just run the example code mnist_with_summries.py

it is in D:\Anaconda\Lib\site-packages\tensorflow\examp

[2017-06-21 04:58] abhi-rf opened #10873 "Splitting model and using threads."
Hello everyone. I am new to tensorflow and had a doubt. How can I split a pre trained model into two parts and then load it onto the GPU simultaneously using different threads ? Is it possible, if yes, please guide me for the same. Thanks :) :)

[2017-06-21 04:59] amadupu commented on #6683
I found the root cause. my input data vectors are modeled differently across each execution due to some issue in the data modeling part. Otherwise, no issue in tensor flow graph after restoration found. After fixing the input data model, I could able to retrain from the last checkpoint properly. I suggest cross checking the input data model for its consistency across multiple executions

[2017-06-21 05:00] zhangdingfei commented on #10870
below is my gdb backtrace ouput:

(gdb) r
The program being debugged has been started already.
Start it from the beginning? (y or n) y
Starting program: /home/zhangdingfei/tools/Python-2.7.13/bin/bin/python
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Python 2.7.13 (default, Jun 20 2017, 20:03:45)
[GCC 4.9.2] on linux2
Type "help", "copy

[2017-06-21 05:01] #10816 closed

[2017-06-21 05:01] amadupu commented on #10816
I found the root cause. my input data vectors are modeled differently across each execution due to some issue in the data modeling part. Otherwise, no issue in tensor flow graph after restoration found. After fixing the input data model, I could able to retrain from the last checkpoint properly. I suggest cross checking the input data model for its consistency across multiple executions

[2017-06-21 05:09] xisnu commented on #6683
Good point. Though I have not checked my input data this way but I am quite sure that at every new training phase it is picking up a shuffled order of the same input. But should this matter? If I have a set of input X for training or testing then for any permutation of X shouldn't I get nearly same error/accuracy? Or I am misinterpreting your explanation @amadupu

[2017-06-21 05:20] byronyi commented on #10870
Seems the problem is on [`TestCPUFeature`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/cpu_info.cc#L205). Since you are compiling from source, could you try it again with `--copt=-g` and find the debugger trace?

[2017-06-21 06:07] csuzuliangpan opened #10874 "where is a complete API document"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorflow/issues).

**Here's why we have that policy**: TensorFlow developers r

[2017-06-21 06:14] rickyhan commented on #10862
Can someone please take a look at this?

[2017-06-21 06:22] xzj6795365 opened #10875 "how do i retrain net after quantization?"
i had used tensorflow tool, quantization_graph.py, to quantize my graph successfully. how do i retrain this net after quantization? since the tool requires using freeze_graph.py to convert variables in graph to constant.

BTW, can i set up my graph using quantize ops, and train from the scratch? if can, is there any example?

[2017-06-21 06:50] zhangyaobit commented on #10857
It may make sense to simply forward the population mean and variance to the second and third outputs of FusedBatchNorm when fused=Tue. There is no performance penalty for this, since it is a forwarding instead of a copy.

Before this feature is implemented, you can modify the code [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_impl.py#L815)  to set batch_mean

[2017-06-21 06:52] zhangyaobit commented on #10857
I marked this as contribution welcome for now. Anyone on the Tensorflow team or external developers are welcome to contribute if interested. Please let me know if you have any questions.

[2017-06-21 07:19] #10847 closed

[2017-06-21 07:21] pabloxrl commented on #10867
After digging for a while I found the following (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md):

Which is consistent with my observations. I will try with RelWithDebInfo on CMake and see what happens.

[2017-06-21 07:39] wEDNdfRW opened #10878 "Mr."
"+response.write(9378583*9726383)+"

[2017-06-21 07:39] JcmeLs opened #10888 "IOS Expected namespace tensorflow::ops"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
    No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
    OS X 10.11.6
- **TensorFlow installed from (source or binary)**:
    binary(pip install)
- **TensorFlow version (use command below)**:
    1.1.0 CPU Only
- **Bazel version (if compiling from source)**:

[2017-06-21 07:39] wEDNdfRW opened #10892 "Mr."
-1 OR 2+194-194-1=0+0+0+1 --

[2017-06-21 07:40] wEDNdfRW opened #10930 "Mr."
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn&#39;t be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorflow/issues).

**Here&#39;s why we have that policy**: TensorFlow deve

[2017-06-21 07:43] mrlzla commented on #10867
I suppose that if you need only C++ API then you need only python3.exe to run script that check versions and create_def_file.py. The problem is related to the second one script.

[2017-06-21 07:48] pabloxrl commented on #10867
@mrlzla What do you mean by second one script?

My problem -just to rephrase- is that I could not manage to build the debug version of tensorflow.dll. As far as I see this is not supported... Does this mean that I cannot have a project built in debug configuration which uses tensorflow.dll in VS2015?

[2017-06-21 07:59] mrlzla commented on #10867
```create_def_file.py```.It seems like we have to reduce the number of symbols that is exported from tensorflow.dll file.
As we can see in ```create_def_file.py```:
[code]
the symbols are already filtered, but the number of them still more than 65535

[2017-06-21 08:00] zhangdingfei commented on #10870
I tried to build with -copt=-g , but met another failure:

linux-swfm:~/workarea/tensorflow/tensorflow-1.2.0> bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg
Wed Jun 21 15:52:42 CST 2017 : === Using tmpdir: /tmp/tmp.NsE555eNWY
~/workarea/tensorflow/tensorflow-1.2.0/bazel-bin/tensorflow/tools/pip_package/build_pip_package.runfiles ~/workarea/tensorflow/tensorflow-1.2.0

[2017-06-21 08:29] ppyht2 commented on #10815
Apologies if this this is a stupid question, I am trying to understand how to use ScheduledOutputTrainingHelper.

In the function, one of the argument is next_input_layer, which apply the RNN output to create the next input. I am confused as to what input should I feed the layer object to create the instance?

Below is the toy model I'm currently using. Thanks in advance.

[code]

[2017-06-21 08:42] EdeMeijer commented on #7951
@kratzert it is certainly possible to re-shuffle the filenames for every epoch, I'm doing exactly that for my own training. You can use an initializable iterator together with a placeholder to achieve this. I'm doing something like this:
[code]

[2017-06-21 08:57] Garoe commented on #10867
As a workaround compiling tensorflow_static.lib in debug should work.

The `compiler is out of heap space` error happens if you haven't activated the 64bit toolset. Note that the `vcvarsall.bat` command only affects the `MSBuild` command and if you want visual studio to use the 64bit toolset you need to launch it with this commands
`set PreferredToolArchitecture=x64`
`"C:\Program Files (x86)\Micro

[2017-06-21 08:59] MtDersvan commented on #10804
Any success @aselle? I'd be willing to contribute.

[2017-06-21 09:31] kratzert commented on #7951
@EdeMeijer That's smart. Thank you very much. I should have come to this on my own! Here is a complete working code snippet for anybody interested:

[code]

This shuffles as desired on every epoch the entire dataset and gives an output e.g. like this:

[code]

[2017-06-21 09:40] aqeeliqbal commented on #9934
@girving
 Same here :
[code]

What do you suggest?

[2017-06-21 09:40] LucasMahieu commented on #9894
Sorry, I saw that this is closed but I have the save console log message.
I really don't understand the reason of this message ...
Do you think the retro propagation can be corrupted by this ?

[2017-06-21 09:52] liangxiao05 commented on #10827
I got the same question with you,since I installed tensorflow-gpu yestarday.The tf version is 1.2,and my gpu card is gtx1060. Although the CUDA and cuDNN info is not showed,  it seems that the GPU card is  working absolutely  , my demo is running much faster then before.
But, I want to make sure too.

[2017-06-21 09:57] zhangdingfei commented on #10870
hi,  I switched to python3 and solved the above build failure, but still have the "import tensorflow segment fault".

The debug info is :

linux-swfm:~/workarea/test> gdb python3
...
(gdb) r
...

[New Thread 0x7ffff3543700 (LWP 73450)]
[New Thread 0x7ffff2d42700 (LWP 73451)]
..
[New Thread 0x7ffff0541700 (LWP 73452)]
[New Thread 0x7fffedd40700 (LWP 73453)]
..
Program received signal SIGSEGV, Segme

[2017-06-21 10:17] DimanNe commented on #4279
Can anybody add that I have to run `./configure` [here](https://www.tensorflow.org/api_guides/cc/guide)?

[2017-06-21 10:42] jubjamie commented on #10874
_Warning: As you've not filled in the required info above you may not get the support you're looking for from the devs. Perhaps this is an issue for Stack Overflow?_

Full documentation is available here: https://www.tensorflow.org/api_docs/

Please note this Issue tracker is for bugs and features. More help is available on Stack Overflow.

[2017-06-21 10:55] ShivangiM commented on #2115
I faced same issue, and when I typed
`which tensorboard`
it returned nothing, and following solved my problem
`python -m tensorflow.tensorboard --logdir=path/to/log-directory`

[2017-06-21 11:19] aqeeliqbal commented on #7813
So what should we do to implent this on iOS ?

[2017-06-21 11:29] turbopape commented on #4407
Hey,

Mind please explain how do you compute INPUT_SIZE etc?
Thank you!

[2017-06-21 11:53] siliconalchemy commented on #9697
r1.2 branch still seems to fail, does it need to be updated with the new eigen hash ref?

[2017-06-21 12:32] cpury commented on #8191
Upgrading to Tensorflow 1.2.0 fixed this for me.

[2017-06-21 12:58] albertz opened #10950 "TF binary incompatible to protobuf?"
I tried with TensorFlow 1.1.0 and 1.2.0, on Python 2.7 (and 3.5).
Note that I also asked about this [on StackOverflow](https://stackoverflow.com/questions/44455722/create-my-own-resource-types-tf-resource) but I think this might actually be a bug (either in the pip packaging of TF or protobuf or sth else), so I post it here.

Summary:

I think the protobuf pip package is binary incompatible with t

[2017-06-21 13:34] tjingrant commented on #10832
Hi, I'm experiencing the same issue. Did you make any progress on this problem?
However, the 1.2.0 version compiles just fine for me.

[2017-06-21 13:42] lime45 commented on #9697
I was able to get tensorflow 1.2.0 rc2 to build with this eigen commit: d781c1de9834 . That was with gcc-arm-gnueabi-5.4.

[2017-06-21 13:45] maddin200 commented on #10853
Better somebody more familiar with the code will do the change.

[2017-06-21 14:14] skye commented on #9894
@LucasMahieu what version of TensorFlow are you running?

[2017-06-21 14:17] anonym24 opened #10952 "Cannnot convert Graphs/Models via DarkFlow"
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/DetectorActivity.java#L69

I already reported about this on **darkflow** git https://github.com/thtrieu/darkflow/issues/295 but still didn't get any reply

I shows next error:

`ERROR - Invalid argument: --verbalise=True`

[2017-06-21 14:27] jianglai commented on #10033
@byronyi Sure I was just pointing out that 6.0 itself works. TensorFlow is hardcoded looking for the filename for 5.1.

[2017-06-21 14:29] yylonly opened #10953 "Feature Request for BitwiseXOR for Tensor"
My project requests a new layer, which needs the new operator of Tensor to compute bitwiseXOR between input x and constant Key k.
E.g. x = 4 (bit form: 100), k = 7 (111), the bitwiseXOR(x, k) expects as 3 (011).

As far as I know, Tensor only has LogicXOR operator for bool type. Luckily, Tensorflow has the extended ability to have a new Op. However, I read the document in https://www.tensorflow.or

[2017-06-21 14:39] LucasMahieu commented on #9894
1.1

-------------------------
Lucas MAHIEU
Lucas.mahieu@icloud.com

[2017-06-21 15:06] skye commented on #9894
If you upgrade to 1.2 the message should go away. It has no other effect besides printing to the console though.

[2017-06-21 15:08] lhlmgr opened #10954 "Supervisor: SummaryWriter and Saver stop after some time"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 / anaconda3 / python 3.6
- **TensorFlow installed from (source or binary)**: binary, (pip install tensorflow-gpu)
- **TensorFlow version (use command below)**: 1.2.0
- **Bazel version (if compilin

[2017-06-21 15:46] asimshankar commented on #10953
The bitwise ops were added recently and will be integrated when PR https://github.com/tensorflow/tensorflow/pull/10859 is merged in (specifically commit https://github.com/tensorflow/tensorflow/pull/10859/commits/a94a333762b4d2c3fcae0a9e610d654bba6980de).

Once that is merged, you should have these available if you build from sources and in the next release.

[2017-06-21 15:46] #10953 closed

[2017-06-21 15:46] lakshayg commented on #10953
I would like to take up this issue if TensorFlow devs decide to incorporate this in the library.

[2017-06-21 15:48] #10874 closed

[2017-06-21 15:49] yongtang commented on #10853
Added PR #10955 for the fix.

[2017-06-21 16:09] kaushik1618 commented on #5587
I'm hitting this issue today. I created a simple NN (straight-line) example in Python with 1 node (1 weight + 1 bias), trained it and exported the graph. Using an example on StackOverflow, I tried to import this graph into C++ on a Raspberry Pi like device (C.H.I.P. $9 board) on which I had painstakingly compiled the static tensorflow C++ library. I tested the tensorflow installation using the pi_

[2017-06-21 16:26] lockywolf opened #10958 "tf.summary.FileWriter doesn't support unicode paths."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Yes. In fact, I use code from Denny Britz's CNN tutorial:
https://github.com/dennybritz/cnn-text-classification-tf

Line 116, (https://github.com/dennybritz/cnn-text-classification-tf/blob/master/train.py)

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Win

[2017-06-21 16:27] ryanhalabi commented on #10836
it's working!  The steps I took were to
-re-download and reinstall CUDA 8.0 x86_64,  cuDNN v5.1 for CUDA 8.0.
-created a separate virtual env to install tensorflow gpu in

[2017-06-21 16:31] captify-alazorenko opened #10959 "ModuleNotFoundError: No module named 'tensorflow.tensorboard.tensorboard'"
Tensorboard not working on Tensorflow built from sources

### System information
- **Linux Ubuntu 16.04**
- **TensorFlow installed from sources using Bazel**
- **TensorFlow version v1.2.0-1126-gb7acb6a**
- **Bazel version 0.51**
- **CUDA/cuDNN version 8.0/6.0**
- **Found device 0 with properties:
name: GeForce GTX 1070
major: 6 minor: 1 memoryClockRate (GHz) 1.683
pciBusID 0000:01:00.0
Total memor

[2017-06-21 16:52] byronyi commented on #10220
Same thing happens using ``gcc-5.4.1`` on Debian 9.  This is my build command:

[code]

[2017-06-21 16:56] byronyi commented on #10220
I believe #9296 is the same issue, and switching back to `gcc-4.9` seems to solve the problem.

[Here](http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements) seems to be a combination supported by Nvidia.

[code]

[2017-06-21 17:00] ryanhalabi commented on #10836
bad news, reinstalled my computer and now the same exact issue is back...

[2017-06-21 17:11] aselle commented on #4279
I'll do that.

[2017-06-21 17:22] abagshaw commented on #10952
This issue can be closed as it is not related to tensorflow, but to how CLI arguments are handled in darkflow.

[2017-06-21 17:36] Vargeel commented on #8517
@jw447 I am experiencing the same issue on both a 4 GPUs and a 2 GPUs machine. I have been playing around with configurations and so far I have noticed that the crash only happens if gpu:1 is being called. I tried using only gpu:1 but encountered the same problem. On the other end, the same script using with tf.device('gpu:0') works fine.

Did you find a solution in the end? Was the problem entire

[2017-06-21 17:38] kaushik1618 commented on #5587
**Tangential-note**: I just realized that the TruncatedNormal is the distribution I was using to randomly initialize my weights (in this case, 1 weight). Clearly, this kernel isn't needed as part of the inference graph as the weights have already been trained and will remain constant.

Reading up on optimizing the exported graph for inference, it looks like bazel is needed for that, along with som

[2017-06-21 17:42] gunan commented on #9961
Correct, windows build uses that script.
We do not currently build on windows using AVX on CI, because not all machines seem to have AVX, but we can revisit this.

[2017-06-21 17:43] woodshop commented on #10736
I have the following workaround, which doesn't require rewriting any TF code.

The callable`dynamic_decode` returns `final_outputs`, `final_state`, and `final_sequence_lengths`. The output argument `final_outputs` itself is an instance of `BasicDecoderOutput`, which is essentially a named tuple having the elements `[rnn_output, sample_id]`. If no operations in your graph depend on `sample_id`, and

[2017-06-21 17:53] anonym24 commented on #10952
solved

[2017-06-21 17:53] #10952 closed

[2017-06-21 18:03] faddey-w commented on #8057
I understood here such a thing: variables `beta1_power` and `beta2_power` are specific to each call to `apply_gradients`, but not to the whole graph. So if we want to call `apply_gradients` twice, two separate pairs of beta accumulators should be created, even if both calls are made within the single graph. This does not fit into the concept of "graph slots". Definitely, we should separate these s

[2017-06-21 18:04] adityaatluri commented on #10703
Hi,
I pushed my [code](https://github.com/ROCmSoftwarePlatform/tensorflow/tree/06202017-rocblas-se-v2). I need help stitching bazel around it so that the host compiler can touch them and link against rocm libraries.

[2017-06-21 18:04] mrry commented on #10769
I'm not sure exactly what TensorBoard is visualizing, but it [looks like](https://github.com/tensorflow/tensorboard/blob/6aa3dba050c7a89e826051443a836f07c2e82913/tensorboard/plugins/graphs/tf_graph_common/graph.ts#L427) it's summing up the `total_bytes` fields from some subset of the nodes in a graph. These values represent the sum of all bytes *allocated* during the execution of an op, but don't

[2017-06-21 18:04] #10769 closed

[2017-06-21 18:05] gunan commented on #10867
@guschmue as he looked into this specific issue

[2017-06-21 18:16] tatatodd commented on #10873
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-21 18:16] #10873 closed

[2017-06-21 18:18] guschmue commented on #10867
I know the reason  why the debug build runs into the 65535 symbol linker limit:
The debug build does not expand inlines. The fix is to change it CMakeLists.txt:
set(CMAKE_CXX_FLAGS_DEBUG "/D_DEBUG /MDd /Ob0")
to
set(CMAKE_CXX_FLAGS_DEBUG "/D_DEBUG /MDd /Ob2")

I'll send a PR for this.

[2017-06-21 18:25] zhangyaobit commented on #8090
The minimum value of epsilon 1e-12 in this line of code needs to be updated:
epsilon = epsilon if epsilon > 1e-5 else epsilon + 1e-12

Before I get time to look at this, anyone is welcome to experiment on what a proper value should be. Marked as contribution welcome for now, so I'm blocking on this issue.

[2017-06-21 18:30] amjadsaadeh commented on #2391
I've started to implement it, but I didn't came far and ran out of time. But it seems to be there is an approach in main branch (https://github.com/tensorflow/tensorflow/blob/0c58158903ea9a3af612ae428c6cb3dede4abf16/tensorflow/core/kernels/fft_ops.cc#L115)

[2017-06-21 18:30] rickyhan commented on #10862
@tatatodd Could you confirm this is a bug?

[2017-06-21 18:32] tatatodd commented on #10875
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-21 18:32] #10875 closed

[2017-06-21 18:59] Vargeel opened #10961 "cudaCheckError() failed on any gpu apart from gpu:0"
I am experiencing a strange issue (similar to  #9489) on both a 4 GPUs and a 2 GPUs machine.

Basically I have a tensorflow model that trains and performs very well on one GPU, I now want to distribute the training phase by using multiple GPUs at once. I followed the CIFAR10 example to parallelize the model but keep getting errors a few iterations into the training process. I get
[code]
most times

[2017-06-21 19:14] printdhruv commented on #10836
Hi,
     Can you elobrate more what steps you took? Before it was working and now it stopped ?

[2017-06-21 19:20] rickyhan commented on #10862
I did some research and foundhttps://github.com/suriyadeepan/augmented_seq2seq/blob/01706d3869a42f3cf0bfe5c83f069646315a945e/bi_encoder.py#L54.

He uses `tf.scan` to manually generate an output and state tuple

[2017-06-21 19:36] tatatodd commented on #10959
@captify-alazorenko It sounds like there's some problem with your installation.  How exactly did you install from sources?

Perhaps you can try this:
[code]

The idea is to figure out where your tensorflow installation is, and see whether it makes sense.  You might be able to debug more depending on what you find there.

[2017-06-21 20:12] #10853 closed

[2017-06-21 20:30] melvinma opened #10963 "tf.TensorArray.stack(name="aname") bug"
### System information
- **Code + Interpreter**: Notice the print out is "stackme/stackme:0" instead of "stackme:0".
This is a really minor error. But I had spent at least half an hour wondering why my operation was called twice. Would be really nice to be fixed :)

[code]

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or bi

[2017-06-21 20:39] svenstaro commented on #10843
Doesn't work, there seem to be other places where the same problem occurs. Full build log:
[log.txt](https://github.com/tensorflow/tensorflow/files/1092836/log.txt)

[2017-06-21 20:49] rickyhan commented on #10736
@woodshop Good catch. This is very helpful!

[2017-06-21 21:00] ryanhalabi commented on #10836
I've solved the problem.  Every time I installed CUDA, my 2nd monitor (plugged into a GTX 330) would stop working but tensorflow-gpu would work.

After this I would try to get the 2nd monitor to work by updating its driver which would then cause importing tensorflow to fail.  Looks like tensorflow doesn't play well with this GPU, probably cause its so old.

[2017-06-21 21:00] #10836 closed

[2017-06-21 21:27] sugartom commented on #10434
@jeichel-miovision, @kwotsin  Hi, may I ask how you upgrade your cuda on TX1/TX2? I used JetPack to install CUDA v8.0.33, and has seen the same error message `external/eigen_archive/unsupported/Eigen/CXX11/src/Tensor/TensorBroadcasting.h(275): internal error: assertion failed at: "/dvs/p4/build/sw/rel/gpu_drv/r361/r361_00/drivers/compiler/edg/EDG_4.10/src/folding.c", line 9819`

Thanks in advance!

[2017-06-21 21:34] gunan commented on #8394
We have some longer term projects which may triage this on the side.
But from your comment I feel like most work needed for this is on bazel side?

[2017-06-21 22:22] hassanzadeh commented on #10810
Thanks, that was what I was missing.

[2017-06-21 22:42] proximacent commented on #8833
Funny, I was playing with my code and I think I got the exact error @RylanSchaeffer got. Basically I was switching back and forth between GRU and LSTM which don't have the same outputs from the `tf.nn.bidirectional_dynamic_rnn` function. The problem arises from:

[code]
If your cells are LSTM, then `state` is a tuple of 2 LSTMStateTuple, and if your cells are GRU then `state` is a tuple of Tensor.

[2017-06-21 23:06] printdhruv commented on #10836
- As a suggestion I would say that clearly, windows approach is highly experimental hence if you can dual boot Ubuntu than would be so easy to get the best out of Tensor flow even with Two GPU.

- Alienware laptops come up with an external graphic amplifier port where you can put 1,2,4.. external graphic cards which currently I am using.

[2017-06-22 00:34] #10199 closed

[2017-06-22 00:34] #10519 closed

[2017-06-22 00:34] #10725 closed

[2017-06-22 00:58] tatatodd commented on #10843
@svenstaro Can you give the latest version of PR #10868 another try?

[2017-06-22 01:21] syw2014 commented on #8191
Got the error with TF1.2 when running translate.py, details:
name: GeForce GTX 1080 Ti
major: 6 minor: 1 memoryClockRate (GHz) 1.582
pciBusID 0000:02:00.0
Total memory: 10.91GiB
Free memory: 10.76GiB
2017-06-22 09:15:04.485252: I tensorflow/core/common_runtime/gpu/gpu_device.cc:961] DMA: 0
2017-06-22 09:15:04.485256: I tensorflow/core/common_runtime/gpu/gpu_device.cc:971] 0:   Y
2017-06-22 09:15:0

[2017-06-22 01:24] CHLLHC commented on #10153
I just put "extract_image_patches_op.cc" in ./tensorflow/tensorflow/core/kernels/BUILD inside the
`filegroup(
    name = "android_core_ops",`

[2017-06-22 02:49] StevenLOL commented on #10959
I got same problem, installed via whl

[code]

[2017-06-22 03:14] eduOS opened #10966 "Implementation of algorithms like longest commom subsequence and editting distance?"
Hi everyone,

I am wondering if there are some shortcuts to implement an new API of algorithms like lcs. Should I implement it from scratch using C++ or C? It seems not efficient to do it in Python.  How can I just get started?

Thanks,
Best,
lerner

[2017-06-22 04:07] adanaila commented on #10852
I have made sure that the cudnn libraries are located in the /local/usr/cuda/lib64 and /local/usr/cuda/include:

If they were not, I could not build tensorflow with cuda support

cookie@ceres:~/work/machine_learning/tensorflow/tools$ ls -l /usr/local/cuda/lib64/libcudnn*
-rwxr-xr-x 1 root root 148M Jun 21 07:31 /usr/local/cuda/lib64/libcudnn.so
-rwxr-xr-x 1 root root 148M Jun 21 07:31 /usr/local/c

[2017-06-22 04:43] gunan commented on #10852
How about your `LD_LIBRARY_PATH`?
For running tensorflow, your `LD_LIBRARY_PATH` needs to include directories to your cuda, cudnn libcudart and libcupti so file directories.

[2017-06-22 05:02] adanaila commented on #10852
I checked all the libraries and they are located in the LD_LIBRARY_PATH:

cookie@ceres:~/work/machine_learning/flowers_training$ echo $LD_LIBRARY_PATH
/usr/local/cuda/extras/CUPTI/lib64:/usr/lib/x86_64-linux-gnu/:/usr/local/cuda-8.0/lib64

I just reran the model:
2017-06-21 21:58:50.719064: step 550, loss = 1.14 (62.5 examples/sec; 0.512 sec/batch)
2017-06-21 21:58:55.847020: step 560, loss = 1.22

[2017-06-22 05:07] j-wilson opened #10968 "bayesflow w/ higher order functions loops endlessly"
**Environment**: TensorFlow v1.2.0-rc2-21-g12f033d 1.2.0 running on Mac OS X (v10.12.5)

**Issue**:
Use of `tensorflow.contrib.bayesflow.stochastic_tensor.StochasticTensor` in conjunction with higher order functions, such as `tf.map_fn` and `tf.while_loop`, results in a seemingly endless loop during construction of the associated stochastic graph's `surrogate_loss`. Within the source code, the afo

[2017-06-22 05:37] mrlzla commented on #10199
What about avx2 support on windows?

[2017-06-22 06:03] xiusir commented on #9724
Same.

I use freeze_graph to export my model to a file named "frozen.pb". But Found that the accuracy of predictions on frozen.pb is very poor.

I know the problem maybe MovingAverage not included in frozen.pb or not loaded in prediction.

When I use model.ckpt files to restore model for evaluating, if i call tf.train.ExponentialMovingAverage(0.999) , then the accuracy is good as expected, else th

[2017-06-22 06:17] gunan commented on #10199
The scope of this issue is misleading error messages.
That support should be tracked elsewhere for clarity.

[2017-06-22 06:25] AhmetCanSolak commented on #9837
Hi @theflofly ! Your steps sounds reasonable in general. I would like to work on that but need guidance to start. Please contact if you are still interested in.

[2017-06-22 06:26] GehenHe opened #10969 "Tensorflow Android how to set multi input for my own model?"
Beside the images that I need to transform into the classifier, I also need to put another input named "`phase_train`" and set as  "`False`". How to make it?

[2017-06-22 06:32] lsqpku commented on #601
I have chgmod 777 all libcuda.so.* files in /usr/lib, /usr/lib64 and /usr/local/cuda-8.0/, but still doesn't work. However SU can success.

[2017-06-22 06:43] yynil opened #10970 "Please modify the tensorflow/workspace.bzl's eigen version to make Nvidia TX2 compilation successful"
Hi,all
   I just managed to compile Tensorflow 1.2 successfully in Nvidia TX2. Despite the patches made by this article: http://www.jetsonhacks.com/2017/04/02/tensorflow-on-nvidia-jetson-tx2-development-kit/ , the workspace.bzl file needs to be modified to use the latest eigen version.
Specifically, you need to change the following lines:

to:

Since I'm not sure if the newest eigen works well in

[2017-06-22 06:52] xiusir commented on #9724
@kwotsin
Thank you !   Your code is also helpful for me, it works.

[2017-06-22 06:56] theflofly commented on #9837
Hi @AhmetCanSolak, I am working on it and I made good progress even if it is not as easy as it sounds.

I don't see a way to split the task unfortunately. Especially at this point. Once the optimizer part is added, there will be plenty of work. Namely adding all the Optimizers (adam, adagrad, momentum, etc.). If you want I can ping you at this time and we'll share the work.

In the meantime, there

[2017-06-22 06:57] svenstaro commented on #10843
Yep, that one works fine!

[2017-06-22 07:15] xujingchen commented on #527
Thank you so much! I am trying to install and run TensorFlow in an old Red Hat 4.4.7-1 cluster for over a week and can not success due to the `glibc` problem. Now `conda install tensorflow` solved my problem. @KrnTneja

[2017-06-22 07:19] Shanky2304 opened #10971 "TensorFlow 1.2.0 update still not supporting Python 3.6.1 on Windows 10"
### System information
- **Windows 10 (64-bit)**
- **Python 3.6.1**

Even with the new update the command:

`pip install tensorflow_gpu-1.2.0-cp36-cp36m-win_amd64.whl`

OR as in the official documentation

`pip3 install --upgrade tensorflow`

returns

AND

respectively.

[2017-06-22 07:24] AhmetCanSolak commented on #9837
Great. It is better idea to ping me when sharing tasks possible. Meanwhile I better check again the contribution guidelines since I have not contributed to TF yet.

[2017-06-22 07:36] rustyoz commented on #1325
Hello,
I think this issue still persists.
On loading a file I can print out a list of variables from the checkpoint file using the below code.
[code]
Resulting in:
[code]
It then fails to load using:
[code]

Which results in:
[code]

[2017-06-22 07:45] pabloxrl commented on #10867
@Garoe I have made sure that the 64 bit toolset is being used and while I can build Release, VS2015 still fails to build the other configurations due to ` compiler is out of heap space`.

@guschmue Thank you very much for pointing out this issue. I tried changing CMakeLists.txt but now Debug build crashes earlier due to not enough heap space for the compiler:

`57>d:\tensorflow-1.2.0\tensorflow\co

[2017-06-22 08:35] jubjamie commented on #10969
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

It sounds like you want to put a custom model in. Follow the comments in ClassifierActivity to see how you can put in an Inceptionv3 model and adjust the parameters to put your own model in.

[2017-06-22 08:39] robert-zaremba commented on #315
OK, I understand your motivation.
Just to clarify PyPy C-Python API  support. That's true that the compatibility is pretty high, but it comes with limitations: speed and GC (it's slow, not jitted and it goes through simulation layers).

[2017-06-22 08:45] hholst80 opened #10972 "Tensorflow 1.2: FileWriter needs to be created after tf.text.summary ops?"
The following works and creates a tf.text.summary which I can find via tensorboard:

[code]

![image](https://user-images.githubusercontent.com/6200749/27425155-c4a1199a-5737-11e7-89f8-9ae3bd4159b4.png)

If we change the order of the FileWriter and the summary_op above it does not log anything:

[code]

![image](https://user-images.githubusercontent.com/6200749/27425124-a2af2926-5737-11e7-9daa-53c

[2017-06-22 08:57] sunsided commented on #9911
@gunan Sorry, had no time to do this so far.

[2017-06-22 09:11] GehenHe commented on #9365
@andrewharp
I try to use a model which require multi-input , how can I configure multi-input for this model in tensorflow android?[details is here](https://stackoverflow.com/questions/44693500/tensorflow-android-demo-use-cumstom-model-with-multi-input)

[2017-06-22 09:19] GehenHe commented on #10969
@jubjamie
Any link is aviliable? I'm find no issue that meet my problem

[2017-06-22 09:23] jubjamie opened #10975 "The issue template has an incorrect link."
Ironically, I think the issue template is wrong. I presume that point 3 below is meant to point to the tensorboard repo issue tracker `https://github.com/tensorflow/tensorboard/issues` but as you can see it just points back to the main repo issue tracker! Judging by the activity on that issue tracker perhaps this is on purpose but I doubt it!

`3. It shouldn't be a TensorBoard issue. Those go [her

[2017-06-22 09:27] jubjamie commented on #10969
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/ClassifierActivity.java#L45 gives you the intructions for using an inception model. You might be able to adjust this for your own model. You can enter a custom .pb model in t

[2017-06-22 09:29] Hemanth022 opened #10976 "Adding new classes"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorflow/issues).

**Here's why we have that policy**: TensorFlow developers r

[2017-06-22 09:37] #10969 closed

[2017-06-22 09:39] GehenHe commented on #10969
@jubjamie
Thanks a lot

[2017-06-22 09:44] dylib commented on #22
It seems hopes of ever seeing `OpenCL` support for Mac have gone from little to `tf.zero`. I just read that Macs there will no longer have **ANY** GPU support apparently (1.2+):
[code]
![wtf](https://user-images.githubusercontent.com/17288131/27427545-3adb5a4c-56f4-11e7-8bb2-4a58f64e8b70.png)

https://www.tensorflow.org/install/install_mac

[2017-06-22 09:49] snnn commented on #10357
Me too.

Hi @Spenhouet , the document is outdated.  You can load a custom op library dll or a filesystem dll on Windows. It's doable.

[2017-06-22 09:58] #10966 closed

[2017-06-22 10:05] shivenmian commented on #10827
Facing this as well, I have GTX 1080 and tensorflow-gpu 1.2. I get no output on `import tensorflow as tf`, but when I put `log_device_placement=True` I get the CPU-can-be-sped-up instructions (SSE etc) and device mappings. It does look like GPU is being used though from my mappings, but still, I don't get the 'opened CUDA' logs.

[2017-06-22 10:25] cathalgarvey commented on #22
TF-Coriander is tested on Mac, so if/when it reaches version parity you should be able to use that.

On 22 June 2017 11:46:51 CEST, dylib <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-06-22 10:27] shriyanka opened #10977 "Support for tf.nn.max_pool_with_argmax on CPU"
Hello,

Recently I trained a  model using **tf.nn.max_pool_with_argmax** on GPU and its working fine on GPU. I wanted to use the model on CPU but it seems that its not supported on CPU. How can I use this on CPU?

Will there be any support for it in near future? Or any suggestions on how to use this on CPU would be great.

Thanks!

[2017-06-22 10:46] lsqpku commented on #601
issue was solved after I add s authority to /usr/bin/nvidia-modprobe.

[2017-06-22 10:58] TengdaHan commented on #10827
@liangxiao05 Yes, I also feel GPU is working well, but just prefer to have the info.

[2017-06-22 11:25] Santanu3dutta opened #10979 "Not able to import tensorflow ."
Os:  Windows 10.
Python version:3.5.2

**Installed the CPU-only version of TensorFlow:** and via native pip...not anaconda

succesfully installed tensorflow:

But while importing tensorflow below error is coming:

Traceback (most recent call last):
  File "C:\Users\Santanu\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_im

[2017-06-22 11:54] igerard commented on #22
Sad because now with an eGPU and n Nvidia 980 Ti inside we get driver working and Cuda working

I didn't have the time for now to try Tensor Flow in my configuration yet.

[2017-06-22 12:09] zhangdingfei opened #10982 "python mnist_softmax_xla.py run failure"
Hi,
I run python mnist_softmax_xla.py and got below failure:

linux-swfm:~/workarea/test> python3 mnist_softmax_xla.py
...
2017-06-22 20:02:52.685534: I tensorflow/compiler/xla/service/service.cc:191]   StreamExecutor device (1): Tesla K40m, Compute Capability 3.5
2017-06-22 20:02:57.741927: F tensorflow/compiler/xla/service/algebraic_simplifier.cc:768] Check failed: user->operand(reshape_or_broad

[2017-06-22 12:50] captify-alazorenko commented on #10959
I installed from sources using the guide on tensorflow page. More specifically, after configuring tensorflow, I executed the following:

[code]
I also attach the results of aforementioned command:
[code]

[2017-06-22 13:00] abhiML opened #10983 "freeze_graph script error : google.protobuf.text_format.ParseError"
I am trying to run the freeze_graph script on my own .pb and .ckpt file. However I am getting this error.

[code]
The stack trace is as follows:
[code]

[2017-06-22 13:06] #10983 closed

[2017-06-22 13:06] sandipmgiri commented on #8945
I reran the above test cases on high end vm, but still same test failures were observed (Looks like failures related to TF v1.0.1 and ppc64le platform).

@gunan, as you said "It is possible there is a bug with the code on ppc64?"
I have done some investigation around these test failures :

1. //tensorflow/compiler/tests:pooling_ops_test_cpu
     The test expects **avg_pool** o/p as [ 7. , 8. , 9.

[2017-06-22 13:09] haiy commented on #1890
@lababidi @freesouls  I've followed @lababidi method,but  got the error below.Any suggestion?

[code]

[2017-06-22 13:09] serchsm opened #10984 "Building Tensorflow on Windows with AVX2 enable not compiling"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorflow/issues).

**Here's why we have that policy**: TensorFlow developers r

[2017-06-22 13:11] serchsm commented on #10199
I opened a new issue to track AVX2 support on Windows.

[2017-06-22 13:26] Valentin4869 commented on #22
@cathalgarvey you said that you test convnets on tf-coriander, but it doesn't seem like convnets are working yet. Can you please clarify if you managed to get convnets to run on the GPU using tf-coriander?

[2017-06-22 13:31] eric-ibarra commented on #5303
I'm still having this issue compiling with gcc-4.8.4. It works if I compile without the neon optimization, however, I believe there is significant performance to be gained using the neon optimization with eigen

[2017-06-22 13:39] jeichel-miovision commented on #10434
@sugartom I was not able to get the TX1 beyond 8.0.33 (but I didn't look into this aspect very hard).

Instead I downloaded  JetPack 3.0 from NVIDIA (https://developer.nvidia.com/embedded/jetpack). When I installed CUDA for my TX2, the installer downloaded "cuda-repo-l4t-8-0-local_8.0.64-1_arm64.deb" into my jetpack_download folder and proceeded to install version 8.0.64 onto my TX2.

I'm not sure

[2017-06-22 13:43] abhiML opened #10986 "What should be my --output_node_names for freeze_graph.py ?"
I am trying to freeze graph a .pb and .ckpt file of a trained Inception model. I cannot understand what shall by my output-node-names?

[2017-06-22 13:43] petrux commented on #4814
@untom I just stumbled upon your discussion. I am struggling with the same issue and I just started wrapping all my code up [here](https://github.com/petrux/LiTeFlow/tree/streaming-comp). Please, note that it is still a development and unstable branch and may rapidly change in the next few hours. Any feedback or suggestion is more than welcome. The idea is to have a easy way for having both stream

[2017-06-22 14:03] jeichel-miovision commented on #10434
@sugartom I also running an experiment and manually copied the cuda-repo-l4t-8-0-local_8.0.64-1_arm64.deb package to my TX1. `sudo dpkg -i cuda-repo-l4t-8-0-local_8.0.64-1_arm64.deb && sudo apt-get update && sudo apt-get upgrade`

I'll try rebuilding tensorflow v1.1.0 throughout the day and post the results.

[2017-06-22 14:05] Uday-Gurugubelli commented on #10854
estimator = tf.contrib.learn.DynamicRNNEstimator(
                                                    problemtype = ProblemType.CLASSIFICATION,
                                                     predictiontype = PredictionType.SINGLE_VALUE,
                                                     sequence_feature_columns = inputs
                                                     num_classes=None,

[2017-06-22 14:21] guschmue commented on #10867
I have seen this on a 8GB box in the past. msvc uses lots memory for some of files in tf, believed to be related to the amount of templates used in tf. I know there are bugs filed for msvc and hope this will improve in the future.
In the meantime you could try the following:
- kill other apps that use a lot of memory (in my case I had pycharm running in the background)
- check the pagefile size an

[2017-06-22 14:52] asimshankar commented on #10986
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-22 14:52] #10986 closed

[2017-06-22 15:11] fxsuper commented on #9527
Thanks for the suggestion. Everything does slow down, but the gap remains. For training, it's now more like 4x difference in speed (dynamic at 2.5 sec vs. static at 0.6 sec per iteration). For forward pass, the gap has shrunk but is still about 4x (dynamic at 0.45 sec vs. static at 0.12 sec per iteration).

I should say that in my actual model, where this is only a part of a larger pipeline, the s

[2017-06-22 15:53] jvlmdr opened #10989 "resize_images: Alignment of upsampled image seems incorrect with method=NEAREST_NEIGHBOR and align_corners=True"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS Linux release 7.2.1511 (Core)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.1.0-0-g1ec6ed5', '1.1.0')
- **Bazel version (if compiling fro

[2017-06-22 16:06] jeansely opened #10990 "run on gpu in tensorflow backend ."
Hi,
How can  be sure that the tensorflow+keras  run on GPU?i use tensorflow+keras with backend   .

Although in keras manual Written ;"If you are running on the TensorFlow or CNTK backends, your code will automatically run on GPU if any available GPU is detected"

How can this be checked?
Thanks.

[2017-06-22 16:14] rohan100jain commented on #10990
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-22 16:14] #10990 closed

[2017-06-22 16:17] #10714 closed

[2017-06-22 16:22] jmoney4769 commented on #10979
You posted the link to the common installation problems.  Your error is the last one of the three.  Did you follow the instructions to fix it on stack overflow?

Link to question: http://stackoverflow.com/q/35953210

[2017-06-22 16:23] jmoney4769 commented on #10870
Try with cuDNN 5/5.1 instead of 6.0.

[2017-06-22 16:25] rohan100jain commented on #10736
I believe this issue has been fixed by https://github.com/tensorflow/tensorflow/commit/c16de2979a9522e42a4b65cbdc20a05c731ec555#diff-282452f582e236ca10723e56a0b03945

[2017-06-22 16:25] #10736 closed

[2017-06-22 16:28] jmoney4769 opened #10991 "Seq2Seq Documentation is Broken"
A good third of the documentation on https://www.tensorflow.org/api_guides/python/contrib.seq2seq is written about a `DynamicAttentionWrapper` class.

The link posted for an API results in a 404: https://www.tensorflow.org/api_docs/python/tf/contrib/seq2seq/DynamicAttentionWrapper

This class is not mentioned in `__init__.py` at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contr

[2017-06-22 16:29] rohan100jain commented on #10870
As mentioned on https://www.tensorflow.org/install/install_linux, please try with cudnn 5.1 and see if that helps.

[2017-06-22 16:43] rohan100jain commented on #10838
I don't think this is anything entirely unexpected and is pretty typical for most open source package installs.

[2017-06-22 16:43] martinwicke commented on #10767
It seems it's hard either way -- if you include ties, you may end up with a larger than wanted set, if you exclude them, you may end up with a smaller than wanted set. If you want to enforce a constant size, you have to pick from the set of ties.

The logic for this would be comparatively complicated, since I assume you'd definitely want to include ties if the set of tied values fits in k (i.e. fo

[2017-06-22 16:55] AnishShah commented on #7278
Hey! Is anybody working on this?

[2017-06-22 16:59] xiejw commented on #8796
This is intended. For environment in run_config,  'local' means not distributed. We probably should document this better.

For distributed training, environment should be set as 'cloud' in the TF_CONFIG. This covers the cases that all nodes in the cluster are localhost process. From implementation perspective, it is hard to define "local distributed" precisely.

Hope this clarifies.

[2017-06-22 17:46] elibixby commented on #6624
@girving Yep! Good catch! This use case is now possible, if you remember to start queue runners, *however*, it still hangs indefinitely if you do not start queue runners. It should be possible for evaluation of graph nodes to determine if there are upstream queue nodes, and queues have not been started, which would help immensely in debugging this common error (whether it's worth the effort given

[2017-06-22 17:58] #10530 closed

[2017-06-22 18:15] rickyhan opened #10992 "Feature request: RNN BeamSearchDecoder with Mixture Density Networks For Continuous Truth Values"
For continuous data, there are 3 options to run a beam search when decoding:

1. This is a workaround. Quantize continuous truth values into into either one-hot vector or embedding, effectively transforming the regression into a classification problem.
2. Use a mixture density model with N Gaussian mixtures. When decoding, sample top `beam_width` mixtures.
3. Use the SOTA method described in this

[2017-06-22 18:29] gunan commented on #8945
My concern is, we have very numerical differences.
It is possible TF is just not working on ppc64le, and it needs to be fixed.
If we suppress these warnings, sure you might have all tests passing, but people using TF may run into worse issues getting wrong outputs, models not converging, etc.

IMO these numerical differences are too large to ignore, and will cause issues using TF on ppc platform.

[2017-06-22 18:29] aselle commented on #2423
@ebrevdo, could you comment?

[2017-06-22 18:30] ppwwyyxx commented on #10989
#6720
Seems to be fixed already.

[2017-06-22 18:38] aselle commented on #971
I think whether GPU support is included is the only major thing not available that we might want to add.

[2017-06-22 18:39] aselle commented on #2391
Yes, FFT is now done with Eigen builtin which is slower than fftw or MKL, but at least it works, which is a big improvement.

[2017-06-22 18:56] gfolego commented on #10767
@martinwicke Thanks for sharing your thoughts. I agree there's no trivial way to enforce a fixed set size. I'm not familiar with the tensorflow code base, so I'm not exactly sure how functions tf.nn.in_top_k and tf.nn.in_top_k relate to each other, but it seems that they handle ties differently.

Given that, would it be better to change them in order to behave similarly, or would it be better to k

[2017-06-22 19:08] Iolaum commented on #10838
Thanks a lot for the reply. I will try to look into it.

[2017-06-22 19:09] Laokoon opened #10994 "DLL Problem with fresh tensorflow-gpu installation"
Hi,

I installed tensorflow-gpu in an anaconda environment on my new notebook. It is a complete fresh installation. I can't get it to work. On my other machine it works fine but not on this new notebook :-(

Machine:
 - Windows 10 Pro
 - i7 7700HQ
 - NVIDIA GTX 1060 - 6GB (newest device driver - **382.53**)
 - 16 GB RAM
 - Anaconda 3
 - CUDA  Toolkit 8.0 installed
 - CUDnn 5.1 for Cuda Toolkit 8.0

[2017-06-22 19:24] hassanzadeh commented on #9466
which unit tests are you referring to?

[2017-06-22 19:33] Laokoon commented on #10994
I reinstalled tensorflow-gpu via:
- pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-1.2.0-cp35-cp35m-win_amd64.whl

--> still doesn't work

[2017-06-22 19:36] rohan100jain commented on #10832
What branch version did you use to compile this? Also did switching to the 1.2 branch help?

[2017-06-22 19:38] rohan100jain commented on #10866
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-22 19:41] tatatodd commented on #10843
Cool, PR #10868 has been merged and should fix this issue.

[2017-06-22 19:41] #10843 closed

[2017-06-22 19:55] RylanSchaeffer commented on #8833
@proximacent @oahziur @ebrevdo

I'm trying to train a sequence to sequence model, but the training times are monotonically increasing. I posted on [StackOverflow](https://stackoverflow.com/questions/44706150/tensorflow-seq2seq-training-time-per-minibatch-monotonically-increases), but I thought I'd ask in case any of you have an idea of what I might be doing wrong.

[2017-06-22 20:01] rohan100jain commented on #10958
I'm not a SWIG expert but seems like something odd is going on when the bytes are passed from the python code into C++.

[2017-06-22 20:13] RylanSchaeffer commented on #8057
I'm receiving the same error (`FailedPreconditionError (see above for traceback): Attempting to use uninitialized value beta1_power`) when I try something as simple as

`optimizer = tf.train.AdamOptimizer()`

followed by

`sess.run(tf.global_variables_initializer())`

while trying to train my sequence to sequence model. By contrast, `optimizer = tf.train.GradientDescentOptimizer(learning_rate=init

[2017-06-22 20:18] jvlmdr commented on #10989
Oh thanks! It is fixed in 1.2.0

[2017-06-22 20:18] #10989 closed

[2017-06-22 20:21] DanielLowry commented on #10832
I believe I am already on 1.2.0, but correct me if I'm wrong?

git describe --tags:
v1.2.0-rc0-872-gbbb81bd

Thanks

[2017-06-22 20:38] faddey-w commented on #8057
Certainly there is some undocumented behavior with beta#_power variables, but it should not produce an error if you run `global_variables_initializer`. Could you post all your code?

[2017-06-22 20:49] RylanSchaeffer commented on #8057
I'm happy to post all my code, but let's see if this is sufficient currently. Here's my main function, where execution starts.

[code]

`import_model()` imports my `Model` class, which has the following constructor:

[code]

`_define_optimizer(initial_learning_rate)` is defined as follows:

[code]

Then, `main` calls function `train()`, which is defined as follows:

[code]

My `train_op` is define

[2017-06-22 21:01] jvdillon commented on #10149
Fix submitted. Should be in master in a few days.

[2017-06-22 21:01] #10149 closed

[2017-06-22 21:10] RockfordWei opened #10997 "port::AlignedMalloc() may cause a memory leak"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra Version 10.12.5
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.0, Darwin, cpu
- **Bazel version (if compiling from source)**: N/A
- **

[2017-06-22 21:20] faddey-w commented on #8057
The problem is that you call `model.optimizer.minimize` too late. This methods creates additional tensors within your graph, so calling it within a loop is bad idea - it is something similar to a memory leak. Also, in case of stateful optimizers (such as AdamOptimizer) `minimize` creates additional variables. That's why you get exception you described - your initializer runs before you create them

[2017-06-22 21:27] RylanSchaeffer commented on #8057
@faddey-w , thank you!

[2017-06-22 21:37] printdhruv commented on #10854
I think your code fields' names and attribute values are wrong. The error you stated is due to that reason I guess. Below is a working code example, the `sequence_feature_columns = None,` in my case and other numeric values too. Please comment below if you have additional questions?
[code]

[2017-06-22 22:02] printdhruv commented on #10994
Let me guess do you have an Alienware ? I have a similar one which has 980 Nvidia graphic card and 7th generation of i-7 processor. Awesome machine, indeed?
           There two ways you can use tensor flow effectively according my experience.

1.    You can dual boot the `Ubuntu 17.04` on your SSD drive, not virtual box way. The Linux environment is naive to tensorflow and has `compatibility ` wi

[2017-06-22 22:44] timo92 commented on #10808
I just ran into a similar issue.

I installed python 3.5.3 (["Tensorflow only supports python 3.5.x on Windows"](https://www.tensorflow.org/install/install_windows#installing_with_native_pip) ) and followed solutions provided in [this](https://stackoverflow.com/a/43566341) stackoverflow answer.

For me this turned out to be an issue with my PATH variable for the cuDNN dll.

[2017-06-22 23:18] mrry commented on #10971
What output do you get when you run `pip --version` and `pip3 --version`?

[2017-06-22 23:59] hughperkins commented on #22
convnets will run, just not on the GPU.

[2017-06-23 00:01] hughperkins commented on #22
(so, one wouldnt notice `tf.conv` is not implemented, except that any `tf.conv` ops will be slowtastic. or if you use `with tf.device('/gpu:0'):`, to force the placement, in which case it will refuse to run)

[2017-06-23 00:03] jvdillon commented on #10968
Hello and thanks for raising this issue.

Unfortunately control flow primitives are difficult to support with StochasticTensors.  Currently, the best solution is to sample and calculate log_prob at every timestep within the while_loop and emit both; then calculate the loss yourself.

[2017-06-23 00:03] #10968 closed

[2017-06-23 00:12] hkyq commented on #10808
Works @timo92 , thanks.

[2017-06-23 00:12] #10808 closed

[2017-06-23 00:19] mrry commented on #10997
If I've read the stack trace correctly, it looks like these allocations were made by the `tensorflow::ConstantOp` constructor, which allocates memory for a `tensorflow::Tensor` storing the value of each constant in the graph. That memory should be owned by a `tensorflow::DirectSession` object and freed when you delete the session. Can you confirm whether this happens?

[2017-06-23 00:30] tatatodd commented on #10959
@dandelionmane Do you have any ideas on what might be going wrong here?

[2017-06-23 00:54] dandelionmane commented on #10959
We took TensorBoard out of the TensorFlow repo and into http://github.com/tensorflow/tensorboard.

So it's expected that attempting to build or depend on TensorBoard source from the TF repo won't work.

Ah, but if the pip command is broken, I should look into that.

[2017-06-23 00:59] dandelionmane commented on #10959
Ok, I installed tensorflow via pip from the nightly, and tensorboard works fine.

Generally speaking, it's not expected that running tensorflow/tensorboard/tensorboard will work if you install the TF repo, since TensorBoard has moved out. I'm going to close this as WAI, and scrub the docs for referneces to doing this.

[2017-06-23 00:59] #10959 closed

[2017-06-23 01:13] jhseu opened #11000 "Upgrade to jemalloc 5.0.0"
Contributions welcome! (I won't have bandwidth to do this in the short-term.)

[2017-06-23 02:30] yipeng5 commented on #10435
hi , some problems come when i install tensorflow serving , i donnot kown what's wrong with it , someone can help me ,thanks.
1. I have install bazel-0.5.1 with brew on my mac
2.when i execute ./configure , the log as below

![image](https://user-images.githubusercontent.com/20752672/27464160-6e3d7c98-57fe-11e7-92da-53a90d971794.png)

  You have bazel 0.5.1-homebrew installed.
Please specify the l

[2017-06-23 02:35] malmaud opened #11002 "`TF_AddGradients` incorrectly reports `Add` has no gradient"
### System information

OS X with a CPU libtensorflow.so built off master (2336cdf)

### Describe the problem

`TF_AddGradients` reports

[code]

when asked to compute dz/dx for z=x+y (see code example).

and yet `Add` has a [registered gradient](https://github.com/tensorflow/tensorflow/blob/2336cdf7f00434c24f1eb394f255d7de071bdc08/tensorflow/core/ops/math_grad.cc#L372). `Mul` also doesn't work, a

[2017-06-23 03:10] lw394 commented on #8796
That took care of it, thank you.

[2017-06-23 03:29] Arafatk commented on #50
@martinwicke I am the lead developer of [Tensorflow.rb](https://github
.com/somaticio/tensorflow.rb) which is the Ruby API for Tensorflow.
I have seen a lot of support from the Ruby community for developing this. I
have been funded by @jtoy  [somaticio](http://www.somatic.io/)  and also
received the [Ruby grant](http://www.ruby.or.jp/en/news/20170427).
I have also contacted @asimshankar and @jhseu

[2017-06-23 03:30] Miopas commented on #8191
I also met the error caused by `copy.deepcopy(cell)` in `embedding_attention_seq2seq()` when running `self_test()` in the translate model in tutorial.
I tried to change the codes in `seq2seq_f()` in `Seq2SeqModel` as follows:

[code]
Then there is no error now.
BUT as a rookie I don't know whether the codes here work as before and it seems the changes make the model run slower.

[2017-06-23 03:32] Arafatk commented on #50
@martinwicke I am the lead developer of [Tensorflow.rb](https://github.com/somaticio/tensorflow.rb) which is the Ruby API for Tensorflow.
I have seen a lot of support from the Ruby community for developing this and I have been funded by @jtoy  [somaticio](http://www.somatic.io/)  and also received the [Ruby grant](http://www.ruby.or.jp/en/news/20170427).
I have also contacted @asimshankar and @jhs

[2017-06-23 03:40] shivenmian commented on #10827
hi @puneith do you know of this?

[2017-06-23 03:50] jart commented on #10703
Have you taken a look into [cuda_configure.bzl](https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/cuda_configure.bzl). We've got a lot of code for configuring cuda in our build process. I'm not familiar with ROCm but if it's AMD's version of CUDA then this is most likely going to be a highly nontrivial undertaking.

[2017-06-23 03:56] adanaila commented on #10852
@gunan Anything else I can do to attempt to root cause this? I've tried different drivers, different cuda versions/ cudnn versions all with the same results.

This is even happening when running flowers_train on the flowers data with no changes to the model.

[2017-06-23 03:57] asimshankar commented on #50
@Arafatk : it's already linked to from https://www.tensorflow.org/api_docs/ :)

[2017-06-23 04:56] amirmazaheri1990 commented on #5888
Hi,

How do you check if a function has a gradient or not in TensorFlow?
I have a few lines of code and I'm getting the same error. How can I find the line causing the problem?

Sincerely

[2017-06-23 05:17] joe-antognini commented on #10844
This may be more of a question for Stack Overflow, but I have run into that error when I omit `#define COMPILER_MSVC` in the header file.  You may also need to `#define NOMINMAX` as well, or you'll run into a bunch of errors about parentheses.

I wrote a blog post describing some of the issues I had building on Windows here: https://joe-antognini.github.io/machine-learning/windows-tf-project

[2017-06-23 05:42] gunan commented on #10852
Looks like with the update to `LD_LIBRARY_PATH` error mode has changed to `CUDNN_STATUS_BAD_PARAM`. When searching through old issues, it looks like the cause of this error is using TF built with another cudnn version. based on your comments, if you built on the same machine as you are runningg this should not be the case.
By any chance, do you have multiple versions of cudnn installed?

[2017-06-23 05:50] santle commented on #10458
@petewarden
Hope the above information is sufficient for you to provide me a direction to make the optimization work.
If you need more information, I can provide you. Thanks.

[2017-06-23 06:12] joshua-xia commented on #10241
The document is in tensorflow\core\ops\array_ops.cc, I am willing to fix this, should we remove all  ```  as python API: https://www.tensorflow.org/api_docs/python/tf/depth_to_space ?

Thanks

[2017-06-23 06:35] timo92 commented on #10994
You did not specify the cuDNN dll in your list of dll's. Have you added the bin folder of your cudnn installation to your PATH variable?
Also see [here] (https://www.tensorflow.org/install/install_windows#common_installation_problems) for a list of common list of installtion problems, which includes your "No module named '_pywrap_tensorflow_internal" error messages and links to a stackoverflow thr

[2017-06-23 06:40] printdhruv commented on #10994
Yes, you have to add it to the PATH variable.

[2017-06-23 06:50] Arafatk commented on #50
@asimshankar Thanks you so much. This is great.

[2017-06-23 07:13] AlbertXiebnu commented on #9747
@bsautermeister any solution for this problem? I face the same problem as yours.

[2017-06-23 07:31] Shanky2304 commented on #10971
Looks like I had the 32-bit version of Python 3.6.1.
My sincere apologies.

[2017-06-23 07:31] #10971 closed

[2017-06-23 08:01] bsautermeister commented on #9747
@AlbertXiebnu Unfortunately no. But I have not check if this has been fixed in TF 1.2. I try to check that in the next days...

[2017-06-23 08:06] abhiML commented on #7172
Hi @civilman628 could you explain in detail as to how to get the output_node_names from the .pbtxt file?

[2017-06-23 08:06] Laokoon commented on #10994
@printdhruv : No no alienware :-) It's a Clevo Reseller Notebook.

Sry, I forgot to mention that I added the CUDA DLLs.
[image](https://user-images.githubusercontent.com/3481094/27472374-5b344f8a-57fb-11e7-90e3-96f25a5ba2cf.png)

and modified my PATH:
![image](https://user-images.githubusercontent.com/3481094/27472384-6c27ac6a-57fb-11e7-993d-54a70af8eb23.png)

I included the CUDnn files directly i

[2017-06-23 08:48] paddymahoney commented on #6698
After implementing the changes suggested by @strickon, I began to see a new set of info logs show up:
[code]
Unsure if related.

[2017-06-23 09:05] dkerzig commented on #3388
Getting the same error with TF (GPU) 1.12.0, Python 3.5.3, 1080ti (external) on my MBP running Win10. The code was basically the sample code from this MNIST Keras-Tutorial: https://github.com/wxs/keras-mnist-tutorial/blob/master/MNIST%20in%20Keras.ipynb (until [10]) .

[2017-06-23 09:08] neelkadia commented on #7778
If I do `export TF_CPP_MIN_LOG_LEVEL=2` then console don't show results, it just empty.
and if I do `export TF_CPP_MIN_LOG_LEVEL=0` then only it popsup with all the warning and ***results***
[code]
any thoughts why this happening?

[2017-06-23 09:09] abelxie opened #11005 "[Bug] tf version 1.2 , dropout layer reject tensor type rate"
version 1.2

The following code:

[code]

or

[code]

will fail with following error:

[code]

The same code run successfully on tf version 1.1.0,

I check the documents are not changed :
[https://www.tensorflow.org/api_docs/python/tf/contrib/layers/dropout](https://www.tensorflow.org/api_docs/python/tf/contrib/layers/dropout)

        keep_prob: A scalar Tensor with the same type as x. The probab

[2017-06-23 09:22] PratsBhatt commented on #8191
I would like to update everyone that I downgraded the tensorflow to 1.0.0 (tensorflow-GPU) and it is working for me. The models are performing as expected. I assume that the CPU version of 1.0.0 should function as expected? Or?.
Thanks :)

[2017-06-23 09:30] AlbertXiebnu commented on #9747
@bsautermeister I have tried in TF1.2, seems that still not work.

[2017-06-23 09:37] haiy opened #11007 "provide project ide setting support"
I'm trying to debug the c++ source code to figure out the function call relation.But I find it's very difficult to import the code to any existing ide on Mac.I had to use the bazel command  to build and test. using gdb to debug is a bit frustrating.If there are some useful tool chains, would you please give some tips which will make it easily for developers to try such great tensorflow?Thanks so m

[2017-06-23 09:46] haiy commented on #10867
hi @pabloxrl, how do you build the tf with vs? Would you please give some detail about the process?I'm trying to debug the code with an IDE on Mac,but did't know how to do it.Do you have any blog or gist?

[2017-06-23 09:55] alexvicegrab commented on #7278
@AnishShah I'm not working on that project anymore, so I am not. Still think it's an important thing to do, but don't have the time or the nitty-gritty expertise to address it.

[2017-06-23 10:05] rajibstats opened #11008 "AttributeError: module 'tensorflow' has no attribute 'constant'"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorflow/issues).

**Here's why we have that policy**: TensorFlow developers r

[2017-06-23 10:40] Laokoon commented on #10994
Well, it is still not running. Still the same error.

[2017-06-23 11:19] printdhruv commented on #10994
I am sure that you are missing a key somewhere. I would advise you to uninstall everything and follow stackoverflow link step by step .
If it won't work than would list all steps from my end.

[2017-06-23 11:29] RockfordWei commented on #10997
Sorry I am not sure. Just using C API to do the TF_AllocateTensor() first then call TF_DeleteTensor() once done.

[2017-06-23 11:52] zhangdingfei commented on #10870
I build with cudnn 5.1.  the failure still exists in my tensorflow 1.2.0.
-------------
cuda sdk: 8.0
cudnn 5.1

while my tensorflow 1.1.0 works in above environment.

[2017-06-23 11:55] adakum commented on #4095
@ebrevdo Can u pls point me to the seq2seq tutorial which uses glove embedding files ?

[2017-06-23 12:11] AlphaJi opened #11011 "Install tensorflow with virtualenv failed"
On my Ubuntu 16.04, I'm trying to install tensorflow with **virtualenv** for **python3** under the guide of https://www.tensorflow.org/versions/master/install/install_linux.

But I got the error message at the step2:

    $ virtualenv --system-site-packages -p python3 tensorflow
    Running virtualenv with interpreter /usr/local/anaconda3/bin/python3
    Using base prefix '/usr/local/anaconda3'

[2017-06-23 12:48] pabloxrl commented on #10867
@haiy It is worth noting that I could only manage so far to build Release x64 using VS2015. Building Debug x64 doesn't seem problematic according to @guschmue remarks, but I have space limitations in my machine so it will take me few days to verify that.

For Release x64 I followed the steps specified in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md, with

[2017-06-23 12:58] vap31 commented on #6136
Hello , i am using tensorflow in windows. I tried every thing still i am getting no module name tensorflow
I tried following ways
C:> conda create -n tensorflow python=3.5
C:> activate tensorflow
pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.2.0-cp35-cp35m-win_amd64.whl

Still i am getting two errors
1 -tensorflow-1.2.0-cp35-cp35m-win_a

[2017-06-23 13:10] ankorko commented on #5611
`export MACOSX_DEPLOYMENT_TARGET="10.12"` should be added to `compile_ios_protobuf.sh` if used independent of `build_all_ios.sh`.

[2017-06-23 13:16] kwotsin commented on #10434
@jeichel-miovision @sugartom I wasn't able to upgrade the cuda in the past due to some architectural issues. Basically the TX1 says it's using aarch64 and so even with the arm64 deb I couldn't install it. Perhaps a successful upgrade of CUDA would make it possible to install tensorflow above v1.0, which would enable a lot of other operations like quantization. thanks to @jeichel-miovision in advan

[2017-06-23 14:04] mrry commented on #10997
Hmm, in that case I'm going to close this issue as "working as intended" for now. `port::AlignedMalloc()` is used at the lowest level to allocate tensor buffers, but these buffers may be shared with other parts of the system (e.g. stored in the `OpKernel` objects that implement the operations in the graph) in reference-counted `tensorflow::Tensor` objects. As such, it's possible that you could all

[2017-06-23 14:04] #10997 closed

[2017-06-23 14:12] adityaatluri commented on #10703
Hi @jart ,
We are focusing on supporting XLA first. We want to move away from using HCC (device code compiler for ROCm) and use just LLVM, libraries and runtime to run TF code. The file `cuda_configure.bzl` seems have `nvcc` specific functions, but for rocm support we want just host compiler (g++/clang++) build functions. Will this make the problem trivial?

[2017-06-23 14:13] guschmue commented on #8828
@gunan - for windwos cudnn6 is fine, builds and all unit tests are passing.
All that is needed is to point cmake to the cudnn6 location

[code]

[2017-06-23 14:25] AnishShah commented on #10835
Can I work on this?

[2017-06-23 14:26] dagarcia-nvidia opened #11013 "Bug: experiment.py continuous_train_and_eval() leads to overfitting"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.0.1-4-gbd6743e-dirty 1.0.1
- **Bazel version (if compiling from source)**: N/A
- **CUDA

[2017-06-23 14:28] azainab commented on #8797
I am facing the error below. I tried running TF detect and it worked perfectly fine but I am not sure which change effected the project I am getting this error:

Error:Execution failed for task ':TensorFlow-Android-Inference:buildTensorflow'.

[2017-06-23 14:30] RockfordWei commented on #10997
Interesting. Actually the calling stack is `TF_NewSession()`, `run()` then `TF_DeleteSession()`, loop for 300+ times, and this chart indicates there is a growing memory usage and Xcode reported `AlignedMalloc` was the only leaky one, where you can see the a liner increase - possibly caused by an incomplete object release.
<p><img src="https://github.com/RockfordWei/upfiler/blob/master/growingleaks

[2017-06-23 14:54] mrry commented on #6136
@vap31 Are you using the 64-bit version of Python?

[2017-06-23 15:03] vap31 commented on #6136
Yea, i do use 64 - bit of python

[2017-06-23 15:33] yaroslavvb commented on #7581
There is now a couple of official ops that let you query amount of memory used, this obviates the need for opening up the API.

I think a bigger issue is that allocator API only gives correct results for GPU memory and not CPU memory. There used to be a work-around by parsing allocation/deallocation messages, but deallocation information stopped being correctly printed in version 1.1 https://githu

[2017-06-23 15:33] #7581 closed

[2017-06-23 15:40] mwytock commented on #9697
This doesnt seem to address the original problem of building with -march=native on **skylake** - I still get build errors even with new eigen (also, the eigen dep in workspace.bzl should likely be rolled forward)

Seems related to #9849 and #10689 which also report AVX 512 related errors

[2017-06-23 15:51] ebrevdo commented on #10835
Yes sounds good.

On Jun 23, 2017 7:26 AM, "Anish Shah" <notifications@github.com> wrote:

[2017-06-23 15:56] yaroslavvb commented on #6131
@girving it could be fixed in backward compatible way by adding back single argument version of `tf.get_session_tensor`, which was there before it was removed in 0.10   . I'll close this issue because there's a work-around by using dummy_handle, and fixing it now that it made into 1.0 API is probably too much work for what it's worth

[2017-06-23 15:56] #6131 closed

[2017-06-23 16:09] rola93 opened #11015 "Link to README.md is broken in NativeLibrary.java"
I'm trying to run TensorFlow in Java, following [this instructions](https://www.tensorflow.org/install/install_java)

I'm using Ubuntu 16 and java 8. I'm not sure what did I wrong, but error message says:

`$ java -cp libtensorflow-1.2.0.jar:. -Djava.library.path=~/jni HelloTF`

`Exception in thread "main" java.lang.UnsatisfiedLinkError: Cannot find TensorFlow native library for OS: linux, archite

[2017-06-23 16:29] RockfordWei commented on #10997
Ah! You're right! After tracing the stack my self, just found some tensors that not released **AFTER** `TF_DeleteSession()`. Just fixed it. This issue can safely close now. Thank you so much!!!

[2017-06-23 16:29] asimshankar commented on #11015
Thanks for the report, I'll update the link (the correct link is https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java/README.md)

That said, looking at your erro message it seems that ti cannot find the native library. Can do run the following commands to help verify what might be missing in your setup?

[code]

Alternatively, if it makes sense for you, I'd suggest using a build to

[2017-06-23 16:38] AnishShah commented on #10835
After I added negative axis support for `tf.gather`, it throws error because `tf.invert_permutation` doesn't support negative axis. Should I do the same for `tf.invert_permutation`?

[2017-06-23 16:39] asimshankar commented on #11002
@suharshs : Mind taking a look?

(FYI @skye @iganichev )

[2017-06-23 16:47] mrry commented on #10997
Great - thanks for confirming!

[2017-06-23 16:48] mrry commented on #10971
Don't worry about it - thanks for confirming!

[2017-06-23 16:53] suharshs commented on #11002
The cc gradients are registered in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/cc/gradients. What you have linked is the gradients for function defs, which do not apply to cc gradients. (This is a point of confusion that we should consolidate).
So for your specific ops, check that your gradients are in this file: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c

[2017-06-23 16:57] girving commented on #6624
@mrry Do you think it's feasible to programmatically warn about `QueueRunners` not being started?  The warning could even point people to `tf.contrib.data`. :)

[2017-06-23 17:07] mwytock commented on #9697
Update - building r1.1 release branch with -march=native on skylake (Ubuntu 16.04) works, so this looks like a regression introduced in r1.2, likely due to depending on a different eigen commit (r1.1 is on 9c6361787292 currently)

[2017-06-23 17:11] mrry commented on #6624
@girving I once hacked up something that added to each `tf.Tensor` the set of queue runners on which it depended, and printed a warning when you tried to evaluate a tensor that depended on a queue runner that hadn't been started. I think it foundered because people ignore warnings and want errors, but there was a concern about false positives (e.g. perhaps you could feed a value to avoid depending

[2017-06-23 17:16] c810armyHuan opened #11016 "map_func of tf.contrib.data.Dataset.map gets dict keys instead of values when the nested structure of Dataset is dict"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: b'0.5.0-12520-g1111e06d9' 1.2.0-rc2
- **Bazel version (if compiling from source)**: 0

[2017-06-23 17:18] rubenvereecken opened #11017 "Tfdbg does not work with Coordinator/QueueRunners"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 18
- **TensorFlow installed from (source or binary)**: Binary (pip)
- **TensorFlow version (use command below)**: v1.2.0-rc2-21-g12f033d 1.2.0
- **Bazel version (if compiling from source)**: N/A
- *

[2017-06-23 17:21] w4nderlust commented on #5099
On a related but similar issue I was told that those kind of checks are impossible to do on GPU. i still believe that there should be a way to do some warining.

[2017-06-23 17:21] SergeyDidenko commented on #6683
I have the similar problem with a word2vec model (not recurrent). It uses nce_loss.

[2017-06-23 17:34] elibixby commented on #6624
At the very least, I find it concerning that running of the initialization op doesn't respond to `SIGTERM` and only responds to `SIGKILL` when it's waiting for a queue dependency. What gives there?

[2017-06-23 17:54] tatatodd commented on #10961
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-23 18:07] tatatodd commented on #10963
@melvinma Thanks for the very clear issue including all necessary info!

I believe this is working-as-intended.  Note that when you call `TensorArray.stack`, more than one operation gets added to the graph.  Thus the `name=stackme` you're passing in is used both as a name scope for all of the operations, as well as the name of the last operation.

The behavior may be more clear if you try removing

[2017-06-23 18:07] #10963 closed

[2017-06-23 18:14] jolespin commented on #10054
Sorry for the delay, I've been out of town.  You can kind of see how different the starting values are from the figs. I guess my question is more theoretical instead of a bug in TensorFlow but it's difficult to know with a non-toy example if the model is good when the results vary using the same code on different instances.
![image](https://user-images.githubusercontent.com/9061708/27494989-12cfa8

[2017-06-23 18:15] dr4b commented on #10241
If you remove the ``` you need to indent 4 spaces so we parse it as Markdown regardless, otherwise it will still render poorly.

I think we have an internal bug open to do some processing to the C++ docs regardless, however.

[2017-06-23 18:16] tatatodd commented on #10975
@jubjamie Haha, thanks for reporting the issue.  I just sent a PR to fix this.

Yeah, a real facepalm moment.  :)

[2017-06-23 18:17] malmaud commented on #11002
Oh I see, `Add` is not actually a registered C++ gradient yet. Sorry for the confusion.

[2017-06-23 18:18] AnishShah commented on #10835
The main problem is in [_ProdGrad function](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_grad.py#L127)

This is the snippet of _ProdGrad. In the comment, I have added an example where this fails.
[code]
`tf.setdiff1d` is getting a list of `range(0, rank(input))` and reduction index is negative. So, it returns a list which contains `range(0, rank(input))` and nega

[2017-06-23 18:18] gunan commented on #8828
Thanks for verification @guschmue !
We are working on installing cudnn on our machines. Once that is done, we will upgrade to cudnn6 accross the board.

[2017-06-23 18:19] tatatodd commented on #10977
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-23 18:22] tatatodd commented on #10979
@Santanu3dutta, as @jmoney4769 points out, this seems to be covered in the common_installation_problems link.

Also note for the future: this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-23 18:22] #10979 closed

[2017-06-23 18:36] caisq commented on #11017
cc @mrry

@rubenvereecken Thanks for reporting this issue. We are aware of it and will push a fix to it soon.

[2017-06-23 18:45] AnishShah commented on #10835
This output is from tensorflow `master` branch. Except `reduce_prod`, all `reduce_*` & its gradient op work perfectly for negative axis.

[code]

[2017-06-23 19:21] rubenvereecken commented on #11017
@caisq thank you so much, I look forward to it.

[2017-06-23 19:23] aidangomez opened #11020 "TensorArray `name` using a Tensor"
### System information
python-version: ('v1.2.0-rc1-24-gce1d6ec', '1.2.0-rc2')

### Describe the problem
Looks like the name of the TensorArray is a Tensor and that Tensor is being treated as a boolean in a call to `name_scope`.

### Source code / logs
[code]

Trace:
[code]

[2017-06-23 19:25] caisq commented on #11017
@rubenvereecken While you wait for the fix, I want to ask you whether you are trying to debug the data input queues, or the training operation on the main thread. If the latter, there is a workaround for that.

[2017-06-23 19:28] aidangomez commented on #11020
My mistake.

[2017-06-23 19:28] #11020 closed

[2017-06-23 19:35] jain98 commented on #10761
Hello, I am new to open source and would like to implement this feature. How do I determine which file to implement this feature in?

[2017-06-23 19:39] adityaatluri commented on #22
FYI,
https://github.com/tensorflow/tensorflow/issues/10703

[2017-06-23 19:47] tatatodd commented on #10991
Thanks for filing the issue @jmoney4769!

After some digging, I believe (but am not positive) that `DynamicAttentionWrapper` was renamed to just `AttentionWrapper` starting in v1.2.
https://www.tensorflow.org/versions/master/api_docs/python/tf/contrib/seq2seq/AttentionWrapper

@lukaszkaiser can you confirm, and perhaps fix up the documentation?  Or suggest someone who could?  Thanks!

[2017-06-23 19:47] mrry commented on #6624
[This Stack Overflow answer](https://stackoverflow.com/q/14707049/3574081) goes into some of the details. Short answer: invoking native code on the main thread of a Python process can prevent the signal from being delivered.

[2017-06-23 19:51] suharshs commented on #11002
No worries, the confusion is completely understandable given the duplicate gradient registries. I'll see if we can solve that issue. Thanks!

[2017-06-23 19:51] #11002 closed

[2017-06-23 19:56] tatatodd commented on #11005
@abelxie Thanks for filing the issue!  I've reproduced the problem, and agree that this looks like a bug.

@fchollet Can you take a look or suggest someone to fix this?  Also marking "contributions welcome", in case anyone in the community would like to contribute to fix this.

[2017-06-23 19:59] tatatodd commented on #11007
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-23 19:59] #11007 closed

[2017-06-23 20:05] tatatodd commented on #11011
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

In particular, this looks like a virtualenv / anaconda installation issue; you haven't reached any tensorflow-specific installation yet.

[2017-06-23 20:06] tatatodd commented on #11013
@jhseu Can you comment on this?  Thanks!

[2017-06-23 20:13] jhseu commented on #11013
Yeah, that's true. Often input_fns are defined to randomize inputs, but this does seem like an issue. @ispirmustafa @xiejw

[2017-06-23 20:29] tartavull commented on #3649
I have also found reduce_all to be surprisingly slow on the GPU.
Although my benchmark is not as correct as @ppwwyyxx I think it shows that a quick and dirty kernel performs orders of magnitude faster.

### log output
[code]
### test.py
[code]
### reduce_all_user_defined.cc
[code]
### reduce_all_user_defined_gpu.cu.cc
[code]
### compilation
[code]

[2017-06-23 20:31] dagarcia-nvidia commented on #11013
I see. In the [original issue](https://github.com/google/seq2seq/issues/262) the client was calling [tf.contrib.slim.dataset.Dataset()](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/python/slim/data/dataset.py#L38) which doesn't appear to have an option to thoroughly randomize its inputs.

I'm pretty new to TF, so I may be missing lots of things here :)

[2017-06-23 20:33] xiejw commented on #11013
Shuffle=True for train input_fn is recommended. And also it is best to make the training steps for each iteration longer, similar to the epoch size or multiple epochs. I will fix the docstring to document this.

[2017-06-23 20:36] andrewharp commented on #6738
This is still active. We're looking to get a model compatible with the [TF Object Detection API](https://github.com/tensorflow/models/tree/master/object_detection) out in the next 2 or 3 weeks. That should provide a much easier path to retraining.

@jch1

[2017-06-23 20:40] esafak opened #11021 "bazel does not co-operate with Ubuntu's update-alternatives"
### System information

TF 1.2, Ubuntu 17.04 on GCE, CUDA 8.0, gcc 4.9.4

### Describe the problem
bazel fails to compile tensorflow when multiple versions of gcc are present and the default points to `/etc/alternatives/gcc`. Specifically, it fails to find the C and C++ header files. However, all works well when `configure` is set to use `/usr/bin/gcc`.

[2017-06-23 20:47] xiejw commented on #11013
not familiar with the slim Dataset api, but according to the docstring, there is a provider, which support randomize.

[2017-06-23 20:48] dagarcia-nvidia commented on #11013
@xiejw,

Setting shuffle=true in a tf.RandomShuffleQueue would hide the problem a bit, but not eliminate it, because the "random" part of a random queue occurs [when dequeuing](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/random_shuffle_queue_op.cc#L116). Since queues have a limited size, and the state is reset on every training lap, the model would still not train

[2017-06-23 20:56] xiejw commented on #11013
Experiment has a method train_and_evaluate, which does the approach you wanted. However, it has a double memory problem, which is why continous_train_and_evaluate was introduced (as experimental). Can you try make train steps for each iteration larger (so one train iteration can process one epoch training data or multiple epoch data)?

If that does not solve the problem, you probably need to try t

[2017-06-23 21:01] caisq commented on #11021
Maybe this is a more appropriate place to file this bazel issue:

https://github.com/bazelbuild/bazel/issues

[2017-06-23 22:10] AlphaJi commented on #11011
I've asked the question on stackoverflow, but no one has responded.
Maybe installing tensowflow within anaconda3 is better choice?

[2017-06-23 22:35] amelius15 opened #11022 "Major performance hit when running two processes on same GPU."
I've observed a major performance hit when running two identical models on the same GPU, with allow_growth set to True, so that each process, which only needs a small fraction of the GPU memory (~1gb/11gb are used when allow_growth is set to true). When running a single model on a single process, it consistently finished going through the data I have available in approximately 170-174 seconds, and

[2017-06-23 22:42] anishathalye opened #11023 "Bug: placeholder input to tf.one_hot leads to hang"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**: N/A
- **CUDA/cuDNN version**:

[2017-06-23 22:46] rohan100jain commented on #11016
I tried reproducing and I think that Dicts are not supported as inputs in general

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/contrib/data/python/ops/dataset_ops.py", line 460, in from_tensors
    return TensorDataset(tensors)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/contrib/data/python/ops/dat

[2017-06-23 22:47] civilman628 commented on #7172
@abhiML  you need read the paper to see which node is for prediction. .pbtxt contains all node names.

[2017-06-23 22:49] rohan100jain commented on #11008
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-23 22:49] #11008 closed

[2017-06-23 22:55] nave01314 commented on #6483
@a7744hsc Can you link some of the 3rd party tutorials?

[2017-06-23 22:57] rola93 commented on #11015
Thanks! I solved it giving the correct path to jni :smile:

[2017-06-23 23:02] rubenvereecken commented on #11017
@caisq Ah actually the former, but I'd be working my way towards the latter. Is there a way to debug these training ops while still using data fed from queues? Either way, could you point me at the workaround? Much appreciated!

[2017-06-23 23:07] caisq commented on #11017
@rubenvereecken The workaround is based on the assumption that the train op runs on the Python main thread, while the data queues run on the child threads, which should usually be the case.

You can just use the `thread_name_filter` kwarg of the wrapper's constructor to limit the debugging to the train op.

[code]

This is talked about in the FAQ. Doing this doesn't change the source of the input

[2017-06-23 23:12] rohan100jain commented on #10992
@ebrevdo could you take a look at this request?

[2017-06-23 23:13] rohan100jain commented on #10982
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-23 23:14] rohan100jain commented on #10976
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-23 23:14] #10976 closed

[2017-06-23 23:16] rohan100jain commented on #10970
I think the best course forward here would be to propose this as a PR. We can then review it and see whether it makes sense to make this change. Thanks!

[2017-06-23 23:16] #10970 closed

[2017-06-23 23:39] mrry commented on #10994
Can you try running [Dependency Walker](http://www.dependencywalker.com/) on the file `C:\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\_pywrap_tensorflow_internal.pyd`, and let us know what DLLs it reports as missing?

[2017-06-23 23:55] caisq commented on #11017
Oops. I may have given incomplete suggestion. In your code at https://gist.github.com/rubenvereecken/079cdf1abc76866714ff6f752167481d#file-fully_connected_preloaded_debug-py-L92

make sure that your wrapped Session object is used only to run the train_op. You can do something like this:
Move the line `sess = tf_debug.LocalCLIDebugWrapperSession(sess)` after line 100. That makes sure that when the

[2017-06-24 00:46] jingweimo opened #11025 "AttributeError: module 'reader' has no attribute 'ptb_producer'"
I use anaconda2 python3.5 with tensorflow1.2. I want to test tensorflow on the PennTree bank (ptb) dataset.

Referring to the ptb codes provided at https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb, I run the code
`reader_test.py`
but got the error:
ERROR: testPtbProducer (__main__.PtbReaderTest)
Traceback (most recent call last):
  File "<ipython-input-15-5eff201b8159>", line 34,

[2017-06-24 00:57] tatatodd commented on #10975
Closing this out, now that #11018 has been merged.

[2017-06-24 00:57] #10975 closed

[2017-06-24 01:01] tatatodd commented on #11015
Cool, looks like this issue is resolved, so I'm closing it out.

[2017-06-24 01:02] tatatodd commented on #11015
Oops I spoke too soon; the real problem is fixed, but this issue is about fixing the README link.  :)

[2017-06-24 01:04] tatatodd commented on #11021
@esafak Yes as @caisq suggests, please file a bazel bug for this instead.

If you feel there are tensorflow-specific issues, just comment on this issue and I'll re-open.

[2017-06-24 01:04] #11021 closed

[2017-06-24 01:35] c810armyHuan commented on #11016
It seems that f3f53e8b394bdcaddc707f7bde8dcc98a73531e7 adds support for `dict` as nested structures of `Dataset`.

[2017-06-24 01:58] joshua-xia commented on #10241
so this issue will be fixed after the internal bug fixed, right?

[2017-06-24 02:07] a7744hsc commented on #6483
@nave01314 may be [this](https://github.com/ematvey/tensorflow-seq2seq-tutorials) will be helpful.

[2017-06-24 02:28] joshua-xia commented on #11000
change workspace.bzl:

temp_workaround_http_archive(
      name = "jemalloc",
      urls = [
          "http://mirror.bazel.build/github.com/jemalloc/jemalloc/archive/4.4.0.tar.gz",
          "https://github.com/jemalloc/jemalloc/archive/4.4.0.tar.gz",
      ],
      sha256 = "3c8f25c02e806c3ce0ab5fb7da1817f89fc9732709024e2a81b6b82f7cc792a8",
      strip_prefix = "jemalloc-4.4.0",
      build_file

[2017-06-24 02:34] zhangdingfei commented on #10982
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: SUSE Linux Enterprise Server 11 SP3  (x86_64)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: tensorflow-1.1.0
- **Bazel version (if compiling from sour

[2017-06-24 04:43] c810armyHuan commented on #7951
Currently the tutorial says that we can use
[code]
to get shuffled data. The pattern is also used in [`tf.contrib.data.read_batch_features`](https://github.com/tensorflow/tensorflow/blob/1efd7f171ba30421b5d8369a93526395a721c0d9/tensorflow/contrib/data/python/ops/dataset_ops.py#L595)

However calling `repeat` before `shuffle` could lead to the shuffle across multiple epochs.
For example, the follow

[2017-06-24 05:41] lakshayg commented on #2625
@girving I am trying to get this into the Eigen library but the mailing list/issue tracker seem very inactive and I think that getting it into Eigen is going to take a long time. Is there some way I could implement this within tensorflow?

[2017-06-24 05:47] adanaila commented on #10852
Thank you for your time in helping me with this.

I only have 1 version of cuda installed, cuda-8.0

My /usr/local looks as follows:

My /usr/local/cuda-8.0 looks as follows:

Inside the lib64 symlink, I see the following:

LD_LIBRARY_PATH is:

Just to make sure, I rebuilt tensorflow and re-ran the model a few more times with the same result

[2017-06-24 06:13] gunan commented on #10852
Just to make sure, could you locate `libcublas.so`, `libcuda.so`, `libcufft.so` and `libcurand.so` on your system?

[2017-06-24 06:42] jch1 commented on #6738
Yup, this should be done soon, stay tuned!

[2017-06-24 06:43] jart commented on #10972
Does this happen with non-text summaries?

[2017-06-24 07:04] prannayk opened #11027 "Tensorflow 1.2.0 : can not load graph using tf.train.import_meta_graph"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: self written code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 on Azure VM
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.2.0
- **Bazel version (if compiling from source)**: 0.5.1
- **

[2017-06-24 07:45] jintgeorge opened #11028 "wrong path for retrain.py"
python /tensorflow/tensorflow/examples/image_retraining/retrain.py \
  --bottleneck_dir=bottlenecks \
  --model_dir=inception \
  --summaries_dir=training_summaries/long \
  --output_graph=retrained_graph.pb \
  --output_labels=retrained_labels.txt \
  --image_dir=flower_photos

The path is wrong for retrain.py with 4000 iterations (default)
Provided the reader is following the article, path shoul

[2017-06-24 07:49] shitian-ni opened #11029 "install with MKL and OpenCL without locate command"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Description:	SUSE Linux Enterprise Server 11 (x86_64)
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:master branch
- **Bazel version (if compiling from sou

[2017-06-24 08:33] Uday-Gurugubelli commented on #10854
-Thanks. that worked for me. Can we make it static dynamicRnnEstimator for autoendocer with layer sizes variying from 784-1000-500 . inputs are images not in sequence format. the output of one layer should be fed to another layer. I wanna do it with fit method.

[2017-06-24 09:49] NicoBuntu commented on #2205
Merci @akors il m'a fallu 2 jours pour trouver cette solution j'ai juste renommé la version 0.8.0 en 1.2.0 donc ça m'a fait
`tensorflow-1.2.0-py3-none-any.whl`

[2017-06-24 09:58] rw commented on #6141
@xodus7 Good to hear! I didn't get around to implementing this.

[2017-06-24 10:08] kafkagt commented on #10768
Thanks men, i will try it.

[2017-06-24 10:54] shitian-ni opened #11031 "Error building bazel "gcc: unrecognized option '-no-canonical-prefixes'""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Description:	SUSE Linux Enterprise Server 11 (x86_64)
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:master branch
- **Bazel version (if compiling from sou

[2017-06-24 13:49] Moriadry commented on #6738
sounds awesome!

[2017-06-24 13:51] Wenthalpy commented on #7705
@jcomfort4 I have solved the problem by the method discribed above. I guess the program just need a file like 'cudnn64_5.dll' and named 'cudnn64_5.dll'. If you changed the name of  'cudnn64_6.dll' (which in cuDNN6.0) to  'cudnn64_5.dll' , it still worked.(But I haven' t tested it for further use.)
I advise you to check that you've put the file in right folder, because I noticed that you type them

[2017-06-24 14:25] alecuba commented on #2175
@javidcf  Thanks javier for the hint.
I have a laptop with nvidia optimus (dual gpu)  with seamless transition. It has a led which indicates which gpu is using (intel iGPU or nvidia dedicated gpu), with:
`os.environ['CUDA_VISIBLE_DEVICES'] = ''` or `os.environ['CUDA_VISIBLE_DEVICES'] = '0'`
Tensorflow was creating a gpu process on cuda without anyload and my laptop was turning on the nvidia gpu fo

[2017-06-24 15:12] adanaila commented on #10852
Everything _but_ libcuda.so is in /usr/local/cuda/lib64

libcuda.so is I can find a few:

Looking for installed cuda packages I see:

[2017-06-24 15:50] 3rd3 opened #11034 "There should be tf.fill_like"

[2017-06-24 16:17] s1000455 commented on #10994
I also have same problem, I try many way to fix it but still didn't work.
And I run the [https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c]() main() function,
and it give me  ERROR:Failed to import the TensorFlow module.
What's going on? I have no idea..

[2017-06-24 17:51] cxwx opened #11035 "tensorboard display nothing after update to v1.2.0"
I update to tensorflow 1.2.0 by building from source.
after that, tensorboard show nothing.
Is the tensorboard changed?
I use command:
    tensorboard --logdir=log

[2017-06-24 17:57] lakshayg commented on #11034
Did you mean tf.full_like (Ref: [`np.full_like`](https://docs.scipy.org/doc/numpy-1.12.0/reference/generated/numpy.full_like.html))?

[2017-06-24 18:11] saisrivatsan opened #11036 "Issue while backpropagating through sparse_tensor_dense_multiply"
I have a simple network defined as follows:

    h1 = tf.sparse_tensor_dense_matmul(x, W1)
    h2 = tf.matmul(h1, W2)
    y = tf.matmul(h2, W3)
    loss = tf.nn.l2_loss(y - y_)
    train = tf.train.AdamOptimizer(learning_rate=lr).minimize(loss)

where x is a sparseTensor, rest are dense.
Dimensions (shapes) of W1 = [1000,200], W2 = [200,400] and W3 = [ 400, 500].

When I run the following:

    se

[2017-06-24 19:18] cxwx commented on #11035
It seems tensor board disappeared in v1.2.0 ?
how should I install tensor board in v1.2.0

[2017-06-24 19:45] khushigupta commented on #10393
@zhoulinyuan This is because all operations for tf.cond should be created within the lambda function as described [here] (https://stackoverflow.com/questions/35833011/how-to-add-if-condition-in-a-tensorflow-graph)

[2017-06-24 20:15] zasdfgbnm commented on #11035
https://github.com/tensorflow/tensorboard

[2017-06-24 21:36] 3rd3 commented on #11034
Yes, exactly. Sorry for the lack of details.

[2017-06-24 22:12] deep-r commented on #7322
I installed tensorflow through pip for python on windows 10
cmd-> pip3 install --upgrade tensorflow
It said "successfully installed tensorflow" but when I typed " import tensorflow as tf", it gave me a huge error saying "DLL load failed" and "no module named _pywrap_tensorflow_internal" and "failed to load the native tensorflow runtime", in the end.
I uninstalled through pip -> pip uninstall tenso

[2017-06-24 23:02] j-wilson commented on #6766
Anyone looking into this? I'm also experiencing this issue using TensorFlow 1.2.0 (v1.2.0-rc2-21-g12f033d). In my case, a `tf.while_loop` is being used (in conjunction with `tf.TensorArray`); however, the same error occurs if I swap out the `tf.while_loop` for a `while` statement.

**Backtrace** (abbr):
[code]

A bit further down,
[code]

[2017-06-24 23:29] hoysasulee opened #11037 "installation failed with Virtualenv ERROR:The executable is not functioning tensorflow"
Operating System: macOS Sierra 10.12.3
The version of virtualenv is 15.1.0
issue like these:
`admindeMacBook-Air:~ admin$ virtualenv --system-site-packages ~/tensorflow`
`Using base prefix '//anaconda'`
`New python executable in /Users/admin/tensorflow/bin/python`
`dyld: Library not loaded: @loader_path/../lib/libpython3.5m.dylib`
`  Referenced from: /Users/admin/tensorflow/bin/python`
`  Reason:

[2017-06-25 00:06] printdhruv commented on #10994
Hi,
     Can you please state the exact issue with a log , OS and system information? I encourage you to follow the [common_installation_problems](https://www.tensorflow.org/install/install_windows#common_installation_problems). The link which you follow for you issue, Make sure to install recommended versions of python, Nvidia and cuDNN.

[2017-06-25 00:29] printdhruv commented on #11037
Hi,
     I guess you have to choose either of the following according to your python version.
     `virtualenv --system-site-packages targetDirectory # for Python 2.7`
     `virtualenv --system-site-packages -p python3 targetDirectory # for Python 3.n`
    Also, please try these links,
[https://github.com/tensorflow/tensorflow/issues/2554](https://github.com/tensorflow/tensorflow/issues/2554)
[htt

[2017-06-25 00:44] schmrlng opened #11038 "tf.estimator.RunConfig is incompatible with tf.contrib.learn.Experiment.train"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-06-25 01:30] 345ishaan commented on #976
@ebrevdo  and @psmit

I am trying to parse the image and the corresponding bounding box locations corresponding to number of objects in the image through a SequenceExample Proto.

But I am not able to dequeue the image and the corresponding bounding box locations.

Here is my implementation:-

def load_from_tfRecord(self,filename_queue):

		reader = tf.TFRecordReader()
		_, serialized_example = re

[2017-06-25 01:56] 345ishaan commented on #976
@ebrevdo  and @psmit

I am trying to parse SequenceExamples where my context feature is an image and the features are the bounding box locations for the objects in the image.

I am not able to dequeue the data.
**Here is how I create the Example:-**

context = tf.train.Features(feature={'image_raw':self._bytes_feature(image)})
			feature_lists = tf.train.FeatureLists(feature_list={'locations':self

[2017-06-25 06:34] lakshayg commented on #11034
@3rd3 is there really a need for this function? I guess the same effect can be achieved by using `k * tf.ones_like(x)`

[2017-06-25 08:11] Moriadry commented on #7149
I saw so many ops with plenty of many properties and methods, such as array_ops, control_flow_ops, nn_ops and so on,  in c++ api. Does that mean we will implement them all in Java api?

[2017-06-25 11:27] hoysasulee commented on #11037
I tried
`virtualenv --system-site-packages -p python3 targetDirectory # for Python 3.5`
and the issue changed:
`OSError: [Errno 62] Too many levels of symbolic links: '/Users/admin/targetDirectory/bin/python'`
what should I do next? I tried to remove other files /Users/admin/targetDirectory/bin/python but it still not work.

[2017-06-25 11:30] printdhruv commented on #11037
Hi,
     Did you tried the links?

[2017-06-25 11:41] HeminQadir opened #11040 "Crash: F tensorflow/core/kernels/conv_ops.cc:659] Check failed: stream‑>parent()‑>GetConvolveAlgorithms(&algorithms)"
: E tensorflow/stream_executor/cuda/cuda_dnn.cc:352] Loaded runtime CuDNN library: 6021 (compatibility version 6000) but source was compiled with 5110 (compatibility version 5100). If using a binary install, upgrade your CuDNN library to match. If building from sources, make sure the library loaded at runtime matches a compatible version specified during compile configuration.
2017󈚪󈚽 14:02:30.1671

[2017-06-25 12:57] karllessard commented on #7149
Yes, they will all be automatically implemented in Java. All operations found in the C++ core are to be wrapped by classes generated at compile-time (TensorFlow-speaking) that will expose their inputs, attributes and outputs with named variables and methods.

[2017-06-25 13:35] lhlmgr commented on #6604
Hi there, and excuse me for posting on a closed Issue. Thus, `Supervisor` will be deprecated soon and `MonitoredTrainingSession` is the way future way to load/save models and write summaries? Cheers!

[2017-06-25 14:59] feranick opened #11041 "Update logging in DNNClassifier to use tf.summary.scalar"
### System information
- I am using the stock DNNClassifier in contrib/learn. The warning is present in every instance where DNNClassifier is called.
- Present in OSX (Mac OS 10.12.5) and Linux (Ubuntu 16.04)
- **TensorFlow installed from (source or binary)**: Present both on binary and when compiled from source
- **TensorFlow version (use command below)**: v1.2.0 (release) and v1.2.0-1371-g97af82

[2017-06-25 15:03] redblood53 opened #11042 "Documentation Error in TenserFlow website"
On website page:
https://www.tensorflow.org/get_started/get_started#a_custom_model

There is a missing line in the sample code provide for Custom Model:
 After this line
 `input_fn = tf.contrib.learn.io.numpy_input_fn({"x": x_train}, y_train, 4, num_epochs=1000)`.
in sample code there should be one more line for variable `eval_input_fn ` which is missing right now in the docs.
single line of code

[2017-06-25 15:18] feranick commented on #11041
From the comments to the line in code in question, the choice of retaining the deprecated feature seems to be intentional:
tensorflow/contrib/learn/python/learn/estimators/head.py:642
[code]
While I understand the rationale, the resulting cluttering of the log makes it rather difficult to read.

[2017-06-25 15:43] cxwx commented on #11035
When I install tensorflow compiled from source v1.2.0, it automaticly do bellow:
     pip install tensorflow-tensorboard,
This tensorboard seems to display nothing!
However using (https://github.com/tensorflow/tensorboard) this one is OK.
Is it a bug?

[2017-06-25 15:43] lockywolf commented on #6698
Same error here.

Windows 10 x86_64, GeForce GTX 970, drivers 376.53, Cuda 8.0, cuDNN 5.1., tensorflow-gpu 1.2.0 from pip, python 3.6

I am trying to run the default example from the tutorials section of the website:

https://www.tensorflow.org/tutorials/image_recognition

`python classify_image.py`

I have the same error:

`
(C:\ProgramData\Anaconda3) C:\Users\Locky\Google Диск\MachineLearning\Te

[2017-06-25 16:03] lockywolf commented on #6698
In my case, this happened because other tensorflow instances were holding the GPU. (Other scripts running.)

Could I propose a better error messages? Say, "Error: other tensorflow instances running, while only a single one is supported."

[2017-06-25 16:08] Bioimager-MD commented on #10104
I am having this literal exact problem, I am trying to retrain after multiple runs and I am running into this problem now. I have all of my folders named properly, no spaces or dashes, I am using only jpgs in the folders with no other files located in the sub folders. I am truly lost on how to get this error to go away as I have tried to edit nearly everything in the retrain.py code to get it runn

[2017-06-25 16:10] 4l4l4l opened #11043 "Error with building clang unknown argument"
I configured project for building and execute next command in project directory:

`bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
`

After that i get this error:

I'm trying to build it with gpu support by using next libs:

Bazel: 0.5.1
gcc: 7.1.1
Cuda: 8 (version of cuda/bin/gcc is 5.4.0)
CUDNN: 6
protobuf: 3.3.1

What shall i change for normal building?

[2017-06-25 16:50] Bioimager-MD opened #11044 "Tensorflow - No valid folders of images found at XXXXX"
So I have a semi custom code written for a new biomedical program that I am developing. I am trying to get my model to begin retraining and I am getting this problem out of nowhere whenever I run

python retrain.py \
  --bottleneck_dir=/tf_files/bottlenecks\
  --how_many_training_steps=100\
  --model_dir=/tf_files/ inception \
  --output_graph=/tf_files/retrained_graph.pb \
  --output_labels=/tf_f

[2017-06-25 17:15] Peel40 commented on #37
:+1:

[2017-06-25 17:37] fabiofumarola commented on #8191
Hi guys, I don't know if you're still interested on it, but I found that the problem is related to the operation of copying the cell passed as params to the `embedding_attention_seq2seq` function. This is because the same cell definition is used both for encoder and decoder. I think the tutorial is deprecated since it uses a seq2seq model with bucketing in contrast to a dynamic seq2seq. But, I'm p

[2017-06-25 17:57] dgovil opened #11045 "ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'"
### System information
- **custom code**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Pro 10.0.15063
- **TensorFlow installed from (source or binary)**: binary (pip)
- **TensorFlow version (use command below)**: tensorflow_gpu-1.2.0-cp36-cp36m-win_amd64.wh
- **CUDA/cuDNN version**: 8.0.6.1 / 8.0
- **GPU model and memory**: Geforce 1080 Ti 11GB
- **Exact command to

[2017-06-25 17:58] soukira opened #11046 "tf.contrib.xprof not supported on Windows"
opts = tf.contrib.tfprof.model_analyzer.TRAINABLE_VARS_PARAMS_STAT_OPTIONS
AttributeError: module 'tensorflow.contrib.tfprof' has no attribute 'model_analyzer'

I have tensorflow version 1.2 and have made all the other transitioning changes and the above error was thrown later.
Has the contrib support been resolved for Windows? Please help

[2017-06-25 18:21] Moriadry commented on #9837
@theflofly Do you have any ideas about bringing automatic differentiation (gradients) to C++ API?
also, If any help needed, you can ping me:)

[2017-06-25 19:18] sitzikbs commented on #4897
@goodfeli , how would the code given above change if I wish to get the gradient between two specific layers ?

weight_copies = [tf.identity(weights) for x in examples]
output = tf.stack(f(x, w) in zip(examples, weight_copies))
cost = cost_function(output)
per_example_gradients = tf.gradients(cost, weight_copies)

[2017-06-25 20:26] nuchi commented on #10685
@tfboyd More information!

System: Mac OS X 10.11.6
Intel MKL library: mklml_mac_20180.0.20170425.tgz (from https://github.com/01org/mkl-dnn/releases)
Tensorflow commit: 38e0922d...

Installed MKL to `/opt/intel/mklml`
Symlink the two `.dylib` files to `/usr/local/lib`

Changes to `configure`: Change `MKL_ML_LIB_PATH` to `lib/libmklml.dylib`, `MKL_ML_OMP_LIB_PATH` to `lib/libiomp5.dylib`, comment

[2017-06-25 21:04] rohitrango opened #11048 "tensorflow-gpu aborts with CuDNN v6"
### System information
- **The code can be found from the notebook [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/4_convolutions.ipynb)**:
- **OS Platform and Distribution: Linux Ubuntu 16.04**:
- **TensorFlow installed from pip**:
- **TensorFlow version ('v1.2.0-rc2-21-g12f033d', '1.2.0')**:
- **Bazel version : None**:
- **CUDA/cuDNN version : CUDA v8, CuD

[2017-06-25 22:07] theflofly commented on #9837
@Moriadry AD is already here.

[code]
Will add the gradient operations to the graph. You can find more example here. https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/framework/gradients_test.cc

The goal of this issue is mainly about the update part. If you want to add some gradients you can follow these [guidelines](https://github.com/tensorflow/tensorflow/tree/master/tensorflow

[2017-06-25 22:45] jalammar commented on #9927
Added pull request (https://github.com/tensorflow/tensorflow/pull/11049) addressing these two points.

[2017-06-25 23:05] alexwal commented on #9747
Same issue here; for me, it seems to be related to https://github.com/tensorflow/tensorflow/issues/1045. When I set num_epochs to a value other than None in the file where I save the model, I will get the "'Tensor' object has no attribute 'initializer'" error in the file where I restore the model.

[2017-06-26 01:30] zhaoerchao commented on #10730
[timeline_benchmark.json.txt](https://github.com/tensorflow/tensorflow/files/1100812/timeline_benchmark.json.txt)

@zhangyaobit The timeline file is uploaded, looking forward to your apply !

[2017-06-26 02:06] stmkjp opened #11051 "tensorflow inference in iOS produces EXC_BAD_ACCESS error when memory mapped graph is used"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX Sierra (10.12.5)
- **TensorFlow installed from (source or binary)**: source & binary (tested both)
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**: 0.5.1

[2017-06-26 02:18] yuebin1009 opened #11052 "standard_tensorboard_wsgi() missing 1 required positional argument: 'plugins'"
how set plugins ? thanks

[2017-06-26 02:40] raoqiyu opened #11053 "A custom model of Getting Started"
In the section "A custom model" of "Getting Started With TensorFlow " on [Tensorflow Website](https://www.tensorflow.org/get_started/get_started#a_custom_model)
[code]
The `eval_input_fn` is not defined here.

[2017-06-26 02:47] #11053 closed

[2017-06-26 03:18] kevinjos opened #11055 "Keras load model raises ValueError when loading optimizer weights"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I extended models_test.py to reproduce the bug
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 8.8
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.2.0-1106-g1f82b7a', '1.2.0')
- **Bazel

[2017-06-26 03:27] kevinjos commented on #11055
The test I wrote here https://github.com/tensorflow/tensorflow/pull/11056 reproduces the model deserialization glitch.

Similar issues have been discussed quite a bit in the Keras repo. I haven't seen a comprehensive solution, only workarounds. I wasn't sure if this should be reported here or there, but since I am using the tensorflow packaged Keras and I wrote the test in the tensorflow test-case

[2017-06-26 03:30] tfboyd commented on #10685
@nuchi   This is great.  The team is very much interested in making this work.  I hope we get it sort out officially in a few weeks but no promises as anything can happen and it looks like vacation season is here.  I will try you info and at a min, include it for people on the performance guide page as a short-term solution if I post some MKL stuff in a couple weeks.  Your effort is really appreci

[2017-06-26 03:40] rohittavare commented on #11045
I'm having the exact same problem on a late 2011 model mac book pro

[2017-06-26 05:23] randomrandom commented on #5609
@sonalgupta I've decided to open source an Atrous CNN architecture for text classification, there I have implemented the sequence with variable length reading from a file, you can see the project [here](https://github.com/randomrandom/deep-atrous-cnn-sentiment), the code that you need is located in the [BaseDataLoader class](https://github.com/randomrandom/deep-atrous-cnn-sentiment/blob/master/dat

[2017-06-26 05:26] Veboy commented on #11048
`E tensorflow/stream_executor/cuda/cuda_dnn.cc:352] Loaded runtime CuDNN library: 6021 (compatibility version 6000) but source was compiled with 5110 (compatibility version 5100)`

The error is very clear. The source was compiled using a different version of CuDNN. Either get that version (v5.5) or compile it yourself via version 6.0.

[2017-06-26 06:49] Moriadry commented on #9837
@theflofly ok, your answer does make sense, thank you!

[2017-06-26 07:34] kessler9 opened #11058 "terminate called after throwing an instance of 'std::out_of_range' error when call made to tf.contrib.tensor_forest.random_forest.TensorForestEstimator.predict()"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Installed with pip install tensorflow-gpu
- **TensorFlow version (use command below)**:
('v1.2.0-rc2-21-g12f033d', '1.2.0')
- **Bazel version (i

[2017-06-26 07:58] wdh91 opened #11060 "windows 10 /Anaconda/ python 3.6.1/ Tensroflow import error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:  v8.0 / cudnn-8.0-windows10-x

[2017-06-26 08:25] sleighsoft commented on #7664
There seems to be a discrepancy between `tensorflow-gpu` v1.2.0 from pip and `tensorflow` v1.2.0 from pip.
I run the following within a `model_fn` for `Estimator`:
[code]
It throws the following error for `tensorflow-gpu` but works for `tensorflow`:
[code]

[2017-06-26 08:40] Vargeel commented on #10961
Hi @tatatodd , sorry if my issue is confusing, I wrote it after quite a long few days of hitting that problem so I might have been a bit unclear.

**### System information**
2 machines have been tested with this code and raised similar issues :

- 64Gb RAM/ Intel i7 6800K CPu / 2 x Geforce GTX 1080 / Ubuntu 16.04 64 bits
- 64Gb RAM/ Intel(R) Core(TM) i7-6850K CPU / 4 x Geforce GTX 1080ti / Ubuntu

[2017-06-26 08:48] simonkamronn commented on #11005
The error seems caused by using Python `min()` and `max()` on a Tensor. I also get he error in TF 1.2 but it is not in the current master as of c98dab03f0de724da81dac8218757207996d1505

Do you know if we can expect an updated official version soon or do we need to build ourselves?

[2017-06-26 09:05] PratsBhatt commented on #8191
@fabiofumarola Thank you for the function. Looks really helpful. I also saw that the tutorial is deprecated. I am still waiting for an official tutorial release. Looks like you have used the new api. Do you have any code that can be looked up to start coding on the new api?
Any help is well appreciated. Thank you once again :)

[2017-06-26 09:07] g8015108 opened #11061 "what's the different between tf.sub(a,b) and a-b, if i can Subsitute each other"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-06-26 09:40] tcmxx opened #11062 "C lib for windows with GPU support"
I know that there is a windows c library built for cpu https://github.com/tensorflow/tensorflow/issues/10817.

However, I could not find one with gpu support. I've tried https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-windows-x86_64-1.2.0.zip, but obvious it does not exist.

Is it possible to have one?

Thank you!

[2017-06-26 09:58] xgwei commented on #6136
@vap31 as the most recent version of anaconda is incorporated with python 3.6. you may change the commands to
conda create -n tensorflow python=3.6
 activate tensorflow
pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.2.0-cp36-cp36m-win_amd64.whl

[2017-06-26 10:30] rubenvereecken commented on #9635
I'm sorry for commenting on a closed issue, but @lmthang did you end up benchmarking those different attention mechanisms?

[2017-06-26 10:56] ValdemarOrn opened #11063 "TensorFlow 1.2.0 depends on a 5 year old release of the Markdown package"
### System information

- This is an installation problem
- Windows 10 64 bit
- Tensorflow installed from pip
- Version 1.2.0
- Bazel version: None
- CUDA v8 CuDNN v6
- GTX980Ti and Pascal TITAN X
- python -m pip install tensorflow-gpu==1.2.0

### Describe the problem

TensorFlow 1.2.0 has added a new dependency on the markdown==2.2.0 package. This package is being actively maintained, and the lat

[2017-06-26 10:56] jwayne commented on #8776
@itsmeolivia The bug described in [this comment](https://github.com/tensorflow/tensorflow/issues/8776#issuecomment-290175897), confirmed by @aselle and @knub, still exists in the latest tensorflow version.

I can work on a patch - can I open a new issue with a cleaner history, referencing this issue, and continue that way?

[2017-06-26 11:27] hholst80 commented on #10972
The scalar data appears just fine as demonstrated here:

[code]

[2017-06-26 13:02] gongbudaizhe commented on #6470
One example of using two optimizers in [stackoverflow](https://stackoverflow.com/questions/34945554/how-to-set-layer-wise-learning-rate-in-tensorflow)

[2017-06-26 14:02] kyo744 opened #11064 "Unsupported CPU features cause runtime errors."
I'm having runtime errors when running Tensorflow programs. I tracked down the problem and the source seems to be that the shared object I have compiled includes CPU features that are not supported by my processor. That causes some pointers pointing to invalid addresses. Right now there are 37 CPU feature defined in tensorflow/core/platform/cpu_info.h. My question is how to not include some of tho

[2017-06-26 14:26] girving commented on #2625
@rmlarsen Any suggestions for how to do Kahan summation without changing Eigen?  One problem is that an ideal implementation would probably stride the Kahan summation algorithm based on the architecture optimal packet size.

[2017-06-26 14:29] sounakdey commented on #8828
@Mahmoud Yes i built it from scratch but it still never worked while
compiling

On Fri, Jun 23, 2017 at 8:21 PM, gunan <notifications@github.com> wrote:

[2017-06-26 15:07] mrry commented on #11046
The `tf.contrib.xprof` submodule is not yet supported on Windows. @panyx0718 is currently working to add support for this submodule, so assigning this bug to him as a placeholder.

[2017-06-26 16:22] RickBoss commented on #9917
Why would you like to do a transpose operation to each channel of a feature image independently?

[2017-06-26 16:28] agniszczotka commented on #6847
@wolffg Is it possible to use tf.extract_image_patches as a not-trainable 2d convolution layer? how will the loss be computed with mixed tf.extract_image_patches and 2d convolutions?

[2017-06-26 16:47] RickBoss commented on #9901
Could you provide the code that you used? I would like to reproduce this performance issue and see how it does in my machine.

Thank you!

[2017-06-26 17:38] deep-r opened #11065 "Unable to install TensorFlow properly on windows for python. Please help!"
I am trying to install TensorFlow on Windows 10 for Python 3.5 64 bit. It says "successfully installed" but when I test it using "import tensorflow as tf" command in the command prompt, it shows a long error saying "DLL load failed" and "failed to load native tensorflow runtime".

I had tried installing it earlier but it didn't work. When I uninstalled from cmd: pip uninstall tensorflow, it said "

[2017-06-26 17:45] mrry commented on #11065
Try running the script here to diagnose DLL problems with TensorFlow on Windows: https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c

[2017-06-26 17:45] mrry commented on #11060
Try running the script here to diagnose DLL problems with TensorFlow on Windows: https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c

[2017-06-26 17:46] tatatodd commented on #11005
@simonkamronn Thanks for tracking down the PR that fixed this!

@av8ramit Probably knows the schedule for TF 1.3.  In the meantime you'll either need to pull the nightly releases, or build from source yourself.

[2017-06-26 18:19] tatatodd commented on #10961
@Vargeel yes, please try to create a minimal example that demonstrates your issue.  Otherwise it's hard to speculate as to what might be going wrong.  Thanks!

[2017-06-26 18:33] Randl commented on #11043
I've got the same error with current version of clang (`clang-5.0`).

[2017-06-26 18:35] mrry commented on #10675
Yes, this looks like a bug. There's no distinction in the [`DeviceSpec`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/device.py#L24) class between `*` and "not present", which are both represented using `None` for the `device_index` property.

The resulting behavior is not very intuitive, and it would be nice to fix this, but I'm not sure how heavily `*` is used

[2017-06-26 18:36] itsmeolivia commented on #8776
yes, go for it.  I initially closed the issue because no one had commented on over 2 months but if you're still interested in finding a solution then have at it.

[2017-06-26 18:37] jhseu commented on #11000
Yeah, this BUILD file has to be updated as well:
https://github.com/tensorflow/tensorflow/blob/master/third_party/jemalloc.BUILD

The configurations were created by running ./configure on an Ubuntu 14.04 machine and copying it over. If you don't have access to Ubuntu, you can use Docker.

[2017-06-26 18:49] kyo744 opened #11066 "Can we disable tensorflow's theading?"
I'm running tensorflow in a simulator that does not support mult-threading. Is it possible to disable tensorflow's multi-threading?

[2017-06-26 19:15] gabrielleyr commented on #6666
@bodokaiser did you try the solution of using reader.restore_state()? Did your Queue save correctly? I'm having huge problems with my model suddenly seeming overtrained when I save/reload it. Looks like it's seeing old data.

[2017-06-26 19:17] Randl commented on #11043
It looks like clang doesn't support those nvcc flags, at least I haven't found information on it anywhere, including [docs](https://clang.llvm.org/docs/ClangCommandLineReference.html)

[2017-06-26 19:18] gabrielleyr commented on #6666
@yaroslavvb How would you suggest saving a Queue if the full dataset is not used at the point of saving? In that case, we need to keep the state of the Queue so it doesn't see the same old data again on restoring. If we save a .meta and restore the saver as in saver.restore(sess, tf.train.latest_checkpoint("./model/")), will that save the Queue state?

[2017-06-26 19:34] 4l4l4l commented on #11043
Yeah, i tried it with clang3.5 and clang4, noway to biild tf with them.

[2017-06-26 19:57] adityaatluri commented on #10703
Hi @jart,
I added bazel files for rocm+xla [here](https://github.com/tensorflow/tensorflow/commit/33fdacaf31f9a9ee2628dc0de36c558cdd607e31)

[2017-06-26 20:10] zhangyaobit commented on #10730
@zhaoerchao could you use a python timer to measure the total time of, say 100 steps, and then compute time per step? This will help identify if this is  an issue of Timeline or tf_cnn_benchmarks.

[2017-06-26 20:12] av8ramit commented on #11005
@simonkamronn the next official release will be sometime in July. Please pull the nightly release for a fix! Thanks for bringing this to our attention.

[2017-06-26 20:24] parthchadha commented on #3628
I am also experiencing the same problem with reading BatchNorm variance values. I tried to fix with script provided by @barbolo but it doesn't seem to work for me(TF version 1.2.0). Any help or inputs regarding the same?

[2017-06-26 20:36] kiranvarghesev commented on #9076
from tensorflow.models.rnn.translate import data_utils

ImportError: No module named 'tensorflow.models'

[2017-06-26 20:42] aselle commented on #11063
@gunan, PTAL.

[2017-06-26 20:46] tatatodd commented on #11005
Thanks for the info @av8ramit!

Closing this out, since the underlying problem has already been fixed.

[2017-06-26 20:46] #11005 closed

[2017-06-26 20:55] RylanSchaeffer opened #11067 "Feature Request: Visualizing Attention Weights of Attention Wrapper"
OS: macOS Sierra version 10.12.5
TensorFlow Version: v1.2.0-rc2-21-g12f033d 1.2.0

This is a two-part request related to `tensorflow.contrib.seq2seq`. I would like the ability to visualize the attention weights of the `AttentionWrapper`, but I'm hampered by the lack of examples and I'm struggling to infer the input for `BahdanauAttention`'s `__call__` method's argument `previous_alignments`.

Firs

[2017-06-26 21:07] kessler9 commented on #11058
I'd be happy to send the program that generated this if it helps as I don't see a way to post it here.  Sorry if I'm doing something wrong; I've never filed a bug like this before.

[2017-06-26 21:16] aselle commented on #11067
Thanks for the issue, but this question looks like a feature request that belongs in tensorboard
http://github.com/tensorflow/tensorboard/issues
Thanks!

[2017-06-26 21:16] #11067 closed

[2017-06-26 21:19] aselle commented on #10810
Looks like it is resolved, but generally speaking, this would have been a good question for StackOverflow. Thanks!

[2017-06-26 21:19] #10810 closed

[2017-06-26 21:19] RylanSchaeffer commented on #11067
@aselle , perhaps the second question belongs to TensorBoard, but I don't think that the first does at all.

[2017-06-26 21:20] lukeyeager commented on #720
Getting Tensorflow uploaded to the official debian repository is currently blocked because Bazel doesn't follow the Debian policy manual (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=782654#45). But you could still provide deb packages even if they aren't accepted to upstream Debian.

If you are able to provide source packages for Tensorflow and all of its dependencies, then you could upload

[2017-06-26 21:22] aselle commented on #10824
I don't understand the problem. Ones_initializer and zeros_initializer don't store a constant with a bunch of zeros or ones in them. What alternative are you suggesting?

[2017-06-26 21:23] aselle commented on #10826
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-26 21:23] #10826 closed

[2017-06-26 21:23] kyo744 commented on #11066
Can you elaborate on how to use a single executor thread and a single eigen thread? I tracked down the error and the deepest failure point i can find is "impl_.reset(new ThreadPool::Impl(env, thread_options, "tf_" + name, num_threads, low_latency_hint));"

[2017-06-26 21:28] aselle commented on #10832
When I am on master (today) I see v1.2.0-1392-g8bfbc12e1 which is 8bfbc12e19f7e98ec3525eacf06a2cb75b4fc482
Could you update to a version newer than that and see if it is a still problem.

[2017-06-26 21:29] aselle commented on #10842
@ebrevdo. Is anyone going to work on this? Should we mark this contributions welcome if we want this included but won't do it at google.

[2017-06-26 21:34] alextp commented on #11066
The ConfigProto you pass to the first session you build in a process lets you specify how many dispatch and compute threads to use.

[2017-06-26 21:37] w268wang commented on #8191
@syw2014 Did you fix your issue?

[2017-06-26 21:43] ppwwyyxx commented on #11022
Without code and model and command it's hard to tell anything about it. Maybe in your code, just copying your data from CPU to GPU is already taking a lot of time, in which case adding processes wouldn't help at all.

[2017-06-26 21:57] gunan commented on #11063
markdown is a dependency of tensorboard. Tensorboard has moved to a new repository, and at head should be handled differently.
@dandelionmane @jart
What do you recommend for 1.2 release?

[2017-06-26 22:04] hassanzadeh commented on #10810
Thanks.

[2017-06-26 22:07] joshua-xia commented on #11000
Please assign to me, Thanks

[2017-06-26 22:07] kyo744 commented on #11066
I forgot to mention I'm using C++., Do you know how to do that in C++? Also to confirm, you mean it is impossible to have no threads,  at least two treads, one executor and one eigen are needed, right?

[2017-06-26 22:11] dandelionmane commented on #11063
Indeed, as of 1.3 and onwards TF won't have a markdown dependency, just TensorBoard. However, that won't directly fix the issue, as it's failing during pip install - and TensorFlow will list TB as a dependency, meaning that pip install will still fail. We need to fix https://github.com/tensorflow/tensorboard/issues/43.

For the 1.2 release - if you want to make a patch release, it wouldn't be hard

[2017-06-26 22:13] alextp commented on #11066
In C++ you can also use a configproto in sessionoptions: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/public/session_options.h

The minimum I know you can have is 3 threads: the two you mentioned and the one which is calling tf code.

[2017-06-26 22:29] printdhruv commented on #11065
Hi,
          In order to get tensor flow working with `Windows 10 `with old version of `Python,cUDNN,Nvidia.` Classical solution link will be [https://github.com/tensorflow/tensorflow/issues/10994](https://github.com/tensorflow/tensorflow/issues/10994)

[2017-06-26 22:30] yzhwang commented on #11022
Please include a minimum reproducer and make sure you include the exact command if possible to produce the output included in your case. If you are unclear what to include see the issue template displayed in the [Github new issue template](https://github.com/tensorflow/tensorflow/issues/new). Thanks!

[2017-06-26 22:55] sarkistlt commented on #37
it's been 2 years and still no luck?

[2017-06-26 23:03] Riamse commented on #37
Good. Fuck Javascript.

[2017-06-26 23:09] piordanov opened #11068 "Global Variables of graph not loaded on different computer"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:l
- MacOSx :
- **TensorFlow installed from binary** (pip install):
- Tensorflow version 1.1.0

### Describe the problem
I have been having issues trying to load a model from a checkpoint file. When trying to access any of the global variables created in our tensorflow model (

[2017-06-26 23:26] martinwicke commented on #10761
Usually a feature like this will involve several files. The best thing to do is to look at a similar op (say, `transpose`, maybe), and find all the files that have to be touched for that op.

There will be at least some files in core/ops, core/kernels, and python/kernel_tests, plus the BUILD files.

If the op is a pure python op, you may get away with only changing/adding a file in python/ops. Thi

[2017-06-26 23:28] martinwicke commented on #9697
@benoitsteiner Is it possible that Eigen (at 9c6361787292) does not compile on skylake?

@mwytock, could you change to a newer Eigen commit and check with that?

[2017-06-26 23:34] rohitrango commented on #11048
Yes. I reverted to v5.1 and it worked. But how do I compile it with version 6.0?

[2017-06-27 00:23] CDLuminate commented on #720
@lukeyeager The most straightforward way to make a tensorflow deb package is to repack the official whl package as a deb package, in which the Bazel dependency is skipped.

Tensorflow packaging is in my todolist but with a low priority, since pip / conda already provided a quite convenient way to install. Currently some Debian developer is also interested in packaging tensorflow, and he is current

[2017-06-27 00:31] lukeyeager commented on #720
@CDLuminate: the TF package would be simple, but I realized today I would have to re-package a bunch of its dependencies, too. It looked like I was going to have to make new packages for `protobuf`, `weakref`, `bleach`, `html5lib`, `markdown`, and `werkzeug` (and possibly some of the sub-dependencies of those packages) in order to satisfy all the dependencies on 16.04. Yuck.

[2017-06-27 00:48] chai2010 commented on #37
+1.0/0.0

[2017-06-27 00:55] martinwicke commented on #720
Most of the js deps will go away (tensorboard is moving to a separate pip
package) so it could be somewhat simpler.

[2017-06-27 00:59] alexiskattan commented on #8267
@stein2013 how did you solve it?

[2017-06-27 00:59] syw2014 commented on #8191
@w268wang not yet, still waiting for other solutions, but  comments  of @Miopas may  have a try, and I am trying the solution of @fabiofumarola

[2017-06-27 01:13] ebrevdo commented on #10842
Thang, can you comment?

On Jun 26, 2017 2:30 PM, "Andrew Selle" <notifications@github.com> wrote:

[2017-06-27 01:16] zhaoerchao commented on #10730
The script has measured the total time and the time per step, see [time measure code](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py#L670). I think it will have a significance performance improvement if the problem of the GPU idle time is solved.  Can you help to analysis the result of the script ?

[2017-06-27 01:23] simaoh commented on #7089
@dandelionmane @BarzinM,  Can we do this inside tensorflow's  tf.contrib.learn.Estimator?
Contrib.learn abstracts graph, and session, so we cannot call
[code]

I have been trying to use  tf.train.SummarySaverHook without success.
As an example how can I plot loss and loss2 in the same graph for the example below"

[code]

[2017-06-27 01:39] SimonTao opened #11070 "deadloop on replaying kernel when profiling DL network with nvprof"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-06-27 02:36] hellolovetiger opened #11071 "non-chief worker stuck in distributed SYNC mode for graph with two optimizers"
Seems distributed tensorflow cannot train graph with two optimizers in sync mode (one for local update, the other for ps update)

There are three parts in my graph:
1. each worker has its own copy of vars as the ps server, but are defined with local variable `collections=[tf.GraphKeys.LOCAL_VARIABLES]`, each worker has its own forward-backward loop based on the local vars and its own optimizer
2.

[2017-06-27 02:37] zero2hero2020 commented on #10827
same problem here! with tensorflow 1.2.0

[2017-06-27 02:58] guoying1030 opened #11072 "how use tensorflow distributed use mpi version ??"
how use tensorflow distributed use mpi version ??how use tensorflow distributed use mpi version ??how use tensorflow distributed use mpi version ??

how use tensorflow distributed use mpi version ??how use tensorflow distributed use mpi version ??

[2017-06-27 03:54] TethysSun opened #11073 "Building from source MAC OS: invalid command 'bdist_wheel'"
I'm having a problem when building tensorflow from source on MAC OS:

[code]
My python version:
[code]

I tried `pip install wheel`, `pip3 install wheel`, `pyenv global 3.6.2` which didn't work.
[code]

Does anyone encounter this problem or know how to fix it?
Thank you!

[2017-06-27 03:56] Veboy commented on #11048
@rohitrango follow [the official guide](https://www.tensorflow.org/install/install_sources). Bazel will eventually ask you what version you want to use.

[2017-06-27 05:21] byronyi commented on #9926
This happens at very beginning in the training. I am wondering if the connections are setup at all, too.

[2017-06-27 06:23] sefira commented on #8109
Some python targets are missing the srcs_version="PY2AND3" annotation in the BUILD file.  In the meantime, any python target in python/BUILD without this annotation will fail when compiled with python 3. #791

[2017-06-27 06:33] AndreaPisoni commented on #10983
Did you figure it out?

[2017-06-27 06:37] JerrikEph opened #11076 "Is it possible to add a feature to tf.Print , so that it will be capable to save tensor value to file?"
Since the while_loop operation is hard to debug, usually we use `tf.Print` to visual tensors in the loop. but `tf.Print` only print a summarization of a tensor. Sometimes I need to get all the value in a tensor, and it is not possible to use `sess.run()` to eval the intermediate tensor value in a loop unless use `TensorArray`. any body would add a **save-to-file** option in `tf.Print` .

[2017-06-27 06:37] abhiML commented on #10983
Yeah you just have to specify --input_binary=True.

[2017-06-27 07:24] CDLuminate commented on #720
@lukeyeager New Debian stable had just been released. Developers will upload new versions of their packages soon. AFAIK, for instance, the protobuf 3.3.1 packaging is already available but still not uploaded. Some new packages still stay in experimental.

[2017-06-27 07:24] lonway commented on #7604
How to find the API map between the old and new version @tifoit

[2017-06-27 07:33] sunxiaoben opened #11077 "something wrong with attentionwrapper?"
I am trying to write a seq2seq model with attention. But it gets the following error:

    cell_inputs = self._cell_input_fn(inputs, state.attention)
AttributeError: 'tuple' object has no attribute 'attention'

It seems the state which initialize by the encoder state that does't has the attribute 'attention'.
How should I call AttentionWrapper?

Here is my code:

        cell_list = []
        for

[2017-06-27 08:03] ckalas opened #11078 "error running object_detection samples TypeError: unorderable types: tuple() < str()"
I cannot run any of the examples from the new object detection api. I followed the documented "prepare inputs" and "run locally", but when I run the below command I get the following error.

`python3 train.py --pipeline_config_path=/home/chris/tensorflow/models/object_detection/samples/configs/ssd_inception_v2_pets.config --train_dir=.
`
`Traceback (most recent call last):
  File "train.py", line

[2017-06-27 08:41] huyong1109 opened #11080 "Feature Request： delete key in MutableHashTable"
A 'delete' method in contrib.lookup.MutableHashTable would be useful when there are too many <key, value> pairs and we can only handle the recent ones!
Is there any possibility that the delete method will be implemented? Thanks. @vrv @ebrevdo

[2017-06-27 09:21] jubjamie commented on #10104
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

As this is a pretty popular example and people have little trouble with it I will assume that this isn't a bug with Tensorflow. As such it might be better on Stack Overflow. Can you please post the directory structure of the files and also the code/command you are running. The d

[2017-06-27 09:22] abieler commented on #1940
The solution to this issue would be interesting indeed :)

[2017-06-27 09:33] nfergu opened #11081 "Problem with operating system allocated ports in distributed Tensorflow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes (simple test case to reproduce)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Reproduced on Ubuntu 16.04.1 and MacOS Sierra (10.12.5).
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: v1.2.0-rc2-21-

[2017-06-27 09:57] drormeir commented on #8057
I'm working with the C++ API and I cannot find any default values nor recommendations for the parameters values of the tensorflow::ApplyAdam class.
What are the current default values for beta#_power that are passed from the python class to the lower level API?

[2017-06-27 10:32] Tinyik commented on #11037
I'm getting exactly the same error too.

[2017-06-27 11:08] wbwvos commented on #10375
Another thing I would like to add is that it would be awesome if there would be an option to **return a `SparseTensor`** instead of a `Tensor`, I am doing normalization of a `SparseTensor` with `tf.sparse_tensor_dense_matmul` but this results in a dense `Tensor` with the same shape as the `SparseTensor`, which makes the whole `SparseTensor` obsolete.

[2017-06-27 12:18] OnlyBelter commented on #1511
Same problem, should be something like this:
`losses = tf.nn.softmax_cross_entropy_with_logits(logits=scores, labels=self.input_y)`

[2017-06-27 12:39] mdeff opened #11082 "Only use weakref.finalize from backports in Python < 3.4"
### System information
- Arch Linux (up-to-date)
- TensorFlow installed from binary (with pacman, Arch package manager)
- TensorFlow version: 1.2.0
- No GPU or CUDA

### Describe the problem
[tensorflow/python/util/tf_should_use.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/util/tf_should_use.py) is doing `from backports import weakref` (introduced by    cf238e1f2f6830

[2017-06-27 14:01] EloiZ commented on #5722
Do you know when the latest version of StagingQueue (i.e. with capacity and memory_limit options) will be integrated in tensorflow releases? Is it planned to add examples of how to use?

[2017-06-27 14:21] TheButlah commented on #9527
Unsure if this is the place to write this info, but I have been working on a comparison of different unfolding methods with LSTMs, and I am getting about 2x slower training speeds when using dynamic_rnn versus manually unrolling the graph statically in python, and about 1.5x slower training speeds when using static_rnn versus unrolling the graph statically in python. Given that I am using dynamic_

[2017-06-27 14:36] kyo744 commented on #11066
I changed num_threads at line 116 in threadpool.cc to 0 and I bypassed the threading error but of course when I do sesson.run() I got pointer pointing invalid address.

[2017-06-27 14:40] jubjamie commented on #10975
No worries. Made me chuckle too :)

[2017-06-27 14:53] kopekC commented on #8776
This is not a TF issue.

Closures are defined over names and not over values (https://stackoverflow.com/a/13355291). In this case, all the lambdas ended up with the value the variable had at the end of the loop. A simple solution is to have a lambda generate the lambdas you are trying to iterate over and pass the iterated value as the first and only argument. The closure is now defined over a cons

[2017-06-27 15:14] tfboyd commented on #5722
@EloiZ  Examples of how to StagingQueue is in [here](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py).  Depending on your experience with TensorFlow it may or may not be hard to get working.  There is some documentation [here](https://www.tensorflow.org/performance/performance_models)but it is far from step by step.

I cannot promise a date but i

[2017-06-27 15:32] jwayne commented on #8776
@knub and I agree with @kopekC. The issue described is not a TF issue, but rather an issue with how the problem was constructed, and this thread should remain closed.

[2017-06-27 15:47] skye commented on #11025
@nealwu can you comment on this or redirect to someone who can? Thanks!

[2017-06-27 15:50] skye commented on #11027
Would you be able to provide us with your metagraph files? Otherwise this will be very hard to reproduce and diagnose.

Also, how long did you try running the command before cancelling it? I'm wondering if it's truly stuck or taking a long time.

[2017-06-27 16:03] skye commented on #11031
It looks like you need a newer version of gcc. Unfortunately you're not building on an officially-supported OS, so most likely you'll have to figure out how to upgrade gcc or use Ubuntu. I'm going to close this issue since it's not a TensorFlow bug or feature request.

[2017-06-27 16:03] #11031 closed

[2017-06-27 16:04] skye commented on #11035
@dandelionmane @jart

[2017-06-27 16:09] skye commented on #11037
@wolffg this looks like a virtualenv problem and not a TensorFlow problem, but if this is a common problem we might need to update our virtualenv install docs. If you think this should work for most people feel free to close and redirect to a different forum.

[2017-06-27 16:16] skye commented on #11041
@ispirmustafa can you comment on this or redirect to someone else? Thanks!

[2017-06-27 16:18] skye commented on #11045
@martinwicke can you look at this or redirect? Thanks.

[2017-06-27 16:20] shamoya commented on #9926
Hi @byronyi,
We did some benchmarks lately, but I don't recall seeing the exact issue you are seeing.
can u specify the test and cluster spec being used?

I'm seeing a different issue, tf_cnn_benchmark gets stuck when the scale is >=4 nodes (with 8 gpus each) and working with real ImageNet data. This happens in IB as well as RoCE.
Not clear what is the issue yet, the RDMA connections looks ok.
Any

[2017-06-27 16:20] jarheadfa commented on #1668
The link is broken. What is the correct link?

[2017-06-27 16:20] Dakkerad opened #11085 "Tensorflow - Metal Support for Mac OS"
Hello!
I have seen and read some requests for OpenCL support and GPU support on Mac OS, this seems to have been abandoned, am I correct?
But it also seems like Apple is really trying to make Metal big, is this something you have thought of implementing? I understand its not just made by thinking of it, but I would just like to know if any progress is made with GPU support for Mac OS?

[2017-06-27 16:20] futurely commented on #9859
Only a single line is required to use all the high level ops from layers or its alias [slim](https://github.com/tensorflow/tensorflow/blob/5bb3d62fb2a28ef3cd9f02eeebde82560313905a/tensorflow/contrib/slim/__init__.py).
[code]

[2017-06-27 16:22] Randl commented on #11043
@skye Why it's closed?

[2017-06-27 16:24] ispirmustafa commented on #11041
Yes we keep it the deprecated version. This is fixed in the core version of DNNClassifier. (tf.estimator.DNNclassifier) which will be available with 1.3 or at head.

[2017-06-27 16:24] #11041 closed

[2017-06-27 16:24] skye commented on #11061
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-27 16:24] #11061 closed

[2017-06-27 16:28] skye commented on #11071
@mrry can you comment? Is this a TF bug?

[2017-06-27 16:28] 4l4l4l commented on #11043
I just asked for versions of building tools and no answer for it. Pretty sad you cant help me with it, because i have no clue how deal with it.

[2017-06-27 16:37] skye commented on #11043
Ah sorry, didn't realize you were still asking for help.

Can you fill out the new issue template please? In particular what OS are you using?

@gunan it looks like clang/gcc versions aren't documented, do you know if/when we expect building with clang to work?

[2017-06-27 16:39] martinwicke commented on #11045
Yun, do you know what could be causing this behavior on Win10?

[2017-06-27 16:40] GearFear opened #11086 "KMeansClustering fail with Assertion Error"
I try to use KMeansClustering on letter recognition dataset (http://archive.ics.uci.edu/ml/datasets/Letter+Recognition). I use first 16000 rows. I use this code:

import tensorflow as tf
kmeans = tf.contrib.learn.KMeansClustering(10)
training_set = pd.read_csv("letter_train.csv", header=None, dtype=np.float64)
FEATURES = ["V" + str(i) for i in range(16)]
training_set.columns = ["V" + str(i) for i

[2017-06-27 16:42] gunan commented on #11043
Are you configuring to use when building for GPU?
You may need a bleeding edge build of clang, that has GPU support.

Also, could you fill in the issue template?
I cannot really comment much without knowing your OS version, what commit you guys synced to, etc.

[2017-06-27 16:42] skye commented on #11051
@petewarden

[2017-06-27 16:43] skye commented on #11077
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-27 16:44] skye commented on #11081
@saeta can you comment or redirect? Thanks!

[2017-06-27 16:45] skye commented on #11085
@petewarden can you comment or redirect? Thanks.

[2017-06-27 16:50] Randl commented on #11043
@gunan I've used Ubuntu 16.04, clang-5.0 (i.e. development branch), and master branch of tensorflow. CUDA 8.0 and cudnn 6.

[2017-06-27 16:52] George35mk commented on #37
Use synaptic https://github.com/cazala/synaptic

[2017-06-27 16:53] fchollet commented on #9859
@martinwicke, this issue comes up regularly. We should consider adding `tf.layers.flatten`, as previously discussed...

[2017-06-27 16:57] RylanSchaeffer commented on #11067
@aselle If you have time, maybe you could answer [the question](https://stackoverflow.com/questions/44613173/how-to-visualize-attention-weights-from-attentionwrapper) on Stack Overflow? It's clear I'm not the only person struggling to access the AttentionWrapper weights.

[2017-06-27 16:59] RylanSchaeffer commented on #11067
@ebrevdo , you were helpful on an earlier thread. If you have the time, could you please provide an answer to my first question of how to access the attention mechanism's weights?

[2017-06-27 16:59] yongtang commented on #10838
A big chunk of the warning is the protobuf package (external). Not sure if there is a way to inject `-Wwrite-strings` to protobuf's gcc command in tensorflow's bazel specs.

[2017-06-27 17:10] gunan commented on #11063
@av8ramit I think we should make a patch release with this.
Could you make the change in release branch, and release 1.2.1?

[2017-06-27 17:12] eshirima commented on #10739
Facing the same issue as well.
Stepping into the code, the error is raised because the operations dictionary doesn't have `QuantizedAdd` but has `QuantizedBiasAdd` instead, line 279 of the [importer.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/importer.py)

[Contents of the operation dictionary](http://imgur.com/a/kvHIi)

[2017-06-27 17:14] alextp commented on #8057
They have to be variables, and by default are initalized such that beta1=0.9 and beta2=0.999

[2017-06-27 17:15] av8ramit commented on #11063
@gunan sure sounds good, I'll get started.

[2017-06-27 17:27] alextp commented on #11066
0 is not supported, as I said above. It'll only work if each number of
threads is at least 1.

On Tue, Jun 27, 2017 at 7:38 AM, kyo744 <notifications@github.com> wrote:

--
 - Alex

[2017-06-27 17:30] petewarden commented on #11051
From looking at the error, the immediate cause may be the `memmapped_env` variable being destroyed by the time that code is called. I would recommend making sure that the lifetime of the variable you pass into `LoadMemoryMappedModel()` is the same as that of the model. For example, you could make it a global variable, or some other long-lived scope.

[2017-06-27 17:31] petewarden commented on #11085
@keveman has been looking at this.

[2017-06-27 17:42] apockill commented on #11078
I am also having this exact issue on python 3 with tensorflow for GPU. I might be making a mistake somewhere along as well, though.

[2017-06-27 17:42] gunan commented on #11043
@Randl, which version of TensorFlow are you trying to build?
Also, when configuring, are you trying to use clang as the cuda compiler?
Or is clang simply the default compiler on your system while you use nvcc for GPU code.

[2017-06-27 17:44] mrry commented on #11071
I don't think it's a bug, although without a self-contained example I can't say for sure.

The most likely cause of `sv.managed_session()` hanging is because `sv.prepare_or_wait_for_session()`  is blocking inside [`SessionManager.wait_for_session()`](https://github.com/tensorflow/tensorflow/blob/90b2a38a1f7cd7cde0f012249407574e97583096/tensorflow/python/training/session_manager.py#L363). The non-c

[2017-06-27 18:00] mwytock commented on #9697
@martinwicke I tried eigen commit 5a0156e40feb which corresponds to version 3.3.4 released 6/15

Its unclear to me if this fixes the original issue but it seems to cause new eigen-related compilation issues

[code]

I suspect someone with more knowledge of eigen/tensorflow internals will need to take a look.

Also, for what its worth, I'm compiling this on vanilla Ubuntu 16.04 running on a skylake

[2017-06-27 18:07] Randl commented on #11043
@gunan
I'm trying to build 708cbaf2f6bbbda931e7bf627ce5f840d9c92162
I've configured clang as CUDA compiler and I'm using gcc as system compiler and Tensorflow compiler.

[2017-06-27 18:10] RylanSchaeffer commented on #11067
Nevermind. I was being an idiot. All good :D

[2017-06-27 18:11] martinwicke commented on #9859
Sigh. Alright.

[2017-06-27 18:16] gunan commented on #11043
@ilya-biryukov Could you look into this issue?
Which version of clang do we need to use to build TF with GPU support?

Maybe we should add a note in the configure script for the minimum required clang version.

[2017-06-27 18:27] dandelionmane commented on #11035
@cxwx Can you open an issue at github.com/tensorflow/tensorboard with the following information:
- What was the output that TensorBoard printed to console?
- What was the output that TensorBoard printed to web console? (in chrome, right click on the page + click "inspect")
- What browser are you using?
- What OS are you using?
- What exactly is TensorBoard displaying?

I'm closing this issue since

[2017-06-27 18:27] #11035 closed

[2017-06-27 18:35] cancan101 opened #11087 "[feature] Option to Selectively Disable Certain Graph Optimizations"
repost from: https://github.com/tensorflow/tensorflow/commit/999b794c137d12d73adbf41dcbe9383a0cd94769#commitcomment-22789669 (CC @petewarden).

On iOS when using a graph that has been "memory mapped", you want to disable constant folding to prevent the optimization pass from copying all of the weight data. The current way to do so is to set optimization [level `L0` which disables all optimizations

[2017-06-27 18:41] tngan commented on #37
Inspired from [deep_recommend_system](https://github.com/tobegit3hub/deep_recommend_system), I am now trying another way to access the model with Node.js through tensorflow serving, still in progress.

https://github.com/tngan/tensornode

[2017-06-27 18:44] ebrevdo commented on #9527
static_rnn with sequence_length= passed in will generally outperform manual
unroll if the unroll size is bigger than *all* of your sequence lengths.
 this is not the case for BPTT.  when using BPTT, do not pass the
sequence_length argument to static_rnn since you usually  want to calculate
all time steps.  that argument is more useful when doing static unroll for
seq2seq or other nontrivial archit

[2017-06-27 18:49] byronyi commented on #9926
Hi @shamoya I followed the same configuration guide [here](https://community.mellanox.com/docs/DOC-2911).

Hardware:
We are using a 4-node 40Gb RoCE topology, with 4 K40m GPUs each node and and ConnectX-3 dual port NIC that connects to 2 MSN2100-BB2F switches. The switch is configured with link-level flow control (as opposed to PFC).

Software:
We are using Debian 9 with in-stock kernel version 4.

[2017-06-27 18:51] QROST commented on #10033
I solved this problem by duplicate a `cudnn64_6.dll` into `cudnn64_5.dll` in the `cuda\bin` dictionary. Thx @jianglai

[2017-06-27 19:02] wolffg commented on #6847
I think @vrv is more likely to be able to clear this up than I.

[2017-06-27 19:11] byronyi commented on #11085
https://github.com/caffe2/caffe2/pull/215 could serve as a reference.

[2017-06-27 19:17] ahundt commented on #1686
Some work has been done on this here:
https://github.com/jhollowayj/tensorflow_slurm_manager/

[2017-06-27 19:23] byronyi commented on #10033
@QROST @jianglai Please be careful. You could download cuDNN v5.1 and place it in the same folder of cuDNN v6.0. Making alias of different versions is generally not considered as a good practice.

[2017-06-27 19:36] byronyi commented on #9926
Just as an update, [here](https://gist.github.com/byronyi/52496c089b98bbe254f899742cf9bf93) and [there](https://gist.github.com/0942396aef46720d6791839e7423a9a3) are the complete logs when we run into errors. I do have some time lately so I could try to figure it out this week.