[2017-10-20 08:00] imaoldboy commented on #13653
I got this when run the speech demo:
 Caused by: java.io.IOException: Not a valid TensorFlow Graph serialization: Shape must be rank 1 but is rank 0 for 'Mfcc' (op: 'Mfcc') with input shapes: [16000,0,257], [].

[2017-10-20 08:02] imaoldboy commented on #13653
@asimshankar, I got this when run the speech demo:
Caused by: java.io.IOException: Not a valid TensorFlow Graph serialization: Shape must be rank 1 but is rank 0 for 'Mfcc' (op: 'Mfcc') with input shapes: [16000,0,257], [].

[2017-10-20 08:58] formath commented on #13772
Because I build source code using `tensorflow/contrib/makefile/build_all_ios.sh` on macOS, it maybe define a macro `IS_MOBILE_PLATFORM` as true. In this circumstance, it don't support int64. Please have a look. Thanks. @petewarden

[2017-10-20 08:59] xunkaixin opened #13853 "how can i use "TF_SetTarget or TF_SetConfig" to set the number of threads in c code"
### Source code / logs
this is my c code:

	TF_SessionOptions* sess_opts = TF_NewSessionOptions();
	std::string str("intra_op_parallelism_threads = 4");
	TF_SetConfig(sess_opts,(void *)str.c_str(),str.size(),status);
	if (TF_GetCode(status) != TF_OK) {
		  printf("ERROR: %s\n", TF_Message(status));
	}

this is the debug output:

       Successfully imported graph
       ERROR: Unparseable ConfigPr

[2017-10-20 09:03] corwinliu commented on #3308
@jart Thanks a lot. I found that the tensorflow serving project(https://github.com/tensorflow/serving) is a good example to learn how to build C++ program including the tensorflow headers.

[2017-10-20 09:11] antifriz commented on #13822
New scoping implementation (the cause of the opened issue) also causes scopes not scoping their implementations correctly.

A slightly modified code with repeating layers results in bad scoping.
[code]

Convolutions are named:

1. conv2d_1/convolution
2. conv2d_2/convolution

And their weights are named:

1. conv2d/kernel
2. conv2d_1/kernel

Which results in different layers being placed partially

[2017-10-20 09:20] onyamaa opened #13854 "tf.train.SyncReplicasOptimizer training does not start"
System information
- **Have I written custom code **: Yes
- **OS Platform and Distribution **: Linux Ubuntu 16.04
- **TensorFlow installed from **: binary
- **TensorFlow version (use command below)**: tensorflow-gpu==1.3.0
- **Python version**: Python 3.6.2
- **Bazel version (if compiling from source)**: not installed
- **CUDA/cuDNN version**: Cuda compilation tools, release 8.0, V8.0.61
- **GPU m

[2017-10-20 09:57] orange-jacky opened #13855 "compile source code fail on mac"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
macOS Sierra 10.12.6
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.3.0
- **Python version**:
Python 2.7.10
- **Bazel version (if compiling from source)**:
macbookpro:tensorflow fredlee$ bazel version
Build label: 0.7.0-homebrew
Build target: bazel-out/d

[2017-10-20 09:58] smarsching commented on #13220
@m3bm3b Yes, the bug on Sierra seems to affect all standard library headers that internally use the `__threading_support` header. In addition to `<mutex>` this also affects `<condition_variable>` and `<thread>`.

I just checked and this problem is still present in Sierra, even with the most recent update of the developer tools.

[2017-10-20 10:04] facaiy commented on #13823
Hi, do you mean to replace `array_ops.zeros` by `fill`?

https://github.com/tensorflow/tensorflow/blob/408fd454d7d2a16269576ea12bcd516e25a6b0c5/tensorflow/python/ops/linalg_ops.py#L134

[2017-10-20 10:18] zh794390558 commented on #13745
@mrry Thanks, it's work.

[2017-10-20 10:18] #13745 closed

[2017-10-20 10:21] albertz commented on #13802
Actually, overriding `pthread_atfork` via `LD_PRELOAD` does not always work. See [here](https://stackoverflow.com/questions/46845496/ld-preload-and-linkage) for details.

Yet another solution is to override `fork` via `LD_PRELOAD` with this:
[code]

This seems to work now (see my recent referenced commit).

[2017-10-20 12:34] KeironO commented on #13838
Hi there @printdhruv,

I'm under the weather today, so excuse my sloppy reply.

If you look at the graph, the very first "node" is:

[code]

[2017-10-20 12:46] printdhruv commented on #13838
@KeironO Can you list the whole program with the steps/procedure you are taking to execute it?

[2017-10-20 12:51] yaroslavvb commented on #13823
Actually I just realized someone already has a PR to fix this: https://github.com/tensorflow/tensorflow/pull/13666

To see problem with current solution try
[code]

You see a large const node being allocated on the GPU which is a problem because this memory will not be released at the end of `sess.run`

[2017-10-20 13:34] Timmmm commented on #13705
I have the same issue but it happens when I `#include <tensorflow/core/framework/op_kernel.h>`:

[code]

I added `-I../tensorflow/third_party/eigen3` which allows it to find the `Tensor` header, but ... that file seems to `#include` itself??

[code]

I don't see how this could ever work. Also that file doesn't match [the current `Tensor` header](https://bitbucket.org/eigen/eigen/src/d63bd3cb7378d8

[2017-10-20 13:37] bshao001 commented on #13692
If you want to use model parallelism, refer to the TensorFlow NMT model tutorial. However, based on my limited test, separating a seq2seq model (NMT model) in two layers to 2 GPUs does not speed up the training at all. It actually makes the training slightly slower. Running a 4-layer model might help using that. However, I could not see any capacity increase by increasing the number of layers (you

[2017-10-20 14:59] KeironO commented on #13838
[code]

[2017-10-20 15:25] teramototoya commented on #8102
Is there a way to change add to update?

[2017-10-20 15:29] andrewrichards commented on #22
Come to my talk next week at Arm TechCon, @laMia482 ! http://schedule.armtechcon.com/session/running-tensorflow-machine-learning-on-arm-embedded-hardware/850230

You will need Mali drivers with SPIR-V support, which is probably not easily available, yet. And you will need a ComputeCpp runtime for Android with Arm CPU support and SPIR-V support, which is also not available (yet). So, you will have

[2017-10-20 15:35] choongng commented on #22
We (Vertex.AI) have just open sourced PlaidML, our deep learning stack with support for running Keras on OpenCL. TensorFlow support is coming, help there would be welcome. And yes, Mac support is on the way (also Windows). http://vertex.ai/blog/announcing-plaidml @ggaabe

[2017-10-20 15:44] javadnoorb opened #13856 "AttributeError: module 'tensorflow' has no attribute 'estimator'"
Hi, for some reason 'estimator' isn't an attribute of 'tensorflow' when I test it on Mac.

When I try:

`tf.estimator.Estimator(model_fn)`

I get this error

`AttributeError: module 'tensorflow' has no attribute 'estimator'`

This works fine in Linux though. Upgrading pip/conda/tensorflow did not affect this behavior. Is there a workaround?

-Thanks

### System information
- Mac OS X 10.9.5 (x86_6

[2017-10-20 15:53] Timmmm commented on #13705
Actually... I have no idea how it supposed to work, but I think this is a result of me trying to build a program as if Tensorflow was a normal library that can be used from any build tool just by linking with it and adding its include paths. It turns out that is not the case. You *have* to use Bazel and your code must be kept within the Tensorflow repository. Quite mad. More details [here](https:/

[2017-10-20 16:06] allenlavoie commented on #13855
There are two issues. First, the documentation is out of date (cc_binary -> tf_cc_binary to link in libtensorflow_framework.so). Second, even if it were updated at head, that's the 1.3 version of the documentation (CC @MarkDaoust; I'll send you a CL for both).

[2017-10-20 16:06] drpngx commented on #13855
Thanks @allenlavoie !

[2017-10-20 16:08] drpngx commented on #13803
What is the feature request? What is wrong with the second answer on stack overflow?

[2017-10-20 16:09] allenlavoie commented on #13705
Haven't had a chance to look into the Eigen headers. The documentation being out of date I will fix; it needs to use tf_cc_binary to link in its dependencies.

[2017-10-20 16:30] Timmmm commented on #13855
With `tf_cc_binary` in the `BUILD` file I get:

    ERROR: /..../tensorflow/tensorflow/cc/example/BUILD:1:1: name 'tf_cc_binary' is not defined (did you mean 'cc_binary'?).

[2017-10-20 16:32] allenlavoie commented on #13855
Yes, you also need `load("//tensorflow:tensorflow.bzl", "tf_cc_binary")` at the top to define it.

[2017-10-20 16:35] MarkDaoust commented on #13855
The 1.3 docs will be replaced by 1.4 soon. The r1.4 branch is cut, so if you want this in the docs before 1.5 you will need to cherry-picked the commits onto that branch (docs changes can be cherry-picked with out affecting the release).

[2017-10-20 16:38] Timmmm commented on #13855
Ah that worked, thanks!

[2017-10-20 16:46] xFoolCode opened #13857 "Trying to import tensorflow but im getting this im using the cuda 9 and cudnn 7"
Traceback (most recent call last):
  File "/home/mohammad/.local/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py", line 41, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/home/mohammad/.local/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper(

[2017-10-20 16:51] xFoolCode commented on #13857
i have checked the cuda and cudnn instalations and they passed the tests

[2017-10-20 18:02] ilkarman opened #13860 "cudnnGRU is_training placeholder"
When creating a model with batch normalisation I can supply a place-holder for the is_training param like so:

[code]

However when I do this for a symbol that contains cudnnGRU (or cudnnLSTM), it doesn't like the place-holder:

[code]

Error message:

TypeError: Expected bool for argument 'is_training' not <tf.Tensor 'Placeholder_2:0' shape=<unknown> dtype=bool>.

[2017-10-20 18:16] zhangb223 commented on #12474
There are always errors for me to command **eigen-...-diff** file.

I can't command the code **cd -P bazel-out/../../../external/eigen_archive** correctly. I tried when terminal was in tensorflow file and tensorflow1.3 file. But it doesn't work. Could you please tell me what
**bazel-out/../../../**  means and what the file` **/../../../**  is? Can I just substitute the exact file of **bazel-out/..

[2017-10-20 18:17] zhangb223 commented on #12474
@tfboyd

There are always errors for me to command eigen-...-diff file.

I can't command the code cd -P bazel-out/../../../external/eigen_archive correctly. I tried when terminal was in tensorflow file and tensorflow1.3 file. But it doesn't work. Could you please tell me what
bazel-out/../../../ means and what the file` /../../../ is? Can I just substitute the exact file of bazel-out/../../../ ?

[2017-10-20 18:18] zhangb223 commented on #12474
@tfboyd

There are always errors for me to command **eigen-...-diff** file.

I can't command the code **cd -P bazel-out/../../../external/eigen_archive** correctly. I tried when terminal was in tensorflow file and tensorflow1.3 file. But it doesn't work. Could you please tell me what
**bazel-out/../../../** means and what the file**/../../../** is? Can I just substitute the exact file of **bazel-o

[2017-10-20 18:25] vs-zhehangd opened #13861 "Channel number of convolution output is unspecified when atrous rate > 1"
Python 2.7
Tensorflow v1.2.0-rc2-21-g12f033d and v1.3.0-rc1-2361-gd1286ab

Easily reproduced by the following code:
[code]
The input has known channel number but unknown width and height, in NCHW format. The convolution has rate >= 2. The channel number of the output `y` is obviously known, `(1, 20, None, None)` in this example, depending on the shape of `w`. However the execution result gives
[co

[2017-10-20 18:42] javadnoorb commented on #13856
This was a persistent error that somehow was resolved (after multiple restarts of terminal). Since I don't know how to reproduce it anymore I think this thread can be closed.

[2017-10-20 18:44] ppwwyyxx commented on #13857
No prebuilt tenosrflow supports cuda 9.0 yet. You need to build it from source with cuda 9.

[2017-10-20 18:47] hy9be commented on #22
@choongng I wanted to give it a try but failed.
``pip search plaidml`` returns
[code]
But ``pip install plaidml`` or ``pip install plaidml==0.1.0rc3``
returns
[code]

[2017-10-20 18:49] #13856 closed

[2017-10-20 18:59] Iolaum commented on #22
@hy9be  I think it would be more appropriate to make an issue at [plaidml repository](https://github.com/plaidml/plaidml) instead of here, since this is issue about supporting OpenCL in tensorflow. Additionally by looking at the installation instructions there your pip install command may be incorrect.

[2017-10-20 19:01] Remi-Coulom commented on #3101
I think #6590 does not address this. #210 is a duplicate, and offers that solution: https://gist.github.com/raingo/a5808fe356b8da031837

I think it would be more coherent and nicer if it could be the default behaviour of tensorflow.

[2017-10-20 19:05] BrazilForever11 commented on #9090
What about google drive? Does it work if saving to google drive?

[2017-10-20 19:34] SimonWalsh1000 commented on #12388
@mykalu when I run `pip install tensorflow-gpu==1.3.0` I also have a folder called tensorflow. Is this correct? I am having the same issue - my GPU is not being utilized.

[2017-10-20 19:35] kumargp commented on #13705
Download eigen (from eigen.tuxfamily.org) and add it in the path, then 'unsupported' directory containing the Eigen/CX11/Tensor will be in the search path. This 'Tensor' file is pointed to by the #include in the tensorflow.
But there are a bunch of other files missing, like .pb.h files.

[2017-10-20 19:38] andydavis1 commented on #13860
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-20 19:38] #13860 closed

[2017-10-20 19:39] andydavis1 commented on #13848
@petewarden @andrewharp Can either of you comment?

[2017-10-20 19:42] andydavis1 commented on #13824
Please ask this first on StackOverflow to see if you get some response to using TF with embedding integer index lookups.

[2017-10-20 19:42] #13824 closed

[2017-10-20 19:45] andydavis1 commented on #13822
@martinwicke Can you comment on this one? Thanks...

[2017-10-20 19:45] andydavis1 commented on #13844
@asimshankar Can you comment on this one?

[2017-10-20 19:47] andydavis1 commented on #13818
@asimshankar Can you comment on this one. Thanks..

[2017-10-20 19:48] malmaud commented on #13826
I thought it was a bug, though.

[2017-10-20 19:50] malmaud commented on #13826
Especially since this *does* work (`grad` is not `nothing`), where the only difference is whether `inc` is external to the while loop or not:

[code]

[2017-10-20 19:59] nikonikolov opened #13865 "Feature Request: Support for None values in tf.contrib.data.Dataset"
It would be very handy if the Dataset API supports `None` types. The idea is to be able to use the same `Iterator` object for the training and the test datasets. As the training dataset contains labels and the test dataset does not, the only workaround I know at the moment is to use some dummy labels in order to make the two datasets compatible with the same `Iterator`. This can waste a lot of mem

[2017-10-20 20:07] tfboyd commented on #12474
@zhangb223    @chunfuchen

I suggest taking TensorFlow from head and not using this patch.  I will update the original comment.

CUDA 9 with no other changes speeds up V100s over CUDA 8 in my testing of ResNet50 FP32.  I hope to share the teams FP16 code and some results but we are still working through a variety of items.  Technial the tf_cnn_benchmarks.py code currently published will do FP16 bu

[2017-10-20 20:07] #12474 closed

[2017-10-20 20:10] tfboyd commented on #12474
I marked this closed but as always (or mostly) I am happy to answer questions and share status when I have time.

[2017-10-20 20:44] martinwicke commented on #13822
I'm sorry -- @antifriz what you describe looks like it's working as intended. What would be the desired behavior here?

The scoping differences should be immaterial, you should be able to save and load *Keras* models between the different backends, etc.

Important is that reusing a layer reuses the variables, and that using a new layer will *not* share any variables.

@fchollet FYI, if you see an

[2017-10-20 21:12] icetortoise opened #13868 "speech_commands svdf model does not work in android demo app."
== cat /etc/issue ===============================================
Mac OS X 10.12.6

== are we in docker =============================================
No

== compiler =====================================================
Apple LLVM version 9.0.0 (clang-900.0.37)
Target: x86_64-apple-darwin16.7.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xct

[2017-10-20 21:20] rmlarsen commented on #13298
Guys, TensorFlow is using the standard mathematical definition of the SVD: A = U \Sigma V^H. The right singular vectors of A are the columns of V. The left singular vectors of A are the columns of U. It is true that some libraries return V^H instead of V (for performance reasons).

[2017-10-20 21:20] #13298 closed

[2017-10-20 21:23] rmlarsen commented on #13298
See:

https://cs.corp.google.com/piper///depot/google3/third_party/tensorflow/python/kernel_tests/svd_op_test.py?rcl=171836140&l=120

[2017-10-20 21:33] allenlavoie commented on #13855
The documentation should be fixed now. Thank you for the report!

[2017-10-20 21:33] #13855 closed

[2017-10-20 21:46] sullivak opened #13869 "conv2d_transpose crashing, "NotFoundError: No algorithm worked!", only with batch size >=2^16"
I'm getting a crash running a simple autoencoder network, stack trace below. Interestingly if I trim the batch size of the input (validate_vecs_normed) to 65535, everything is fine. E.g.
`validate_vecs_normed.shape (65536, 75)` crashes, `validate_vecs_normed.shape (65536, 75)` does not. The size of input is less than 20 MB so should be plenty of room with a 12GB card.

[code]
Possibly related to #

[2017-10-20 21:48] powderluv commented on #7958
@keveman Do you have your framework somewhere to try ? Even if it is WIP maybe easier to build on the same foundation

[2017-10-20 22:05] andydavis1 commented on #13826
I could be missing something, but gradients of interval-valued functions are undefined. Can you explain your use case further?  Or are you just looking for it to return None for this case, instead of some undefined nonsensical value?

[2017-10-20 22:12] andrewharp commented on #13848
@kriszhangyf I think the flag you want is `--fat_apk_cpu`. IIRC `--cpu` merely refers to the host target.

Also, I'm not certain --config=android_x86 will do anything (that may have inadvertently come from Google-internal commands we use to build).

[2017-10-20 22:21] andrewharp commented on #13653
@imaoldboy libtensorflow_demo.so is an optional library, so there is no issue due to it being missing (it only contains object tracking and accelerated image color conversion code).

libtensorflow_inference.so is the one that contains TensorFlow itself. Are you depending on `org.tensorflow:tensorflow-android:+` and still seeing this issue? Can you tell what version of the TF native library you're

[2017-10-20 22:41] malmaud commented on #13826
I don't have an opinion on what the answer should be-just that it should be
consistent whether or not 'inc' is an int or a float, and whether or not
'inc' is internal or external to the looo.
On Fri, Oct 20, 2017 at 6:07 PM andydavis1 <notifications@github.com> wrote:

[2017-10-20 22:48] yaroslavvb commented on #13298
The issue is that the docs say that tensorflow result is equivalent to `v` returned by `numpy.linalg.svd` but in fact it is equivalent to `v'`

[2017-10-20 22:52] sujitbiswas opened #13872 "tensorflow java image not found"
i am running with Mac OS
<dependencies>
		<dependency>
			<groupId>org.tensorflow</groupId>
			<artifactId>tensorflow</artifactId>
			<version>1.4.0-rc0</version>
		</dependency>
	</dependencies>

please note the issue is seen in 1.4.0-rc0 and 1.3.0, however the example works fine with 1.3.0-rc0

org.tensorflow.NativeLibrary: tryLoadLibraryFailed: no tensorflow_jni in java.library.path
org.tensorf

[2017-10-20 22:57] andydavis1 commented on #13826
Again, maybe I'm missing something, but your initial cases make sense to me. If the induction variable update is a integer in the loop body, then it cannot compute a gradient and so returns None. However, if the induction variable it a float it can compute a gradient and so returns one. This seems "working as intended", no?

[2017-10-20 23:08] #13144 closed

[2017-10-20 23:47] ozabluda commented on #13568
This was caused by https://github.com/fchollet/keras/pull/3253. The repository also has a list for keras issues.

[2017-10-21 00:49] dandelionmane commented on #12974
@martinwicke @ispirmustafa I think there's essentially a missing API on the Estimator side for allowing TensorBoard integration. Is there a solution for this?

When I was playing with Estimators earlier I was able to get some coordination between TensorBoard and Estimators by creating a SummarySaverHook when defining my model code, and then passing that into the tf.estimator.EstimatorSpec. But I d

[2017-10-21 00:53] jthestness opened #13875 "Missing MPI collectives op symbols in TF build"
Running into a build issue when trying to use MPI collectives. We are able to build a recent version of TF using NVIDIA's changes for CUDA 9/cuDNN 7. However, it appears that the build strips the MPI collectives library ops:

[code]

It seems like the issue might be caused by commit 5c7f9e3, which changes linking behavior, but we're unable to bisect due to commit order dependencies.

Anyone have a

[2017-10-21 01:00] zhangb223 commented on #12474
Hello @tfboyd

I have another question. I don’t know what bazel-out mean. Is it a path or a command? I can’t find bazel-out in the bazel package.

In addition, when I execute ( cd -P tensorflow1.3/lib/python2.7/.../external/eigen_archive ) I can enter the path. However, if I add bazel-out after -P, the terminal report: No such file or dictionary. So I want know the function of bazel-out.

Thanks!

[2017-10-21 01:06] zhangb223 commented on #12474
Hello @tfboyd

I want to offer more information about the first error . When I execute ( cd -P tensorflow1.3/lib/python2.7/.../external/eigen_archive ) I can enter the path. However, if I add bazel-out after -P, the terminal reports: No such file or dictionary. So I want to know the function of bazel-out.

Is it a path or a command? I can’t find bazel-out in the bazel package.

Thanks!

[2017-10-21 01:41] martinwicke commented on #12974
Unless I'm totally off, this would be extraordinarily surprising: Estimator (incl. DNNEstimator) uses MonitoredTrainingSession, which automatically creates a SummarySaverHook, by default every 10 minutes or 100 steps, whichever happens first. You can adjust this using the config constructor argument.

These summaries are saved to the model_dir.

[2017-10-21 02:08] allenlavoie commented on #13875
One test/workaround is to build with `--config=monolithic`. That will give you the old op loading behavior.

Several questions come to mind, like why we're not running this code in tests regularly (are we?), and what the actual issue is with the op loading. I can take a look next week.

[2017-10-21 02:34] facaiy commented on #13861
It is reproduced on nightly version.

[code]

[2017-10-21 02:38] laMia482 commented on #22
Thank you @andrewrichards  fo your attention and your session speech.

  But for now for me(a graduate student), to build an app using Tensorflow on Android device and want GPU(Mali-T720) activated, what are required to abtain Mali driver with SPIP-V support and ComputeCpp runtime for Android with Arm CPU support and SPIR-V support.

  Since I've downloaded ComputeCpp(Ubuntu16.04 x64 with bin/ doc

[2017-10-21 03:15] FerrandMartin commented on #13837
I got that:
[code]

[2017-10-21 04:29] asimshankar commented on #13872
Thanks for a report, there seems to be an issue with 1.4.0-rc0 and Mac OS X.
However the point release 1.3.0 should be fine.

The  snippet you provided seems to be on the usage of 1.4.0-rc0. Could you provide the same log for when you're using 1.3.0?

[2017-10-21 04:40] uZeroJ opened #13876 "Should we provide parameters for 'data_dir' or 'untar' to cifar10.load_data?"
https://github.com/tensorflow/tensorflow/blob/d7409d32bba5ffa89141ec5427780f68a3b6942d/tensorflow/python/keras/_impl/keras/datasets/cifar10.py#L30

This is maybe really a trivial issue for such a brilliant framework,
but it would be great more friendly to add this flexibility to load data from somewhere that I already have it and unpacked. Or it will fixed me to dig into the source to find where a

[2017-10-21 06:07] drpngx commented on #13865
@mrry WDYT?

[2017-10-21 06:41] tonyyuandao commented on #12052
Can I build from source on win10 platform?
Would like TF to work on cuda 9.0, cuDNN v7, python3.**6**, and win10

[2017-10-21 07:09] antifriz commented on #13822
@martinwicke, @fchollet

I included visual comparison of keras and tf.keras behaviors to clarify what I think is wrong with tf.keras scoping.

So for two layers tf.keras produces three scopes where second layer is splitted in two scopes:
[code]

<img width="717" alt="screen shot 2017-10-21 at 8 21 56 am" src="https://user-images.githubusercontent.com/6382271/31848812-5089a624-b639-11e7-9238-855ec6

[2017-10-21 08:54] facaiy commented on #13861
The bug seems from here, since `[batch_to_space_nd](https://www.tensorflow.org/versions/master/api_docs/python/tf/batch_to_space_nd)` cannot handle the case correctly:

https://github.com/tensorflow/tensorflow/blob/d7409d32bba5ffa89141ec5427780f68a3b6942d/tensorflow/python/ops/nn_ops.py#L487-L495

[2017-10-21 09:46] tianzhi0549 commented on #13713
@allenlavoie Yeah, you're right. I understand that just setting the line to `reuse` would disable inheriting from the scope that was passed in. Therefore, for `variable_scope`, `None` should not be the same as `False`. But it will change too many things if we change the meaning of `None`.
Maybe the best we can do for it is to add a line of comment for this issue. Thank you two for your quick respo

[2017-10-21 10:45] facaiy commented on #13861
Since [`space_to_batch_nd`](https://www.tensorflow.org/versions/master/api_docs/python/tf/space_to_batch_nd) assumes that `input_shape = [batch] + spatial_shape + remaining_shape`, hence `paddings` is hacked as the tensor `[zeros, paddings]` to handle NC format. Since the value of tensor is hidden by itself, that's why we lost `num_input_channels` information in `space_to_batch_nd`.

https://githu

[2017-10-21 11:12] mehrdadscomputer commented on #12416
updating to cuDNN v6 for cuda 8 solved my problem

[2017-10-21 11:12] mehrdadscomputer commented on #12521
updating to cuDNN v6 for cuda 8 solved my problem

[2017-10-21 12:25] zxteloiv commented on #456
Thanks for sharing the useful information.
I'm trying to implement the same thing in chainer because it doesn't provide functions to sample a batch of multinomial distributions.

However, in my experiments, the code provided in https://github.com/tensorflow/tensorflow/issues/456#issuecomment-165185025 is wrong, which doesn't give the correct samples. The main problem is that uniform noise is **dir

[2017-10-21 12:38] tycho commented on #13790
This appears now fixed by f1054553eafc74df8be9425c3344e71af98962ad

[2017-10-21 12:38] #13790 closed

[2017-10-21 13:10] VolodymyrPavliukevych commented on #19
Today published first version for high-level swift API [TensorFlowKit](https://github.com/Octadero/TensorFlow). Have plans to push to google repository in future.

[2017-10-21 13:39] RockfordWei commented on #19
@VolodymyrPavliukevych please feel free to absorb mature components of the first successful TensorFlow Swift language binding acknowledged by google : Perfect TensorFlow, which works well in OS X and Ubuntu and simple easy installation and as well as the runtime downcast compatibility from TensorFlow 1.2 to 1.4. Welcome aboard! The Perfect TensorFlow has already a full testing script with 34 diffe

[2017-10-21 13:42] RockfordWei commented on #19
Anyway it also has Chinese documents and Perfect Swift server native compatibility

[2017-10-21 13:44] Arnab0989 commented on #12474
Hi, I am a newbie. I want some help regarding tensorflow installation.
My system has
OS - Windows 10
GPU - 940MX
I installed CudaTK 9 and updated driver and CuDNN 7 sucessfully.
even in Anaconda, tensorflow installation is also successful it shown. but still missing "dll" issues remain same.
I tried to install CUdatk8 but its telling h/w not supported for it. please help me with a suitable link or

[2017-10-21 15:17] bbongcol commented on #13729
I used the ndk-bundle (v16), which was downloaded via the sdk manager of the Android studio. This version seems to be a compatibility issue.

So I used the standalone Android NDK 14b as a [guide](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/README.md).

Then build succeeded.

Incidentally, it only builds in Python2. In Python3, the build did not complete because

[2017-10-21 15:17] #13729 closed

[2017-10-21 15:18] yongtang commented on #521
Looks like the issue has been fixed by PR #2737. Maybe this issue could be closed?

[2017-10-21 15:20] shuvayanti opened #13879 "Variable rnn/multi_rnn_cell/cell_0/gru_cell/gates/kernel already exists, disallowed."
Hello,
I wrote this code:

def rnn_inputs(FLAGS, input_data):

    with tf.variable_scope('rnn_inputs', reuse=True):
        W_input = tf.get_variable("W_input",
            [FLAGS.en_vocab_size, FLAGS.num_hidden_units])

    # <num_examples, seq_len, num_hidden_units>
    embeddings = tf.nn.embedding_lookup(W_input, input_data)

    return embeddings

def rnn_softmax(FLAGS, outputs):
    with tf.

[2017-10-21 15:24] yongtang commented on #434
I think the identity initializer has been added in commit (https://github.com/tensorflow/tensorflow/commit/d5f1790530db0ee430d223497a59cfc26ab5f4d8) recently. Maybe this issue could be closed?

[2017-10-21 15:29] pekaalto opened #13880 "RMSProp fails with InteractiveSession() and embed_sequence on GPU"
Note:
This works fine if any of the following
- without GPU
- if use "normal" Session() instead of the interactive one.
- if don't do `embed_sequence`
- user other optimiser, not RMSProp

This is the snippet to get the error:

[code]

Gives

[code]

If remove the `allow_soft_placement` then get:

[code]

### System information
- **Have I written custom code (as opposed to using a stock example scr

[2017-10-21 15:31] yaroslavvb commented on #434
Good idea, fixed by https://github.com/tensorflow/tensorflow/commit/d5f1790530db0ee430d223497a59cfc26ab5f4d8

[2017-10-21 15:31] #434 closed

[2017-10-21 15:44] lucasb-eyer commented on #8040
I think this specific option (allow growth) should exist as an env-var flag. Consider the following common scenario:

I only own one machine, which has only one GPU. I sometimes want to run some random person's training code I got on github without it eating all my GPU memory. Because a little later, I want to start a notebook while the training is still running and still be able to do some tensor

[2017-10-21 15:49] yongtang commented on #3311
I think the shape has been correctly inferred with the most recent master:
[code]

Maybe this issue could be closed?

[2017-10-21 15:55] yongtang commented on #3350
I think the GPU version of the determinant has been added recently by commit (https://github.com/tensorflow/tensorflow/commit/7d0afb0c7ab86c169fdf12c841155409b89126b9)?

[2017-10-21 15:56] yongtang commented on #3528
I think this issue could be closed as PR #3774 adds the int32 support?

[2017-10-21 16:28] grankt commented on #5036
+1

[2017-10-21 16:58] martinwicke commented on #521
Thanks!

[2017-10-21 16:58] #521 closed

[2017-10-21 17:01] yaroslavvb commented on #8040
I guess this is a bit of a mismatch between google use-case and open-source use-case -- Google runs single TensorFlow process per GPU.

To avoid having to copy paste this into every snippet, you could do something like this:

`alias python="python -m myconfig`
and then put the snippet into `myconfig`

The general issue about global modifications like environment variables or monkey-patching is tha

[2017-10-21 17:03] yongtang commented on #4863
I take a look at the `tensorflow/core/kernels/cwise_ops_common.h` and `tensorflow/core/framework/register_types.h`.

I don't have a android or iOS build but correct me if I am wrong: it seems that we could just use `TF_CALL_float`, `TF_CALL_int32` explicitly for all types without worrying about the platform, and moves `__ANDROID_TYPES_SLIM__` to `register_types.h` so that different platform only r

[2017-10-21 17:12] vs-zhehangd commented on #13861
For me, at application level I simply do
[code]

[2017-10-21 17:21] littleDing opened #13883 "Why do custom read op only works on test_session"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
NO

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04

- **TensorFlow installed from (source or binary)**:
pip install tensorflow

- **TensorFlow version (use command below)**:
('v1.3.0-rc2-20-g0787eee', '1.3.0')

- **Python version**:
Python 2.7.12

[2017-10-21 17:39] amirj opened #13885 "tf.reduce_mean is not compatible with np.mean"
[tf.reduce_mean](https://www.tensorflow.org/api_docs/python/tf/reduce_mean) emphasized that this function is compatible with numpy:

But it doesn't in the output type. Consider the following code for example:

[code]

The output is zero. It seems that tf.reduce_mean infer the output type from the input tensor because casting the input tensor to float values, solve the problem. This attribute is no

[2017-10-21 17:50] lelugom commented on #7669
@Moymix you can implement early stopping using the `continuous_eval_predicate_fn` available in [tf.contrib.learn.Experiment](https://www.tensorflow.org/api_docs/python/tf/contrib/learn/Experiment). For instance, let's take a batch size of 10 and early stop count of 15. The code would look like this:

[code]

[2017-10-21 18:10] yongtang commented on #13885
In numpy, `numpy.mean` has a `dtype` that could be used to specify the output type:
https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.mean.html

 By default this is `dtype=float64` for integer types and same type as input for non-integer types.

It might be possible to add a dtype in tf.reduce_mean though a type cast is always needed I assume.

[2017-10-21 18:35] rohan-varma opened #13887 "ValueError raised when using AdamOptimizer, but not for GradientDescentOptimizer"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra 10.12.1
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.2.0-rc2-21-g12f033d 1.2.0
- **Python version**: 3.5.0

### Source code / logs

[2017-10-21 18:42] ecpoppenheimer commented on #13281
Ok, I will give it a shot in the next few days.

On Wed, Oct 18, 2017 at 3:35 PM, Deanna Rubin <notifications@github.com>
wrote:

[2017-10-21 18:55] drpngx commented on #13763
@mrry or @vrv or @benoitsteiner if you have time to process this, that would be great, o/w I'll take a look.

[2017-10-21 18:56] drpngx commented on #13765
No, you need to run the pip install as root, not build the pip package. Please follow the instructions.

[2017-10-21 18:58] drpngx commented on #13771
Basically, it's a poor interface, but yes, these errors should be ignored.

[2017-10-21 18:58] #13771 closed

[2017-10-21 18:59] drpngx commented on #13821
SIGSEGV is definitely a problem.

[2017-10-21 19:00] drpngx commented on #13823
OK, closing then.

[2017-10-21 19:00] #13823 closed

[2017-10-21 19:05] drpngx commented on #13835
@serendipity24 please note that you first have to load the tensorflow package. That takes about 2-3 seconds on python2, and in the 1.3 version, it can take 8 seconds (that is before we fixed the inspect stack in the tf decorator).

Running the inference should be very quick. You can modify the program to load, then ask for a prompt and pass in a waveform.

[2017-10-21 19:05] ranshadmi commented on #3678
+1 for "UVM support throughout"!

[2017-10-21 19:06] drpngx commented on #13837
@FerrandMartin Please follow the instructions. You need to download these packages from NVidia as requested.

[2017-10-21 19:08] drpngx commented on #13847
@BastiaanBergman we are moving to `tf.data`, which is a much nicer interface. Would you be open to that?

[2017-10-21 19:10] drpngx commented on #13851
@ekelsen WDYT?

[2017-10-21 19:13] drpngx commented on #13853
Yes, you'll want to say:
[code]

[2017-10-21 19:13] #13853 closed

[2017-10-21 19:16] drpngx commented on #13861
@ebrevdo WDYT? Should we encourage a contribution?

[2017-10-21 19:18] drpngx commented on #13869
@rmlarsen do you know about issues there perhaps?

[2017-10-21 19:19] drpngx commented on #13879
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-21 19:19] #13879 closed

[2017-10-21 19:21] drpngx commented on #13883
Can I encourage you to use the `tf.data` interface and the [built-in](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/decode_csv_op.cc#L29) CSV op?

[2017-10-21 19:22] drpngx commented on #13885
@MarkDaoust should we update the numpy compat docstring?

/CC @aselle

[2017-10-21 19:26] kazemSafari commented on #13887
I am having the same issue. I use tensorflow 1.3 and my operating system is ubuntu 16.4.

[2017-10-21 19:38] drpngx commented on #13887
Did you look at this?
https://stackoverflow.com/questions/44440900/cant-access-tensorflow-adam-optimizer-namespace

[2017-10-21 19:43] drpngx commented on #13802
/CC @gunan @rmlarsen

[2017-10-21 19:51] drpngx commented on #13854
@zheng-xq anyone you would suggest for SyncReplica issues perhaps?

On a related note, Uber released their horovod framework.

[2017-10-21 19:52] drpngx commented on #13876
Sounds fine by me. This will need to go through an API review.

CC @martinwicke

[2017-10-21 20:07] Sharath-girish opened #13888 "InvalidArgumentError: No OpKernel was registered to support Op 'Resampler' with these attrs."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: Python 3.6.2
- **Bazel version (if compiling from source)**:
- **

[2017-10-21 20:07] ebrevdo commented on #13861
The convolution function can call an appropriate set_shape in this special case.  Contributions welcome.

[2017-10-21 20:09] ebrevdo commented on #3528
Thanks!

[2017-10-21 20:09] #3528 closed

[2017-10-21 20:30] kazemSafari commented on #13887
I looked at it. It definitely explains exactly what  the problem is but does not give any solution at all.
I do not know how to create that subscope that he is talking about without tensorflow raising an error.

[2017-10-21 20:37] sexobert opened #13889 "tf.image_crop_and_resize return 0 values when using GPU on Jetson TX2"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-21 20:47] #13889 closed

[2017-10-21 21:07] amirj commented on #13885
@drpngx @MarkDaoust  _dtype_ is an optional parameter in both TF and Numpy. I think it should be clear in the document or adapt to Numpy. It's my honer to contribute in both cases.

[2017-10-21 21:14] ebrevdo commented on #12927
Try doing this early on:

from tensorflow.contrib.seq2seq.python.ops import beam_search_ops

I have the feeling that when importing a graphdef that the dynamic loading of the .so with the GatherTree ops hasn't happened.  So adding that import should force the library to load.

[2017-10-21 21:16] ebrevdo commented on #13814
Send a link to the code you are looking at?

[2017-10-21 21:17] ebrevdo commented on #13537
Yes this is a possibility.  Are you interested in sending a PR?

[2017-10-21 21:18] ebrevdo commented on #13537
nest.is_sequence can be used to test the variables

[2017-10-21 21:20] ebrevdo commented on #13766
It should be relatively simple to make this work.  Most of the hard work has been done by Derek already (iirc, there's already code to split and concat STs in dataset).  It feels like just a matter of writing python glue, right?

[2017-10-21 21:22] ebrevdo commented on #9797
Closing as fixed.

[2017-10-21 21:22] #9797 closed

[2017-10-21 21:29] ppwwyyxx commented on #13869
From cudnn 7.0.1 release notes:
[code]
Although the release notes didn't say whether it works or fails in 7.0.1. Maybe it still fails but not silently (see https://github.com/Theano/Theano/issues/6318 as well)

[2017-10-21 21:31] 0fficer1 opened #13890 "tf.image.crop_and_resize() return 0 values when assigned to GPU on the Jetson TX2"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04.LTS
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**:  2.7.12
- **Bazel version (if compiling from source)**: 0.5.2
- *

[2017-10-21 21:32] ebrevdo commented on #12927
@allenlavoie @sherrym any ideas how to ensure we load the proper dynamic library as part of import meta graph?  Alternatively should we just eagerly import contrib .so's during import tensorflow?

[2017-10-21 21:33] Brenndoerfer commented on #3369
Run into the same error.
Reason: File was named `logging.py`
Solution: Rename file

[2017-10-21 21:51] aribenjamin commented on #672
The documentation for `partial_run` is a little ambiguous. If you're wondering, like I and @markusdr were, "does `partial_run` keep computed values stored?", the example in the docs doesn't clear much up. The example there (modified to work standalone) is:
[code]
This returns `9.0`. But do we always need to need the result of a previous `partial_run` as input? Changing the input of the last line s

[2017-10-21 21:55] brycecf commented on #12052
@tonyyuandao https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md

[2017-10-21 22:08] carol-hsu commented on #1890
This instruction also save my time
http://www.blitzblit.com/2017/06/11/creating-tensorflow-c-headers-and-libraries/

[2017-10-21 22:37] heyucongtom opened #13892 "Inconsistent Result of SyncReplicaOptimizer"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac Sierra 10.12.6
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: Python 3.5.2 |Anaconda custom (x8

[2017-10-21 22:57] xiejw commented on #13849
asked question in #13852

[2017-10-21 23:00] FerrandMartin commented on #13837
i have try but none of them are working for me, Nvidia cuba and cubann are installed but not recognised

[2017-10-21 23:14] aribenjamin commented on #675
@ModarTensai this is great! Thank you.

It produces an error for me, though, when `m=1`. I'd like to use this to produce per-example gradients of a single-valued output, so my application will have `m=1` as well. Is there an easy fix you know of, before I dig in?

[2017-10-21 23:14] yongtang commented on #7251
I think this issue has been fixed by PR #11940. Probably could be closed?

[2017-10-21 23:45] ModarTensai commented on #675
@aribenjamin If m = 1, w is a vector not a matrix but I fixed and updated the code
all what have been changed is line 53 from
[code]
to
[code]
Thanks for noticing the bug!

[2017-10-22 00:33] nolanliou commented on #7251
It's ok.

[2017-10-22 01:25] #11628 closed

[2017-10-22 01:25] tensorflowbutler commented on #11628
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-22 01:26] formath commented on #13772
fixed

[2017-10-22 01:26] #13772 closed

[2017-10-22 02:13] littleDing commented on #13883
The build-in interfaces(both tf.data and csv op) are to slow for large scale data.
Early tests (at about 2016-11 with tensorflow 1.0 or earlier version) shows that use cython + pandas + feeddict to load csv data would be 2~5x speed up than the build-in ops.

A problem using pandas + feeddict is that it blocks with the python GIL and python codes is still slow, thus the speed up would scale when nu

[2017-10-22 02:17] drpngx commented on #13883
Cc @mrry

I'm surprised that the data interface would be slow. Can you publish how
you treated that?

On Sat, Oct 21, 2017, 7:15 PM littleDing <notifications@github.com> wrote:

[2017-10-22 02:18] drpngx commented on #13883
Are you feeding example by example?

On Sat, Oct 21, 2017, 7:17 PM Patrick Nguyen <drpng@google.com> wrote:

[2017-10-22 02:18] facaiy commented on #13772
Wonderful. Just a little curious, could you explain how to fix it?

[2017-10-22 02:27] littleDing commented on #13883
Wow~ Thanks for replying so fast :-)

Well, I am not sure if I am using the build-in ops in the right way. I just follow the documents on the official website. Example by example, or using a multi-thread queue with batch. The pb interfaces was also tested then, but it seems like converting raw data to pb format is also a great cost.

Is there any official speed benchmarks for this data reading ops

[2017-10-22 02:40] formath commented on #13772
`build_all_ios.sh` is for mobile platform which has no support for int64. osx should use `build_all_linux.sh`.

[2017-10-22 03:27] hanfeisun opened #13895 "In the estimator of Tensorflow, how does it work when model_fn is called multiple times?"
def model_fn(features, labels, mode, params):
      """Model function for Estimator."""

      # Connect the first hidden layer to input layer
      # (features["x"]) with relu activation
      first_hidden_layer = tf.layers.dense(features["x"], 10, activation=tf.nn.relu)

      # Connect the second hidden layer to first hidden layer with relu
      second_hidden_layer = tf.layers.dense(

[2017-10-22 03:41] masahi commented on #22
For AMD gpu and linux user, they recently released HIP port of tensorflow [here](https://github.com/ROCmSoftwarePlatform/hiptensorflow). You might be interested.

I haven't tested, though.

[2017-10-22 04:01] BastiaanBergman commented on #13847
I really liked tf.data but found it not working for some other reason, therefore reverted back to the queues. Will retry some day.

[2017-10-22 04:04] znmeb commented on #22
I can test it - stay tuned. Looks like it's failing CI though.

[2017-10-22 04:09] brycecf opened #13896 "Build Error - Unable to clone jsoncpp repo, all others seem to be working"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**:  Source from master branch
- **TensorFlow version (use command below)**:
- **Python version**: 3.6.2
- **Bazel version (if compiling from source)*

[2017-10-22 04:16] formath opened #13897 "No OpKernel was registered to support Op 'SegmentSum'"
### ENV
* OSX 10.12.6
* No GPU
* Tensorflow master. Built from source by `tensorflow/contrib/makefile/build_all_linux.sh`

### Error info
[code]

### My usage
I use python to train model and freeze the graph with checkpoint. Then I use c++ to load freeze graph protobuf and to predict for some inputs.
#### python core part
[code]
#### C++ prediction core part
[code]

### Have checked
I have checked

[2017-10-22 04:40] masahi commented on #22
Indeed it's failing. Still at an early stage, I guess.

[2017-10-22 04:56] hanfeisun commented on #13895
Is it true that the code in the tutorial forgets to add "reuse=True" as the parameter of layer functions?

[2017-10-22 05:05] #8187 closed

[2017-10-22 05:14] #13693 closed

[2017-10-22 05:22] kazemSafari commented on #13887
Hi again!
Your comment helped a lot. Also the follow up here:
https://github.com/adeshpande3/Generative-Adversarial-Networks/issues/1
solves the problem.
Thank you.

[2017-10-22 05:26] drpngx commented on #13887
Woohoo! Thank you for following up and the link!

On Sat, Oct 21, 2017, 10:24 PM kazemSafari <notifications@github.com> wrote:

[2017-10-22 07:05] mahfuj9346449 commented on #9518
Suppose I have a covariance matrix.

a = cov(a)

I want to calculate eigenvectors of a. How can I do that? Thanks in advanced.

[2017-10-22 07:39] bodokaiser commented on #5676
@martinwicke Can it be that #5676 #7311 and #13575 are all relating to the same issue which is still present on windows?

[2017-10-22 07:40] etienne87 commented on #1604
There is now implementation in torch/ pytorch: https://github.com/facebookresearch/SparseConvNet.

[2017-10-22 08:27] kiminh commented on #13897
Hi,formath:
Try to add `tensorflow/core/kernels/segment_reduction_ops.cc` at the end of `/xx/tensorflow/tensorflow/contrib/makefile/tf_op_files.txt`.

You can refer to https://github.com/tensorflow/tensorflow/issues/3543.

After doing this, the following error missed, but a new error emerges as listed in the appendix.
`Invalid argument: No OpKernel was registered to support Op 'SegmentSum' with th

[2017-10-22 09:19] facaiy commented on #13861
Hi, @vs-zhehangd . I get a cold, would you like to take over the issue? The fix is pretty easy as you suggested, however, we'd better create a `nn_ops_test.py` and write more unit tests. It's not difficult, but perhaps a little cumbersome for new contributor. Thanks.

[2017-10-22 09:25] vs-zhehangd commented on #13861
Ok, let me take a look and see how to do it.

On Sun, 22 Oct 2017 at 2:23 AM Yan Facai (颜发才) <notifications@github.com>
wrote:

[2017-10-22 10:42] FerrandMartin commented on #13837
cudart64_80 is available when downloading cuda v8 here: [CUDA Toolkit 8.0](https://developer.nvidia.com/cuda-80-ga2-download-archive)
thank for the support!

[2017-10-22 11:33] mingyr opened #13900 "tfdbg doesn't work with tensorflow GPU version?"
Could the dear developers confirm that tfdbg works with tensorflow GPU version or not?
At least on my platform it doesn't work.
OS: Red Hat Enterprise Linux Workstation release 7.3 (Maipo)
Python: Python 2.7.5
tensorflow (1.4.0rc0) (compiled from source with CUDA enabled, CUDA 8.0.61, cuDNN8-7.0.1)
nVidia Quadro P5000

the code for reproducing the problem is as follows:

[code]

The phenomenon is

[2017-10-22 11:46] azainab commented on #4044
Any update on the error above?
I am getting the error below:

ValueError: graph_def is invalid at node 'lstm_3/TensorArrayUnstack/TensorArrayScatter/TensorArrayScatterV3': Input tensor 'lstm_3/TensorArray_1:0' Cannot convert a tensor of type resource to an input of type float32.

[2017-10-22 12:23] dibenedetto commented on #6035
Great to see attention to this issue!

maybe is it better to open a new issue with a proper title as simple as, e.g., "max_pool_with_argmax unavailable on CPU" rather than this one that, actually, refers to an error message?

@tfboyd if you agree I'll open a new issue so you can close this one.

[2017-10-22 12:49] Orna123 commented on #3678
+1 for "UVM support throughout"!

[2017-10-22 12:49] Orna123 commented on #3678
+1 for "UVM support throughout"!

[2017-10-22 12:58] formath commented on #13897
@kiminh Thanks. I will open another issue for the new problem. Welcome your contribution.

[2017-10-22 12:59] #13897 closed

[2017-10-22 13:03] thjashin commented on #12414
Same problem with TF1.3

[2017-10-22 13:39] barak-hurwitz opened #13902 "Op type not registered 'GatherTree' in binary running on.."
Hi,

I'm trying to use the GTT (Graph Transform Tool) on NMT model (From the NMT sample project),
https://github.com/tensorflow/nmt

I get the following error :
bazel-bin/tensorflow/tools/graph_transforms/transform_graph --in_graph=/tmp/NMT_frozenGraphPB.pb --out_graph=Quant_NMT.pb --inputs='' --outputs='attention' --transforms='add_default_attributes quantize weights quantize_nodes'

"Op type not

[2017-10-22 14:57] AymanASamyM commented on #5036
+1

[2017-10-22 14:59] ebrevdo commented on #13861
There are conv unit tests in kernel_tests.

On Sun, Oct 22, 2017, 2:25 AM vs-zhehangd <notifications@github.com> wrote:

[2017-10-22 15:04] netheril96 opened #13903 "Feature request: make `smart_cond` public API"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.3.0-24-g658866597
- **Python version**: 3.6.3
- **Bazel

[2017-10-22 16:17] caisq commented on #13900
The "run" mode of tfdbg should be compatible with tensorflow GPU. The "stepper" mode of tfdbg is being deprecated and it not guaranteed to work with GPUs.

[2017-10-22 16:19] caisq commented on #10478
@km-sharad A new feature is being worked on in TensorBoard to replace tfdbg CLI's `stepper` mode (tfdbg CLI's `run` will remain). The ETA is end of 2017.

[2017-10-22 16:54] Raghava14 opened #13906 "Conditional input to a sequence to sequence model (word+character hybrid network)"
I need to create a sequence to sequence model where in the encoder and decoder are both LSTM networks but the encoder takes the inputs from either of the following cases

1.Normal vector representation of a word (Embedding vector) - when the word input is present in the vocabulary

2.Output of another LSTM network - when the word is out of vocabulary and a separate character based LSTM is used to

[2017-10-22 17:01] ekelsen commented on #5965
@dantkz I think the best bet for a GPU version of unique would still be to create a separate op in contrib so that it doesn't mess up the current registration on the host.

scatter_nd and gather_nd do have GPU registrations.  You could try to write a unique using these.  However, I think that using the CUB techniques I outlined would probably be give the best performance across a wide range of inp

[2017-10-22 17:34] Mazecreator commented on #13537
I am very tight on time at the moment and think this might need some more holistic thinking.  My thought is it is going to be more than just an Assign update to better integrate the Tuple into TensorFlow "seamlessly".  There is likely to be more issues as well which I am  not sure I will be able to handle as I am not familiar with Named Tuples so it is more than just moving the Tensor as the Name

[2017-10-22 19:48] tolitius commented on #9749
@angadn: you most likely forgot to:

[code]

After [Installing TensorFlow on Mac OS X](https://www.tensorflow.org/install/install_mac) go through steps 2 and 3 of [Installing TensorFlow for Go](https://www.tensorflow.org/install/install_go).

[2017-10-22 22:27] asimonov commented on #6035
Great idea!

I have tried to express maxpool with argmax through operations available on CPU but so far did not succeed. Anyone has simple ideas?

_____________________________
Kind Regards,
Alexey Simonov

[2017-10-22 23:00] mingyr commented on #13900
@caisq Hi, shanqing, what's the story behind this? I mean why stepping is gonna be deprecated? Sometimes it is quite useful for looking into under the hood. Any thread or discussion relates to this decision? Thanks.

[2017-10-22 23:09] caisq commented on #13900
@mingyr, the information you can get from stepping, with the exception from tensor value overriding, should all be available from the `tfdbg> run` mode. The `tfdbg> run` mode also provides visibility into intermediate graph/tensor states at runtime. It is the main topic of our guide at:
https://www.tensorflow.org/programmers_guide/debugger

Just to be abundantly clear, tfdbg is not deprecated; onl

[2017-10-22 23:15] mingyr commented on #13900
@caisq Great, appreciating the detailed explanation.  Please feel free to close this thread (or give me an indication if shall I close it). Many thanks.

[2017-10-22 23:49] drpngx commented on #13903
Here's the code: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/utils.py#L180

/CC @martinwicke

[2017-10-22 23:51] drpngx commented on #13837
Yay!

[2017-10-22 23:51] #13837 closed

[2017-10-22 23:53] drpngx commented on #13847
We are deprecating the queues in favor of `tf.data` and would really like to hear about what the problem is.

@mrry maybe we can suggest a solution?

[2017-10-22 23:55] drpngx commented on #13895
Right, that might be a problem.

@MarkDaoust WDYT?

[2017-10-23 00:07] Nickheythatsme commented on #13903
## Overview
Sentiment analysis has been something I've been interested in for a long time. From my first python script pulling reddit comments to this program now, I've found it compelling and challenging, while also having a low barrier of entry (the first iterations of this compared each word to known "Bad" or "Good" words). I like making all of my own components for this as well. I could easily

[2017-10-23 01:09] ultrons opened #13910 "Feature Request: Getting a collection of variable from specific Graph"
Hi,

For debug purposes, I need to create a collection variables from a specific graph.
I have defined my model in a predefined graph using something like:

pg=tf.Graph()
with pg.as_default():
    ...

I define my session as:

sess = tf.Session(config=config, graph=pg)
If I need to create a collection of trainable variable in graph pg, I try to use:
tf.get_collection(tf.GraphKeys.TRAINABLE_VARIABL

[2017-10-23 01:14] ultrons commented on #13910
It exists. I could call the get_Collection on the graph itself. Sorry for confusion.

[2017-10-23 01:14] #13910 closed

[2017-10-23 01:30] imaoldboy commented on #13653
@andrewharp I just download the code from github.com and follow the instruction of "https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android#building-in-android-studio-using-the-tensorflow-aar-from-jcenter"

[2017-10-23 01:54] #13900 closed

[2017-10-23 02:32] masahi commented on #22
I tested it, got segfault in MNIST example.
[code]

[2017-10-23 03:21] fastlater commented on #12227
@datomnurdin any update about this issue? I am having the same error

[2017-10-23 03:49] carlhuth commented on #5949
I wanted to bring up an anomaly that occurred with pip that was causing the No module named '_pywrap_tensorflow_internal' error to occur.  The version of python I was running was Python 3.6.3, pip was version  9.0.1.  and it was running on Windows 10.

` **Using version 1.3.0 (newest of versions: 1.2.0, 1.2.1, 1.3.0)
  Looking up "https://pypi.python.org/packages/bf/d4/80197f48f9fb90a17c47cdd834b2

[2017-10-23 04:22] prathap6646 opened #13912 "tensorflow is not importing even after successful installation"
in Centos 6.9 i am unable to import tensorflow-1.3.0 in any anaconda (2,3) and getting this error please resolve this issue ..

![screenshot-7](https://user-images.githubusercontent.com/24870531/31872238-d008d862-b7d7-11e7-8f4a-0f2ad9b159a1.png)
![screenshot-6](https://user-images.githubusercontent.com/24870531/31872240-d04142c4-b7d7-11e7-8cab-9bd5b2f931c7.png)

[2017-10-23 04:57] formath commented on #13771
@drpngx Do you know how to block those error messages?

[2017-10-23 05:03] mclodaa commented on #13872
I ran into the same problem in 1.4.0-rc0 and 1.4.0-rc0. But it works well in 1.3.0
It's import to me for supporting string tensor with Java in version 1.4.0

[2017-10-23 06:42] sayak119 commented on #12156
I am interested in working on this.

[2017-10-23 06:48] asimshankar commented on #13872
Yup, we will have this fixed in 1.4.0-rc1 (if there is one) and surely in the 1.4.0 release.
(For the record, things should be fine for Linux and Windows. If the problem appears in anything other than 1.4.0-rc0 on OS X, please let us know)

[2017-10-23 06:49] turkeyB commented on #12482
Had the same issue, and when I try to follow the instructions given above, I come across another problem..
:undefined reference to 'nsync::nsync_mu_lock(nsync::nsync_mu_s_*)'
:undefined reference to 'nsync::nsync_mu_init(nsync::nsync_mu_s_*)'
:undefined reference to 'nsync::nsync_mu_unlock(nsync::nsync_mu_s_*)'

[2017-10-23 07:41] miguelangel commented on #13912
Hi!

Please try this:

If it does not work, please try googling [glibc_2.17 not found centos 6](https://www.google.com/search?q=glibc_2.17+not+found+centos+6).

The previous solution has been taken from this [link](https://github.com/conda-forge/tensorflow-feedstock/issues/11).

I hope it helps!

Have a great day,

Miguel Ángel

[2017-10-23 07:58] dkasper26 commented on #11868
I just checkout the latest tree with
   git fetch -a
   git checkout master
   git pull

But, I still cannot find the fix for issue #11868. Can you please double-check if it was merged to GitHub ?
Thanks!

counterexample: #13562 is visible.

[2017-10-23 08:44] ziyeshanwai commented on #6698
For me, I solved the problem by changing the version of python. When i used the anaconda2(python 2.7.12), the issue arised. Then i uninstall anaconda2 and used the default Python 2.7.6 in Ubuntu 14.04 and reinstalled the tensorflow using pip. The problem is auto-resolved.

[2017-10-23 08:57] formath commented on #7540
`export TF_CPP_MIN_LOG_LEVEL=3` works for me but it always block all errors. Maybe those error messages should be print in level 2.

[2017-10-23 08:59] Mohit-Ak commented on #9786
Here is a python script to identify those fault jpg images in a directory.
`  import glob
    import os
    import re
    import logging
    import traceback

    filelist=glob.glob("/path/to/*.jpg")
    for file_obj in filelist:
	  try:

			jpg_str=os.popen("file \""+str(file_obj)+"\"").read()
			if (re.search('PNG image data', jpg_str, re.IGNORECASE)) or (re.search('Png patch', jpg_str, re.IGNOR

[2017-10-23 09:06] VolodymyrPavliukevych commented on #19
@RockfordWei, how to write model and statistic to file system for tensorboar using Perfect?

[2017-10-23 09:17] DjangoPeng commented on #13876
@drpngx @uZeroJ I think it's reasonable. I'd like to make a PR to add the flexibility.

[2017-10-23 09:41] ronrest commented on #6035
I would like to get this function to work on CPU as well. I am trying to implement Segnet and E-net.

[2017-10-23 10:30] PR-Iyyer commented on #8191
AttributeError: 'NoneType' object has no attribute 'update'

in tf=1.3

[2017-10-23 10:48] Nayana-ibm opened #13914 "s390x Tensorflow CI build failure"
Hello,
Tensorflow CI build fails with an error:
[code]

[2017-10-23 11:46] Timmmm commented on #13705
So I didn't realise that you can't actually link with Tensorflow as a normal C++ library from an external tool. You have to use Bazel and your code has to be inside the Tensorflow repo. It does tell you this in the C++ tutorial but it is very unexpected and I hadn't read that.

Anyway, using Bazel resolved the errors about Eigen. It seems like it downloads it automatically somehow.

[2017-10-23 11:46] eezprince opened #13915 "Error when install tf from source"
### Branch:
master

### Command:
bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package \
--verbose_failures

### Error Info:
Target //tensorflow/tools/pip_package:build_pip_package failed to build
ERROR: /home/tianhz/project/tensorflow/tensorflow/tools/pip_package/BUILD:139:1 C++ compilation of rule '//tensorflow/stream_executor:cuda_platform' failed (Exit 1): cro

[2017-10-23 11:53] KeironO commented on #13838
I've had no luck with this as of yet.

[2017-10-23 11:56] Nayana-ibm commented on #13914
@gunan Continuing Tensorflow s390x CI discussion here.
For VM-0, jnlp service is up and running. Not sure about the error mentioned above.
Do we need to upgrade/install any package?

[2017-10-23 12:03] ArigarasuthanRepo opened #13916 "can't able to build android_tensorflow_inference_java file in tensorflow"
iam not able to android_tensorflow_inference_java.jar file in tensorflow using bazel.when i build i got the following error how can i solve this:

**$ bazel build //tensorflow/contrib/android:android_tensorflow_inference_java**

____Loading package: @local_config_xcode//
____Loading complete.  Analyzing...
____Loading package: tensorflow/java
____Loading package: @bazel_tools//third_party/java/jar

[2017-10-23 12:05] uZeroJ commented on #13876
@DjangoPeng Thanks!

[2017-10-23 12:06] Nayana-ibm commented on #13914
For VM-0, http://ci.tensorflow.org/computer/ibm-contrib-s390x-0/
I have again started JNLP service still it shows 'Ping response time is too long or timed out.'.

[2017-10-23 12:13] cmvikas94 commented on #12084
I am trying to run mobilenet model trained over imagenet on Android Tensorflow for object recognition and facing the issue as described below.

[code]
I followed the tutorial as given in the [link](https://blog.mindorks.com/android-tensorflow-machine-learning-example-ff0e9b2654cc) to integrate Tensorflow on Android. I could run basic CNN classifier custom trained (using python 2.7.12, Tensorflow 1

[2017-10-23 12:17] Nayana-ibm commented on #13777
Thanks @gunan for information.
I have added support for s390x in nsync code : BUILD as well as bazel/BUILD.bazel files. PFA code patch.

Apart from above changes, I guess we also need to create platform specific sub-directory inside `nysnc/builds` for s390x by executing `tools/mkmakefile.sh` script.

With above changes, I could resolve an error :  `Configurable attribute "copts" doesn't match this

[2017-10-23 12:32] DjangoPeng commented on #1763
Same issue.

@martinwicke Do you have a plan to fix the issue? I think it's better to add a `range` argument for `convert_image_dtype()`.  Would you mind me make a PR for that?

[2017-10-23 12:45] TaoLv commented on #4775
@jiazhentim Try export CC=/yout/path/of/icpc, and then call bazel to build tensorflow.

[2017-10-23 12:58] haolidong opened #13918 "build tensorflow for gpu faild"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:r1.3
- **Python version**: 3.5
- **Bazel version (if compiling from source)**:0.7.0
- **CUDA/cuDN

[2017-10-23 13:02] wjb123 opened #13919 "tensorflow.python.framework.errors_impl.InvalidArgumentError"
I have run a tensorflow code, which always give following errors:
tensorflow.python.framework.errors_impl.InvalidArgumentError: The node 'div_1' has inputs from different frames. The input 'while/Mean_1' is in frame 'while/while/'. The input 'div_1/y' is in frame ''.

And I have searched for a long time, but find no proper solutions. I really wonder that anyone could give me some advice.

[2017-10-23 13:45] RockfordWei commented on #19
@VolodymyrPavliukevych

Perfect TensorFlow provides a super high level & convenient API to deal with the graph:

For example, there is a graph protocol buffer file "graph.pb", you can do the following steps to load / save it:

[code]

[2017-10-23 13:53] MarkDaoust commented on #13895
The code and doc is correct, it just doesn't emphasize enough that it rebuilds the graph from scratch for each method, and for evaluate/predict is loads variables from the most recent checkpoint.

Generally we're moving away from the whole `name_scope` system for reuse, the future of variable sharing is layer objects, if you want to reuse a variable reuse the layer object.

We're rewriting this do

[2017-10-23 13:59] MarkDaoust commented on #13885
Sure, if you want to update the `@compatability(numpy)` note we'd welcome the PR.

But I don't think this is enough of a bug that we can break backwards compatibility to fix it.

[2017-10-23 14:24] skye commented on #13818
Out of curiosity, could you describe your use case where you generate a metagraph in a non-Python language and create the gradients in Python?

[2017-10-23 14:33] malmaud commented on #13818
This is the strategy the [the Julia client](https://github.com/malmaud/TensorFlow.jl) takes to get around the limited number of gradients implemented in C++.

When a user requests gradients, the current graph is serialized and sent to a Python process. The Python process then adds gradient operations to the graph, serializes it, and sends it back to the Julia client. A little round-about, but it w

[2017-10-23 14:35] caisq commented on #13918
cc @gunan @yifeif @benoitsteiner @vrv

I'm tackling this build failure (among other build issues) today. I expect the fix to be sync'ed to GitHub within 1-2 days.

[2017-10-23 14:38] hesamaraghi commented on #6698
Hello,
I had the same problem, running python with sudo solved my problem.

[2017-10-23 14:43] bensander commented on #22
@masahi  - make sure you have rocm 1.6.4 base installed.

[2017-10-23 14:48] mrry commented on #13883
I answered the question on Stack Overflow: https://stackoverflow.com/a/46892223/3574081

Please open a new issue if you see performance problems with the `tf.data` ops (note that they were first added in May 2017 in TensorFlow 1.2, so you might want to update your experiments).

[2017-10-23 14:48] #13883 closed

[2017-10-23 14:48] masahi commented on #22
@bensander Thanks, I'll upgrade.

[2017-10-23 14:55] m-kammoun commented on #1370
So how is it possible to stack multiple cells with different number of units ?

[2017-10-23 15:09] znmeb commented on #22
@bensander Anything else I need from the AMD stack? All I have now is the AMD proprietary opencl library that uses the open source "amdgpu" driver.

[2017-10-23 15:22] girving commented on #9786
@Mohit-Ak Note that you don't need to do this anymore; Tensorflow's `decode_jpeg` handles PNGs.

[2017-10-23 15:26] DjangoPeng commented on #13216
@mrry It seems like the feature has been merged. I think we'd better close the issue, right?

[2017-10-23 15:28] DjangoPeng commented on #13216
@facaiy What is the process of the PR now? Do you need help to pass all tests?

[2017-10-23 15:29] martinwicke commented on #1763
What would be the behavior of that argument? The target range? The input range? Do you need both?

I agree that It is not ideal that range and dtype are coupled. I am however wary of introducing additional complexity here. How would an additional argument have helped here?

[2017-10-23 15:43] mrry commented on #13216
It's merged now and should be available in TF 1.4.

[2017-10-23 15:43] #13216 closed

[2017-10-23 15:49] DjangoPeng commented on #13211
@yaroslavvb I'd like to make a PR for fixing the issue. I'm not sure [this](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms) is the related code. Would you mind point out the file which includes the `transform_graph` function?

[2017-10-23 15:49] ggeor84 commented on #13814
@ebrevdo https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py

L221: If you set config.rnn_mode == BASIC, it only creates one layer of LSTMs. If you set it to BLOCK it creates 2 layers.

[2017-10-23 15:58] FangliangBai commented on #10033
@gauravk97 I saw the solution for CUDA 9 and cuDNN 7 on the internet. Please have a search if interested

[2017-10-23 16:05] skye commented on #13802
I'm closing this issue, since it seems fixing this is outside the scope of TF. Please reopen if I'm mistaken, and feel free to continue the discussion. @albertz thanks for sharing your solution.

[2017-10-23 16:05] #13802 closed

[2017-10-23 16:11] ispirmustafa commented on #7669
@xiejw could you PTAL re: new 1.4 utilities.

[2017-10-23 16:12] martinwicke commented on #13477
Your input_fn wants a batch of data, but you're only giving it a scalar. This is subtle: reshape your input to shape [1] (form its current []) should do the trick.

[2017-10-23 16:33] VolodymyrPavliukevych commented on #19
@RockfordWei but how to save and open graphs and statistic of changes for TensorBoard?

[2017-10-23 16:46] m3bm3b commented on #13777
My plan is to introduce a change to the bazel BUILD file that should make
nsync build with bazel
on linux s390x.

I believe ATM_LD_IS_ACQ_ST_IS_REL_ should be 1 for s390x.
When 1, this setting means
  "on this machine, all loads act as acquire loads, and all stores act as
release stores".
I believe that s390x is a sequentially consistent machine, and thus the
value should be 1.
If you believe that

[2017-10-23 16:46] allenlavoie commented on #13902
Sounds like the same issue as https://github.com/tensorflow/tensorflow/issues/12927. One workaround would be to add "from tensorflow.contrib.seq2seq.python.ops import beam_search_ops" to the graph transform tool so it picks up the kernel.

Not closing this immediately because there may be different solutions. Even if we don't load contrib eagerly we may want to import some contrib kernels in the g

[2017-10-23 16:47] drpngx commented on #13919
This is likely better asked on stackoverflow.

Can you should the code?

[2017-10-23 16:49] DjangoPeng commented on #12454
@ppwwyyxx I think the error message is threw by Python interpreter directly. @ali01 Can we catch it and print the exacter error message? I do know the `Mul` op is registered on the kernels dir, but I failed to locate it. Could you give me some idea for fix the issue?

[2017-10-23 16:55] drpngx commented on #13895
Closing since the doc will be obsolete soon. Please check the new doc once it's out. Thank you both!

[2017-10-23 16:55] #13895 closed

[2017-10-23 16:57] drpngx commented on #13771
There is no way to block these messages other than modifying the code.

[2017-10-23 16:58] allenlavoie commented on #12927
If we're going to eagerly load the contrib shared objects, we might as well just statically link them into the binary (which I don't have a particular problem with, but may be somewhat contentious). We could also catch op/kernel not found errors in a few places and try again after loading contrib, which might be more palatable.

Longer-term there are hopes of making some sort of repository where s

[2017-10-23 17:12] #13820 closed

[2017-10-23 17:42] Nayana-ibm commented on #13777
Thanks @m3bm3b for detailed explanation.
So, now to add support for s390x in nsync, the provident code patch and cputype.h file with the value 1 would be sufficient?

[2017-10-23 17:42] GeorgyZhou commented on #13094
I am interested in this question as well. If @tjingrant have some problems, I can also join in.

[2017-10-23 17:47] michaelisard commented on #13915
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-10-23 17:49] michaelisard commented on #13919
Agreed, stackoverflow is the best place for this question. Without seeing any code, my best guess is that you have captured a Python Tensor object created within a tf.while_loop and are attempting to use it outside the loop. The error message in such a case is not very helpful, but the basic problem is that the value you are trying to use is not well-defined: which iteration should it pick? What i

[2017-10-23 17:49] #13919 closed

[2017-10-23 17:57] gunan commented on #13914
Sent you an email to debug the issue with s390x-0.
on the other machine, could you try replacing jenkins slave.jar with this one:
http://ci.tensorflow.org/jnlpJars/slave.jar

[2017-10-23 18:06] m3bm3b commented on #13777
I've just uploaded the change to github as branch v1.11,
change e14acb6027eca0d7eb5044d70bc9879acbedb727.
I'd be grateful if you could try it.   It updates the BUILD file (assuming
you're building with bazel),
and adds that header file.    I haven't added a makefile directory for it
because I was unable to test. (I tried repeatedly to get Debian up using
the Hercules emulator,
but every time I ins

[2017-10-23 18:07] skye commented on #13744
@mrry do you know if there's a way to deterministically seed shuffled input data?

[2017-10-23 18:11] mrry commented on #13744
@skyewm: Yes, the `Dataset.shuffle()` transformation will pick up the graph seed, if one is specified (or you can pass an explicit seed as an optional argument).

[2017-10-23 18:15] mrry commented on #13766
Indeed I'd hope it's possible to do in pure-Python with existing ops and transformations... though as you well know, the glue for handling `SparseTensor` can get a bit sticky :).

/cc @jsimsa who is taking a look.

[2017-10-23 18:19] mrry commented on #13847
Yes, the difficulty of getting deterministic results is one of the reasons why we are recommending that people use `tf.data` instead of the queue-based APIs. For example, here's what your program would look like in `tf.data`:

[code]

[2017-10-23 18:24] oahziur commented on #7927
@georgesterpu

From your error, it seems you have at least 2 layer of lstm? Is your dropout wrapper applied on the 2nd layer's cell? If so, the input size to your second layer should be your first layer's output, which is 128 instead of 132.

[2017-10-23 18:28] Nayana-ibm commented on #13777
Yes...Will verify the nsync code on s390x with the commit id you have mentioned.
I guess I need to create a makefile directory also.   Earlier, I had used command make depend test. Is that sufficient?
Is there any specific command  to build nsync using basel build?
I'll also try building Tensorflow using above commit id (just by making change in workspace.bzl file of Tensorflow) on s390x using bas

[2017-10-23 18:48] Chrisinger commented on #10033
Currently this problem comes up whan not using the latest version of tensorflow. Using 1.4.0rc0 fixed it for me.

[2017-10-23 18:52] sullivak commented on #13869
Currently cudnn 7 works with tf, but only if built from source, right?

[2017-10-23 18:55] Mohit-Ak commented on #9786
But I faced the same issue when I used the Object Detection API.  This happens on the Cloud Training when it reads the ".record" file.

I don't know the place where the object detection API uses it but it still has the issue. I can give you the logs if you want.

[2017-10-23 18:57] m3bm3b commented on #13777
Assuming you wish to build nsync as C++11
(which is what TensorFlow requires), at the root of the nsync tree do:
  cp -r builds/x86_64.linux.c++11 builds/s390x.linux.c++11
  cd builds/s390x.linux.c++11
  make depend test
This doesn't actually use the new header file because it's using C++11
atomics.

To try the new header file, do a C build, like this:
    mkdir builds/s390x.linux.old_gcc
    sed

[2017-10-23 18:57] RockfordWei commented on #19
@VolodymyrPavliukevych `summary` is a python object with those statistics as a writer:
[tensorflow/python/summary/write](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/python/summary/writer/writer.py)

Like I said, it would grab the graph bytes and then add an event with other tags as "meta assets" - so you can load/save the model with these statistics.

You can surely implement it

[2017-10-23 19:08] girving commented on #9786
Ah, the Object Detection API may be parsing the jpeg outside of TensorFlow.

[2017-10-23 19:11] liyzjj commented on #13888
I cannot reproduce this error. Maybe this is related to the specific platform and setup of the user.

[2017-10-23 19:11] m3bm3b commented on #13777
I forgot to say, there's nothing special needed to build nsync with bazel.
   bazel test :all
should work to build and test both with a C and a C++11 build.

On 23 October 2017 at 11:57, Mike Burrows <m3b@google.com> wrote:

[2017-10-23 19:21] VolodymyrPavliukevych commented on #19
@RockfordWei, So there isn’t that write feature in perfect? am I right?

[2017-10-23 19:22] BastiaanBergman commented on #13847
Yes its nice that way. I still have to look and see what made me move away from dataset. I think it was issues with switching between test and train sets on the same graph. But I had issues with that in queue's too and eventually settled with separate graphs for training and testing anyway.

Are there multiple threads working on this dataset version? Would I be save with one thread on queue's? Or

[2017-10-23 19:22] Mohit-Ak commented on #9786
Here are the cloud logs. Just for the reference. We could do a ctrl+F for "JPEG" and find a lot of matches.

21:44:47.081 - Not a JPEG file: starts with 0x89 0x50
Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main "__main__", fname, loader, pkg_name) File "/usr/lib/python2.7/runpy.py", line 72, in _run_code exec code in run_globals File "/root/.

[2017-10-23 19:27] RockfordWei commented on #19
No one asked me to do that. So no, there is no `summary` object in Perfect TensorFlow now, but you can request one then I can put it on the list, or you can write one to pull a request.

[2017-10-23 19:32] GeorgyZhou commented on #13460
I will go to work on this.

[2017-10-23 19:37] mrry commented on #13847
There are a couple of ways to switch between different datasets with a single `Iterator` (search for "reinitializable iterator" and "feedable iterator" in [this guide](https://www.tensorflow.org/programmers_guide/datasets#creating_an_iterator)), but most people find it easier to construct multiple graphs for these cases.

The code example I showed does not create additional threads, but you can ad

[2017-10-23 19:39] sujitbiswas commented on #13872
@asimshankar yes 1.3.0 works fine

[2017-10-23 19:42] rryan commented on #5804
Just keeping folks in the loop, we have a candidate fix internally that @fredbertsch authored. Hopefully it will show up in master over the next day or two!

[2017-10-23 19:45] barak-hurwitz commented on #13902
Thanks for your reply ,
since i'm using the C++ in transform_graph
solved it using small change in the BUILD file of graph transform.
...
Line 216:        "//tensorflow/contrib/seq2seq:beam_search_ops_op_lib",
...

*It will help to add a short guide or flag in the GTT tools for using ops from contrib  (not part of the default builds)

[2017-10-23 19:45] nksheridan commented on #13176
What about reducing the GPU memory allocation like to 16MB? Did you try a USB drive for swap drive? Maybe the screen blanking should be disabled too on Pi?

[2017-10-23 19:48] bensander commented on #22
@masahi - if you install the rocm and rocm-libs (i.e. "apt-get install rocm rocm-libs") that should be all your need.  The rocm_docs at the repot has full instructions including expected results.

[2017-10-23 19:50] girving commented on #9786
So that's either an older version of TensorFlow, a different of corruption (not related to PNGs), or a different bug.

[2017-10-23 19:55] cancan101 commented on #3332
Any chance of re-opening this issue? As pointed out, a number of SoTA models use these group convolutions. Further [per this comment](https://github.com/tensorflow/tensorflow/issues/12052#issuecomment-320465264), cuDNN 7 now supports group convolutions as a primitive. It seems like exposing a primitive op that handles these convolutions makes sense.

[2017-10-23 19:56] Mohit-Ak commented on #9786
But I cloned it just yesterday and it got fixed after running the above script.

[2017-10-23 19:58] VolodymyrPavliukevych commented on #19
@RockfordWei, don’t worry, you can use TensorFlowKit library for that.

[2017-10-23 20:04] girving commented on #9786
Then it's a different bug.  Care to diagnose why the format classification logic isn't working?  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/decode_image_op.cc#L156

[2017-10-23 20:06] tjingrant commented on #13094
I apologize for keeping everyone interested waiting and will do my best to release a PR early this week. @GeorgyZhou: thanks for your offer, I will let you know if I need extra hands!

[2017-10-23 20:08] RockfordWei commented on #19
@VolodymyrPavliukevych
No, let me clarify a bit: Perfect does have all required protobufs:
https://github.com/PerfectlySoft/Perfect-TensorFlow/blob/f638c65e03ffc6d6bf488576f582246eee12540a/Sources/PerfectTensorFlow/pb.summary.swift
https://github.com/PerfectlySoft/Perfect-TensorFlow/blob/f638c65e03ffc6d6bf488576f582246eee12540a/Sources/PerfectTensorFlow/pb.event.swift

It is up to the end user and

[2017-10-23 20:33] myyan92 commented on #10408
I have a very similar issue causing memory leak, but I'm only using tensorflow without keras. Here's the minimal code:

import tensorflow as tf
import numpy as np
for i in range(30):
    tf.Session().__enter__()
    tf.constant(np.random.random((800,500,500,1)))
    tf.get_default_session().close()
    tf.reset_default_graph()

When executing the loop the memory used keeps going up. How can I actu

[2017-10-23 20:43] nksheridan commented on #13176
There's this project for pre-compiled too: https://github.com/samjabrahams/tensorflow-on-raspberry-pi
The wheels are here: https://github.com/samjabrahams/tensorflow-on-raspberry-pi/releases

[2017-10-23 20:52] printdhruv commented on #13906
@Raghava14 Please review guideline before raising an issue [here](https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md)
Your concern can be solved on [stackoverflow.com](https://stackoverflow.com/search?q=tensorflow) where thousands of machine learning practitioners can suggest you the best way.

[2017-10-23 20:54] asimshankar commented on #13872
1.4.0-rc1 was just published and should have the problem fixed. Could you confirm that it works @sujitbiswas @mclodaa ?

[2017-10-23 20:55] jmchen-g commented on #3332
I am no longer in this team and not sure if anyone else is looking at this so just reopened it. :)

[2017-10-23 20:57] hanfeisun opened #13925 "Examples of GANs using tensorflow estimator"
I found all the estimator examples in the tutorial assumes there is `x`(features) and `y`(labels).

However, in the context of GANs-based method, there is no `y` in the dataset. Would there be any example of GANs using tensorflow estimator?

[2017-10-23 21:08] mtngld opened #13926 "Build from source issue (CUDA 7.5)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4 RC0
- **Python version**: 3.4.3
- **Bazel version (if compiling from source)**: 0

[2017-10-23 22:03] affromero commented on #12052
Building from the sources, TF1.4 is working with cuda 9.0, cuDNN v7.0.3 and python2.7 as well.

[2017-10-23 22:03] tsoernes opened #13928 "'Numpy dangling symbolic links' when building from source"
### System information
- **Fedora 26 x64**:
- **TensorFlow installed from source**:
- **TensorFlow version commit 53e7541cf7efa61ba22c9f042e07031d87c8f145 (oct 23 11:46)**:
- **Python version 3.6**:
- **Bazel version 0.5.4**:
- **CUDA 8.0**
- **cuDNN 8.0 v7**:
- **GPU model GTX 1060**:
- **bazel build -c opt --copt=-march=native --config=cuda //tensorflow/tools/pip_package:build_pip_package**:

[c

[2017-10-23 22:21] skye commented on #13890
@gpapan can you take a look or redirect? Thanks!

[2017-10-23 22:23] skye commented on #13888
@Sharath-girish do you see this error if you disable GPU? (You can disable your GPU by setting the env variable CUDA_VISIBLE_DEVICES='' and rerunning your script)

[2017-10-23 22:25] skye commented on #13892
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-23 22:25] #13892 closed

[2017-10-23 22:25] brycecf commented on #12052
@affromero Did you have any issues with jsoncpp by chance?

[2017-10-23 22:26] skye commented on #13896
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it seems like a problem with your environment. There is also a larger community that reads questions there. Thanks!

[2017-10-23 22:26] #13896 closed

[2017-10-23 22:27] skye commented on #13906
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-23 22:27] #13906 closed

[2017-10-23 22:28] skye commented on #13906
Ah didn't see your reply @printdhruv, thanks :)

[2017-10-23 22:30] skye commented on #13916
Please include the information requested in the new issue template.

[2017-10-23 22:32] printdhruv commented on #13906
@skye Missed to save your time:)

[2017-10-23 22:37] skye commented on #13818
I see. I'm a little hesitant to expose this low-level proto in the C API, but I understand we're not leaving you with many options (at least until gradients are fully implemented in the C API). I need to give this more thought, I'll keep you updated.

[2017-10-23 22:43] asimshankar commented on #13903
(From API review: It seems find to add it, contributions welcome :)

[2017-10-23 22:48] michaelisard commented on #13925
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-23 22:48] #13925 closed

[2017-10-23 22:55] andrewharp commented on #13916
@ArigarasuthanRepo It appears you're attempting to build for Android on Windows, which is not expected to be supported until [1.0](https://bazel.build/roadmap.html). Until then please see https://github.com/tensorflow/tensorflow/issues/6385 for various workarounds, including building via Linux for Windows and the recommended AAR integration via gradle + Android Studio (also described in tensorflow

[2017-10-23 22:55] #13916 closed

[2017-10-23 22:57] tsoernes commented on #13928
[code]
Solved this issue.

[2017-10-23 22:57] #13928 closed

[2017-10-23 22:58] tsoernes opened #13930 "Build failure CUDA8 / cudNN8-v7"
### System information
- **Fedora 26 x64**:
- **TensorFlow installed from source**:
- **TensorFlow version commit 53e7541cf7efa61ba22c9f042e07031d87c8f145 (oct 23 11:46)**:
- **Python version 3.6**:
- **Bazel version 0.5.4**:
- **CUDA 8.0**
- **cuDNN 8.0 v7**:
- **GPU model GTX 1060**:
- **bazel build -c opt --copt=-march=native --config=cuda //tensorflow/tools/pip_package:build_pip_package**:

Ha

[2017-10-23 23:11] GeorgyZhou commented on #13903
I can work on it and send a PR later today.

[2017-10-23 23:13] vishvananda commented on #13822
regardless of the weird scoping, the original issue still remains in that it is not possible to use the same layer twice due to the name conflict.

[2017-10-23 23:17] jthestness commented on #13875
We've tested a few more things: we tried `--config=monolithic`, we built the current TF mainline head ea94bbe without the CUDA 9/cuDNN 7 changes from NVIDIA, and built using prior versions of CUDA (8) and cuDNN (6). The error exists after each of these builds. IOW, the NVIDIA patches were not part of the problem.

We've started looking into Bazel's process for static linking against the MPI librar

[2017-10-23 23:19] fchollet commented on #13822
Can you check what happens with layers from `tf.layers`?

[2017-10-23 23:24] elipeters commented on #12052
Is that gpu support or cpu?

From the Tensorflow 1.4 repository [https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md]

[2017-10-23 23:29] axeln31459 opened #13931 "TF 1.4 (CUDA 9/CUDNN7) Chrome Tracing Timeline broken"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ArchLinux Latest
- **TensorFlow installed from (source or binary)**:Source
-

[2017-10-23 23:32] masahi commented on #22
@bensander how do I know if I am running rocm 1.6.4 correctly (and not 1.6.3) ?

[2017-10-23 23:53] allenlavoie commented on #13875
Does it work if you add alwayslink=1 to https://github.com/tensorflow/tensorflow/blob/53e7541cf7efa61ba22c9f042e07031d87c8f145/tensorflow/tensorflow.bzl#L1138 ?

[2017-10-24 00:26] dusenberrymw opened #13932 "Non-determinism from `tf.data.Dataset.map` with random ops"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes -- please see the minimal reproducible example script below.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12, Linux CentOS 7 (4.6.6-300.el7.centos.x86_64)
- **TensorFlow installed from (source or binary)**: `pip3 install tf-nightly` (also happe

[2017-10-24 00:45] ashwhall opened #13933 "gradient registry has no entry for: FloorMod"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
A small reproducible example has been provided.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
From docker gpu image
- **TensorFlow version (use command below)**:
1.3.0
v1.3.0-rc2-20-g0787eee 1.

[2017-10-24 01:04] tfboyd commented on #12052
@elipeters

I did a test of tf_cnn_benchmarks on AWS building from TF 1.4RC0 branch with CUDA 9 / cuDNN 7 and the results were equal or slightly faster than CUDA 8 + cuDNN 6.

[2017-10-24 01:30] elipeters commented on #12052
@tfboyd Which branch? Link please.

I'm building from the tensorflow-gpu 1.4.0rc0 wheel found at [https://pypi.python.org/pypi/tensorflow-gpu](https://pypi.python.org/pypi/tensorflow-gpu)

And calls a CUDA 8 library during the build.
` ImportError: Could not find 'cudart64_80.dll'.`

Windows 10, GTX1080ti, CUDA 9, cuDNN 7, TF 1.4rc0

[2017-10-24 01:38] #11693 closed

[2017-10-24 01:38] tensorflowbutler commented on #11693
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-24 01:57] sjperkins commented on #13308
Any thoughts on this issue?

[2017-10-24 02:03] tfboyd commented on #12052
@elipeters

When we say building we mean building from source not installing a wheel file.  A wheel is already compiled and 1.4 binaries support CUDA 8 + cuDNN 6.  To get CUDA 9 you will need to build from source.  I have never done the windows build.  Once 1.4 ships the team will switch the nightly builds over to CUDA 9.

[2017-10-24 02:35] mclodaa commented on #13872
@asimshankar it works well in 1.4.0-rc1. Thx!
I wonder what causes this problem. I tried to solve this problem, but failed.

[2017-10-24 03:14] cuixue commented on #12772
I met the same problem with you. and have you solved it?

[2017-10-24 03:57] facaiy commented on #13822
Relate to #13429?

[2017-10-24 04:16] sujitbiswas commented on #13872
i am using the maven repo [https://mvnrepository.com/artifact/org.tensorflow/libtensorflow] it is not yet updated with 1.4.0-rc1

[2017-10-24 04:17] rickiepark commented on #9900
Hi, I ran same code in grid_search_test.py and got the same error in TF 1.3.0, scikit-learn 0.19
Have you any idea?

import tensorflow as tf
from tensorflow.contrib import learn
from sklearn.model_selection import GridSearchCV
from sklearn import datasets
iris = datasets.load_iris()
feature_columns = learn.infer_real_valued_columns_from_input(iris.data)
classifier = learn.DNNClassifier(feature_col

[2017-10-24 04:27] GodOfSmallThings commented on #9958
I solved this problem by updating libtensorflow_inference.so from nightly build. Leave this message just in case someone would have same problem as we had.
Try this.
https://ci.tensorflow.org/view/Nightly/job/nightly-android/lastSuccessfulBuild/artifact/out/native/

[2017-10-24 05:06] Sharath-girish commented on #13888
I disabled gpu by setting the variable to -1
`os.environ["CUDA_VISIBLE_DEVICES"]='-1'`

Alternatively, I also tried setting tf device to '/cpu:0'
I still get the error as
InvalidArgumentError: No OpKernel was registered to support Op 'Resampler' with these attrs.  Registered devices: [CPU], Registered kernels:
  &lt;no registered kernels&gt;

	 [[Node: resampler/Resampler = Resampler[T=DT_FLOAT](o

[2017-10-24 05:42] vishvananda commented on #13822
@fchollet I'm less familiar with using straight tensorflow layers, but the following gives me roughly the same  error:
[code]

Here is the traceback:
[code]

[2017-10-24 06:27] vishalghor commented on #12817
@bowang thank you for fast reply.I was able to read an LMDB file and print the values by assigning the tensor key and value to normal variables.

However, Is there any sample implementation of LMDB dataset for any opensource models such as inception v3 or an implementation of LMDB dataset for the retraining inception v3 tutorial by tensorflow.
It would be very helpful if a sample of usage in train

[2017-10-24 06:30] DjangoPeng commented on #13885
@drpngx I'd like to send a PR to add the `dtype` argument for `reduce_mean` funciton.

[2017-10-24 06:36] eezprince commented on #13915
Updated

[2017-10-24 06:38] ruppeshnalwaya1993 commented on #9958
https://github.com/tensorflow/tensorflow/issues/11182
I solved it by compiling the tensorflow .a lib file for android with flag `-DTENSORFLOW_DISABLE_META`

[2017-10-24 07:19] YannickBlais opened #13939 "Quantization make graph slower during inference."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from**: using TF source code (GPU build), can provide docker to reproduce environment conditions if necessary
- **TensorFlow version**: using r1.3 branch, version 1.3.1
- **Python version**:

[2017-10-24 07:22] fchollet commented on #13822
@vishvananda what TF version is that? If it is the GitHub one, then I believe this is a bug that was introduce in relation to eager mode and has been fixed recently. It should not be related to the issue from this thread. Try with a different layer (e.g. `Dense`).

Yes, I would think so, but would like confirmation.

[2017-10-24 07:56] andreas-eberle commented on #13807
As I tried to point out, I think you compiled an older version and uploaded that. Because it does not seem that only the string is wrong. Instead, the whole feature "string tensors" is missing in that version (but should be in there).

[2017-10-24 08:09] Qilewuqiong opened #13940 "Feature request: tfdbg support for "Session.partial_run_setup" and "Session.partial_run""
Hello,
         When I debug tensorflow codes written with "partial_run_setup" and "partial_run" using tfdbg, it output "partial_run_setup is not implemented for debug-wrapper sessions". I want to know how to debug tensorflow codes with "partial_run_setup" and "partial_run". Thank you.

[2017-10-24 08:29] andreas-eberle commented on #13807
I just saw you released rc1 already. With rc1 my issue is fixed. Thanks guys and keep up the good work!

[2017-10-24 08:29] #13807 closed

[2017-10-24 09:09] yahyamortassim commented on #11280
I'm facing the same problem, on Debian.

[2017-10-24 09:30] rayanelleuch commented on #2169
Small improvement of ThomasWollmann code to add the know shape to the output tensor (also removed the tf.stack that were not needed).
Useful when using tf.contrib.layers.conv2d.

[code]

[2017-10-24 09:51] jirivrany commented on #12326
Same issue on Centos 7 with Anaconda. Afer update to
[code]
It was caused by mixing packages installed with conda and pip. Creating new conda env and install tensorflow-gpu fixed the issue.

[2017-10-24 09:55] andreas-eberle opened #13942 "Support grayscale .bmp images"
The current implementation only supports 3 (RGB) or 4 (ARGB) channel BMP images. However, grayscale images are also often used for machine learning stuff. Therefore it would be great to be able to read 1 channel BMP images.

See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/decode_bmp_op.cc#L71

[2017-10-24 10:42] keryell commented on #22
@masahi just a guess : you should ask the question on a more related place for your issue, such as AMD or RoCM project rather than here...

[2017-10-24 10:46] bhargav104 opened #13943 "Doubt in definition of state returned by dynamic_rnn for LSTM cell in tensorflow"
### Describe the problem
Can someone tell me whether the state returned by the dynamic_rnn function for a LSTM cell is (h,c) or is (c,h)? c - cell state h - hidden state.

[2017-10-24 10:47] georgesterpu commented on #7927
Thanks, @oahziur, you are right.
I have added an extra parameter, the layer number, to my build_cell function, and I instantiate the DropoutWrapper like this:

[code]
and it appears to work.

However, I get a new error on the decoder side in a seq2seq model:
`ValueError: Dimensions must be equal, but are 143 and 128 for 'Decoder/decoder/while/BasicDecoderStep/decoder/attention_wrapper/attention_wr

[2017-10-24 11:13] masahi commented on #22
@keryell right, I'm getting off topic. I stop here.
Anyway, I couldn't get hiptensorflow working on my system. I will try later with clean Ubuntu install.

[2017-10-24 11:13] xunkaixin opened #13944 "How can I use all of cpu cores in android"
Hi,
     Thank your for your work.
     In my app, I use tensorflow to classify.  But CPU usage are lower, just about 30%. My device has 4 cores.  I want to use all CPUs to reduce cost time. I try to modify intra_op_parallelism_threads and  inter_op_parallelism_threads, when compile the libtensorflow_inference.so.  And use TF_SetConfig to set  TF_SessionOptions.　But it doesn't work.
     Can you g

[2017-10-24 11:31] anthnyprschka opened #13945 "ImportError: cannot import name gen_checkpoint_ops"
### System information
- **Have I written custom code**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: via pip
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7.12
- **Exact command to reproduce**: `from tensorflow.contrib.tensorboard.plugins import projector`

### Describe the pr

[2017-10-24 11:48] caisq commented on #13940
@Qilewuqiong tfdbg doesn't support partial runs yet. So currently, to debug partial runs, you can use other debugging tools from tensorflow, including the following
* [tf.Print op](https://www.tensorflow.org/api_docs/python/tf/Print) See use example at: https://www.quora.com/How-does-the-tf-Print-statement-work-for-TensorFlow
* [tf.add_check_numerics_op](https://www.tensorflow.org/api_docs/python/

[2017-10-24 12:08] ashokbugude opened #13946 "Create Model file for Object (face) Recognition in C++"
I am doing research on face Recognition using tensorflow.
Can I please know how how to use the code to create model file for face recognition.

**Task (required in C++)**
I have 5 folders, each folder has 4 images of a particular person.
I would like to train the images and generate a model file from scratch.
I would then like to use the model file for recognizing one of the 5 persons.

**Steps fo

[2017-10-24 12:10] bensander commented on #22
@masahi - just open an issue over there and we'll get you set up.

[2017-10-24 12:29] BowieHsu commented on #10867
https://github.com/BowieHsu/Tensorflow-windows-dll wish this could help you, complied tensorflow gpu dll

[2017-10-24 12:50] abraham221986 opened #13947 "Tensorflow import fails with Segmentation fault error"
Hello

I have pip3 installed tensorflow CPU only
Python version:  3.5.2
OS:LSB Version:    :base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch
Distributor ID: RedHatEnterpriseServer
Description:    Red Hat Enterprise Linux Server release 6.8 (Santiago)
Release:        6.8
Codename:       Santiago

Install comm

[2017-10-24 13:36] FierceKing commented on #13313
@LaiPiXiong 能说清楚点儿么？我的全连接层，在Tensorboard的graph上，Gradient那个op, 所有的bias都不在Gradient的输入中，好奇怪。。。

[2017-10-24 14:19] malmaud commented on #13818
Great, thanks.

[2017-10-24 14:27] rasorensen90 commented on #13769
I have just encountered the same problem. To me the error was caused by the following:
if tf.gfile.IsDirectory(FLAGS.checkpoint_path):
                checkpoint_path = tf.train.latest_checkpoint(FLAGS.checkpoint_path)
            else:
                checkpoint_path = FLAGS.checkpoint_path

I solved it by simply setting
checkpoint_path = FLAGS.checkpoint_path

It seems like slim.evaluation.evalu

[2017-10-24 15:04] Nayana-ibm commented on #13777
@m3bm3b I could build and verify nsync code on s390x platform as C++11 as well as C.
(Using steps that you have mentioned in your previous comment)

As C++11:
[code]
As C:
[code]

Also, could verify using `bazel test :all` as well.

@gunan I could build Tensorflow master on s390x by updating Tensorflow workspace.bzl with nsync commit id as : e14acb6027eca0d7eb5044d70bc9879acbedb727. Should I go ah

[2017-10-24 15:11] davharris commented on #13641
@rmlarsen I just wanted to say that I really appreciate your work on this!

[2017-10-24 15:22] Nayana-ibm commented on #13914
@gunan Issue resolved  after replacing jenkins slave.jar on s390x-1. Now builds are getting triggered on this node. About s390x-0, I have sent an email with details to you.

[2017-10-24 15:40] fredbertsch commented on #5804
A test and fix were added internally, and they should propagate here soon.

[2017-10-24 15:42] pbanavara commented on #12686
Hey guys - I got around to making some progress. Need some help and apologies for super noob questions. This is what I have done to port the Python code

[code]
I get an error at the line

`grad = Add(scope, grad, fProd);`

tensorflow/cc/gradients/nn_grad.cc:74:8: error: no viable overloaded '='

I have totally forgotten about operator overloading. Have I done some fundamental mistake in the code

[2017-10-24 15:54] suharshs commented on #12686
`Output` (the return type of the op calls) doesn't support assignment (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/framework/ops.h#L84).

Instead of assigning to `grad` which was used for `Mul`, if you assign a new variable (`auto new_var = Add(...)`) things should work. (but pick a better name than `new_var` :) )

[2017-10-24 15:57] vishvananda commented on #13822
This is the r1.4 branch from last week. I'm building again from current r1.4. Will post the results shortly

[2017-10-24 15:59] Yelen719 opened #13950 "Error in documentation: programmers_guide/variables.md"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: No.
- **TensorFlow installed from (source or binary)**: binary.
- **TensorFlow version (use command below)**:  r1.3
- **Python version**: Irrelevant
- **Bazel version (if compiling from source)**: Irrelevant

[2017-10-24 16:03] rapatel0 commented on #13851
As a temporary hack add you can add an environmental variable and a symlink to fix the problem

Dockerfile example:
[code]

[2017-10-24 16:05] vishvananda commented on #13822
The current r1.4 branch still fails. I'm now trying against current master, although it will take a while to do the build from scratch

[2017-10-24 16:05] #13950 closed

[2017-10-24 16:13] skye commented on #12686
Suharsh's suggestion is correct (create a new variable), but it's not because of Output (you can assign Outputs). Mul and Add are both classes, so when you call them, you're calling their constructors. See https://www.tensorflow.org/api_guides/cc/guide#operation_constructors. So you're creating a Mul variable, then trying to assign an Add to it. You need to create a new Add variable instead.

And

[2017-10-24 16:18] suharshs commented on #12686
Oh i see, thanks for the correction @skye

[2017-10-24 16:19] ekelsen commented on #13851
Is the CUDA install path different in 17.04 vs. earlier versions of Ubuntu?  It seems like if this affected all versions it wouldn't have gone unnoticed until now.

Another workaround is installing CUDA from the NVIDIA installer rather than using Ubuntu; then it will be installed into the correct location.

[2017-10-24 16:31] m3bm3b commented on #13777
I've made the equivalent change to TensorFlow's workspace.bzl
so it should now pick up the version of nsync that will work for you.
(The sha256 is different (839fcc53ff9be58218ed55397deb3f8376a1444e),
because I made another change to
nsync, unrelated to s390x support, but it includes the change you need.)

On 24 October 2017 at 08:08, Nayana Thorat <notifications@github.com> wrote:

[2017-10-24 16:38] DjangoPeng commented on #11350
It sounds fine for me, and the workaround is make sense. What is the progress of the implementation? If you want, I can send a PR to implement the feature. It's good if you would like do me a favor.

[2017-10-24 16:39] m3bm3b commented on #13220
Based on the reports earlier in this thread,
I've made a change to nsync that defines _DARWIN_C_SOURCE
in the relevant builds in the bazel BUILD file, the cmake CMakeLists.txt file,
and the relevant Makefiles.

Could someone running Sierra could try these and report whether they work?

[2017-10-24 16:55] Randl commented on #13851
I believe it is, because there were no problem with earlier versions of Ubuntu (I haven't tried 16.10 though) .

[2017-10-24 16:56] IvanDeFalco opened #13951 "help with classifier.predict and predicted_classes"
### System information
- custom code: no, it is the one in https://www.tensorflow.org/get_started/estimator
- system: Apple
- OS: Mac OsX 10.13
- TensorFlow version: 1.3.0
- Python version: 3.6.3
- GPU model: AMD FirePro D700 (actually, two such GPUs)

### Describe the problem
Dear all,
I am running the simple iris program:
https://www.tensorflow.org/get_started/estimator
under python 3.6.3 and te

[2017-10-24 17:23] heyucongtom commented on #13892
Please correct me if I were wrong, but I think this problem belongs to the bug category, since this behavior is unexpected.

[2017-10-24 17:51] johnsrude commented on #13692
Tried setting colocate_gradients_with_ops to True but it didn't make a difference in performance in my case. YMMV.

[2017-10-24 18:06] drpngx commented on #13885
@DjangoPeng sounds good, it'll have to go to api review. Thank you!

[2017-10-24 18:15] skye commented on #13932
@mrry

[2017-10-24 18:33] AlexanderYukhanov opened #13952 "tensorflow + tensorboard on cifs results in PermissionDeniedError"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Using stock example script mnist.py from https://github.com/dandelionmane/tf-dev-summit-tensorboard-tutorial
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **TensorFlow installed from (source or binary)**: using standard tensorflow/tensorflow:1.1.0-gp

[2017-10-24 18:38] dusenberrymw commented on #13932
Additionally, I would like to note that for steps 3 and 4, an op-level seed *must* be set on the random ops used within the map function, regardless of whether or not a graph-level seed is set.  This appears to be an inconsistent behavior with that of the documentation for [`tf.set_random_seed()`](https://www.tensorflow.org/api_docs/python/tf/set_random_seed):

[2017-10-24 18:59] nikhilrayaprolu commented on #13124
@caisq I would like to take up this issue and work on it.

[2017-10-24 19:03] droidben opened #13953 "Tensorboard not displaying event files"
Hi all
First time posting, please forgive and correct me if i do anything wrong or stupid.

I have an issue where I am training a model, but tensorboard isn't displaying any data from the event files. I've done everything in my knowledge. Yes I read the tensorboard ReadMe FAQ. [https://github.com/tensorflow/tensorboard/blob/master/README.md#frequently-asked-questions](url)

I start the train proce

[2017-10-24 19:14] caisq commented on #13124
@nikhilrayaprolu Thanks a lot! Please go ahead! When you make a pull request, please add me as a reviewer.

cc @jhseu re HDFS.

[2017-10-24 19:28] powderluv commented on #12904
This seems to be some sort of Makefile / Bash issue on OSX where the $(HOST_NSYNC_LIB) env var in the Makefile is getting clobbered.

I was able to build for a while without this issue and then started to hit the same issue. I ran each command in build_all_ios.sh by hand and then it seemed to work.

Here is a simple patch to the Makefile which should fix the Undefined symbols error if you run into

[2017-10-24 19:30] skye commented on #13930
Can you try updating to the latest version of bazel? That's sometimes the issue. If that doesn't help I'll try to repro.

[2017-10-24 19:32] skye commented on #13942
@rmlarsen FYI (please feel free to cc anyone else who may be interested)

[2017-10-24 19:33] skye commented on #13944
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-24 19:33] #13944 closed

[2017-10-24 19:35] skye commented on #13946
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-24 19:35] #13946 closed

[2017-10-24 19:40] vishvananda commented on #13822
Current master also fails. Both of the following Dense scenarios work fine, so it looks like the error is specific to convolutional layers
[code]
[code]

[2017-10-24 20:37] tsoernes commented on #13930
First pulled 5487545cfba94bff67f494a038e4314518982b45, then upgraded to bazel 0.7.0. After both steps, the build error was the following:
[code]
The error has changed a bit from above

[2017-10-24 20:44] cwhipkey commented on #3549
There are at least couple reasons this could happen:
1. the kernel for round isn't being compiled on android.  you could add a compilation error in tensorflow/core/kernels/cwise_op_round.cc and then run the android build again, to see if it actually compiles that file.

2. the kernel is being compiled, but for some reason the ops_to_register.h is causing it to not use the Round op.  ops_to_registe

[2017-10-24 20:48] galv commented on #13413
@channingxiao I encountered the same issue on RHEL6 in tensorflow 1.3.1. You need to link explicitly the librt library in RHEL6, since it uses glibc 2.12, while Google apparently uses a glibc newer than glibc 2.17, which changed the location of the time_* functions from librt to glibc itself. See [here](https://blog.flameeyes.eu/2012/12/glibc-2-17-what-s-going-to-be-a-trouble/) for more details.

[2017-10-24 21:06] rohan-varma commented on #13887
So from what I understand, this issue seems to come from the fact that we can't actually set reuse = False for a variable scope? I was able to fix the problem by introducing a sub-scope like the above comments mentioned, but overall I'm still a bit confused about the underlying issue. The traceback given here:
`ValueError: Variable w/Adam_2/ does not exist, or was not created with tf.get_variable(

[2017-10-24 21:16] yaroslavvb commented on #6716
relevant commit: github.com/tensorflow/tensorflow/commit/86238e8d

[2017-10-24 21:27] yaroslavvb commented on #13821
to get sigserv stack trace:

ulimit -Sc unlimited
<crash things>
gdb python
core core

<paste stack trace>

[2017-10-24 21:30] hanfeisun opened #13956 "tf.contrib.layers.flatten has neither "name" nor "reuse" parameter."
I think `tf.contrib.layers.flatten` is just a special case of `tf.reshape`.

However, while `tf.reshape` has `name` parameter, `tf.contrib.layers.flatten` doesn't have one. Also neither of them has `reuse` parameter.

Is `tf.contrib.layers.flatten` a deprecated API?

[2017-10-24 21:36] footh opened #13957 "TimeDistributed (keras) wrapper broken in 1.4rc1"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Sierra
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4rc1
- **Python version**: 3.6
- **CUDA/cuDNN version**: N/A
- **GPU model and memory**:

[2017-10-24 22:08] DjangoPeng commented on #13876
I think @fchollet  has given a reasonable explaination in the PR. I agree on his point and suggest to close the issue, cause there is already a function for using local data files.

@uZeroJ @drpngx  What do you think?

[2017-10-24 22:11] ajtulloch commented on #7958
@ofirbb interesting.

- Re: prefetching - how did you select the descriptors to prefetch?  Seems to trade off heap size vs time spent allocating right?
- Re: preencoding/double buffering - we do something similar for models like Mask R-CNN, where we run parts of the graph on the CPU and parts on the GPU. Not very cleanly abstrated though.
- Re: texture2d/2d_array - cool stuff. I was thinking of ju

[2017-10-24 23:23] roumposg commented on #13821
Thanks for uploading the files. I modified train.py to add a counter for counting how many candidates have been constructing in total, and ran it in ubuntu (Tensorflow 1.3 installed with virtualenv). It produced ~1000 candidates so far without problems before I stopped the script.

Perhaps this is something mac-specific, so I will try running it on macOS.

Tom, can you paste the full error message

[2017-10-24 23:31] Qilewuqiong commented on #13940
@caisq Thanks for your help.

[2017-10-24 23:44] pronobis commented on #12860
With TF 1.3, I only find `cuda_config.h` missing, but when compiling against current master 1.4-rc0/1, I also additionally get:
[code]

[2017-10-24 23:55] skye commented on #13880
I was able to reproduce this, and am trying to debug it. As a workaround, your code should work if you use a Session instead of an InteractiveSession. Specifically, the session config place_pruned_graph = True causes the problem, but I'm not sure why yet.

[2017-10-25 00:04] skye commented on #13880
Ah, I see you already figured this out. Didn't read carefully enough :) I'll keep digging.

[2017-10-25 00:09] masahi commented on #22
Hi, I just want to mention that I was able to get hiptensorflow working, thanks to @bensander and other folks at AMD. I can run all examples in their quickstart guide.

Thanks

[2017-10-25 00:12] wangyum commented on #13413
Try to build  tensorflow add `-linkopt='-lrt'`:
[code]

https://github.com/wangyum/Anaconda/blob/master/doc/installing-tensorflow-from-sources.md#package-tensorflow

[2017-10-25 00:54] mrry commented on #13865
Hmm, I'm concerned that using `None` for this purpose doesn't give enough information. For example,  let's take the code fragment defining `data_test`:

[code]

At this point, what is the value of `data_test.output_types[1]` and `data_test.output_shapes[1]`? It's only implied by code later in the snippet:

[code]

...and I don't see how the two `assert` statements would be able to pass. It seems l

[2017-10-25 01:01] #11696 closed

[2017-10-25 01:01] #11704 closed

[2017-10-25 01:02] #11711 closed

[2017-10-25 01:02] tensorflowbutler commented on #11696
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-25 01:02] tensorflowbutler commented on #11704
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-25 01:02] tensorflowbutler commented on #11711
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-25 01:08] zalperst commented on #13441
I am also having a similar problem for RNNs, and I can't use batch norm because of it. It seems to be due to the tf.control_dependencies statement, it is waiting to update something that it is not getting. Any insight?

[2017-10-25 01:10] subashp commented on #1924
I am using the TF 1.4 and linking against C++ code. Below code always says it failed to read the file. I have incorporated above suggestions and it doesnt make any difference. Thoughts/suggestions?
  // ...
  cv::String pathImg = argv[1];
  cv::Mat img = cv::imread(pathImg, CV_LOAD_IMAGE_COLOR | CV_LOAD_IMAGE_ANYDEPTH);
  if (img.empty()) {
    error("Failed to read the file {}", argv[1]);
    ret

[2017-10-25 01:12] powderluv commented on #12482
the undefined reference is probably because $HOST_NSYNC_LIB and $TARGET_NSYNC_LIB are unset in your env.
You could try this patch assuming you are building for iOS

diff --git a/tensorflow/contrib/makefile/Makefile b/tensorflow/contrib/makefile/Makefile
index 525cf2cd4..e4893dde2 100644
--- a/tensorflow/contrib/makefile/Makefile
+++ b/tensorflow/contrib/makefile/Makefile
@@ -86,7 +86,7 @@ endif
HO

[2017-10-25 01:25] johnsrude opened #13962 "Compiling TensorFlow 1.4.0 GPU on Windows 10 x64"
There doesn't seem to be any detailed documentation for how to compile TensorFlow 1.4.0 GPU on Windows 10 x64.

I need to recompile TF to add missing functionality for a Windows 7 x64 production system.

 I can use Bazel or CMake to compile something but how do I incorporate the Python and NVIDIA dependencies into that build?

How are the Windows wheels at https://pypi.python.org/pypi/tensorflow-g

[2017-10-25 02:02] fchollet commented on #13957
This is a bug in convolutional layers that was introduced in relation to eager mode; the same issue as [here](https://github.com/tensorflow/tensorflow/issues/13822#issuecomment-338880215). It has already been fixed and the fix will be backported into TF 1.4.

[2017-10-25 02:02] #13957 closed

[2017-10-25 02:02] wakamama commented on #6698
@SimonWalsh1000  You are my hero !!   It works for me as well !

[2017-10-25 02:25] suharshs commented on #12327
Oops, missed this. It is not relevant to the quant efforts.

I think the best path would be to add f16 support to the DepthwiseConv2dNative kernel. This may be as simple as registering another kernel here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/depthwise_conv_op.cc#L422

You may also need to add "half" here: https://github.com/tensorflow/tensorflow/blob/master

[2017-10-25 02:31] yongtang commented on #12327
@suharshs PR #12976 was created for float16 support. Please take a look.

[2017-10-25 02:34] MicroDroid commented on #12052
Umm, using `tf-nightly-cuda`, getting this:

[code]

[2017-10-25 02:50] Ellie68 commented on #13769
@rasorensen90
Yes, you are right. In this code when the folder is empty in FLAGS.checkpoint_path and waiting for new checkpoints, the checkpoint_path returns NANE.
`  if tf.gfile.IsDirectory(FLAGS.checkpoint_path):
         checkpoint_path = tf.train.latest_checkpoint(FLAGS.checkpoint_path)
    else:
         checkpoint_path = FLAGS.checkpoint_path
`

I added this line and it works fine.

`

[2017-10-25 02:52] uZeroJ commented on #13876
@DjangoPeng , Got it. Anyway thanks again.

[2017-10-25 02:53] jeherr opened #13963 "Tensorflow crashes when importing certain modules before tensorflow"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04

- **TensorFlow installed from (source or binary)**:
binary both from conda-forge and from pip install using the tfBinaryURL

- **TensorFlow version (use command below)**:
1.3.0

- **Python version**:
3.6.2 from Anaconda

- **CUDA/cuDNN version**:
CUDA 8.0 cuDNN 6.0

- **GPU model and memory**:
GTX 1

[2017-10-25 03:00] PeterMitrano commented on #8246
:+1: for what seems like a basic feature

[2017-10-25 03:08] vishvananda commented on #13822
@fchollet I assume you are referring to the fixes contained in this pr: https://github.com/tensorflow/tensorflow/pull/13934

I have merged that branch into master and it does fix the issues here

[2017-10-25 03:21] cancoo commented on #6589
I am facing same issue, any update ?

[2017-10-25 04:05] Overdrivr opened #13964 "Callback in tf.Print to access raw data"
### System information
- **Have I written custom code**: No
- **OS**: Win 10
- **TensorFlow installed from**: binary
- **TensorFlow version**: 1.3.0
- **Python version**:  3.5
- **Bazel version (if compiling from source)**: /
- **CUDA/cuDNN version**:  CPU
- **GPU model and memory**: CPU
- **Exact command to reproduce**: /

### Feature request

The `tf.Print` op lets us print tensor values when it

[2017-10-25 04:33] bmatichuk commented on #890
On Mac OS - Installing tensorflow 1.3 - it will automatically remove other protobuf installs and install protobuf 3.4. However, this does not work and neither does installing or downgrading to any other protobuf version.

However I found a solution.
Not sure why this works - but on Mac OS this solved it.

    pip install google

[2017-10-25 04:34] bmatichuk commented on #6341
On Mac OS - Installing tensorflow 1.3 - it will automatically remove other protobuf installs and install protobuf 3.4. However, this does not work and neither does installing or downgrading to any other protobuf version.

However I found a solution.
Not sure why this works - but on Mac OS this solved it.

    pip install google

[2017-10-25 04:45] hanfeisun commented on #13956
Just found the flatten has been added to core layers `tf.layers` recently.

https://github.com/tensorflow/tensorflow/commit/80ed8afc02b16adb209bffeb551e7f0c435985f6

I was curious why reshape is not added into core layers as well.

[2017-10-25 04:56] vishalghor commented on #12817
Hi all,

I was able to read LMDB database using the following code:

[code]

But while researching more on LMDBReader,i found tf.LMDBReader also.
So what is the difference between io_ps.LMDBReader() and tf.LMDBReader().

The Tensorflow documentation speaks very minimal about various other forms of dataset format such as LMDB,HDF5 compared to TFRecord.

How such datasets be included in existing cod

[2017-10-25 05:02] footh commented on #13957
Awesome, thanks for the quick reply. Does that explain the first issue though? (Perhaps I should've split them into separate reports.)

[2017-10-25 05:15] Leslie-Fang opened #13965 "compile tensorflow-1.4.0-rc1 failed with error: SWIGing tensorflow/python/tensorflow.i failed (Segmentation fault): swig failed: error executing command"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-25 05:27] ayushiag17 commented on #5792
@lixinyutfd : Hey Do you know how to add a header file as a dependency while compiling your new op?
I am also creating a new op and I have a similar build file as yours:
load("//tensorflow:tensorflow.bzl", "tf_custom_op_library")

tf_custom_op_library(
    name = "rec_conv.so",
    srcs = ["rec_conv.cc"],
)

But I also have a "rec_conv.h" file which I am unable to include successfully in the build

[2017-10-25 05:34] Nayana-ibm commented on #13914
s390x-0 is also now up. builds are getting triggered on this node also.

[2017-10-25 05:49] mrry commented on #13964
You can use the `tf.py_func()` op to register a Python callback with access to the raw tensor values (as a NumPy array). Simply return the arguments after executing your Python code, and it will act as an identity op.

[2017-10-25 05:49] #13964 closed

[2017-10-25 05:57] JerryLauzzz opened #13966 "ImportError: libmpich.so.12: cannot open shared object file: No such file or directory"
### System information
- **OS** : Ubuntu 17.10
- **TensorFlow installed from **: source
- **TensorFlow version (use command below)**: r1.3
- **Python version**: 3.6
- **CUDA/cuDNN version**: 8.0/ 6

When I try to import tensorflow, I get error:
[code]
I try to fix it by command
[code]
It did not work.

[2017-10-25 06:30] Nayana-ibm commented on #13777
@m3bm3b I couldn't see the changes done in TensorFlow's workspace.bzl file in TensorFlow master.
The build is failing with same error on s390x. Am I missing anything here?

[2017-10-25 07:28] brean commented on #12052
Looks like there is the 2nd release candidate (rc1) for 1.4 out as precompiled wheel ( https://pypi.python.org/pypi/tensorflow ). Has anyone tested that with CUDA 9 yet ?

[2017-10-25 08:03] p9anand commented on #12052
Tried, but not with working cuda 9.0.

[2017-10-25 08:23] m3bm3b commented on #13777
Sorry.  I made the changes to an internal version that gets pushed to
github periodically.
I had forgotten that that process takes a while.

The diff is below.  It should appear on github within a day or so.
Sorry for the confusion.

==== //depot/google3/third_party/tensorflow/workspace.bzl#252 -
/google/src/files/173208878/depot/google3/third_party/tensorflow/workspace.bzl
====
432,433c432,433
<

[2017-10-25 08:39] rigorosyang opened #13967 "build the libtensorflow-core.a from the tf1.2 source, but get the SIGABRT running the codes, seems TestCPUFeature fail"
Hi TF Experts,

I build the libtensorflow-core.a from the  TF1.2 source codes in one machine with gcc 4.8.2. but when I running the example codes, I got one segment fault. below is the debug info in GDB：

#0  0x00007ffff75f3625 in raise () from /lib64/libc.so.6
#1  0x00007ffff75f4e05 in abort () from /lib64/libc.so.6
#2  0x0000000001d8c395 in __gnu_cxx::__verbose_terminate_handler() () at ../../..

[2017-10-25 08:46] chenguoting opened #13968 "A unexpected read op is in my pb, It make convertion to dlc fail"
I want to conver the pb to dlc. but fail.
I find a unexpected read op between the const and the op.
why ? how can I remove the read op ?

conver error message:
/home/nubiaml/snpe-sdk/snpe-1.2.2/lib/python/converters/tensorflow/layers/eltwise.py:105: RuntimeWarning: error_code=1002; error_message=Layer paramter value is invalid. Layer layer2/Mul: at least two inputs required, have 1; error_componen

[2017-10-25 08:59] rigorosyang commented on #13967
I found that if I link my program using the libprotobuf.a, the issue occurred, but if linking with libprotobuf.so, issue not found, but below warning showed:

017-10-25 08:57:44.735515: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE3 instructions, but these are available on your machine and could speed up CPU computations.
2017-10-25 08:57:44.

[2017-10-25 09:02] tiagofrepereira2012 commented on #10155
Hi, I just had the same issue, follow below a possible workflow.

[code]

Cheers

[2017-10-25 09:02] galmalca commented on #170
The data exists locally on your machine, by default this data set located at `/tmp/cifar10_data`.
remove this dir and run the training step again.

[2017-10-25 09:12] anthnyprschka commented on #13945
Restarted the session and suddenly it worked :)

[2017-10-25 09:12] #13945 closed

[2017-10-25 10:45] tankienleong commented on #13011
Hi @andrewharp , any update on this issue?

[2017-10-25 10:58] jpuigcerver opened #13969 "Centered batch padding with tf.data.Dataset API"
Hi,

First of all, kudos for the PaddedBatchDataset op and all the tf.data.Dataset API.

Right now, all the examples in the batch are aligned at coordinate (0, 0, ...). I think it is very convenient in many applications (e.g. image processing) to have the examples "centered" in the batch.

I would like to know if you would accept a pull request in that direction. If so, I am willing to work on thi

[2017-10-25 11:12] Piedone commented on #12538
Related: https://github.com/tensorflow/tensorflow/issues/8820

[2017-10-25 11:22] Piedone commented on #8820
Would it be feasible to swap out specific parts of TensorFlow and accelerate it e.g. with an FPGA implementation? Like creating FPGA-accelerated ops as @kinsumliu suggests under #12538?

We've built [Hastlayer](https://hastlayer.com), which automatically transforms .NET programs into equivalent FPGA implementations. What we could thus do is to see how implementing some TF features with Hastlayer o

[2017-10-25 11:41] tillahoffmann commented on #13101
@mrry, do you have any more thoughts on the speed differences with `feed_dict`s, queues and the dataset API?

[2017-10-25 12:03] eli99999 commented on #13651
I'm encountering the same problem.
I see that "sparse_to_dense_op" is in the android_extended_ops_group2 in the core/kernel BUILD file, hence it is supposed to working in android

[2017-10-25 12:26] tspthomas commented on #2169
Hello,

So the bottom line is: some of the operations are not implemented in GPU which causes Unpool to be slow in Tensorflow. Is that correct?

I tried to run some benchmarks using Tensorflow's default benchmarks and for the previous version (from May 13), the top offender is FloorDiv. I've changed to the above version (@rayanelleuch's) and the problem is now with ConcatV2 function.

[2017-10-25 12:32] oolekk commented on #10642
may be nvidia-docker-plugin is not running, try:
sudo nvidia-docker-plugin

[2017-10-25 12:37] bshao001 commented on #13692
@johnsrude The nmt model original implementation was in True. I set it to False, and cut down the training time to half.

[2017-10-25 12:41] oolekk commented on #10073
check that docker-nvidia-plugin is running, wasn't runnig for me and libcuda.so missing was the result
sudo -b nohup nvidia-docker-plugin > /tmp/nvidia-docker.log

[2017-10-25 12:59] aszmul opened #13970 "import tensorflow error: No Module Named '_pywrap_tensorflow_internal'"
Dear All,

I am new to the CNNs and Tensorflow. I wanted to start my journey from Keras.
At this moment I facing problems with onstalling Tensorflow.
I am using Windows 10, I installed CUDA 9 with cuDNN 7, and was getting the following errors.
The I unstalled it and installed tensorflow-gpu, which automatically installs CUDA 8 with cuDNN 6 and I am still facing the same issue. I tried installing M

[2017-10-25 14:09] Carmezim commented on #13970
could you please try running [this script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c) and see what it gives you and make sure you handle the issues it will point out to you?

[2017-10-25 14:31] aszmul commented on #13970
Thanks Carmezim for your tip.
I have already run the script and its results are a bit confusing for me.
This is what I got:

ERROR: Failed to import the TensorFlow module.

- Python version is 3.5.

- TensorFlow is installed at: C:\Users\Adam\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow

- Could not load 'cudart64_80.dll'. The GPU version of TensorFlow
  requires that this DLL be install

[2017-10-25 14:38] Carmezim commented on #13970
If you read the installation docs for windows you'll notice TensorFlow requires and only supports as of now CUDA v8 and cuDNN v6. Later versions will only be supported from TensorFlow v1.5.

[2017-10-25 14:44] satendrapratap opened #13971 "is there a way to restore and predict without doing "dummy training""
We are trying **text_classification.py** example of tensorflow  and separated the training and prediction parts of the code and trained the model using model_dir and tried to predict using the same model_dir.

Model is being saved but when we comment the training code and try to predict something, we get the following error:

**InvalidArgumentError (see above for traceback): Assign requires shapes

[2017-10-25 14:53] tfboyd commented on #12052
I will try again.

1.4 is CUDA 8 + cuDNN 6  this will not work with CUDA 9 you will have to compile from source
once 1.4 is released we will work to switch the nightly builds to CUDA 9 and then 1.5 will most likely be CUDA 9.

I know CUDA 9 works fine when building 1.4 from source (ubuntu 16.04/python 2) because I was doing benchmarks on AWS last weekend.

[2017-10-25 15:05] zishanahmed08 opened #13973 "import error :cudnnConvolutionBiasActivationForward because tensorflow cpu and tensorflow gpu, both were installed"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-25 15:07] yaroslavvb commented on #12052
I have a recent recipe on building from source [here](https://github.com/yaroslavvb/tensorflow-community-wheels) (please post a link to your CUDA 9.0 wheel there as well once you build it)

[2017-10-25 15:13] tfboyd commented on #12052
You are the best Yaroslav.

On Wed, Oct 25, 2017 at 8:11 AM, Yaroslav Bulatov <notifications@github.com>
wrote:

[2017-10-25 15:15] aszmul commented on #13970
You are a lifesaver! I do not know how could I miss it. It is a bit embarrassing.
Thanks so much again, it works now!

[2017-10-25 15:28] ygoncharov commented on #12683
Same here

[2017-10-25 15:31] Carmezim commented on #13970
No worries! Glad you got it going! If you face further issues please feel free to ask.
Stack Overflow under the TensorFlow tag is also great to obtain support from the community.
This issue can be closed now.

[2017-10-25 15:35] Carmezim commented on #13962
Could you try taking a look on [theses instructions](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md) to compile with CMake? When you're configuring TensorFlow you will be prompted to choose if your binary will support GPU or not. You can't incorporate CUDA or cuDNN into the binary AFAIK, each user of that compiled binary needs to install CUDA and cuDNN sepa

[2017-10-25 15:36] aszmul commented on #13970
Thanks again.
I am closing the issue.

[2017-10-25 15:36] #13970 closed

[2017-10-25 15:39] pbanavara commented on #12686
Thank you @suharshs and @Skye. Adding a new variable did the job. Follow up question - Can you guys  please tell me what's the equivalent of eager/Context in C++ and where can I find the related API docs. I tried in vain searching through the documentation tree.

[2017-10-25 16:00] PeterMitrano commented on #216
I am surprised that the example above fails. I would like to contribute a fix to support this. Would a PR for supporting this be considered? Or is there some ambiguity/complexity I'm not seeing?

[2017-10-25 16:18] johnsrude commented on #13692
Oh.  Well it's set to False by default so I guess it doesn't work for this model.

[2017-10-25 16:28] mellvinbaker commented on #13530
FYI, I have rebuilt my input functions to see if TFRecord would work better. While it does do a better job of keeping the processor fed without lag (still a little between steps, but I haven't even optimized, still doing 1 file 1 thread etc.) it isn't a solution for this type of data. It makes sense for pictures, which change very little. But if you are working with a dataset that needs feature en

[2017-10-25 16:29] skye commented on #12686
There is no such concept in C++, so you can ignore it.

[2017-10-25 16:46] Connor323 commented on #3028
I just post my [work](https://github.com/Connor323/Convolution-with-sparse-kernel-in-TF) implementing convolution with sparse kernel. As I mentioned in the TODO list, there are still plenty of things need to improve, but overall performance is much faster than the dense convolution in TF, especially with a large size input. Please feel free to check it out and let me know if there is any issues. T

[2017-10-25 16:53] allenlavoie commented on #13963
(I'm assuming this is a symbol conflict based on the symptoms you've posted; I haven't looked into it thoroughly, so feel free to correct me)

The good news is that newer versions of TensorFlow (1.4+) will not cause problems like this, since we're no longer loading our symbols into the global symbol table. The bad news is that other libraries which export symbols via RTLD_GLOBAL can still cause pr

[2017-10-25 17:16] skye commented on #13952
@dandelionmane @jart should this be filed directly against's dandelion's project?

[2017-10-25 17:18] skye commented on #13956
@fchollet can you comment or redirect? Thanks.

[2017-10-25 17:20] tsoernes commented on #13930
Fedora 26 comes with GCC 7, but CUDA 8 only supports gcc5 (and CUDA 9 supports gcc6).
I had installed CUDA successfully some time ago, but forgotten the above requirement.

To install GCC 5 on Fedora follow these instructions (scroll down the page): https://jasonqsy.github.io/compile-tensorflow-with-gpu-support-on-fedora.html
The instructions are probably applicable for other distros or CUDA9 and

[2017-10-25 17:20] #13930 closed

[2017-10-25 17:20] Nayana-ibm commented on #13777
Thanks @m3bm3b

[2017-10-25 17:22] yaroslavvb commented on #9518
cc @rmlarsen -- btw, here's how MXnet implements symmetric eigendecomposition on GPU -- [Auto-Differentiating Linear Algebra](https://arxiv.org/abs/1710.08717)

[2017-10-25 17:24] skye commented on #13966
Try searching for and installing other libmpich packages?

[2017-10-25 17:26] skye commented on #13968
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-25 17:26] #13968 closed

[2017-10-25 17:34] nikonikolov commented on #2358
It would really be very useful if this is implemented. Moreover, in Tensorflow 1.3 `scatter_add` does not work for Tensors bigger than 1D. Had to spend half a day trying to find a workaround.

[2017-10-25 17:47] skye commented on #13930
Thank you for the detailed explanation and instructions!

[2017-10-25 17:47] skye commented on #13930
@gunan FYI (see @tsoernes last comment)

[2017-10-25 17:52] techmatt opened #13975 "begin_shift_axis not defined in tf.contrib.layers.layer_norm"
The live version of tensorflow's api docs here:
https://www.tensorflow.org/api_docs/python/tf/contrib/layers/layer_norm

Refer to begin_shift_axis, which isn't defined.  I assume this is a typo and is meant to be begin_params_axis

Apologies if documentation bugs are supposed to be tracked elsewhere, it's not clear how those should be reported.

[2017-10-25 18:15] fchollet commented on #13956
There was an attempt to introduce `Reshape` in `tf.layers` at the same time as `Flatten`, but it was not approved; if I recall correctly this was to limit API surface.

You could use `tf.keras.layers.Reshape` instead.

[2017-10-25 18:30] doktorneergaard opened #13977 "Feature request: adding spectral functions for preserving phase information"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes (attempting to)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.5.4
- **Bazel version (if compiling from sourc

[2017-10-25 18:32] bowang commented on #12817
@vishalghor io_ps.LMDBReader() and tf.LMDBReader() are the same. But the former is for internal use only. Thus I'd recommend to use tf.LMDBReader.
LMDBReader shares the same interface as TFRecordsReader. So you may follow the documentation of the latter. Once you get both key, value out of LMDB, it's up to you (and the LMDB you are using) to determine how to decode it. For example, if it's an imag

[2017-10-25 19:00] yongtang commented on #13975
Thanks @techmatt. Yes I think it should be `begin_params_axis`. Created a PR #13979 for the fix.

[2017-10-25 19:25] mcterrien commented on #13951
Hi, I have the same issue with:
Windows 10 Pro, TensorFlow version: 1.3.0, Python version: 3.5.2
Any help is welcome. Thanks!

[2017-10-25 19:33] strubell opened #13980 "NadamOptimizer throws InvalidArgumentError (incompatible shapes)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, but this issue can be replicated by changing one line in the example script `word2vec_basic.py`
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux CentOS 7, MacOS High Sierra
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow ver

[2017-10-25 19:42] hanfeisun commented on #13925
For anyone who is also curious about this question, I posted a thread on stackoverflow: https://stackoverflow.com/questions/46940837/how-to-implement-gans-by-tensorflow-estimator

[2017-10-25 20:06] eli99999 commented on #13651
encountered the same problem.
you are sending int64 where only int32 is accepted
solved it by adding casting to the python code that is building the graph
decoded, _ = tf.nn.ctc_beam_search_decoder(logit.sg_transpose(perm=[1, 0, 2]), seq_len, merge_repeated=False)
	y = tf.sparse_to_dense( tf.to_int32(decoded[0].indices),  tf.to_int32(decoded[0].dense_shape),  tf.to_int32(decoded[0].values), name="

[2017-10-25 20:07] yaroslavvb commented on #13963
@jeherr some relevant background on fixing this kind of crash due to PyTorch. Similar solution would be to encourage psi4 to stop exporting unnecessary symbols into global symbol namespace

[2017-10-25 20:09] johnsrude commented on #5600
What about putting double quotes (") around the paths? For example:
-DPYTHON_EXECUTABLE = "C: / Program Files / Anaconda3 / python.exe" ^

[2017-10-25 20:14] paulraines68 commented on #10665
Doesn't help me at all. I am running on CentOS7.2

`bazel build --cxxopt="-I/usr/lib/gcc/x86_64-redhat-linux/4.8.5/include/*.h" -c opt --copt=-mavx --copt=-mavx2 --copt=-msse4.2 --copt=-msse4.1 --copt=-msse3 --copt=-mfma //tensorflow/tools/pip_package:build_pip_package
`

but it still fails with

[code]

[2017-10-25 20:23] johnsrude commented on #5600
[code]

[2017-10-25 20:23] gdeer81 opened #13982 "Feature Request: C++ gradient for Floor"
Implement the gradient for Floor in c++ so that it is available for TF_AddGradients

@suharshs I will implement this one with some guidance from @bpiel

I believe this is the python code I'll be porting over:
https://github.com/tensorflow/tensorflow/blob/962ed613cf1087637848d3e2b23f5b01d93c7eda/tensorflow/python/ops/math_grad.py#L1004-L1006

[2017-10-25 20:29] bpiel commented on #13982
cc @skyewm

[2017-10-25 20:47] johnsrude commented on #13962
Thanks, @Carmezim that worked.
Additional issues that came up are addressed at https://github.com/tensorflow/tensorflow/issues/5600

distutils is no longer available on the Anaconda3 win-64 channel.

-

[2017-10-25 20:52] guillaume-michel commented on #13100
Pull request to fix this issue has been merged in Eigen. It is now just a matter of updating Eigen version

[2017-10-25 21:01] Carmezim commented on #13962
Cool! Thanks for following up. If you have any further questions let us know. This can be closed now.

[2017-10-25 21:07] johnsrude commented on #13962
Not yet. I've still got some compile error issues I'm working through.

[2017-10-25 21:11] michaelisard commented on #13887
I believe the documentation is saying you can only change the reuse flag from false to true inside a scope (by calling `scope.reuse_variables()`); but you can't change the reuse flag from true to false inside a scope. The log message I think means 'did you mean be in a non-reusing VarScope', and I agree that it's not super clear.

@martinwicke do you think it's worth changing the message?

[2017-10-25 21:12] Carmezim commented on #13962
Oh I thought by "that worked" you had success compiling. No problem though. Could you post them so we can take a look and if possible how to reproduce?

[2017-10-25 21:19] michaelisard commented on #13933
The gradient of FloorMod is 0 almost everywhere, so even if a gradient function were registered I'm not sure it would do what you are hoping. Is your goal to have the gradient be zero, or something else?

[2017-10-25 21:20] #13956 closed

[2017-10-25 21:21] michaelisard commented on #13943
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-25 21:21] #13943 closed

[2017-10-25 21:23] michaelisard commented on #13947
I'm sorry but we aren't able to provide support for Red Hat Linux. Tagging with community support.

[2017-10-25 21:24] amundle-cs commented on #12522
I am running into the same issue as well: output of a cnn, reshaped, concatenated and then fed into `tf.nn.bidirectional_dynamic_rnn` as input.

[2017-10-25 21:29] michaelisard commented on #13953
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-25 21:29] #13953 closed

[2017-10-25 21:32] ecsark opened #13983 "gradient not working with aggregation on TensorArray in tf.while_loop"
### Problem description
I am trying to compute gradient of an aggregation on the currently available elements in `tf.TensorArray` in a `tf.while_loop`, but got an `InvalidArgumentError: TensorArray TensorArray_4_21@while_63/gradients: Could not write to TensorArray index 0 because it has already been read.`

### Minimum code to reproduce the error
[code]

I used to add a bunch of tf.Print statemen

[2017-10-25 21:33] #13918 closed

[2017-10-25 21:33] michaelisard commented on #13967
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-10-25 21:35] akssieg commented on #10118
I am using
update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)
then..
sess.run(train_step,update_ops,feed_dict={x: batch[0], y_: batch[1],istrain:True})

but it is showing error as
TypeError: run() got multiple values for argument 'feed_dict'.

Could anyone tell that what's wrong:

[2017-10-25 22:07] stanislavfort commented on #8817
The conditional statement does not seem to cut it for me. In my case, I have a model of the form data -> encoder -> intermediate result -> decoder -> result. I would like to be able to set the variables in the decoder and encoder as trainable during training by passing a boolean tensor. Is it possible to do it using 'tf.cond'? When I pass a boolean tensor as tf.get_variable(...,trainable = boolTen

[2017-10-25 22:11] somombo commented on #37
Are the community organizers /admin of this thread not able to simply delete the posts of the those people that intensionally trolling with all the "+1's” maybe even ban them? Lol

[2017-10-25 22:34] jvdillon commented on #13430
Thanks for alerting me. I will take a look!

[2017-10-25 22:35] mrry commented on #13101
I haven't had time to dig into this in depth, but I did notice that when I dial the batch size down to 1, the `Dataset.from_generator()` version is faster than using a `feed_dict`. This suggests that the overhead might be coming from the `Dataset.batch()` transformation. I'm surprised that batching a `std::vector<Tensor>` (even by a pretty naive approach) would be slower than stacking together a b

[2017-10-25 22:35] jvdillon commented on #12371
Sorry for just now seeing this. Ill push this change right now.

[2017-10-25 22:35] #12371 closed

[2017-10-25 22:44] jvdillon commented on #11892
Sorry for just noticing this issue.  Im happy to make this change ASAP.

[2017-10-25 22:45] michaelisard commented on #13969
@mrry what do you think?

[2017-10-25 22:45] michaelisard commented on #13971
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-25 22:45] jvdillon commented on #12057
Sorry for our delayed response. We're working on adding a batch of new distributions. Ill make sure these (and Stan's) are on our list.

[2017-10-25 22:52] michaelisard commented on #13975
Marking contributions welcome while we wait for the PR: thanks!

[2017-10-25 22:54] michaelisard commented on #13977
@rmlarsen are you the right person to look at this feature request?

[2017-10-25 22:54] tadeegan opened #13984 "Issues importing external tf_library from project"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14
- **TensorFlow installed from (source or binary)**: Source (bazel)
- **TensorFlow version (use command below)**:  1.2
- **Python version**:
- **Bazel version (if compiling from source)**:
bazel ve

[2017-10-25 22:55] #12057 closed

[2017-10-25 23:12] alquraishi commented on #6466
@protoget I see your commit last May, but I just tried again with TF 1.4.0rc0 and dropout still doesn't seem to do anything.

[2017-10-25 23:20] Arvinds-ds commented on #12057
Thanks

[2017-10-25 23:31] ecpoppenheimer commented on #13281
Ok, I have made the pull request.  I made four changes, the first two of which should be straightforward, and the second two of which you might want to think about before merging

I am new to GitHub, so let me know if I am there is something I can be doing better.

[2017-10-25 23:39] bpiel commented on #13982
cc @skye

[2017-10-25 23:46] jvdillon commented on #13430
Fixed. Should hit master tomorrow or the day after.  Thanks for your suggested fix! Not sure why linalg.norm doesnt work, that seems like the real bug.

[2017-10-25 23:46] #13430 closed

[2017-10-25 23:48] jsimsa commented on #13101
@tillahoffmann give [map_and_batch](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/data/python/ops/batching.py), providing identity for the map a try. `Dataset.batch()` is serializing memory copies during batch creation, which can affect performance for large batches. `Dataset.map_and_batch()` is doing the memory copies in parallel.

[2017-10-25 23:54] MorganGellert commented on #8744
Is support for the adaptive variance parameter version of DC-ASGD planned on being added? The paper found that it performed better in all cases than the constant version which is currently implemented.

[2017-10-25 23:56] GeorgyZhou commented on #12964
I am trying to work on this and send an update later

[2017-10-26 00:10] zo7 commented on #10118
@akssieg 1. You should make `update_ops` a dependency as mentioned above, and 2. you're not calling `sess.run()` correctly – all of your fetches/ops should be a single list/dict, not multiple arguments.

Try using:
[code]
(notice the square brackets)

[2017-10-26 00:40] dartdog commented on #12974
It is entirely possible that it is indeed a documentation/user issue, nonetheless, How does one create and use the summarySaverhook? but also as noticed seemingly not possible using the canned models?

[2017-10-26 00:49] jacobisdsa opened #13986 "tensorflow building graph very slow — for more than two hours when looping"
### Describe the problem
Tensorflow is really slow when using loops. A very simple code can even last for hours and this is strange.
Can anyone help me with issue?
### Source code / logs
[code]

[2017-10-26 00:58] protoget commented on #6466
@skye @alquraishi
The dropout is supported.
Dropout is applied between layers -- if you only have one layer, it doesn't show up even if dropout ratio isn't zero.

[2017-10-26 00:58] #6466 closed

[2017-10-26 01:06] #11706 closed

[2017-10-26 01:06] #11772 closed

[2017-10-26 01:07] tensorflowbutler commented on #11706
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-26 01:07] tensorflowbutler commented on #11772
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-26 01:42] saxenasaurabh commented on #13575
Thanks @bodokaiser  for the detailed repro examples. I was able to reproduce using this example on Windows.
[code]

However, changing from `BytesList` to `Int64` seems to work (for this example at least). I'll am looking into this further.

[2017-10-26 02:18] Leslie-Fang commented on #13965
Confirm with the above configuration,
tensorflow-1.4.0-rc1 could be compiled on Ubuntu17.04
Question is the failed message on Ubuntu17.10 seems relates with the swig

[2017-10-26 03:13] lalet commented on #6331
Only this solution worked for me.

[2017-10-26 03:15] yifeif commented on #13973
@zishanahmed08  could you try manually remove the packages from `/usr/local/lib/python3.5/dist-packages`?

[2017-10-26 03:15] marcoleewow commented on #12356
@githubharald do you have any resources on how to implement a custom op? I would like to integrate a char-level LM into CTC decoder but I have no idea how to begin.

[2017-10-26 03:41] m3bm3b commented on #13777
I believe the change has now reached github.  You might check again.

On 25 October 2017 at 10:22, Nayana Thorat <notifications@github.com> wrote:

[2017-10-26 04:21] ferrine commented on #13430
It doesn't work because gradient is unstable function and graph is not simplified

[2017-10-26 04:37] vjpai commented on #13691
The grpc upgrade is in progress at #13958

[2017-10-26 04:44] ashokbugude commented on #13946
I am sorry to say but haven't received any response in Stackoverflow yet - https://stackoverflow.com/questions/46909787/tensorflow-create-model-file-for-object-face-recognition-in-c

[2017-10-26 05:51] serendipity24 commented on #13835
@drpngx Thank you for your reply.

"You can modify the program to load, then ask for a prompt and pass in a waveform" - I will try this.

[2017-10-26 05:53] marcoleewow commented on #9550
any updates? having the same issue as well.

[2017-10-26 06:19] Inoryy commented on #394
Everything worked fine under `nvidia-384` drivers then suddenly broke with the `CUDA_ERROR_UNKNOWN` error.
What worked for me is the opposite to solutions above - removing `nvidia-modprobe`, probably because it's tied to `nvidia-375` as poster above mentioned.

[2017-10-26 06:46] Andres-Hernandez commented on #1736
I will give it a try and make a push request by Monday

[2017-10-26 07:32] Sanghoon94 commented on #13825
Any comments on the issue?

[2017-10-26 07:39] ltt00 commented on #11280
same problem, Windows 10

[2017-10-26 08:23] bodokaiser commented on #13575
@saxenasaurabh yes indeed using `Int64List` does work as intended on windows.

[code]

In this case the problem may not be caused by the decoding part but by the [type switch](https://github.com/tensorflow/tensorflow/blob/e062447136faa0a3513e3b0690598fee5c16a5db/tensorflow/core/util/example_proto_fast_parsing.cc#L566-L570). What do you think?

[2017-10-26 08:51] zishanahmed08 commented on #13973
@yifeif  I deleted the folders tensorflow and tensorflow_gpu-1.3.0.dist-info from /usr/local/lib/python3.5/dist-packages and  tensorflow-gpu.
It does not work.Import error still exists

[2017-10-26 08:55] zywvvd commented on #9672
that's true .
the problem is handled well after I installed tensorflow 1.4
before that I used tf 1.3 on Win 10
tf1.4 seems to not be installed by pip current now
I downloaded a copy from the link https://pypi.python.org/pypi/tensorflow

[2017-10-26 09:05] tillahoffmann commented on #12935
It seems that some parts of the nightly build still relies on 3.5.

[code]

[2017-10-26 09:08] satendrapratap commented on #13971
As explained in the https://github.com/tensorflow/tensorflow/issues/3340  , it was a to be implemented feature as told by @martinwicke :
"Right now, there isn't a way to restore and predict without running at least one step of training (which is a missing feature)."

Has it been released ?

[2017-10-26 09:12] tillahoffmann commented on #13101
@mrry, @jsimsa, thank you for the updates.

I have changed the line
[code]
to
[code]
in the [notebook](https://gist.github.com/tillahoffmann/53f902212c1c511e6c3d45abb5f37b9b) linked [above](https://github.com/tensorflow/tensorflow/issues/13101#issuecomment-334788891). But the code hangs indefinitely when I try to train.

[2017-10-26 09:14] liyinhgqw opened #13989 "Fused batch norm can be folded with atrous conv2d"
### Describe the problem
As we can fold batch norm with convolution, we should also fold batch norm with atrous convolution, which has not been implemented.

[2017-10-26 09:59] JianpingZeng commented on #11366
Hi  @andrew-anki , I'm making the practice of compiling inception model into binary file with XLA aot, could you sends me your testing image (img_norm.bin)?
Thanks

[2017-10-26 10:17] jamiechoi1995 commented on #3388
Same issue happened occasionally.

Exception ignored in: <bound method BaseSession.__del__ of <tensorflow.python.client.session.Session object at 0x7f88e5b52908>>
Traceback (most recent call last):
  File "/home/wcai/tensorflow/lib/python3.5/site-packages/tensorflow/python/client/session.py", line 701, in __del__
TypeError: 'NoneType' object is not callable

Python 3.5.2
TensorFlow 1.3.0 GPU versi

[2017-10-26 10:25] sandipmgiri opened #13992 "tensorflow/contrib/slim/python/slim/nets/resnet_v1_test.py test is failing with array mismatch error"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
      Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
      Installed from source
- **TensorFlow version (use command below)**:
      TF 1.3.1
- **Python version**:
     Python 2.7.5
- **Bazel version (if compiling from source)**:
     bazel-0.5.4
- **CUDA/cuDNN version**:
     NA
- **G

[2017-10-26 10:30] davidswords opened #13993 "Compiling from source, ./configure, issue finding cudnn"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-26 10:33] joeyearsley commented on #9141
Will this ever be supported? - Using ultra large images constrain batch sizes to 1, so renormalization is a must for myself. I use `NCHW` format, hence the interest.

[2017-10-26 10:55] MacwinWin opened #13994 "How to output each class accuracy through modifing"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-26 10:55] #13994 closed

[2017-10-26 11:23] MacwinWin opened #13995 "How to output each class accuracy ?"
Using slim I can get the evaluation output Top-1 and Top-5. But how to calculate the accuracy for each class and output them?
Thanks!

[2017-10-26 11:34] Carmezim commented on #13995
Hi @MacwinWin I think your question is better suited for https://stackoverflow.com/questions/tagged/tensorflow

[2017-10-26 11:34] EdeMeijer commented on #12371
That's okay, I'm fine with my own version until this lands.

[2017-10-26 12:12] littleDing opened #13996 "Proper way to handle csv input for cpu training?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
pip
- **TensorFlow version (use command below)**:
('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **Python version**:
Python 2.7.12 from Anaconda

### Des

[2017-10-26 12:58] JerryLauzzz commented on #13966
Already installed.
I tried find which package contains that file and got nothing.

[2017-10-26 13:38] yongtang commented on #7225
Added a PR #13998 to add the customized kernel for `tf.clip_by_value`. Please take a look.

[2017-10-26 13:50] SragAR commented on #12795
Facing the same error.
How did you solve this?

[2017-10-26 14:25] Mahdizade opened #13999 "Memory Leak While Reading from TFRecord"
### Problem
As I mentioned in [my previous issue](https://github.com/tensorflow/tensorflow/issues/6599), I have memory leak in my code. Finally I can write a sample code that can reproduce the problem.

### Source code
[code]

### logs
[code]

I can't find the reason. Many thanks for your consideration.

### System information
- **OS Platform and Distribution**: Linux Ubuntu 14.04
- **TensorFlow i

[2017-10-26 15:01] mrry commented on #13969
If it would be useful, we could accept a custom transformation function in `tf.contrib.data` to add this feature (similar to how `tf.contrib.data.batch_and_drop_remainder()` or `tf.contrib.data.dense_to_sparse_batch()` are implemented). It might be good to discuss the proposed interface in this issue before going ahead with the implementation, because I imagine there could be other padding options

[2017-10-26 15:07] hksonngan commented on #13825
the code is right as eq 7 in the origin paper https://arxiv.org/pdf/1406.1078.pdf

[2017-10-26 15:08] lishen commented on #1355
Reducing batch size of course reduces the memory usage but that is not the key issue here. The key is why running multiple models consecutively caused GPU blow-up.

I had a similar problem. When run model training using single GPU worked fine. But when I duplicated the model onto multiple GPUs (with same batch size per GPU) blew up. I was using Keras' new multi_gpu_model API call.

[2017-10-26 15:14] 183amir opened #14000 "Model trained on GPU does not restore properly when ran on CPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
[code]
- **TensorFlow installed from (source or binary)**:
Installed binary with pip.
- **TensorFlow version (use command below)**:
('v1.3.0-rc1-3112-g65b6a75', '1.4.0-rc0')
The same bug happens on Tensorflow

[2017-10-26 15:14] alquraishi opened #14001 "layers-based cuDNN RNN functionality not working"
I'm trying to use the newly added layers-style cuDNN RNN functionality. I'm running TF 1.4.0-rc0 on Ubuntu with Pascal GPUs, compiled from source with CUDA 8 and cuDNN 7. When trying to import the relevant library:

`from tensorflow.contrib.cudnn_rnn.python.layers import cudnn_rnn`

I get the following error:

[code]

Note that the non-layer based cuDNN RNN functionality works fine. I.e. I can run

[2017-10-26 15:18] hksonngan commented on #13825
code is right as detail explain in 2.3 of https://arxiv.org/pdf/1406.1078.pdf

[2017-10-26 15:28] martinwicke commented on #13971
Yes, tf.estimator.* does not have this restriction.

[2017-10-26 15:39] amundle-cs commented on #2938
@mrry I am not sure if this is the same issue or something I am missing, but I am running into this:
https://stackoverflow.com/questions/46958414/tf-reshape-loses-shape-of-the-tensor
(related: https://github.com/tensorflow/tensorflow/issues/12522)

[2017-10-26 15:49] Sanghoon94 commented on #13825
@hksonngan
Thanks!
Wonder why the equations are the different in the papers though.

[2017-10-26 15:49] #13825 closed

[2017-10-26 15:50] jvdillon commented on #12371
Fix submitted using the following logic:

  def _log_unnormalized_prob(self, x):
    if self.validate_args:
      x = distribution_util.embed_check_nonnegative_integer_form(x)
    return (self.total_count * math_ops.log_sigmoid(-self.logits)
            + x * math_ops.log_sigmoid(self.logits))

[2017-10-26 15:57] Enigma-li commented on #12817
@bowang So you fixed the error of loading LMDB multi-epoch Segment Error?

[2017-10-26 16:09] ispirmustafa commented on #12974
Hi @dartdog,
SummarySaverHook is created for you automatically in estimators. You should not worry about it.
All the summaries should be automatically dumped to model_dir.

[2017-10-26 16:09] #12974 closed

[2017-10-26 16:18] rlegithub opened #14002 "Bazel build for CUDA failed on Ubuntu w/ lastest tip + CUDNN 6.0 + CUDA 8.0"
Hi,

I am trying to build latest TF with CUDNN 6.0 + CUDA 8.0 on Ubuntu 14 but it failed with the following error message. I found some similar issue (https://github.com/tensorflow/tensorflow/issues/469) reported in the past, not sure if the latest tip has fixed it?

Any suggestion would be appreciated.

Thanks

**Build Command**
- build command for CUDA that failed
`bazel build --config=opt --con

[2017-10-26 16:18] johnsrude commented on #13962
I'm working with the tensorflow r1.4 branch.   When I CMake configure
`cmake .. -A x64 -DCMAKE_BUILD_TYPE=Release -DSWIG_EXECUTABLE=C:/Users/Kevin/dev/swigwin-3.0.12/swig.exe -DPYTHON_EXECUTABLE=python.exe -DPYTHON_LIBRARIES=C:/ProgramData/Anaconda3/libs/python36.lib -DPYTHON_INCLUDE_DIR=C:\ProgramData\Anaconda3\include -DNUMPY_INCLUDE_DIR=C:\ProgramData\Anaconda3\Lib\site-packages\numpy\core\incl

[2017-10-26 16:34] mrry commented on #13962
Neither of those log files seems to include that error message (I searched for "1 Error(s)" and got no hits in either). Can you send the full log of the failing build?

This substring in the error message is suspicious: `C:/Users/Kevin/dev/tensorflow-r1.4/tensorflow/contrib/cmake/build/tf_python/\r`. Assuming the `\r` is part of the intended target path, it looks like there is a stray line break i

[2017-10-26 16:38] jsimsa commented on #13101
@tillahoffmann apply the following fix to your version of TF: https://github.com/jsimsa/tensorflow/pull/1 and try again ... if that does not help, please use gdb to connect to the running process using `sudo gdb -p <PID>`, then run `thread apply all bt` to collect all stack traces, and share them here

[2017-10-26 16:40] johnsrude commented on #13962
Oops, sorry.  The CMake* files only show the CMake errors.  Builds on Windows aren't dumped to a logfile but to command prompt output.  Here's the last 9999 lines of that output.
[tf bug.txt](https://github.com/tensorflow/tensorflow/files/1419225/tf.bug.txt)

[2017-10-26 16:57] tomzx commented on #9469
I have experienced the same issue after replacing hardware on my computer. I tried @mrry script to check the install was correct, and it was. However, in the process, it appears that either the drivers got corrupted or required to be upgraded.

After installing the 388.00 drivers (http://us.download.nvidia.com/Windows/388.00/388.00-desktop-win8-win7-64bit-international-whql.exe), tensorflow would

[2017-10-26 17:14] bowang commented on #12817
@Enigma-li Yes. But it hasn't been merged yet. It'd be great if you can bring it to the notice of TensorFlow maintainers by commenting on it. #13396

[2017-10-26 17:16] jcarlos2289 opened #14003 ".."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-26 17:17] #14003 closed

[2017-10-26 17:31] av8ramit commented on #12935
Yes, we unfortunately copy the 3.5 binary for 3.6 I'll look into creating a specific 3.6 binary for Linux.

[2017-10-26 17:38] tomzx opened #14004 "[Windows] Speech commands tutorial does not work"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, I'm running `python tensorflow/examples/speech_commands/train.py`
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7 x64
- **TensorFlow installed from (source or binary)**: `pip install tf-nightly`  (tf_nightly-1.5.0.dev20171026-cp35-cp35m-win_amd64

[2017-10-26 17:42] jiangok2006 commented on #13220
I just synced the master branch. bazel on Sierra still threw error. Please let me know if anything is missing.

ERROR: /Users/lianjia/repo/tensorflow/tensorflow/compiler/xla/service/cpu/BUILD:145:1: C++ compilation of rule '//tensorflow/compiler/xla/service/cpu:simple_orc_jit' failed (Exit 1).
In file included from tensorflow/compiler/xla/service/cpu/simple_orc_jit.cc:32:
./tensorflow/compiler/xla

[2017-10-26 17:53] johnsrude commented on #13962
I'm currently trying to build a Python wheel with `MSBuild /p:Configuration=Release tf_python_build_pip_package.vcxproj`

While I wait for your answer on the compilation error I'm trying to build the test trainer with `MSBuild /p:Configuration=Release tf_tutorials_example_trainer.vcxproj`   This appears to be rebuilding the TF code from scratch.

That can't be right, can it?

[2017-10-26 17:55] isaprykin commented on #13779
The info message appearing is okay.

What do you in your code to finalize and prevent the exception?

[2017-10-26 18:20] tadeegan commented on #13984
I think TensorFlow needs to use labels that use relative_to_caller_repository=True
https://docs.bazel.build/versions/master/skylark/lib/Label.html#Label

[2017-10-26 18:29] tongda opened #14007 "BatchNorm not working in a _FuncGraph"
I am working on macOS 10.12.6 with TensorFlow 1.3.0, Python version: 3.6.2. CPU only.

I found that if `tf.contrib.layers.batch_norm` is called inside a `Defun`, a `TypeError` will be thrown. To clarify, the function here is a `map_func` that will be used in `Dataset.map` invoke, instead of a normal python function.

To regenerate the scenario, try this piece of code:

[code]

You will get an erro

[2017-10-26 18:49] vkmenon opened #14008 "tf.python.keras can't import np_utils"
Typically i'm able to replace any "from keras.X import Y" with "from tensorflow.python.keras.X import Y"

This works with most things, but it does not translates to keras.utils. I can run:
from keras.utils import np_utils

But the following fails:
from tensorflow.python.keras.utils import np_utils

The workaround is just to use:
from tensorflow.python.keras._impl.keras.utils import np_utils

Unsur

[2017-10-26 18:54] printdhruv commented on #14001
@alquraishi Did you try to set dynamic path to solve the error `cannot open shared object file: No such file or directory`?
Can you fill the ISSUE_TEMPLATE [here](https://github.com/printdhruv/tensorflow/blob/master/ISSUE_TEMPLATE.md)?

[2017-10-26 18:54] mrry commented on #13962
The build isn't hermetic (its only supported purpose is building the PIP package on our CI server), so I believe MSBuild isn't able to detect opportunities for incremental building. If this is easy to fix, and somebody who knows how to do that is reading, we'd welcome contributions on that topic.

This suggests a possible cause for the error you are seeing: if your build directory contains some fi

[2017-10-26 19:03] johnsrude commented on #13962
I've already done that once.  What CMake and MSBuild command lines do you use on your CI server?  I'm wondering if there's a problem with the particular arg combination I'm using.

[2017-10-26 19:11] mrry commented on #13962
Here's the script: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/gpu/cmake/run_build.bat

[2017-10-26 19:12] alquraishi commented on #14001
Not sure what you mean by "dynamic path", but if I create a symbolic link in `.../layers/_cudnn_rnn_ops.so` to `.../ops/_cudnn_rnn_ops.so` it solves the problem. I believe this is a bug. I think the path in `tensorflow/tensorflow/contrib/cudnn_rnn/python/layers/cudnn_rnn.py` pointing to `_cudnn_rnn_ops.so` is incorrect.

Here's the rest of information you requested
OS: Ubuntu 14.04
TensorFlow 1.4.

[2017-10-26 19:18] dartdog commented on #12974
Please note the original question which indicates something is not working!! @ispirmustafa Generating error message not output!

[2017-10-26 19:20] m3bm3b commented on #13220
Those errors are not in nsync, but rather in the xla part of tensorflow
I think it's a known bug that someone is working on.

I assume that nsync (as opposed to tensorflow)
does compile correctly (for example, that it can be compiled and its tests
run on Sierra.
Let me know if that's not the case.

On 26 October 2017 at 10:47, jiangok2006 <notifications@github.com> wrote:

[2017-10-26 19:25] printdhruv commented on #14001
@alquraishi Yes. By "dynamic path" I meant to play with the symbolic link! Can you tell what you changed/modified `tensorflow/contrib/cudnn_rnn/python/layers/cudnn_rnn.py`

for the lines 32-33 which worked for you ,

`_cudnn_rnn_ops_so = loader.load_op_library(
    resource_loader.get_path_to_datafile("_cudnn_rnn_ops.so"))`

[2017-10-26 19:35] alquraishi commented on #14001
I actually didn't much with the `.py` file. I just created a symbolic link in the system so that the `layers` directory effectively contains its own copy of `_cudnn_rnn_ops.so`. I was just saying that the bug is in `tensorflow/contrib/cudnn_rnn/python/layers/cudnn_rnn.py`

[2017-10-26 19:40] johnsrude commented on #13962
This build together with the CMake listed above compiled without errors
`>MSBuild /p:Configuration=Release tf_tutorials_example_trainer.vcxproj`

so the problem is specifically with this build
`MSBuild /p:Configuration=Release tf_python_build_pip_package.vcxproj`

[2017-10-26 20:02] printdhruv commented on #14001
I see! Can you try to play with the `cudnn_rnn.py` ? It would be great if you can find solution without adding symbolic link?

[2017-10-26 20:55] johnsrude commented on #13962
I believe the '\r' in the MSBuild message is just an artifact of the way that MSBuild prints messages and the way that Windows uses "\r\n" instead of "\n"

[2017-10-26 21:12] johnsrude commented on #13962
For the always rebuilding issue see https://stackoverflow.com/questions/4185638/solving-the-visual-studio-2010-alwayscreate-rebuild-issue

[2017-10-26 21:13] johnsrude commented on #13962
https://stackoverflow.com/questions/14916729/visual-studio-rebuilds-unmodified-projects

[2017-10-26 21:20] tadeegan commented on #13984
I somewhat managed to solve this problem by forking tensorflow and applying this patch:
[code]

[code]

Is this something Tensorflow would accept as a patch? There is also @%ws% but it only seems to work in BUILD files not bzl files....

[2017-10-26 21:26] skye commented on #13966
Unfortunately we can't help too much with environment problems here. Try asking on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2017-10-26 21:26] #13966 closed

[2017-10-26 21:28] m3bm3b commented on #13220
I have made sure that the error you're seeing in
    tensorflow/compiler/xla/service/cpu/simple_orc_jit.cc
on the Mac is known to the person who made the change.

You may be able to work around it temporarily by turning off XLA
support when you configure tensorflow.   That is, when it asks
  "Do you wish to build TensorFlow with XLA JIT support? [y/N]:"
respond "N".  Then it might not bother to
bu

[2017-10-26 21:29] MattMcEachern commented on #10153
@CHLLHC have you found a solution to this issue? I've made similar attempts to get ExtractImagePatches running on android with no avail.

[2017-10-26 21:39] johnsrude commented on #13962
The reason why these are completely rebuilt from scratch is that you have MSBuild running CMake commands like this every time you build:
`"C:\Program Files\CMake\bin\cmake.exe" -E copy_directory C:/Users/Kevin/dev/tensorflow-r1.4/tensorflow/core C:/Users/Kevin/dev/tensorflow-r1.4/tensorflow/contrib/cmake/build/tf_python/tensorflow/include/tensorflow/core`

[2017-10-26 21:58] #13995 closed

[2017-10-26 22:01] michaelisard commented on #13999
@mrry would you take a look or assign to whomever is supporting queue-based inputs?

[2017-10-26 22:03] jvdillon commented on #11892
So we do have the `hinge_softness` parameter. Do you need the `threshold` parameter as well? (I question if `threshold` is useful since the function is anyway almost linear...)

[2017-10-26 22:06] michaelisard commented on #14007
@mrry if this isn't supported can you document/give a better error message do you think?

[2017-10-26 22:21] mrry commented on #13999
Interestingly, the leak seems to be plugged if you replace the line:

[code]

...with the following line:

[code]

I suspect it is not a coincidence that `labels` is a `tf.SparseTensor`, because `tf.train.shuffle_batch()` handles these by storing them in a buffer, replacing them with a key (to pass through the batch queue), and then removing them from the buffer when the key is emitted from the ba

[2017-10-26 22:21] johnsrude commented on #13962
I think I may have found the problem with the failed wheel build.

In the CMake command I replaced
```-DPYTHON_EXECUTABLE=python.exe```
with
```-DPYTHON_EXECUTABLE=C:/ProgramData/Anaconda3/python.exe```

The problem appears to be that despite python.exe being in the PATH, CMake will prepend a local pathname to python.exe if it doesn't have an absolute pathname.

Testing now.

The "build always" pr

[2017-10-26 22:23] mrry commented on #13999
Eugene: perhaps we need all the returned tensors to carry a control dependency on the `_restore_sparse` ops here?

https://github.com/tensorflow/tensorflow/blob/e9d2b60ed3d94eef7a3cf139cc27ec629f510681/tensorflow/python/training/input.py#L555

[2017-10-26 22:35] Neergaard commented on #12974
Unless I am totally mistaken, you are generating an error because you are passing a summarysaverHook to the estimator, when it already has one generated internally upon creation.

What you could do is passing a tf.estimator.RunConfig() object directly when you instantiate the estimator. Using your own code it would look like

`dnnclassifier = tf.estimator.DNNClassifier(feature_columns=dnn_features

[2017-10-26 22:36] saxenasaurabh commented on #13575
Even this fails with `SIZE = int(64e7)` on my machine :(

[2017-10-26 23:03] CHLLHC commented on #10153
Hi MME,

I did solve this issue and make it run on my phone.

[2017-10-26 23:16] apcode commented on #12367
@martinwicke You said this restriction was removed in 1.4 but I still see it.

build_raw_serving_input_receiver_fn is designed to build multiple placeholders for each input (receiving tensors).
ClassificationOutput.as_signature_def still checks for a single receiving tensor.

So to me the restriction is still in place and you can't use ClassificationOutput with build_raw_serving_input_receiver_fn

[2017-10-26 23:24] martinwicke commented on #12367
ClassificationOutput is a specific to tensorflow/serving. Do not use it. You want to use PredictOutput.

@davidsoergel, @nfiedel, maybe we should make this much more clear, and maybe even deprecate ClassificationOutput and RegressionOutput?

[2017-10-26 23:29] martinwicke commented on #13993
Yes, you have to use the name of the actual library that is installed.

Because the naming scheme is not very predictable and varies between platforms, we cannot really guess without risking bad side effects.

[2017-10-26 23:29] #13993 closed

[2017-10-26 23:40] hsm207 opened #14012 "tfdbg ps -b command does not work on Windows"
Issue:

The tfdbg ps -b command does not annotate the source file source file beginning at the given line i.e. the output of ps -b 10 source.py is the same as ps source.py.

Steps to reproduce:

1. Open the command prompt
2. Run python -m tensorflow.python.debug.examples.debug_mnist --debug
3. Press r
4. Type ps -b 10 path/to/debug_mnist

System information:

* Tensorflow 1.3.0 (installed using An

[2017-10-26 23:40] mrry commented on #14004
@petewarden Are there any platform dependencies holding these ops back from being available on Windows?

[2017-10-26 23:44] martinwicke commented on #13965
What version of SWIG is installed on that system?

[2017-10-26 23:55] martinwicke commented on #13915
Without more information we won't be able to help.

[2017-10-26 23:55] #13915 closed

[2017-10-26 23:56] martinwicke commented on #13887
@lukaszkaiser @ebrevdo WDYT?

I'd favor changing the message, but want to be sure I'm interpreting the situation correctly.

[2017-10-27 00:03] mrry commented on #14004
(Actually, this might be a very easy fix, so I'm sending you a CL that might just fix it.)

[2017-10-27 00:04] lukaszkaiser commented on #13887
It should certainly say "reuse=False" not "reuse=None" (that's been changed a long time ago). Nowadays (starting with TF 1.4) you can actually set "reuse=tf.AUTO_REUSE" and the error will go away in all circumstances (changing True/False can be tricky). Maybe it's worth mentioning that in the message and suggesting AUTO_REUSE?

[2017-10-27 00:05] lukaszkaiser commented on #13887
(As for setting reuse=False, you can do it but it'll be overridden if your parent scope has it set to True.)

[2017-10-27 00:09] rohan-varma commented on #13887
@lukaszkaiser @martinwicke I'd be happy to send in a PR to change the `reuse=None` message if we've decided to do that as my first contribution to Tensorflow!

[2017-10-27 00:20] leemgs commented on #12162
Yesterday, Google officially announced how to use Neural Network API on Android 8.1. @yaroslavvb Do they are planning to open Tensorflow-Lite (for mobile) as well as Tensorflow?

@yunjey Can I give you some questions to try to enable Tensorflow (or Tensorflow Lite) on Tizen platform? As a first question, Can we use Cmake instead of Bazel  to build Tensorflow on real arm device (or on QEMU-ARM emul

[2017-10-27 00:25] martinwicke commented on #13887
Please do, thanks!

[2017-10-27 00:32] Leslie-Fang commented on #13965
@martinwicke How could check the swig version?
I used these commands: but no swig package find
_swig -version
The program 'swig' is currently not installed. You can install it by typing:
apt install swig_

dpkg -l | grep swig.*

If I didn't installed the swig on the OS, Does any swig package inside tensorflow src would be used?

By the way, apt list swig could get the swig package, but I think it'

[2017-10-27 00:37] ozabluda commented on #13568
Maybe PR https://github.com/tensorflow/tensorflow/pull/13561 fixes it.

[2017-10-27 00:44] nirmalthacker commented on #13610
Somewhat related question: I am curious how to effectively move data from the CPU to multiple GPU's using the Dataset API.
Do we need a dataset and iterator per GPU? Or can a single iterator provide unique data to each tower of the GPU? I have a more detailed question with an example code snippet here at stackoverflow: https://stackoverflow.com/questions/46965098/how-does-one-move-data-to-multiple

[2017-10-27 00:56] jpuigcerver commented on #13969
Indeed, there are different ways of padding. I think that in most of cases, especially when your operations are able to deal with variable sizes within each batch, you are just fine with the current features of PaddedBatchDataset.

However, when some of your operations assume that all the examples in the minibatch have the same shape (e.g. LSTM wrapper for cudnn's LSTM), it is very useful to align

[2017-10-27 01:03] Tim15 commented on #12434
@yaroslavvb Could OpenACC be used to optimize parallel tasks like matmuls and convolutions (IDK if you use a library) on a wider range of accelerators (like AMD GPUs), that the CUDA kernels and CPU-oriented code are not targeting? I think that this could complement the existing Tensorflow primitives for parallelization.

[2017-10-27 01:09] facaiy commented on #13849
Thanks, @xiejw

[2017-10-27 01:09] #13849 closed

[2017-10-27 01:13] imaoldboy commented on #13653
I give up this android speech demo stuff。

[2017-10-27 01:30] #13587 closed

[2017-10-27 01:45] mrry commented on #13610
@nirmalthacker  I posted an answer to your question [on Stack Overflow](https://stackoverflow.com/a/46966248/3574081).

@tongda General cross-device pipelines are still some way off, but @rohan100jain has developed some nice support for staging data automatically to GPU memory, which covers one of the big use cases. In principle you could reuse some of the support for dispatching TensorFlow functi

[2017-10-27 01:47] printdhruv commented on #14012
@hsm207 You are right! I have tried to run `ps -b 10`  in `tf 1.3 & tf 1.5` . It's producing same output.I guess for windows OS it's not working.
Did you tried for other OS?

[2017-10-27 01:50] GEEK7COLSON opened #14013 "#tensorflow##PYNQ# Could I install tensorflow in my PYNQ-Z1 ?"
I wanna build some Classifier with it. I'm used to build Classifiers with TensorFlow.
So I want to know whether it is technically possible.THX!!
[http://www.pynq.io/](url)

[2017-10-27 02:14] hsm207 commented on #14012
@pntdhruv I couldn't try it on other OS because I only have a windows laptop.

[2017-10-27 02:18] printdhruv commented on #14012
@hsm207 sure.No problem.

[2017-10-27 02:20] JianpingZeng commented on #11366
Hi, @andrew-anki, I try it following your instruction and code,  use it to recognize a tabby cat picture, however the result of classification is incorrect. So do you have solve this problem?

[2017-10-27 02:20] caisq commented on #14012
@hsm207 thanks for reporting this issue! Sorry for the inconvenience.

This command should be functioning on linux and mac, for which we have unit test coverage.
For windows we don't have the test coverage. I remember running into the issue, possibly due to some Windows CR/LF peculiarities.

In any case, we'll look into it.

[2017-10-27 02:22] martinwicke commented on #13965
Yes, I think that would be the issue. Please install swig.

[2017-10-27 02:22] #13965 closed

[2017-10-27 02:23] myungjoo opened #14014 "Proposal: Compiling TF 1.4.0 GPU w/ CMAKE on Linux x64"
Currently, I have been playing with the cmake scripts of TensorFlow-GPU to make it CMAKE-buildable in a bare-metal x64 Linux. (isolated environment, without the internet, w/ OBS)
(I'm trying CMAKE because I don't want to port Java)

It's almost done (need code clean) and I'll probably send Pull-Request next week. However, there are a few things I want to check before I write additional features be

[2017-10-27 02:39] dartdog commented on #12974
I'll give it a go and respond..

[2017-10-27 02:53] ryanleary commented on #9550
I spent a good fraction of the day debugging this before coming to a somewhat obvious realization. If you read the Graves paper, CTC beam decoding implicitly collapses repeated characters as part of calculating the optimal path (i.e. 'AAA' will contribute probability mass through the path 'A').

So the correct CTC decoding behavior occurs when `merge_repeated=False`. In this case, it DOES merge re

[2017-10-27 02:56] #9669 closed

[2017-10-27 03:04] MattMcEachern commented on #10153
@CHLLHC could you please share how you got it to work?

[2017-10-27 03:16] RenfengLiu commented on #13711
I had the same problem, compiled successfully with --config=mkl on Ubuntu 16.04, and installed the whl with pip. But in python code, when you run  `import tensorflow as tf`, I got following error message
[code]

[2017-10-27 03:20] mushroom1116 commented on #1604
I'm trying to implementing the main idea of SparseCNN described in https://arxiv.org/pdf/1505.02890.pdf (page5) and encountered some problems. Q and H of each layer are different. In order to get the value of Q and H_out, I have to use sess.run() and it may cut the connection of gradient variables.

I wonder if there are some bottlenecks in implementing SparseCNN using tensorflow API.

[2017-10-27 03:59] marcoleewow commented on #9550
Let's use the example from above: `"AA<ctc_blank>AA"`

Expected behavior:

when `merge_repeated=False`, `"AA<ctc_blank>AA"` should give `AAAA`
when `merge_repeated=True`, `"AA<ctc_blank>AA"` should give `AA`

Only `tf.nn.ctc_greedy_decoder()` is working as expected, but `tf.nn.ctc_beam_search_decoder(top_paths=1, beam_width=1)` is not.

@ryanleary are you saying `tf.nn.ctc_beam_search_decoder(top_

[2017-10-27 04:09] ryanleary commented on #9550
I agree that `merge_repeated=True` should give `AA` is the correct behavior. What I'm saying is that having a case where `merge_repeated=False` in a beam decoder doesn't make a whole lot of sense. Further, the merging is somewhat fundamental to the way the algorithm handles summing probabilities across multiple paths.

In the current implementation of the beam decoder, if `merge_repeated=False`, r

[2017-10-27 04:36] leemgs commented on #14014
@Garoe, @johnsrude, @dmacvicar, and @yongtang PTAL, If you have a similar experience (#13962, #13061) that you already tried to build Tensorflow with **CMake** instead of Bazel, Could you give us a hint (or share your experience)?

[2017-10-27 05:33] alltom commented on #13821
@yaroslavvb I don't have gdb installed, so I can't get a core dump that way. :(

@roumposg I added a complete stack trace to the gist.

[2017-10-27 06:22] CHLLHC commented on #10153
I try numerous methods, I have listed all I remember above. But my confession is that I didn't undo all operations from one method before trying another. Although I got it work after adding the line `"extract_image_patches_op.cc"` in the scope of `filegroup( name = "android_core_ops",` in the `BUILD` file under `./tensorflow/tensorflow/core/kernels/`,  I can't say for sure that `--copt="-DSELECTIV

[2017-10-27 06:27] namrata-ibm opened #14017 "image_ops_test failing due to math_ops.sin() behaving differently"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.2.1
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: 0

[2017-10-27 06:35] Raghava14 opened #14018 "Tutorial request for hybrid model (word+character)"
The implementation done in the paper:
http://aclweb.org/anthology/P/P16/P16-1100.pdf

is a hybrid seq2seq model with advancements where the encoder is fed with inputs based on following two cases:

1.Normal vector representation of a word (Embedding vector) - when the word input is present in the vocabulary

2.Output of another LSTM network - when the word is **out of vocabulary** and a separate c

[2017-10-27 06:51] tmulc18 commented on #12838
I posted a hacky solution [here](https://github.com/tmulc18/Distributed-TensorFlow-Guide/blob/master/ADAG/ADAG.py).  It would be nice to have an actually function call from within TensorFlow before closing this issue, though.

[2017-10-27 07:03] juventi opened #14021 "tf.train.start_queue_runners cannot run under GPU？"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-27 07:20] abviv opened #14023 "TFRecords and Inference issues"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: conda
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN

[2017-10-27 07:55] zhujunbang commented on #990
123

[2017-10-27 07:56] zhujunbang commented on #990
怎么解决，没找到方法

[2017-10-27 08:02] MakeWater commented on #13313
就是说你用在梯度中的y 或者 “prediction”的类型要再检查一下对不对，我也遇到这个问题，发现我在计算交叉熵的时候用错了参数，你主要检查你用梯度函数的时候用的参数问题，我的是这么解决的；
再次感谢LaiPiXiong@LaiPiXiong

[2017-10-27 08:08] ashokbugude commented on #4680
Has anyone been able to resolve the issue ?

[2017-10-27 08:13] ashokbugude commented on #13705
Has anyone been able to resolve the issues ?

[2017-10-27 08:50] Leslie-Fang opened #14025 "compile tensorflow-1.4.0-rc1 failed with error: SWIGing tensorflow/python/tensorflow.i failed (Segmentation fault): swig failed: error executing command"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

It must be a bug or a feature request.
The form below must be filled out.
It shouldn't be a TensorBoard issue. Those go here.
Here's why we have that policy: TensorFlow developers respond to issues. We want to focus on work that benefits the who

[2017-10-27 08:52] Leslie-Fang commented on #14025
@martinwicke
I have installed the swig
 _apt list swig
Listing... Done
swig/artful,now 3.0.10-1.2 amd64 [installed]_

But still git the same issue when compiling the tensorflow 1.4.0rc1 on ubuntu17.10beta2

[2017-10-27 09:04] bodokaiser commented on #13575
@saxenasaurabh unfortunately can confirm too for `SIZE = int(64e7)`...

[2017-10-27 09:18] turkeyB opened #14026 "Raspberry example DecodeJpeg issue with Inception Retraining model"
# **Environment info**

Operating System: raspbian

# **Steps to reproduce**

-   1.Follow the contrib/makefile/README to install the tensorflow raspbian core lib
-   2.Run the pi example, both successfully
-   3.Create inception model generally with the Tensorflow For Poets in Ubuntu 16.04
-   4.Retrain the model and get 'retrained_graph.pb' and 'retrained_labels.txt'
-   5.Run the pi example wit

[2017-10-27 09:24] Irlyue opened #14027 "Problem with parameters use_bias=True and bias_initializer=None"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers