[2019-09-08 13:57] #30999 closed

[2019-09-08 14:03] mihaimaruseac commented on #31118
Please watch #31601, most likely after that PR is merged this issue can be solved.

I estimate one more week at most until solution.

[2019-09-08 14:10] mihaimaruseac commented on #27794
These seem to be issues associated with Pypi or the network between you and them (potential man in the middle changing the files is potential). Not a TensorFlow issue

[2019-09-08 14:11] du210 commented on #31173
Hi @omalleyt12, is there any progress on this? Thanks, Deyan

[2019-09-08 14:12] mihaimaruseac commented on #32327
Closing as not a developer related issue. Please use feature request issues to suggest improvements and open new issues in case a bug is impeding your usage of TensorFlow.

[2019-09-08 14:12] #32327 closed

[2019-09-08 14:14] mihaimaruseac commented on #32326
TensorFlow 1.13.0 and above needs CUDA 10.

[2019-09-08 14:45] xincui-math commented on #25474
I run into similar issues for the RetinaNet model. Each script is running on an independent GPU.

[2019-09-08 15:02] Michael-VT commented on #30427
It works for me even under a virtual environment

[2019-09-08 15:13] game-sys commented on #32326
So what is version that uses cuda 8.0 and how to uninstall this tensor flow and reinstall version that uses 8.0

[2019-09-08 15:18] bionicles commented on #32058
[code]
cc @omalleyt12 @ymodak @oanush @fchollet
trying this custom layer for predictive coding, but it gives errors like:

^^^ if training loop is eager

with @tf.function on training loop:

here is the training loop:
[code]
 `model.losses` triggers these errors, if we don't attempt to get those losses, then it works

[2019-09-08 15:34] bionicles commented on #32058
hey, it works if tf.function is on the training loop and not on the predictor call

[2019-09-08 15:56] daniel-s-cunha opened #32331 "Poisson random variable samples float instead of int, fails in hierarchical modeling as result"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, derived from tf example.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Mojave 10.14.4
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: v1.14.0-rc1-22-gaf24dc91b5 1.14.0
- **Python version**: Pyt

[2019-09-08 17:07] FeynmanDNA commented on #32319
I encountered the same warning with tensorflow-gpu2.0beta1, and the above fix works for me too:
[code]

[2019-09-08 17:08] kventinel commented on #32294
But more easier, it's write good errors output in tflite converter code.

[2019-09-08 17:26] mihaimaruseac commented on #32326
Check [`pip uninstall`](https://pip.pypa.io/en/stable/reference/pip_uninstall/) and [tested build configurations on TensorFlow website](https://www.tensorflow.org/install/source#tested_build_configurations)

Seems you need TF 1.4 which is extremely old and not updated anymore

[2019-09-08 17:28] mihaimaruseac commented on #32294
Can you post the full output when running the converter?

[2019-09-08 17:31] mihaimaruseac commented on #32331
One suggestion: can you try with the 2.0 release? There have been changes in the API which might have solved this issue

[2019-09-08 17:39] artyompal commented on #31214
I mean that in my case, tfrecords had an error and they didn't correspond to the model. Something was missing or in the wrong format (i.e. string instead of int32).

This doesn't necessarily mean it's a network problem. This message would be triggered in case of any TensorFlow error on the remote worker.

[2019-09-08 17:43] kventinel commented on #32294
Yes, of course.
[code]

[2019-09-08 17:45] TheNewSound commented on #31352
bump

[2019-09-08 18:02] shabaz123 commented on #32037
Hi,

I can confirm I'm seeing the same issue too when building the code for disco_f746ng, and I can't figure why.
In my case, I'm building the micro-speech demo. I see the same error, i.e. a message about /bin/sh: 1: [[: not found and the ..q10p6.c file not found:

user@linux1:~/development/tensorflow$ make -f tensorflow/lite/experimental/micro/tools/make/Makefile TARGET=mbed TAGS="CMSIS disco_f74

[2019-09-08 18:26] daniel-s-cunha commented on #32331
Sure, I installed and tried 2.0 release, and receive the same error.

[2019-09-08 18:46] vicpara opened #32333 "Tensorflow 2.0.0-rc0 - incorrect data shape for SparseCategoricalCrossentropy"
Hi,

I'm trying to train a classifier using tensorflow.keras that predicts categorical labels (0/1/2). Input data is an ndarray of tf.float32. I used tensorflow=2.0.0-beta0 and then tensorflow=2.0.0-rc0 to produce the error messages below.

The output seems to be in the correct form as per [SparseCategoricalCrossentropy](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/losses/Spar

[2019-09-08 21:05] josuerocha commented on #7610
I am also using 3D convolutions and they are unnaturally slow on CPU. Is there any plan to optimize 3D convolutions?

[2019-09-08 21:49] game-sys commented on #32326
OK I HAVE CREATED A NEW ENVIRONMENT WITH NO TENSORFLOW I WANT TO NOW INSTALL TENSORFLOW 1.4 SO IS THERE ANY PIP COMMAND TO INSTALL IT
AS THIS COMMAND IS GIVING ERROR
(sec) C:\Users\Mohsin Ali\PycharmProjects\sec>pip install tensorflow==1.4
Collecting tensorflow==1.4
  ERROR: Could not find a version that satisfies the requirement tensorflow==1.4 (from versions: 1.13.0rc1, 1.13.0rc2, 1.13.1, 1.13.2

[2019-09-08 22:16] reliefs commented on #31939
If you are having issues with face_recognition because of mtcnn module i suggest using my fix, it works for tensorflow 2.0.

https://github.com/reliefs/mtcnn-tensorflow2

https://github.com/ipazc/mtcnn/issues/47

[2019-09-08 22:38] ASDen opened #32335 "For long labels / logits, torch.nn.CTCloss is 30-100x faster than tf.nn.ctc_loss"
**System information**
Default Google Colab GPU runtime

**Describe the current behavior**
For long labels / logits, tf.nn.ctc_loss is unbearably slow, in a way that makes whole training very slow (tf.nn.ctc_loss_v2 is even slower)
A standard GPU implementation with unbounded label length such as one offered by torch.nn.CTCloss is many many times faster

**Code to reproduce the issue**
The followi

[2019-09-08 22:42] Serebr77 commented on #6541
I slightly modified mentioned above script for pytorch:
[code]
And then:
[code]
Script output after the first run after kernel restart in Jupiter notebook:
`2.42 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)`

Script output after the second and all other consecutive runs keeping all structures in GPU memory:
`34.2 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)`

Both inpu

[2019-09-08 22:55] mgreenbe commented on #32319
Using the older version of `gast` worked for me too. I'll leave it to @jlebar or someone else on the tensorflow team to close this issue at their discretion, presumably once `tensorflow` and `gast=0.3.x` are interacting nicely.

[2019-09-08 23:47] mihaimaruseac commented on #32326
Please use `pip debug --verbose` to get the tags supported by your environment, then check against [those supported on PyPi](https://pypi.org/project/tensorflow/1.4.0/#files)

[2019-09-09 00:31] shabaz123 commented on #32037
I can confirm the same issue on Ubuntu 18.04.3 LTS too.
Here were the steps:
1. Install Ubuntu 18.04.3 LTS in a virtual machine (using ESXi).
2. as root user, **apt-get update**, **apt-get upgrade**, and then **reboot**
3. as root user:
**apt install python2.7 python-pip git mercurial
pip install mbed-cli
apt install curl**
4. as non-root user:
**git clone https://github.com/tensorflow/tensorflow.

[2019-09-09 00:51] sjdrc commented on #32085
Just want to bump you on this. There are various pieces of information for this all over the place. All we need is a single official source listing and explaining the variables.

[2019-09-09 01:41] jassykatz opened #32336 "pip install tensorflow from .whl not working"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows 7
- TensorFlow installed from .whl file downloaded: tensorflow-1.14.0-cp36-cp36

[2019-09-09 01:52] Yooong-W commented on #32037
hi
have you successfully transplanted any demo into the board(stm32f746ng)?
i tried a lot of method but failed,  do you have an operating system in your borad?

[2019-09-09 02:07] mihaimaruseac commented on #32336
You will need to download a wheel for keras-preprocessing, as well as for all other dependencies. Might also want to check if `cp36m-win_amd64` shows up for you on `pip debug --verbose`

This is not exactly a TensorFlow code issue, more an issue with your own environment. Thus, closing, but please reopen if it becomes an issue with the actual code.

[2019-09-09 02:07] shabaz123 commented on #32037
Hi Yooong,

Not yet, this was going to be my first mbed CLI program for the ST chip. I have used mbed CLI with other processors, and it was straightforward, just drag it to the drive, and mbed will program it (same as with the cloud version of mbed). Once this micro-speech demo compiles, I intend to modify it actually, since I wish to use it on the NUCLEO-F746ZG board, and not the discovery board

[2019-09-09 02:10] mihaimaruseac commented on #32319
#32332 fixes this for 1.15, there's a similar PR for 2.0 and a commit on master. Adding @goldiegadde as she is fixing this

[2019-09-09 02:29] Yooong-W commented on #32037
maybe you should try get the mbed folder from officially generated
[https://drive.google.com/open?id=1OtgVkytQBrEYIpJPsE8F6GUKHPBS3Xeb](url)
so you can skip that step, and use mbed-cli to compile a `.bin` . this can only solve the problem temporarily

[2019-09-09 02:31] fanshiqing commented on #32176
@yuefengz Sorry for the delayed reply as I was on vocation. Add a new attribute to strategy's constructor is a direct approach. As what we want is just to pass a control-parameter like `iter_size` in some way, if the distribution strategy's constructors are difficult to change **explicitly**, what about add `iter_size` to `tf.estimator.RunConfig`, so that the original strategies' constructor will

[2019-09-09 02:38] mihaimaruseac commented on #32336
w

[2019-09-09 02:38] #32336 closed

[2019-09-09 03:11] xxllp commented on #24357
have the same error  but does not solve

[2019-09-09 03:13] jackd commented on #27170
It would be nice to have loss/metric support as well :)

[2019-09-09 03:51] ppwwyyxx commented on #32176
If you just want to pass a parameter to `Optimizer`, then you should only change `Optimizer`. Because:
* Distribution strategy and Estimator do not even assume the existence of optimizer. They have their own scope of abstraction that are independent of what you do inside (which typically is an optimizer-based algorithm, but maybe not). Having an argument that's tied to specific types of common tas

[2019-09-09 04:01] claynerobison commented on #32283
Fixed. Thanks!

[2019-09-09 04:01] #32283 closed

[2019-09-09 04:19] fanshiqing commented on #32176
@ppwwyyxx Thx for your nice advice. Actually at our scenario we only want to add GA for distribution strategy from the very begging. While it could be another story if we want to add this to community. It seems that pass control parameter to `Optimizer` directly is more reasonable.
I will open a PR soon for more specific discussion.

[2019-09-09 05:19] sakshigoynar17 commented on #31610
Hi, I also ran into the same issue. I am trying to build Tensorflow sources in optimised mode, with  debug information, so that I can get some debug information in the form of pdb files.
Information:
System : Windows 10
Tensorflow : 1.13.1
Bazel : 0.25.1
Python : 3.6.8
Microsoft Visual Studio Build Tools 2019(Not using 2017 or 2015 Build tools)
CUDA/GPU/ROCm : no
Override Eigen strong inline : Yes

[2019-09-09 05:38] debadityamandal opened #32340 "AttributeError: 'RefVariable' object has no attribute 'ref'"
with tf.device('/cpu:0'):
  activations = tf.Variable(tf.zeros([ACT_LEN, FLAGS.wvs, 1], FTYPE), name='activations',
                            trainable=False)
logits = batch_logits(i_ss, activations.ref())
AttributeError: 'RefVariable' object has no attribute 'ref'

[2019-09-09 05:41] ravikyram commented on #32333
I have tried on colab with TF version 2.0.0-rc0,2.0.0-beta0,2.0.0-dev20190908 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c3c1ff7918fa34017f983be1a837455d/untitled162.ipynb).Thanks!

[2019-09-09 05:53] gadagashwini commented on #32320
I tried on Google colab but it is working as expected.Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/4e8b0ca20a27ab518f6329aaf5479dd6/untitled127.ipynb).
And, I could replicate the issue on my system by running it on terminal. Please see the screenshot below.
![Screenshot from 2019-09-09 11-22-50](https://user-images.githubusercontent.com/48476109/64506178-3421e300-d

[2019-09-09 05:54] shabaz123 commented on #32037
Hi Yooong,

Thank you for this, it worked to generate the .bin file for now. (For DISCO_F746NG, I will now try to see if it builds with NUCLEO_F746ZG flag instead, and see what I need to edit to do so.
I hope the error we mentioned can get resolved soon.
Thanks again for your help.

[2019-09-09 06:07] shkarupa-alex opened #32341 "Keras model with sequence feature columns fails to convert to estimator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-

[2019-09-09 06:10] gadagashwini commented on #32314
Was able to execute the given code without any error on colab with Tensorflow 1.12.0. Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/b865119741330d3fd1a5ebcbb4f4d157/untitled128.ipynb). Thanks!

[2019-09-09 06:15] gunan commented on #30647
@stbnps We initially tried exporting every single symbol.
But that makes TF unlinkable.
Windows has a limit on the number of shared library symbol exports, which is 2^16
https://social.msdn.microsoft.com/Forums/vstudio/en-US/caec290c-31cd-4133-b11c-1c7997ffbecb/how-to-split-a-dll-into-several-dlls-to-overcome-import-library-symbol-count-restriction?forum=vclanguage
Therefore, the ask to export eve

[2019-09-09 06:16] stakemura commented on #32237
#31261 I struggle the same problem too. I think tensorflow should integrate the iOS build method into bazel.

[2019-09-09 06:17] gunan commented on #32228
@vitong I think is looking into this.

[2019-09-09 06:28] gadagashwini commented on #31939
Looks like original issue reported here is resolved. Please feel free to reopen if issue still persists. Thanks!

[2019-09-09 06:28] #31939 closed

[2019-09-09 06:33] gadagashwini commented on #32068
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-09 06:33] #32068 closed

[2019-09-09 06:36] gadagashwini commented on #32110
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-09 06:36] #32110 closed

[2019-09-09 06:43] gadagashwini commented on #32200
@laohur, Can you please let us know if you are happy to close if no issue persists. Thanks!

[2019-09-09 06:49] gadagashwini commented on #32212
Was able to replicate the issue with Tensorflow-GPU nightly version. Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/d8eb1426cb06a8ebbe3c427122414590/untitled129.ipynb). Thanks!

[2019-09-09 06:49] yyoon commented on #29731
Sure, I'll take a look, hopefully in a week.

[2019-09-09 06:53] ravikyram commented on #32285
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-09 06:55] gadagashwini commented on #32335
Could reproduce the issue with Tensorflow 1.14.0 and also the execution ended up in out of memory problem.  Please take a look at colab gist [here](https://colab.sandbox.google.com/gist/gadagashwini/05ae67337a827d19c9235657ee1a5f71/untitled126.ipynb). Thanks

[2019-09-09 07:01] flooreigenhuis opened #32343 "[Tensorflow 2.0.0-rc0] Hyperparameter tuning with Keras fails"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-09 07:01] gadagashwini commented on #32299
I am able to reproduce the issue on Colab with Tensorflow 2.0.0.rc0. Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/f2f267963a9047f5804fcd0892824762/untitled130.ipynb).

[2019-09-09 07:04] flooreigenhuis opened #32344 "[Tensorflow 2.0.0-rc0] Cannot save model on AI Platform: Not JSON Serializable"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-09 07:37] gadagashwini commented on #32284
@awsssix, Please refer the [Tensorflow official doc](https://www.tensorflow.org/api_docs/java/reference/org/tensorflow/package-summary) for Java  implementation.  Thanks!

[2019-09-09 07:42] gadagashwini commented on #32278
@kolingv, Could you provide the sample standalone code to reproduce the reported issue here. Thanks!

[2019-09-09 07:48] gadagashwini commented on #32268
@vade, Looks like the code is incomplete, Please provide the complete code to reproduce the issue. Since i tried executing the code, some of the variable such as IMG_SIZE is not defined. Thanks!

[2019-09-09 08:01] gadagashwini commented on #32289
@drewm1980,
I tried executing the given code on colab but it results in an error. Please see the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/44863a1cb686dae7db585d9f86ef22cc/untitled134.ipynb) and confirm on the same. Thanks!

[2019-09-09 08:04] gadagashwini commented on #32313
@li829, Please elaborate the issue with context. And also, provide the code snippet to reproduce the issue. Thanks!

[2019-09-09 08:04] piisku78 commented on #32194
3. Pointer is always moved 160 is maybe wrong. It should be 320 because stride in the example is defined as 20ms and sampling rate 16000Hz. So if we want to go forward always 20ms then it means 320 samples.

[2019-09-09 08:10] kolingv commented on #32278
@gadagashwini code is easy. Updted.

[2019-09-09 08:13] gadagashwini commented on #32271
@sgambient, Please provide us the minimal standalone code snippet. It will indeed help us to move faster. Thanks!

[2019-09-09 08:35] Shubham3101 commented on #32285
Hey ravikyram,

On more trouble-shooting i found out that the name of the layers are not changing, but something else is going on, layers are connected.

Following is the code to reproduce the issue:

**import tensorflow as tf
import os
import numpy as np
os.environ["CUDA_VISIBLE_DEVICES"] = "0"

def get_data():
    images = np.zeros((64,224))
    labels = np.zeros((64,5))
    inputs = {
        '

[2019-09-09 08:38] asdalow commented on #32320
Same problem here.

Code:
[code]

Output:
![image](https://user-images.githubusercontent.com/14865017/64515840-a7742680-d2ed-11e9-973f-488e72f1c440.png)
Notice how short the slider is. It is all filled with "=" signs.

[2019-09-09 08:51] gadagashwini commented on #32131
@AdityaShirodkar01, def plot_image plot the image and def plot_value_array plot the predicted values.
Please see the screenshot below.
![Screenshot from 2019-09-09 14-20-02](https://user-images.githubusercontent.com/48476109/64517002-17de7000-d30d-11e9-98be-dfb093445084.png)
Thanks!

[2019-09-09 09:09] ravikyram commented on #32328
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.

[2019-09-09 09:28] tastyminerals commented on #32290
Reopening since the referred issue appears to be not connected with the current exception.

[2019-09-09 09:31] thomasZen commented on #31797
@preethivenkatesh Thanks for checking this. Was it already possible to track down the reason for the non deterministic outputs and in which situations these appear?

[2019-09-09 09:42] tastyminerals commented on #32290
Duplicate of https://github.com/tensorflow/tensorflow/issues/30635

[2019-09-09 09:42] #32290 closed

[2019-09-09 09:43] tastyminerals commented on #30635
If you use Scala with Gradle, in addition to provided workaround you'll also need to modify your `build.gradle`.
[code]

[2019-09-09 10:01] DoumanAsh commented on #30319
@lamberta Wanted to ask if a similar issue could be present with tensorflow lite C/C++ library?
I cannot really spot anything about custom allocators aside from single printf in `python/lite.py`

[2019-09-09 10:21] csukuangfj opened #32345 "[lite/micro] Huge size of libtensorflow-microlite.a for arm"
The file `tensorflow/lite/experimental/micro/README.md` says

But after compiling `libtensorflow-microlite.a`, I get

[code]

which is an order of magnitude larger than `22KB`.

The command I used to compile it is:

[code]

The configuration file `lite/experimental/micro/tools/make/targets/foo_makefile.inc` is
[code]

The compiler toolchain information is as follows:

[code]

[2019-09-09 10:31] VRHaritha commented on #30191
@rickykim93 you are awesome... I love you...

[2019-09-09 10:35] gadagashwini commented on #32077
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-09 10:35] #32077 closed

[2019-09-09 10:35] csukuangfj opened #32347 "[lite/micro] incorrect link of pre-generated files for STM32F746G Discovery Board"
The link <https://drive.google.com/open?id=1u46mTtAMZ7Y1aD-He1u3R8AE4ZyEpnOl>
on page `tensorflow/lite/experimental/micro/README.md` for `STM32F746G Discovery Board` links to keil project based files instead of `Make/GCC` based files.

[2019-09-09 10:47] ongoing0217 commented on #32314
it's very weird because I can run the code in colab but not on my own computer, so do I just turn to colab from now on?

[2019-09-09 10:51] akanyaani commented on #32232
Hi,
@mjlbach As you suggested i will try but using the same method on single GPU it is working fine.

You can replicate the issues using this repo code.
[Repo Link gpt-2-tensorflow2.0](https://github.com/akanyaani/gpt-2-tensorflow2.0)

[2019-09-09 11:13] ravikyram commented on #32255
I have tried on colab with TF version 2.0 beta1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/49dc704bebc4b101f2eddd0169c9e15c/untitled167.ipynb).Thanks!

[2019-09-09 11:19] eslambakr commented on #32074
Hello @freedomtan,
I am facing the same **ERROR** but while Build TensorFlow Lite for **ARM64** boards not for Raspberry Pi, However for  Raspberry Pi it works fine.

[2019-09-09 11:21] simonnanty opened #32348 "Unable to load model with custom loss function with tf.keras.models.load_model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tensorflow==2.0.0rc0

[2019-09-09 11:54] yuefengz commented on #30715
Could you try with latest nightly to see whether the problem is still there?

[2019-09-09 12:01] EgorBEremeev commented on #27470
While try `!pip install tf-nightly-2.0-preview` I am still getting this error:

My environment is: Python 3.7.3, Windows 10 build 1903

[2019-09-09 12:22] reliefs commented on #32336
https://github.com/tensorflow/tensorflow/issues/32315 another one bits the dist

[2019-09-09 12:26] jacobbentolila commented on #22618
Hi,

Did anyone found a workaround ?

[2019-09-09 12:30] DAEHEESHIN opened #32349 "Distributed strategy TF2.0 rc0 error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-09 12:33] #30409 closed

[2019-09-09 12:33] tensorflowbutler commented on #30409
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-09-09 13:11] Henje opened #32350 "cuDNN 7.2 linker errors"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.6.1810

[2019-09-09 13:11] Henje commented on #32350
As far as I can tell this happens because in tensorflow/stream_executor/cuda/cuda_dnn.cc the cuDNN version checks for `CUDNN_VERSION >= 7201` whereas the wrapper  tensorflow/stream_executor/cuda/cudnn_stub.cc checks `CUDNN_MINOR < 1` and then `CUDNN_MINOR < 3`. So there is no special handling for cuDNN 7.2, even though it is used elsewhere.

[2019-09-09 13:12] simonnanty commented on #32348
I found a workaround: calling `load_model` with `compile=False` and compile the model separately afterwards.

However, it would be nice that this works directly, too

[2019-09-09 13:18] kttn8769 opened #32351 "403 Forbidden error in 'Classify structured data' tutorial"
Hi,

I got a 403 Forbidden error in the following tutorial section.

https://www.tensorflow.org/beta/tutorials/keras/feature_columns#use_pandas_to_create_a_dataframe

The code is as follows:
[code]

The output:
[code]

[2019-09-09 13:21] normandra commented on #29509
Hey, I am currently facing the same problem. One thing that I noticed is when working with quantized model this conversion is being done. Problem is then I end up with a uint8 model.

[2019-09-09 13:31] khousi opened #32352 "Error while importing Tensorflow"
**When I try to import Tensorflow I'm getting this error tried a lot of solutions but nothing could help**
 **I'm using Python 3.6 in 64 bit pc**

[code]
[code]

[2019-09-09 13:55] nfgallimore opened #32353 "Issue with basic_classification tutorial"
## URL(s) with the issue:

https://colab.research.google.com/github/tensorflow/docs/blob/r2.0rc/site/en/tutorials/keras/basic_classification.ipynb#scrollTo=9ODch-OFCaW4&line=2&uniqifier=1
## Description of issue (what needs changing):

I was browsing the beginner tutorial for basic_classification. It was at the above link. In the section **Setup the Layers** it is throwing a warning when running:

[2019-09-09 13:55] vmarkovtsev commented on #29481
@DAEHEESHIN v2.0 b1 is ancient, we are discussing the current nightly here.

[2019-09-09 13:59] smoothdvd opened #32354 "Tensorflow 1.14 + CUDA 10.1, nvcc fatal : Unsupported gpu architecture 'compute_101'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- Mobile device (e.g. iP

[2019-09-09 14:05] #32354 closed

[2019-09-09 14:08] laohur commented on #31836
finally, BUILD target cc_binrary() instead

[2019-09-09 14:08] markomernick commented on #27170
Hi @jackd - we're working on losses and metrics as we speak!

[2019-09-09 14:09] dieinimymaganha commented on #32214
Hello, can anyone help me?

[2019-09-09 14:09] laohur commented on #32091
it quiet different between android and xcode. thanks!

[2019-09-09 14:14] jpadrao opened #32355 "Custom Distributed Strategy"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14.0
- Are you willing to contribute it (Yes/No): Yes

*

[2019-09-09 14:16] kevinkepp opened #32356 "Keras 'Zip object is not considered generator or sequence in"
**Problem**
Keras Model `fit_generator` does not work with `zip` objects.
I followed the image segmentation example from https://keras.io/preprocessing/image/ of loading and transforming images and masks together and then training a model with `fit_generator`.

I'm getting `AttributeError: 'zip' object has no attribute 'shape'` (see stack trace below)

**System information**
- TensorFlow version:

[2019-09-09 14:16] laohur commented on #25278
build cmd

  --crosstool_top=//external:android/crosstool \
  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
 --cpu=arm64-v8a --verbose_failures \
  //tensorflow/lite/examples/l17:libProphet.so

get ~3.6m , 2.8m after strip ops。
 what‘s wrong with me ?

[2019-09-09 14:17] Jonathanpro commented on #31927
Hello everyone gladly I found this issue.
I am facing the same problem.
I am using Python3 and Tensorflow 2.0.0 rc

I was able to replicate the issue both with the mnist dataset and the heart dataset.
I tried some model variations and I believe that the problem comes from the joint occurrence of feature columns and save model.

When I get it right the above code uses the functional api for keras.

[2019-09-09 14:21] kevinkepp opened #32357 "Keras 'fit_generator' - Zip object is not considered generator or sequence in"
**Description**
Keras Model `fit_generator` does not work with `zip` objects.
I followed the image segmentation example from https://keras.io/preprocessing/image/ of loading and transforming images and masks together and then training a model with `fit_generator`.

I'm getting `AttributeError: 'zip' object has no attribute 'shape'` (see stack trace below)

**System information**
- TensorFlow versi

[2019-09-09 14:25] jielyu opened #32358 "Does tf consider to support mac os + amd gpu?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS, Mojave, 10.14.6
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.0-rc0
- Python version: python 3.7

**Describe the problem**
I try to compile tensorflow from source code with opencl, while it requires computecpp support. However, the official website of computecpp shows that i

[2019-09-09 14:26] #32356 closed

[2019-09-09 14:44] akurni commented on #29731
got the same problem, but the solution was to modify bazel-tensorflow/external/com_google_absl/absl/time/internal/cctz/Build.bazel file and remove `config_setting(
	name = "osx",
	constraint_values = [
		"@bazel_tools//platforms:osx",
	],
)

config_setting(
     name = "ios",
     constraint_values = [
         "@bazel_tools//platforms:ios",
     ],
 )` and `linkopts = select({
     ":osx": [

[2019-09-09 15:08] rishabhsahrawat opened #32359 "[TPU][TF 1.14]Can not reload the trained model for training on Colab TPU."
I trained a model on Colab TPU and then saved it using callbacks in `model.fit()`. Now, I want to continue training model after restoring it from the last checkpoint saved as h5 format. This file has layer weights and optimizer weights i.e. also the architecture. On loading the model inside `TPUStrategy scope()` as follows-
[code]
the last line throws following error-
`AttributeError: 'NoneType' o

[2019-09-09 15:24] jdduke commented on #25278
What other dependencies/code do you have in `libProphet.so`?

[2019-09-09 15:31] mihaimaruseac commented on #32214
Can you also post the output of `pip debug --verbose`? Sorry for the delay in answering

[2019-09-09 15:33] mihaimaruseac commented on #32336
I don't think it's related, @reliefs. This one seems to be not having the keraps-preprocessing wheel behind the firewall. Let's not jump to conclusions.

[2019-09-09 15:35] mihaimaruseac commented on #32331
Seems to be an error from [TensorFlow Probability](https://github.com/tensorflow/probability). Can you please open an issue there instead?

[2019-09-09 15:39] faybak opened #32360 "Tensorflow juste use 0 - 5% GPU"
When i'm using tensorflow for face recognition with facenet, it's very very slow. And when i check for GPU during execution, i saw that the big part of the time only 1% of GPU is ised and sometimes 29% but just one 1second.
I made my installation without any problem.
during the code execution, it show a lot of warning like use tf.data but really don't know how to do that and if its because of it
T

[2019-09-09 15:44] haimat commented on #32239
Any chance this will be fixed for the next RC or the final 2.0 release?

[2019-09-09 15:48] mimxrt commented on #31616
Thank you for your kind offer, that's really nice. However, due to project deadlines, I had to switch to pre-processing the data in Dask and storing already the pre-processed data to tfrecord files. Doing this, the Tensorflow Dataset-pipeline is reduced to merely reading the files and the training is accelerated. Of course, I am still interested in using the more elegant way of pre-processing the

[2019-09-09 15:52] 7oud opened #32361 "load custom op library when using c++?"
I have build a very simple custom op `zero_out.dll` with bazel, it works when using python.
[code]
However I have to run the inference using C++, is there any c++ api which has the similar function as `tf.load_op_library`, or it seems that a lot of registeration work has been done in `tf.load_op_library`, TF has not counterpart c++ API?

[2019-09-09 15:53] mschonwe commented on #32017
Did a little more testing to try to narrow down in which version of tensorflow this issue crops up...
Testing with T2T 1.13.4:
TF 1.13.2  works
TF 1.14.0+ hangs

[2019-09-09 15:58] jvishnuvardhan commented on #31658
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-09-09 15:58] #31658 closed

[2019-09-09 15:58] mihaimaruseac commented on #32360
Low usage on GPU/CPU means that you are data bound, accessing the data is too slow. You could try prefetching parts of the data before starting execution, maybe

[2019-09-09 16:00] mihaimaruseac commented on #32352
Can you post the output of `pip debug --verbose` and `python -v -c "import tensorflow"`?

[2019-09-09 16:01] mihaimaruseac commented on #27470
Can you post the output of `pip debug --verbose`?

[2019-09-09 16:07] jvishnuvardhan commented on #11626
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-09 16:07] #11626 closed

[2019-09-09 16:15] #32125 closed

[2019-09-09 16:21] dieinimymaganha commented on #32214
(tensorflowteste01) [root@localhost ~]# pip debug --verbose
WARNING: This command is only meant for debugging. Do not use this with automation for parsing and getting these details, since the output and options of this command may change without notice.
pip version: pip 19.2.3 from /root/.pyenv/versions/3.7.4/envs/tensorflowteste01/lib/python3.7/site-packages/pip (python 3.7)
sys.version: 3.7.4 (d

[2019-09-09 16:21] #23199 closed

[2019-09-09 16:26] #32112 closed

[2019-09-09 16:31] mihaimaruseac commented on #32214
None of those tags show up on the [released wheels page](https://pypi.org/project/tensorflow/2.0.0rc0/). Is your CPU or Python on 32 bits? Then, this is a case of #32315, we don't have support for 32 bits at the moment.

[2019-09-09 16:36] jsimsa commented on #31616
Makes sense. I would be happy to take a look at your MRE.

[2019-09-09 16:48] dieinimymaganha commented on #32214
I will change my system to 64 bits and see if it will work.

Thanks for your help, I will leave it open even if I encounter any difficulty.

[2019-09-09 16:56] vade commented on #32268
Apologies, Im happy to put together a very limited GCS demo of the issue. Hold tight.

[2019-09-09 17:01] reliefs commented on #32315
a few people have been asking me today about pip install 32 bit tensorflow support.

[2019-09-09 17:09] rockyrhodes commented on #32345
Duplicate of #32037

Please followup on the above bug.  We would like help in testing a different proposed solution.

[2019-09-09 17:10] rockyrhodes commented on #32345
Sorry.  Closed the wrong issue.

[2019-09-09 17:12] rockyrhodes commented on #32309
Duplicate of #32037

Please followup on the above bug.  We would like help testing a different fix for this issue.

[2019-09-09 17:12] #32309 closed

[2019-09-09 17:20] martinwicke commented on #6998
Is the gradient only undefined in 2.0? That would be very surprising. I
find it more likely that we never had this gradient. It would be great to
add it -- an issue with this feature request would be a good start.

On Tue, Sep 3, 2019 at 2:51 AM László Mérő <notifications@github.com> wrote:

[2019-09-09 17:22] dansitu commented on #32037
I've put together a fix, but I'd love you to try it out before I publish it. Please try replacing line 25 of `tensorflow/lite/experimental/micro/tools/make/Makefile` with the following:

[code]

This removes some bash-only keywords from the Makefile so it is more likely to work on non-bash shells.

[2019-09-09 17:23] angersson commented on #32152
Thanks for reporting this. I've verified it and would welcome a PR to fix the issue.

Unfortunately, since this only affects Python 2.7, it's not as high of a priority right now (AFAIK, TensorFlow will stop supporting Python 2.7 on January 1, when Python 2.7 is EOL), so I don't have the time to fix it myself this week.

[2019-09-09 17:28] qlzh727 commented on #26642
Sorry for the very late reply. There has been some work to add the fused c kernel to TF, and they haven't be expose to python side yet. I have some other issue to work with at the moment, will take a closer look within this month.

[2019-09-09 17:31] rajatpaliwal opened #32363 "Error building tensorflow graph transform tools from source using bazel"
**System information**
**- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**
Microsoft Windows [Version 10.0.17763.615]
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:**
No
- **TensorFlow installed from (source or binary):**
Source
- TensorFlow version:

- **Python version**:
3.6
- **Installed using virtualenv? pip? conda?:**
No
- **Bazel

[2019-09-09 17:32] qlzh727 commented on #29187
@knobel-dk, I am bit confused about your message, this issue was about the recurrent_dropout for the LSTM/GRU layer, but your code doesn't have any LSTM/GRU layer within it.

Could you be more specific about the error you are facing?

[2019-09-09 17:40] mihaimaruseac commented on #32315
Will raise the issue upward.

[2019-09-09 17:49] daniel-s-cunha commented on #32331
Great, I logged the issue here:
https://github.com/tensorflow/probability/issues/553

Thank you for your help.

[2019-09-09 17:49] #32331 closed

[2019-09-09 17:57] faybak commented on #32360
Is it because I use opencv-python instead of opencv compile with cuda ?
Because the frame is taken from the webcam

[2019-09-09 17:59] divyanshu132 commented on #32351
I think may be there is a problem with your internet connectivity.

[2019-09-09 18:01] ymodak commented on #32314
This looks like a proxy configuration issue where you are trying to connect from firewall corporate network.
The workaround can be;
You can download the data from this link
https://www.kaggle.com/zalando-research/fashionmnist
Later you can use ```tf.keras.utils.get_file``` to load the dataset.
See,
https://www.tensorflow.org/api_docs/python/tf/keras/utils/get_file

[2019-09-09 18:13] mihaimaruseac commented on #32360
That's a question for StackOverflow as it is not related to TF code.

[2019-09-09 18:31] lamberta commented on #32329
Thanks. Direct link to zh-cn page: https://tensorflow.google.cn/install/gpu?hl=zh-cn

This has been fixed in [the source file](https://github.com/tensorflow/docs/blob/master/site/en/install/gpu.md) but translations lag behind. Will be updated on next translation job.

[2019-09-09 18:31] #32329 closed

[2019-09-09 18:46] elyasmehtabuddin commented on #32240
@jvishnuvardhan I am also willing to contribute to the tensorflow source code if need be

[2019-09-09 19:49] bionicles opened #32365 "Reduce sum should work on heterogeneous shapes"
**System information**
- TensorFlow version (you are using): 2 rc
- Are you willing to contribute it (Yes/No): Not sure how

**Describe the feature and the current behavior/state.**
tf.math.reduce_sum fails if given an array of differently shaped tensors

**Will this change the current api? How?**
reduce sum should "just work" in the case where user wants to total a bunch of different shapes.

**W

[2019-09-09 19:49] Bornlex commented on #29931
@tanzhenyu @CJMenart Sorry guys, I am running into the same issue when I run the following code on Google Colab:

[code]

[2019-09-09 20:09] shabaz123 commented on #32037
Hi,

I tried that line 25 mod, but I saw this:
make -f tensorflow/lite/experimental/micro/tools/make/Makefile clean
**/bin/sh: 1: Syntax error: ";" unexpected**

So, I edited line 25 to just state for now:
**HOST_ARCH := x86_64**

and then I don't get any error, and I was able to execute this successfully:
**make -f tensorflow/lite/experimental/micro/tools/make/Makefile test_micro_speech_test**

H

[2019-09-09 20:12] shabaz123 commented on #32037
Incidentally the user shell that executes these commands is a bash shell, according to /etc/passwd, it is /bin/bash. It was the default user account that gets created when installing ubuntu.

[2019-09-09 20:15] vade commented on #32268
Hi.

Eager Mode code in GCS:
https://colab.research.google.com/drive/16g3-5kgD5KV5_vz0DY07_bIO0miXp-NP

No Eager Mode code in GCS:
https://colab.research.google.com/drive/1JqmscKZTLy2GpUiTzSyOMDXepalPSZKR

One line of code difference : `tf.enable_eager_execution()`

Output with Eager:
[code]

Output with No Eager:
[code]

See the last print statement / output:

[2019-09-09 20:20] sakshigoynar17 opened #32366 "LINK : fatal error LNK1201: error writing to program database "..\x64_windows-opt\bin\tensorflow\python\_pywrap_tensorflow_internal.pdb'; check for insufficient disk space, invalid path, or insufficient privilege"
#31610 : The same kind of issue.

**System information**
- OS Platform and Distribution:  Windows 10
- TensorFlow installed from (source or binary): Source. Master branch. SHA Key: 97ff26f
- TensorFlow version: 1.13.1
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: Pip
- Bazel version (if compiling from source): 0.25.1 (I modified the configure.py to support 0.25.1 Bazel version

[2019-09-09 20:40] dansitu commented on #32037
Thanks, @shabaz123; looks like we have two problems here.

I've fixed that replacement line; give this one a try:

[code]

I've now been able to reproduce your second problem, so I'll let you know when we have a fix.

[2019-09-09 20:40] jsimsa commented on #32075
`reshuffle_each_iteration` does not control whether elements should only be shuffled every epoch (or only the first epoch). What it controls is whether the order in which elements are shuffled is different (or same) every epoch.

The error on #30646 does not seem related to tf.data as not allocating memory on GPU. I suggest you create a new issue for your problem with minimal reproducible example

[2019-09-09 20:40] #32075 closed

[2019-09-09 20:50] tanzhenyu commented on #3725
I agree. Seems like an issue we should fix.

[2019-09-09 21:00] jvishnuvardhan commented on #32240
@elyasmehtabuddin Please feel free to contribute by raising PR's [here](https://github.com/tensorflow/tensorflow/pulls). Thanks!

[2019-09-09 21:00] dansitu commented on #32037
I have a fix! Replace the contents of `tensorflow/lite/experimental/micro/tools/make/targets/mbed_makefile.inc` with the following:

[code]

Let me know if this works and I'll submit a proper fix.

[2019-09-09 21:05] grayfall commented on #31872
I am having the same issue on Ubuntu 18 with Bazel 0.24.1 and CUDA 10.1. I've tried several TF releases, including r1.13, r1.14 and r1.15.

[2019-09-09 21:07] husligc commented on #32315
Having the same problem here. Would really appreciate a fix

[2019-09-09 21:18] nguerinjr opened #32368 "Problem in tensorboard callback"
-> tf-nightly-gpu-2.0-preview==2.0.0.dev20190909
-> Python 3.7.4 (default, Jul  9 2019, 03:52:42)  [GCC 5.4.0 20160609] on linux
-> Ubuntu 16.04 LTS
-> Geforce GTX 1080 Ti

I have an autoencoder with Tensorboard callback and tf.datasets (whose code I've omitted here, since the iteration on the patches are working)

[code]

Apparently, everything runs ok

[code]

However, tensorboard simply doesn't

[2019-09-09 21:24] martin-gorner commented on #32320
I confirm I am seeing the issue too. The eval progress bar seems to be broken. Adding a batch size and a number of steps does not change the erroneous behavior:

model.evaluate(test_images, test_labels, verbose=1, batch_size=1000, steps=10)
Expecting exactly 10 progress steps with an eval dataset of 10,000 elements
Getting many many steps....

[2019-09-09 21:27] jw447 commented on #29617
Same problem here for mac. I think for mac, os.name = 'posix'. Do I need to import cloud to run tensorflow on mac? I built tensorflow 1.13 with --config=nogcp.

[2019-09-09 21:28] jvishnuvardhan commented on #28323
@scooter4j Is this resolved? Did you raise any PR? Please close if the issue was resolved already. Thanks!

[2019-09-09 21:45] vicpara commented on #32333
I also managed to make it run with a small tweak in the model. Before the dense softmax layer I added an LSTM with 1 cell. Please find bellow the version that actually trains. I find it weird that removing the LSTM in the middle of the layer stack changes the final output.

[code]

[2019-09-09 21:48] jvishnuvardhan commented on #29132
I am closing this issue based on @karmel explanation on why it is difficult to track shape in subclassed models. You could also use workaround mentioned by @Ja1r0 . Thanks!

Closing this out since I understand it to be resolved, but please let me know if I'm mistaken.

[2019-09-09 21:48] #29132 closed

[2019-09-09 22:02] gowthamkpr commented on #32343
Can you please refer to the following [link](https://www.tensorflow.org/tensorboard/r2/get_started) and also this [link](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/summary/SummaryWriter) and let me  know if it helps. Can you also please share a minimal reproducible code as I am unable to figure out whats exactly causing the exception here. Thanks!

[2019-09-09 22:07] jvishnuvardhan commented on #30423
@jangmino Could you check whether the issue with latest TF. I ran your code with `!pip install tf-nightly-gpu-2.0-preview`. Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/f4e161a207b4a835f0a5227dd688b9e4/reproducing_code_unexpected_zero_filling_behaviors_for__zero_ouputput_for_mask__-tf_2_0_beta.ipynb).

Please close the issue if you think the issue was resolved. Thanks

[2019-09-09 22:26] bparr opened #32369 "tf.keras.layers.LSTM does not support tf.float64"
**System information**
- TensorFlow version 1.12.0 (I believe the issue appears in 1.14.0 as well).
- Python version: 3.5.2

[code]

When running this, the last line raises the following error:
TypeError: Input 'b' of 'MatMul' Op has type float32 that does not match type float64 of argument 'a'.

The LSTM constructor is not passing the dtype to the LSTMCell constructor, so `lstm.cell.dtype` is jus

[2019-09-09 22:35] lamberta commented on #32162
Thanks. Looks like this only exists in TF2: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/transpose
It will (eventually) sort itself out, but it shouldn't be linked in TF1

[2019-09-09 22:38] pooyadavoodi commented on #31671
@sgambient Did the problem go away when you decrease k to <=3840?

What version of TensorRT are you using?

[2019-09-09 22:39] aaudiber commented on #32052
Thanks @Mageswaran1989. It looks like this follows the expected behavior that memory increases linearly only when the loop is outside of Dataset/Estimator. You should be able to achieve everything you need without having an external loop.

To perform evaluation after every epoch, remove the `.repeat()` from your dataset input function. See [this](https://stackoverflow.com/a/49655277/401884) stacko

[2019-09-09 22:45] bparr commented on #32369
Also seems to be a very similar problem with using tf.keras.layers.LSTM(512, trainable=False), where the created weights end up being trainable.

Am I misunderstanding the API?

[2019-09-09 22:47] lamberta commented on #32162
Ehh, the links on that page should all use backticks for API symbols and not absolute URLs. I'll fix it

[2019-09-09 22:58] Rangozhang commented on #23581
@jsimsa Hey Jiri, thanks for the answers above. But I'm getting an error when I'm trying to do the same on a dictionary-like dataset:
[code]

It'll give me the error of ```AttributeError: 'dict' object has no attribute 'batch'```

Do you know if there's a way to do it on a dictionary-like tf.data.Dataset?

Thanks

[2019-09-09 23:09] frankchn commented on #32240
Unfortunately this is not a supported op that you can use on TPUs. The list of compatible base op for TPUs is available at https://cloud.google.com/tpu/docs/tensorflow-ops.

[2019-09-09 23:09] #32240 closed

[2019-09-09 23:13] zihaozhihao opened #32371 "Inconsistent tf.Print() results"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 1.14
- Python vers

[2019-09-09 23:15] jsimsa commented on #23581
For a dataset of nested elements `window` creates a dataset of nested datasets of flat elements, not a dataset of datasets of nested elements.

In other words, the `x` in your `lambda` will be a dictionary mapping keys to datasets and if you wish to flatten it to a single dataset you will need to do:

[code]

[2019-09-09 23:19] jvishnuvardhan commented on #31032
@bjarthur In the timestamp you could see `ETA` while running the code and after completing an epoch it shows how many seconds it took to complete that epoch and how much time it took per sample. For the example shown below, epoch 1 took 11 seconds to train and 176usec/sample. Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/e752e51174143c5412389736696c222a

[2019-09-09 23:19] #31032 closed

[2019-09-09 23:35] Rangozhang commented on #23581
@jsimsa Hey Jiri, thank you very much for the prompt reply. But I still got the same error even with "tf.data.experimental.get_single_element" function:

I'm using tensorflow 1.14 and python3.
[code]

[2019-09-09 23:43] jsimsa commented on #23581
Try again, I have made changes to the example code and made sure it runs.

[2019-09-09 23:46] Rangozhang commented on #23581
@jsimsa Ah, got you. It works now with the tf.data.Dataset.map() function. Thanks for your help Jiri!

[2019-09-09 23:55] jvishnuvardhan commented on #32129
Automatically closing this out since I understand it to be resolved by the https://github.com/tensorflow/docs/pull/987 (merged already), but please let me know if I'm mistaken.Thanks!

[2019-09-09 23:55] #32129 closed

[2019-09-09 23:57] shabaz123 commented on #32037
Hi dansitu,

Thank you!!
I tried both of the fixes you suggested (the **HOST_ARCH** fix, and the **mbed_makefile.inc** fix) and together it is much better : ) Now it proceeds to correctly compile.
There were a few other minor changes that were needed to fully compile. Basically, the file
**tensorflow/lite/experimental/micro/tools/make/gen/mbed_cortex-m4/prj/micro_speech/mbed/ mbed-os/cmsis/TARGET_

[2019-09-10 00:20] sgambient commented on #31671
With k =3000 it worked. However, not ideal. Not sure about the exact version ( whatever comes with  the nvcr container for TF 1.14).  Is there a good way to find that out ?

[2019-09-10 00:36] #32162 closed

[2019-09-10 00:55] bjarthur commented on #31032
except that as you can see in my example above, my epoch times are so short that they show up as `0s`.  how about some more significant digits?  surely that can't be hard to do.

[2019-09-10 00:55] Tony-Y commented on #32125
https://stackoverflow.com/questions/57781188/larsoptimizer-layer-wise-decomposition

I am waiting answers from the TensorFlow community.

[2019-09-10 01:13] njeffrie commented on #29792
They are currently only available as c++ source files.  I will have a look at adding the source model to the download.  In the meantime, a simple c++ method which dumps the array to file would re-create the tflite model.  You can find the grayscale c++ file [here](https://storage.googleapis.com/download.tensorflow.org/data/tf_lite_micro_person_data_grayscale.zip):  and the RGB model c++ file [here

[2019-09-10 01:28] sgambient commented on #32271
I am not sure about minimal is for you, but the following is a compact code for you to play with.   You will obviously need to  get the resNet50 checkpoint and test images.   Running is simple : python ./xla_resnet2x.py --runtime TFXLA (or TF) .  At the end of  a 2K iteration you will get an output with per batch/frame time.

[code]

[2019-09-10 01:49] juses0812 commented on #31838
Can you explain how to get the value of input_arrays and output_arrays?

[2019-09-10 02:04] ucasiggcas opened #32373 "is tf.signal.stft same as librosa.stft ?"
hi,
Dear, if I use the tf.signal.stft instead of librosa.stft, will have any difference ?
and tf.signal.inverse_stft could be librosa.istft ?

thanks a lot

[2019-09-10 02:09] faybak commented on #32360
What about tf.data? How can I replace queue by tf.data please ?

[2019-09-10 02:17] MostafaGazar commented on #32357
I think `fit_generator` used to support python iterators and it no longer does, I believe that changed in v1.13.

This doc page seem to be out of date: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/preprocessing/image/ImageDataGenerator

[2019-09-10 02:34] Docker300 commented on #21135
Hello
I am also facing the same problem and getting following error at step 93526 while training ssd_inception_v2_coco.config  and visualizing its performance with TensorBoard on windows 10 (tensorflow-estimator 1.14.0, tensorflow-gpu  1.14.0, Python 3.7.4) .

I do not know why I am getting this error.  (I have not it synchronized it with google or one drive for saving)
**Would you please guide me

[2019-09-10 02:44] laohur commented on #25278
name = "libProphet.so",
    srcs = [
        "Prophet.cc",
        "Prophet.h",
    ],
    copts = tflite_copts(),
    defines = [
        "TFLITE_CUSTOM_OPS_HEADER",
        "TFLITE_WITH_RUY",
    ],
    linkopts = tflite_linkopts() + select({
        "//tensorflow:android": [
            "-pie",  # Android 5.0 and later supports only PIE
            "-lm",  # some builtin ops, e.g., tanh, need -

[2019-09-10 02:49] QuellaZhang commented on #31678
Hello, we have find the reason. swig.exe is crash due to missing “VCRuntime140.dll”, we have install vc_redist.x64.exe and Tensorflow build successfully.

[2019-09-10 02:49] #31678 closed

[2019-09-10 02:55] Tuanlase02874 commented on #26525
add import:
`from tensorflow.python.compiler.tensorrt import trt_convert as trt`

[2019-09-10 02:59] Tuanlase02874 commented on #20120
Solution: add import

link discuss: https://github.com/tensorflow/tensorflow/issues/26525

[2019-09-10 03:27] wwilliamcook opened #32375 "tf.concat not accepting arbitrary dtype with functional API model"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Windows 10 Pro, version 1903, OS build 18362.295
- TensorFlow installed via: pip
- TensorFlow version: v2.0.0-beta1-5101-gc75bb66a99 2.0.0-rc0
- Python version: Python 3.6.9 |Anaconda, Inc.| [MSC v.1915 64 bit (AMD64)] on win32

**Describe the current behavior**
```tf.concat``` only accepts ```float32``` unles

[2019-09-10 03:33] Xie-Fangyuan commented on #30847
same problem with mine.

i am using a dataset that contains a string tensor as one of the inputs of the model.
the stirng tensor input is not a part of training, but it is necessary to be in the dataset for writing predictions to file. and i am using distribute strategy.

everytime when it reaches to the end of the dataset, it shows a `RuntimeError`.

i an using tensorflow-gpu 1.14.0, python 3.7.3

[2019-09-10 03:50] mingrongchen commented on #22994
I also get this error when I train and freeze the model using 1.14, but works if train and freeze using 1.13.1

[2019-09-10 04:09] csukuangfj commented on #32345
@rockyrhodes  @tensorflowbutler @ravikyram

is there any workaround to solve this problem?

I'm porting tflite micro to a smart watch, but the resulting library is so large that it is impossible to put it into the chip.

[2019-09-10 04:16] kttn8769 commented on #32351
@divyanshu132 Thank you. It was a temporary problem of my internet connectivity. Now I can download the csv. Sorry for this irrelevant post.

[2019-09-10 04:16] #32351 closed

[2019-09-10 04:44] guptapriya commented on #30847
This seems related to the handling of last partial batch in distributed datasets. we will take a look

[2019-09-10 04:56] gadagashwini commented on #32268
@vade, Thanks for providing the GCS.

[2019-09-10 05:23] gadagashwini commented on #32344
@flooreigenhuis,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-09-10 05:25] 7oud commented on #21251
I have similar question, the difference is that I build tf and custom op in Windows. When the very simple custom op lib `zero_out.dll` is built, it can be load using python, but when I load using `TF_LoadLibrary`, it returns `TF_NOT_FOUND = 5`, the dll is not found. May some dependency dll are needed? I placed built `tensorflow_cc.dll` with `zero_out.dll` in the same folder.

[2019-09-10 05:38] gadagashwini commented on #32347
@csukuangfj Thanks for reporting the issue.
On the [page](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/micro/README.md#pre-generated-project-files) for `STM32F746G Discovery Board` links to `disco_keil project` instead of `Make/GCC` .

[2019-09-10 05:47] ravikyram commented on #32369
Can you try with tf-nighly (`!pip install tf-nightly `) and let us know whether the issue persists still persists. Thanks!

[2019-09-10 06:21] gadagashwini commented on #32353
@nfgallimore,
Deprecation messages are needed to inform people who want to use an actual version of TensorFlow what is going to happen in the future, and give them time to adapt.

[2019-09-10 06:29] flooreigenhuis commented on #32343
@gowthamkpr Yes, of course! The links didn't help. I wrote a custom model but the problem also persists when trying to do hyperparameter tuning on AI Platform using [this](https://colab.research.google.com/github/GoogleCloudPlatform/cloudml-samples/blob/master/notebooks/tensorflow/getting-started-keras.ipynb#scrollTo=K0UXLWaBJnrY) tutorial. As I said, it's weird because Tensorboard runs just fine

[2019-09-10 06:32] gadagashwini commented on #32359
@rishabhsahrawat, Please provide the saved h5 model to reproduce the issue. Thanks!

[2019-09-10 06:33] oanush commented on #32361
@7oud ,
Can you let us know which TF version you are using ?

[2019-09-10 06:46] rishabhsahrawat commented on #32359
@gadagashwini thank you for your reply. Can we share it privately?

[2019-09-10 06:54] satwikk commented on #27045
This is not the right way to do it but it works, if you are irritated by the warnings while working on your code. Just redirect stderr to /dev/null

[code]
Find the original post [here](https://stackoverflow.com/a/6735958).

[2019-09-10 07:01] flooreigenhuis commented on #32344
@gadagashwini hi! Yes, of course. Although I made a custom model, you can find the tutorial I followed [here](https://colab.research.google.com/github/GoogleCloudPlatform/cloudml-samples/blob/master/notebooks/tensorflow/getting-started-keras.ipynb#scrollTo=mHF9VCProKJN) but then with custom code. The tensorflow version I used is version 2.0 instead of 1.x of course. Is there a known problem with s

[2019-09-10 07:03] 7oud commented on #32361
@oanush
TF version: 1.13.1
Bazel: 0.21.0
GPU: 2080Ti
Some reference of build tf src on Windows: [tf-windows-build-script](https://github.com/guikarist/tensorflow-windows-build-script)
cmd of build custom op lib
[code]
BUILD file
[code]
Now I try to load op dll using `TF_LoadLibrary` in `c/c_api.h`, but it returns `TF_NOT_FOUND = 5`, the dll is not found. May some dependency dll are needed? I place

[2019-09-10 07:25] jwakely commented on #31760
@angersson

That's not how devtoolset works. The devtoolset GCC is a newer compiler, period. It's not "4.8 plus new features". The clever part is that it links to the `libstdc++.so` from an older GCC and _also_ an extra `libstdc++_nonshared.a` with symbols for newer features. But the actual `g++` compiler is still not "GCC 4.8".

[2019-09-10 07:35] elyasmehtabuddin commented on #32240
@frankchn Are there plans to support this op in the future for XLA (not TPU)?

[2019-09-10 07:51] rishabhsahrawat opened #32376 "[TF2.0]Shuffle function on tf.data fills up RAM memory."
In TF2.0rc, using `shuffle(buffer_size= #_of_elements)` on `tf.data.Dataset` type dataset, it fills up shuffle buffer which also fills up RAM memory so if the data is huge and RAM is not enough then it hangs up the system which leads to system restart. This memory filling happens before every epoch. It of course releases the memory once the epoch is done. To reproduce this problem, I followed [thi

[2019-09-10 07:52] rishabhsahrawat commented on #32075
HI @jsimsa , [here](https://github.com/tensorflow/tensorflow/issues/32376) is the new issue. Please let me know if you have any comments or suggestions. Thank you very much!
-Rishabh Sahrawat

[2019-09-10 07:56] hzqqqqq commented on #24730
@twalk4821 Hi, twalk4821.
Sorry for my bad English.  When I convert the mobilenetv2+deeplabv3+ model to  a tflite file and then deploy it to Andriod, I encountered the same error:
Internal error: Failed to run on the given Interpreter: tensorflow/lite/kernels/depthwise_conv.cc:108 params->depth_multiplier * SizeOfDimension(input, 3) != SizeOfDimension(filter, 3) (0 != 32)Node number 16 (DEPTHWISE_

[2019-09-10 07:59] sjtusmartboy commented on #32170
@jvishnuvardhan @gadagashwini Any update? Thanks

[2019-09-10 08:06] siddas27 commented on #29876
How did you fixwd it?

[2019-09-10 08:07] hzqqqqq commented on #20798
@SanthoshRajendiran  @wwwecho   sorry for my bad English.
When I convert the mobilenetv2+deeplabv3+ model to  a tflite file and then deploy it to Andriod, I face the same issue:
Internal error: Failed to run on the given Interpreter: tensorflow/lite/kernels/depthwise_conv.cc:108 params->depth_multiplier * SizeOfDimension(input, 3) != SizeOfDimension(filter, 3) (0 != 32)Node number 16 (DEPTHWISE_CO

[2019-09-10 08:21] nanguatou9 opened #32377 "TF2.0 AutoGraph issue"
OS:Ubuntu 18.04
TensorFlow Version:tensorflow-gpu == 2.0.0-rc0
issue:AutoGraph
WARNING:tensorflow:Entity <function Function._initialize_uninitialized_variables.<locals>.initialize_variables at 0x7fd89803cef0> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and att

[2019-09-10 08:23] nanguatou9 commented on #32377
CUDA Version: CUDA 10.0

[2019-09-10 08:26] aakbar5 commented on #29792
@njeffrie, Thanks - actually for my workspace I have already reverse engineered the .tflite file as well as input data images (I couldn't clearly the face of the person in the picture. Is it you? :) ). IMO uploading .tflite makes sense for the use-case where one doesn't want to compiled alongwith the executable as my application already loading some resources from the storage device so placing mod

[2019-09-10 08:41] EgorBEremeev commented on #27470
@mihaimaruseac ,
I did `pip install tf-nightly-2.0-preview==2.0.0.dev20190909 debug --verbose`
and produced full output is in attachment.
For all files got message:

Also my python's version is:

[pip_install_tf-nightly-2.0-preview_debug.log](https://github.com/tensorflow/tensorflow/files/3594621/pip_install_tf-nightly-2.0-preview_debug.log)

[2019-09-10 08:58] Yooong-W commented on #32037
@dansitu ; thanks for your suggestions, I tried all of that and its works very well.
when i use mbed to compile,i got a new error,thanks @shabaz123 , his Modification successfully solved this problem.
[code]
when i build the second example micro_speech , i find i have to fix the HOST_ARCH and use this command first.
`make -f tensorflow/lite/experimental/micro/tools/make/Makefile test_micro_speech_

[2019-09-10 09:00] 2649 commented on #32377
You should add your code as well. I had the same Issue, but the cause was bug in my code, not of tensorflow.

[2019-09-10 09:22] knobel-dk commented on #29187
Thanks. Yes I have confused myself too. Those stateful Jupyter notebooks.. I fixed my problem by updating the TF2 version. Thanks.

[2019-09-10 09:25] gadagashwini commented on #32371
@zihaozhihao, Use tf.print instead of tf.Print. Please refer the [official Tensorflow website](https://www.tensorflow.org/api_docs/python/tf/Print). Thanks!

[2019-09-10 09:29] ketyi commented on #30263
I'm facing with the same issue.

[2019-09-10 09:32] oanush commented on #32340
@debadityamandal ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Can you share a simple and standalone code to reproduce the issue?Thanks!

[2019-09-10 09:33] akanyaani commented on #31852
Hi, @reuben You can still train your model on distributed GPU, I am able to train using ReduceOp.SUM only but after that, you have to divide by global batch size you will get the same value which ReduceOp.mean would give.

[code]
But I am not 100 percent sure that weather I doing it correctly on not.

[2019-09-10 09:41] EgorBEremeev commented on #28923
@k-w-w , does this fix cover `tf.keras.experimental.SequenceFeatures` as well?

I save model by `tf.keras.models..save('MODEL_PATH.h5')`. Then while loading model by `tf.keras.models.load_model(MODEL_PATH.h5)`, I experience the similar error message as described in this issue:

I have not found separete issue for save\load problems concerning `SequenceFeatures` but my problem is reproduced in tens

[2019-09-10 09:41] KiryanovKD opened #32378 "Expected Center Loss"
*del*

[2019-09-10 09:42] reuben commented on #31852
@akanyaani I get the same error even if I use ReduceOp.SUM.

[2019-09-10 09:43] #32378 closed

[2019-09-10 09:51] KiryanovKD opened #32379 "Expected Center Loss"
**System information**

TensorFlow version (you are using): 2 rc
Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Expected Center Loss can help in learning discriminative features in seq training without framewising

**Will this change the current api? How?**
No

**Who will benefit with this feature?**
Anyone who wants to use this loss functio

[2019-09-10 09:51] akanyaani commented on #31852
Hi, @reuben can you share the stack trace because I am able to train on multiple GPU using above code.

[2019-09-10 09:53] ravikyram commented on #32348
I have tried on colab with TF version 2.0.0rc0 ,2.0.0-dev20190909 and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/3f894e9b9800a3548a414f024eecfa74/untitled169.ipynb)Thanks!

[2019-09-10 10:00] gadagashwini commented on #32359
I could able to reproduce the issue with Tensorflow 1.14.0 on Colab. Please see the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/a1e60ce8884f65a15ad38b169bddfd46/untitled136.ipynb). Thanks!

[2019-09-10 10:01] akanyaani commented on #32232
Hi, @mjlbach I tried what you suggested but I got the same error.

[code]

[2019-09-10 10:03] reuben commented on #31852
I can't get it easily because I've deleted the virtualenv I was using for experimenting with TF2.0.

[2019-09-10 10:07] gadagashwini commented on #32310
@sharonevarghese,
TensorFlow release binaries version 1.6 and above are prebuilt with AVX instruction sets.
Therefore on any CPU that does not have these instruction sets either CPU or GPU version of TF will fail to load.
Can you check once, does your CPU supports AVX instruction set or not. Thanks!

[2019-09-10 10:08] oanush commented on #32322
@deasmhumhna ,
When tried executing the given code the following output was received
`no alter executed
 alter executed
 alter executed` is the same output received from your side also?Thanks!

[2019-09-10 10:21] #11290 closed

[2019-09-10 10:21] #16364 closed

[2019-09-10 10:21] gadagashwini commented on #32137
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-10 10:21] #32137 closed

[2019-09-10 10:22] #16540 closed

[2019-09-10 10:29] debadityamandal commented on #32340
@oanush ,
I am executing the code in google colab and tensorflow version is 1.14.0.This is the code snippet.
Thank You

[2019-09-10 10:33] ravikyram commented on #32363
@rajatpaliwal
Can you please let us know the TensorFlow version you are using?.Thanks!

[2019-09-10 10:53] ravikyram commented on #32285
I have tried on colab with TF version 2.0 rc0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d76d69451de64646e2917bb0b555e56c/untitled170.ipynb).Thanks!

[2019-09-10 10:55] hzqqqqq commented on #23747
@SanthoshRajendiran
Hi SanthoshRajendiran. Thans so much!
Following your suggestion above, I have solved this problem: tensorflow/lite/kernels/depthwise_conv.cc:99 params->depth_multiplier * SizeOfDimension(input, 3) != SizeOfDimension(filter, 3) (0 != 32) Node number 30 (DEPTHWISE_CONV_2D) failed to prepare.
hope to help more people!

[2019-09-10 11:01] joshlk commented on #27045
@satwikk that's potentially quite dangerous as you won't see any errors as well as warnings

[2019-09-10 11:01] ravikyram commented on #32254
I am closing this issue and we can track the issue in TensorFlow Serving repo. Thanks!

[2019-09-10 11:01] #32254 closed

[2019-09-10 11:02] oanush commented on #32340
@debadityamandal ,
Thank you for the response,but I don't see the code attached.

[2019-09-10 11:04] gadagashwini commented on #32271
@sgambient, Thanks for updating the code. Please provide the resnet_v1_50.ckpt file. Thanks!

[2019-09-10 11:08] Danigy commented on #22794
I have faced the same issue.....

C:\Anaconda3>python
Python 3.7.1 (default, Oct 28 2018, 08:39:03) [MSC v.1912 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_ten

[2019-09-10 11:28] gadagashwini commented on #32344
@flooreigenhuis, Will it be possible to provide the colab link with your custom code to replicate the issue reported here. It will indeed help us to move faster.Thanks!

[2019-09-10 11:32] ravikyram commented on #32377
You can try  `pip install gast==0.2.2` and see if it resolves your issue.

Please, go through the below link and see if it helps you.Thanks!
#32319

[2019-09-10 11:55] Bakaizhamgyrchiev commented on #28028
What about models from keras.applications?
I would to like to use keras.Model from keras.applications in my custom training loop.

It is not clear, because these models create like tf.keras.Model(inputs, outputs) and there is not any information about call function parameters.

[2019-09-10 12:00] captain-pool commented on #32359
Hi!
Can you try loading the modele outside Cross Replica Context? I mean, outside strategy.scope() ?

Checkout point #2 of https://www.tensorflow.org/api_docs/python/tf/distribute/get_replica_context#note_that_execution

[2019-09-10 12:07] captain-pool commented on #32255
Hey! @youngalou , You don't need to open the strategy and device scope everytime. This produces different context ID, while training the model.
So, I'ld ask you to shift the `tf.device()` and `strategy.scope()` outside the loop.
[code]
This is supposed to work.

[2019-09-10 12:10] captain-pool commented on #32255
And about `{{DeleteIterator}}` issue, This issue is raised when the code suddenly crashes and kills the execution. So while debugging TPU code, these errors are to be ignored (unless there's nothing else in the traceback, apart from these). Scroll up to find out what killed the code.
In your case there's a high chance, The TPU cannot process it since 2 different context IDs are produced for the sa

[2019-09-10 12:13] rishabhsahrawat commented on #32359
Hi @captain-pool , as I already mentioned, this model can be loaded easily outside `scope()`, but then it doesn't use TPU and starts training on CPU which very very slow.
I am sorry, I did not understand how your provided link is helpful. Could you please elaborate a bit?
Thank you!

[2019-09-10 12:20] oanush commented on #32375
Issue replicating with TFversion 2.0rc0,please find the [gist](https://colab.research.google.com/gist/oanush/0407693cf5ddc756f6ae143a3a7cf4df/32375.ipynb) of colab.

[2019-09-10 12:22] ikrets opened #32380 "BatchNormalization virtual_batch_size does not work with None in input shape"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-09-10 12:34] #25171 closed

[2019-09-10 12:34] #25997 closed

[2019-09-10 12:34] #26280 closed

[2019-09-10 12:35] tensorflowbutler commented on #25171
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-09-10 12:35] tensorflowbutler commented on #25997
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-09-10 12:35] tensorflowbutler commented on #26280
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-09-10 12:35] tensorflowbutler commented on #31349
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-10 12:35] tensorflowbutler commented on #31692
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-10 12:41] drblind42 commented on #21518
still got the same problem

windows 10
python 3.6
tensorflow-gpu 1.1.2
keras 2.2.4
keras-applications 1.0.6
keras-preprocessing 1.0.5

**NameError: name 'keras_applications is not defined**

[2019-09-10 12:42] drblind42 commented on #21518
still got the same problem

windows 10
python 3.6
tensorflow-gpu 1.1.2
keras 2.2.4
keras-applications 1.0.6
keras-preprocessing 1.0.5
h5py 2.8.0

NameError: name 'keras_applications is not defined

[2019-09-10 12:49] guillaumekln commented on #30715
I tested `tf-nightly-gpu-2.0-preview==2.0.0.dev20190910` and it's not that much better. With the same code as above running on 3 GPUs, the first one is utilized at 100% but the 2 others are below 30% most of the time.

[2019-09-10 12:55] reliefs commented on #32315
Also, got a few asking questions about this issue today.

[2019-09-10 12:55] lorenzob commented on #21518
tensorflow-gpu 1.1.2 ? I use 1.13.1

[2019-09-10 13:02] reliefs commented on #32315
this issue has been going on for years (but already knew that), here is a thread from 1 year ago.
https://www.reddit.com/r/learnpython/comments/8xxy65/why_is_python_370_32_bit/

[2019-09-10 13:06] thulani196 opened #32381 "cudaGetDevice() failed. Status: cudaGetErrorString symbol not found."
After installing Cuda 10.1 and CuDNN, I am getting above error when testing if tensorflow 2.0 can recognize my GPU, I am using a GTX 1060, on Windows 10.

I am trying to run:
`tf.test.is_gpu_available(
    cuda_only=False,
    min_cuda_compute_capability=None
)`

[2019-09-10 13:17] ironbar commented on #31231
Hi,
I have found that the workaround those not work if the model has multiple inputs. The following code fails:

[code]

[code]

Should I open a new thread for this issue?

[2019-09-10 13:22] mdanatg commented on #31588
Leaving aside the debugability issues and the support for shape_invariants for a moment, using range means that the loop is unrolled in the graph. So with range, a new subgraph is created for each loop iteration. That should explain the slow graph construction as well as the memory usage increase, because there are more temporary tensors involved. My wild guess would be that the graph construction

[2019-09-10 13:41] dagophil commented on #29953
Has there been any progress on this issue? I still do not know which license I need to distribute with an application that uses the tensorflow C API.

[2019-09-10 13:48] jvishnuvardhan commented on #31349
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-10 13:48] #31349 closed

[2019-09-10 13:51] jvishnuvardhan commented on #31692
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-10 13:51] #31692 closed

[2019-09-10 14:06] KauthamMurugan opened #32382 "Audio WAV files from iOS are not read by Tensorflow audio_ops.decode_wav: Header mismatch: Expected fmt but found JUNK"
I have an iOS app that records audio as wav files and sends the files to the server for audio recognition. The iOS app records audio as wav files with the following configurations
[code]
The files are playing with any media player. But when i try to read the files with tensorflow ops in the server i am getting the following error

[code]

I couldn't find the reason for the crash. My TensorFlow cod

[2019-09-10 14:19] hussain7 opened #32383 "tf Function could not able to transformed into graph."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-10 14:20] hussain7 commented on #32383
WARNING:tensorflow:Entity <function train.<locals>.train_step at 0x000002B43293D0D0> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <function train.<locals>.train_step at 0x000002B43293D0D0>: AssertionError: Bad argum

[2019-09-10 14:28] hussain7 commented on #32383
== check python ===================================================
python version: 3.6.8
python branch: tags/v3.6.8
python build version: ('tags/v3.6.8:3c6b436a57', 'Dec 24 2018 00:16:47')
python compiler version: MSC v.1916 64 bit (AMD64)
python implementation: CPython

== check os platform ===============================================
os: Windows
os kernel version: 10.0.17134
os release versi

[2019-09-10 14:36] grayfall commented on #31872
For the record, r1.12 builds just fine on the same system (I've got both CUDA 10 and 10.1 installed).

[2019-09-10 14:56] ljstrnadiii opened #32384 "tensorboard gives ValueError: Duplicate plugins for name projector"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.5
- TensorFlow installed from (source or binary): `pip install tensorflow==1.14.0`
- TensorFlow version (use command below): 1.14.0
- Python version: 3.7.4 with virtualenv

**Describe the current behavior*

[2019-09-10 14:59] bingo-todd commented on #30638
I have the same problem. Take 'libcurand.so.10.0' as example, in my case, logs said
`I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Could not dlopen library 'libcublas.so.10.0'; dlerror: libcublas.so.10.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-10.1/lib64`
However in ` /usr/local/cuda-10.1/lib64`, there are libcurand.so, libcura

[2019-09-10 15:31] benDavidson6 commented on #30115
Same in tf 1.14
[code]
[code]

[2019-09-10 15:32] mihaimaruseac commented on #27470
`pip debug --verbose` is different than `pip install debug --verbose`. The second tries to install a package called `debug`, whereas the first one prints debug information about your pip environment.

Please post output of `pip debug --verbose`

[2019-09-10 15:33] mihaimaruseac commented on #32360
Same answer, as it is not a bug in tensorflow code, the question is a better fit for StackOverflow

[2019-09-10 15:33] rockyrhodes commented on #32345
The size of the .a file does not represent the amount of memory used on-device.  The compiler flags used in the various target makefiles include directives like --gc-sections and -ffunction-sections that are used to eliminate unused code and data from the compiled binaries.

All of the tests and examples run successfully on the SparkFun Edge development board, for example, which has 1MB of Flash a

[2019-09-10 15:42] mihaimaruseac commented on #32378
You know Github stores history, right? Editing to hide stuff just brings it back to light. See [Streisand effect](https://en.wikipedia.org/wiki/Streisand_effect)

[2019-09-10 15:46] rockyrhodes commented on #32347
Thanks for reporting the issue.  We'll find the proper link and fix it up.

[2019-09-10 16:02] qlzh727 commented on #30263
For any of you who is still facing this issue, please see my previous comment about this error in https://github.com/tensorflow/tensorflow/issues/30263#issuecomment-509053940.

TLDR, this warning message is not an actual error, and can safely ignored. There is also a recent update to just suppress this warning message to avoid the confusion in https://github.com/tensorflow/tensorflow/commit/a91368

[2019-09-10 16:11] EgorBEremeev opened #32385 "TF 2.0 save-load SequenceFeatures layer issue"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution: **WIndows 10 Pro build 1903**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **2.0.0-alpha0**, **2.0.0-beta0**, **2.0.0-beta1**, **2.0.0-rc0**
- Python version: **Python 3.7.3**

**Desc

[2019-09-10 16:15] wchargin commented on #32319
I don’t understand what the status of this is. The [corresponding commit
on master][1] hasn’t fixed this in nightlies:

[code]

Running `pip install gast==0.2.2` fixes the above issue.

I’m not sure what those changes in `pip_new.sh` do, but is there a plan
to update the [actual Pip dependencies][2] so that people who simply run
`pip install tf-nightly-2.0-preview` get a working install?

[1]: htt

[2019-09-10 16:26] dansitu commented on #32037
Thanks @shabaz123 and @Yooong-W, we'll work on a proper fix.

[2019-09-10 16:27] mihaimaruseac commented on #32319
Classical error of having same dependency specified in two places. I'll send a fix, sorry for this

[2019-09-10 16:49] rajatpaliwal commented on #32363
Hi @ravikyram ,
I am using tensorflow version 1.14.0

[2019-09-10 16:58] #29469 closed

[2019-09-10 17:03] guptapriya commented on #31588
@mjlbach can you share the code that throws the error you mentioned above  (List contains uninitialized tensor at index 0 but leading_dims has only 0 elements). Do you get this error only when using dist strat?

[2019-09-10 17:04] bparr commented on #32369
tf-nightly seems to handle dtype correctly. I'm guessing it's because of https://github.com/tensorflow/tensorflow/commit/d90e521d71b88f469e68eb1a467606ea6d44c733 or similar.

However, if I use tf.keras.layers.LSTM(512, trainable=False), the created weights still end up being trainable. There may be other mismatches still besides trainable.

[2019-09-10 17:05] git-davi commented on #32183
Update

Found this #20192
The first error was fixed and the build was successful with this workspace:
[code]

[2019-09-10 17:10] guptapriya commented on #32232
Hi - thank you for reporting, this is a known issue that we plan to fix. (https://github.com/tensorflow/tensorflow/issues/29911)

Meanwhile, I listed some workarounds in https://github.com/tensorflow/tensorflow/issues/29911#issuecomment-505688141 that can be useful to you ?

[2019-09-10 17:15] HarikrishnanBalagopal commented on #32311
What is the convention? Some functions accept tuples, lists and ints for the axis argument. Others only accept lists and integers.

[2019-09-10 17:20] guptapriya commented on #32255
+1 to @captain-pool's recommendations. You should not enter the strategy scope in a loop, but move the loop inside the scope. Let us know if that fixes the issue.

[2019-09-10 17:22] wchargin commented on #32319
thanks! :-)

[2019-09-10 17:35] zihaozhihao commented on #32371
Thanks for your reply @gadagashwini . However, even though I switch to tf.print, the inconsistent print results are still there.

[code]

I modify a little bit of the code to make it more clear. Basically, `w2` is dependent on `w1` and `v_op2`, and `w1` is dependent on `v_op1`. But when I run the above code, the output is undetermined. Following is the output of 20 repetitions.

[code]

[2019-09-10 17:39] EgorBEremeev commented on #27470
@mihaimaruseac , here is outout for `pip debug --verbose`
[pip_debug_output.log](https://github.com/tensorflow/tensorflow/files/3597003/pip_debug_output.log)
Previously I was confused by message ERROR: unknown command "debug", but now realized that had pip version 19.1.1 that is not the last one.

[2019-09-10 17:41] Arithmeticjia commented on #32111
thx!

[2019-09-10 18:04] jsimsa commented on #32376
The behavior you are seeing is expected. If your data is such that it cannot be all loaded into memory, then you cannot perform a "perfect" shuffle (i.e. using a shuffle buffer size that matches the cardinality of your dataset) and should instead use a smaller buffer size.

In other words, tf.data currently does not support "perfect" shuffle for dataset that do not fit into memory.

[2019-09-10 18:04] #32376 closed

[2019-09-10 18:05] sgambient commented on #32271
The checkpoints are available at https://github.com/tensorflow/models/tree/master/research/slim .

[2019-09-10 18:21] goldiegadde commented on #32250
This issue has been resolved in the nightly and cherrypicked to the 2.0 branch. Please let us know if it is ok to close the issue.

Thanks!

[2019-09-10 18:25] akanyaani commented on #32232
Hi, @guptapriya I am able to training without input signature.
It works when you remove the signature part from tf.function

[code]

[2019-09-10 18:44] Binbin16 commented on #32009
Hi JiayiFu, have you solved the issue? If it is solved, could you please let me know what changes did you make? Thanks.

[2019-09-10 18:53] TentuVenkatesh opened #32387 "TypeError: 'Tensor' object does not support item assignment , in tf.while_loop"
i am training an unsupervised CNN, for this, I defined a loss function in which CNN input is mapped to the cnn output through a complicated expression.  i am using  tf.while_loop to update the variables of "gamma_tilde_tensor_local " and "D_mat_tensor_local ".  i have uploaded my code  & the error below.
please suggest me how to update tensor variables in while_loop.

to avoid confusion, i have av

[2019-09-10 19:00] rahul21rajendran opened #32388 "tensorflow installation windows 10 python idle 3.6"
C:\WINDOWS\system32>python
Python 3.6.0 (v3.6.0:41df79263a11, Dec 23 2016, 08:06:12) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\RAHUL\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    fp, pathname, description

[2019-09-10 19:36] samhodge commented on #32128
Any update on this?

[2019-09-10 19:43] mihaimaruseac commented on #32319
Should be fixed by c72125bd59858ec82a9238b232bbd77c45889c5a, #32390 and #32391 (the last two need merging before fixing on corresponding branches)

[2019-09-10 19:48] jvishnuvardhan commented on #32111
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-09-10 19:48] #32111 closed

[2019-09-10 19:57] jdduke commented on #32330
In the sample, the Interpreter is run on a separate thread. When using the GPU, you must create/apply the delegate on the same thread as the one you use to run inference.

[2019-09-10 19:57] #32330 closed

[2019-09-10 20:09] avi-jain commented on #3390
Facing this issue too.
I was following the [seq2seq tutorial](https://chromium.googlesource.com/external/github.com/tensorflow/tensorflow/+/r0.7/tensorflow/g3doc/tutorials/seq2seq/index.md) for a similar task. Since the tutorial is dated, and the code now nowhere to be found on the official repos, I used this [repo](https://github.com/petewarden/tensorflow_makefile/) as source.
Tensorflow 0.12.1
P

[2019-09-10 20:15] cpoptic commented on #22512
What a pain in the ass.  One would expect a company like Google to have a straightforward installation and dependency management protocol for installing Tensorflow.

Really disappointed in the frequency of TF install errors and breaks.

How is there so much confusion and problems just to get a framework up and running.   Literally hours upon hours of time sunk.   Maybe this is by design?

TF team,

[2019-09-10 20:28] mihaimaruseac commented on #32319
Should be fixed now, keeping issue open until verified

[2019-09-10 20:34] mihaimaruseac commented on #27470
`cp37-cp37m-win_amd64` is not present at [tf-nightly-2.0-preview files](https://pypi.org/project/tf-nightly-2.0-preview/#files)

Seems we are not releasing windows pips for 2.0 nightly on python 3.7.

Can you try instead with the 2.0 rc0 release? `pip install tensorflow==2.0rc0` should work.

[2019-09-10 20:37] mihaimaruseac commented on #32315
As GitHub user reliefs deleted his account some comments here are missing and the issue mentioned in the beginning is now gone. It's sad, as that issue had the most information and all debug steps.

[2019-09-10 20:52] angersson commented on #31760
Thanks for the clarification, @jwakely! I updated my comment earlier to make sure I don't confuse anyone.

[2019-09-10 21:06] k-w-w commented on #32385
@EgorBEremeev The recommended format for saving is SavedModel. Can you try using that instead of Hdf5? To save to SavedModel, specify a path without the ".h5" extension, or set the `save_format` option to `tf`.

tf-nightly is more up to date than 2.0.0-alpha/beta/rc0, so the issue should be fixed in the next release.

[2019-09-10 21:06] #32385 closed

[2019-09-10 21:19] jvishnuvardhan commented on #32268
I could reproduce the issue even in `tf-nightly`. Thanks!

[2019-09-10 21:21] dekromp opened #32394 "Memory Leak in tf.keras.Model.fit"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2019-09-10 21:26] baiztencale commented on #31014
I finally found the reason for this behaviour. The Keras API handels update ops as part of its fit, evaluate and predict functions. Because of this, it won't update and evaluate the `tf.compat.v1.GraphKeys.UPDATE_OPS` collection without them. So in order to make it work, we need to update and evaluate  it manually.

The updated code looks as follows:
[code]

[2019-09-10 21:27] George1900 commented on #22479
@jamescook106 Did anybody find why pop() does not work with tf.keras() ? I am unable to remove the last layer with .pop() method. My question basically is whether I can rely on the old .pop() method or not. Thanks. G.

[2019-09-10 21:29] vade commented on #32268
Thank you very much for looking into this. Much obliged, and thank you for all of your work on TF!

[2019-09-10 21:33] mjarosie opened #32395 "AssertionError: Unreachable when adding or subtracting Dataset range element and tf.constant"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home Version	10.0.18362 Build 18362
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use command below): 1.14
- Python version: 3.6.9

**Describe the current behavior**
I'

[2019-09-10 21:45] liushengzhong1023 commented on #29731
It works for me! Thanks for the suggestion.

[2019-09-10 21:49] Binbin16 opened #32396 "The SessionOptions doesn't control the usage of CPU or Thread"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, only use C++ API
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): SUSE 12.4
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.14.0
- Python version: 3.5
- Bazel version (if compiling from source): 0.24.1
- GCC/Compil

[2019-09-10 21:52] mihaimaruseac commented on #32358
I think @gunan is a better assignee here as this is a request for a new architecture.

[2019-09-10 21:52] frankchn commented on #32240
I've filed a feature request for this internally, but I am not sure it would get on our roadmap in the short term.

[2019-09-10 21:57] kristofgiber commented on #32219
So is this a tf.keras or a tfp bug then? Are there any fixes coming?

[2019-09-10 22:35] ghannum opened #32398 "ValueError from invalid weights while loading older .h5 model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-10 22:40] EgorBEremeev commented on #27470
All other releases as  2.0.0-alpha0, 2.0.0-beta0, 2.0.0-beta1, 2.0.0-rc0 are installed without that problem. Only tf-nightly-2.0-preview is affected. I need the nightly build because I faced with not closed functional issues in main releases.

[2019-09-10 22:47] mihaimaruseac commented on #27470
If the issue works in nightly it will also land in the next release.

We will work on providing python 3.7 for nightly.

[2019-09-10 22:53] rxsang commented on #32255
Hi Louis,

Could you try to call
"tf.config.experimental_connect_to_cluster(cluster_resolver)"? In that way you don't need to enter the device scope as well.

[2019-09-10 23:15] csukuangfj commented on #32345
@rockyrhodes

yes, you are right. But the final binary is still larger than 100KB (compared against linking and without linking `libtensorflow-microlite.a` with `size`)

I added the flags `--gc-sections` and `-ffunction-sections` while compiling the library.

this only demonstrates the upper bound resources needed by lite micro. In addition, for all the
examples in the repository, lite micro is th

[2019-09-10 23:30] jvishnuvardhan commented on #32273
@wulungching This is more related to models repository. Could you post it in models repo [here](https://github.com/tensorflow/models/issues) and close this issue from this repo. Thanks!

[2019-09-10 23:34] ashkan-software commented on #30728
Make sure when you downgrade, you downgrade other `tensorflow` packages that you have installed:
if python 2:
[code]
If python 3:
[code]

[2019-09-10 23:50] ppwwyyxx opened #32401 "GPU NMS kernel in TF 1.15rc0 was not fixed"
This commit:
https://github.com/tensorflow/tensorflow/commit/9480262cbbfc2430b0c53424f0fc133418d7ae3f
was included in TF 1.15rc0.

However, this commit has a bug as pointed out in https://github.com/tensorflow/tensorflow/pull/28745#issuecomment-512949342.

The bug is fixed in https://github.com/tensorflow/tensorflow/commit/5d6158e0d4a736a8ad2fc98b717fed519e4080f0, which is not included in TF 1.15r

[2019-09-10 23:53] mihaimaruseac commented on #31872
Reassigning to @gunan as I don't have context here

[2019-09-10 23:54] ppwwyyxx commented on #26797
The bug still exists in TF 1.15rc0.

[2019-09-10 23:55] mihaimaruseac commented on #32401
Can you make a cherry-pick of https://github.com/tensorflow/tensorflow/commit/5d6158e0d4a736a8ad2fc98b717fed519e4080f0 please? Assign to me

[2019-09-11 00:06] rockyrhodes commented on #32345
I'll let Pete answer the specific question about replicating the results quoted in the README.md file.  I'm not sure exactly how we computed these numbers.

It's possible you're right that we've admitted a bit of bloat to the framework as we've expanded its capabilities, but it still looks like it's pretty reasonable.  If I compile the micro_speech_test for the apollo3evb target (an M4 processor),

[2019-09-11 00:21] weiqian0928 opened #32404 "Successfully opened dynamic library libcuda.so.1"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-09-11 00:33] MattShannon commented on #32158
+1. I just hit this issue as well. Note that it can be worked around by artificially adding an axis before the gather then removing it after the gather.

[2019-09-11 00:34] tuan-cs opened #32405 "Failed to build on Ubuntu 18.04 with Ryzen CPU"
<em>Error when build from source on Ubuntu 18.04 tag:build_template</em>

**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from source 1.14
- TensorFlow version: 1.14
- Python version: 3.6
- Bazel version (if compiling from source): 0.24.1
- GCC/Compiler version (if compiling from source): 7.4
- CUDA/cuDNN version: 10.0
- GPU model and memory: RTX 2060
- C

[2019-09-11 01:22] nanguatou9 commented on #32377
@ravikyram @2649
The problem has been resolved after installing gast. Thanks!

[2019-09-11 01:22] #32377 closed

[2019-09-11 01:52] Xie-Fangyuan opened #32408 "The name "resnet50" is used 2 times in the model."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS P

[2019-09-11 02:05] csukuangfj commented on #32345
It's very hard to say. In my opinion, I think it depends on the specific application and the target platform.  One rule I believe is that: the smaller, the better; the faster, the better.

Since the architecture of the NN model for a specific application is fixed once it is trained, it is not difficult to write a program to wire them and outperform a general framework both in memory consumption an

[2019-09-11 02:10] jielyu commented on #32358
@mihaimaruseac  thank you

[2019-09-11 02:46] Xie-Fangyuan commented on #32408
i think i just found the solution.

[code]

i create new models and use the specific inputs layers and outputs layers. i can also change the name of my models.

[2019-09-11 02:46] #32408 closed

[2019-09-11 02:53] pavanky opened #32409 "keras.backend.learning_phase() broken when sample_weights are used"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes

- OS Plat

[2019-09-11 02:59] arita37 commented on #31692
When will you inlcude Rectified Adam
in TF ?

Thanks

[2019-09-11 03:50] praveenjune17 opened #32410 "Possible issue in tf.scatter_nd documentation."
Thank you for explaining about tf.scatter_nd using some wonderful visualizations. I have a doubt whether the cubes used for the higher dimensional explanation of tf.scatter_nd is right or not.
Please check the visualization of the Cube tagged as 'output' in [tf.scatter_nd](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/scatter_nd#) documentation, the second and fourth indices are shad

[2019-09-11 04:25] nonlin commented on #31939
I reinstalled python and was able to run the two commands for upgrading pip and then installing tensorflow.

[2019-09-11 05:11] sreyasm commented on #30272
Same issue here with TF1.14 on Windows 10.

[2019-09-11 05:45] ARUNSOORAJ commented on #21526
This may be helpful for someone using NearestNeighbourResize in their model and planning to run that on mobile-gpu. I converted the Upsampliing layer to use bilinear which is supported by GPU on mobile. By this change, the processing speed has improved a lot because some other layers which were below it on the graph also ran on GPU.

Now I have another problem which is the EXP operation which is t

[2019-09-11 06:04] gunan commented on #32358
Our GPU support runs through CUDA library, which is supported by NVIDIA themselves.
Until there is an AMD (ROCM)or community supported (for example OpenCL, SYCL) solution for macos, we cannot support this ourselves.

[2019-09-11 06:04] #32358 closed

[2019-09-11 06:06] daniel-falk commented on #32383
I have the same problem when trying  a simple AutoGraph example form the 2.0 documentation.

I have tested in both python 3.7.2 and 3.5.6 both with tensorflow==2.0.0rc0.

A working colab example is found here:
https://colab.research.google.com/drive/1uDkPGwGd3l7Gv3-CCmELVsStlE4n-ndL

I tried to run the exact same python code locally, giving same issue with
"Cause: Bad argument number for Name: 3,

[2019-09-11 06:09] oanush commented on #32388
@rahul21rajendran ,
Looks like there is some issue with installation of python and tensorflow, can you uninstall and try reinstalling the both?

[2019-09-11 06:22] gadagashwini commented on #32380
I am replicate the issue with TF 2.0.0.rc0. Please take a look at [gist here](https://colab.sandbox.google.com/gist/gadagashwini/514760082d2c9017a6a4cd51977e3a51/untitled138.ipynb). Thanks!

[2019-09-11 06:28] faizanahemad opened #32412 "[TF 2.0.0-rc0] Keras Model subclassing `dynamic=True` throws Error. Possible Regression bug of rc0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
    - Mac OSX 10.13.6, intel i7, MacBook Pro (Retina, 13-inch, Early 2015), Intel Iris Graphics 6100 1536 MB,
    - Google Colab (Both CPU and GPU)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issu

[2019-09-11 06:30] ravikyram commented on #32387
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the full code snippet to reproduce the issue in our environment. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/t

[2019-09-11 06:48] Liang-yc opened #32413 "How to split neural network into different GPU devices ?"
Hi, I am working on a Video Segmentation project. Due to the limit of GPU memory (GTX 1080TI),  OOM error has occurred. I do know this error can be avoided if I squeeze my model or just use other GPUs with higher memory. But, does Tensorflow support splitting one neural network into different GPU devices? i.e. , I have 2 GPUs(A and B) and the model definitation is shown as following:
[code]
I want

[2019-09-11 06:49] gadagashwini commented on #32383
@hussain7 and @daniel-falk, Thanks for reporting the issue.
I could replicate the issue on my local system while it is working as expected on Colab.

[2019-09-11 07:12] bulls-i commented on #10779
How to do it in Manjaro Linux? I have Python3.7 tensorflow.

[2019-09-11 07:18] drblind42 commented on #21518
tensorflow-gpu 1.12.0
My mistake

[2019-09-11 08:24] zhangwj0101 commented on #31787
no other exception info, we just get the information from tensorflow log "INFO:tensorflow:An error was raised. This may be due to a preemption in a connected worker or parameter server. The current session will be closed and a new session will be created. Error: Stream IDs exhausted"

[2019-09-11 08:27] zhangwj0101 commented on #31787
@ravikyram only get error info "The current session will be closed and a new session will be created. Error: Stream IDs exhausted"

[2019-09-11 08:54] gadagashwini commented on #32395
I could reproduce the issue on Colab with TF 1.14.0. Please see the [gist here](https://colab.sandbox.google.com/gist/gadagashwini/3e14ff83be3cfa578cc4762b30d30e6a/untitled137.ipynb). Thanks

[2019-09-11 09:04] gadagashwini commented on #32398
@ghannum, Make sure that your code fully compatible to TensorFlow 2.0 before  inference. Please refer the [Tensorflow website](https://www.tensorflow.org/beta/guide/migration_guide?hl=en) for further guidance.  Thanks!

[2019-09-11 09:04] claverru commented on #32383
Same is happening to me (on Colab but not on local):

WARNING:tensorflow:Entity <..> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: Bad argument number for Name: 3, expecting 4
WARNING: Entity <...> could not be transformed and

[2019-09-11 09:05] ohadlights opened #32415 "TensorFlow Lite for micro controllers support BatchNorm?"
I'm looking on this file that should list supported operations for micro controllers:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/micro/kernels/all_ops_resolver.cc

I don't see an explicit support in batch norm layer.

Does TF Lite for micro controllers support batch normalization?
generally, does it support basic architectures like resnet and mobilenet v2?

[2019-09-11 09:05] oanush commented on #32394
@dekromp ,
When i tried installing tensorflow from `conda` and run the given code,I didn't face any error. Can you provide more info on the issue? Also try running the code on latest tensorflow version.Thanks!

[2019-09-11 09:09] oanush commented on #32115
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-11 09:09] #32115 closed

[2019-09-11 09:10] csukuangfj opened #32416 "[lite/micro] missing delete() in GreedyMemoryPlanner"
https://github.com/tensorflow/tensorflow/blob/8c0df1fa0b0490d8b1e54d7b019e2b2242ad6718/tensorflow/lite/experimental/micro/memory_planner/greedy_memory_planner.h#L43

does not override `void operator delete(void *p)` which results in link time error.

[2019-09-11 09:13] gadagashwini commented on #32404
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-09-11 09:16] Mycaster commented on #31442
I prefer logging info  then setting breakpoints and debugging.
I have tried someway to debug python with cpp library, it's soo complicated

[2019-09-11 09:26] dekromp commented on #32394
How long did you run it? It takes some time until the increase in memory is clearly visible. On an AWS ec2 m4.xlarge instance it growths roughly 6MB/s. I don't think that my minimal example will cause an error on your machine just a constant increase in memory consumption which you can observe when you look at it for  ~10 minutes.

[2019-09-11 09:29] ravikyram commented on #31787
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here.It helps us to debug your issue faster. Thanks!

[2019-09-11 09:45] #31302 closed

[2019-09-11 10:08] Aktsvigun opened #32419 "Masking in BERT"
In the original paper of BERT it is said:

Let's consider a sentence "I am a Liverpool fan" which with 40% masking will be transformed into "I [MASK] a [MASK] fan". When predicting the first [MASK], will it be predicted by a phrase "I [MASK] a fan", excluding the second [MASK] or "I [MASK] a [MASK] fan", by a full sentence?

And what is the purpose of replacing 10% of masked tokens with themselves

[2019-09-11 10:36] roca77 commented on #32388
Hi guys,
I am having a similar issue on Mac while using a virtualenv. Any help would be greatly appreaciated:
[code]

[2019-09-11 10:42] grananqvist opened #32420 "TF2.0 - Multiple calls to Keras .fit and .evaluate makes RAM explode and is 25x slower"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-09-11 10:59] steffen-AEI commented on #30784
Confirmed on arm64. :'(

[2019-09-11 11:08] kristofgiber opened #32421 "Do I have to compile a TF.keras model that's part of a compiled model in order for its added losses to be taken into account during training?"
I have already tried to get an answer [here](https://stackoverflow.com/questions/57851525) to this question because I cannot figure it out based on the documentation:

I have a VAE tf.keras model and it consists of an encoder and decoder model. I want to regularize the encoder and the decoder with different custom terms (using add_loss()) while training VAE (using VAE.fit()).

In pseudocode:

[cod

[2019-09-11 11:24] pandrey-fr commented on #32419
Hi,

I will try to answer your questions. Keep in mind, however that a) my knowledge of BERT only comes from the same paper you read (plus the associated source code and my personal experience re-implementing it for TF 2.0) and b) other design choices could be achieved through an alternative implementation.

That being said:

Since the training is conducted on a single forward-pass, the prediction

[2019-09-11 11:37] Aktsvigun commented on #32419
@pandrey-fr geniously! Thanks a lot, the whole picture has become apparent to me :)

[2019-09-11 11:37] #32419 closed

[2019-09-11 11:45] DocDriven commented on #31368
Are there any updates on this topic? I have come across this problem multiple times now, even with networks that are shipped with keras (e.g. VGG16). The test code for this is below.

[code]
I used the [Tiny ImageNet dataset](https://tiny-imagenet.herokuapp.com/) for the post training quantization. Also, my test picture is the one from the Coral demo, which I have attached. It should output magpie

[2019-09-11 11:49] pandrey-fr commented on #31991
Hi, I tested in 2.0-rc0 (with Eager disabled) instead of 1.14 but intuitively the results should be similar.

In TF2, an issue would come from using `input_mat.shape[0]`, which will return None, when you probably should use `tf.shape(input_map)[0]`, which will return a dynamic scalar tensor pointing to inputs' actual batch size. But this might not be the case in 1.14, and at any rate, to answer yo

[2019-09-11 12:24] ravikyram commented on #32369
I have tried on colab with TF version 1.12,1.14, nightly versions using` tf.keras.layers.LSTM(512, trainable=False)`and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/5575b47ccc0fc4a67ec99dbe4d48a4ca/untitled172.ipynb).Thanks!

[2019-09-11 12:30] nj666 commented on #24828
Tensorflow2.0.0 use which cudnn？

[2019-09-11 12:37] csukuangfj opened #32422 "[lite/micro] quantized dense layer is not supported."
The following error is thrown while running a quantized tf lite model converted from a tensorflow model using tf lite **micro**.

[code]

# Environment information
- The master branch is used to compile lite/micro.
- OS: Ubuntu 16.04
- Gcc version: 5.4.0

# tensorflow version
1.13.1

The script to convert the tensorflow model to a tflite model is as follows:

[code]

Output of the above script is:

[2019-09-11 12:48] BlackDeal opened #32424 "No rule to make target '/home/ai002/tensorflow_Cpp/add0/tensorflow_cpp2/tensorflow-1.11.0/tensorflow/contrib/makefile/gen/proto/tensorflow/core/util/test_log.pb.cc', needed by '/home/ai002/tensorflow_Cpp/add0/tensorflow_cpp2/tensorflow-1.11.0/tensorflow/contrib/makefile/gen/obj/tensorflow/contrib/boosted_trees/proto/learner.pb.o'. Stop."
tensorflow 1.11.0
bazel 0.18.0
When i run sudo ./tensorflow/contrib/makefile/build_all_linux.sh...... help me ! thank you hardly!!!
No rule to make target '/home/ai002/tensorflow_Cpp/add0/tensorflow_cpp2/tensorflow-1.11.0/tensorflow/contrib/makefile/gen/proto/tensorflow/core/util/test_log.pb.cc', needed by '/home/ai002/tensorflow_Cpp/add0/tensorflow_cpp2/tensorflow-1.11.0/tensorflow/contrib/makefi

[2019-09-11 13:29] sakh251 commented on #32172
Thanks for your answer. Yes it is strange

For 1 I can not use tf.distribute.MirroredStrategy. I got 'module' object has no attribute 'distribute' error. I am using the 1.11.0 version.
For 2 Also I have same kind of error. But in this case, I am not sure if I am using it correctly. Cloud you please send me an example for this.
I tried to attached complete graph. however, it is too large. I hope th

[2019-09-11 13:37] 7PintsOfCherryGarcia commented on #32288
This errors seems to appear randomly. Which makes it very difficult to debug particularly on such an api that is not very informative.

I am getting the same error whenerver I modify the struct that holds all my graph information

[2019-09-11 13:45] Tombana commented on #29643
The custom-op repository references two docker images. The manylinux2010 image `tensorflow/tensorflow:custom-op-ubuntu16` has gcc 5.4 and indeed gives `nullptr` for custom op shape functions. The image `tensorflow/tensorflow:custom-op-ubuntu14` has gcc 4.8 and works fine with custom ops.

[2019-09-11 14:03] mr-ubik commented on #26864
I have the same bug as @depthwise. Definitely should be reopened.

[2019-09-11 14:05] nfgallimore commented on #32353
Yes so the tutorial shouldn't use deprecated code.

[2019-09-11 14:11] dibet opened #32425 "undefined reference to `tensorflow::str_util::EndsWith"
On Kubuntu 18.08
TensorFlow 1.13 installed from source.
Python 3.6
Bazel 19.2
GCC 7.4.0

In the past, i have a tested program in ubuntu 16.04 and it run fine. I make the migration to ubuntu 18.04, recompile tensorflow for c++ and obtain the libraries libtensorflow_cc.so and libtensorflow_framework.so.
When i tried to compile my program using "cmake .. && make"  see the following messages:

tensorf

[2019-09-11 14:29] Arph27 opened #32426 "Diagnose"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-11 14:41] 7PintsOfCherryGarcia commented on #32288
So I figured it out if anybody is interested. Turns out I'm as dumb as it gets.
When indicating the the index of my "target", I recycled the previous lines of code and just reset the index of "output" to 1 and left "target" index uninitialized:

In Belly_ModelOperations()
  model->output.oper = TF_GraphOperationByName(model->graph, "dense_1/Softmax");
  model->output.index = 0;
  if(model->output.

[2019-09-11 14:41] #32288 closed

[2019-09-11 14:46] sanjoy commented on #32187
Yanan (ycao@google.com) is a better person to handle this.

[2019-09-11 14:56] badrulaiman53 opened #32427 "Exception in tflite with missing operators that model uses"
**System information**
- OS Platform and Distribution : Ubuntu 18.04.2 LTS
- TensorFlow installed from binary
- TensorFlow version tf-1.0.0 (or github SHA if from source):

Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by sett

[2019-09-11 15:19] JustinKJChen opened #32428 "How to convert speech_recognition_frozen_graph.pb to FP32 or FP16?"
How to convert speech_recognition_frozen_graph.pb to FP32 or FP16?
Can you list convert command line for Intel openvino?

[2019-09-11 15:27] pandrey-fr commented on #32419
@Aktsvigun That is nice to read! You are welcome :)

[2019-09-11 15:35] makslevental opened #32429 "TensorBoard: gracefully handle deleted event files"
as far as i can tell this is exactly the same as this issue https://github.com/tensorflow/tensorflow/issues/3267

if i delete files from the logdir while tensorboard is running i get things like

[code]

i'm using `tb-nightly==1.15.0a20190911` through pytorch.

i'm not sure when reaping is supposed to happen e.g. as in https://github.com/tensorflow/tensorflow/issues/3267#issuecomment-292911229
or

[2019-09-11 15:53] mihaimaruseac commented on #32427
Note that TF 1.0.0 is extremely old and not supported

[2019-09-11 15:53] #32426 closed

[2019-09-11 15:53] mihaimaruseac commented on #32426
Closing as nothing has been filled in in the template

[2019-09-11 15:54] #32429 closed

[2019-09-11 15:56] mihaimaruseac commented on #32214
Any updates? Is this issue fixed?

[2019-09-11 15:59] ghannum commented on #32398
As a first step to check TF2 compatibility, I tried running with the new 1.15-rc0 release. The error remains as-is. I don't believe this is a 2.0-specific issue. Release 1.14 works ok, so the issue is somewhere between 1.14 and 1.15/2.0.

[2019-09-11 16:04] ghannum commented on #32398
I also tried to load/save my model using 1.14 to effectively move the problem forward. I get the same issue trying to load it in 1.15.

[2019-09-11 16:06] brandonbell11 commented on #22098
same issue. TF2.0, running multiple model.predict() in a loop balloons memory (GPU) and I get OOM errors.

[2019-09-11 16:18] iceman126 commented on #32394
Hi.

I have the same problem. I also installed TF2.0 with `pip` in a `conda virtual environment` on my computer. I tried to implement DQN with TF2.0. I found the memory would increase if I used `model.fit`, but it not with `model.train_on_batch`.

Here's my code:
[code]

[2019-09-11 16:36] dieinimymaganha commented on #32214
I am waiting for the infrastructure to change to 64 bits.

For now I will mark as solved the problem, and anything I mention again.

Thanks a lot for the help. Have a great day

[2019-09-11 16:36] #32214 closed

[2019-09-11 16:38] yzhuang commented on #32248
Briac and pavan (@bqm and @pavanky) on our team have found the commit that fixes the slow down through git bisection.
https://github.com/tensorflow/tensorflow/commit/e4a0ae3ed04d4d7f8c0381cb8a2d187f86411de8#diff-455a4c7f8e22d7c514e8c2caa27506c5 . Our current plan is to build TF 1.14 and cherrypick the above commit.

Here are a couple of ideas that we could consider to prevent future regressions.
1

[2019-09-11 16:46] mrgloom commented on #12132
[code]

[code]

[2019-09-11 17:10] jvishnuvardhan commented on #32373
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-09-11 17:10] #32373 closed

[2019-09-11 17:13] ymodak commented on #32415
For mobilenet v2 TF Lite support, this thread can be useful https://github.com/tensorflow/tensorflow/issues/28161

[2019-09-11 17:16] ymodak commented on #32002
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-11 17:16] #32002 closed

[2019-09-11 17:26] ymodak commented on #32366
Apparently this is an issue of visual Studio. Please take a look at this thread for workarounds
https://software.intel.com/en-us/forums/intel-visual-fortran-compiler-for-windows/topic/362147
Thanks!

[2019-09-11 17:28] grwlf commented on #31187
Vanilla code from r2.0 branch still doesn't work for me on Skylake.

But this workaround helps.

[2019-09-11 17:28] jvishnuvardhan commented on #32384
@ljstrnadiii Please post tensorboard related questions in [tensorboard repo here](https://github.com/tensorflow/tensorboard/issues). When you post there, please post the issue and a standalone code to reproduce the issue. Thanks!

[2019-09-11 17:28] goldiegadde commented on #32250
Closing issue, please feel free to reopen if you continue to see issues.

[2019-09-11 17:28] #32250 closed

[2019-09-11 17:34] ymodak commented on #32349
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-09-11 17:34] #32349 closed

[2019-09-11 17:36] pooyadavoodi commented on #31671
I think there is an environment variable you can check `echo TRT_VERSION`.

[2019-09-11 17:39] ymodak commented on #32355
This is a good example of using TF Distribution Strategy from ground up.
See https://www.tensorflow.org/tutorials/distribute/keras
Hope this helps. Thanks!

[2019-09-11 17:58] jvishnuvardhan commented on #26886
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-11 17:58] #26886 closed

[2019-09-11 17:59] jvishnuvardhan commented on #29865
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-09-11 17:59] #29865 closed

[2019-09-11 18:00] wchargin commented on #32319
Confirmed fixed for me on `tf-nightly-2.0-preview==2.0.0.dev20190911`. Thank you!

Feel free to close at your discretion.

[2019-09-11 18:03] tsimons89 commented on #32383
I am also experiencing this issue on my local machine.

[2019-09-11 18:03] sgambient commented on #31671
TRT_VERSION=5.1.5.0

[2019-09-11 18:10] jpadrao commented on #32355
hi ymodak, thanks for the response

I know how to apply strategies to model, and they work well. But what if you want to develop **your own** strategy? an alternative to MultiWorkerMirroredStrategy, for example.

Is there any good tutorial on how to develop an alternative to the existing strategies?
Is the API prepared to support **new** distribution strategies?

thanks

[2019-09-11 18:17] mihaimaruseac commented on #32319
In that case, closing.

Thank you for verifying.

@arainboldt the fix should get released in all pips we are releasing.

[2019-09-11 18:17] #32319 closed

[2019-09-11 18:24] rockyrhodes commented on #32345
The change to using the MicroMutableOpResolver was just checked into the code base.  You should now be able to duplicate the results I cited using about 48KB of text for a runtime for the micro_speech_test.

Dan and Pete, is the runtime sizing mentioned in the README file still valid?

[2019-09-11 18:26] ThomasOerkild opened #32434 "Int32 overflow in sparse_reshape on Windows"
**System information**
- OS Platform and Distribution: Windows 10 64-bit
- TensorFlow installed from: Source
- TensorFlow version: 1.14.0
- Python version: 3.6.7

**Describe the current behavior**
When a large sparse tensor is reshaped using `sparse_reshape` on Windows it fails, due to the fact that it uses `np.prod` to determine whether the number of elements in the old and new SparseTensor are t

[2019-09-11 18:29] rockyrhodes commented on #32415
The TFLite conversion tools support folding the batch norm ops into the the convolutions.  The resulting tflite models are supported on tflite for micros.  The micro_vision example in the code base utilizes a mobilenet-derived architecture, for example.

[2019-09-11 18:30] rockyrhodes commented on #32347
Dan, I believe this fix has now been checked in, right?

[2019-09-11 18:34] MarkDaoust commented on #29953
Hi @dagophil,

Our license is in [LICENSE](https://github.com/tensorflow/tensorflow/blob/master/LICENSE).

Beyond that, we can't provide any legal advice.  You may want to consult your own counsel if you have questions.

Good luck.

[2019-09-11 18:34] #29953 closed

[2019-09-11 18:38] qlzh727 commented on #32299
Thanks for reporting the issue, I can reproduce it even with 1.13, which means this bug has been there for long time. Let me check what's the root cause there.

[2019-09-11 18:42] liuyipei commented on #28018
I am also experiencing this on latest tf 1.14

[2019-09-11 18:55] truongsinh opened #32437 "Cannot cross-compile ARM64 on Mac host"
Following https://www.tensorflow.org/lite/guide/build_arm64 is not possible on Mac, `./tensorflow/lite/tools/make/build_aarch64_lib.sh` returns

[code]

[2019-09-11 19:19] youngalou commented on #32255
@captain-pool Exactly as you said. Moved the scope outside of the loop and am having no problems. Thanks so much for the quick response!

[2019-09-11 19:25] qlzh727 commented on #32299
Adding Francois since this probably impact the keras-team/keras as well. I think currently the initial_state is taking priority if specified, and I feel the state from previous batch should be respected if stateful=True.

[2019-09-11 19:27] alanchiao commented on #32427
As noted in the error message, DecodeJpeg (https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/decode-jpeg) has not been added to TFLite yet. Consider adding this as a [custom op](https://www.tensorflow.org/lite/guide/ops_custom) and perhaps then contributing it as a builtin operator.

[2019-09-11 19:27] youngalou commented on #32255
@captain-pool Thanks for the quick response! I tried moving the scope outside of the loop as you
 suggested but that doesn't seem to fix the problem.

[2019-09-11 19:31] youngalou commented on #32255
@rxsang It doesn't look like that method exists in this version of tensorflow (2.0.0b1).
`AttributeError: module 'tensorflow._api.v2.config' has no attribute 'experimental_connect_to_cluster'`

[2019-09-11 19:47] jdduke commented on #32427
We don't have any immediate plans to add this as a builtin-op. However, you should be able to convert your model *after* the decode operation, and use platform-specific functionality to load the jpeg into memory and pass as an input into the tensor.

[2019-09-11 19:47] #32427 closed

[2019-09-11 19:51] guptapriya commented on #32099
Yeah we should improve the error message. I checked that the error message is better for regular for loops / for loops over dataset without using distribution strategy. Only when using the for loop over distributed dataset do we run into the issue where the error message has the name of the loop variable wrong.

BTW, this is the workaround Alex suggested above in code in case it helps (the tf.redu

[2019-09-11 20:00] captain-pool commented on #32255
https://github.com/captain-pool/GSOC/blob/master/E1_TPU_Sample/image_retraining_tpu_strategy.py

This is a sample i wrote for GSoC. I guess this can serve as a reference.

On Thu, 12 Sep 2019, 1:10 am Louis Young, <notifications@github.com> wrote:

[2019-09-11 20:47] gowthamkpr commented on #31928
@sdll As it is clear that its not a bug, I will go ahead and close the issue and if you have any specific doubts please create a new issue. Thanks!

[2019-09-11 20:56] jvishnuvardhan commented on #32369
@bparr I could reproduce the issue with even `!pip install tensorflow==1.15.0rc0`. However, there is a workaround as follows
#tf.keras.backend.set_floatx('float64')  #workaround

If you enable the above line, then it will set default dtype as you wish and it doesn't throw any error. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/1f3b64224cb322e36323f7baf0263154/t

[2019-09-11 21:02] tsimons89 commented on #32383
My problem looks like it is originating from `tensorflow_core/python/autograph/pyct/templates.py` in the following function

[code]
Problematic line:
[code]
The `gast.Name()` call (I have no prior experience with `gast`) seems to be complaining because it expects `type_comment` argument. It is checking for 4 arguments (`'id', 'ctx', 'annotation', 'type_comment'`) but it is only getting three.

Thi

[2019-09-11 21:03] sdll commented on #31928
@gowthamkpr, could you please elaborate on what is clear in this instance? I have used tf 1.14 not tf 2.0. Are you sure the sole problem is in not updating the ops? Do the same reasons explain the fact that tf.keras.estimator.model_to_estimator has not worked as expected as well?

[2019-09-11 21:28] aaroey opened #32446 "Bug in NonMaxSuppressionV3 GPU op added by PR #30893"
It broke a test with some large network at head. I'll provide a repro later.

[2019-09-11 21:51] jvishnuvardhan commented on #32311
I can reproduce the issue even with `tensorflow==1.15.0rc0`. However, If you change `axis` from `tuple` to `list`, then there is no error. The error is also clearly points the source of error `TypeError: 'tuple' object does not support item assignment`.

Please check the [gist with 1.15.0rc0`](https://colab.sandbox.google.com/gist/jvishnuvardhan/73c0016dfeb542508516cbc9618dc69f/tf32311.ipynb). Tha

[2019-09-11 22:07] samikama commented on #32446
@aaroey Can you add a bit more specifics so that it helps to the investigation from our side as well. Does it lead to a crash, less boxes, more boxes or different set of boxes than expected?

[2019-09-11 22:36] ymodak commented on #28976
@hsm207 Cannot load the shared gist. Can you please test it against tf 2.0 nightly version and check if the issue still persists. Thanks!

[2019-09-11 22:36] Dd-ouni opened #32447 "How to use Install TensorFlow for C"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): win10
- Mobile device (e.g. iP

[2019-09-11 22:41] jvishnuvardhan commented on #30384
@nguerinjr I can reproduce the issue with `!pip install tf-nightly-2.0-preview`. Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/56079fe0a7ddb24d432d1c8bed89a6e3/tf_30384_tf.ipynb). However, this is not an issue if you use *.h5 format. Please take a look at this [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/bcb082252f19bbb6b71899e1cb35a44c/t

[2019-09-11 22:53] ymodak commented on #26868
Closing this issue since it's resolved. Feel free to reopen if required. Thanks!

[2019-09-11 22:53] #26868 closed

[2019-09-11 22:56] ymodak commented on #26918
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-11 22:56] #26918 closed

[2019-09-11 22:56] gowthamkpr commented on #32119
@tiandeyu-github Are you still facing with the same issue or did you solve it?

[2019-09-11 23:00] jvishnuvardhan commented on #27545
@eecshope I could reproduce the issue with `!pip install tf-nightly-2.0-preview`. Here is a [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/1d4a46f570cf5c2447d45ac48661b1e0/untitled466.ipynb) with !pip install `tf-nightly-2.0-preview`. Thanks!

[2019-09-11 23:06] lminer commented on #32142
I tested this and it seems like it works in the beta version.

[2019-09-11 23:09] ymodak commented on #31689
Sorry for the delay in reverting. It's very challenging to debug lengthy scripts such as these. At this point this looks more a support question. Please try posting this issue on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow)

[2019-09-11 23:09] #31689 closed

[2019-09-11 23:12] ymodak commented on #30636
@edwardyehuang Can you please test it against latest tf 2.0 nightly build. Thanks!
[code]

[2019-09-11 23:18] dovahcrow opened #32448 "AutoGraph could not transform pfor when using GradientTape.jacobian"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 16.04.6 LTS**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): **source**
- TensorFlow version (use

[2019-09-11 23:23] brandonbell11 commented on #30324
Why is this not fixed in all the github threads I’ve come across? Seems pretty useless to be unable to call model.predict() in a loop.

Looks like I may have to switch to pytorch

[2019-09-11 23:26] snajnin commented on #30746
Anu update/solution on this issue?

[2019-09-11 23:45] gowthamkpr commented on #32050
@jiawei6636 As mentioned Can you please provide a minimum reproducible code as mentioned.

[2019-09-11 23:47] gowthamkpr commented on #31839
Closing this issue as it has been inactive for more than 20 days. Please add additional comments and we can open the issue again

[2019-09-11 23:47] #31839 closed

[2019-09-11 23:56] Nucs opened #32449 "C API: Unexpected behaviour when multithreading calls of c_api's TF_SessionRun"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): [Official download URL from TF's website. ](https://www.tensorflow.org/install/lang_c),Which is then downloaded via nuget package.
- TensorFlow version (use

[2019-09-12 00:15] youngalou commented on #32255
@captain-pool In the code sample you provided you don't delete or rewrite the iterator so the same problem isn't present.

[2019-09-12 00:15] mshlis commented on #32448
getting same issue, any resolve? (though mine does run, and it runs way quicker than w/o tf.function but still annoying to see this each time)

[2019-09-12 00:25] joyjeni opened #32450 "node softmax_cross_entropy_with_logits"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab

- TensorFlow version:1.14.0
- Python version:3.6.8

**Describe the problem**

** I have created custom model for cifar 10 dataset. I m unable to use tf.nn.softmax_cross_entropy_with_logits_v2 gets   Invalid argument: logits and labels must be broadcastable: logits_size=[128,10] labels_size=[1,128]

The

[2019-09-12 00:35] sakshigoynar17 commented on #32366
Thanks for the link. Yes, surely, it is an issue with Visual Studio.

[2019-09-12 00:35] #32366 closed

[2019-09-12 00:47] ksachdeva commented on #30056
Is there a chance to resolve this in final release of 1.15 ?

[2019-09-12 00:50] dipali-ruchier opened #32452 "Unimplemented: this graph contains an operator of type Abs for which the quantized form is not yet implemented"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No. Got Insightface trained model directly from https://drive.google.com/open?id=1Iw2Ckz_BnHZUi78USlaFreZXylJj7hnP
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happen

[2019-09-12 01:11] pavithrasv commented on #31930
Thank you for the issue, i will look into this. I believe that some change was made when `from_logits=False` and last layer is `sigmoid` to use the `logits` from the previous layer. I am suspecting there is some issue there.

[2019-09-12 01:33] dovahcrow commented on #32448
@mshlis I think I found the bug. The current Tensorflow implementation assumes `gast==0.2.2` but doesn't lock in the version. The newest `gast` is 0.3.0 which introduced some breaking changes. In order to fix this just run `pip install -U gast==0.2.2`.

[2019-09-12 01:44] dbuades commented on #24496
Is this on the radar for the final version of TF 2.0 ?
I am finding the same problem with tf-2.0-rc1. It is fixable with the trick proposed by @oscarlinux or by compiling it from source, but these are not optimal solutions. In my opinion this should work natively as it does in Pytorch.
Thanks!

[2019-09-12 01:48] pavithrasv commented on #31930
I could not repro this on the latest nightly, are you still seeing this?

[2019-09-12 01:48] ucasiggcas commented on #32373
NO
Can't open the link

[2019-09-12 01:51] ucasiggcas commented on #32327
torch is not easy,either
NO easy except Keras

[2019-09-12 02:04] fsx950223 opened #32453 "Add tfrecord support to saved_model_cli"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-09-12 02:08] csukuangfj commented on #32345
@rockyrhodes

I'll try it right now.

[2019-09-12 02:15] goldiegadde commented on #32448
yes, gast version was updated on 9/7/19 and does introduce breaking changes. set to 0.2.2, but the next rc and final release will have this.  The r2.0 branch has been updated with the gast version set to 0.2.2. if you want to build again.

[2019-09-12 02:23] honeytidy commented on #31964
pip install opt-einsum==2.3.2 works for me too. Thanks @xmfbit.

[2019-09-12 02:33] sjtusmartboy commented on #32170
@jvishnuvardhan @gadagashwini Any update? Thanks

[2019-09-12 02:49] csukuangfj commented on #32347
Yes, it has been fixed.

[2019-09-12 03:00] dbuades commented on #24496
As explained [here](https://www.tensorflow.org/beta/guide/using_gpu), the new approach in TF 2.0 for setting `config.gpu_options.allow_growth = True` is:

[code]

With this code snippet and TF 2.0 RC1, the error no longer appears.
However, due to the number of people that have a 20XX Nvidia GPU, I think that it would be a good idea to address this problem natively before the final version of TF 2.

[2019-09-12 03:31] #32200 closed

[2019-09-12 03:32] #32091 closed

[2019-09-12 03:46] makercob opened #32454 "Calling tf.function from tf.py_function in dataset.map hangs."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS or Windows.
- TensorFlow installed from (source or binary): binary.
- TensorFlow version (use command below):2.0.0b1/rc0/rc1
- Python version: 3.6.
- CUDA/cuDNN version: 10.0
- GPU model and memory: Tesla K80

[2019-09-12 03:56] sanjoy commented on #32271
Where can I get the "elephant_small.jpg" and "tabby_tiger_cat.jpg" files?

[2019-09-12 04:00] gadagashwini commented on #32398
@ghannum, Will it be possible to provide the code to reproduce the issue. Thanks!

[2019-09-12 05:13] bersbersbers commented on #32117
This problem is not fixed in 2.0.0rc1. This may be expected, but I wanted to point it out.

[2019-09-12 05:22] praveenjune17 commented on #32410
Instead of changing the cube, it would be better if we change indices
From
indices = tf.constant([[0], [2]])
To
indices = tf.constant([[1], [3]])

[2019-09-12 05:38] guptapriya commented on #30056
This issue is still there, and will not be fixed in 1.15 since that has already been cut. One person had started working on it, but the fix got delayed due to some other issues.
You can try 2 workarounds:
- if the tensors you're trying to subtract are not too big, you can try to convert them to dense and just subtract regularly using assign_sub etc. This may have some performance implications
- Yo

[2019-09-12 05:48] KauthamMurugan commented on #31838
I use the tool called "Netron" GUI interface. This tool allows you to view the layers, their names, the input and output shapes and datatypes all in a graphical flow chart. https://github.com/lutzroeder/netron

[2019-09-12 05:50] oanush commented on #32448
@dovahcrow ,
Just let us know can the issue be closed as the solution is found? Thanks!

[2019-09-12 05:54] jingxu10 commented on #31098
Hi, since we have already upgraded TF. Could you please check the latest Intel distribution? Thank you.

[2019-09-12 05:54] bersbersbers commented on #32142
@lminer may I ask which of the two codes above you tested, and in which "beta" version? Is that rc0, rc1, or nightly?

[2019-09-12 06:01] #32448 closed

[2019-09-12 06:18] oanush commented on #32424
@BlackDeal ,
Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-09-12 06:19] ravikyram commented on #32412
I have tried on colab with TF version 2.0.0-rc0 and was able to reproduce the issue.However i am not seeing any issue with TF 2.0.0-beta1 .Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c1083c26816bb17ae69785f8d5a111cc/untitled174.ipynb). Thanks!

[2019-09-12 06:23] gadagashwini commented on #32413
@Liang-yc, Did you ever try the distributed training with Keras. Please refer the [Tensorflow doc](https://www.tensorflow.org/beta/tutorials/distribute/keras). Thanks!

[2019-09-12 06:26] gadagashwini commented on #32425
@dibet, The TensorFlow team does not officially support cmake, sorry. Please try out with Bazel.

[2019-09-12 06:31] shisigang commented on #24828
i also found this issues, and it worked when i changed the version from tensorflow-gpu==2.0.0-rc0 to tensorflow-gpu==2.0.0-beta1 in kaggle kernel

[2019-09-12 06:33] sahanruwanga commented on #17022
Hi, I am still facing the problem of installing tensorflow in python 3.7. Can anyone help me to solve or any clarification?

[2019-09-12 06:34] Mycaster commented on #31206
I tried to modify the python source code to print all tensorName and find your outputNodeName is not "MatMul", it is named  "212/212/MatMul"。

[code]

output result is :
[code]
then it's work when replace output array with newname

[code]

[2019-09-12 06:35] ankurash commented on #24828
I believe any build starting from 7.6 should work fine.

[2019-09-12 06:48] captain-pool commented on #32255
Hey @younglou, why do you need to delete the iterator? In TPUs this problem is still persistent. You can't just iterate to the end of the dataset and wait for `StopIteration`. You have to provide the total number of steps to iterate for.
So your code should be like.
[code]

[2019-09-12 06:49] David-Mao opened #32457 "[TF 2.0] Feature request: let autograph accept collection inputs"
**System information**
- TensorFlow version (you are using): 2.0.0-dev20190901
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Currently it seems to me that there is no way to convert a function to graph if the input of the function is a variant length list of elements (except the simplest case when the elements themselves are all tensors

[2019-09-12 07:07] hussain7 commented on #32383
right, switching to gast 0.2 version seems work for me as well.

On Wed, Sep 11, 2019 at 11:34 PM tsimons89 <notifications@github.com> wrote:

[2019-09-12 07:24] sharonevarghese commented on #32310
Intel(R) Core(TM) i3 CPU M380 @2.53GHz, 2533Mhz, 2 Core(s), 4 Logic - is my processor details. i'm not sure whether this supports AVX instruction set. Could you provide with the details on how to check whether the processor supports the AVX instruction set or not.

[2019-09-12 07:28] wangyunxiaa opened #32458 "how to open tensorcore in TFS1.13"
I have a language model, which has some layers as "embedding+lstm+2dnn", and I want to test the fp16 performance on TFS.

By the way,I have tested that it can speed up 2times In pytorch on 2080Ti.

But when I do test on 2080Ti in TFS1.13GPU(cuda version=10.0),  fp16 is slower than float32 when batch is small, the test result as followings:

batch | 1080Ti(tfsv1.5) | 2080Ti(tfsv1.5) | 2080Ti(tfsv1.

[2019-09-12 07:41] karolbadowski commented on #30728
Even shorter code to reproduce the issue:
`from tensorflow import device`
`    with device('/gpu:0' if use_GPU else '/cpu:0'): [any Keras code that compiles a model]`

[2019-09-12 07:46] sharonevarghese commented on #32310
details of my processor, kindly advise whether the processor supports AVX instruction set, if no is there any way to run TensorFlow of my CPU
CPU-Z TXT Report
-------------------------------------------------------------------------

Binaries
-------------------------------------------------------------------------

CPU-Z version			1.90.0.x64

Processors
-------------------------------------------

[2019-09-12 07:49] Mageswaran1989 commented on #32052
As per the stackoverflow answer, I tried the dataset to repeat once (as well as removing dataset repeat) and used calculated `max_steps`  in the train spec.

Expectations/My assumption:
- When train dataset reaches its end, the training paused and evaluation kicks in.
- After evaluation is done, the training starts again

Observed:
- Only once the evaluation is done irrespective of dataset setting

[2019-09-12 07:50] Haffon commented on #22840
@smalltalkman the stackoverflow link page not found. should we run PKGBUILD in msys2 shell?

[2019-09-12 07:56] youngalou commented on #32255
@captain-pool I need to create new iterators because I'm using this for a reinforcement learning training loop. Specifically I'm training a DQN and the dataset is an experience buffer that changes over time. In the code snippet I created originally, there is a `train_steps` variable that provides the total number of iterations.

[2019-09-12 08:28] SumNeuron opened #32459 "TFRecordWriter doesn't work from TFRecordsDataset"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): barely
- OS Pl

[2019-09-12 09:12] jl-wynen opened #32460 "Executor error message in GradientTape.jacobian"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux-4.14.141-1-MANJARO-x86_64-with-arch-Manjaro-Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: /
- TensorFlow installed from (source or binary): binary
- Tenso

[2019-09-12 09:22] Randryn0 opened #32461 "TensorShapeBase parameter list in .so differs from header, undefined reference"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Mint 18.3 Xfce 64-bit, 4.15.0-45-generic #48~16.04.1-Ubuntu
- TensorFlow installed from: source
- TensorFlow version: r1.10 and r1.12
- Python version: Python 2.7.12
- Bazel version: 0.19.2
- GCC/Compiler version: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
- GPU model and memory: Integrated Inte

[2019-09-12 10:20] XuVision opened #32462 ".h5 file to pb"
is there any API to convert tf.keras.models.save() .h5  file to pb?

[2019-09-12 13:07] MohamedNourArm opened #32464 "[tflite] Support INT8 quantisation for SPLIT with TFLITE_BUILTINS_INT8 OpsSet"
**System information**
- TensorFlow version (you are using): 1.14 and built from sources, master branch
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

The new TFLiteConverter post-training quantisation flow, as described in https://www.tensorflow.org/lite/performance/post_training_quantization#full_integer_quantization_of_weights_and_act

[2019-09-12 13:27] tree1891 opened #32465 "[tflite] Build issue: failed by \execroot\org_tensorflow\bin\false in Windows"
**System information**
- Windows 10 x64:
- TensorFlow installed from source:
- TensorFlow version: master
- Python version: 3.7
- Bazel version: 0.29.1

**Describe the problem**
[code]

**Provide the exact sequence of commands / steps that you executed before running into the problem**

`bazel build -c opt --cxxopt=--std=c++11 --crosstool_top=//external:android/crosstool --host_crosstool_top=@baze

[2019-09-12 14:53] dustedduke opened #32468 "TF Micro requires CONV_2D version '2' when applying quantization"
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow version: 1.14, 2.0-rc0, nightly-preview 2.0.0.dev20190911
- Python version: 3.7.4

I am trying to run a simple Keras model with TensorFlow version for microcontrollers (modified micro_vision example with several convolutions, dense layers and batch normalization). While the model works correctly when using

[2019-09-12 16:36] AakashKumarNain opened #32470 "Custom Optimizer keeps throwing `no attribute _create_slots` error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.0rc1
- P

[2019-09-12 19:36] porgull opened #32476 "Unexpected output shape on custom keras dynamic layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Mojave 10.14.6
- TensorFlow installed from (source or binary): pip install tensorflow==2.0.0rc0
- TensorFlow version (use command below): 2.0.0-rc0
- Python version: 3.7.4

**Describe the current behavior**

Up

[2019-09-12 20:03] mshlis opened #32477 "BatchNormalization doesn't work in graph mode in tf2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow:
- OS: MacOS
- TensorFlow version (use command below): '2.0.0-rc0'
- Python version: 3.7

tf.keras.layers.BatchNormalization layer does not work in graph mode

code to reproduce:
[code]

Error stack:
[code]

If you remove the `@tf.function` decorator or if you pass `dynamic=True`

[2019-09-12 21:04] maclopes opened #32478 "optimizer.apply_gradients does not accept tape.gradient information"
**System information**
Running inside colab

**Describe the current behavior**

I was expecting to be able to apply the same list of variables in apply_gradient as in t.gradient. But I get an error.

from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf
tf.enable_eager_execution()
optimizer = tf.train.GradientDescentOptimizer(0.001)
x = tf.Varia

[2019-09-12 21:17] matsen opened #32479 "[TF 2.0] AutoGraph: Jacobian docs example could not be transformed"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian stretch in Crostini ❤️
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): `pip install --upgrade tf-nightly-2.0-previ

[2019-09-12 21:32] sanjoy opened #32480 "ODR violations between cuDNN and TensorRT"
_This reports an issue with an NVIDIA library and **not** a bug in TensorFlow. This issue serves as a public description and permalink._

There are [One Definition Rule (ODR)](https://en.wikipedia.org/wiki/One_Definition_Rule) violations between TensorRT and cuDNN that can cause binaries that link in both these libraries to crash or misbehave.  We observed this with the combination of TensorRT 5.1

[2019-09-12 23:57] Monism1 opened #32484 "tflite model inaccurate on python and not loading on android"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes I'm using a custom model (I can send you the original model and the converted tflite model)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): bin

[2019-09-13 06:50] cadama opened #32487 "[TF -2] Multi gpu training error"
I am trying to train a keras model on two k80.
**
- Have I written custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): SMP Debian 4.9.144-3.1
- TensorFlow version (use command below): 2.0.0-rc0
- Python version: 3.6.9
- CUDA/cuDNN version: 10.1
- GPU model and memory: Tesla K80

Here is the the keras model that I am trying to fit:
[code]
but I am getting the following error:

[c

[2019-09-13 07:10] gadagashwini commented on #28846
I tried on Colab as well on local system with Tensorflow 2.0.0.rc0. It is working as expected, can you please try with latest TF version and check.

PTAL colab [gist here](https://colab.sandbox.google.com/gist/gadagashwini/fadf44ecddae701e7f051fe01c049c04/untitled146.ipynb) and Jupyter notebook gist here
[#28846.ipynb.tar.gz](https://github.com/tensorflow/tensorflow/files/3608766/28846.ipynb.tar.g

[2019-09-13 07:13] ymodak commented on #32291
Yes you can train on cloud tpu with tf.keras https://www.tensorflow.org/guide/using_tpu
For more context see https://github.com/tensorflow/tensorflow/issues/27339#issuecomment-482716960

[2019-09-13 07:26] ymodak commented on #32276
I tried to execute your code with TF 2.0 rc1 and was not able to reproduce it.
Following is the stack trace;
[code]
Can you please confirm? Thanks!

[2019-09-13 07:27] datitran opened #32488 "Issue: Structure of Python function inputs does not match input_signature while trying to save a subclassed model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v1.14.0-0-g87989f6959 1.14.0 / tensorflow-gpu==2.0.0-rc0
- Python version: 3.6.8
- GPU model and memory: G

[2019-09-13 07:36] RunOrVeith commented on #31973
Is this fixed for you in rc1? I still have a similar problem.
`from tensorflow import keras` works
`from tensorflow.keras import layers` does not work.

[2019-09-13 07:46] nsantavas commented on #32291
@ymodak Thanks for the response, but the link contains documentation only for tpu.estimator, not tf.keras.  Could you provide a mini example of tf.keras code that runs on TPU Pod using tf.1.14?

Thank you

[2019-09-13 07:47] DeviLeo commented on #32104
Sorry, I'm afraid I cannot use `` `fit` `` instead.
The dataset for training and validation is about 500 billion pairs of user-item and I have to use `` `fit_generator` `` to avoid OOM.

[2019-09-13 07:56] cyrus2018 opened #32489 "tensorflow does not detect 2nd GPU"
Hi,

I am trying to use 2 GPUs, tensorflow does not recognise the 2nd one. the 2nd GPU is working fine (in widows environment).

using tensorflow example: tf.keras.utils.multi_gpu_model, https://www.tensorflow.org/api_docs/python/tf/keras/utils/multi_gpu_model

I see the follwing error

ValueError: To call `multi_gpu_model` with `gpus=2`, we expect the following devices to be available: ['/cpu:0',

[2019-09-13 07:59] rishabhsahrawat commented on #32359
Hello @jvishnuvardhan @gadagashwini , any updates on this issue.?
Or is there any other way which I can try for reloading the saved model on Colab TPU?. I just want to train the model for near around 30 epochs but bc of the time limitation on Colab, I can only train until 13-14 Epochs. Please help, I am stuck.
Thank you again.
-Rishabh Sahrawat

[2019-09-13 08:06] NiclasLaurenzChrist commented on #31973
@RunOrVeith as mentioned the problem remains in rc1 (and will probably until the release of 2.0)

[2019-09-13 08:09] RunOrVeith commented on #31973
Ok I thought that might have changed because the release notes state
`Fixes autocomplete for most TensorFlow API references by switching to use relative imports in API __init__.py files.`

[2019-09-13 08:23] kavigupta commented on #27487
any updates?

[2019-09-13 08:38] oanush commented on #32460
Was able to replicate the issue when tried in terminal for `TF version-2.0rc0`
![32460](https://user-images.githubusercontent.com/52397990/64848842-be898000-d62f-11e9-9ba4-0a4863e98b55.png)

[2019-09-13 08:42] ravikyram commented on #32450
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-13 08:58] srihari-humbarwadi commented on #32359
As a workaround, you can you tf.train.saver to save and restore models. I have been using this for quite some time.
[code]

[2019-09-13 08:59] anujajakhade opened #32490 "//tensorflow/contrib/distributions/python/kernel_tests/independent_test.py test fails with Assertion error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 18.04 s390x
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command bel

[2019-09-13 09:13] ravikyram commented on #32459
Please, help us to provide standalone code snippet to reproduce the issue in our environment.Thanks!

[2019-09-13 09:17] oanush commented on #32136
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-13 09:17] #32136 closed

[2019-09-13 09:26] ravikyram commented on #32477
Looks like code is incomplete. Request you to provide simple standalone code snippet to reproduce the issue in our environment.Thanks!

[2019-09-13 09:30] oanush commented on #32487
Issue replicating with TF version-2.0rc0, please find the [gist](https://colab.research.google.com/gist/oanush/fa05103b0c9f82e26949f3ede67ffaf5/32487.ipynb) of the colab.Thanks!

[2019-09-13 09:34] oanush commented on #32489
@cyrus2018 ,
Can you please mention the TF version being used and also provide a simple standalone code to replicate the issue.Thanks!

[2019-09-13 09:36] joyjeni commented on #32450
I have given shared permission you can check now

[2019-09-13 09:39] stefan-falk opened #32491 "Getting SIGSEGV when passing Tensor to sample_from_datasets during checkpoint save"
**System information**
- Have I written custom code:
yes
- OS Platform and Distribution:
Linux Ubuntu 16.04
- TensorFlow installed from:
`pip`
- TensorFlow version (use command below):
Exact Tensorflow version: v1.12.0-0-ga6d8ffae09 1.12.0
*Update:* Same in v1.12.3-0-g41e0a4f56c 1.12.3
[code]
- Python version: 3.5
- CUDA/cuDNN version: 9.0
- GPU model and memory: GeForce GTX 1080

**Describe the c

[2019-09-13 10:06] PgLoLo commented on #31983
The problem is still presented in tensorflow2.0.0-rc1.

[2019-09-13 10:08] shlapfish opened #32492 "SIGSEGV"
[code]

**System information**
- Ubuntu 18.04
- TensorFlow installed from binary
- TensorFlow version: 2.0.0-dev20190913
- Python version: 3.7
- No GPU

git version: v1.12.1-11024-ge8506e0
tensorflow-probability version: 0.9.0-dev20190913

**Describe the current behavior**
`Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)`

Sometimes it hangs for a bit, sometimes it doesn't

[2019-09-13 10:10] gadagashwini commented on #26703
@guillaumekln,
Looks like it is fixed in latest Tf 2.0 nightly version.
Please have a look at colab gist [here](https://colab.sandbox.google.com/gist/gadagashwini/08cfa8cffc1958a581de88b6927ed7ea/untitled148.ipynb). Thanks!

[2019-09-13 10:11] PgLoLo commented on #31983
@oanush  can you please reopen this issue?

[2019-09-13 10:13] anujajakhade commented on #32490
Hi,

As mentioned above the test fails due to difference in the values of `expected_log_prob` and `actual_log_prob_x` above standard tolerance.
The test case passes if we increase the value atol from 0. to 0.001 in the file `tensorflow/contrib/distributions/python/kernel_tests/independent_test.py`

[code]
When I compared the values of `expected_log_prob` and `actual_log_prob_x ` . I observed that

[2019-09-13 10:20] hsm207 commented on #28846
I tried running the code again after upgrading to `v2.0.0-rc0-101-gd2d2566eef 2.0.0-rc1` and now the error is gone. Thanks @gadagashwini

[2019-09-13 10:24] guillaumekln commented on #26703
I does not seem like it. The second `print` should display True.

[2019-09-13 10:29] cyrus2018 commented on #32489
TF GPU version is 1.13.1 , I had downgraded from  1.14 (due to seeing another error running the same code).

below is the exact code I use. Regradless of number of GPUs, you see the same error (I have actually 2 installed).

import tensorflow as tf
from keras.applications import Xception
from keras.utils import multi_gpu_model
import numpy as np

num_samples = 1000
height = 224
width = 224
num_cla

[2019-09-13 10:35] rishabhsahrawat commented on #32359
Hi @srihari-humbarwadi , since I am using Google TPU, how to get bucket name?

[2019-09-13 10:48] Pin80 opened #32493 "How to determine the shape of input and output nodes in graph? (C++)"
**System information**
- TensorFlow version (you are using): 1.14
- Operation system: Ubuntu 18.04
- Are you willing to contribute it (Yes/No): No

**Describe the current behavior**

At first, I tried to implement the following pipeline:

- 1a) I converted the model from keras (.hdf5) to tensorflow (.pb) and saved using the `tf.saved_model.simple_save` function in Python.
- 2a) I loaded the model

[2019-09-13 11:09] stakemura commented on #32237
Any news?
Converting `/tensorflow/lite/tools/make/build_ios_universal_lib.sh` to bazel is too difficult for me.

[2019-09-13 11:16] rahul21rajendran commented on #32388
Thank you for your support

On Wed, 11 Sep 2019, 11:48 am oanush, <notifications@github.com> wrote:

[2019-09-13 11:28] grananqvist commented on #32420
From what I see in the notebook, using profile to measure the RAM consumption does not work in jupyter

[2019-09-13 11:30] gadagashwini commented on #32476
I reproduced the issue on Colab with tf 2.0.0rc0. Find a Colab gist [here](https://colab.sandbox.google.com/gist/gadagashwini/56a82640d89c5c26555da2d6aa1f4a57/untitled149.ipynb). Thanks

[2019-09-13 11:34] oanush commented on #32388
@rahul21rajendran,
Can you please let us know if the issue was resolved so that we can proceed for closure.Thanks!

[2019-09-13 11:42] jacekblaz commented on #31930
@gowthamkpr I believe you are encountering the issue in TF 2.0b1- there is different output for the same architecture in your gist. This issue is not about error ValueError caused by numpy.

@pavithrasv I have tried to reproduce this error in current nightly as well as in 2.0.0-rc1 and in both it seems to be fixed- results are the same: 1000.0

[2.0.0-rc1](https://colab.research.google.com/gist/ja

[2019-09-13 11:49] matsen commented on #32479
Thanks for having a look @gadagashwini !

I am also using `tfp-nightly`. When I add that to the pip install line in the colab notebook it does indeed throw an error.

It does give the correct answer, but does it not come with a speed penalty or something?

[2019-09-13 11:53] robieta commented on #32394
We only control the pip package. If you're seeing an issue with conda but not pip I would suggest that you file an issue with conda.

[2019-09-13 11:53] #32394 closed

[2019-09-13 11:54] gadagashwini commented on #28846
Glad it is working.
Closing the issue. Please feel free to reopen if still issue persists. Thanks!

[2019-09-13 12:05] robieta commented on #30306
Closing as there isn't enough information to reproduce the issue. Feel free to re-open if you have a run-able colab.

[2019-09-13 12:05] #30306 closed

[2019-09-13 12:25] mdanatg commented on #32454
@alextp @jsimsa do you know of any technical limitations that might cause this deadlock?

@makercob As a side note, the minimal repro shouldn't need py_function or tf-function because Dataset.map works in the same way as tf.function. But I suspect your actual use case is a bit more complex. So the following code works:

[code]

[2019-09-13 12:32] mcanerim commented on #29590
Any news on dynamic shapes in TF Lite?

[2019-09-13 12:33] rishabhsahrawat commented on #32359
Hi @srihari-humbarwadi , where do I define the actual model structure? inside the scope or outside?

[2019-09-13 12:35] stefan-falk commented on #32491
Tt turns out the problem not with `tensorflow` directly.

The problem was because `const_task_weights` and `pretrain_task_weights` did not have the same shape. I did not validate the input and had a bug somewhere else.

Just be aware that you might get this kind of error if the shapes do not match.

I guess this cannot be checked or determined by `tensorflow` so that will be something the user has

[2019-09-13 12:35] #32491 closed

[2019-09-13 12:42] srihari-humbarwadi commented on #32359
Inside the scope

[2019-09-13 12:48] jvishnuvardhan commented on #32409
@pavanky Issue2 and 3 depends on Issue1 right? If issue1 is no longer persists, then Issue2 and 3 are no longer valid i guess. Please let us know what you think. You could close the issue and open a new issue when you can reproduce issue 2 and 3. Thanks!

[2019-09-13 12:50] rishabhsahrawat commented on #32359
okay, so this is how I am defining it. But on executing I am receving an error at the end of epoch in `calbacks` inside `.fit()`

[code]

[2019-09-13 13:02] grwlf opened #32495 "[r2.0.0-rc1] Converting to TFLite format: Invalid quantization params for op RESHAPE"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04.2 LTS**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): **Source**
- TensorFlow version (use comm

[2019-09-13 13:20] grwlf opened #32496 "[r2.0.0-rc1] Converting to TFLite format: <type == kTfLiteInt32/64 condition> was not true. ONE_HOT failed to prepare"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04.2 LTS**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): **Source**
- TensorFlow version (use comm

[2019-09-13 13:25] thMike opened #32497 "ModuleNotFoundError: No module named 'official.wide_deep'"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/estimators/linear

## Description of issue (what needs changing):
`https://github.com/tensorflow/models` has `wide_deep` in `official.r1.wide_deep` but the documentation says it's in `official.wide_deep`.

[2019-09-13 14:47] dibet commented on #32425
Hi, i just write to inform how i resolve my problem.
In the past (ubuntu 16.04 and gcc 5) i was compiling using  -std=c++17.
Now, on ubuntu 18.04 and gcc 7 i need to use  -std=c++14
I don't know the reason but i fix it in that way.
Thanks.

[2019-09-13 15:04] dekromp commented on #32394
Not really helpful, but thanks anyway.

[2019-09-13 15:45] LuisSaybe opened #32500 "Memory continues to grow after repeated calls to model.predict(tf.one_hot(states, dtype='float32', depth=3))"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-13 15:49] fly-butterfly commented on #23747
I've found a great example for iOS application with using semantic segmentation, you can try it
https://github.com/makeml-app/MakeML-Nails

[2019-09-13 15:51] mihaimaruseac commented on #32492
To determine if this is a bug of tf or tf_probability, can you change the script to

[code]

Then run it in a loop until the first SIGSEGV and see the value of `l` tensor printed in the last run. Then use the following script

[code]

Run it, if it still crashes, please post the code here. Otherwise, might need to open issue on tf-probability repo, but still please update here.

[2019-09-13 15:53] mihaimaruseac commented on #32490
`atol` is absolute tolerance. If you are ok with results differing by that much, it is ok.

I would try to see if the behavior is still happening on 1.15 release candidate, just to be sure.

[2019-09-13 15:55] drasmuss opened #32501 "Error when using stateful RNN with multiple inputs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0rc0

[2019-09-13 16:01] alexkartsev commented on #23747
@fly-butterfly thanks for the reply
I've already resolved my issue, but this app looks promising. did you get a pretty result from makeml app?

[2019-09-13 16:03] #32299 closed

[2019-09-13 16:06] csbrown opened #32502 "Plain English explanation of CLA?"
## URL(s) with the issue:

https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md#contributor-license-agreements

## Description of issue (what needs changing):

I have no idea what any of this legal mumbo-jumbo actually entails.  "Grant of Patent License", "Grant of Copyright License".  Do I own my contributions?  Does Google own my contributions?  What does all of this mess mean?

[2019-09-13 16:08] jvishnuvardhan commented on #31112
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-13 16:08] #31112 closed

[2019-09-13 16:17] alextp commented on #32454
Indeed this is a TF runtime deadlock somewhere. The fact that it doesn't seem to respond to interrupts makes me think it's in the runtime and not in the python layer. @mhong can you triage this to someone who works on the runtime? Deadlocks are fairly serious...

[2019-09-13 16:29] joaocc commented on #31119
Hi. Any updates on this? Thx

[2019-09-13 16:36] jvishnuvardhan commented on #32489
@cyrus2018 I don't think this is a bug in Tensorflow.
Can you try to run the following lines to see how many gpus are visible to TF.
[code]
Please check this [resource](https://www.quora.com/If-you-have-2-graphics-cards-and-1-computer-how-can-you-use-them-at-the-same-time).
TL/DR: this resource mentions that you need `SLI bridge` for cooperation between GPUs. Also, expects `your graphics cards are

[2019-09-13 16:41] jvishnuvardhan commented on #30423
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-09-13 16:41] #30423 closed

[2019-09-13 16:43] umangmehta12 commented on #26549
@ANSHUMAN87 can you point me to the specific location where this is fixed in 1.14? I am facing similar issue with 1.14

[2019-09-13 17:00] stephanwlee commented on #31647
I do not recall exact details at the moment but I believe there was a innate difficulties with subclassed Model.

@omalleyt12 I vaguely remember that subclassed Layer/Model cannot be guaranteed to be graph friendly and thus fallback to the eager mode. Is this correct?

Also, reassigning to Tom as he has more expertise on the domain.

[2019-09-13 17:00] stephanwlee commented on #31647
cc @davidsoergel

[2019-09-13 17:13] idenc opened #32505 "Keras ModelCheckpoint callback fails to create directory when saving as SavedModel"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-09-13 17:15] chuxi commented on #31973
very annoying.
I admire your work. But, the developing team should be more careful with such a big open project which would influence so many people's work.

It is not good for tensorflow. Now I am using pyTorch instead.

[2019-09-13 17:16] rryan commented on #6541
Removing the support label, as this describes a real issue with tensorflow that is not yet resolved.

[2019-09-13 17:29] gehring opened #32506 "UnboundLocalError: local variable `packed` referenced before assignment"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.14.0-rc1-22-gaf24dc91b5 1.14.0
- Python version: 3.7.3

**Describe the current behavior**
Some specific set of circumstances skip over assigning `packed` to a value.

https://github.com/tensorflow/tensorfl

[2019-09-13 17:30] seandaug commented on #32299
Thanks. I think this is very close, but now it seems that there is a weird corner case where using `reset_states` to set the state to zeros has no effect. See this:

[code]

[2019-09-13 17:34] rryan commented on #10749
@PCerles RFFT complex128 support has been merged now. Sorry for the long delay!
https://github.com/tensorflow/tensorflow/commit/4a3cbea5f3d1f79eb2ff6bb2c64875e951ca3ce2

[2019-09-13 18:15] jdduke commented on #25278
Which NDK version are you using?

[2019-09-13 18:22] martinwicke commented on #32502
Yes, you own your contributions. The preamble of the agreement addresses this.

No, Google only receives a license to your contribution, as detailed in Sections 2 and 3 of the agreement, which enables Google to incorporate the contribution into the project.

You are entirely welcome to make your contributions as free as possible. The Contributor License Agreement grants Google broad permission to

[2019-09-13 18:22] #32502 closed

[2019-09-13 18:31] ArtificialLifeforms commented on #31967
[https://www.youtube.com/watch?v=jXZMvgFoqX0](url)

[2019-09-13 18:38] nouiz commented on #29039
In [TF 1.15.0-rc0](https://github.com/tensorflow/tensorflow/releases/tag/v1.15.0-rc0) announce, it have this new feature:

•	EagerTensor now supports numpy buffer interface for tensors.

__cuda_array_interface__ is the equivalent GPU of that interface. Just to make sure people in this thread knew about that.

[2019-09-13 18:41] nfelt commented on #32130
So the new way to write arbitrary tensor summaries is using `tf.compat.v2.summary.write()`, which can accept a serialized summary metadata: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/summary/write

cc @omalleyt12 - the TensorBoard keras callback works with custom summary ops now, right?  So I believe that `write()` would also work within the callback.

[2019-09-13 18:42] srihari-humbarwadi commented on #32359
What's the error? works fine for me on 1.14.0

[2019-09-13 19:20] nfgallimore commented on #32353
I was just expecting some sort of response from that line of code for *Setup the Layers* if none is supposed to occur then I could see this being okay. But the deprecated message just leads to confusion, so I would suggest to update the tutorial to not use deprecated functions.

[2019-09-13 19:45] #30642 closed

[2019-09-13 19:51] thMike commented on #32497
Issue fixed.

[2019-09-13 19:51] #32497 closed

[2019-09-13 20:02] omalleyt12 commented on #32239
Looking into this issue, in the meantime compiling with "accuracy" and using "val_accuracy" in ModelCheckpoint should work

[2019-09-13 20:18] joren-adhese commented on #32492
No need to loop, code is deterministic.
I tried that. It doesn't crash.

[2019-09-13 20:38] mihaimaruseac commented on #32492
[code]

Out of 10 runs, the above segfaults 8 times and the other 2 times ends with

[code]

The error makes sense, `tf.eye(3)` is a 2D tensor whereas `l` is a 3D one. The segfault though, that's something we'll have to look at.

[2019-09-13 20:48] #32409 closed

[2019-09-13 20:57] k-w-w commented on #27345
The issue in the OP with the wrong use of export_savedmodel should be fixed in 1.14.

@tarrade That looks like a different bug, can you create a new issue with some code to reproduce the errors? Although from the code snippet, you should be creating a placeholder and not a variable. If you're using a variable, the initialization arguments are in a different order.

[2019-09-13 20:57] #27345 closed

[2019-09-13 20:57] joren-adhese commented on #32492
Heh, indeed, it crashes. I was apparently just extremely unlucky that I had a few non-crashing runs in a row :)

[2019-09-13 21:09] jvishnuvardhan commented on #21135
@Docker300 Can you post your issue in Tensorboard repo where the team actively responds and resolves issues faster. When you post there, Please provide a simple standalone code. Thanks!

I am closing issue here as the issue is more related to the tensorboard repo. Thanks!

[2019-09-13 21:09] #21135 closed

[2019-09-13 21:10] joren-adhese commented on #32492
One-linering the problem seems to make the crash much more consistent.
`tf.linalg.triangular_solve(2*(3*(3*[1])), tf.eye(3))`
SIGSEGVs 20/20 runs
The matrix is not even triagular.

[2019-09-13 21:19] #32278 closed

[2019-09-13 21:21] jvishnuvardhan commented on #32246
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

Please post the issue in [that repo](https://github.com/hcmlab/vadnet/issues) o

[2019-09-13 21:21] #32246 closed

[2019-09-13 21:33] rachellim commented on #32017
I'm having trouble reproducing this with the following setup:
tensorflow-gpu: 1.14.0
tensor2tensor: 1.14.0

$ t2t-trainer --problem=librispeech_clean_small --model=transformer --output_dir=/tmp/t2t_output --data_dir=/tmp/t2t_data/ --save_checkpoints_secs=1800 --schedule=train --hparams_set=transformer_librispeech

(It runs multiple steps without hanging)

Are you encountering this issue with non-g

[2019-09-13 21:44] k-w-w commented on #31644
Moving all of the sparse ops into the lambda solves this issue:

[code]

[2019-09-13 21:44] #31644 closed

[2019-09-13 21:52] krafczyk opened #32510 "Build doesn't respect LD_LIBRARY_PATH necessary for some rules."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
RHEL 6
- TensorFlow installed

[2019-09-13 21:55] mschonwe commented on #32017
Hmm, just setup a non-gpu container and it _is_ running w/o issue there.
Of course for production training we need to utilize the GPUs...

[2019-09-13 22:03] rachellim commented on #32017
Yup -- just trying to further narrow down the possible sources of this issue. Let me dig into this a little further. Thanks!

[2019-09-13 22:07] mschonwe commented on #32017
Thanks!

In case it is helpful, the host NVIDIA GPU driver I currently have loaded is: 430.34 (I see the current version is 430.50).

[2019-09-13 22:18] Victor-Almeida commented on #32017
Could you guys check if you can resume training from checkpoint? I am
getting the checkpoint not valid error with this same setup on normal
runtime.

Em sex, 13 de set de 2019 19:14, Michael Schonwetter <
notifications@github.com> escreveu:

[2019-09-13 22:25] ymodak commented on #32262
duplicate #32261

[2019-09-13 22:25] #32262 closed

[2019-09-13 22:29] mrshu commented on #31243
I ran into a very similar problem on Jetson's TensorFlow distribution on version 1.14.0 and Keras version 2.2.4-tf (CUDA version 10.0).

As there currently does not seem to be a way of installing `tf-nightly-gpu-2.0-preview`, what do you think would be the best way of remedying this issue?

Thanks!

[2019-09-13 22:34] ymodak commented on #32261
I think this is fixed with tf 2.0 nightly version '2.0.0-dev20190913'. Can you please confirm? Thanks!
[code]
Output:
[code]

[2019-09-13 22:41] ymodak commented on #32235
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2019-09-13 22:41] #32235 closed

[2019-09-13 22:43] ymodak commented on #32291
Here is a colab for tf.keras executing on tpu.
https://colab.sandbox.google.com/github/tensorflow/tpu/blob/master/tools/colab/fashion_mnist.ipynb

[2019-09-13 22:44] #32291 closed

[2019-09-13 22:47] csarami commented on #30427
I have numpy in ./venv/lib/python3.7/site-packages (1.17.2). In both Jupyter and VS Code, I get the idea. I really dislike the idea of ignoring the warning. Any fixes would be greatly appreciated.

[2019-09-13 22:49] mschonwe commented on #32017
@Victor-Almeida, just tested per your request, with the _non_-gpu version I was able to save a checkpoint, and resume from that checkpoint w/o error. (TF1.14.0, T2T1.14.0)

[2019-09-13 23:12] jxtps opened #32512 "Expand checkpoint + SavedModel file formats to include provenance (origin) meta data"
I wrote a really nice issue description. Then github made it all disappear when I clicked their shiny new "Similar issues - Try it!" feature. I'm too frustrated to retype it. The gist is really in the title: current provenance practice is basically in the filename of the model, which sucks.

We should add a field (that should get as auto-populated as possible) to the model outputs to keep track of

[2019-09-13 23:16] k-w-w commented on #32285
I believe that this is fixed with commit: https://github.com/tensorflow/tensorflow/commit/6a26d679113105820cf83a2447863a6a32488c47#diff-29e6348914dee326daf67d86aa5075db.

Ran the colab (thanks @ravikyram!) with tf-nightly-2.0-preview, and it worked.

[2019-09-13 23:16] #32285 closed

[2019-09-13 23:22] sharvil commented on #19903
Since this issue was closed without an actual resolution, here's a workaround that warm starts all trainable variables and batch norm variables but none of the other global variables:

[code]

You can use this just like any other Estimator training hook.

[2019-09-13 23:31] mjlbach commented on #31588
I agree that the memory growth issue under dist-strat was compounded due to the for loops using range, which makes sense given the creation of additional subgraphs. However, when using tf.range, it appears to impose additional constraints on the functions called within the loop which cause the uninitialized tensor errors. The issue originated because a lot of my model involves graph operations on

[2019-09-13 23:49] alanchiao commented on #32496
Hey! As you can see from the error, types other than int32/int64 are not currently supported yet for the one_hot op.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/one_hot.cc#L140

If it's a index type supported in TF, I suggest you take a look since we won't have immediate cycles to look into this.

[2019-09-14 00:08] k-w-w commented on #31282
I tried running the colab with `tensorflow==2.0.0-alpha0`, but the model was still unable to be loaded. `load_model`'s docstring states that it only supports:
[code]

Can you try passing the h5 File object to load_model instead?

[2019-09-14 01:17] Alekxos commented on #27880
@ulorentz Grazzi mille! Despite trying a lot of workarounds such as using EfficientNet or changing batchnormalization layer's `Fusing` parameter to `False`, I spent a couple weeks without getting a single model to compile on the EdgeTPU. I can confirm that only by using the unreleased TF nightly 1.15, that I was finally able to get models to consistently compile on the EdgeTPU device. Any models t

[2019-09-14 02:02] babytut commented on #32405
I build tensorflow 1.14, 2.0 on Intel CPU and Nvidia GPU does not have any problems.

[2019-09-14 02:20] cyrus2018 commented on #32489
Thanks for the info, please see below:
I checked the link you shared. I dont think to use TF, the GPUs should be the same exact model/brand. Is that the case? I have Gigabyte Z390M gaming motherboard, with two PCIs. the thing is, I can run my models right now on any of the GPUs below, with TF, no issues at all. both GPUs are pretty good..

but when it comes to using two GPUs the system does not id

[2019-09-14 02:38] ongoing0217 opened #32516 "keras.fit not working with conv2D layer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-14 03:16] eraserpencil opened #32517 "undeclared inclusion(s) in rule '//tensorflow/contrib/lite/kernels:eigen_support'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or

[2019-09-14 03:54] sgambient opened #32518 "DefaultLogger Internal error: could not find any implementation for node (Unnamed Layer* 1) [TopK], try increasing the workspace size with IBuilder::setMaxWorkspaceSize()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2019-09-14 04:03] AHEADer commented on #31231
@etsygankov hi I meet the same problem with 1.14 tf version, can u share ur solution with tf.data.Dataset.from_generator?

[2019-09-14 04:37] sgambient commented on #32271
Here is the generated bug report.  The "--dump_hlo_as_text"  was not liked, hence had to be removed.

[2019-09-14 04:39] makercob commented on #32454
@mdanatg Yes, my actual data input pipeline involves tf.py_function in dataset map function, and tf.function is called in aforementioned tf.py_function, in hope of some performance gain.

[2019-09-14 04:40] sgambient commented on #32271
[generated.tar.gz](https://github.com/tensorflow/tensorflow/files/3612348/generated.tar.gz)

[2019-09-14 04:45] yarik1988 commented on #31243
The solution that works is creating model from the function each time, and then simply loading the weights. So I have the function create_model() that creates and returns the model and instead of loading the model I run it and then load weights from the same model.h5 file

[2019-09-14 05:20] SumNeuron commented on #32459
@ravikyram not really needed as it I link to the tutorial and all I did was batch and iterator over the sequences....

that said, I found _my_ mistake.

replace `tf.data.Dataset.from_tesnors(batch)` with `tf.data.Dataset.from_tensor_slices(batch)` and it works.

[2019-09-14 05:20] #32459 closed

[2019-09-14 05:37] rahul21rajendran commented on #32388
my issue is solved

[2019-09-14 05:37] #32388 closed

[2019-09-14 06:22] SumNeuron opened #32519 "Failed to get convolution algorithm"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes / no
- OS

[2019-09-14 06:25] ANSHUMAN87 commented on #26549
@umangmehta12 : Are you able to reproduce the issue in 1.14, using the scripts provided by the author of this issue? There is big difference most of the time between similar and same issue. If not able to reproduce the issue with the script, then try to raise a new issue with your reproducible script and issue details. I can help you. You can TAG me if you are raising a new one.

[2019-09-14 06:59] ychen404 opened #32520 "Training stuck on Allocation exceeds 10% of system memory"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-14 07:56] Davari393 opened #32521 "can not tflite squeezedet graph by freeze_graph.py"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from (binary):
- TensorFlow version (1.15.0-dev20190707):

Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting targe

[2019-09-14 10:51] fly-butterfly commented on #23747
yes, I've used it and got the tflite model.
there are not a lot of custom settings, but you can create the model without code at all. btw you can markup images there

[2019-09-14 11:03] essalahsouad commented on #23747
@fly-butterfly
sorry for my question but I want to know if is it for free?

[2019-09-14 11:19] fly-butterfly commented on #23747
labeling images - yes
training - one month ago was subscription about 10$ for unlimited trainings on their GPUs, but I had promo code for 5$, can try to find it if you want

[2019-09-14 13:20] mmmmayi opened #32522 "Config value android_arm is not defined in any .rc file"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): conda
- TensorFlow version: Tensorflow 1.13.1
- Python version: 3.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.19.2

When I convert my TensorFlow model into TFLite model, as suggested from:https://gi

[2019-09-14 13:25] isaacgerg commented on #16455
See: https://pgaleone.eu/tensorflow/keras/2019/01/19/keras-not-yet-interface-to-tensorflow/

[2019-09-14 13:28] truongsinh opened #32523 "iOS `TensorFlowLiteC` using old C API"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): iOS 13
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone 6
- TensorFlow installed from (source or binary): binary (TensorFlowLiteC)
- TensorFlow version: 1.14.0

**Describe the problem**
https://github.com/tensorflow/tensorflow/blob/v1.15.0-rc0/tensorflow/lite/expe

[2019-09-14 13:28] isaacgerg commented on #16455
Why is this marked as closed? I think this should be fixed so that tf.keras.models.Model() captures the batchnorm variables so that when model.fit() is called, these parameters are updated.

[2019-09-14 14:15] Checkmate986212 opened #32524 "unicode decode error when import tensorflow.contrib.slim"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Linux Ubuntu

[2019-09-14 16:10] mschonwe commented on #32017
In case it helps, I ran with `TF_CPP_MIN_VLOG_LEVEL=2` enabled, and here is the very end of the log (where it hangs):
https://pastebin.com/xvxzyXkS

[2019-09-14 17:03] tphreera opened #32525 "invalid_creator_scope"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-09-14 17:04] #32525 closed

[2019-09-14 18:22] talhaanwarch commented on #24828
I have created virtual env with version 3.7 using anaconda navigator and then install keras-gpu and now its showing me
`cudnn                     7.6.0                cuda10.0_0`
when i was using virtual env at python 3.6, it show me blank

[2019-09-14 19:23] sharvil opened #32528 "EstimatorSpec documentation removed from 1.14, 1.15"
Looks like the documentation for tf.estimator.EstimatorSpec got lost along the way from 1.13 to 1.14. Can we please add it back in?

## URL(s) with the issue: https://www.tensorflow.org/versions/r1.14/api_docs/python/tf/estimator/EstimatorSpec
https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/estimator/EstimatorSpec

## Description of issue (what needs changing): Reinstate documentation

[2019-09-14 20:01] jostheim opened #32529 "Keras code freezes on GPU"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Ubuntu 18.04

- **Mobile

[2019-09-14 20:33] ymodak commented on #32341
The example failed with latest tf 2.0 nightly version with different stack trace as follows.
[code]

[2019-09-14 20:35] #32375 closed

[2019-09-14 20:36] #32261 closed

[2019-09-14 20:48] ymodak commented on #32171
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-14 20:48] #32171 closed

[2019-09-14 20:54] ymodak commented on #31143
The error message is fixed with TF 1.15 version. Thanks!

[2019-09-14 20:54] #31143 closed

[2019-09-14 21:10] ymodak commented on #30093
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-14 21:10] #30093 closed

[2019-09-14 21:11] ymodak commented on #30112
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-14 21:11] #30112 closed

[2019-09-14 22:19] rryan commented on #30602
@tportenier the FFT ops allocate a workspace which is by default 4GB:
https://github.com/tensorflow/tensorflow/blob/63b93ebc184daf0fc30b914d7e504d3cc14914b0/tensorflow/core/kernels/fft_ops.cc#L555

Could you please try setting the environment variable `TF_CUFFT_WORKSPACE_LIMIT_IN_MB` to something smaller (e.g. `256`) to see if this improves your issue?

I totally agree that a 512 point FFT should

[2019-09-14 23:24] daviddiazvico opened #32532 "Improving compatibility with Scikit-learn"
The original issue in keras-team/keras is [this](https://github.com/keras-team/keras/issues/12832
)

Scikit-learn estimators are instanced only with hyper-parameter information. No knowledge on the data (X or y) is needed until the estimator is fitted. On the other hand, KerasRegressor and KerasClassifier receive as argument a build_fn that instantiates and compiles the estimator. At this point, t