[2019-10-12 15:40] sonfiree commented on #33181
The question can probably be hidden. I stayed at 1.4 and no longer plan to use TF. I turn to pytorch

[2019-10-12 15:40] #33181 closed

[2019-10-12 15:58] ibrahimsharaf commented on #33217
Thanks @oanush & @rmothukuru!

[2019-10-12 15:58] #33217 closed

[2019-10-12 16:11] abhinavos7a commented on #27999
The latencies are now comparable to VW model. I was passing dense features to my Linear model than sparse features, which was resulting in high latencies.

Before:
`
category_column = tf.feature_column.categorical_column_with_hash_bucket(key, hash_size)
tf.feature_column.indicator_column(category_column)
`
After:
`
tf.feature_column.categorical_column_with_hash_bucket(key, hash_size)
`

According

[2019-10-12 17:21] beasteers opened #33290 "Tensorboard Embedding Projector - non-Embedding Layers?"
I noticed at some point, the Tensorboard Callback stopped taking `embedding_layer_names`. Now it simply uses `isinstance(layer, Embedding)`

So my question is, how are we supposed to visualize the embeddings for say, an autoencoder, which would be a `Dense` layer?

The easiest solution would be to create a subclass of `layers.Embedding` that operates something like `tf.identity`, but obviously, th

[2019-10-12 17:32] Moodoo245 commented on #32949
This fixes the problem unless you commit the code to be run on their docker using the GPU. This is due to the current issue with kaggle where custom packages are not supported for GPU instances

[2019-10-12 18:04] ak112 opened #33293 "Operators not supported by tensorflow lite."
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them you can disable this error with

[2019-10-12 18:08] Nephalen commented on #33003
I have a similar problem. My project is training a model to predict Q value in Reinforcement Learning. The error is TD error, which has similar fashion as MSE. I'm using compact.v1.AdamOptimizer

In Tensorflow 1.14 and before, the learning curve in training starts from 8 and drop to 7.

However, from Tensorflow 1.15 and afterwards, the learning curve rises up to 17 fairly quickly.

Is there some m

[2019-10-12 18:08] rchao commented on #32841
Hello @shahriar49, if I understand correctly here we're using `model_to_estimator` without a tf.distribute strategy. With classic estimator training, I am not aware of any data splitting among the workers. The same copy of code is run on chief and workers, and if the training `input_fn` is configured to raise `OutOfRangeError` after one epoch, the total epochs trained will be the number of all wor

[2019-10-12 19:51] mihaimaruseac commented on #33181
Well, you offered no information that could have helped in debugging and allowing us to help you

[2019-10-12 19:51] wangmorgan commented on #28068
opt = tf.optimizers.Adam(learning_rate=0.02, beta_1=0.99, epsilon=1e-1)
TypeError: 'NoneType' object is not callable

[2019-10-12 19:55] aKzenT commented on #32982
@Mulns Thanks for this solution! I found a way to use your solution without having to modify the "site-packages" folder.

Just copy the "tensorflow_core" folder to another directory (e.g. C:\stubs) and then rename it there to "tensorflow" (C:\stubs\tensorflow). Adjust the __init__.py file as described above.

In your Visual Studio Code open your user settings.json and add the following setting:
`

[2019-10-12 19:56] wangmorgan commented on #28068
opt = tf.optimizers.Adam(learning_rate=0.02, beta_1=0.99, epsilon=1e-1)
TypeError: 'NoneType' object is not callable

[2019-10-12 22:24] mmuratarat commented on #33200
I am having the similar issue. I run the same code on my local machine with CPU and Tensorflow 1.14.0. It works fine.  however, when I run it on GPU with Tensorflow 2.0, I get

[code]

[code]

[2019-10-12 22:42] ekuznetsov139 opened #33294 "PackOp race condition / heisenbug"
tensorflow (1.x trunk) has a peculiar kernel:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/pack_op.cc#L168-L174
it is registered for the op "Pack" as a GPU kernel, but it is implemented on the host (CPU), and it takes its inputs in host memory. (There may be others like it, this is merely the one I noticed.)

Consider what happens when its input comes from the GPU m

[2019-10-12 23:00] beasteers commented on #33290
This is addressed in https://github.com/tensorflow/tensorflow/issues/33230

[2019-10-12 23:00] #33290 closed

[2019-10-12 23:20] ZeliangSu commented on #21623
I encounter the same issue in the dropout layer with **tf1.13** using converter.convert() like the docs. Is there another solution? Is this fixed in the new version of tf? thanks

[code]

[2019-10-13 00:27] ekuznetsov139 commented on #33294
May be related to https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/325.

[2019-10-13 00:48] shahriar49 commented on #32841
@rchao
So you mean that without strategy clause each worker will do its job independently without data splitting? My observation says something else.

[2019-10-13 01:24] freedomtan commented on #32998
@angerson not exactly, this could be caused by compilation flags or other settings used by TensorFlow, because if I replace the `protoc` with one that I compiled with **cmake + Xcode 11**, `protoc` works well. Easy to reproduce @feranick's problem, run
[code]
with **Xcode 11**, then you'll see something like
[code]

How I compiled protoc:

1. find the version of `protobuf` used by TensorFlow from

[2019-10-13 01:43] rchao commented on #32841
Mind sharing what you observed?

[2019-10-13 02:32] freedomtan commented on #32998
I think the problem is caused by **-march=native + non-O0 optimization**. With **-march=native -O2**, the protoc binary I built with cmake also crashed. With `build:opt --host_copt=-march=native`  removed from `.tf_configure.bazelrc`,  something like
[code]
went without problems.

[2019-10-13 02:34] raceee commented on #33273
I did `filepath/model.hdf5` and everything worked great.

Thanks to stephen_mugisha on SO.

[2019-10-13 02:34] #33273 closed

[2019-10-13 04:16] ageron opened #33297 "Surprising random seed behavior when using @tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOSX 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.

[2019-10-13 05:02] amritanaik opened #33298 "Not able to install tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Windows 7):

- TensorFlow installed from (source or

[2019-10-13 05:39] amritanaik commented on #33298
Tensorflow details installed:
Name: tensorflow
Version: 2.0.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: c:\users\admin\anaconda3\envs\pte\lib\site-packages
Requires: tensorflow-estimator, gast, astor, six, wrapt, termcolor, grpcio, whee

[2019-10-13 06:08] dulm opened #33299 "[tf2] isinstance(numeric_column, FeatureColumn) == false"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-13 06:10] Serebryanskiy commented on #30052
TF_VERSION='v2.0.0-rc2-26-g64c3d38'
Python version: 3.5.3
I am not sure if it is the same bug, but it states:
ValueError: Arguments and signature arguments do not match: 1229 1230
It occurs on model.fit_generator at the end of the epoch and seems to be related to validation dataset evaluation. If using without validation_data argument the model works fine. Setting 'save_weights_only=True' doesn't

[2019-10-13 06:22] dulm commented on #33299
from tensorflow_core.python.feature_column.feature_column_v2 import _StateManagerImpl, FeatureTransformationCache

change to

from tensorflow.python.feature_column.feature_column_v2 import _StateManagerImpl, FeatureTransformationCache

suc.
but still don't  know why,  the code of FeatureColumn is same, no matter tensorflow or tensorflow_core.

[2019-10-13 06:22] #33299 closed

[2019-10-13 06:31] jyh2378 commented on #33205
@oanush
I've got the answer of this problem. I didn't give the the parameter "training=True" to the BatchNorm layers. So, My model can't be reduced the loss. When I fix this part, model can be trained well.

[2019-10-13 06:34] jyh2378 commented on #33205
@oanush
I've got the answer of this problem. I didn't give the parameter "training=True" to BatchNorm layers.
So the model trained except parameter of BatchNorm layers. When I fixed this part, the model was trained well.

[2019-10-13 06:52] #33205 closed

[2019-10-13 07:16] mattip commented on #252
I think the `TypeError: argument after * must be an iterable, not NoneType` error is due to using an old version of SWIG. Could you make sure you are using a version after 4.0.0?

[2019-10-13 08:00] JameerBabu commented on #33192
Exp and Exp-1 are two different values. How can they produce the same result.  print(session.run(exp-1)) produces the result of value which is equal to exp - 1.
print(session.run(exp)-1) produces the result equal to one subtracted from the result of value which equals exp. Hence they are two different. I guess there is no issue. It is working properly.

[2019-10-13 08:44] sonfiree commented on #33203
https://github.com/tensorflow/tensorflow/issues/33178

[2019-10-13 09:38] CRLannister commented on #10779
# Incase of linux...
go to **.local/python3.X/lib/python3.6/site-packages/keras/utils/data_utils.py**

## and below import statements add these----

[code]

[2019-10-13 09:44] charmasaur commented on #33192
Sorry, I don't follow. In both cases you describe, the eventual value printed should be the value of e^(4j)-1.

[2019-10-13 09:53] CRLannister commented on #33285
# Incase of linux...
go to **.local/python3.X/lib/python3.6/site-packages/keras/utils/data_utils.py**

## and below import statements add these----

[code]

[2019-10-13 10:23] idohi commented on #33209
@oanush ,
Running on colab works fine for me, but the issue is occur on the environment of my computer.

[2019-10-13 10:25] alfosucan commented on #15618
Issie seems to persist. Symlinking **/usr/bin/python** to **/usr/bin/python3** seems to work.
`link /usr/bin/python3 /usr/bin/python`

Hope it helps!

[2019-10-13 10:50] JameerBabu commented on #33192
No. It will be  (e^4j) -1 and e^(4j - 1)

[2019-10-13 10:56] Jinof opened #33301 "tf.io.gfile.GFile.read() dose not return but terminates my"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS: Windows 10 18362
- TensorFlow installed from (source or binary): sourece
- TensorFlow version (use command

[2019-10-13 11:30] Huixxi commented on #32729
Sorry for late reply, It still an issue, I've the reason but I don't know. The details are updated in the mainbody of that issue.

[2019-10-13 11:37] ouy160 commented on #32945
Can you share your pip list under the win10 version?

[2019-10-13 11:40] tdas714 opened #33302 "Tflite coverter error. tensorflow/lite/toco/tooling_util.cc:935"
<em>I'm trying to convert a TensorFlow model to tflite model from a frozen graph.
I' getting an error saying I should make a bug report to tflite team.

**you can download the graph from [HERE.**](https://drive.google.com/file/d/1LqyZWJsZadOHCxY8kG8JAskMoRgOWzSH/view?usp=sharing)

any help would be much appreciated. </em>

**System information**
- Have I written custom code (as opposed to using a

[2019-10-13 11:44] Danial-Faris commented on #33285
Thanks a lot! It works great with a one change, I had to remove

because the name requests was never specified. But besides that, it worked!!

[2019-10-13 11:46] shayantabatabaee opened #33303 "Convert to tflite will change output order for models with multiple outputs"
Hello everyone,

Currently I have a model with one input and multiple outputs. I train my model with tensorflow eager execution mode and saved trained model into keras format. after that I converted model to tflite format to use in mobile devices. The issue is when I converted my model to tflite the output order will changed. I tested same image with keras model and tflite model and the output ord

[2019-10-13 13:11] CRLannister commented on #33285
oh my bad....I forgot an import statement there...

```import requests```  before the call...
so, it should be...
[code]
anyways...happy that it worked :smiley:

[2019-10-13 13:23] former7 opened #33304 "tf.feature_column.indicator_column OOM"
**Describe the current behavior**
i'm building a CTR model， use tf.feature_column.indicator_column  and tf.feature_column.categorical_column_with_hash_bucket  to make my  categorical feature turn into a multi-hot feature  .  But OOM happens , the error show that API indicator_column generate many one-hot feature , this cause the OOM.
it seems produce many one-hot [batch_size ,categorical list len,

[2019-10-13 13:26] Stick-To opened #33305 "layer reuse"
[code]

I want to know how to reuse these layers as tf.variable_scope(scope resue=tf.AUTO_REUSE) in tensorflow1

In tensorflow1

[code]

[2019-10-13 13:30] FridaCai opened #33306 "when run example: speech_commands and try to run freeze.py, Tensor name "final_fc_bias" not found in checkpoint files /tmp/speech_commands_train/conv.ckpt-2000.index"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
no

- OS Platf

[2019-10-13 13:30] Mulns commented on #33218
Try this simple solution for current situation (tf: 2.0) :

- Go to dir `/python3/site-packages/` and change the name of `/tensorflow/` to `/tensorflow_back`, then change the name of `/tensorflow_core/` to `/tensorflow/` (only use core api)

- Go to file `/tensorflow/__init__.py` (which was in `/tensorflow_core/` ), add the following codes:
`from .python.keras.api._v2 import keras`
`from tensorflo

[2019-10-13 13:50] georgealexandruvlad commented on #33218
The issue was resolved by using @angeliand 's solution. It seems PyCharm EAP works with tf2.0. @Mulns  thank you for your response as well, if I will encounter the same issue in the future I will consider trying your solution. As the problem has been solved I will close the issue.

[2019-10-13 13:50] #33218 closed

[2019-10-13 13:56] appleyuchi opened #33307 "No OpKernel was registered to support Op 'TPUReplicateMetadata' used by node TPUReplicateMetadata"
When I run the following .ipynb:

https://colab.research.google.com/drive/1DpUCBm58fruGNRtQL_DiSVbT90spdZgm

I got:
No OpKernel was registered to support Op 'TPUReplicateMetadata' used by node TPUReplicateMetadata (defined at /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/framework/ops.py:1748) with these attrs: [num_cores_per_replica=1, use_tpu=true, num_replicas=8, computation_sha

[2019-10-13 14:16] mihaimaruseac commented on #33298
Does your CPU support AVX?

[2019-10-13 14:18] mihaimaruseac commented on #33288
Can you check if #31196 helps?

[2019-10-13 14:19] mihaimaruseac commented on #33279
Does your CPU support AVX?

[2019-10-13 15:13] suwoncjh opened #33308 "iterating over 'tf.Tensor' is not allowed AutoGraph did not convert this function."
Hi, I am trying to convert below function to tensorflow graph using tf.function decorator.

However, I got an error message.

My question is which part should I change the code below to use tf.function?

thanks.

[code]
error message:
OperatorNotAllowedInGraphError: iterating over `tf.Tensor` is not allowed: AutoGraph did not convert this function. Try decorating it directly with @tf.function.

[2019-10-13 15:35] dimitri320 commented on #16405
Still doesn't work in TF 1.12.0!

[2019-10-13 16:26] nbro opened #33309 "tf_upgrade_v2 is not reporting issues related to invalid imports in TensorFlow 2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Catalina
- TensorFlow installed from (source or binary): binary (pip install tensorflow)
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7.4
- CUDA/cuDNN version: None
- GPU model and memory

[2019-10-13 16:30] georgesterpu commented on #33219
The code in that file does not collect the regularisation losses.
I think that you need to write:
`loss += tf.add_n(model.losses)`
in the `train_step` function.

[2019-10-13 16:39] leo-XUKANG commented on #32103
maybe i can answer the question, when the start a sess and load the model which has been optimiszed by TF-TRT, it will load the TRT-engine op , and it will use a lot of time, maybe some seconds,but you will get a smaller latency in the rest test

[2019-10-13 16:54] Yablon commented on #33308
As the error message says, I think maybe you can try to avoid using "for" loop in the function. And maybe you can choose tf.numpy_function as an alternertive.

[2019-10-13 17:13] dreddc commented on #33279
no it's an older corei7 architecture

[2019-10-13 17:30] gkvoelkl commented on #33086
Thank you

It works

[2019-10-13 17:30] #33086 closed

[2019-10-13 18:03] yongtang opened #33311 "tf.print usage throws SyntaxError: invalid syntax"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): n/a
- OS Platf

[2019-10-13 18:04] Pablo-Urruchi commented on #32949
This works. Thanks a lot.

[2019-10-13 18:55] yongtang commented on #32963
Added a PR #33312 for the fix.

[2019-10-13 19:08] drag05 commented on #25807
So, is this problem solved? I have all the requirements fulfilled and still get the error. If this is solved then where is the solution?

[2019-10-13 19:18] mihaimaruseac commented on #32949
Closing as it seems this works

[2019-10-13 19:18] #32949 closed

[2019-10-13 19:18] mikkleini commented on #32204
I get complains that my model is 'ion ':

`File "/usr/local/lib/python3.7/dist-packages/edgetpu/detection/engine.py", line 73, in __init__
    super().__init__(model_path)
  File "/usr/local/lib/python3.7/dist-packages/edgetpu/basic/basic_engine.py", line 40, in __init__
    self._engine = BasicEnginePythonWrapper.CreateFromFile(model_path)
RuntimeError: Model provided has model identifier 'ion ',

[2019-10-13 19:19] mihaimaruseac commented on #32383
Closing as duplicate

[2019-10-13 19:19] #32383 closed

[2019-10-13 19:20] mihaimaruseac commented on #33200
What is the version of `gast` on your system?

You will have to manually `pip install gast==0.2.2`, due to `gast` releasing a backwards incompatible release. See #32383

This also duplicates #32949, so closing

[2019-10-13 19:20] #33200 closed

[2019-10-13 19:26] mihaimaruseac commented on #23564
Is this still an issue?

[2019-10-13 19:47] mihaimaruseac commented on #32641
Is this still an issue?

[2019-10-13 19:50] mikkleini commented on #32204
My bad. Was sending model over Git LFS to RPi and forgot to do lfs sync. Also forgot to run the tflite through the edgetpu_compiler.

[2019-10-13 20:38] ghunkins commented on #28668
Same issue. Highly frustrating that I cannot load models trained prior to `keras@2.3.x` into the `tf.keras` ecosystem. This is a blocking error for many developers wishing to transition from traditional `keras` to `tf.keras` and in turn `tensorflow@2.x.x`.

@hartikainen did @foxik 's answer solve your issue? Unless I'm missing a step, that did not solve my issue.

[2019-10-13 20:54] ruthvik92 commented on #21957
If I wrap `img` in `tf.Variable` then I get a new error.

     `ValueError: Shape must be at least rank 1 but is rank 0 for 'ScatterNdUpdate' (op: 'ScatterNdUpdate') with input shapes: [10], [], [].`

I am trying to use `tf.scatter_nd_update` by setting up a graph and use it in a loop while new values for attributes of `tf.scatter_nd_update` are supplied using a `feed_dict`. Any idea how to do thi

[2019-10-13 20:57] hartikainen commented on #28668
@ghunkins, no my case hasn't been resolved yet. My specific issues is tracked at https://github.com/tensorflow/tensorflow/issues/30892, but I don't know if there's been any work towards fixing that.

[2019-10-13 21:17] harigov commented on #33183
I am experiencing this same issue as well. I am using MacOS Catalina. Steps to reproduce this:

[code]

I get the following error:

[code]

Please let me know if you need more information

[2019-10-13 21:21] mihaimaruseac commented on #30427
Can you provide a reproducer, @UndeadKernel ? I cannot reproduce:

[code]

Also tried from a file:

[code]

but no warnings:

[code]

[2019-10-13 21:42] mihaimaruseac commented on #33279
In this case, all you can do is install from source or find a community build that works on a non-AVX processor

[2019-10-13 22:05] AGenchev commented on #15736
I tried
`sudo pip3 install keras`

[2019-10-14 02:17] egolearner commented on #33188
Sorry to bother you. Maybe there's sth. wrong with my environment.

[2019-10-14 02:17] #33188 closed

[2019-10-14 02:40] dlop opened #33315 "Training slows down with repeated calls to Model.fit()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Version 1903
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below):

[2019-10-14 03:05] skearnes commented on #32902
+1

[2019-10-14 03:17] ymodak commented on #33279
Installing **TensorFlow** (TF) CPU prebuilt binaries:

*TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets.*
See [hardware requirements][1] to know more.

Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load.
Apparently, your CPU model does not support AVX instruction sets. You can still use TensorF

[2019-10-14 03:22] ymodak commented on #33266
*TensorFlow release binaries (CPU/GPU) version 1.6 and higher are prebuilt with AVX instruction sets.*
See [hardware requirements][1] to know more.

Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load.
Apparently, your CPU model does not support AVX instruction sets. You can still use TensorFlow with the alternatives given below:

* Try

[2019-10-14 03:25] wookayin opened #33316 "With lazy_import tensorflow cannot be imported"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 (and gLinux)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip binary
- TensorFlow version: 1.15.0.{rc1,rc2,rc3}
- Python version: python 3.6.8
- Installed using virtualenv? pip? conda?: anaconda
-

[2019-10-14 03:28] kyimin11 opened #33317 "no attribute 'ConfigProto' & no attribute '_MTCNN__session'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pycharm addons
- TensorFlow version: 2.0.0
- Python version:3.7.2
- Installed using virtualenv? pip? conda?:pip

Rookie from China, not a native speaker. Working on

[2019-10-14 04:07] njzjz commented on #32776
I face this problem too. After I use the patch, I still face a similar problem with CUDA includes path.

[2019-10-14 04:23] drag05 opened #33319 "Unable to run tensorflow-gpu 2.0.0 on RStudio after update"
The following error pops:

`> tensorflow::tf_config()`

_tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library '**cudart64_100.dll**'; dlerror: **cudart64_100.dll** not found_

- Have CUDA v.10.1 installed.  Folder CUDA\ v10.1\bin shows **cudart64_101.dll** not cudart64_100.dll
- Have CUDNN v.7.6.4.38 installed
- Environment variables point to CUDA\v10.1\bin

[2019-10-14 05:06] oanush commented on #33289
issue replicating for TF-2.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/f346c12da815f02b9c54ad983e73e9cf/33289.ipynb) of colab.Thanks!

[2019-10-14 05:25] gadagashwini commented on #28993
@liyi193328,
Can you please post a new issue by providing the information asked by the template?
The reason for this is we can focus on your specific configuration and problem since the root cause can be unrelated even though the error messages are similar. Thanks!

[2019-10-14 05:40] ravikyram commented on #32817
@oracle3001

Can you please let us know if the issue still persists?.Please close the issue if it was resolved already. Thanks!

[2019-10-14 05:48] oanush commented on #33285
Closing since the issue is resolved.If any other issue is faced feel free to open a new issue.Thanks!

[2019-10-14 05:48] #33285 closed

[2019-10-14 05:51] Edwin-Koh1 commented on #26256
Yes, the NAN's are gone for Adamax optimizer on GPU training on tensorflow 2.0.0 but still persists on 1.14

[2019-10-14 06:12] oanush commented on #33277
@ay27 ,
When tried executing the given code, [colab](https://colab.sandbox.google.com/gist/oanush/6b73dc27aaff2332555c403e2712b804/33277.ipynb) session crashed for both the given code snippets. Can you check and provide gist of colab to reproduce the issue ?

[2019-10-14 06:12] ravikyram commented on #33311
@yongtang
You can add `from __future__ import print_function` before your code then you will not see the syntax error.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/113721be2d017fecb3d6fd80c83b74b4/untitled260.ipynb).Thanks!

[2019-10-14 06:28] oanush commented on #33260
Issue replicating for TF-2.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/fdff16a8b1f2ec966689f4f96d543e16/untitled13.ipynb) of colab.Thanks!

[2019-10-14 06:33] npuichigo commented on #32817
Any update?

[2019-10-14 06:40] huangxGo commented on #24816
I have the same problem when I use spp layer with tensorflow 1.14.If it is right when I  use spp layer and just ignore this misleading message?

[2019-10-14 06:45] ay27 commented on #33277
@oanush ,
I try to run in colab, the crash reason is the environment does not have the TensorRT package.
![image](https://user-images.githubusercontent.com/3942031/66733051-d3f10480-ee90-11e9-9c5e-9eb2dec12ad4.png)

[2019-10-14 06:48] Davari393 commented on #29829
Hi.Can you solve it?
I need that

[2019-10-14 06:51] ravikyram commented on #33307
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?.
I tried with TF 1.14 ,1.15.0-rc3, 1.13.1 and i am able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/f66344f948481ed6af0d25cbfcb08b06/untitled261.ipynb).But in t

[2019-10-14 06:51] ay27 commented on #33277
@oanush ,
I tried to reproduce in colab, the crash reason is the environment in colab does not have the TensorRT package. You can check the running log for details.
I am not familiar with colab, and don't know how to install the package on colab. Maybe you can reproduce the problem in a local CUDA environment?

![image](https://user-images.githubusercontent.com/3942031/66733274-92ad2480-ee91-11e9-

[2019-10-14 06:57] WestbrookZero commented on #33231
I solve it in build.gradle :  implementation 'org.tensorflow:tensorflow-lite:2.0.0'

[2019-10-14 06:57] #33231 closed

[2019-10-14 07:02] ravikyram commented on #33306
@FridaCai
Can you please let us know which tutorial you are referring to? Thanks!.

[2019-10-14 07:04] gadagashwini commented on #33283
@tseth92, I tried to replicate the reported issue but i got different error message. Please see the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/4e14c5835a91961694b93612c9bc14a5/untitled194.ipynb) and help us provide the issue. Thanks!

[2019-10-14 07:05] Gonzalo933 commented on #24816
I have detected that after this warning performance is worse

[2019-10-14 07:07] ravikyram commented on #33304
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-10-14 07:12] mimxrt commented on #33148
I see, thank you for the clarification. So in summary we can say that this issue does not happen on the CPU and that it is related to the GPU implementation. As I tried running it without `tf.config.experimental.set_memory_growth(gpu, True)` and the error still occurs, it should probably be save to rule that out as the cause/issue.

[2019-10-14 07:17] oanush commented on #33254
@VoVAllen ,
When tried executing the given code `AttributeError: module 'tensorflow' has no attribute 'numpy' `is faced, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/067537c18ac24ca5884996792c77085e/33254.ipynb) of colab. Thanks!

[2019-10-14 07:17] ravikyram commented on #33293
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-10-14 07:44] VoVAllen commented on #33254
@oanush Sorry I mistakenly write the code, it should be `a.numpy()` instead of `tf.numpy()`

The following code should work
[code]

[2019-10-14 07:45] attendfov opened #33320 "tf.distribute.MirroredStrategy read data from tfrecord slower!!!!"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):YES
- OS Platfo

[2019-10-14 07:46] VoVAllen commented on #33254
As described in https://www.tensorflow.org/tutorials/customization/basics#numpy_compatibility, they should share the underlying memorys.

[2019-10-14 08:09] whhu opened #33321 ""Skipping rendezvous re-initialization" when calling collective_ops in a distributed cluster"
We meet a [problem](https://stackoverflow.com/questions/58161090/when-does-skipping-rendezvous-re-initialization-emerge-in-calling-collective) which continuously logs `re-initialization` within the same MonitoredSession on the leader worker. Furthermore, there seems to be an accuracy losing during the gradient descent of the parabolic toy model. We have no idea how to prevent the logging of `re-in

[2019-10-14 08:35] appleyuchi commented on #33307
@ravikyram Thanks for your replies.
I use your gist and find new error:
/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/callbacks.py in configure_callbacks(callbacks, model, do_validation, batch_size, epochs, steps_per_epoch, samples, verbose, count_mode, mode)
    118   callback_list.model.stop_training = False
    119   # pylint: disable=protected-access
--> 120   if callback_list

[2019-10-14 08:36] appleyuchi commented on #33307
I just use colab,all edition are same as yours.
 Could you help me? thanks

[2019-10-14 08:42] Dream7-Kim opened #33322 "Can distributed strategy solve VRAM runout isuue?"
I have a complex function with tens of millions parameters and two hundreds of variables. I need to calculate the gradient of this function,but my Nvidia graphic card has not enough VRAM. I tried with two cards but it cannot solve the issue.
Two cards only accelerate the calculating speed, cannot solve memory problem, because every video card needs to save the same calculation graph, right?

Anyon

[2019-10-14 08:43] appleyuchi commented on #33307
what's your meaning?

"I tried with TF 1.14 ,1.15.0-rc3, 1.13.1 and i am able to reproduce the issue.
Please, find the gist here.
But in the colab link you have shared i am not seeing any error."

you are  able to reproduce the issue
you are not able to reroduce the issue in my link?

????

[2019-10-14 08:53] Mulns opened #33323 "ValueError when using AdamOptimizer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7
- CUDA/cuDNN version: CUDA10.0 and cnDNN7.6

**Describe the current behavio

[2019-10-14 08:56] oanush commented on #32577
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-14 08:56] #32577 closed

[2019-10-14 08:57] gadagashwini commented on #33301
@Jinof, I tried replicating the issue with Tf 2.0.0 but it worked as expected. `tf.io.gfile.GFile(path).read() `returns the content of the file as string. Please refer [this link](https://www.tensorflow.org/api_docs/python/tf/io/gfile/GFile#read). Thanks

[2019-10-14 09:02] gadagashwini commented on #33303
@shayantabatabaee, Will it be possible to provide the keras model. And also, code snippet used to convert keras to tflite. Thanks!

[2019-10-14 09:17] ravikyram commented on #33287
@Stick-To

Can you please go through the below link and see if it helps you.Thanks!
https://www.tensorflow.org/addons/api_docs/python/tfa/image/rotate

[2019-10-14 09:19] gadagashwini commented on #33308
@suwoncjh, Can you try @Yablon's workaround and let us know if issue still persists. Thanks!

[2019-10-14 09:24] ravikyram commented on #33280
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-10-14 09:24] rmothukuru commented on #33074
@bfmat,
The error, ` ValueError: Error when checking input: expected input_1 to have shape (96, 72, 1) but got array with shape (72, 97, 1)` is being triggered when `data shape to (72, 97) while still leaving the input layer at (96, 72)`.

The error disappears if the Shape of the Data and the Shape of the Input Layer is the same. For example, Shapes of Input Layer and that of Data is `(72, 128, 1)

[2019-10-14 09:29] shayantabatabaee commented on #33303
Yes , Here is my model :

[code]

and I convert my model using this script:

[code]

[2019-10-14 09:30] gadagashwini commented on #33255
@arunumd, You would like to try with latest Tenosrflow version 2.0.0. Thanks!

[2019-10-14 09:35] rmothukuru commented on #33297
@ageron,
Can you please refer the issue #33034 and let us know if it helps. Thanks!

[2019-10-14 09:39] oanush commented on #33302
I was able to replicate the issue, please find the .ipynb file.
[33302.ipynb.zip](https://github.com/tensorflow/tensorflow/files/3723813/33302.ipynb.zip)
Thanks!

[2019-10-14 09:44] LiyouZhou commented on #29829
@Davari393 Maybe it is to do with input shape not what the network is expecting?

[2019-10-14 09:50] AhmUgEk commented on #32817
This fixes, my issue, however, surely the final batch size being reduced should not create an issue?

Repeating the part of the first batch of data should not be the solution, surely?

[2019-10-14 10:05] darcula1993 commented on #30850
with official released tf 2.0, I meet the similar error even try to load the tf format model.

tensorflow.python.framework.errors_impl.FailedPreconditionError: Error while reading resource variable dense/kernel_34381 from Container: localhost. This could mean that the variable was uninitialized. Not found: Container localhost does not
 exist. (Could not find resource: localhost/dense/kernel_34381)

[2019-10-14 10:06] prabindh opened #33326 "[TF 2.0 API Docs] tf.GradientTape"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/GradientTape

## Description of issue (what needs changing):

### Clear description
Class members and Return values in "gradient" function not consistent with actual values in code

### Correct links
Yes
### Parameters defined
Yes
### Returns defined
Needs to be modified
gradient () :
1. Argument - unconnected_gradients: a va

[2019-10-14 10:10] ravikyram commented on #33307
@appleyuchi

Now,I am able to reproduce the issue in the link provided by you .Thanks!

[2019-10-14 10:10] rahulsharma665 opened #33327 "modulenotfounderror no module named '_pywrap_tensorflow_internal'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-14 10:13] ravikyram commented on #33269
@sgambient
Thank you for reporting the issue.Is it possible for you to provide simple standalone code, then it is easy for localizing the issue faster. Thanks !

[2019-10-14 10:14] rmothukuru commented on #33260
Could reproduce the issue, i.e., No error is being raised  when  `"arch" is set to "max_pool" or "flatten"`, with Tensorflow Version 2.0. However, in 1.14, the error,
`TypeError: Layer global_max_pooling1d does not support masking, but was passed an input_mask: Tensor("embedding/NotEqual:0", shape=(?, 4), dtype=bool)`, is being raised.

Here is the [Gist](https://colab.sandbox.google.com/gist/rmot

[2019-10-14 10:22] UndeadKernel commented on #30427
@mihaimaruseac, I can reproduce the problem with both examples of yours. That is, I see the following output:
[code]

I'm using arch. Arch, if I recall correctly, adapts Tensorflow to work with Python 3.7.4. Or is this version of Python already supported by Tensorflow?

[2019-10-14 10:25] oanush commented on #33305
@Stick-To ,
Can you share complete code to reproduce the issue reported here? Also provide the TF version being used.

[2019-10-14 10:26] LiyouZhou commented on #29829
@Jconn I got it working with the custom posts processing op, This is what I did to convert:
[code]

[2019-10-14 10:29] oanush commented on #33275
@MGarvinNYC ,
Hi can you please try creating a pip environment and then install TF using pip in the same. As we don't support issues with conda environment, refer the [link](https://github.com/tensorflow/tensorflow/issues/33206#issuecomment-541148907).Thanks!

[2019-10-14 10:29] ravikyram commented on #33261
I have tried on colab with TF version 2.0  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/00b7541a4eb2b6492c984d4201acce7f/untitled265.ipynb).Thanks!

[2019-10-14 10:30] gadagashwini commented on #33204
@alexshade15, Thanks for the complete code. I could replicate the issue on Colab. Please see the [gist](https://colab.sandbox.google.com/gist/gadagashwini/0c02bf54f77e41d7833ec5c563e9447d/untitled196.ipynb). Looks like issue is more related to scikit learn gridsearch. Can you confirm. Thanks!

[2019-10-14 10:36] rharish101 commented on #30427
@UndeadKernel I'm running Arch too, but I'm not getting any errors as of the past few days. My packages are:
* python-tensorflow-opt-cuda: 2.0.0-2
* python-numpy-openblas: 1.17.2-1

[2019-10-14 10:38] gadagashwini commented on #32553
Closing this issue since the associated PR has been merged. Feel free to reopen if the problem still persists. Thanks!

[2019-10-14 10:38] #32553 closed

[2019-10-14 10:39] ravikyram commented on #33258
I have tried on colab with TF version 2.0  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/039e4a49146a41cc220c28b3e2b7cacb/untitled266.ipynb).Thanks!

[2019-10-14 10:40] gadagashwini commented on #32640
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-14 10:40] #32640 closed

[2019-10-14 10:46] gadagashwini commented on #32660
@remydubois, Closing the issue, feel free to comment/reopen the issue if issue still persists. Thanks!

[2019-10-14 10:46] #32660 closed

[2019-10-14 10:49] gadagashwini commented on #32831
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-14 10:49] #32831 closed

[2019-10-14 10:55] liyi193328 commented on #5252
Any ideas? want to know the solutions

[2019-10-14 11:10] appleyuchi commented on #33307
waiting for your help.
I seems hard to find answer from Google.
Much Thanks

[2019-10-14 11:23] ucasiggcas opened #33328 "use tf.layers.dense as a layer ups bug"
hi,dear all,
I just wanna use the tf's dense,
and when I set tf.layers.dense as a keras layer,it ups a bug,
how to solve it ?

codes:
[code]

bug：
`ValueError: Tensor conversion requested dtype float32_ref for Tensor with dtype float32: 'Tensor("Adam/dense/kernel/m/Initializer/zeros:0", shape=(256, 513), dtype=float32)'`
Thx

[2019-10-14 11:30] Jinof commented on #33301
Yeah i have made it.My program does have some problem.What puzzles me is my TF2.0 version quit without reporting any error but my TF1.X version report my errors correctly.

[2019-10-14 11:36] Davari393 commented on #29829
My model is mobilenetv2 ssdlite that its input shape is 300x300x3
my code is:

coco_train = []
directory_images = "/home/davari/detection_on_mobile/val_coco_dataset/coco2014/output/kam_images/"
for img in os.listdir(directory_images):
  coco_data = cv2.imread(os.path.join(directory_images,img))
  coco_data = cv2.resize(coco_data , (300 , 300))
  coco_train.append(coco_data)
print(tuple(coco_train)

[2019-10-14 11:37] #33301 closed

[2019-10-14 11:39] ravikyram commented on #33210
I have tried on colab with TF version 2.0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/265376b981cca3cbf9a56bfb0e9cbd72/untitled267.ipynb).Thanks!

[2019-10-14 11:46] oanush commented on #33254
Issue replicating with TF-2.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/3554926482eac5992e49569227accc10/33254.ipynb) of collab. Thanks!

[2019-10-14 11:51] rmothukuru commented on #33085
@srfrnk,
I could reproduce the issue now. Can you please refer [this link](https://stackoverflow.com/questions/54375298/how-to-use-tensorflow-feature-columns-as-input-to-a-keras-model)  and let us know if it helps. Thanks!

[2019-10-14 11:51] huangxGo commented on #24816
Yes it seems that we can't ignore this warning...In my training, the loss get very high after a few iterations

[2019-10-14 11:53] gadagashwini commented on #33211
Yes. Please see the [tested build configurations](https://www.tensorflow.org/install/source#tested_build_configurations). Thanks!

[2019-10-14 11:54] oanush commented on #33264
@OverLordGoldDragon ,
Can you please provide complete code used to reproduce the issue reported here ? When tried executing the issue i got  `NameError: name 'math_ops' is not defined`. Thanks!

[2019-10-14 12:07] PolinaDemochkina commented on #29674
I'm using the TF 2.0 gpu version and still get this error with trt.TrtGraphConverterV2:

[code]

[2019-10-14 12:24] alexshade15 commented on #33204
Yes, the issue is the same and it seems to be related to scikit learn gridsearch. Thank you.

[2019-10-14 12:24] MarkDaoust commented on #32601
Aside from the "Global overview of tensorflow" I think we're doing okay here.

Most of this is in the ["customzation" section of the guide](https://www.tensorflow.org/guide/eager). Which I think covers "add an op" and "basic data-structures".

For "Graph modifications" the team has opted not to document things like [Graph Transform tool](https://github.com/tensorflow/tensorflow/tree/master/tensorf

[2019-10-14 12:28] oanush commented on #33309
@nbro ,
Thank you for reporting the issue, can you please provide bayesian_nn.py file  or the code the used in the file ?

[2019-10-14 12:30] oanush commented on #32694
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-14 12:30] #32694 closed

[2019-10-14 12:34] oanush commented on #32722
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-14 12:34] #32722 closed

[2019-10-14 12:36] nbro commented on #33309
@oanush The file is called `bayesian_nn.py`, but the code is the same as in https://github.com/tensorflow/probability/blob/master/tensorflow_probability/examples/bayesian_neural_network.py.

[2019-10-14 12:37] tensorflowbutler commented on #32876
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-14 12:45] abdou31 opened #33332 "How can I change variable on the layer ( fine tuning )"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **Tens

[2019-10-14 12:47] Satwato opened #33333 "Potential error in Codelab : Learning Tensorflow 2 : Computer Vision"
So I was following this codelab : https://codelabs.developers.google.com/codelabs/tensorflow-lab2-computervision/index.html?index=..%2F..index#4

On slide 5 the optimizer is set to be `tf.train.AdamOptimizer()`
and it returns an error of
 `module 'tensorflow_core._api.v2.train' has no attribute 'AdamOptimizer'`
I guess it should be
`tf.optimizers.Adam()`
?

[2019-10-14 12:59] dustedduke commented on #32468
@suharshs As I understood, TF Lite conversion process replaces **first** `CONV_2D` with `DEPTHWISE_CONV_2D` with depth multiplier = number of output channels (16 in my case). Now, after running the model with added depthwise operation, I see the following:

[code]
Is it a conversion issue, or I can set it manually somewhere?

[2019-10-14 13:08] oanush commented on #32876
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-14 13:08] #32876 closed

[2019-10-14 13:08] chayka opened #33335 "tf.contrib.image.transform in TF2.0"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): No

**Des

[2019-10-14 13:08] t-kalinowski commented on #33253
Thank you for the quick fix! Any chance this could make it into 1.15 too?

[2019-10-14 13:09] rmothukuru commented on #33254
@VoVAllen,
Below Text from the [Tutorial](https://www.tensorflow.org/tutorials/customization/basics#numpy_compatibility) doesn't say that Numpy Array and Tensors share the Underlying Memory always, but it was a conditional statement ("if possible" was mentioned).

It is evident from the [Implementation of Tensor.numpy()] (https://github.com/tensorflow/tensorflow/blob/afa2418f90f7cc15e3ada12e7760c4

[2019-10-14 13:10] andmax commented on #28668
I've the same problem here.  My model was created, trained and saved using tf.keras and I'm *not* able to tf.keras.models.load_model it.  I saved the model using HDF5 entire model option as explained in this link: https://www.tensorflow.org/tutorials/keras/save_and_load ; the load_model function fails with a weird error:

---------------------------------------------------------------------------

[2019-10-14 13:13] Atharex commented on #33117
Sorry for the late response, had a bad case of the flu this week.

Not sure how to do this on gist, but I can give you the Dockerfile to build the same image as I'm using and the log output of the OD API train script.

[Dockerfile.txt](https://github.com/tensorflow/tensorflow/files/3724535/Dockerfile.txt) (the nvidia files you would have to put in manually)
[tf_err_log.txt](https://github.com/tens

[2019-10-14 13:15] breadbread1984 opened #33336 "tf.sparse.sparse_dense_matmul can't broadcast as tf.linalg.matmul does."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): No

**D

[2019-10-14 13:18] oracle3001 commented on #32817
Yes, it still persists...see all the other posts with the same issue.

[2019-10-14 13:27] helloworld8710 commented on #22168
I have also meet this problem, but I cannot find the _dataset_ops.so file in the E:\ProgramData\Anaconda3\Lib\site-packages\tensorflow\contrib\ directory. Can any body help me? Thanks.

[2019-10-14 13:28] OverLordGoldDragon commented on #33264
@oanush Full [gist](https://gist.github.com/OverLordGoldDragon/aad492db1ff6f20a7983e600611799f7) here and referenced issue [here](https://github.com/tensorflow/tensorflow/issues/33227)

[2019-10-14 13:29] #32988 closed

[2019-10-14 13:29] tdas714 commented on #33302
have you find any reason, why it's happening.

let me know .

[2019-10-14 13:30] Stick-To commented on #33305
`
out1 = self.head(fpn_feat[0], len(anchors[0]), 'head', flatten=True)
out2 = self.head(fpn_feat[1], len(anchors[1]), 'head', flatten=True)
out3 = self.head(fpn_feat[2], len(anchors[2]), 'head', flatten=True)
out4 = self.head(fpn_feat[3], len(anchors[3]), 'head', flatten=True)
out5 = self.head(fpn_feat[4], len(anchors[4]), 'head', flatten=True)
`
@oanush  I want to resue the layers in head()

[2019-10-14 13:31] LiyouZhou commented on #29829
Some times you need to supply the input size of (1, 300, 300, 3). But with a segfault, there isn't really much information to go on. Try tracking down the failure point with pdb, that will tell you more information.

[2019-10-14 13:35] Stick-To commented on #33287
@ravikyram  Yes, thank you very much

[2019-10-14 13:35] #33287 closed

[2019-10-14 13:36] andmax commented on #30892
I've the same problem here. My model was created, trained and saved using tf.keras and I'm not able to tf.keras.models.load_model it. I saved the model using HDF5 entire model option as explained in this link: https://www.tensorflow.org/tutorials/keras/save_and_load ; the load_model function fails with a weird error:

IndexError Traceback (most recent call last)

(...)

/usr/local/lib/python3.6/di

[2019-10-14 13:36] #33248 closed

[2019-10-14 13:38] Stick-To opened #33337 "Dimension reasoning"
**System information**
- TensorFlow version (you are using): Tensorflow2.0
- Are you willing to contribute it (Yes/No):

**Describe the feature and the current behavior/state.**
**Will this change the current api? How?**
No
**Who will benefit with this feature?**
No
**Any Other info.**

`
[code]
# tensorflow know c_i here, for example, [None, None, 256]
            h_i, w_i, c_i = feat_shape[0], f

[2019-10-14 13:49] FridaCai commented on #33306
tutorial: https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/audio_recognition.md

[2019-10-14 13:54] goldbalance commented on #33280
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL
- Mobile device (e.g. iPh

[2019-10-14 13:59] namrata-ibm commented on #14017
Closing this as per discussion in #13638.

[2019-10-14 13:59] #14017 closed

[2019-10-14 14:02] srfrnk commented on #33085
@rmothukuru
Thanks for your input.
I can't see how the link relates to this issue.
I don't see they use load/save in any way and other then that the code very similar.
Could you please elaborate?

[2019-10-14 14:03] kbhute-ibm opened #33338 "//tensorflow/python/autograph/pyct/static_analysis/activity_py3_test.py fails with Python2.7"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 19.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): v2

[2019-10-14 14:06] namrata-ibm commented on #29165
@hamatake, I was trying to regenerate the ICU conversion data for big endian. Followed steps mentioned here: https://github.com/tensorflow/tensorflow/blob/v2.0.0/third_party/icu/data/BUILD.bazel

However it seems to regenerate same little endian format data. Are the pre-processing steps different for big endian? Is there some other way to reproduce the conversion data?

[2019-10-14 14:07] UndeadKernel commented on #30427
This is indeed quite strange @rharish101, I have the same exact versions. I tried using `python-numpy` from the official repo and python-numpy-openblas` from the AUR and I see the same FutureWarning messages.

[2019-10-14 14:17] goldbalance commented on #33280
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL
- Mobile device (e.g. iPh

[2019-10-14 14:25] lgeiger commented on #33335
`tf.contrib.image.transform` and `tf.contrib.image.compose_transform` are now part of the [`tensorflow_addons.image`](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/README.md) module which should implement the functionality you are looking for.

[2019-10-14 14:32] rharish101 commented on #30427
@UndeadKernel Could you try reinstalling the TensorFlow package? It might have changed in the latest patch (2.0.0-2 as opposed to 2.0.0-1). I remember that I, too, saw those warnings in the last few days, but as of today, they are gone, with the only difference that I updated TensorFlow 9 days ago.

[2019-10-14 14:38] rmothukuru commented on #33085
Could reproduce the issue with TF Version 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/27bd49c7c30c290e14324bbe1e634787/33085.ipynb). Thanks!

[2019-10-14 14:45] UndeadKernel commented on #30427
@rharish101, thank for the suggestion.
I noticed that `tensorboard` was not the same version as `tensorflow`. After reinstalling `tensorboard` (notice that this is "tensorBoard" and not "TensorFlow"), the warning went away.

[2019-10-14 14:46] arunumd commented on #33255
@gadagashwini I tried to install tensorflow 2 using the following command `pip install --upgrade tensorflow==2.0.0-rc0` and then ran the ipython notebook. But the symptoms still don't seem to change. I get the same error still. As you can see below, the **_tcmalloc_** error still persists and there is also a new error related to lack of compatibility between tensorflow2 and tensorflow1

[code]

[2019-10-14 14:55] FridaCai commented on #33306
another issue when following the tutorial:

bazel run tensorflow/examples/speech_commands:generate_streaming_test_wav
Starting local Bazel server and connecting to it...
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=80
INFO: Reading rc options for 'run' from /Users/liupai/tensorflow/tensorflow/.bazelrc:
  Inherited 'build' options: --apple_platfo

[2019-10-14 15:09] FelixHo opened #33339 "embedding_column converts from variable-length input feature does not work with Distributed Keras MultiWorkerMirroredStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): ('v2.0.0-rc2-26-g

[2019-10-14 15:10] FelixHo commented on #33339
@yuefengz

[2019-10-14 15:10] tonandr commented on #25807
In the Anaconda virtual environment of Windows 10, python 3.6.x or 3.7.x, CUDA 10.0.x, cuDNN 7.6.x, I have the same problem too, although PATH is correctly set including relevant dynamical libraries.

Error message: 2019-10-15 00:01:37.822980: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_100.dll'; dlerror: cudart64_100.dll not found

[2019-10-14 15:13] off99555 opened #33340 "Significant prediction slowdown after model.compile()"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): `pip install tensorflow`
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7
- CUDA/cuDNN version: CUDA=10.0, cuDNN=7.6.4
- GPU model and memory: GTX 1060 6GB

**Describe the current behavior**
The prediction speed is slowed down a lot after

[2019-10-14 15:14] jvishnuvardhan commented on #30892
@andmax It looks like different error. Can you please open a new issue with your details, error trace and standalone code to reproduce the issue? I think it will help community who has similar issue as you. Thanks!

[2019-10-14 15:16] tanzhenyu commented on #26256
Ok. I'm gonna close this for now. AWS could update to 1.15 later since that should get fixed.

[2019-10-14 15:21] srjoglekar246 commented on #33059
Closing this for now. Feel free to re-open if you are still stuck. Thanks!

[2019-10-14 15:21] #33059 closed

[2019-10-14 15:24] tanzhenyu commented on #25349
[Here](https://github.com/openai/baselines/tree/tf2/baselines/trpo_mpi).

[2019-10-14 15:33] lutel commented on #33108
Please help Allmighty Devs

[2019-10-14 15:39] mihaimaruseac commented on #30427
There is an official release of 2.0, you should not need to use the patched versions.

[2019-10-14 15:40] VoVAllen commented on #33254
Hi,

Thanks for your reply.

Actually I think I found the bug here. At here https://github.com/tensorflow/tensorflow/blob/afa2418f90f7cc15e3ada12e7760c47b79404a23/tensorflow/python/framework/ops.py#L939,

If it is a numpy.ndarray, why not directly return `maybe_arr`? The logic here says return a copy of numpy.ndarray, or directly return something which is not a numpy.ndarray. It's weird.

And I ch

[2019-10-14 15:41] mihaimaruseac commented on #33266
See also #19584 if your CPU doesn't support AVX.

[2019-10-14 15:41] mihaimaruseac commented on #33279
Also, see #19584

[2019-10-14 15:43] DocDriven opened #33341 "TF lite implementation for RandomStandardNormal"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Docker image tf-nightly-gpu-py3
- TensorFlow version (or github SHA if from source): 3.6.8

**Provide the text output from tflite_convert**

[code]

VAE model was taken from your custom layers and models site ([here](https://www.tensorflow.org/guide/keras/c

[2019-10-14 15:45] zubairahmed-ai commented on #25807
@tonandr Did you see my comment above? make sure you are not making the same mistake as I did

[2019-10-14 15:47] jvishnuvardhan commented on #29674
@PolinaDemochkina Please provide a simple standalone code to reproduce the issue. Thanks!

[2019-10-14 15:47] yongtang commented on #33311
@ravikyram Yes I missed `from __future__ import print_function` line. 👍 Thanks for the help!

[2019-10-14 15:47] #33311 closed

[2019-10-14 15:58] VoVAllen commented on #33254
I checked some history commit (https://github.com/tensorflow/tensorflow/commit/7caec689acd6a4d173a5dd99aa0da9961063058a), the copy behavior seems intentional. The comment at `numpy` function seems outdated. I couldn't find way that share memory between tensorflow and numpy, no matter from numpy to tf or from tf to numpy.

[2019-10-14 15:58] jvishnuvardhan commented on #33219
@mikeymezher Let us know whether @georgesterpu suggestion helped you in resolving the issue? Thanks!

[2019-10-14 16:02] mihaimaruseac commented on #33316
I cannot reproduce:

[code]

[2019-10-14 16:06] nluehr commented on #24496
@w4nderlust, for 1.14 and 1.15 you will want to continue to set the session config option `config.gpu_options.allow_growth = True`. Is that what you are reporting does not work, or just the `tf.config.experimental` mechanism?

[2019-10-14 16:18] VoVAllen commented on #33254
At https://github.com/tensorflow/tensorflow/blame/5278b8509e2cd1b2847315db46fc0f958824cfce/tensorflow/python/framework/ops.py#L709, numpy is zero-copyed from tf.

The next commit (https://github.com/tensorflow/tensorflow/commit/ca1b54a83ae352c41bb285f0a6ecace20f706ac1?diff=split), fixed that the `.cpu()` operation should not be recorded. To fix this, this author copied tensor to create a new one w

[2019-10-14 16:30] OverLordGoldDragon commented on #33340
[Relevant SO](https://stackoverflow.com/questions/58378374/why-does-keras-model-predict-slower-after-compile/58378941#58378941), and another minimal reproducible example:

[code]

**Outputs**:

[code]

That's a **30-fold slowdown**.

[2019-10-14 16:31] jvishnuvardhan commented on #32769
@BoysFight Just a reminder for a standalone code to reproduce the issue. Thanks!

[2019-10-14 16:33] drag05 commented on #25807
Yes @zubairahmed-ai I have seen your comments above. Anything else?

[2019-10-14 16:54] impjdi commented on #26297
@SanthoshRajendiran @soham24

Yes, MediaPipe probably uses all features of the GPU delegate and is a good place to start (I used to work on MediaPipe a couple years ago :D).  I agree that the GPU path is not super easy to read, but is still a decent place to start.  If you look at the `TfLiteInferenceCalculator`, first of all, you will see tons of `RunInGlContext` thing, that ensures you stay in t

[2019-10-14 16:54] Satwato commented on #33333
Just found another error on the same codelab
`if(logs.get('acc')>0.95):`
in the 8th slide, last chunk of code, in the myCallBack definition.
putting logs.get('acc') on tensorflow 2.0.0 returns an error
`TypeError: '>' not supported between instances of 'NoneType' and 'float'`
changing it to logs.get('accuracy') works.

[2019-10-14 16:58] mikeymezher commented on #33219
Thanks @georgesterpu, that recommendation worked. In retrospect, I understand why this step is needed, since regularization wouldn't effect the predict method of the model so loss due to regularization has to be added separately; but I couldn't find any documentation for this.

Might be worth mentioning/providing an example of this somewhere in the tf.keras.regularizers api-docs.

[2019-10-14 16:58] #33219 closed

[2019-10-14 16:58] jvishnuvardhan commented on #33216
@angeliand Are you willing to contribute through PR to update relevant codes? Thanks!

[2019-10-14 17:07] ihtisham0331 commented on #9469
i am also facing this issue .please suggest some solution

[2019-10-14 17:25] tb438 opened #33344 "Bugs in tf.data.experimental.make_csv_dataset"
I believe these are two bugs in tf.data.experimental.make_csv_dataset. I am using the examples from https://www.tensorflow.org/api_docs/python/tf/data/experimental/make_csv_dataset.

- OS Platform and Distribution: Ubuntu 19.04
- TensorFlow installed from (source or binary): binary via pip3
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.7.3
- CUDA/cuDNN

[2019-10-14 17:27] eustomaqua commented on #32814
Well, it seems like this issue goes away even though I'm not sure whether that I'm guessing is the right reason.
Previously, in the middle of models, I initialize some variables manually instead of using tf.global_variables_initializer.
Now, I only initialize those variables that are not initialized at the very time, and suddenly, it works, now the model wouldn't take the whole GPU memory, at leas

[2019-10-14 17:31] OverLordGoldDragon commented on #33340
Decided I'll investigate, though no promises - progress so far:

 - Narrowed down offending lines to be up to `target_tensors =` in `compile`
 - Calling `predict` after `model._set_optimizer` fails with `'Model' object has no attribute 'loss'`; in fact, from the error trace, `predict` appears redirected down `fit`'s route

[2019-10-14 17:33] tonandr commented on #25807
Yes, I checked @zubairahmed-ai's comments. In my case, after upgrading tensorflow to 2.0, this error happens. Still, tensorflow under 1.4 is imported correctly.

[2019-10-14 17:40] koenhelwegen opened #33345 "keras optimizer `apply_gradients` arg `grads_and_vars` has wrong type in documentation"
## URL(s) with the issue:

https://github.com/tensorflow/tensorflow/blob/516c98da7b7d8526c153827c426c675a4ece9543/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L414

## Description of issue (what needs changing):

`grads_and_vars` is documented as list but is actually passed as `zip object`.

### Clear description

This can be problematic when writing custom optimizers that iterate over the

[2019-10-14 17:46] MarkDaoust commented on #33185
Thanks for the report @abhilashshakti

I've sent a PR with a fix, but remember that you can too. The github edit button makes thios sort of thing easy to fix without ever leaving your browser.

[2019-10-14 17:53] amitpandey2194 commented on #32624
Hey, @jvishnuvardhan or @ezhulenev any update or suggestions on this?

[2019-10-14 17:54] MarkDaoust commented on #33099
Thanks @glw,

I'm sending a fix, but in the future remember that you can too. Github's edit button makes  PRs for simple fixes like this with out leaving your browser.

[2019-10-14 17:56] TKassis commented on #31253
Thanks, it seems multiple people have reported the issue already.

[2019-10-14 18:06] yongtang commented on #33344
@tb438 I think `7537296578` is larger than `int32`, you may have to change it to `int64` instead.

[2019-10-14 18:08] wookayin commented on #33316
Oh, that's interesting. Let me try to figure out how to reproduce it consistently.

[2019-10-14 18:12] Nephalen commented on #32950
May I ask if you tried optimizers like tf.keras.optimizers.Adam and tf.compat.v1.train.AdamOptimizer? I have a project showing different result using tf.compat.v1.train.AdamOptimizer.

[2019-10-14 18:13] abhilashshakti commented on #33185
Thanks for looking into the request.

[2019-10-14 18:14] dmitryr117 opened #33346 "Update Build instructions for Docker 19.03"
## Description of issue (what needs changing):

Docker Build from Source documentation seems to be out of date for docker 19.03.
For example there is no --runtime=nvidia flag available any more.

[2019-10-14 18:16] tb438 commented on #33344
Yep looks like that was the issue with int32, thanks

[2019-10-14 18:47] tessy1234 commented on #33266
I am running Intel® Core™ i7-820QM Processor (8M Cache, 1.73 GHz)
[https://www.google.at/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=2ahUKEwiGltvkoZzlAhU76KYKHXt0DiMQFjACegQIARAB&url=https%3A%2F%2Fark.intel.com%2Fcontent%2Fwww%2Fus%2Fen%2Fark%2Fproducts%2F43124%2Fintel-core-i7-820qm-processor-8m-cache-1-73-ghz.html&usg=AOvVaw1v8vs0mUnJQ1ZAU7OhpQJz](url)

According to this spec it s

[2019-10-14 18:53] RegaipKURT commented on #30191
it worked for me. thanks.

[2019-10-14 18:53] stpaulchuck commented on #9469
I gave up on TensorFlow, but now I have Win10 machines, Python 3.7, and a new mother board and CPU so I'll give it a try later. I'll start with V1.5 and work my way up as suggested earlier. Also I have VS2019. I need to see if I've got the older C++ Redist. installed. That seems to be a major issue for TF.

[2019-10-14 18:56] jvishnuvardhan commented on #33085
@srfrnk I think this is not related to model saving. I have tried with the simple and official tensorflow model, and I dont see any issue in loading, training, and saving multiple times. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/eaa7d0c57faa6016016164e9e72f56da/keras_model_saving_multipletimes.ipynb).

Having said that, I think this is more related to usage

[2019-10-14 19:04] zo7 opened #33347 "tf.data pipeline on TPU slows when upgrading from v1.12 -> v1.14"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 & 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below)

[2019-10-14 19:07] seanpmorgan opened #33348 "Variable creation fails in TF-Nightly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below):  > 2.1.0-dev20191012
- Python version: 3.6

**Describe the current behavior**
Variable creation currently f

[2019-10-14 19:34] tessy1234 commented on #33266
Link: Intel® Core™ i7-820QM Processor (8M Cache, 1.73 GHz)
[https://ark.intel.com/content/www/us/en/ark/products/43124/intel-core-i7-820qm-processor-8m-cache-1-73-ghz.html](url)

[2019-10-14 19:35] jvishnuvardhan commented on #33163
@raceee Could you provide a link to the web page wherer it mentions `va;_acc`? You could create a PR to update it. Thanks!

[2019-10-14 19:45] jvishnuvardhan commented on #33163
@raceee Thanks for finding this typo. I found the link [here](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint) to the web page where we need to update the typo. Thanks!

[2019-10-14 19:54] mrry commented on #33348
That's odd, because this code works in our CI. Which `protobuf` version are you using? It looks like `RepeatedCompositeContainer.append()` has been available since https://github.com/protocolbuffers/protobuf/commit/d8c2501b43c1b56e3efa74048a18f8ce06ba07fe , so we might need to bump a requirement.

[2019-10-14 20:15] jaingaurav commented on #33098
Unless I'm missing something 31.999998 is  when considering floating point precision. If you want further precision you can change the constants to be `dtype=tf.float64` and you'll get 32.0.

[2019-10-14 20:15] #33098 closed

[2019-10-14 20:24] seanpmorgan commented on #33348
Hmmm this is for the binary pip installed `tf-nightly` so not sure what version protobuf that is built with. Quick glance looks [like maybe 3.3.1](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/protobuf/protobuf_optimized_pip.sh#L17), but I'm not overly familiar with the toolchain for TF-Core.

As a data point... variable creation for today's MacOS nightly wheel wor

[2019-10-14 20:27] 1duo opened #33352 "No module named 'tensorflow.tools.graph_transforms' in TF2.0"
This functionality seems still [included](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#strip_unused_nodes) in TensorFlow 2.0, however, it raises an error when calling.

[code]

TensorFlow version:

[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and

[2019-10-14 20:35] UndeadKernel commented on #30427
To which patches are you referring @mihaimaruseac?

[2019-10-14 20:42] w4nderlust commented on #24496
Sorry should have been more precise, I'm reporting that without `config.gpu_options.allow_growth = True` it still doesn't work in my configuration with both 1.14 and 1.15rc3.

[2019-10-14 20:50] #33185 closed

[2019-10-14 20:53] mrry commented on #33348
For binaries, the PIP dependency is `'protobuf >= 3.6.1'`:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py#L64

Right enough, https://github.com/protocolbuffers/protobuf/commit/d8c2501b43c1b56e3efa74048a18f8ce06ba07fe only appears from 3.8.0 onwards.

If you do `pip install -U protobuf=3.8.0` in your Linux env, does that fix the problem?

[2019-10-14 20:54] haimat commented on #33135
I was able to solve this issue [as described here](https://stackoverflow.com/questions/58322147/how-to-generate-cnn-heatmaps-using-built-in-keras-in-tf2-0-tf-keras).

[2019-10-14 20:54] #33135 closed

[2019-10-14 20:55] mihaimaruseac commented on #30427
2.0.0-1 and 2.0.0-2 mentioned in above comments

`pip install tensorflow==2.0.0` should work (might need to upgrade pip to the latest version if you're on an old one, due to the change to be manylinux2010 compliant)

[2019-10-14 20:56] mihaimaruseac commented on #33266
If 1.14 worked then this is not an AVX issue

[2019-10-14 20:57] #32239 closed

[2019-10-14 20:59] hamatake commented on #29165
icupkg lets you change byte ordering for a given .dat file. See the manpage
for full instructions, but '-tb' creates big-endian ASCII output and '-te'
creates big-endian EBCDIC output.

On Mon, Oct 14, 2019 at 7:14 AM Namrata Bhave <notifications@github.com>
wrote:

[2019-10-14 21:05] seanpmorgan commented on #33348
Yup upgrade protobuf solves the issue:
https://colab.research.google.com/drive/11swg1klzul_ozOQZa61Wz-zoBJg25He3

Can we bump the requirements in `setup.py`

[2019-10-14 21:08] mrry commented on #33348
Thanks for confirming! I just sent an PR to bump the requirement.

[2019-10-14 21:09] omalleyt12 commented on #32239
@haimat Sorry for the late reply, in TF2.0 it should use whatever you compiled with, i.e. `model.compile(..., metrics=['acc'])` will log as "val_acc", otherwise it will log as "val_accuracy"

[2019-10-14 21:10] wookayin commented on #33316
@mihaimaruseac Did you by any chance try importing lazy_import?

[code]

[2019-10-14 21:21] vishalsubbiah opened #33354 "fix documentation for tf.batch_to_space"
https://www.tensorflow.org/api_docs/python/tf/batch_to_space

the documentation describing the steps is merged together and not clear.

Is the link to the source code correct?
yes

### Submit a pull request?
yes submitted a fix here: https://github.com/tensorflow/tensorflow/pull/33351

[2019-10-14 21:52] siyavash commented on #25349
@tanzhenyu it seems TRPO is rewritten. If there are any open issues that I can help with, I'd be very happy to help!

[2019-10-14 21:56] anj-s commented on #31665
This issue should be fixed with [commit](1348a03037e6ea79129024f318f8ae9b8f268df8). Please reopen if the issue still persists. Thanks!

[2019-10-14 21:56] #31665 closed

[2019-10-14 22:02] TheLampshady opened #33355 "Error when Saving Whole Model Keras Model with LSTM / Embedding with Checkpoints"
When running the model with the model checkpoint callback and adding `save_weights_only=True`, it works.

Install:
pip install tensorflow==2.0.0

Model:
[code]
Callback:
[code]
Error
[code]

[2019-10-14 22:06] gowthamkpr commented on #32948
Was able to reproduce this issue. Heres my [github gist](https://colab.sandbox.google.com/gist/gowthamkpr/4c32d6ba0d3126e73c2e41340a9c2309/untitled187.ipynb).

[2019-10-14 22:10] XiagenFeng commented on #33098
@jaingaurav Thanks for your insight!

After change from
x = tf.constant(3.0)
to
x = tf.constant(3.0, dtype=tf.float64)

The GPU result is exactly 32.0

[2019-10-14 22:10] #32983 closed

[2019-10-14 22:18] gowthamkpr commented on #33007
Closing this issue as it has been resolved. Please add additional comments and we can open the issue again. Thanks!

[2019-10-14 22:18] #33007 closed

[2019-10-14 22:18] mihaimaruseac commented on #33316
Tried, in 3 different ways

[code]

[2019-10-14 22:37] gowthamkpr commented on #33020
@LoicDagnas Can you try running it in google colab and let me know if the issue still persists. I guess the error is occuring due to thw windows platform. Thanks!

[2019-10-14 22:41] subhankar-ghosh opened #33356 "'tensorflow.python.keras.api._v1.keras.losses' has no attribute 'Reduction'"
I am using Huber loss implementation in tf.keras in tensorflow 1.14.0 as follows:

[code]

I am getting the error AttributeError: module 'tensorflow.python.keras.api._v1.keras.losses' has no attribute 'Reduction'

I have tried using tf.losses.Reduction, tf.compat.v2.losses.Reduction nothing seems to work.

Did tensorflow remove Reduction from tf.keras.losses, it is strange if they did so because t

[2019-10-14 22:46] andmax opened #33357 "Error when loading model with tf.keras.layers.Input() layer"
On TensorFlow 1.14 (OS Ubuntu 16.04), when I call tf.keras.models.load_model() to load an entire tf.Keras model (following https://www.tensorflow.org/tutorials/keras/save_and_load) if the model contains tf.keras.layers.Input(), the function fails with:

[code]

The minimal code to reproduce is:

[code]

If I replace (1) and (2) by (3) the load_model() function works.

[2019-10-14 22:49] MarkDaoust commented on #33049
Hi @AlexisBRENON,

We don't have anyone currently working on that doc, so if you want to make some updates, you're unlikely to run into any conflicts. It sounds like you're identified some areas for improvement. I would welcome a PR to tensorflow_docs with any fixes.

Ideally the first step would be to convert the markdown file to a notebook:

- I can setup testing for to avoid errors like #33048.

[2019-10-14 22:50] andmax commented on #30892
Thanks @jvishnuvardhan I followed your suggestion and created a specific issue:
https://github.com/tensorflow/tensorflow/issues/33357

[2019-10-14 23:10] gowthamkpr commented on #33088
@WildTangles Thank you! Was able to reproduce the issue. Here are my github giste [[1]](https://colab.sandbox.google.com/gist/gowthamkpr/6f64fee3d7335016ae2b9bcb2d76b461/bug_demo.ipynb) and [[2]](https://colab.sandbox.google.com/gist/gowthamkpr/f19f60a8d5954c18531dee8595d22ba0/bug_demo.ipynb)

[2019-10-14 23:25] Tetragramm commented on #33178
I am also seeing a memory leak.  No LSTM though, just TimeDistributed.  This model fails after printing 41 on a 2080Ti.  Batch Size is always 1, so that's not the problem.

    from tensorflow.keras.models import Model
    from tensorflow.keras.layers import *
    import tensorflow.keras.backend as K
    import numpy as np
    import tensorflow

    def BuildBaseModel(i):
        s = Conv1D(4, 11,

[2019-10-14 23:26] JoshEZiegler opened #33358 "Cannot train canned estimators in multiple estimator.train() calls when using tf.keras.optimizers or tf.optimizers"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- Platform

[2019-10-14 23:31] zo7 commented on #22994
Am also experiencing this on 1.14.0 but not 1.13.1

Removing the attributes it complains about with `remove_attribute(attribute_name=some_attr)` like suggested above gets it to work. Unclear whether it affects model output though...

[2019-10-15 00:01] OverLordGoldDragon commented on #33340
[Solved](https://stackoverflow.com/questions/58378374/why-does-keras-model-predict-slower-after-compile/58385156#58385156).

[2019-10-15 00:18] shalijiang opened #33359 "ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7
- TensorFlow installe

[2019-10-15 00:29] qlzh727 commented on #32889
I think this issue is very likely related to the self.states field  captured in the call() context, this leaked reference is used under multiple training context, which could cause the issue. Let me see how to walk around the issue.

[2019-10-15 00:33] qlzh727 commented on #32889
Btw, you probably shouldn't annotation the main function with tf.function since keras.fit() already convert the model into graph execution under the hood. The tf.function annotation is only useful for training function that handles tensor inputs (your main function doesn't take any tensor as inputs).

[2019-10-15 00:34] Tetragramm commented on #33178
So, does this line do what I think it does?
[https://github.com/tensorflow/tensorflow/blob/ed04c8639d53c284874240d58abba725865f454e/tensorflow/python/keras/layers/wrappers.py#L250](https://github.com/tensorflow/tensorflow/blob/ed04c8639d53c284874240d58abba725865f454e/tensorflow/python/keras/layers/wrappers.py#L250)

Because that looks like it's permanently storing the inputs in a map that never ge

[2019-10-15 00:40] bas-aarts opened #33360 "TensorFlow source cannot be compiled with -c dbg"
When compiling the TensorFlow sources (at 776b99925c1fe0d045b363f7437c21a5a9ce2357) with:
bazel build -c dbg -j 24 --config=opt //tensorflow/tools/pip_package:build_pip_package

it produces many errors like:
[code]
This started when the TF build moved to C++14 compilation. It works fine with C++11.
I distilled it down to the following piece of code:
[code]

some details:
- removing the "const" fro

[2019-10-15 00:47] Nephalen commented on #33323
There is another post mentioning the implementation of these two are different.

[2019-10-15 00:47] gowthamkpr commented on #33352
Similar to the issue #30746

Was able to reproduce this issue. Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/185f73a175e6b9fec45fd91a15d83830/untitled188.ipynb)

[2019-10-15 00:49] Nephalen commented on #33003
May I ask whether you try to run it in 1.15? For my project, the loss gets larger starting from Tensorflow 1.15.

[2019-10-15 00:53] hitlic commented on #32889
Thank you very much. Your explanation is very useful to me. It would be grateful if the issue were solved.

[2019-10-15 00:58] gowthamkpr commented on #33327
Try using the latest version of Tensorflow i.e., 1.14 or 1.15. If you are encounterning the same error. Please follow this [answer](https://github.com/tensorflow/tensorflow/issues/17386#issuecomment-479668684) and it should solve your issue.

[2019-10-15 01:02] gowthamkpr commented on #33335
@chayka As mentioned in the previous comment, you can refer to tensorflow_addons to find the same functions. Closing this issue as it has been resolved.

[2019-10-15 01:02] #33335 closed

[2019-10-15 01:43] sayakpaul opened #33361 "INFO level logs not coming in MirroredStrategy()"
Hi. I am on TensorFlow 2.0 and on my local Jupyter Notebook environment. I am following [this example](https://www.tensorflow.org/tutorials/distribute/keras). When I am running the accompanying notebook Colab, the INFO level logs are getting displayed. But when I am running local, the logs are not there (although locally I am running a slightly different code) and here it is:

[code]

Any hints as

[2019-10-15 01:50] freedomtan commented on #32038
I updated label_image to be GPU Delegate V2 compatible https://github.com/tensorflow/tensorflow/pull/33362

[2019-10-15 02:11] #33294 closed

[2019-10-15 02:22] shazhongcheng opened #33363 "An unbelievable error in TensorFlow2.0 tutorials/load_data/images !!!!!!!!!!!!!!!"
when i run the [tutorial](https://tensorflow.google.cn/tutorials/load_data/images?hl=en) in tensorflow2.0 , it run error in
[code]
the information is:
[code]

And i don`t know why?
I try download form the [github web](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/load_data/images.ipynb)

It also run error on the same place, i don't know why and i don't know how to fix it.

I wan

[2019-10-15 03:02] shazhongcheng commented on #33363
ok  after many times to try , i finall fix it.

i run it on windos,and shoud use '//' to cut path, but the  tutorial  is use ‘/’ on linux!!!!!!!

ok ok  i really do it!!!!  I am so happy!!!!

[2019-10-15 03:03] #33363 closed

[2019-10-15 03:05] rky0930 commented on #29476
If TF 1.14.0 `devel` image will not be provided, Can you share how to reproduce speed of 1.12.0-devel-gpu with TF 1.14.0-gpu ?
There is  a speed difference between `devel` and `not devel `image during training phase.
Although I don't develop from  source, I prefer to use 'devel' image for training
<img width="427" alt="tensorflow_dockerfile_steps_per_secs" src="https://user-images.githubuserconten

[2019-10-15 03:37] tb438 opened #33365 "No float64 support with batch normalization in Tensorflow 2.0?"
Stock Ubuntu 19.04 with Cuda 10.0, Tensorflow 2.0.0 installed via pip3, Python 3.7.3, GTX1060.

I have a float64 valued dataset with a simple conv2d network that includes tf.keras.layers.BatchNormalization() which is where the error is being thrown I think.

The first set of issues:
[code]
After setting tf.keras.backend.set_floatx('float64'), next set of errors:
[code]
So is there perhaps another

[2019-10-15 03:52] srfrnk commented on #33085
@jvishnuvardhan
Can you suggest a workaround?
As far as I understand both `tf.data.dataset` and `FeatureLayer` are still supported in TF2.0 am I missing something?
Should saving and loading a model using these not be consistent?

[2019-10-15 03:57] rharish101 commented on #28007
A modification of the earlier gist posted by @jvishnuvardhan causes the error to occur again. [Here](https://colab.research.google.com/gist/rharish101/23772d541af0c8144348aa1bd831c8b9/tf_28007_summary.ipynb) it is.

[2019-10-15 04:08] blairhan commented on #33346
yes. as stated [here](https://www.tensorflow.org/install/docker) the command needs to be changed.

docker < 19.03:
docker run --runtime=nvidia -it -w /tensorflow -v $PWD:/mnt -e HOST_PERMS="$(id -u):$(id -g)" \
    tensorflow/tensorflow:devel-gpu-py3 bash

docker >= 19.03:
docker run --gpus all -it -w /tensorflow -v $PWD:/mnt -e HOST_PERMS="$(id -u):$(id -g)" \
    tensorflow/tensorflow:devel-gpu-

[2019-10-15 04:48] yongtang commented on #33346
Added PR #33367 with docs updated.

[2019-10-15 04:50] yongtang commented on #33253
@t-kalinowski We will have to wait for the PR to be merged into master. Once it is in the master, it might be cherry-picked into release 1.15 or 2.0. Though given 1.15's release schedule, I would not count on this fix being picked up in 1.15.

[2019-10-15 05:03] ageron commented on #33297
Hi @rmothukuru ,
I looked at issue #33034 before filing this issue, I think it's a different problem. I am not using per-operation seeds in this issue.

[2019-10-15 05:21] ChouGS commented on #7483
What if I wish to apply functions that manipulate the shape of sparse tensors, like `tf.expand_dims()` and `tf.squeeze()`? It fails even if I have assigned a shape to my `tf.sparse_placeholder`.

[2019-10-15 05:39] lsgrep commented on #24815
@saxenasaurabh  Hi, can I take on this issue?

[2019-10-15 06:12] ravikyram commented on #33180
@cottrell
Can you please let us know is this the expected behavior in the attached [colab](https://colab.sandbox.google.com/gist/ravikyram/39c39a352dfea0cd9375a6b6235ce995/untitled252.ipynb#scrollTo=x89GS3WvYGAK). I am not seeing any warning message . Can you please elaborate the issue with the context. Thanks!

[2019-10-15 06:13] kbhute-ibm commented on #33338
Adding below tests which show same behavior:

//tensorflow/python/autograph/impl:api_py3_test
//tensorflow/python/autograph/operators:py_builtins_py3_test
//tensorflow/python/autograph/pyct/static_analysis:liveness_py3_test
//tensorflow/python/autograph/pyct/static_analysis:reaching_definitions_py3_test

[2019-10-15 06:14] oanush commented on #33357
@andmax ,
Hi, can you please try using running the code in latest versions TF-[1.15rc3](https://colab.sandbox.google.com/drive/1B4O7P309eEi6GFTVfbeVThapeUyClEF0#scrollTo=ZgGEb__5B6Fz) and also [2.0](https://colab.sandbox.google.com/gist/oanush/be5e0dab0dc5c67e013cf51e881835a9/2-0.ipynb) i didn't face any issue. kindly find the gists for the same.Thanks!

[2019-10-15 06:16] gadagashwini commented on #33204
@alexshade15, Can you post this issue in relevant repo for better and faster resolution. We can close this issue. Thanks!

[2019-10-15 06:17] lgggy commented on #29944
It seems that
[code]
otherwise, it will raise error that f_batch_tensorflow() missing 1 required positional argument: 'x' in the optimizer.minimize function.

[2019-10-15 06:27] venuswu opened #33369 "Dose the data division for multi-gpu destruct the accuracy?"
Data division for multi-gpu after tf1.11 seems to have the same shape of data across all gpus, which will result in a bigger variance of loss between different steps. For example, for the transformer model, when in one step, all the gpus are feeded with the data with length near 8, but in the next step, all the gpus are feeded with the data with length near 32, which will result in a bigger varian

[2019-10-15 06:36] ravikyram commented on #33344
@tb438

Can we close the issue since the query is been answered. Let us know. Thanks!

[2019-10-15 06:39] cottrell commented on #33180
I think you just need a few more calls to trigger the tracing warning (see more below).

The tracing warning is mererly *why* I was looking into this. The doubling of the tracing count is something I don't understand at this point. Could be a feature not sure.

[code]

[2019-10-15 06:53] oanush commented on #33347
@zo7 ,
Thank you for reporting, can you please provide complete code to replicate the above issue ?

[2019-10-15 07:31] DragonX081mk2 commented on #31609
I just fixed this problem by using tf 1.13.1 but not tf 1.14...

[2019-10-15 07:42] gadagashwini commented on #33245
@npuichigo, Will it be possible to provide the standalone code to replicate the reported issue. Thanks!

[2019-10-15 07:44] shashankprasanna commented on #31451
Same issue. tf 1.14, horovod training and running tensorboard only on rank 0.
Workaround that worked for me without disabling tensorboard, was to disable profiling on tensorboard:

`keras.callbacks.TensorBoard(log_dir=logdir, profile_batch=0)`

[2019-10-15 07:44] NickBear-star commented on #33232
After searcging for answers in the doc and on miscellaneous forum, I have to conclude that my model is not supposed to be executed eagerly. My model is defined in a function besed on the tensorflow.keras functional API.

[2019-10-15 07:44] #33232 closed

[2019-10-15 07:47] gadagashwini commented on #33319
@drag05, Tensorflow supports CUDA10.0. Please downgrade the CUDA version and check. Thanks!

[2019-10-15 07:49] oanush commented on #33340
@off99555 ,
Can you confirm if the issue is resolved?Thanks!

[2019-10-15 07:50] gadagashwini commented on #33320
@attendfov, Can you please test against latest tensorflow version 2.0.0 to see whether the issue still persists or not ?. `pip install -U tensorflow`. Thanks!

[2019-10-15 07:54] ixez commented on #25036
I borrow the solution from [here](https://stackoverflow.com/questions/55235212/model-summary-cant-print-output-shape-while-using-subclass-model) by adding a `model` method to infer the model explicitly.

The output shape is especially uncertain when with `Dense` layer as it depends on the input shape, so it needs to be inferred with a certain input shape.

[code]

[2019-10-15 07:55] shayantabatabaee commented on #33303
I made some changes in my model, I stack the outputs layer into one layer using tf.stack :
`outputs=tf.stack(digits, axis=1)`
It seems that now outputs order is same with my keras model but I have another issue.
this model will be used for OCR of credit card numbers, The accuracy of my keras model is about 98% and everything works fine , but although the outputs is constant now, my model finds the

[2019-10-15 07:59] gadagashwini commented on #33322
@Dream7-Kim, Please provide the standalone code and also tensorflow version. Please go through this [link](https://www.tensorflow.org/guide/distributed_training). Thanks!

[2019-10-15 07:59] AlexisBRENON commented on #33049
Ok, no problem, I'm on it!

I am sorry, I do not understand your first point. What do you mean by "I can setup testing for to avoid errors like #33048"?

I will convert the current file to a notebook, just some questions:

* Is there some guidelines on coding style? As it is a guide/tutorial notebook I would write many comments, but maybe it infringes some coding style rules
* Is there some public

[2019-10-15 08:03] oanush commented on #33337
@Stick-To ,
Thanks for reporting the issue, Can you share standalone code to reproduce the issue?

[2019-10-15 08:15] PolinaDemochkina commented on #29674
@jvishnuvardhan I am not using TFLite, but I guess the issue has to do with the LSTM layer in my model.

Here's the code to reproduce the issue:
[code]

[2019-10-15 08:22] rishabhsahrawat commented on #33136
Hello @oanush , @gowthamkpr , is there anyone looking on this issue?. Please update!
Thank you.

[2019-10-15 08:32] joehoeller commented on #33161
Any updates?

[2019-10-15 08:35] gadagashwini commented on #33345
@koenhelwegen, Since the associated PR has been merged, are you happy to close if no issue persists. Thanks!

[2019-10-15 08:43] oanush commented on #33323
Issue replicating for TF-2.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/ec7b69ab776f7d708a0d8de94900c6c7/33323.ipynb) of colab.Thanks!

[2019-10-15 08:43] chayka commented on #33335
Thank you guys a lot! Could be a nice idea to leave a note in tf.contrib.* branch docs that some functionality is not dropped, but could be found somewhere else. Spent quite some time looking for it and still missed it. But anyway, thanks for TF2.0, great job!

[2019-10-15 08:46] mbch commented on #33183
I have two MacBook Pro running Catalina - one installation was successful - the other one not. The successful one is an inplace upgrade of the OS, so there is ton's of old stuff like Xcode, brew, .... the not successful one is a clean install, no Xocde, no brew, but Developer Tools installed. I used the same commands as harrygov plus I added
pip install --upgrade pip
pip install --upgrade setup to

[2019-10-15 08:56] ravikyram commented on #33328
@ucasiggcas
Can you please let us know the Tensorflow version you are using?.I have tried on colab with TF version 1.15.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/bf3ed878169513cdf1ee4e4fc4269bc5/untitled270.ipynb). Thanks!

[2019-10-15 08:57] lyraw opened #33370 "Compiling Tensorflow Lite on Arm"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or b

[2019-10-15 09:00] koenhelwegen commented on #33345
Hi, thanks for taking this up. PR is in a separate repo where the change from `list` to `zip object` resulted in a bug in a custom optimizer. The TF documentation is still incorrect.

[2019-10-15 09:06] ucasiggcas commented on #33328
@ravikyram
the tf version is 1.14.0, and installed with
`pip install tensorflow-gpu`

[2019-10-15 09:12] oanush commented on #33251
@VitaMusic ,
Can you please provide `./configure ` output? also provide more information on sequence of commands / steps that was followed before facing the issue. Thanks!

[2019-10-15 09:21] owainkenwayucl commented on #32776
Ok, that's weird - our CUDA includes are also under the sym-link and we don't get that problem.  What error do you get?

[2019-10-15 09:31] gadagashwini commented on #33355
@TheLampshady, Please provide the standalone code to replicate the reported issue. Thanks!

[2019-10-15 09:40] gadagashwini commented on #33223
@yasushi-saito, I tried executing your code on colab with Tensorflow 2.0.0, it resulted in few warning messages but no errors. Please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/578b0867653db57f09480f9f52c25816/untitled198.ipynb). Thanks!

[2019-10-15 09:41] oanush commented on #33247
Issue replicating for TF-2.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/4a4201abcbe95c5eb2e19bc5d3f5bde1/33247.ipynb) of colab.Thanks!

[2019-10-15 09:41] mgarbade commented on #32330
This is not fixing it. I did not change the thread or anything. I just removed the switch-case, so the threads should be the same as before. Anyone else dealing with the same problem?

[2019-10-15 09:46] rmothukuru commented on #33297
Could reproduce the issue with TF Version 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/faae8f0424cd0bcfcee29854140cab8c/random-seeds-in-tf-2-0.ipynb).

[2019-10-15 09:47] mgarbade commented on #32330
Also strange: If I add a `SystemClock.sleep(500);` after the call for initializing tflite and before running inference, it doesn't crash anymore. This hints to the fact, that the "thread" is not the problem at all.

Rather it seems that the system is not yet ready for running the classifier, although the "classifier != null" check passes successfully.

Is there a way to tell, when exactly the init

[2019-10-15 09:52] beihaifusang commented on #24816
Better not. Instead, you could try to do multiple concat instead of a huge concat. (yes, that's ugly)

[2019-10-15 09:56] oanush commented on #33358
@JoshEZiegler ,
Hi, i tried running the given gist for TF-2.0 and 2.0rc1 i did not face any error. Can you provide gist of colab where you are facing the issue ? Thanks!

[2019-10-15 09:59] ravikyram commented on #33317
@kyimin11

As per my understanding you have installed TF 2.0.0. But you want to install previous TF versions.Please, let us know where exactly you are facing the issue with tensorflow. It will be great if you share  simple standalone code, then it is easy for localizing the issue faster. Thanks again.!

[2019-10-15 10:01] ravikyram commented on #33252
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-10-15 10:01] JoaoLages commented on #30521
Solved!
`self.model = tf.keras.models.load_model(model_file, custom_objects={'tf': tf}, compile=False)` - not able to use the loss function but works for prediction

[2019-10-15 10:03] LoicDagnas commented on #33020
Hello @gowthamkpr,
Thank you for helping me!

Actually I have, more or less, identified the problem. It sounds to come from my use of `Dataset.interleave`. Here is a new minimal example which fails both in Windows and google Colab (not silently this time):

[code]
with Stack Trace:
[code]

Please not that commenting the interleave part, everything is ok.

[2019-10-15 10:12] ravikyram commented on #33321
@whhu
I believe the code provided in Stack overflow is the reproducible code with TF version 1.13. Please, confirm.Thanks!

[2019-10-15 10:14] oanush commented on #33244
Issue replicating for the given gist when tried using model.summary(), @Sorooshi can you also provide working link for your custom model as the provided link is not working.Thanks!

[2019-10-15 10:16] oanush commented on #32762
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-15 10:16] #32762 closed

[2019-10-15 10:17] oanush commented on #32832
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-15 10:17] #32832 closed

[2019-10-15 10:22] gadagashwini commented on #33255
@arunumd, Tensorflow supports manual device placement and limiting gpu memory growth. Please refer this link. Please let us know if that helps. Thanks!

[2019-10-15 10:36] nolanding commented on #32762
I was using python 2 and found that in Windows on python 2 tensor flow does not supports.

[2019-10-15 10:40] njellinas opened #33371 "How to make a custom Model with a stateful LSTM"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): The Decoder part in the official example: https://www.tensorflow.org/tutorials/text/nmt_with_attention
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0
- Py

[2019-10-15 10:42] ravikyram commented on #33250
I have tried on Jupyter notebook with TF version 2.0  and was able to reproduce the issue.Please, find the files in the attachment. Thanks!
[test.tar.gz](https://github.com/tensorflow/tensorflow/files/3728768/test.tar.gz)

[2019-10-15 10:50] oanush commented on #33242
@im-ranu ,
Can you provide documentation link where the issue is being faced ?Thanks!

[2019-10-15 10:51] tessy1234 commented on #33266
You are saying hardware requirements for tensorflow 2.0 cpu are satisfied!
This brings me back to the original question.
When tensorflow 1.14 cpu is working, why is tensorflow 2.0 cpu not working?

[2019-10-15 10:53] oanush commented on #33305
@Stick-To ,
Hi, I see that there are entities like `input, num_anchors, name` code for which are not given, can you provide the complete code for same ?

[2019-10-15 10:54] gadagashwini commented on #33203
@sonfiree, Please provide more information on reproducing the issue. I cloned your repo but there is no description for how to use the repo. Thanks!

[2019-10-15 10:57] oanush commented on #33178
@algrmur ,
Any update on the issue ? Thanks!

[2019-10-15 10:59] ravikyram commented on #33280
@goldbalance
Thanks for the platform details.Please, provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-10-15 11:00] oanush commented on #33309
I was able to replicate the issue in local. Thanks!

[2019-10-15 11:03] rmothukuru commented on #33247
@fhausmann,
The error disappears if `dropout=0` or if `layers.Dense` instead of `layers.GRU`. The link, https://www.tensorflow.org/guide/keras/save_and_serialize, provided by you doesn't demonstrate on how to Save the Model with `layers.GRU`.

Can you please refer [Image_Captioning_Tutorial](https://www.tensorflow.org/tutorials/text/image_captioning), [Text_Generation_Tutorial](https://www.tensorf

[2019-10-15 11:16] oanush commented on #33191
@ares5221 ,
As some apis are removed or moved to different tf packages like `contrib` is removed in TF 2.0. The same code might not run in TF 1.X, please modify the code according to TF versions and try running.

[2019-10-15 11:19] Sorooshi commented on #33244
Sorry for the inconvenience, (I mistakenly removed it from my repo) Please find it [here](https://github.com/Sorooshi/ML4DC/blob/master/my_ope.ipynb).

Please let me know if it doesn't work

[2019-10-15 11:30] grwlf commented on #25239
Hi, I see the same error in current r2.0 release.

I would suggest to highlight the fact that `examples/android` is related to deprecated TensorFlow Mobile project. It is not clear from the documentation.

Could you please specify where can I find TFLite examples in v2.0 ?

[2019-10-15 11:36] gargn commented on #33302
An `Exit` op means that this graph has control flow. TensorFlow Lite doesn't support control flow generated by TensorFlow 1.X so this functionality is not expected to work. We are working on supporting control flow 2.0 so please regenerate your graph in 2.0 if you want to run it using TenosrFlow Lite.

[2019-10-15 11:57] off99555 commented on #33340
It does not seem to me that it is resolved. It's more like we know how the issue occurs but we don't have a solution, just workaround.
In this case, should I close the issue or keep it open?

[2019-10-15 11:59] fhausmann commented on #33247
@rmothukuru Thanks for your answer.
The error also disappers if 'activation' is not set and yes the link is maybe a bit missleading, since the example there is for Dense layer only. However, I thought this was a good minimal working example also with GRU.
I had a look into your links, but unfortunately non of them demonstrate how to save a model with GRU layer in the SavedModel format.

I tried fo

[2019-10-15 12:01] andmax commented on #33357
Hi @oanush , I was able to run your gist 2.0 successfully but could not access the 1.15rc3.  But my question is: this bug is to be considered solved in TF 1.15 and 2.0?  So I should just upgrade from TF 1.14.

[2019-10-15 12:01] oanush commented on #32875
@hagianga21 ,
Any update on the issue ? thanks!

[2019-10-15 12:01] mdanatg commented on #33297
@alextp @wangpengmit FYI

Unfortunately, this is a known issue of `tf.random.seed`. We'll fix the documentation to help avoid the issue, and I'll post an example for how the original example can be updated so that it consistently works in `tf.function` as well..

[2019-10-15 12:03] fhausmann commented on #33247
Maybe related to #33355 ?

[2019-10-15 12:04] andmax commented on #31451
Hi @shashankprasanna  help me understand this profile_batch=0 option: does it mean the tensorboard will not follow the training (when you say "disable profiling")?  Then why should we use the tensorboard callback in the first place?  For me it seems that using profile_batch=0 is the same as not using the tensorboard callback at all.

[2019-10-15 12:04] algrmur commented on #33178
Hi oanush,

I tried running a reduced model on a very small batch size (16) and it ran longer than it did last time but there was still a considerable increase of objects in memory on each training loop (a few hundred at each iteration). It just made a bit more space for more epochs to run, but then ran into OOM errors at a later point.

I think Tetragramm (above) is having the same issue and furt

[2019-10-15 12:07] oanush commented on #33357
@andmax ,
Thank you checking on that, i have updated Tf-1.15rc3 gist, yes you can just upgrade to latest version 1.15rc3.

[2019-10-15 12:08] #33253 closed

[2019-10-15 12:20] rmothukuru commented on #33250
@KLzC,
Can you please refer to [Github Issue 1](https://github.com/keras-team/keras/issues/6462) and [Github  Issue 2](https://github.com/keras-team/keras/issues/2397) and this [Stack Overflow Issue](https://stackoverflow.com/questions/47115946/tensor-is-not-an-element-of-this-graph) and let us know if it helps. Thanks!

[2019-10-15 12:34] #33337 closed

[2019-10-15 12:38] tensorflowbutler commented on #29937
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-15 12:38] tensorflowbutler commented on #32458
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-15 12:38] tensorflowbutler commented on #32894
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-15 12:40] hamlatzis commented on #23940
@jdduke regarding https://github.com/tensorflow/tensorflow/issues/23940#issuecomment-541168279 I've asked my manager regarding your request and I'm waiting for his reply.

In the mean time I see there is a similar open issue https://github.com/tensorflow/tensorflow/issues/22377

[2019-10-15 12:49] #33357 closed

[2019-10-15 12:49] rmothukuru commented on #33247
@fhausmann,
Model is Saved Successfully if you replace `model.save('model',save_format="tf")` with `model.save('model.h5')` . Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/72984b3a326970c85edb8f03312cb199/33247.ipynb).

[2019-10-15 12:51] gadagashwini commented on #33241
@ucasiggcas, Is this similar to [#33239](https://github.com/tensorflow/tensorflow/issues/33239). Thanks!

[2019-10-15 13:03] herbakamil commented on #16545
@ymodak this issue occurs in TF 1.14
at least when using this set of transforms:
[code]
after removing fold_constants from this list rename doesn't occur.

I will solve it by manual rename of nodes in generated graph but it doesn't solve the problem for the other users.

[2019-10-15 13:03] rmothukuru commented on #33355
@TheLampshady,
The error occurs when you try Saving the Model in a Folder, like `model.save('model')`. Model is Saved Successfully if you use the code, `model.save('model.h5')`. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/db7d5732ecad90087382e76cce4345d7/text_generation.ipynb).

Please refer the similar issue, #33247 for more information.

[2019-10-15 13:05] saintthor commented on #33236
unfortunately, the error comes back.

[2019-10-15 13:06] fhausmann commented on #33247
Yes, this probably solves the issue for most people, but its a different format , binary HDF5 vs. SavedModel.

[2019-10-15 13:14] kazimuth opened #33373 "tf.reduce_mean gives incorrect results on CPU"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-10-15 13:15] amitport opened #33374 "Python3.8 support"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- Mobile device (e.

[2019-10-15 13:16] VitaMusic commented on #33251
please find here :

$ ./configure
WARNING: --batch mode is deprecated. Please instead explicitly shut down
your Bazel server using the command "bazel shutdown".
You have bazel 0.29.1 installed.
Please specify the location of python. [Default is /usr/bin/python]:

Found possible Python library paths:
  /opt/anaconda3/lib/python3.6/site-packages
Please input the desired Python library path to use.

[2019-10-15 13:31] DawyD opened #33375 "TF2.0 ptxas ignores PATH"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux x86_64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0
- Python version: 3.7.4
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Comp

[2019-10-15 13:32] rggjan opened #33376 "importing tensorflow inside a function/object causes a memory leak"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 10.15
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): pip install tensorflow==1.14
- TensorFlow version (use comm

[2019-10-15 13:35] saintthor commented on #33236
it turns ok after restarting. it seems the mounted path turns unavailable after some time.

[2019-10-15 13:35] #33236 closed

[2019-10-15 13:44] ravikyram commented on #32814
Glad to know that it worked.Closing the issue since its resolved. Thanks!

[2019-10-15 13:44] #32814 closed

[2019-10-15 13:46] OverLordGoldDragon commented on #33340
@off99555 I'd agree to request a documentation improvement from TensorFlow to notify users of this, but I doubt any code-level changes will be implemented to address this as it'd require revamping a massive portion of TF graph. It's up to the user to be aware of functionality differences and adjust accordingly - but admittedly, while this isn't the only issue where a workaround is required, other

[2019-10-15 14:14] namrata-ibm commented on #29165
@hamatake, I followed below steps to recreate the data for big endian system:
1. built and installed ICU v64.2
2. Generated `icudt64b_dat.c` as per steps in https://github.com/tensorflow/tensorflow/blob/master/third_party/icu/data/BUILD.bazel (did not give any Data filter file here)
3. Note, the above build generated `icudt64b.dat` for me( **single letter following the version number in the file n

[2019-10-15 14:19] tb438 commented on #33344
Sure thing, thanks

[2019-10-15 14:19] #33344 closed

[2019-10-15 14:25] christosiraklis opened #33378 "Problem with Keras, Tensorflow"
**System information**
- Windows 10
- TensorFlow installed from anaconda
- Python version: 3.7
- Installed using conda
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory: Nvidia GeForce GTX 260, Graphics memory 3GB

Code:

from keras.models import Sequential

Error:

Using TensorFlow backend.
ERROR:root:Intern

[2019-10-15 14:33] carlthome commented on #31365
This problem persists in 2.0! Is the only way of getting out summaries to TensorBoard with tf.keras to avoid the functional API and use model subclassing instead?

The subclassing API has subpar support in other parts of the TensorFlow ecosystem so I'd prefer to stick with the functional API if possible.

[2019-10-15 14:33] zjplab opened #33379 "Tensorflow 1.13.1 cannot detect my GPUs"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

[code]
- OS P

[2019-10-15 14:35] rmothukuru commented on #33247
@fhausmann,
In your case, you can either use `keras.models.save_model(model=model, filepath='model')` or
`model.save('model')`. Please let me know if it works. Thanks!

[2019-10-15 14:42] rmothukuru commented on #33247
There is an issue, probably with the argument, `save_format='tf'` because, the code, `model.save('model', save_format='tf')` is resulting in the Error mentioned by you.

[2019-10-15 14:42] fhausmann opened #33380 "get_config missing from AdditiveAttention"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0
- Python versio

[2019-10-15 14:45] glw commented on #33099
@MarkDaoust - ahh I wasnt aware of that. Thanks! I will do that for future minor issues.

[2019-10-15 14:53] Vooblin opened #33381 "[TFLite, Converter] Converting error on unusual dense layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): G

[2019-10-15 14:53] drag05 commented on #33319
@gadagashwini Thank you for your patience!

Having reverted to Miniconda3, I kept CUDA v.10.1 on and installed tensorflow-gpu v. 2.0.0 using pip with the following results:

`reticulate::py_config()`

_python:         C:\Users\Dragos\Miniconda3\envs\tensorflow\python.exe
libpython:      C:/Users/Dragos/Miniconda3/envs/tensorflow/python36.dll
pythonhome:     C:\Users\Dragos\Miniconda3\envs\tensorfl

[2019-10-15 14:59] fhausmann commented on #33247
@rmothukuru
I tried both on your gist and both give me the error. Only the 'model.h5' works in my hands

[2019-10-15 15:06] BluePaladin opened #33382 "Bugs about dequantize operator calculation formula in SCALED mode"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-10-15 15:09] StefanBelgica commented on #26806
Any update on this issue? I have a similar problem with running depthwise convolutions on a Raspberry Pi.

[2019-10-15 15:13] scharron opened #33383 "Desynchronized zipped datasets when using tf.data.experimental.ignore_errors"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platf

[2019-10-15 15:15] steph-en-m commented on #30994
@michelucci have you achieved any luck with this?

[2019-10-15 15:18] jvishnuvardhan commented on #32894
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-15 15:32] ElPapi42 commented on #30533
I think this was solved, but i dont have time to check right now. The project where this appeared is in an unusable state right now, must work on it for test.

[2019-10-15 15:56] mihaimaruseac commented on #33266
The best way forward would be to identify which DLL fails to load

[2019-10-15 15:57] mihaimaruseac commented on #33183
So this seems to be an issue with the installed Python. Can you compare Python version on both systems, including all version metadata?

[code]

[2019-10-15 16:01] mihaimaruseac commented on #33378
Does your CPU support AVX?

[2019-10-15 16:03] guptapriya commented on #33369
Hi,

Thank you for your question. Can you elaborate on your example? Why is the
data length 8 vs 32 in subsequent steps? Do you mean you have dynamic input
per step?

We have been able to train transformer to the state of art accuracy with
2.0 and 1.15, but we havent tested with 1.11. can you share your setup?
Which API are you you using, what are the batch sizes etc?

On Tue, Oct 15, 2019, 2:32 A

[2019-10-15 16:04] raminia commented on #33085
I can verify that I have the same issue using a model with DenseFeatures with feature_columns.

[2019-10-15 16:06] mihaimaruseac commented on #33203
Duplicate of #33178 (in lack of reproducer being provided here, OP pointed to duplicate)

[2019-10-15 16:06] #33203 closed

[2019-10-15 16:06] jvishnuvardhan commented on #31609
@DragonX081mk2 Can you try `TF1.15.0rc3` and let us know whether the issue persists with the latest version. As `TF1.14` was not built properly, there were lot of issues when using it. Hence, TF team released new version `TF1.15`. Thanks!

[2019-10-15 16:07] mihaimaruseac commented on #33305
Also, can you please use proper markdown format around the code so that it can be read?

[2019-10-15 16:13] jvishnuvardhan commented on #29674
@PolinaDemochkina Your issues is different from original issue (is with TF lite). Can you please post a new issue with details, platform, TF version and standalone code (as above). Thanks!

[2019-10-15 16:26] mbch commented on #33183
I compared native and virtual environments ... they look very similar ... BUT ... the successful machine is using Clang 10.0.1 whereas the other one is using 11.0.0

details:

Catalina - Successful installation (Native)
===========================================
$ python

WARNING: Python 2.7 is not recommended.
This version is included in macOS for compatibility with legacy software.
Future versi

[2019-10-15 16:34] christosiraklis commented on #33378
Probably not. It's quite an old CPU, Intel Core 2 Quad Q9400. Could you please clarify what the problem is particularly? I tried to install keras several times but it hasn't worked yet.

[2019-10-15 16:40] MarkDaoust commented on #33049
Thanks Alexis,

I just mean that since notebooks are executable we run them as tests, and get warnings when they break. That's something I will take care of, If this file gets converted to a notebook.

There's some advice in our notebook template:

https://github.com/tensorflow/docs/blob/master/tools/templates/notebook.ipynb
https://colab.sandbox.google.com/github/tensorflow/docs/blob/master/tools

[2019-10-15 16:47] jvishnuvardhan commented on #28007
@ageron I couldnot reproduce your issue with `TF2.0-gpu`, `tf-nightly` and `TF1.15.0rc3`. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/3cb45886c985045841ed7c45e899eaaa/untitled564.ipynb) is the gist with TF1.15.0rc3. Could you try the colab and let us know. Thanks!

[2019-10-15 16:50] hamatake commented on #29165
If the data package already has 'b' in the name than it should be
appropriate for big-endian. You shouldn't need icupkg in that case. You are
correct to follow the new (post v64) instructions for building icu data.
Did you modify the filename and symbol names properly when appending
to icudt64b_dat.c (the output of genccode)? Did you gzip/split the .c file
and rename it to match the pattern icu_co

[2019-10-15 16:51] zo7 commented on #33347
Sure, I can see if I can create an example to replicate the issue sometime today. Didn't want to post company code here.

[2019-10-15 16:53] jubjamie commented on #33378
The installed package will have been compiled for use with AVX. If you don't have AVX then you'll need to compile yourself for your machine.

See #19584 and #33279.

[2019-10-15 16:53] jvishnuvardhan commented on #30533
I am closing the issue as it was resolved. Please feel free to open it if the issue persists again. Thanks!

[2019-10-15 16:53] #30533 closed

[2019-10-15 16:55] fairy-of-9 opened #33385 "hub.Module("https://tfhub.dev/google/elmo/2")` doesn't work."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-15 17:02] haozha111 commented on #33239
Hi,

We are working on support of RNN/LSTM now and hopefully we will release a new converter soon. The new converter will be able to convert RNN models. Please stay tuned!

[2019-10-15 17:10] #33379 closed

[2019-10-15 17:21] gowthamkpr commented on #33143
@racinmat Can you please provide a github gist or a colab notebook to reproduce the issue. Thanks!

[2019-10-15 17:24] gowthamkpr commented on #33374
As you can refer from this [page](https://www.tensorflow.org/install/pip) Tensorflow is only supported till python 3.7 as of now.

[2019-10-15 17:24] rharish101 commented on #28007
@jvishnuvardhan I tried the notebook you posted, and it works because the notebook's runtime isn't using the GPU. When changing the runtime to a GPU-accelerated one, it fails with the error @ageron posted.

[2019-10-15 17:39] gowthamkpr commented on #33385
@fairy-of-9 I am closing this issue as it has already been updated [here](https://github.com/tensorflow/hub/issues/385) and it belongs to tensorflow/hub repo and you will get an expedited answer. Thanks!

[2019-10-15 17:39] #33385 closed

[2019-10-15 17:47] gowthamkpr commented on #32993
@yangzhuoran Are you still facing the issue?

[2019-10-15 17:48] angerson commented on #33226
@BobyMCbobs, can you provide some command line examples to demonstrate this? We host many images, and I don't know which one you mean.

[2019-10-15 17:50] jvishnuvardhan commented on #32980
@jiawei6636 Anything under `tf.python.*` is private, intended for development only, rather than public use. Importing from tensorflow.python or any other modules (including import tensorflow_core...) is not supported, and can break unannounced. For full response on similar issue, you can check [here](https://github.com/tensorflow/tensorflow/issues/33075#issuecomment-539070546).

I am closing the i

[2019-10-15 17:50] #32980 closed

[2019-10-15 17:51] tgpsantos opened #33387 "[TF 2.0] Custom objects"
Hello all,

I have a keras file (.hdf5) that I've saved using TF 1.14 with custom operations (eg loss function).
I recently upgraded to Tensorflow 2.0 and I was trying to convert this model to .tflite but I've seen that there is no 'custom_objects' argument.
Is this an unnecessary argument had I saved the .hdf5 using the latest TF 2.0? Or is there any other new way to include this custom object wh

[2019-10-15 17:54] gowthamkpr commented on #33176
@haolujun Can you please provide some reproducible code for us to expedite the process. Thanks!

[2019-10-15 17:54] angerson commented on #32997
Thanks for your report and especially for attaching the command logs. Can you try and replicate this at `master`, please? (`master` is newer than `r2.0`, but has not had the default flags switched over yet, IIRC. If there were any bug fixes that would have helped this, they will have been made to `master`).

[2019-10-15 17:57] angerson commented on #32906
Thanks for your report and the `./configure` log. Can you attach a complete log of replicating this at `master`, please?

[2019-10-15 17:58] familyguy12 commented on #33336
Hi, I would like to handle this and add the feature. Please let me know if no one is working on it.

[2019-10-15 18:05] ZilongZhang commented on #14328
Are you kidding me? How on earth this is not a bug??????

[2019-10-15 18:06] namrata-ibm commented on #29165
@hamatake, yes, ran steps as listed below in icu4c/source :
[code]
This created similar files currently present under data folder. Also tried the same with master which generated icudt66b.dat but that did not work either.

[2019-10-15 18:07] andrisole92 commented on #26912
That's clearly an issue, why close?

[2019-10-15 18:09] yangzhuoran commented on #32993
Yes, But I can find .pyc file in __pycache__ folder. I can run .pyc using python command. I’m thinking the reason of this situation.

[2019-10-15 18:09] angerson commented on #32775
Can you try building again with the current maximum supported bazel version, `0.26` (from `configure.py`)? If the Arch package is too new, you may be able to use Bazelisk: https://github.com/bazelbuild/bazelisk

[2019-10-15 18:17] jvishnuvardhan commented on #28007
@rharish101 Thanks! Got it. This is not resolved. Thanks!

[2019-10-15 18:36] sourcecode369 opened #33388 "TypeError: reduce() missing 1 required positional argument: 'per_replica_value'"
[code]

Its one of the code snippets from the distributed strategy guide for custom training loops.
Im getting this,

TypeError:TypeError: reduce() missing 1 required positional argument: 'per_replica_value'

but then when I ran the same code today morning it was working perfectly.

[2019-10-15 18:37] JoshEZiegler commented on #33358
I'm not sure what you mean by a gist of colab. The gist I provided was saved from colab and shows to me a link to open the ipynb in colab. It may have been still processing something when you saw it? I'm a bit unfamiliar with particulars of colab/gists so I could certainly be making a mistake.

After checking the traceback, it appears that the issue I had occurred with 2.0rc2 so this could be spec

[2019-10-15 18:43] arthurflor23 commented on #33178
I had this issue in version 2.0.0.

Beta1 version is working and running faster per epoch.

[2019-10-15 18:58] BobyMCbobs commented on #33226
OK, this is good to know. I'll close the issue.

[2019-10-15 18:58] #33226 closed

[2019-10-15 19:08] JoshEZiegler commented on #33358
I tried versions 2.0.0-rc1 and 2.0.0 with this same ipynb in colab but they both gave me the same error.

Changing to tf.optimizers rather than keras does not change it either.

[2019-10-15 19:12] steph-en-m opened #33389 "[TF2.0] tf.make_ndarray() not functional"
* environment: colab
* python3
* TF 2.0

Running ```tf.make_ndarray()``` throws an attribute error ```AttributeError: 'tensorflow.python.framework.ops.EagerTensor' object has no attribute 'tensor_shape' ```

As per the documentation [here](https://www.tensorflow.org/api_docs/python/tf/make_ndarray)
it's supposed to create a numpy array with the same shape and content as the input tensor.
I've also

[2019-10-15 19:14] AlexisBRENON commented on #33049
Thanks for all the advices.

For the moment I mainly copied the base document to a notebook, just updating the code blocks to make them run.

While presenting an example with TFRecord is interesting to showcase a real use case it is hard to use it to effectively show improvements with `prefetch`, `interleave`, `cache` and co. So I tried to build some artificial example which can be crafted to exhi

[2019-10-15 19:16] drag05 commented on #33319
@gadagashwini: I forgot to mention that now I get the following message although I have CUDA 10.1 installed; for example running the Reuters dataset, I get:

[code]
_2019-10-15 15:10:53.468098: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_100.dll_

It seems to be working. I will close this issue but please feel free to comment!

[2019-10-15 19:22] dmitryr117 opened #33390 "Docker Image with a pre-built Tensorflow-gpu with a compute capability 3.0 GPUs"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0

**Describe the feature and the current behavior/state

[2019-10-15 19:22] nbro opened #33391 "TensorFlow documentation should be associated with the applicable specific versions of TensorFlow"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/guide/gpu

## Description of issue (what needs changing):

I was reading this documentation page https://www.tensorflow.org/guide/gpu, but it is **unclear** which TensorFlow version the documentation applies to. Especially now that a stable version of TF 2 has been released, it is i

[2019-10-15 19:27] amitport commented on #33374
'awaiting response' from me?

In any case, I would prefer subscribe to an issue than wait for the web page update.

[2019-10-15 19:35] yongtang commented on #30172
@mohapatras I added encode_bmp in tensorflow-io PR https://github.com/tensorflow/io/pull/539, you can take a look. If the API is stable enough later on we can push to TensorFlow core repo if needed.

[2019-10-15 19:45] tiagoakle opened #33392 "SEGBUS on tf.data.Dataset when generating large numpy arrays"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-15 19:45] #33392 closed

[2019-10-15 19:46] tiagoakle commented on #33392
opened incomplete by mistake

[2019-10-15 19:58] superbobry commented on #33254
NumPy arrays are mutable whereas tensors aren't, therefore `.numpy()` has to copy to avoid breaking the runtime's invariants. In theory, a NumPy array could be flagged as non-writable (via `a.flags["WRITABLE"]`), but unfortunately a lot of internal (and I assume external) users already rely on the mutability of `.numpy()`.

Two caveats:

Tensor supports the buffer interface, so you could get a rea

[2019-10-15 20:06] gosha1128 commented on #33158
So, I ended up switching over to Python 3 ( Conda based ) and it looks like
everything worked.

I would be happy to try to debug the Python 2 issue I had again, and report
back, but I'll need to redo the installation from scratch.

I am renting my own GCP instance to do this - and its pretty expensive to
run a tensorflow build from scratch because it takes so long.

Can you recommend any free or c

[2019-10-15 20:10] ammu11 opened #33393 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: AVERAGE_POOL_2D, CONCATENATION, CONV_2D, FULLY_CONNECTED, MAX_POOL_2D, MEAN, RELU, SOFTMAX, STRIDED_SLICE. Here is a list of operators for which you will need custom implementations: AddV2."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-10-15 20:29] gowthamkpr commented on #33374
@amitport I am going to close this issue and we will keep you updated once Tensorflow supports Python 3.8.

[2019-10-15 20:47] netw0rkf10w opened #33394 "AttributeError: 'list' object has no attribute 'op' when calling SparseCategoricalCrossentropy"
**Describe the current behavior**
When running the following code in the [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/losses/SparseCategoricalCrossentropy) of `SparseCategoricalCrossentropy`:

[code]

I obtained the following error:

[2019-10-15 20:55] tiagoakle opened #33395 "test"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-15 20:55] hamatake commented on #29165
Hmm, that looks correct to me. I don't have a big-endian platform to test
on, unfortunately. Since this is more of an ICU data packaging issue than a
tensorflow-specific issue, I'd recommend icu-support@lists.sourceforge.net.

On Tue, Oct 15, 2019 at 11:16 AM Namrata Bhave <notifications@github.com>
wrote:

[2019-10-15 20:55] #33395 closed

[2019-10-15 20:57] qlzh727 commented on #32889
So there are few issues in your code, which is bit hard to diagnose:

1. Creation of the state. Since the state is tracked and attached to the model, most likely you want to treat them like a data/eager tensor, rather than a symbolic tensor (graph tensor). Since the call() method is executed in the graph context, if you init the state in call(), they will just be graph tensor, and the final self.s

[2019-10-15 20:57] jdduke commented on #32330
Ah, I think this may just be a function of the fact that the very first time we create the Interpreter, it happens to be on the UI thread, and in all such cases we default to CPU execution, not GPU. Subsequent requests to enable GPU are done on the inference thread. We should fix this in the examples.

[2019-10-15 20:57] #32889 closed

[2019-10-15 21:01] cottrell commented on #33027
Seems like the incentives are aligned to leave it as is. But let's leave this issue here for now. I might follow up with some digging on the source of this bad-value attack.

[2019-10-15 21:03] mihaimaruseac commented on #33338
You are trying to run python3 tests using python2 :-/

[2019-10-15 21:06] wahyubram82 commented on #29806
first, type this:
`aarch64_linux_ ` and press TAB button twice, to view your compiler command.
mine is `aarch64-linux-android-g++-8`

then just edit the file build_aarch64_lib.sh
`nano build_aarch64_lib.sh`

you will see this line

`make -j4 VERBOSE=1 TARGET=aarch64 -C "${TENSORFLOW_DIR}" -f tensorflow/lite/tools/make/MakeFile`

change it with:

`make -j4 VERBOSE=1 TARGET=aarch64-linux-android-g++

[2019-10-15 21:22] mdanatg commented on #33297
Update: here is a method that currently works in TF2, and which will give you the expected results. Unfortunately, `tf.set_seed` and `tf.random.uniform` (and similar ops) are currently broken, although they will probably be either fixed or removed in the future:

[code]

Note: currently, calling the function with a new generator will causing it to be retraced (that is, will be slow the first time

[2019-10-15 21:33] yashk2810 commented on #33297
Its fixed now:
* https://www.tensorflow.org/api_docs/python/tf/random/set_seed
* https://www.tensorflow.org/api_docs/python/tf/random/uniform

[2019-10-15 21:33] jvishnuvardhan commented on #33214
@kuetuofa This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-15 21:36] yashk2810 commented on #33297
We also link off to the notebooks where the particular symbol is being used.

See this for example: https://www.tensorflow.org/api_docs/python/tf/random/uniform#used_in_the_guide

[2019-10-15 21:42] jvishnuvardhan commented on #33323
@Mulns Anything under `tf.python.*` is private, intended for development only, rather than public use. Importing from tensorflow.python or any other modules (including import tensorflow_core...) is not supported, and can break unannounced. For full response on similar issue, you can check [here](https://github.com/tensorflow/tensorflow/issues/33075#issuecomment-539070546).

I am closing the issue

[2019-10-15 21:42] #33323 closed

[2019-10-15 21:53] jvishnuvardhan commented on #33345
@koenhelwegen Are you willing to contribute through PR? Link this issue in the PR and it will automatically closes once the PR merges. Thanks!

[2019-10-15 21:59] jvishnuvardhan commented on #33332
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-15 22:08] angerson commented on #33158
Cool, glad to hear it. We'll be deprecating Python 2.7 support in TensorFlow when Python 2.7 reaches EOL in January 2020, so you don't need to worry about extra debugging for Python 2. Thanks! I'll go ahead and close this issue for now.

Unfortunately, I'm not aware of better resources for GPUs on GCP, aside from doing your own comparison of [the GPU prices](https://cloud.google.com/compute/gpus-p

[2019-10-15 22:08] #33158 closed

[2019-10-15 22:09] abdou31 commented on #33332
I have posted this question on Stackoverflow and I have tagged #Tensorflow on the question but I didn't get any answer.

[2019-10-15 22:11] lc0 commented on #33389
@steph-en-m I am not sure what exactly you are trying to do, but 2.0 allows to just run .numpy on a tensor

[code]
that gives you
[code]

[2019-10-15 22:12] rlewkowicz opened #33396 "python -c "import tensorflow as tf; print(tf.contrib.eager.num_gpus())" from docs doesn't work with"
python -c "import tensorflow as tf; print(tf.contrib.eager.num_gpus())" Doesn't work from https://www.tensorflow.org/install/source
with tf2

[2019-10-15 22:13] SummitKwan commented on #26502
That is kind of dangerous since you may end up importing different modules.

e.g.

`from tensorflow.python.keras.callbacks import TensorBoard; print(TensorBoard)` gets
`<class 'tensorflow.python.keras.callbacks.TensorBoard'>`
but, `from tensorflow.keras.callbacks import TensorBoard; print(TensorBoard)` gets `<class 'tensorflow.python.keras.callbacks_v1.TensorBoard'>`

[2019-10-15 22:14] wuhy08 opened #33397 "LEAKY_RELU not supported in INT8 quantization"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

Model definition
[code]

Conversion options:

[code]

**Any other

[2019-10-15 22:16] MarkDaoust commented on #33326
Hi @prabindh,

It looks like the maintainers are only accepting more-significant Docs PRs, to reduce the overhead of tiny changes. Thanks for taking a shot. Please try again when you have more to contribute.

[2019-10-15 22:16] #33326 closed

[2019-10-15 22:19] ankane commented on #19147
Hi @ewilderj, thanks for offering to help. I've reached out over email. Please let me know if you haven't received it.

[2019-10-15 22:22] lc0 commented on #33389
I think I found the use-case you might have under 2.0

In case you are trying to form a request for TensorFlow serving you would need to `tf. make_tensor_proto` and from there you can convert back with mentioned your function above.

Something like this
![image](https://user-images.githubusercontent.com/775466/66874275-f2e3b980-efaa-11e9-99fe-e74aecb3ff51.png)

[2019-10-15 22:23] ElPapi42 commented on #26502
This problem is annoying, i end up coding on Google Colab, there the module is recognized and the autocompletion works good (On experimental Colab Gui). I will stay this way while this is solved, but its a pain.

[2019-10-15 22:28] rlewkowicz commented on #31509
@ymodak  ^^

[2019-10-15 22:36] gowthamkpr commented on #33161
Can you please try the suggestion given in this [issue](https://stackoverflow.com/questions/48819139/tensorboard-link-wont-load-tensorflow-graphs-page-in-browser-the-connection-wa) and let me know if it helps @joehoeller

[2019-10-15 22:36] jvishnuvardhan commented on #33129
@aleozlx This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-15 22:42] gowthamkpr commented on #33179
Unfortunately, you have to do it yourself @intrepidOlivia. You can follow the answer to this [question](https://www.quora.com/How-do-you-install-packages-in-a-Docker-container) to add a command to your docker file and build again to create a new image file. For more specific questions, you can post it on stackoverflow.

[2019-10-15 22:59] gowthamkpr commented on #33154
@Vidyapreethaam Please post this issue in [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) as github is only meant for issues related to bug, performance, feature requests, build/install and docs. Thanks!

[2019-10-15 23:00] hanneshapke commented on #32999
Hi @mattc-eostar,

Did you find a way around the error? I am facing the same error on TF-2.0.0 and 2.1.0-dev20191015 (nightly). Same error with `tf.lite.TFLiteConverter.from_saved_model`

Also, the first warning doesn't make any sense to me since the model since the output should have the shape (-1, 4)

[code]

Model signature
[code]

[2019-10-15 23:08] jvishnuvardhan commented on #33332
@abdou31 As you mentioned you have a dataset for training, you could load the pre-trained model,  change layer properties (from non-trainable to `trainable`) of last few layers, add another layer if required, update last layer for correct number of outputs and then train the model with your data. Thanks!

[2019-10-15 23:12] jvishnuvardhan commented on #33336
@familyguy12 Thanks for coming forward to support the development. Please feel free to contribute through PR. Thanks!

[2019-10-15 23:25] rlewkowicz commented on #29874
@jvishnuvardhan I'm having trouble with the 2.0 release due to https://github.com/tensorflow/tensorflow/issues/31509. I'm debating how much time I want to spend on it. Are you asking me because you know of a specific change that might have fixed the issue, or are you just seeing if it worked itself out?

[2019-10-15 23:29] mengxr commented on #32159
@mihaimaruseac I saw https://github.com/tensorflow/tensorflow/commit/4675891bd3c9e9ee7a57552486ec5bdc40379787 . Is it relevant to this issue?

[2019-10-15 23:32] Tetragramm commented on #33178
@arthurflor23 Are you sure?  The Beta1 code is nearly identical to the release 2.0.0 code.  The only change is to regularization, which has nothing that would do a memory leak.

Upon further review (actually reading through the code), I'm pretty sure the _input_map variable is both the cause, and useless.  I think lines 56, 246, 247, 249, 308, and 309 can be removed, and line 310 replaced with

[2019-10-15 23:38] ewilderj commented on #19147
@ankane thanks for the ping, I replied to your email just now.

[2019-10-15 23:40] wookayin commented on #33316
I tired all of the code above and it is indeed working as expected (printing version without the problem). I found that it was actually from another lazy_import of **numpy**, specifically, when numpy is yet to be fully loaded:

[code]

I can reproduce this on 3 different environments including glinux and macOS, both anaconda and brew python.

Not sure tensorflow is to blame or numpy is, but let me

[2019-10-15 23:48] abdou31 commented on #33332
How can I change the layer properties of a frozen graph inference model ( .pb )?

[2019-10-15 23:48] ShaunSpinelli opened #33399 "keras.metrics.MeanSquaredError update_state, sample_weight not working as expected"
**System information**
- Have I written custom code: **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **pip**
- TensorFlow version (use command below): **Version: 2.0.0**
- Python version: **Python 3.6.8**
-

[2019-10-15 23:56] arthurflor23 commented on #33178
Hi!
I was training a model today (via google colab) using `tensorflow-gpu==2.0.0`.. I've added two TimeDistributed layer and I realized that the time of the epochs was increasing.. started with ~200s in first epoch and stopped with ~350s in the last.. then, the issue mentioned happened.

I don't know if it's related to this or another module version, but Beta1 doesn't happen and make ~140s per epo

[2019-10-15 23:59] mihaimaruseac commented on #32159
I'll have to check this, as it is on a different path.

[2019-10-16 00:00] arthurflor23 commented on #33087
Hi!
I use 162 as vocab_size and 512 as units.

Unfortunately the project code is still in private mode, but I'll do more tests with the model that I'm studying for more detailed information..

[2019-10-16 00:01] mihaimaruseac commented on #33316
Confirmed that it reproduces.

Following https://github.com/tensorflow/tensorflow/issues/32159#issuecomment-542452574 I might get rid of `__getitem__` in one lazy import path. Let's see if that also solves this.

[2019-10-16 00:16] jvishnuvardhan commented on #33090
@tlkh I think this is expected as your model is using BatchNorm. There are some layers (BatchNorm, Dropout) that are enabled during training and disabled while evaluation. If you disable BatchNorm and run the training (model.fit) and Evaluation (model.evaluate), the results should be very close (not exactly same). Please check this [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/735dcb

[2019-10-16 00:16] #33090 closed

[2019-10-16 00:17] chris-opendata opened #33400 "tensor object has no attribute numpy"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-10-16 00:32] intrepidOlivia commented on #33179
I think maybe you are not understanding the scenario. I do not have my own Dockerfile, I am installing tensorflow jupyter files with the following command:

`docker run -it -p 8888:8888 tensorflow/tensorflow:nightly-py3-jupyter`

The docker container that is installed from this command does not have the necessary dependencies to operate the  included notebooks. I believe that the docker container

[2019-10-16 00:57] chris-opendata opened #33401 "Uniform APIs for Tensor etc regardless of graph mode or runtime mode"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14+
- Are you willing to contribute it (Yes/No): N/A

**

[2019-10-16 00:59] ares5221 commented on #33191
thks

[2019-10-16 01:50] ageron commented on #33297
Thanks @mdanatg and @yashk2810 , the documentation is clearer now, and it's nice to have a workaround. I really like the `tf.random.experimental.Generator` solution, and in fact I think I'll stop using `tf.random.set_seed()` altogether, as well as op-level seeds. Their behavior is way too complicated and error-prone, IMHO.

Ideally, a function's behavior should not change when you decorate it with

[2019-10-16 01:56] shashankprasanna commented on #31451
@andmax - I didn't need the profiling capability of tensorboard, just the performance curves and for visualizing the graph which works with this workaround. Tensorboard also offers profiling: [TensorBoard Profile](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras), to profile runtime of every op (traceviewer screenshots in link above). I currently don't need this.

[2019-10-16 01:58] hitlic commented on #32889
This method is very nice! My problem has been solved. Thanks very much! @qlzh727

[2019-10-16 01:58] chris-opendata commented on #33401
Did a a bit more experiment. Realize that working on tensor itself is just like working on variable. No need to calling numpy()/eval(). And find Tensor having computational operators defined. So, it was my misperception of how tensor works. The feature is solved.

[2019-10-16 01:58] #33401 closed

[2019-10-16 02:34] Dream7-Kim commented on #33322
@gadagashwini

[code]

[code]

This is my TF version code to run. The first one is to generate random data to test.
I browsed the link you provided. But I cannot find appropriate solution for my problem. MirroredStrategey cannot solve this problem. It needs to use ```model parallelism``` . But support for ```model parallelism``` in TF is specialized for models of deep learning. And as I know it wi

[2019-10-16 02:35] whhu commented on #33321
I'm sorry the code is not the reproducible one. We come across the `re-initialization` problem in a private project, which makes use of the `collective_ops` in a similar way as the stackoverflow [question](https://stackoverflow.com/questions/58161090/when-does-skipping-rendezvous-re-initialization-emerge-in-calling-collective). This weird problem occurs only in our private project. That is why we

[2019-10-16 02:39] sharvil opened #33402 "Please add TPU kernels for tf.linalg.[[s]log]det"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.15
- Are you willing to contribute it (Yes/No): No

**De

[2019-10-16 02:44] grisaitis commented on #29781
@zakizhou with your code I get a (2,1) tensor for `hessians = tape.gradient(grads[0], [v])`. Were you getting a (2,2) square?

I looked into it further and it looks like it's returning the row-wise sum of the actual hessian:

[code]
which prints
[code]
as you can see `hessian` == `hessian0 + hessian1`

any tips on how to get the full (2, 2) result without this indexing? should i be reshaping my `V

[2019-10-16 03:02] grisaitis commented on #29064
It appears to return the sum of the gradients for each target.

I'm coming across this because I'm trying to compute the hessian of a real-valued function with vector input, so i need to take the gradient of a gradient. but instead of returning the hessian, the second gradient appears to return the row-wise sum of the hessian (or, roughly, `sum(gradient(element) for element in first_gradient)`). t

[2019-10-16 03:11] jnd77 opened #33403 "max_pool_with_argmax can gives different results on GPU than on CPU"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platf

[2019-10-16 03:23] ucasiggcas commented on #33239
@haozha111 Thanks
may I ask some question,
is the tf model .meta getting bigger in training ?
thx

[2019-10-16 03:23] pl-lee commented on #15158
Could you give a complete example by using this step_fn?Thanks!

[2019-10-16 03:35] grisaitis commented on #29781
This works for me:

[code]
[code]
it redundantly computes the non-diagonals, but i think it's the hessian!

[2019-10-16 03:39] muik commented on #29476
I also tried to build a image of tensorflow/tensorflow:1.14.0-devel-gpu-py3 which has source compiled tf installed.
But I couldn't build the image which is faster to train than non-devel tag like 1.12.0-devel-gpu-py3.

So, I really want to know building the image like that tf team officially built devel tag until 1.12.0.

[2019-10-16 03:55] KANGRuipeng commented on #32601
Here I give another example:
In TF2.0, I have a keras model, if I use the **tf.keras.model.fit API**, my model will run in non-eager mode, if I use the **tf.keras.model.fit_generator** API, my model will run in eager mode.
There is no docs tell us this. Most users may not care about this but there still some users interested in. The develop of TF want to hide the complexity but some users want to

[2019-10-16 04:02] oanush commented on #33191
@ares5221 ,
Let us know if the issue can be closed, thanks!

[2019-10-16 04:05] tseth92 commented on #33283
@gadagashwini I just ran the gist, the code will work fine if you choose !pip install tensorflow==1.14

But if you choose !pip install tensorflow==2.0 and if you uncomment get_model() and comment get_model_prev(), you will get to see the issue:
[code]
Error:
**TypeError: can't pickle _thread._local objects**

I have added these two methods to show that with get_model_prev() ie. model with normal K

[2019-10-16 04:13] gadagashwini commented on #33266
@tessy1234,
Open ...\Lib\site-packages\tensorflow\python\_pywrap_tensorflow_internal.pyd use Dependency Walker, it will show you the
DLL dependency tree, you will find which DLL cause the problem. Dependency Walker link : http://www.dependencywalker.com/

[2019-10-16 04:25] oanush commented on #33396
@rlewkowicz ,
Hi, The reason for that is `contrib` has been removed from TF 2.0, please use command
`print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))` . Refer this [link](https://www.tensorflow.org/guide/gpu) for more info on the same.Thanks!

[2019-10-16 04:27] gadagashwini commented on #33319
@drag05, Glad it is working.

[2019-10-16 04:40] yongtang commented on #33394
Added a PR #33406 for the fix.

[2019-10-16 04:50] shashankg7 opened #33407 "Eager mode not being disabled tf 1.14.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-16 05:17] agarwal-ashish commented on #29781
hessians = tape.jacobian(grads[0], v) gives you the full hessian and will be faster than the iterative version by virtue of using vectorized_map for vectorization.

[2019-10-16 05:21] rryan commented on #32218
@YichengWu we are discussing this internally and don't really know what could be causing it. We may have seen similar issues on V100/P100 GPUs -- in those cases, profiling suggests all the time is spent within the CUDA API (in the request to launch the kernel).

One hypothesis is that due to an architecture mismatch between the bundled kernels and your GPU, CUDA may be JIT'ing a specialized kernel

[2019-10-16 05:22] ravikyram commented on #33333
@Satwato

How did you  navigate to this codelab page? Is this the page you are referring,  is from tensorflow official website?.Thanks!

[2019-10-16 05:25] oanush commented on #33388
@sourcecode369 ,
Thank you for reporting, Can you please provide complete code to reproduce the above issue ? Also let us know TF version being used.

[2019-10-16 05:32] oanush commented on #33387
@tgpsantos ,
Can you please refer the [link](https://github.com/tensorflow/tensorflow/issues/20878) of similar issue ?Thanks!

[2019-10-16 05:38] paanguin commented on #33233
The operation responsible to this is the following line of code:

https://github.com/tensorflow/tensorflow/blob/64c3d382cadf7bbe8e7e99884bede8284ff67f56/tensorflow/lite/toco/toco_tooling.cc#L416

When I commented out the line, I confirmed that the reproducing code works. But I think this is a kind of temporary bypass, not the right solution.
[code]

[2019-10-16 05:50] oanush commented on #33381
Issue replicating for TF-2.0,kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/a016f0f856fc999081bfa50b99ee4f81/33381.ipynb) of colab.

[2019-10-16 05:56] VoVAllen commented on #33254
Thanks a lot for the explanation. This makes much more sense to me.

[2019-10-16 05:56] #33254 closed

[2019-10-16 05:57] ravikyram commented on #33389
@steph-en-m

Have a look on @lc0 's suggestion and let us know if that helps to resolve the issue. Thanks!

[2019-10-16 06:02] gadagashwini commented on #33375
@DawyD, I tried on colab with Tf 2.0.0. It is working as expected please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/78ce12516b50127ba4cf21df959063a7/untitled200.ipynb). Thanks!

[2019-10-16 06:03] oanush commented on #33382
@BluePaladin ,
Thank you for reporting, can you please provide complete code to reproduce the issue reported
above ? Thanks!

[2019-10-16 06:11] ravikyram commented on #33378
@christosiraklis

TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets.
Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load.

Apparently, your CPU model does not support AVX instruction sets. You can still use TensorFlow with the alternatives given below:

Try Google Colab to use TensorFlow.
The easi

[2019-10-16 06:12] y26805 commented on #31412
@jvishnuvardhan Hi I am using TF2.0 and I still get a DeprecationWarning.
(Using Python 3.7.3)
[code]

[2019-10-16 06:12] luozhouyang commented on #28007
Same issue!

[2019-10-16 06:27] wangdong1992 commented on #33247
I also encountered the same problem. Have you solved it?

[2019-10-16 06:28] ravikyram commented on #33378
@christosiraklis

Please, let us know which TensorFlow version you are using?

TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets.
Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load.

Apparently, your CPU model does not support AVX instruction sets. You can still use TensorFlow with the alternativ

[2019-10-16 06:29] christosiraklis commented on #33378
Ok thanks guys. Understood.

[2019-10-16 06:29] #33378 closed

[2019-10-16 06:40] janwendt opened #33408 "Time Series Forecasting with LSTM and different/mixed frequencies"
I could not find anything in the docs about how to handle different frequencies of time series. I have a Dataset A with monthly data that i want to use to predict the values from Dataset B that contains quarterly based data. So the target value e.g. quarter 1 is based on the values from month 1-3.

Dataset A (Features):

| Month  | Value1 | Value2 | Value3 |
| ------------- | ------------- | -----

[2019-10-16 06:42] oanush commented on #33371
@njellinas ,This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-16 06:43] ihtisham0331 commented on #5949
i run the above command it show error "The system cannot find path specified

[2019-10-16 06:44] gadagashwini commented on #33078
@iamknownstranger, Is this still an issue. Thanks!

[2019-10-16 06:46] ravikyram commented on #33373
I have tried on colab with TF version 2.0  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d4946579404e70cca2fbbd56137dfd2d/untitled274.ipynb). Thanks!.

[2019-10-16 06:52] gadagashwini commented on #33383
I could reproduce the issue with Tf 2.0.0. Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/48e54114ef599b79cd9d09e4a7fb9736/untitled201.ipynb). Thanks!

[2019-10-16 06:56] ravikyram commented on #33365
@tb438

In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-10-16 06:58] DawyD commented on #33375
@gadagashwini, I know, that the code will work on colab and 99% of systems. The code is not the point of this issue. The point is, that if you have multiple installations of CUDA on the system, it is somehow unclear where the ptxas is loaded from.

[2019-10-16 07:06] fhausmann commented on #33247
`tf.keras.experimental.export_saved_model(model, 'modelfolder')` and `tf.keras.experimental.load_from_saved_model('modelfolder')`
seems to be a workaround even they are deprecated.

[2019-10-16 07:07] steph-en-m commented on #33389
Thanks @lc0 your second suggestion explains/resolves my issue.

[2019-10-16 07:34] suwoncjh commented on #33308
Thanks @Yablon

I solved it by changing tf.range to range and it works.

[2019-10-16 07:51] angeliand commented on #33216
Sure. I'm busy in the next few days, but I will do it after that.

[2019-10-16 08:00] hamlatzis commented on #29590
or at least can we have variable batch? I resize input/output tensors, but when call allocate_tensors (either from python or java) I get an error inside reshape operator that the input and output tensors don't have the same number of elements

[2019-10-16 08:02] GaranceRichard commented on #32945
On win10 : just see above : you'll have my venv (tf gpu version) and my local (tf cpu version)

[2019-10-16 08:02] tgpsantos commented on #33387
Thank you for the answer @oanush . The whole link seems like a mix of different issues but I assume you're referring to the answer that advices converting with an itermediate step, ie .h5 to .pb. Is this going to be in the right format to use in convert_from_saved_model() in TF2.0? I believe there is no convert_from_saved_graph in the latest version

PS: The original post was referring to TF1.9, I

[2019-10-16 08:12] manchengfenxu opened #33410 "tfliteGpuDelegate Invoke write to buffer failed source data is larger than buffer"
I followed the steps in https://www.tensorflow.org/lite/performance/gpu and added gpu to tflite interpreter. The mobilenet model given by an android project called tensorflow/lite/jave/demo can work using this project on Pixel 2. However, when it was put into another project with the follwing code. Here comes the errors:
[code]
imgData, outputClasses are already checked and have the same size with

[2019-10-16 08:21] emla2805 opened #33411 "Saving model containing sequence_numeric_column fails"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-10-16 08:23] AndreaRigoni commented on #32817
Hi, I agree with @BeWe11, the issue is still there.
Moreover if you are using a data.from_generator() function the number of actual steps must be computed on the first epoch.

In addition it seems to always happen when  validation_data is used as model.fit() argument

[2019-10-16 08:32] amitport commented on #33374
still, IMHO, python3.8 should be an issue open for discussion/contribution/updates.

[2019-10-16 08:41] gadagashwini commented on #33393
@ammu11, Please Provide the exact sequence of commands / steps that you executed before running into the problem. And also provide the Tensorflow version. Thanks!

[2019-10-16 08:43] gadagashwini commented on #33399
Could replicate the issue with Tf 2.0.0. Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/4dcdd7b3b7a9d423c9f5a075465ae0fa/untitled202.ipynb). Thanks!

[2019-10-16 08:47] oanush commented on #32957
@durandg12 ,
Any update on the issue ?Thanks!

[2019-10-16 08:47] oanush commented on #32996
@minaskar ,
Please let us know if there is any update on the issue ? Thanks!

[2019-10-16 08:47] #33317 closed

[2019-10-16 08:50] oanush commented on #33360
@bas-aarts ,
Please provide more information on the issue like sequence of commands / steps that you executed before running into the problem?

[2019-10-16 08:51] maurera commented on #33265
Thanks for the response. I tried a new build on C:\tmp2 and it built successfully.

[2019-10-16 08:51] #33265 closed

[2019-10-16 08:51] gadagashwini commented on #33380
I could reproduce the issue with tf 2.0.0. Please take a look at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/6ab8b86252382e26b668b41815b19305/untitled197.ipynb). Thanks!

[2019-10-16 08:51] saintthor commented on #28110
I don't train. only loading the trained model takes more than twice memory.

I have 2 environments. tf 1.14 installed for python 3.5 and tf 2 for python 3.7.

I run the same code and load the same keras model in both environments. in py3.5, after model loaded, it takes 560MB memory. while in py3.7, it takes 1.2GB.

is there any way to reduce the memory for tf 2 ?

[2019-10-16 09:03] saintthor opened #33412 "tf2.0 takes more than twice memory than 1.14"
I have 2 environments. tf 1.14 installed for python 3.5 and tf 2 for python 3.7.

I run the same code and load the same keras model in both environments. in py3.5, after model loaded, the process takes 560MB memory. while in py3.7, it takes 1.2GB.

is there any way to reduce the memory for tf 2 ?

[2019-10-16 09:06] karopawil opened #33413 "tflite 2.0 gpu delegate error when inputs resized"
Hi,

For gpu delegate if resizeInput is called and then runForMultipleInputsOutputs, there is an exception.

- Mobile Samsung S9
- Mali G72 GPU
- Tensorflow lite installed from binary version 2.0
- Development env, android studio on fedora 29

Example code:
[code]
[code]

Is this a bug or this sequence of operations is not supported for gpu delegate? I am using the Java API.

Regards,

Naveen

[2019-10-16 09:07] DawyD commented on #33375
I found out that it truly loads the ptxas from /usr/local/bin completely ignoring the PATH and CUDA_HOME environment variables.

The workaround is to use create bin directory where we launch the python and link it to the $CUDA_HOME/bin bin directory.

[2019-10-16 09:09] durandg12 commented on #32957
Since there is no new version of TF 2.0 since I posted the issue, it is obviously still here.

As you can see in my first post, I had already found some workarounds. My workarounds even success to load `numeric_column` and `Dataset` in the namespace.

But it bothers me that I have to change all my previous codes to work around a bug.

[2019-10-16 09:10] laszlocsomor commented on #32835
I have a fix for this.

[2019-10-16 09:12] AlexisBRENON opened #33414 "Allow to specify the type of the tf.data.Dataset.range function"
**System information**
- TensorFlow version (you are using): *v2.0.0*
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

[`tf.data.Dataset.range`](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#range) return a dataset of `tf.dtypes.int64` tensors.

It could be nice if the `range` method accept a `dtype` argument (as many other TF

[2019-10-16 09:17] gadagashwini commented on #33308
@suwoncjh, Glad that it resolved.
Closing the issue now. Feel free to reopen if issue still persists. Thanks!

[2019-10-16 09:17] #33308 closed

[2019-10-16 09:36] gadagashwini commented on #32689
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-16 09:36] #32689 closed

[2019-10-16 09:37] gadagashwini commented on #32891
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-16 09:37] #32891 closed

[2019-10-16 09:40] gadagashwini commented on #32905
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-16 09:40] #32905 closed

[2019-10-16 09:43] gadagashwini commented on #33039
@airplane2230, Did you get a chance to look at attached gist. Thanks!

[2019-10-16 09:45] gadagashwini commented on #33040
@Xavier449446, Try to build the Tensorflow from source. Please follow the instructions mentioned in the [website](https://www.tensorflow.org/install/source). Thanks!

[2019-10-16 09:46] gadagashwini commented on #33051
@dimitryn, Is this still an issue?

[2019-10-16 09:47] gadagashwini commented on #33067
@LuciusPennyworth, Any update on code. Thanks!

[2019-10-16 09:55] dimitryn commented on #33051
no, thanks

[2019-10-16 09:55] #33051 closed

[2019-10-16 09:57] gadagashwini commented on #33076
@hagianga21, Provide more information about issue like code snippet and Tf version.

[2019-10-16 09:57] venuswu commented on #33369
Yes, I used dynamic batchsize to train the official/transformer.
https://github.com/tensorflow/models/blob/master/official/transformer/v2/data_pipeline.py

Here is the data pipeline of 2.0 same as 1.11, for which batchsize means the number of tokens.  For example in tf1.11, I set the batchsize to 4096 which means 4096 tokens for every replica, for a replica       the length of the tokens seem to b

[2019-10-16 09:58] gadagashwini commented on #33077
@wpf19911118, Please provide more information to reproduce the reported issue. Thanks!

[2019-10-16 10:00] gadagashwini commented on #33128
@zh794390558, Any update on reproducible code.

[2019-10-16 10:13] rmothukuru commented on #33244
@Sorooshi,
Can you please refer [this link](https://stackoverflow.com/questions/55908188/this-model-has-not-yet-been-built-error-on-model-summary) and let us know if it helps. Thanks!

[2019-10-16 10:20] gadagashwini commented on #33102
@AllenWu18, Follow these steps to install tensorflow 2.0 with PIP virtualenv
[code]

[2019-10-16 10:30] ravikyram commented on #33359
@shalijiang

Can you go through the below [link1 ](https://stackoverflow.com/questions/48428415/importerror-libcublas-so-9-0-cannot-open-shared-object-file) , #20569 and see [software requirements](https://www.tensorflow.org/install/gpu) and see if it helps you.Thanks!

[2019-10-16 10:31] vcarpani opened #33416 "TensorFlow Lite: TensorListFromTensor, TensorListReserve, TensorListStack, While"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): Binaries from pacman
- TensorFlow version (or github SHA if from source): 2.0.0

**Provide the text output from tflite_convert**

[code]

The model is very similar to https://github.com/fizyr/keras-retinanet.

I am converting with target specs `[tf.lite.OpsSe

[2019-10-16 10:37] namrata-ibm commented on #29165
@hamatake, issue indeed seems to be with data packaging as running CJK related tests in ICU pass on big endian (https://github.com/unicode-org/icu/blob/master/icu4c/source/samples/ucnv/convsamp.cpp#L542)

Had a query about use case related to CJK conversion. How critical is this functionality in TensorFlow and how often will user encounter this?

Thank you for the pointers, Appreciate the help pro

[2019-10-16 10:44] koenhelwegen commented on #33345
At a closer look it seems the `grads_and_vars` zip is usually converted to a list before it's passed to `apply_gradients` (e.g. [here](https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L501), but not [here](https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/pytho

[2019-10-16 10:46] coolzhao commented on #32982
@aKzenT Thanks for the solution, it's better to let the original TensorFlow remain untouched. But actually it's not necessary to add those two lines in the `__init__.py` if you add an autoComplete.extraPath in setting.json. I have tried that with the `__init__.py` unchanged, and it works too.

And I think what confuses IntelliSense is that when we `import tensorflow`(the proxy), it leads to tensor

[2019-10-16 10:55] racinmat commented on #33143
Of course, the gist is here https://gist.github.com/racinmat/a8eb2f727fcc4bd24745042eee5cd8d6

[2019-10-16 11:07] jyh2378 opened #33418 "(TF 2.0)My custom loss doesn't works."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-16 11:09] rmothukuru commented on #33373
The results of `tf.reduce_mean` and `np.mean` are similar if we use `axis = None` or `axis = [0,1,2, 3]`. However, results are very different when `axis = [0,1,2]`. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/86b2d6db331554600e5c27c10be97831/33373.ipynb#scrollTo=S7CWFytQJi4d).

[2019-10-16 11:10] ravikyram commented on #33361
@sayakpaul

Thanks for reporting the issue. Can you please provide complete code snippet to reproduce the issue in our environment.So i can check the same in Jupyter notebook and Colab for localizing the issue faster.Thanks!

[2019-10-16 11:12] cottrell opened #33419 "save_weights does not work for scalars in keras subclass when using h5 format"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-10-16 11:16] hamlatzis commented on #14650
@andrehentz

https://github.com/tensorflow/tensorflow/issues/14650#issuecomment-345325832

it doesn't work for me. I did exactly this, and I resize input tensors and call for allocation and at some point I get the reshape op called and when it calculates the shape of the output tensor it reports back that it's different to the input shape

reshape.cc line 58
TF_LITE_ENSURE_EQ(context, num_input_el

[2019-10-16 11:18] kbhute-ibm commented on #33338
Thanks @mihaimaruseac.

[2019-10-16 11:18] #33338 closed

[2019-10-16 11:21] rmothukuru commented on #33089
@WildTangles,
The Notebook in the link, https://github.com/WildTangles/tf-issues/blob/master/tensorflow_bug_conversions/bug_demo.ipynb couldn't be opened.  It is resulting in an error as shown below. Can you please share the attachment. Thanks!

![image](https://user-images.githubusercontent.com/48206667/66914789-3125bb00-f035-11e9-8c19-8b7c0f126158.png)

[2019-10-16 11:29] andmax commented on #31451
Hi @shashankprasanna  thanks for explaining this!  Much appreciated, I also don't need this type of profiling.

[2019-10-16 11:34] KANGRuipeng commented on #33375
Mark

[2019-10-16 11:39] gadagashwini commented on #32982
@RensDimmendaal, Looks like the issue is resolved. Can you please let us know if you are happy to close if no issue persists. Thanks!

[2019-10-16 11:44] ravikyram commented on #33328
I have tried on colab with TF version 1.14, 1.15.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/2493233a0c605357b9cb39a5d9f1798a/untitled270.ipynb).Thanks!

[2019-10-16 11:51] dennis-ec opened #33422 "Specifying output_shape is not working in tf.keras Lambda Layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7.3
- CUDA/cuDNN version: 10.0/7

**Describe the current behavior**
When creatin

[2019-10-16 11:53] aakbar5 commented on #32309
This issue is still there. I am using Tensorflow tag v2.0.0.

[2019-10-16 12:03] thomasjo commented on #32982
@gadagashwini This issue is in no way resolved.

The proposed workarounds listed above are only temporary hacks, nothing else. The underlying problem either needs to be resolved by changing/removing the dynamic module loading bits introduced in TF 2.0, or someone (arguably the TF team) needs to provide us with type stubs ([PEP 484](https://www.python.org/dev/peps/pep-0484/)).

[2019-10-16 12:07] Colonel-C commented on #32982
@coolzhao @aKzenT Thanks for your solution.

@gadagashwini
The issue should still remain open as this is a problem that everyone is encountering. Tensorflow intellisense is not working as it should.

[2019-10-16 12:11] Yuvaraj8blr opened #33423 ""Tensor.op is meaningless when eager execution is enabled", when using tf.compat.v1 RNN cells"
**System information**
- Have I written custom code : Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): openSUSE Leap 15.0
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from : binary
- TensorFlow version: v2.0.0-rc2-26-g64c3d38( 2.0.0)
- Python version: Python 3.6
- Bazel version (if compiling from source): -

[2019-10-16 12:18] koenhelwegen opened #33424 "Loading optimizer variables from checkpoint not working in tf.keras"
**System information**
- Custom code
- Ubuntu 18
- TensorFlow version 2.0.0
- Python version 3.7

**Describe the current behavior**

Restoring a checkpoint with saved optimizer variables is not working.

**Describe the expected behavior**

When saving a checkpoint using `tf.keras.callbacks.ModelCheckpoint(..., save_weights_only=False)`, restoring the checkpoint should also recover the optimizer va

[2019-10-16 12:23] dennis-ec commented on #33422
Edit: Found a workaround:

[code]

Bug still remains though.

[2019-10-16 12:24] mdanatg commented on #33297
Thank you for the thorough suggestion!

Yes, it's absolutely crucial that code works the same way with or without `tf.function` - anything that doesn't is a bug.

I'll let Peng weigh in on a solution, he's the RNG expert. Personally I like your proposal because it's clean and minimizes the symbols we'd need to export: `Generator` is the sole RNG, the "easy" `tf.random.uniform` functions just offer

[2019-10-16 12:25] racinmat opened #33425 "Tensorflow eager execution not working with tf.math.unsorted_segment_max, Gradient output is null"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, Professional Edition
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary, installed using conda
- TensorF

[2019-10-16 12:36] tensorflowbutler commented on #27858
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-16 12:36] feature-engineer commented on #29383
When is TF 2.1 due? I really need this functionality, and am debating whether to risk nightly, use the separate keras package, or wait for the stable 2.1 release...

[2019-10-16 12:43] guillaumekln commented on #28007
The issue should be renamed to something like: "InvalidArgumentError when running `map_fn` on strings inside a `tf.function`".

Here is an even smaller code snippet to reproduce the error (to run on GPU):

[code]

[2019-10-16 12:44] anhmeow opened #33426 "TPU/Colab auth to google cloud bucket failing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.15rc
- Python ve

[2019-10-16 12:46] dreamibor commented on #32495
How is it going for now?

[2019-10-16 12:46] kurnianggoro opened #33427 "Colab TPU cannot use dataset from GCS"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS (Colab)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below

[2019-10-16 12:52] MarkDaoust commented on #33356
Hi @subhankar-ghosh,

Can you please retry this on the `tf-nightly` release, and post the full code to reproduce the problem?

The 1.14 release was cut at the beginning of June, and it's entirely possible that this is fixed.

[2019-10-16 12:57] paanguin commented on #32495
Continued in this issue
https://github.com/tensorflow/tensorflow/issues/33233

[2019-10-16 13:01] MarkDaoust commented on #32601
Interesting. I was not aware of this. How did you come to this conclusion?

It may be worth adding a note to the relavant tutorials over in https://github.com/tensorflow/docs

[2019-10-16 13:06] Sorooshi commented on #33244
@rmothukuru I have seen this post previously, but this post has nothing to do with my problem.
In that (stack overflow post) the model is not build because input shape is not passed in the first layer. But the problem which I reported completely different.

[2019-10-16 13:10] lfuszara1 opened #33428 "TF2 Keras functional API error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-10-16 13:11] MarkDaoust commented on #33049
It looks like you making good progress on that notebook, please send it as a PR and "@MarkDaoust" me on the thread if I'm not auto assigned as a reviewer. Let's continue the conversation there.

The one caution with artificial examples is that they may not reflect use cases that matter. So we should be sure to make sure that if we use artificial data for this we set it up to reflect real world usa

[2019-10-16 13:15] tulasiram58827 opened #33429 "Tensorflow lite conversion problem"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]
Graph code:
self.inputs = tf.placeholder(tf.float32, [None, None, num_features], name='inputs')

        # # Here we use sparse_placeholder that will generate a

[2019-10-16 13:18] saxenasaurabh commented on #24815
Sure.

[2019-10-16 13:26] anhmeow commented on #33426
It works on GPU/CPU mode

[2019-10-16 13:39] siyi8088 opened #33430 "estimator for tf serving error '_lower_using_switch_merge'"
**System information**
- OS Platform and Distribution :
win10 subsystem Ubuntu 18.04 LTS
- TensorFlow version: 2.0
- Python version: 3.6

**Describe the current behavior**
when I use tensorflow_model_server, I get a error:
[code]

**Code to reproduce the issue**
[code]
after that, when I try tf serving:
[code]
I get this error:
[code]

[2019-10-16 13:50] rmothukuru commented on #33244
Could reproduce the issue in TF Version 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/2b25e9e918c489d0edac1865b888f5fb/33244.ipynb). Thanks!

[2019-10-16 13:54] FrederikWA commented on #33426
It seems to be an issue with the Tensorflow version < 2.x. I had the same error with 1.13.1 but changing to Tensorflow 2.0.0 solved the issue.

[2019-10-16 13:57] FrederikWA commented on #33427
Duplicate of #33426

[2019-10-16 13:59] ageron commented on #33297
One thing I'm not sure about is how to add this to TF 2.0 while keeping backward compatibility. I see a few options:

* Keep the existing `tf.random` and add `tf.random_v2` in parallel, as I did. But it feels wrong to add yet a *_v2 just a few weeks after 2.0 is released, which had finally removed all the *_v2s that had accumulated in TF1.
* Add `tf.random.enable_simple_behavior()` to make the new

[2019-10-16 14:01] Sawatdatta commented on #24774
I am also facing this issue. I wrote a custom layer to process an color image. Input tensor for 16 batch size is(16, 128, 128, 32). Using tf.map_fn is taking indefinite time.

[2019-10-16 14:01] Sawatdatta commented on #24774
Please suggest a workaround

[2019-10-16 14:09] PeterMitrano commented on #23160
I have this issue in 1.13.1

Code to reproduce:
[code]

The error I get:
[code]

[2019-10-16 14:10] missleepless commented on #31350
import tensorflow.contrib.eager as tfe
get the following error:
ModuleNotFoundError: No module named 'tensorflow.contrib'
how can I solve this problem?

[2019-10-16 14:13] LuciusPennyworth commented on #33067
The code I post above is a brief description of my question. And it 's difficult for me to provide the complete code because they scattered in various files.However, I have figured out a way to advoid this problem and I will close this issue .Thanks for your concern.

[2019-10-16 14:13] #33067 closed

[2019-10-16 14:45] DS-ejike commented on #29723
@periraviteja have you been able to solve this error: "AttributeError: module 'wrapt' has no attribute 'ObjectProxy' "

[2019-10-16 14:51] feature-engineer commented on #33080
@rmothukuru If tensorflow-addons was working on Windows, it would have been a viable solution. As it stands, windows users of tensorflow face a regression from the 1.14 version.

[2019-10-16 14:57] dbl001 opened #33431 "internal compiler error: in assign_temp, at function.c:968"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2019-10-16 15:09] sourcecode369 commented on #33388
I'm using TensorFlow 2.0, there is some kind of bug. I am getting this error again by trying out a different code.

[code]

[code]

[code]

I am getting the same error again when I try to run the above code. Please help me out. I have confirmed twice that Im using TensorFlow 2.0 on Google Colaboratory and have installed by,

 and my gpu runtime is active.

For the above one, that is pretty much th

[2019-10-16 15:15] profintegra commented on #32743
I'm facing the same issue (with exactly the same error trace), but with PCI version of the Coral with M.2 B+M connector.
Followed the instructions
https://coral.withgoogle.com/docs/m2/get-started/

`lspci -x | grep 089a`
shows:
`0a:00.0 Non-VGA unclassified device: Device 1ac1:089a`

the `/dev/apex_0` is present.

Ubuntu 18.4
`uname -a`
`Linux 4.18.20-041820-generic #201812030624 SMP Mon Dec 3 11:

[2019-10-16 15:31] wuhy08 commented on #33397
BTW, I am not using `tflite_convert.py`

I am using `TFLiteConverter`, as shown in the code snippet above.

[2019-10-16 15:31] jvishnuvardhan commented on #32601
@KANGRuipeng Just a point to note. `model.fit` runs eagerly for performance related reasons, in case you want to run eagerly, you can use run_eagerly=True. On TF website, there is a place where it mentions about the eager mode as follows.

The above statement is in this TF [webpage](https://www.tensorflow.org/guide/keras/overview#train_and_evaluate). I think may be it is better to add little more

[2019-10-16 15:33] dbl001 commented on #33431
I also trying configuring Tensorflow to use the experimental clang option.

This lead to a compiler error
[code]
Should I try to build with gcc or clang on Ubuntu 16.04?

[2019-10-16 15:40] cottrell commented on #33027
PR something but I likely have to read more about how to do this. Am hoping the PR triggers some tests that I can then chase later. Let me know if this is bad.

[2019-10-16 15:40] #33396 closed

[2019-10-16 15:56] joehoeller commented on #33161
There is another issue I found that I am working out. But is this doc accurate, it says I cannot use CUDA 10.x with TF2.0:

`GPU TensorFlow uses CUDA. On Windows only CUDA 9.0 is supported. On Linux CUDA 8.0, 9.0, and 9.2 are supported, and 9.2 is the default.

To install GPU TensorFlow with a non-default CUDA version such as 8.0: `

Link:
https://docs.anaconda.com/anaconda/user-guide/tasks/tensor

[2019-10-16 16:01] maziyarpanahi commented on #32943
@sjamesr Any update or ETA on TensorFlow release on Maven? The last version of TF that works in Java was `1.13.1` since the `1.14.0` has a bug and we are blocked updating to TF 2.0.

Many thanks

[2019-10-16 16:06] #33302 closed

[2019-10-16 16:09] jakezhaojb opened #33434 "tf.function tracing when input tensor varies"
Dear experts,
  In tf 2.0, when using the tf.function decorator, if the shape of the input tensors varies, it seems TF will create a new graph every single time. Is there a way to get around this?

[code]

Output:
[code]

[2019-10-16 16:20] grisaitis commented on #29781
@agarwal-ashish thank you! that's exactly what i need. i had tried using the jacobian earlier but must have missed something (maybe `persistent=True`). thanks again.

[2019-10-16 16:27] ammu11 commented on #33393
While converting pb file to tflite, facing this issue. And my tensorflow
version is 1.14.0. And here is the tflite command which I have used
-> tflite_convert --output_file=D:/Images/car-damage-dataset/fnp.tflite
--graph_def_file=D:/Images/car-damage-dataset/fnp.pb
--input_shapes=1,224,224,3 --input_arrays=input_1 --output_arrays=output_0
--mean_values=0 --std_dev_values=128 --allow_custom_ops

On

[2019-10-16 16:31] FelixHo commented on #33430
I face the same problem when serving for model from TF2.0 ,  and I found that tensorflow/serving:1.15.0-rc2 (docker image) can fix this problem .

PS: At this time , tensorflow/serving:latest == tensorflow/serving:1.14.0 , so you should try specific tag 1.15.0-rc2.

Hope this help

[2019-10-16 16:34] EvenOldridge commented on #24453
I'm also interested in helping and can take a crack at the objective, motivation, and user benefit side of the RFC.  I'm not a TF expert so the design proposal and detailed design would need to be added by someone here but it looks like @futurely has an initial idea of what's necessary.

@alextp @tatianashp Are either of you willing to sponsor?
@Santosh-Gupta @a6802739 @futurely  Are you intereste

[2019-10-16 17:03] sayakpaul commented on #33361
I have already provided the complete code snippet @ravikyram

[2019-10-16 17:04] Sorooshi commented on #33244
@rmothukuru  No I can't reproduce this error with TF Version 2.0.

PS: Initially, I assumed that the latest version of a product like TF is the best one, though few days ago when I downgrade to TFV2 the problem was solved automatically.

[2019-10-16 17:08] mihaimaruseac commented on #33040
Closing as issue has been identified to be AVX support lacking

[2019-10-16 17:08] #33040 closed

[2019-10-16 17:14] don-tpanic opened #33435 "mixed_precision_graph_rewrite behaviours"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-10-16 17:22] qlzh727 commented on #32987
Thanks for reporting the issue. I can reproduce it locally. It seems that only when adding recurrent_dropout, the loss just peaked. I will take a closer look wrt to the recurrent_dropout.

[2019-10-16 17:26] mihaimaruseac commented on #33412
Could you try providing a reproducer?

[2019-10-16 17:27] mihaimaruseac commented on #32945
Can you test with 2.0.0 release?

[2019-10-16 17:35] michaeljbishop commented on #20905
If it helps, here is a shell script that will compile the android distribution, and then make static libraries from the `.a` files in the build.

[code]

[2019-10-16 17:40] mbishop-neurala commented on #22643
This script should help those who are trying to build tensorflow lite for android as a static library: https://github.com/tensorflow/tensorflow/issues/20905#issuecomment-542810510

[2019-10-16 17:41] haozha111 commented on #33239
Do you mean the checkpoint file that stores the model weights or the metagraph?

I don't think either the metagraph or a single checkpoint file will get bigger during training, the size of the  checkpoint file is related with the number of parameters in your model. Does that answer your question?

[2019-10-16 17:43] gowthamkpr commented on #32950
@Nephalen Can you please try it with different data sets like flowers, cifar and see if the issue still persists. I have tried it on Mnist and I didn't notice any error as mentioned above.

[2019-10-16 18:11] jvishnuvardhan commented on #29034
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!